{
    "openapi": "3.0.0",
    "info": {
      "title": "License",
      "description": "",
      "contact": {},
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.vcita.biz/v3/"
      }
    ],
    "tags": [
      {
        "name": "directoryPackage",
        "description": "The directory package API facilitates seamless CRUD operations, allowing users to create, retrieve, update, and delete directory package items with ease."
      }
    ],
    "paths": {
      "/license/directory_package_bundles" : {
        "get" : {
          "summary" : "List all directory package bundles.",
          "parameters" : [ {
            "in" : "query",
            "name" : "page",
            "schema" : {
              "type" : "integer",
              "default" : 1
            },
            "description" : "Page number of the results."
          }, {
            "in" : "query",
            "name" : "per_page",
            "schema" : {
              "type" : "integer",
              "default" : 25,
              "maximum" : 100
            },
            "description" : "How many items to return per page."
          }, {
            "in" : "query",
            "name" : "sort",
            "schema" : {
              "type" : "string",
              "default" : "updated_at:desc"
            },
            "description" : "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          }, {
            "in" : "query",
            "name" : "filter",
            "schema" : {
              "type" : "string"
            },
            "description" : "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at, directory_uid, directory_package_uid**\n. Leaving the filter empty returns results based on authentication of the main directory package",
            "example" : "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
          } ],
          "responses" : {
            "200" : {
              "description" : "A list of directory package bundles.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "type" : "object",
                    "properties" : {
                      "status" : {
                        "type" : "boolean",
                        "example" : true
                      },
                      "data" : {
                        "type" : "object",
                        "properties" : {
                          "purchasables" : {
                            "type" : "array",
                            "items" : {
                              "$ref" : "https://vcita.github.io/developers-hub/entities/license/directoryPackageBundle.json"
                            }
                          }
                        }
                      },
                      "page" : {
                        "type" : "integer"
                      },
                      "per_page" : {
                        "type" : "integer"
                      },
                      "total" : {
                        "type" : "integer"
                      },
                      "total_pages" : {
                        "type" : "integer"
                      }
                    }
                  }
                }
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ],
          "x-auth-type" : [ "Admin", "Directory", "Business", "app" ],
          "tags" : [ "directoryPackage" ],
          "description" : "List all directory package bundles in scope.\n\nAvailable for **Directory, business, and app Tokens** \n"
        },
        "post" : {
          "operationId" : "create",
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://vcita.github.io/developers-hub/entities/license/directoryPackageBundle.json"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "201" : {
              "description" : "",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "type" : "object",
                    "properties" : {
                      "data" : {
                        "$ref" : "https://vcita.github.io/developers-hub/entities/license/directoryPackageBundle.json"
                      },
                      "status" : {
                        "type" : "string",
                        "example" : "directory package Bundle created"
                      }
                    }
                  }
                }
              }
            }
          },
          "summary" : "Create a directory package Bundle",
          "description" : "Create a new directory package Bundle for a sepcific directory package.\n\n**Available only for Admin token**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "x-auth-type" : [  "Admin" ],
          "tags" : [ "directoryPackage" ]
        }
      },
      "/license/directory_package_bundles/{uid}" : {
        "get" : {
          "operationId" : "read",
          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Get directory package bundle by its unique identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "type" : "object",
                    "properties" : {
                      "success" : {
                        "type" : "boolean",
                        "example" : true
                      },
                      "data" : {
                        "type" : "object",
                        "properties" : {
                          "purchasable" : {
                            "type" : "object",
                            "$ref" : "https://vcita.github.io/developers-hub/entities/license/directoryPackageBundle.json"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "summary" : "Retrieve a directory package bundle by id",
          "description" : "Retrieve a directory package bundle\n\n**Available for Directory, business, or app token.**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "x-auth-type" : [ "Admin", "Directory", "Business", "app" ],
          "tags" : [ "directoryPackage" ]
        },
        "put" : {
          "operationId" : "update",
          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://vcita.github.io/developers-hub/entities/license/directoryPackageBundle.json"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Update directory package bundle",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "type" : "object",
                    "properties" : {
                      "data" : {
                        "$ref" : "https://vcita.github.io/developers-hub/entities/license/directoryPackageBundle.json"
                      },
                      "status" : {
                        "type" : "boolean",
                        "example" : true
                      }
                    }
                  }
                }
              }
            }
          },
          "summary" : "Update a directory package bundle",
          "description" : "Update a directory package\n\n**Available only for Admin token.**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "directoryPackage" ]
        },
        "delete" : {
          "operationId" : "delete",
          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Delete directory package bundle",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "type" : "object",
                    "properties" : {
                      "status" : {
                        "type" : "boolean",
                        "example" : true
                      }
                    }
                  }
                }
              }
            }
          },
          "summary" : "Delete (deactivate) a directory package bundle",
          "description" : "Delete (deactive) a directory package bundle\n\n**Available only for Admin token.**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "x-auth-type" : [ "Admin" ],
          "tags" : [ "directoryPackage" ]
        }
      }
    }
  }
  