{
  "openapi": "3.0.0",
  "info": {
    "title": "Platform Management",
    "description": "",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/v3/"
    }
  ],
  "tags": [
    {
      "name": "subscriptionsmng",
      "description": ""
    }
  ],
  "paths": {
    "/subscriptions" : {
      "get" : {
        "summary" : "List all Subscriptions",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "integer",
            "default" : 1
          },
          "description" : "Page number of the results."
        }, {
          "in" : "query",
          "name" : "per_page",
          "schema" : {
            "type" : "integer",
            "default" : 25,
            "maximum" : 100
          },
          "description" : "How many items to return per page."
        }, {
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string",
            "default" : "updated_at:desc"
          },
          "description" : "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
        }, {
          "in" : "query",
          "name" : "filter",
          "schema" : {
            "type" : "string"
          },
          "description" : "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at**\n",
          "example" : "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of subscriptions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "status" : {
                      "type" : "boolean",
                      "example" : true
                    },
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "subscriptions" : {
                          "type" : "array",
                          "items" : {
                            "$ref" : "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                          }
                        }
                      }
                    },
                    "page" : {
                      "type" : "integer"
                    },
                    "per_page" : {
                      "type" : "integer"
                    },
                    "total" : {
                      "type" : "integer"
                    },
                    "total_pages" : {
                      "type" : "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "x-auth-type" : [ "Directory", "Business" ],
        "tags" : [ "Subscription" ],
        "description" : "List all subscriptions in scope.\n\nAvailable only for **Directory Tokens**           \n"
      },
      "post" : {
        "operationId" : "create",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "https://vcita.github.io/developers-hub/entities/license/subscription.json"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "$ref" : "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                    },
                    "status" : {
                      "type" : "string",
                      "example" : "subscription created"
                    }
                  }
                }
              }
            }
          }
        },
        "summary" : "Create a Subscription",
        "description" : "Create a new subscription for a business.\n\n**Available only for Directory token**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Subscription" ]
      }
    },
    "/subscriptions/{subscription_uid}" : {
      "get" : {
        "operationId" : "read",
        "tags" : [ "Subscription" ],
        "parameters" : [ {
          "name" : "subscription_uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Subscription Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "success" : {
                      "type" : "boolean",
                      "example" : true
                    },
                    "data" : {
                      "type" : "object",
                      "properties" : {
                        "subscription" : {
                          "type" : "array",
                          "items" : {
                            "$ref" : "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                          }
                        },
                        "page" : {
                          "type" : "integer"
                        },
                        "per_page" : {
                          "type" : "integer"
                        },
                        "total" : {
                          "type" : "integer"
                        },
                        "total_pages" : {
                          "type" : "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary" : "Retrieve a Subscription",
        "description" : "Update a subscription\n\n**Available only for Directory token.**\n",
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "put" : {
        "operationId" : "update",
        "tags" : [ "Subscription" ],
        "parameters" : [ {
          "name" : "subscription_uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "https://vcita.github.io/developers-hub/entities/license/subscription.json"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object",
                  "properties" : {
                    "data" : {
                      "$ref" : "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                    },
                    "status" : {
                      "type" : "boolean",
                      "example" : true
                    }
                  }
                }
              }
            }
          }
        },
        "summary" : "Update a Subscription",
        "description" : "Update a subscription\n\n**Available only for Directory token.**\n",
        "security" : [ {
          "api_key" : [ ]
        } ]
      },
      "delete" : {
        "operationId" : "delete",
        "tags" : [ "Subscription" ],
        "parameters" : [ {
          "name" : "subscription_uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          }
        },
        "summary" : "Delete (Cancel) a Subscription",
        "description" : "Delete (Cancel) a subscription\n\n**Available only for Directory token.**\n",
        "security" : [ {
          "api_key" : [ ]
        } ]
      }
    }
  }
}
