{
    "openapi": "3.0.0",
    "info": {
        "title": "Access Control",
        "description": "A set of endpoint to manage access control, roles, and permissions in the inTandem platform",
        "version": "1.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "schemas": {         
            "BusinessRolesList": {
                "type": "object",
                "properties": {
                    "businessRoles": {
                        "description": "List of BusinessRoles",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                        }
                    }
                }
            },
            "PermissionsList": {
                "type": "object",
                "properties": {
                    "businessRoles": {
                        "description": "List of Permissions",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/access_control/permission.json"
                        }
                    }
                }
            },     
            "StaffBusinessRolesList": {
                "type": "object",
                "properties": {
                    "businessRoles": {
                        "description": "List of StaffBusinessRoles",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
                        }
                    }
                }
            },   
            "StaffPermissionsList": {
                "type": "object",
                "properties": {
                    "businessRoles": {
                        "description": "List of StaffPermissionsList",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermission.json"
                        }
                    }
                }
            }

            
        }
    },
    "paths": {
        "/v3/access_control/business_roles": {
            "get": {
                "summary": "Get all BusinessRoles",
                "description": "Get a list of BusinessRoles",
               "parameters": [
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/BusinessRolesList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            },
            "post": {
                "summary": "Create a BusinessRole",
                "description": "Create a new role for a business\n\nAvailable for **Business Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": ""
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": ""
                                  },
                                  "description": {
                                    "type": "object",
                                    "description": ""
                                  }
                                  ,"permissions_list": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "description": "The unique identifier (UID) of the Permission"
                                    }
                                  },"is_editable": {
                                    "type": "boolean",
                                    "description": "A flag to indicate if the role can be edited by the business. By default, system roles are not editable. Can not be changed after creation",
                                    "default": true
                                  }
                                },
                                "required": [
                                  "uid",
                                  "code",
                                  "name",
                                  "description",
                                  "permissions_list",
                                  "is_editable",
                                  "created_at",
                                  "updated_at"
                                ],
                                "example": {
                                  "uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                                  "role_code": "payments.invoices.export",
                                  "name": "Export Invoices",
                                  "description": "Can export invoices",
                                  "created_at": "2021-07-20T14:00:00.000Z",
                                  "updated_at": "2021-07-20T14:00:00.000Z"
                                }
                              }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            }
        },
        "/v3/access_control/business_roles/{uid}": {
            "get": {
                "summary": "Retrieve a BusinessRole",
                "description": "Retrieve a specific BusinessRole  based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the BusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            },
            "put": {
                "summary": "Update a BusinessRole",
                "description": "Create a new role for a business\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the BusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                  "code": {
                                    "type": "string",
                                    "description": "A unique readable code for the role"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The role name as it's presented in the UI. By default, it will be assigned from the original permission, but can be overriden for a specific business"
                                  },
                                  "description": {
                                    "type": "object",
                                    "description": "The role description as it’s presented in the UD. By default, will be assigned from the original permission, but can be overriden for a specific business"
                                  },
                                  "permissions_list": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "description": "The unique identifier (UID) of the Permission"
                                    }
                                  }
                                },
                                "required": [
                                  "uid"
                                ],
                                "example": {
                                  "uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                                  "code": "admin",
                                  "name": "Admins",
                                  "description": "Admins can do everything"
                                  
                                }
                              }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            },
            "delete": {
                "summary": "Delete a BusinessRole",
                "description": "Delete a specific BusinessRole  based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the BusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            }
        },
        "/v3/access_control/permissions": {
            "get": {
                "summary": "Get all Permissions",
                "description": "Get a list of Permissions",
               "parameters": [
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/PermissionsList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Permission"
                ]
            },
            "post": {
                "summary": "Create a Permission",
                "description": "Create a new Permission\n\nAvailable for **Business Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                  "key":{
                                    "type": "string",
                                    "description": "The unique identifier (key) of the permission"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": ""
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": ""
                                  }
                                },
                                "required": [
                                  "unique_name",
                                  "name",
                                  "description"
                                ],
                                "example": {
                                  "key": "payments.invoices.export",
                                  "name": "Export Invoices",
                                  "description": "Can export invoices"
                                }
                              }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/permission.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Permission"
                ]
            }
        },
        "/v3/access_control/permissions/{key}": {
            "get": {
                "summary": "Retrieve a Permission",
                "description": "Retrieve a permission based on it’s unique identifier (key)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "key",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Permission",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/permission.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Permission"
                ]
            }
        },
       "/v3/access_control/staff_business_roles": {
            "get": {
                "summary": "Get all StaffBusinessRoles",
                "description": "Get a list of StaffBusinessRoles",
               "parameters": [
                    {
                        "name": "staff_uid",
                        "required": false,
                        "in": "query",
                        "description": "The unique identifier (UID) of the business account",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "business_uid",
                        "required": false,
                        "in": "query",
                        "description": "The unique identifier (UID) of the business account",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/StaffBusinessRolesList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Business Role"
                ]
            },
            "post": {
                "summary": "Create a StaffBusinessRole",
                "description": "Create a new StaffBusinessRole for a staff\n\nAvailable for **Business Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                  "staff_uid":{
                                    "type": "string",
                                    "description": "The unique identifier (UID) of the staff member"
                                  },
                                  "business_role_uid": {
                                    "type": "string",
                                    "description": "The unique identifier (UID) of the associated StaffBusinessRole"
                                  }
                                },
                                "required": [
                                  "staff_uid",
                                  "business_role_uid"
                                ],
                                "example": {
                                  "staff_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                                  "business_role_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                }
                              }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Business Role"
                ]
            }
        },
        "/v3/access_control/staff_business_roles/{staff_uid}": {
            "get": {
                "summary": "Retrieve a StaffBusinessRole",
                "description": "Retrieve a StaffBusinessRole based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the staffBusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Business Role"
                ]
            },
            "put": {
                "summary": "Create a StaffBusinessRole",
                "description": "Create a new business role for a staff member\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "staff_uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the StaffBusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                  "business_role_uid": {
                                    "type": "string",
                                    "description": "The unique identifier (UID) of the staffBusinessRole"
                                  },
                                  "permissions_list": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "description": "The unique identifier (UID) of the Permission"
                                    }
                                  }
                                },
                                "required": [
                                  "staff_uid",
                                  "business_role_uid"
                                ],
                                "example": {
                                  "staff_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                                  "business_role_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                }
                              }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Business Role"
                ]
            },
            "delete": {
                "summary": "Delete a StaffBusinessRole",
                "description": "Delete a specific StaffBusinessRole  based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the StaffBusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Business Role"
                ]
            }
        },
        "/v3/access_control/staff_permissions": {
            "get": {
                "summary": "Get all Permissions",
                "description": "Get a list of Permissions",
               "parameters": [
                    {
                        "name": "unique_name",
                        "required": false,
                        "in": "query",
                        "description": "A staff permission associated with a permission with a unique name you are looking for",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "staff_uid",
                        "required": false,
                        "in": "query",
                        "description": "A unique identifier (UID) of the staff member",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/StaffPermissionsList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Permission"
                ]
            },
            "post": {
                "summary": "Create a StaffPermission",
                "description": "Create a new StaffPermission\n\nAvailable for **Business Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                  "staff_uid":{
                                    "type": "string",
                                    "description": "The unique identifier (UID) of the staff account"
                                  },
                                  "permission_uid": {
                                    "type": "string",
                                    "description": "The unique identifier (UID) of the associated Permission"
                                  }
                                },
                                "required": [
                                  "staff_uid",
                                  "permission_uid"
                                ],
                                "example": {
                                  "staff_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                                  "permission_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                }
                              }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermission.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Permission"
                ]
            }
        },
        "/v3/access_control/staff_permissions/{uid}": {
            "get": {
                "summary": "Retrieve a StaffPermission",
                "description": "Retrieve a StaffPermission based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the StaffPermission",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermission.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Permission"
                ]
            },
            "put": {
                "summary": "Update a StaffPermission",
                "description": "Update a StaffPermission based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the StaffPermission",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                  "staff_uid":{
                                    "type": "string",
                                    "description": "The unique identifier (UID) of the staff member"
                                  },
                                  "permission_uid": {
                                    "type": "string",
                                    "description": "The unique identifier (UID) of the associated Permission"
                                  }
                                },
                                "required": [
                                  "staff_uid",
                                  "permission_uid"
                                ],
                                "example": {
                                  "staff_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                                  "permission_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                }
                              }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermission.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Permission"
                ]
            },
            "delete": {
                "summary": "Delete a Staff Permission",
                "description": "Delete a specific StaffPermission based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the StaffPermission",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermission.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Permission"
                ]
            }
        }
    }
}