{
    "openapi": "3.0.0",
    "info": {
        "title": "Access Control",
        "description": "A set of endpoint to manage access control, roles, and permissions in the inTandem platform",
        "version": "1.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "schemas": {         
            "BusinessRolesList": {
                "type": "object",
                "properties": {
                    "businessRoles": {
                        "description": "List of BusinessRoles",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                        }
                    }
                },
                "required": [
                    "businessRoles"
                ]
            },
            "PermissionsList": {
                "type": "object",
                "properties": {
                    "businessRoles": {
                        "description": "List of Permissions",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/access_control/permission.json"
                        }
                    }
                },
                "required": [
                    "businessRoles"
                ]
            }
            
        }
    },
    "paths": {
        "/v3/access_control/business_roles": {
            "get": {
                "summary": "Get all BusinessRoles",
                "description": "Get a list of BusinessRoles",
               "parameters": [
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/BusinessRolesList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            },
            "post": {
                "summary": "Create a BusinessRole",
                "description": "Create a new role for a business\n\nAvailable for **Business Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                  "business_uid":{
                                    "type": "string",
                                    "description": "The unique identifier (UID) of the business account"
                                  },
                                  "role_code": {
                                    "type": "string",
                                    "description": ""
                                  },
                                  "role_name": {
                                    "type": "string",
                                    "description": ""
                                  },
                                  "role_description": {
                                    "type": "object",
                                    "description": ""
                                  }
                                },
                                "required": [
                                  "uid",
                                  "role_code",
                                  "name",
                                  "description",
                                  "created_at",
                                  "updated_at"
                                ],
                                "example": {
                                  "uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                                  "role_code": "payments.invoices.export",
                                  "name": "Export Invoices",
                                  "description": "Can export invoices",
                                  "created_at": "2021-07-20T14:00:00.000Z",
                                  "updated_at": "2021-07-20T14:00:00.000Z"
                                }
                              }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            }
        },
        "/v3/access_control/business_roles/{uid}": {
            "get": {
                "summary": "Retrieve a BusinessRole",
                "description": "Retrieve a specific BusinessRole  based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the BusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            },
            "delete": {
                "summary": "Delete a BusinessRole",
                "description": "Delete a specific BusinessRole  based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the BusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            }
        },
        "/v3/access_control/permissions": {
            "get": {
                "summary": "Get all Permissions",
                "description": "Get a list of Permissions",
               "parameters": [
                    {
                        "name": "unique_name",
                        "required": false,
                        "in": "query",
                        "description": "A permission unique name you are looking for",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/PermissionsList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Permission"
                ]
            },
            "post": {
                "summary": "Create a Permission",
                "description": "Create a new Permission\n\nAvailable for **Business Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                  "unique_name":{
                                    "type": "string",
                                    "description": "The unique identifier (UID) of the business account"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": ""
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": ""
                                  }
                                },
                                "required": [
                                  "unique_name",
                                  "name",
                                  "description"
                                ],
                                "example": {
                                  "unique_name": "payments.invoices.export",
                                  "name": "Export Invoices",
                                  "description": "Can export invoices"
                                }
                              }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/permission.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Permission"
                ]
            }
        },
        "/v3/access_control/permissions/{uid}": {
            "get": {
                "summary": "Retrieve a Permission",
                "description": "Retrieve a permission based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Permission",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/permission.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Permission"
                ]
            },
            "delete": {
                "summary": "Delete a Permission",
                "description": "Delete a specific Permission based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Permission",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/permission.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Permission"
                ]
            }
        }
       
    }
}