{
    "openapi": "3.0.0",
    "info": {
        "title": "Access Control",
        "description": "A set of endpoint to manage access control, roles, and permissions in the inTandem platform",
        "version": "1.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "schemas": {
            "BusinessRolesList": {
                "type": "object",
                "properties": {
                    "business_roles": {
                        "description": "List of BusinessRoles",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                        }
                    }
                }
            },
            "PermissionsList": {
                "type": "object",
                "properties": {
                    "premissions": {
                        "description": "List of Permissions",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/access_control/permission.json"
                        }
                    }
                }
            },
            "StaffBusinessRolesList": {
                "type": "object",
                "properties": {
                    "business_roles": {
                        "description": "List of StaffBusinessRoles",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
                        }
                    }
                }
            }
        }
    },
    "paths": {
        "/v3/access_control/business_roles": {
            "get": {
                "summary": "Get all BusinessRoles",
                "description": "Get a list of BusinessRoles\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/BusinessRolesList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            },
            "post": {
                "summary": "Create a BusinessRole",
                "description": "Create a new role for a business\n\nAvailable for **Business Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "description": {
                                        "type": "object",
                                        "description": ""
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "key": {
                                                    "type": "string",
                                                    "description": "The unique identifier (key) of the Permission"
                                                },
                                                "allow": {
                                                    "type": "boolean",
                                                    "description": "A flag indicating if this permission is by default assigned to the role"
                                                }
                                            }
                                        }
                                    },
                                    "is_editable": {
                                        "type": "boolean",
                                        "description": "A flag to indicate if the role can be edited by the business. By default, system roles are not editable. Can not be changed after creation",
                                        "default": true
                                    }
                                },
                                "required": [
                                    "uid",
                                    "code",
                                    "name",
                                    "description",
                                    "permissions",
                                    "is_editable",
                                    "created_at",
                                    "updated_at"
                                ],
                                "example": {
                                    "uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                                    "role_code": "payments.invoices.export",
                                    "name": "Export Invoices",
                                    "description": "Can export invoices",
                                    "created_at": "2021-07-20T14:00:00.000Z",
                                    "updated_at": "2021-07-20T14:00:00.000Z"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            }
        },
        "/v3/access_control/business_roles/{uid}": {
            "get": {
                "summary": "Retrieve a BusinessRole",
                "description": "Retrieve a specific BusinessRole  based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the BusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            },
            "put": {
                "summary": "Update a BusinessRole",
                "description": "Create a new role for a business\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the BusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "description": "A unique readable code for the role"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "The role name as it's presented in the UI. By default, it will be assigned from the original permission, but can be overriden for a specific business"
                                    },
                                    "description": {
                                        "type": "object",
                                        "description": "The role description as it’s presented in the UD. By default, will be assigned from the original permission, but can be overriden for a specific business"
                                    },
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "description": "The unique identifier (UID) of the Permission"
                                        }
                                    }
                                },
                                "required": [
                                    "uid"
                                ],
                                "example": {
                                    "uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                                    "code": "admin",
                                    "name": "Admins",
                                    "description": "Admins can do everything"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            },
            "delete": {
                "summary": "Delete a BusinessRole",
                "description": "Delete a specific BusinessRole  based on it’s unique identifier (UID)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the BusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Business Role"
                ]
            }
        },
        "/v3/access_control/permissions": {
            "get": {
                "summary": "Get all Permissions",
                "description": "Get a list of Permissions\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/PermissionsList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Permission"
                ]
            },
            "post": {
                "summary": "Create a Permission",
                "description": "Create a new Permission\n\nAvailable for **Business Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "key": {
                                        "type": "string",
                                        "description": "The unique identifier (key) of the permission"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": ""
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": ""
                                    }
                                },
                                "required": [
                                    "unique_name",
                                    "name",
                                    "description"
                                ],
                                "example": {
                                    "key": "payments.invoices.export",
                                    "name": "Export Invoices",
                                    "description": "Can export invoices"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/permission.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Permission"
                ]
            }
        },
        "/v3/access_control/permissions/{key}": {
            "get": {
                "summary": "Retrieve a Permission",
                "description": "Retrieve a permission based on it’s unique identifier (key)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "key",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Permission",
                        "schema": {
                            "type": "string"
                        },
                        "example": "payments.invoices.export"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/permission.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Permission"
                ]
            }
        },  
        "/v3/access_control/staff_business_roles": {
            "get": {
                "summary": "Get all StaffBusinessRoles",
                "description": "Get a list of StaffBusinessRoles\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "staff_uid",
                        "required": false,
                        "in": "query",
                        "description": "The unique identifier (UID) of the business account",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "business_role_uid",
                        "required": false,
                        "in": "query",
                        "description": "The unique identifier (UID) of the business account",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/StaffBusinessRolesList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Business Role"
                ]
            },
            "post": {
                "summary": "Create a StaffBusinessRole",
                "description": "Create a new StaffBusinessRole for a staff\n\nAvailable for **Business Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "staff_uid": {
                                        "type": "string",
                                        "description": "The unique identifier (UID) of the staff member"
                                    },
                                    "business_role_uid": {
                                        "type": "string",
                                        "description": "The unique identifier (UID) of the associated StaffBusinessRole"
                                    }
                                },
                                "required": [
                                    "staff_uid",
                                    "business_role_uid"
                                ],
                                "example": {
                                    "staff_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                                    "business_role_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Business Role"
                ]
            }
        },
        "/v3/access_control/staff_business_roles/{staff_uid}": {
            "get": {
                "summary": "Retrieve a StaffBusinessRole",
                "description": "Retrieve a StaffBusinessRole based on the unique identifier of staff_uid (staff_uid)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "staff_uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the staff member assigned to this BusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Business Role"
                ]
            },
            "put": {
                "summary": "Update a StaffBusinessRole",
                "description": "Update the business role for a staff member. If this is a new role, all overrides will still remain so if you want to make sure the role is 'clean' you should send a delete to the Staff List Overrides API\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "staff_uid",
                        "required": true,   
                        "in": "path",
                        "description": "Unique identifier of the StaffBusinessRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "business_role_uid": {
                                        "type": "string",
                                        "description": "The unique identifier (UID) of the BusinessRole assigned"
                                    }
                                },
                                "required": [
                                    "staff_uid",
                                    "business_role_uid"
                                ],
                                "example": {
                                    "business_role_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Business Role"
                ]
            }
        },
        "/v3/access_control/staff_permission_overrides_lists/{staff_uid}": {
            "get": {
                "summary": "Retrieve a Staff Permissions Overrides List",
                "description": "Retrieve a StaffPermissionOverrideList based on a staff member's unique identifier (staff_uid)\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "staff_uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the staff member",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermissionOverridesList.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Permission Override List"
                ]
            },
            "put": {
                "summary": "Update a Staff Permissions Overrides List",
                "description": "Update a Staff Permission Overrides List based on staff UID and a list of permissions. The list supplied will append new permissions and override exsiting permissions assigned to this staff.\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "staff_uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the staff member",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "permissions": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "key": {
                                                    "type": "string",
                                                    "description": "The unique identifier (UID) of the Permission"
                                                },
                                                "state": {
                                                    "type": "string",
                                                    "description": "allow, deny or inherit. When inherit is used, the permission override is removed and the default permission from the BusinessRole is used"
                                                }
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "staff_uid",
                                    "permissions"
                                ],
                                "example": {
                                    "staff_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                                    "permissions": [
                                        {
                                            "key": "payments.invoices.export",
                                            "state": "allow"
                                        },
                                        {
                                            "key": "payments.invoices.import",
                                            "state": "allow"
                                        },
                                        {
                                            "key": "payments.invoices.view",
                                            "state": "deny"
                                        },
                                        {
                                            "key": "payments.invoices.delete",
                                            "state": "inherit"
                                        },
                                        {
                                            "key": "payments.invoices.create",
                                            "state": "allow"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermissionOverridesList.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Permission Override List"
                ]
            },
            "delete": {
                "summary": "Remove all permission overrides",
                "description": "Removes all assigned overrides based on a staff member's unique identifier (staff_uid).\n\nThis will return user to its original Business Role defaults\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "staff_uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the staff member",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermissionOverridesList.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Staff Permission Override List"
                ]
            }
        },
        "/v3/access_control/staff_permissions/{staff_uid}": {
            "get": {
                "summary": "Retrieve a Staff Permission",
                "description": "Retrieve a staff permission based on it’s unique identifier (key)\nUsed to validate if a user can or can not access a feature\n\nAvailable for **Business Tokens**",
                "parameters": [
                    {
                        "name": "staff_uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the staff member",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                        
                    },
                    {
                        "name": "key",
                        "required": true,
                        "in": "query",
                        "description": "Unique identifier of the Permission",
                        "schema": {
                            "type": "string"
                        },
                        "example": "payments.invoices.export"
                        
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermission.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Permission"
                ]
            }
        }
    }
}