{
    "openapi": "3.0.0",
    "info": {
        "title": "Payment Gateway API",
        "description": "API endpoints for managing Payment Gateways. The Payment Gateway entity captures essential details about payment gateways, facilitates secure transfer of payment information and enables seamless online transactions.",
        "version": "3.0"
    },
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
                "type": "http",
                "scheme": "bearer",
                "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {token}'"
            }
        },
        "schemas": {
            "PaymentGatewayList": {
                "type": "object",
                "properties": {
                    "payment_gateways": {
                        "description": "List of Payment Gateways",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/sales/payment_processing/payment_gateway.json"
                        }
                    }
                }
            }
        }
    },
    "paths": {
        "/v3/sales/payment_processing/payment_gateways": {
            "get": {
                "summary": "Get all Payment gateways",
                "description": "Retrieve all available payment gateways - Available for **Directory and Business Tokens**",
                "parameters": [
                    {
                        "name": "directory",
                        "in": "query",
                        "description": "Filter by directory",
                        "schema": {
                            "type": "string"
                        },
                        "example": "main_directory"
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "description": "Filter by locale",
                        "schema": {
                            "type": "string"
                        },
                        "example": "en"
                    },
                    {
                        "name": "currency",
                        "in": "query",
                        "description": "Filter by supported currency",
                        "schema": {
                            "type": "string"
                        },
                        "example": "USD"
                    },
                    {
                        "name": "gateway_name",
                        "in": "query",
                        "description": "Filter by gateway name",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Stripe"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "$ref": "#/components/schemas/PaymentGatewayList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Payment Gateways"
                ],
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "summary": "Create Payment gateway",
                "description": "Create a new payment gateway - Available for **Application Tokens**",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "app_uid": {
                                        "type": "string",
                                        "description": "The UID of the app that owns the gateway"
                                    },
                                    "gateway_name": {
                                        "type": "string",
                                        "description": "The name of the payment gateway must match the application name (case sensitive)"
                                    },
                                    "gateway_logo_url": {
                                        "type": "string",
                                        "description": "The URL or path to the logo of the gateway"
                                    },
                                    "gateway_type": {
                                        "type": "string",
                                        "enum": ["wallet", "provider"],
                                        "description": "The type of payment gateway"
                                    },
                                    "active": {
                                        "type": "boolean",
                                        "description": "Indicates if the payment gateway is active and available for use"
                                    },
                                    "key_gateway_benefits": {
                                        "type": "array",
                                        "description": "A clear 3-4 bullet list highlighting the unique features and value of the gateway",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "language": {
                                                    "type": "string"
                                                },
                                                "benefits": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "quick_benefit_highlights": {
                                        "type": "array",
                                        "description": "A brief, 2-4 word version of the gateway benefits",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "language": {
                                                    "type": "string"
                                                },
                                                "highlights": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "supported_countries": {
                                        "type": "array",
                                        "description": "The list of countries supported by the payment gateway",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "supported_currencies": {
                                        "type": "array",
                                        "description": "A list of currencies supported by the payment gateway",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "minimum_value_to_charge": {
                                        "type": "number",
                                        "format": "decimal",
                                        "description": "The minimum value that can be charged using the payment gateway"
                                    },
                                    "payment_methods": {
                                        "type": "object",
                                        "description": "The payment methods supported by the gateway",
                                        "properties": {
                                            "credit_card": {
                                                "type": "boolean"
                                            },
                                            "ach": {
                                                "type": "boolean"
                                            }
                                        }
                                    },
                                    "processing_features": {
                                        "type": "object",
                                        "description": "The features the payment gateway supports",
                                        "properties": {
                                            "multi_currency": {
                                                "type": "boolean"
                                            },
                                            "back_office_charge": {
                                                "type": "boolean"
                                            },
                                            "checkout": {
                                                "type": "boolean"
                                            },
                                            "refund": {
                                                "type": "boolean"
                                            },
                                            "partial_refund": {
                                                "type": "boolean"
                                            },
                                            "save_card_by_client_on_payment_flow": {
                                                "type": "boolean"
                                            },
                                            "save_card_by_client_standalone_flow": {
                                                "type": "boolean"
                                            },
                                            "save_card_by_business": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "app_uid",
                                    "gateway_name",
                                    "gateway_type",
                                    "active"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Payment gateway created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/sales/payment_processing/payment_gateway.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Payment Gateways"
                ],
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/v3/sales/payment_processing/payment_gateways/{payment_gateway_uid}": {
            "get": {
                "summary": "Retrieve Payment gateway",
                "description": "Get details of a specific payment gateway - Available for **Directory and Business Tokens**",
                "parameters": [
                    {
                        "name": "payment_gateway_uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Payment Gateway",
                        "schema": {
                            "type": "string"
                        },
                        "example": "pgw_abc123def456"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/sales/payment_processing/payment_gateway.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Payment Gateways"
                ],
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "put": {
                "summary": "Update Payment gateway",
                "description": "Update an existing payment gateway - Available for **Application Tokens**",
                "parameters": [
                    {
                        "name": "payment_gateway_uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Payment Gateway",
                        "schema": {
                            "type": "string"
                        },
                        "example": "pgw_abc123def456"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "gateway_name": {
                                        "type": "string",
                                        "description": "The name of the payment gateway must match the application name (case sensitive)"
                                    },
                                    "gateway_logo_url": {
                                        "type": "string",
                                        "description": "The URL or path to the logo of the gateway"
                                    },
                                    "gateway_type": {
                                        "type": "string",
                                        "enum": ["wallet", "provider"],
                                        "description": "The type of payment gateway"
                                    },
                                    "active": {
                                        "type": "boolean",
                                        "description": "Indicates if the payment gateway is active and available for use"
                                    },
                                    "key_gateway_benefits": {
                                        "type": "array",
                                        "description": "A clear 3-4 bullet list highlighting the unique features and value of the gateway",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "language": {
                                                    "type": "string"
                                                },
                                                "benefits": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "quick_benefit_highlights": {
                                        "type": "array",
                                        "description": "A brief, 2-4 word version of the gateway benefits",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "language": {
                                                    "type": "string"
                                                },
                                                "highlights": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "supported_countries": {
                                        "type": "array",
                                        "description": "The list of countries supported by the payment gateway",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "supported_currencies": {
                                        "type": "array",
                                        "description": "A list of currencies supported by the payment gateway",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "minimum_value_to_charge": {
                                        "type": "number",
                                        "format": "decimal",
                                        "description": "The minimum value that can be charged using the payment gateway"
                                    },
                                    "payment_methods": {
                                        "type": "object",
                                        "description": "The payment methods supported by the gateway",
                                        "properties": {
                                            "credit_card": {
                                                "type": "boolean"
                                            },
                                            "ach": {
                                                "type": "boolean"
                                            }
                                        }
                                    },
                                    "processing_features": {
                                        "type": "object",
                                        "description": "The features the payment gateway supports",
                                        "properties": {
                                            "multi_currency": {
                                                "type": "boolean"
                                            },
                                            "back_office_charge": {
                                                "type": "boolean"
                                            },
                                            "checkout": {
                                                "type": "boolean"
                                            },
                                            "refund": {
                                                "type": "boolean"
                                            },
                                            "partial_refund": {
                                                "type": "boolean"
                                            },
                                            "save_card_by_client_on_payment_flow": {
                                                "type": "boolean"
                                            },
                                            "save_card_by_client_standalone_flow": {
                                                "type": "boolean"
                                            },
                                            "save_card_by_business": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment gateway updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/sales/payment_processing/payment_gateway.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Payment Gateways"
                ],
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "delete": {
                "summary": "Delete Payment gateway",
                "description": "Delete an existing payment gateway - Available for **Application Tokens**",
                "parameters": [
                    {
                        "name": "payment_gateway_uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Payment Gateway",
                        "schema": {
                            "type": "string"
                        },
                        "example": "pgw_abc123def456"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Payment gateway deleted successfully"
                    }
                },
                "tags": [
                    "Payment Gateways"
                ],
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        }
    }
} 