{
  "openapi": "3.0.3",
  "info": {
    "title": "Business Reviews Settings",
    "description": "A set of endpoints to manage Business Reviews Settings",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "BusinessReviewsSettingsList": {
        "type": "object",
        "properties": {
          "business_reviews_settings": {
            "description": "List of Business Reviews Settings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/reviews/business_reviews_settings": {
      "post": {
        "summary": "Create Business Reviews Settings",
        "description": "Create new business reviews settings - Available for **Staff Tokens**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_uid": {
                    "type": "string",
                    "description": "The unique identifier (UID) of the business"
                  },
                  "display_review_checkbox_cp": {
                    "type": "boolean",
                    "description": "Enables the client to decide whether their review is shared with that external review site."
                  },
                  "platform_url_business_params": {
                    "type": "object",
                    "description": "Holds the selected social media to review in and the relevant params for the business"
                  }
                },
                "required": [
                  "business_uid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business reviews settings created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "summary": "Retrieve Business Reviews Settings",
        "description": "Get the reviews settings for a specific business - Available for **Staff Tokens**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update Business Reviews Settings",
        "description": "Update the reviews settings for a specific business - Available for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_review_checkbox_cp": {
                    "type": "boolean",
                    "description": "Enables the client to decide whether their review is shared with that external review site."
                  },
                  "platform_url_business_params": {
                    "type": "object",
                    "description": "Holds the selected social media to review in and the relevant params for the business"
                  }
                },
                "required": [
                  "business_uid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}