{
  "openapi": "3.0.3",
  "info": {
    "title": "Business Reviews Settings",
    "description": "A set of endpoints to manage Business Reviews Settings",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "BusinessReviewsSettingsList": {
        "type": "object",
        "properties": {
          "business_reviews_settings": {
            "description": "List of Business Reviews Settings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/reviews/business_reviews_settings/{business_uid}": {
      "get": {
            "summary": "Retrieve Business Reviews Settings",
            "description": "Get the reviews settings for a specific business - Available for **Staff Tokens**",
            "parameters": [
              {
                "name": "business_uid",
                "in": "path",
                "required": true,
                "description": "The unique identifier of the business."
              }],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                        "properties": {
                          "data": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": [
            "Business Reviews Settings"
          ],
          "security": [
            {
              "Bearer": []
            }
          ]
        },
      "put": {
        "summary": "Update Business Reviews Settings",
        "description": "Update the reviews settings for a specific business - Available for **Staff Tokens**",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the business."
          }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_review_sharing_consent": {
                    "type": "boolean",
                    "description": "Enables the client to decide whether their review is shared with that external review site."
                  },
                  "platform_url_business_params": {
                    "type": "object",
                    "description": "Defines which external review platform is selected (via platform_id, where 1=Google, 2=Facebook) and includes the required platform - unique identifier ('place_id' for Google,'yourbusiness' for Facebook) needed to properly route the review. \nEach platform requires different parameter structures based on their unique requirements."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/reviews/business_reviews_settings": {
      "post": {
        "summary": "Create Business Reviews Settings",
        "description": "Create new business reviews settings - Available for **Staff Tokens**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_review_sharing_consent": {
                    "type": "boolean",
                    "description": "Enables the client to decide whether their review is shared with that external review site."
                  },
                  "platform_url_business_params": {
                    "type": "object",
                    "description": "Defines which external review platform is selected (via platform_id, where 1=Google, 2=Facebook) and includes the required platform - unique identifier ('place_id' for Google,'yourbusiness' for Facebook) needed to properly route the review. \nEach platform requires different parameter structures based on their unique requirements."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business reviews settings created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}