{
  "openapi": "3.0.3",
  "info": {
    "title": "Business Reviews Settings",
    "description": "A set of endpoints to manage Business Reviews Settings",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "BusinessReviewsSettingsList": {
        "type": "object",
        "properties": {
          "business_reviews_settings": {
            "description": "List of Business Reviews Settings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/reviews/business_reviews_settings/{business_uid}": {
      "get": {
        "summary": "Retrieve Business Reviews Settings",
        "description": "## Overview\nGet the reviews settings for a specific business.\n\n## Authentication\n**Available for Staff Tokens.**",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the business.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update Business Reviews Settings",
        "description": "## Overview\nUpdate the reviews settings for a specific business - Update the reviews settings for a specific business - Available for **Staff Tokens**.",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the business.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_review_sharing_consent": {
                    "type": "boolean",
                    "description": "Enables the client to decide whether their review is shared with that external review site."
                  },
                  "platform_id": {
                    "type": "integer",
                    "description": "The ID of the external review platform (1=Google, 2=Facebook)"
                  },
                  "platform_params": {
                    "type": "object",
                    "description": "Platform-specific parameters needed to properly route the review"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/reviews/business_reviews_settings": {
      "post": {
        "summary": "Create Business Reviews Settings",
        "description": "## Overview\nCreate new business reviews settings.\n\n## Authentication\n**Available for Staff Tokens.**\n\n## Uniqueness Constraint\nEach business can only have one Business Reviews Settings record. If settings already exist for the business, the API returns HTTP 409 Conflict. Use `PUT /v3/reviews/business_reviews_settings/{business_uid}` to update existing settings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "business_uid"
                ],
                "properties": {
                  "business_uid": {
                    "type": "string",
                    "description": "The unique identifier (UID) of the business. Required."
                  },
                  "display_review_sharing_consent": {
                    "type": "boolean",
                    "description": "Enables the client to decide whether their review is shared with that external review site."
                  },
                  "platform_id": {
                    "type": "integer",
                    "description": "The ID of the external review platform (1=Google, 2=Facebook)"
                  },
                  "platform_params": {
                    "type": "object",
                    "description": "Platform-specific parameters needed to properly route the review",
                    "properties": {
                      "place_id": {
                        "type": "integer",
                        "description": "The platform-specific identifier (e.g., place_id for Google)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Business reviews settings created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Business reviews settings already exist for this business",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "already_exists"
                          },
                          "field": {
                            "type": "string",
                            "example": "base"
                          },
                          "message": {
                            "type": "string",
                            "example": "Business reviews settings already exist. Use update instead."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}