{
  "openapi": "3.0.3",
  "info": {
    "title": "Business Reviews Settings",
    "description": "A set of endpoints to manage Business Reviews Settings",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "BusinessReviewsSettingsList": {
        "type": "object",
        "properties": {
          "business_reviews_settings": {
            "description": "List of Business Reviews Settings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/reviews/business_reviews_settings/{business_uid}": {
      "get": {
        "summary": "Retrieve Business Reviews Settings",
        "description": "Get the reviews settings for a specific business - Available for **Staff Tokens**",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the business.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business reviews settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "business_uid": "abc12345def67890",
                    "display_review_sharing_consent": true,
                    "platform_id": 1,
                    "platform_name": "Google",
                    "platform_params": {
                      "place_id": "ChIJN1t_tDeuEmsRUsoyG83frY4"
                    },
                    "external_review_site_url": "https://g.page/r/CdXyz123/review",
                    "external_review_site_display_name": "Google Business Profile"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "404": {
            "description": "Not Found - Business not found"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update Business Reviews Settings",
        "description": "Update the reviews settings for a specific business - Available for **Staff Tokens** (Clients are not authorized)",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the business.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_review_sharing_consent": {
                    "type": "boolean",
                    "description": "Enables the client to decide whether their review is shared with that external review site."
                  },
                  "platform_id": {
                    "type": "integer",
                    "description": "The ID of the external review platform (1=Google, 2=Facebook)"
                  },
                  "platform_params": {
                    "type": "object",
                    "description": "Platform-specific parameters needed to properly route the review"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business reviews settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "business_uid": "abc12345def67890",
                    "display_review_sharing_consent": false,
                    "platform_id": 2,
                    "platform_name": "Facebook",
                    "platform_params": {
                      "page_id": "123456789012345"
                    },
                    "external_review_site_url": "https://facebook.com/mybusiness/reviews",
                    "external_review_site_display_name": "Facebook Page"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token, or client tokens are not authorized"
          },
          "404": {
            "description": "Not Found - Business not found"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/reviews/business_reviews_settings": {
      "post": {
        "summary": "Create Business Reviews Settings",
        "description": "Create new business reviews settings - Available for **Staff Tokens**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_review_sharing_consent": {
                    "type": "boolean",
                    "description": "Enables the client to decide whether their review is shared with that external review site."
                  },
                  "platform_id": {
                    "type": "integer",
                    "description": "The ID of the external review platform (1=Google, 2=Facebook)"
                  },
                  "platform_params": {
                    "type": "object",
                    "description": "Platform-specific parameters needed to properly route the review",
                    "properties": {
                      "place_id": {
                        "type": "integer",
                        "description": "The platform-specific identifier (e.g., place_id for Google)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Business reviews settings created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "business_uid": "abc12345def67890",
                    "display_review_sharing_consent": true,
                    "platform_id": 1,
                    "platform_name": "Google",
                    "platform_params": {
                      "place_id": "ChIJN1t_tDeuEmsRUsoyG83frY4"
                    },
                    "external_review_site_url": "https://g.page/r/CdXyz123/review",
                    "external_review_site_display_name": "Google Business Profile",
                    "created_at": "2026-01-12T10:00:00.000Z",
                    "updated_at": "2026-01-12T10:00:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token, or client tokens are not authorized"
          },
          "404": {
            "description": "Not Found - Business not found"
          },
          "409": {
            "description": "Conflict - Settings already exist for this business"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}