{
  "openapi": "3.1.0",
  "info": {
    "title": "Ai",
    "description": "Unified OpenAPI specification for ai domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "generic_ai.json",
        "bizai.json",
        "recommendations.json",
        "staff_ai_settings.json",
        "ai_generation_feedback.json",
        "ai_smart_reply.json"
      ],
      "pathNormalizations": [],
      "pathConflicts": [],
      "componentConflicts": [
        {
          "type": "schema",
          "name": "Response",
          "resolution": "Renamed to Response_ai_smart_reply",
          "files": [
            "merged",
            "ai_smart_reply.json"
          ]
        }
      ],
      "totalPaths": 14,
      "totalComponents": 24
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/v3/ai/chat_completions": {
      "post": {
        "tags": [
          "AI Chat Completions"
        ],
        "summary": "Create a ChatCompletion",
        "description": "## Overview\nCreate chat completions using multiple LLM providers (OpenAI, Anthropic, Google). Supports text and multimodal input (images, audio, video, files), streaming responses via SSE, async mode for long-running thinking models, tool calling (function calling), and structured output (JSON schema).\n\n### Supported Models\n| Provider | Models |\n|----------|--------|\n| OpenAI | `openai/gpt-5`, `openai/gpt-4o`, `openai/gpt-4o-mini`, `openai/o3-mini`, `openai/o1` |\n| Anthropic | `anthropic/claude-sonnet-4-5-20250929`, `anthropic/claude-haiku-4-5-20251001`, `anthropic/claude-3-5-sonnet-latest`, `anthropic/claude-3-5-haiku-latest` |\n| Google | `google/gemini-2.5-pro`, `google/gemini-2.0-flash`, `google/gemini-2.0-pro` |\n\n### Streaming\nBy default, responses are streamed as Server-Sent Events (SSE). Set `stream: false` for a single JSON response.\n\n### Async Mode\nSet `async: true` to queue the request and receive a run UID. Poll `GET /v3/ai/chat_completion_runs/{uid}` for the result. Recommended for thinking models.\n\n**Available for Staff tokens**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://vcita.github.io/developers-hub/entities/ai/ChatCompletionRequest.json"
              },
              "examples": {
                "simple": {
                  "summary": "Simple text completion",
                  "value": {
                    "model": "openai/gpt-4o-mini",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Say hello"
                      }
                    ],
                    "stream": false,
                    "max_tokens": 100
                  }
                },
                "tool_calling": {
                  "summary": "With function calling",
                  "value": {
                    "model": "openai/gpt-4o-mini",
                    "messages": [
                      {
                        "role": "user",
                        "content": "What is the weather in Paris?"
                      }
                    ],
                    "stream": false,
                    "tools": [
                      {
                        "type": "function",
                        "function": {
                          "name": "get_weather",
                          "description": "Get current weather for a location",
                          "parameters": {
                            "type": "object",
                            "properties": {
                              "location": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "location"
                            ]
                          }
                        }
                      }
                    ]
                  }
                },
                "structured_output": {
                  "summary": "With JSON schema output",
                  "value": {
                    "model": "openai/gpt-4o-mini",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Extract: John is 30 years old"
                      }
                    ],
                    "stream": false,
                    "response_format": {
                      "type": "json_schema",
                      "json_schema": {
                        "name": "person",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "age": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "name",
                            "age"
                          ]
                        }
                      }
                    }
                  }
                },
                "async": {
                  "summary": "Async mode for thinking models",
                  "value": {
                    "model": "openai/o1",
                    "messages": [
                      {
                        "role": "user",
                        "content": "Solve this complex problem..."
                      }
                    ],
                    "async": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful non-streaming completion.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/ChatCompletion.json"
                        }
                      }
                    }
                  ]
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream. Each event is a JSON chunk with `data:` prefix, ending with `data: [DONE]`."
                }
              }
            }
          },
          "202": {
            "description": "Async mode: job queued successfully. Poll the returned run UID for the result.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/ChatCompletionRun.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request body is malformed or contains invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "invalid_syntax",
                      "message": "Request body contains invalid JSON."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The bearer token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or expired bearer token."
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation error with valid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "model",
                      "code": "invalid",
                      "message": "Unsupported model format. Expected provider/model (e.g., 'openai/gpt-4o')."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (10 requests per minute).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "rate_limit_exceeded",
                      "message": "Rate limit exceeded. Maximum 10 requests per minute. Please retry after 60 seconds."
                    }
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The upstream LLM provider returned an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "provider_error",
                      "message": "The LLM provider returned an error. Please try again later."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/audio_transcriptions": {
      "post": {
        "tags": [
          "AI Audio Transcriptions"
        ],
        "summary": "Create an AudioTranscription",
        "description": "## Overview\nTranscribe audio files using multiple providers (OpenAI Whisper, OpenAI GPT-4o Transcribe, Google Chirp). Supports file upload via multipart form data.\n\n### Supported Models\n| Provider | Models |\n|----------|--------|\n| OpenAI | `openai/whisper-1`, `openai/gpt-4o-transcribe` |\n| Google | `google/chirp-2` |\n\n### Async Mode\nSet `async: true` to queue the transcription and receive a run UID. Poll `GET /v3/ai/transcription_runs/{uid}` for the result. Recommended for long audio files or diarization.\n\n**Available for Staff tokens**",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio file to transcribe (max 25MB). Supported formats: mp3, mp4, m4a, wav, webm, flac, ogg."
                  },
                  "model": {
                    "type": "string",
                    "description": "Model identifier in provider/model format (e.g., \"openai/gpt-4o-transcribe\", \"openai/whisper-1\", \"google/chirp-2\").",
                    "example": "openai/gpt-4o-transcribe"
                  },
                  "language": {
                    "type": "string",
                    "description": "ISO-639-1 language code for the audio content (e.g., \"en\" for English, \"es\" for Spanish, \"he\" for Hebrew). When omitted, the provider will auto-detect the language."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Optional guiding prompt to improve transcription accuracy. Useful for providing context, domain-specific terminology, or correcting recurring misrecognitions."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "json",
                      "text",
                      "srt",
                      "verbose_json",
                      "vtt"
                    ],
                    "description": "Desired response format. 'json' returns a simple JSON with text, 'text' returns plain text, 'srt' returns SubRip subtitle format, 'verbose_json' returns detailed JSON with word-level timestamps, 'vtt' returns WebVTT subtitle format. Defaults to 'json'."
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Sampling temperature between 0 and 1. Higher values make the output more random, while lower values make it more deterministic. Defaults to 0."
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Process the request asynchronously. Returns a run UID immediately that can be polled via GET /v3/ai/transcription_runs/{uid}. Recommended for long audio files or when diarization is needed.",
                    "default": false
                  }
                },
                "required": [
                  "file",
                  "model"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful transcription.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/AudioTranscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Async mode: job queued successfully. Poll the returned run UID for the result.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/TranscriptionRun.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed or contains invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "invalid_syntax",
                      "message": "Request body is malformed or missing required multipart form data."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The bearer token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or expired bearer token."
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large - The uploaded audio file exceeds the 25MB size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "file",
                      "code": "too_large",
                      "message": "File size exceeds the maximum allowed limit of 25MB."
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation error with valid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "model",
                      "code": "invalid",
                      "message": "Unsupported model. Supported models: openai/whisper-1, openai/gpt-4o-transcribe, google/chirp-2."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (10 requests per minute).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "rate_limit_exceeded",
                      "message": "Rate limit exceeded. Maximum 10 requests per minute. Please retry after 60 seconds."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/chat_completion_runs/{uid}": {
      "get": {
        "tags": [
          "AI Chat Completion Runs"
        ],
        "summary": "Retrieve a ChatCompletionRun",
        "description": "## Overview\nGet the status and result of an async chat completion job. Poll this endpoint until status is COMPLETED or FAILED.\n\n**Available for Staff tokens**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the chat completion run (e.g., \"0ce1af9d-3337-419b-933c-02ea21d4d9ca\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat completion run retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/ChatCompletionRun.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The bearer token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or expired bearer token."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No chat completion run exists with the specified UID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "uid",
                      "code": "not_found",
                      "message": "Chat completion run not found."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/chat_completion_runs": {
      "get": {
        "tags": [
          "AI Chat Completion Runs"
        ],
        "summary": "List ChatCompletionRuns",
        "description": "## Overview\nRetrieve a paginated list of chat completion runs for the authenticated client. Supports sorting by field and direction.\n\n**Available for Staff tokens**",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (e.g., 1, 2, 3). Defaults to 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page, between 1 and 100. Defaults to 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction in the format 'field:direction' (e.g., \"created_at:desc\", \"status:asc\").",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of chat completion runs retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ChatCompletionRunList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The bearer token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or expired bearer token."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/transcription_runs/{uid}": {
      "get": {
        "tags": [
          "AI Transcription Runs"
        ],
        "summary": "Retrieve a TranscriptionRun",
        "description": "## Overview\nGet the status and result of an async transcription job. Poll this endpoint until status is COMPLETED or FAILED.\n\n**Available for Staff tokens**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the transcription run (e.g., \"85ade9f5-2690-48e8-ae5b-b07d6b57b457\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcription run retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/TranscriptionRun.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The bearer token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or expired bearer token."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No transcription run exists with the specified UID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "uid",
                      "code": "not_found",
                      "message": "Transcription run not found."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/transcription_runs": {
      "get": {
        "tags": [
          "AI Transcription Runs"
        ],
        "summary": "List TranscriptionRuns",
        "description": "## Overview\nRetrieve a paginated list of transcription runs for the authenticated client. Supports sorting by field and direction.\n\n**Available for Staff tokens**",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (e.g., 1, 2, 3). Defaults to 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page, between 1 and 100. Defaults to 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction in the format 'field:direction' (e.g., \"created_at:desc\", \"status:asc\").",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transcription runs retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/TranscriptionRunList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The bearer token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or expired bearer token."
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/bizai_chats": {
      "get": {
        "operationId": "ChatsController_getChats",
        "summary": "Get all BizAIChats",
        "description": "## Overview\nGet a list of all chat sessions.",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiChatResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "BizAI Chats"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "operationId": "ChatsController_createChat",
        "summary": "Create a BizAIChat",
        "description": "## Overview\nCreate a new chat session between a user and an agent Available for **Staff Tokens**.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChatRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/BizAIChat.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "BizAI Chats"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/bizai_chats/{uid}": {
      "get": {
        "operationId": "ChatsController_getChat",
        "summary": "Retrieve a BizAIChat",
        "description": "## Overview\nRetrieve a specific BizAIChat session based on its unique identifier (UID).",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BizAIChat",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/BizAIChat.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "BizAI Chats"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/bizai_chat_messages": {
      "get": {
        "operationId": "ChatMessagesController_getMessages",
        "summary": "Get all BizAIChatMessages",
        "description": "## Overview\nGet all BizAIChatMessages exchanged within a specific chat.",
        "parameters": [
          {
            "name": "ai_chat_uid",
            "required": true,
            "in": "query",
            "description": "Unique identifier of the BizAIChat",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiMessageResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "BizAI Chat Messages"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "operationId": "ChatMessagesController_createMessage",
        "summary": "Create a BizAIChatMessage",
        "description": "## Overview\nCreate a new BizAIChatMessage in a BizAIChat thread and get an AI response Available for **Staff Tokens**.",
        "parameters": [
          {
            "name": "bizai_chat_uid",
            "required": true,
            "in": "query",
            "description": "Unique identifier of the BizAIChat",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/ai/BizAIChatStreamMessage.json"
                }
              }
            }
          }
        },
        "tags": [
          "BizAI Chat Messages"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/ai_recommendations": {
      "get": {
        "tags": [
          "AI Recommendations"
        ],
        "summary": "Get all AIRecommendations",
        "description": "## Overview\nRetrieve a list of AIRecommendations with optional filtering by status, target, and context.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by recommendation status."
          },
          {
            "name": "target",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by target actor UID."
          },
          {
            "name": "context",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by context UID."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of AIRecommendations",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AIRecommendationList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "AI Recommendations"
        ],
        "summary": "Create an AIRecommendation",
        "description": "## Overview\nCreate a new AIRecommendation.\n\n**Available for Staff tokens**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AIRecommendationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AIRecommendation created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendation.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/ai_recommendations/{uid}": {
      "put": {
        "tags": [
          "AI Recommendations"
        ],
        "summary": "Update an AIRecommendation",
        "description": "## Overview\nUpdate an existing AIRecommendation by UID.\n\n**Available for Staff tokens**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AIRecommendationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AIRecommendation updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendation.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/staff_ai_settings/{staff_uid}": {
      "get": {
        "tags": [
          "Staff AI Settings"
        ],
        "summary": "Retrieve a StaffAiSettings",
        "description": "## Overview\nRetrieve a specific StaffAiSettings based on staff unique identifier.\n\n**Available for Staff tokens**",
        "parameters": [
          {
            "name": "staff_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier of the staff member",
            "example": "f390f1ee-6c54-4b01-90e6-d701748f0852"
          }
        ],
        "responses": {
          "200": {
            "description": "Staff AI settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/staffAiSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You can only access your own settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Staff member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Staff AI Settings"
        ],
        "summary": "Update a StaffAiSettings",
        "description": "## Overview\nUpdate AI settings for a specific staff member based on their unique identifier. Users can only update their own settings.\n\n**Available for Staff tokens**",
        "parameters": [
          {
            "name": "staff_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The unique identifier of the staff member",
            "example": "f390f1ee-6c54-4b01-90e6-d701748f0852"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffAiSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Staff AI settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/staffAiSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid setting key or malformed request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - You can only update your own settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Staff member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/ai_generation_feedbacks": {
      "post": {
        "tags": [
          "AI Generation Feedback"
        ],
        "summary": "Create new AI generation feedback",
        "description": "## Overview\nSubmit feedback for AI-generated content.\n\n**Available for Staff tokens**",
        "operationId": "createAiGenerationFeedback",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiGenerationFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feedback created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/AiGenerationFeedback.json"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity not found - The referenced `entity_uid` does not exist for the specified `entity_type`"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/ai_smart_replies": {
      "post": {
        "tags": [
          "AI SmartReply"
        ],
        "summary": "Create a new  AISmartReply",
        "description": "## Overview\nGenerate a new, on-demand, smart reply between a business and a client. For example, when a user wants to edit their own reply text, provide custom instructions, or modify a previously-generated AI reply.\n\n**Available for Staff tokens**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AISmartReplyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": " AISmartReply created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/AISmartReply.json"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error - AI smart reply generation failed. This can occur when the AI agent fails to generate a response (e.g., no output generated, processing errors). This is expected behavior for certain edge cases."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "tags": [
          "AI SmartReply"
        ],
        "summary": "List all AISmartReplies",
        "description": "## Overview\nRetrieve a list of smart replies with optional filtering.",
        "parameters": [
          {
            "name": "matter_uid",
            "in": "query",
            "description": "Filter by matter UID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of smart replies retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SmartReplyListResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ChatCompletionRunList": {
        "type": "object",
        "description": "A list of chat completion runs.",
        "properties": {
          "chat_completion_runs": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/ChatCompletionRun.json"
            }
          }
        }
      },
      "TranscriptionRunList": {
        "type": "object",
        "description": "A list of transcription runs.",
        "properties": {
          "transcription_runs": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/TranscriptionRun.json"
            }
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "Object": {
        "type": "object",
        "properties": {}
      },
      "ChatResponseDto": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Unique identifier (UID) of the chat",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "actor_uid": {
            "type": "string",
            "description": "Unique identifier (UID) of the user that created the chat",
            "example": "ghp0f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "agent": {
            "type": "string",
            "description": "Agent associated with the chat",
            "example": "vanilla"
          },
          "metadata": {
            "type": "object",
            "description": "JSON string used to pass additional information to the chat agent in runtime",
            "example": {
              "directory_uid": "k98axtpqg7h1whh6",
              "instruction": "You are a helpful assistant. Answer all questions to the best of your ability"
            }
          },
          "created_at": {
            "type": "string",
            "description": "Date the chat was created",
            "example": "2021-07-20T14:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Date the chat was last updated",
            "example": "2021-07-20T14:00:00.000Z"
          }
        },
        "required": [
          "uid",
          "actor_uid",
          "agent",
          "metadata",
          "created_at",
          "updated_at"
        ]
      },
      "MultiChatResponseDto": {
        "type": "object",
        "properties": {
          "bizai_chats": {
            "description": "List of BizAIChats",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/BizAIChat.json"
            }
          }
        },
        "required": [
          "bizai_chats"
        ]
      },
      "AgentConfigDto": {
        "type": "object",
        "properties": {
          "instruction": {
            "type": "string",
            "description": "A prompt describing the basic instructions for the agent. The instructions are set at the beginning of a chat and set the tone and functionality for the entire conversation.",
            "example": "You are an experienced business consultant with a friendly voice. Answer shortly and ask questions where more information is needed."
          },
          "model_name": {
            "type": "string",
            "description": "OpenAI model name to use for the agent",
            "example": "gpt-3.5-turbo"
          }
        }
      },
      "CreateChatRequestDto": {
        "type": "object",
        "properties": {
          "agent": {
            "type": "string",
            "description": "The agent code name. \n\nAvailable values: \n* vanilla - No business info included in the conversation\n* biz-ai - Seed information on the business is included, as well as a set of instructions to make the bot behave like a biz-ai chat.",
            "enum": [
              "vanilla",
              "biz-ai"
            ],
            "example": "vanilla"
          },
          "config": {
            "description": "The agent configuration",
            "allOf": [
              {
                "$ref": "#/components/schemas/AgentConfigDto"
              }
            ]
          }
        },
        "required": [
          "agent"
        ]
      },
      "MessageResponseDto": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Unique identifier (UID) of the message",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "content": {
            "type": "string",
            "description": "Content of the message",
            "example": "Hello, how can I help you?"
          },
          "author_role": {
            "type": "string",
            "description": "Role of the author of the message",
            "example": "ai_assistant"
          },
          "created_at": {
            "type": "string",
            "description": "Date the message was created",
            "example": "2021-07-20T14:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "description": "Date the message was last updated",
            "example": "2021-07-20T14:00:00.000Z"
          }
        },
        "required": [
          "uid",
          "content",
          "author_role",
          "created_at",
          "updated_at"
        ]
      },
      "MultiMessageResponseDto": {
        "type": "object",
        "properties": {
          "bizai_chat_messages": {
            "description": "List of BizAIChatMessages",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/BizAIChatMessage.json"
            }
          }
        },
        "required": [
          "bizai_chat_messages"
        ]
      },
      "TextContentDto": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "The text sent to the bot",
            "example": "Tell me a joke!"
          }
        },
        "required": [
          "text"
        ]
      },
      "PromptContentDto": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "example": "prompt-xyz123",
            "description": "The uid of the prompt you wish to use"
          },
          "variables": {
            "type": "object",
            "example": {
              "name": "John",
              "age": 30
            },
            "description": "A key-value object listing values of variables you want BizAI to replace in the prompt. For more information consult our “Using Prompts” guide: https://dash.readme.com/project/vcita-developers-hub/v3.0/docs/using-prompts"
          }
        },
        "required": [
          "uid",
          "variables"
        ]
      },
      "SendMessageRequestDto": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of message sent to the bot (free text or a saved prompt template). A saved prompt can include reusable instructions that can be retrieved from BizAI for advanced functionality.",
            "example": "text",
            "enum": [
              "text",
              "prompt"
            ]
          },
          "content": {
            "description": "An object representing the content sent to the bot. Each prompt type must have its own object (\"Text Content Object\" for \"text\" and \"Prompt Content Object\" for \"prompt\"). Note: content must be an object, not a string.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TextContentDto"
              },
              {
                "$ref": "#/components/schemas/PromptContentDto"
              }
            ]
          },
          "streaming": {
            "type": "boolean",
            "description": "Stream response option. If true, the response will be streamed to the client. If false, the response will be sent as a single message",
            "default": true
          }
        },
        "required": [
          "type",
          "content"
        ],
        "example": {
          "type": "text",
          "content": {
            "text": "Hello, I need help with drafting a contract for my client."
          },
          "streaming": true
        }
      },
      "MessageStreamResponseDto": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Unique identifier (UID) of the message",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "delta": {
            "type": "string",
            "description": "Token that is part of the content of the message",
            "example": "Hello"
          },
          "finish_reason": {
            "type": "string",
            "description": "The reason the stream has finished",
            "example": "'stop' or null"
          }
        },
        "required": [
          "uid",
          "delta",
          "finish_reason"
        ]
      },
      "AIRecommendationRequest": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "description": "A list of recommended actions related to this entity.",
            "items": {
              "$ref": "#/components/schemas/AIRecommendationActionRequest"
            }
          },
          "display": {
            "type": "object",
            "description": "Contains display-related information for the recommendation.",
            "properties": {
              "title": {
                "type": "string",
                "description": "A human-readable title describing the recommendation."
              }
            }
          },
          "context": {
            "type": "object",
            "description": "The context in which the recommendation was generated.",
            "properties": {
              "context_uid": {
                "type": "string",
                "description": "A unique identifier for the context associated with this recommendation."
              },
              "context_type": {
                "type": "string",
                "description": "The type of context (e.g., 'user_message', 'booking_request').",
                "enum": [
                  "matter",
                  "client",
                  "business"
                ]
              }
            }
          },
          "target": {
            "type": "object",
            "description": "The target entity for this recommendation, typically representing the user or business involved.",
            "properties": {
              "target_actor_uid": {
                "type": "string",
                "description": "A unique identifier for the target actor (e.g., a user or business)."
              },
              "target_actor_type": {
                "type": "string",
                "description": "The type of target actor (e.g., 'customer', 'business').",
                "enum": [
                  "staff",
                  "directory"
                ]
              }
            }
          },
          "status": {
            "type": "object",
            "properties": {
              "dismissed": {
                "type": "boolean",
                "description": "Indicates whether the recommendation has been dismissed."
              },
              "dismissed_source_type": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "user",
                  "system",
                  null
                ],
                "description": "The source that dismissed the recommendation. Null when the recommendation has not been dismissed."
              }
            }
          }
        },
        "required": [
          "user_description",
          "staff_uid",
          "sources",
          "actions"
        ]
      },
      "AIRecommendationUpdateRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "object",
            "properties": {
              "dismissed": {
                "type": "boolean",
                "description": "Indicates whether the recommendation has been dismissed."
              },
              "dismissed_source_type": {
                "type": [
                  "string",
                  "null"
                ],
                "enum": [
                  "user",
                  "system",
                  null
                ],
                "description": "The source that dismissed the recommendation. Null when the recommendation has not been dismissed."
              }
            }
          }
        }
      },
      "AIRecommendationList": {
        "type": "object",
        "properties": {
          "airecommendations": {
            "description": "List of AI Recommendations",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendation.json"
            }
          }
        }
      },
      "AIRecommendationActionRequest": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "reply",
              "estimate",
              "schedule"
            ],
            "description": "The type of action recommended. Possible values:\n- 'reply': Suggests responding to a user message.\n- 'estimate': Suggests providing a price estimate.\n- 'schedule': Suggests scheduling an appointment or meeting."
          },
          "display": {
            "type": "object",
            "description": "Contains display-related information for the recommendation.",
            "properties": {
              "btn_text": {
                "type": "string",
                "description": "A human-readable title describing the recommendation."
              }
            }
          },
          "reason": {
            "type": "string",
            "description": "The reason why this action is recommended, providing context for decision-making."
          },
          "payload": {
            "type": "object",
            "description": "Additional data related to the recommended action. The structure depends on the action type."
          },
          "evidence": {
            "type": "array",
            "description": "A list of supporting statements or facts justifying the recommendation.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "success",
          "errors"
        ]
      },
      "StaffAiSettingsRequest": {
        "type": "object",
        "properties": {
          "ai_recommendations": {
            "type": "object",
            "description": "AI recommendations settings configuration for a staff member",
            "properties": {
              "enable": {
                "type": "boolean",
                "description": "Whether AI recommendations are enabled for this staff member"
              },
              "sub_options": {
                "type": "object",
                "description": "Specific AI recommendation sub-options that can be enabled or disabled individually",
                "properties": {
                  "next_best_action": {
                    "type": "boolean",
                    "description": "Whether next best action recommendations are enabled"
                  },
                  "estimate": {
                    "type": "boolean",
                    "description": "Whether estimate recommendations are enabled"
                  },
                  "scheduling": {
                    "type": "boolean",
                    "description": "Whether scheduling recommendations are enabled"
                  }
                },
                "required": [
                  "next_best_action",
                  "estimate",
                  "scheduling"
                ]
              }
            },
            "required": [
              "enable",
              "sub_options"
            ]
          },
          "smart_reply": {
            "type": "object",
            "description": "Smart reply settings configuration for a staff member",
            "properties": {
              "enable": {
                "type": "boolean",
                "description": "Whether smart reply feature is enabled for this staff member"
              }
            },
            "required": [
              "enable"
            ]
          }
        },
        "example": {
          "ai_recommendations": {
            "enable": true,
            "sub_options": {
              "next_best_action": true,
              "estimate": false,
              "scheduling": true
            }
          },
          "smart_reply": {
            "enable": true
          }
        }
      },
      "AiGenerationFeedbackRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of feedback provided",
            "enum": [
              "int",
              "decimal",
              "text",
              "boolean"
            ]
          },
          "value": {
            "type": "string",
            "description": "The feedback value - stored as string regardless of feedback type (e.g., '4.5' for decimal, 'true' for boolean)"
          },
          "entity_type": {
            "type": "string",
            "description": "The type of entity this feedback is related to",
            "enum": [
              "AISmartReply",
              "AIRecommendation",
              "AIRecommendedAction"
            ]
          },
          "entity_uid": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier of the related entity. **Important**: You must first create or retrieve an entity of the specified `entity_type`, then use its UID here. For example:\n\n1. Create an AISmartReply via `POST /v3/ai/ai_smart_replies`\n2. Use the returned `uid` as `entity_uid` with `entity_type='AISmartReply'`\n\nReturns 404 if the entity does not exist.",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "name": {
            "type": "string",
            "description": "The specific name/identifier for the feedback type",
            "enum": [
              "[AISmartReply] Business Sent Message UID",
              "[AISmartReply] Business Dismiss Reason"
            ]
          }
        },
        "required": [
          "type",
          "value",
          "entity_type",
          "entity_uid",
          "name"
        ],
        "example": {
          "type": "text",
          "value": "too_formal",
          "entity_type": "AISmartReply",
          "entity_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
          "name": "[AISmartReply] Business Dismiss Reason"
        }
      },
      "Response_ai_smart_reply": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "AISmartReplyRequest": {
        "type": "object",
        "properties": {
          "matter_uid": {
            "type": "string",
            "description": "The unique identifier of the associated matter"
          },
          "user_input_reference_id": {
            "type": "string",
            "description": "The unique identifier of the user input reference. If not provided, defaults to 'prmpt-smart-reply-00001'",
            "default": "prmpt-smart-reply-00001"
          },
          "client_uid": {
            "type": "string",
            "description": "The unique identifier of the client"
          },
          "custom_instructions": {
            "type": "string",
            "description": "Optional custom instructions to guide the AI reply generation"
          }
        },
        "required": [
          "matter_uid",
          "client_uid"
        ]
      },
      "SmartReplyListResponse": {
        "type": "object",
        "properties": {
          "smart_replies": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/AISmartReply.json"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "tags": [
    {
      "name": "AI Chat Completions",
      "description": "Create chat completions using multiple LLM providers"
    },
    {
      "name": "AI Audio Transcriptions",
      "description": "Transcribe audio files using multiple providers"
    },
    {
      "name": "AI Chat Completion Runs",
      "description": "Manage async chat completion runs"
    },
    {
      "name": "AI Transcription Runs",
      "description": "Manage async transcription runs"
    },
    {
      "name": "AI Generation Feedback",
      "description": "Operations related to AI generation feedback management"
    },
    {
      "name": "AI SmartReply",
      "description": "Operations related to smart reply generation and management"
    }
  ]
}
