{
  "openapi": "3.1.0",
  "info": {
    "title": "Ai",
    "description": "Unified OpenAPI specification for ai domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "business_ai_settings.json",
        "recommendations.json",
        "business_rules.json",
        "bizai.json",
        "ai_smart_reply.json",
        "generic_ai.json",
        "staff_ai_settings.json",
        "ai_generation_feedback.json"
      ],
      "pathNormalizations": [],
      "pathConflicts": [],
      "componentConflicts": [
        {
          "type": "schema",
          "name": "ErrorResponse",
          "resolution": "Renamed to ErrorResponse_business_rules",
          "files": [
            "merged",
            "business_rules.json"
          ]
        },
        {
          "type": "schema",
          "name": "Response",
          "resolution": "Renamed to Response_ai_smart_reply",
          "files": [
            "merged",
            "ai_smart_reply.json"
          ]
        },
        {
          "type": "schema",
          "name": "ErrorResponse",
          "resolution": "Renamed to ErrorResponse_staff_ai_settings",
          "files": [
            "merged",
            "staff_ai_settings.json"
          ]
        }
      ],
      "totalPaths": 20,
      "totalComponents": 32
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/v3/ai/business_ai_settings/{business_uid}": {
      "get": {
        "tags": [
          "Business AI Settings"
        ],
        "operationId": "getBusinessAiSettings",
        "summary": "Retrieve a BusinessAiSettings",
        "description": "## Overview\nRetrieve the AI settings of a business. Every known key is returned, with its default filled in for keys the business has never changed, so the response is the same whether or not the business has stored settings.\n\nThe business is resolved from the token - a staff member can only read the settings of their own business.\n\n**Available for Staff tokens**",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the business (e.g., \"biz_abc123\")",
            "example": "biz_abc123"
          }
        ],
        "responses": {
          "200": {
            "description": "Business AI settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "business_ai_settings": {
                              "title": "BusinessAiSettings",
                              "description": "Business-level AI settings, controlling which AI features a business allows. Evaluated independently of the packaging flags that make a feature available in the first place",
                              "type": "object",
                              "properties": {
                                "uid": {
                                  "type": "string",
                                  "description": "The unique identifier of the settings record. Null while the business is still on the defaults and no record has been written for it yet (e.g., \"bas_9f31c2\", null)",
                                  "nullable": true,
                                  "readOnly": true
                                },
                                "business_uid": {
                                  "type": "string",
                                  "description": "The unique identifier of the business these settings belong to (e.g., \"biz_abc123\")",
                                  "readOnly": true
                                },
                                "settings": {
                                  "type": "object",
                                  "description": "Every known AI setting key, with its default filled in for keys the business has never changed. Defaults differ per key",
                                  "properties": {
                                    "note_summary": {
                                      "type": "object",
                                      "description": "AI note summaries. While not allowed, no new note gets a summary and existing summaries are withheld from note responses. Speech-to-text on notes is unaffected",
                                      "properties": {
                                        "allow": {
                                          "type": "boolean",
                                          "description": "Whether AI note summaries are allowed for this business. Defaults to true (e.g., true, false)",
                                          "default": true
                                        }
                                      },
                                      "required": [
                                        "allow"
                                      ]
                                    },
                                    "opted_in": {
                                      "type": "object",
                                      "description": "Whether the business has opted in to AI. A business with no stored record is treated as not opted in until it explicitly opts in",
                                      "properties": {
                                        "allow": {
                                          "type": "boolean",
                                          "description": "Whether the business has opted in to AI. Defaults to false (e.g., false, true)",
                                          "default": false
                                        }
                                      },
                                      "required": [
                                        "allow"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "note_summary",
                                    "opted_in"
                                  ]
                                }
                              },
                              "required": [
                                "uid",
                                "business_uid",
                                "settings"
                              ],
                              "example": {
                                "uid": "bas_9f31c2",
                                "business_uid": "biz_abc123",
                                "settings": {
                                  "note_summary": {
                                    "allow": true
                                  },
                                  "opted_in": {
                                    "allow": false
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "business_ai_settings": {
                      "uid": "bas_9f31c2",
                      "business_uid": "biz_abc123",
                      "settings": {
                        "note_summary": {
                          "allow": true
                        },
                        "opted_in": {
                          "allow": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Unauthorized"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the settings belong to another business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "You do not have access to these business AI settings"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Business AI Settings"
        ],
        "operationId": "updateBusinessAiSettings",
        "summary": "Update a BusinessAiSettings",
        "description": "## Overview\nCreate or update the AI settings of a business. Keys left out of the request keep their stored value, and unknown keys are rejected.\n\nThe business is resolved from the token - a staff member can only update the settings of their own business.\n\n**Available for Staff tokens holding the `account.settings.manage` permission**",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the business (e.g., \"biz_abc123\")",
            "example": "biz_abc123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessAiSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business AI settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "business_ai_settings": {
                              "title": "BusinessAiSettings",
                              "description": "Business-level AI settings, controlling which AI features a business allows. Evaluated independently of the packaging flags that make a feature available in the first place",
                              "type": "object",
                              "properties": {
                                "uid": {
                                  "type": "string",
                                  "description": "The unique identifier of the settings record. Null while the business is still on the defaults and no record has been written for it yet (e.g., \"bas_9f31c2\", null)",
                                  "nullable": true,
                                  "readOnly": true
                                },
                                "business_uid": {
                                  "type": "string",
                                  "description": "The unique identifier of the business these settings belong to (e.g., \"biz_abc123\")",
                                  "readOnly": true
                                },
                                "settings": {
                                  "type": "object",
                                  "description": "Every known AI setting key, with its default filled in for keys the business has never changed. Defaults differ per key",
                                  "properties": {
                                    "note_summary": {
                                      "type": "object",
                                      "description": "AI note summaries. While not allowed, no new note gets a summary and existing summaries are withheld from note responses. Speech-to-text on notes is unaffected",
                                      "properties": {
                                        "allow": {
                                          "type": "boolean",
                                          "description": "Whether AI note summaries are allowed for this business. Defaults to true (e.g., true, false)",
                                          "default": true
                                        }
                                      },
                                      "required": [
                                        "allow"
                                      ]
                                    },
                                    "opted_in": {
                                      "type": "object",
                                      "description": "Whether the business has opted in to AI. A business with no stored record is treated as not opted in until it explicitly opts in",
                                      "properties": {
                                        "allow": {
                                          "type": "boolean",
                                          "description": "Whether the business has opted in to AI. Defaults to false (e.g., false, true)",
                                          "default": false
                                        }
                                      },
                                      "required": [
                                        "allow"
                                      ]
                                    }
                                  },
                                  "required": [
                                    "note_summary",
                                    "opted_in"
                                  ]
                                }
                              },
                              "required": [
                                "uid",
                                "business_uid",
                                "settings"
                              ],
                              "example": {
                                "uid": "bas_9f31c2",
                                "business_uid": "biz_abc123",
                                "settings": {
                                  "note_summary": {
                                    "allow": true
                                  },
                                  "opted_in": {
                                    "allow": false
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "business_ai_settings": {
                      "uid": "bas_9f31c2",
                      "business_uid": "biz_abc123",
                      "settings": {
                        "note_summary": {
                          "allow": false
                        },
                        "opted_in": {
                          "allow": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed request or unknown setting key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "bad_request",
                      "message": "Unknown AI setting key(s): ai_global. Allowed keys: note_summary, opted_in"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Unauthorized"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the settings belong to another business, or the staff member lacks the account.settings.manage permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "Insufficient permissions to manage business settings"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/ai_recommendations": {
      "get": {
        "tags": [
          "AI Recommendations"
        ],
        "summary": "Get all AIRecommendations",
        "description": "## Overview\nRetrieve a list of AIRecommendations with optional filtering by status, target, and context.\n\nAvailable for **Staff, Directory, and Client tokens**",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 10000,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "completed",
                "dismissed",
                "approved",
                "snoozed"
              ]
            },
            "description": "Filter by recommendation lifecycle state: 'active', 'completed', 'dismissed', 'approved', or 'snoozed'."
          },
          {
            "name": "target",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by target actor UID."
          },
          {
            "name": "context",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by context UID."
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "needs_attention",
                "opportunity",
                "fyi",
                "upcoming"
              ]
            },
            "description": "Filter by category bucket. Only active recommendations are bucketed. Each record belongs to one bucket only, checked in this order:\nupcoming – due_at is in the future (regardless of stored category).\nneeds_attention / opportunity / fyi – due_at is not in the future (past or unset) and the stored category matches the requested bucket."
          },
          {
            "name": "producer",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by the record's 'producer' (creation source). When omitted, only legacy records with an empty 'producer' are returned (default). Pass 'any' to return only records that have a non-empty 'producer', or pass a specific producer value (for example: 'client_agent') to return only records from that producer."
          },
          {
            "name": "view",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "my_view",
                "team"
              ],
              "default": "my_view"
            },
            "description": "Which staff members' recommendations to return. 'my_view' (default) returns only the caller's own recommendations; 'team' returns recommendations across every staff member in the business, subject to the caller having permission to view other staff members' entities (e.g., \"my_view\", \"team\")."
          },
          {
            "name": "include",
            "in": "query",
            "description": "Optional data sets to include in the response, beyond the recommendations list. Supported values: 'counts' (adds per-category totals under 'meta.counts'). Repeat the parameter to request multiple. When omitted, no extra data is returned and 'meta' is absent.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "counts"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of AIRecommendations",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/AIRecommendationList"
                        },
                        "meta": {
                          "type": "object",
                          "description": "Additional response metadata not tied to the returned page of recommendations. Present only when requested via the 'include' query parameter.",
                          "properties": {
                            "counts": {
                              "type": "object",
                              "description": "Returned only when 'include=counts' is requested. Number of recommendations per bucket across the full set matching every query filter except 'category' and 'status' (that is: 'target', 'context', and 'producer' are all applied; 'category' is intentionally ignored and counts always reflect active recommendations regardless of the 'status' filter). This lets the caller show how many items exist in each bucket regardless of the category currently being requested. The counts are computed scope-wide - they are also independent of pagination, so they reflect totals even for buckets not present in the returned page. Only active recommendations are counted. Every matching recommendation is counted in exactly one bucket (no overlap), evaluated in this order: future 'due_at' -> 'upcoming'; else by stored category -> 'needs_attention', 'opportunity', or 'fyi'.",
                              "properties": {
                                "needs_attention": {
                                  "type": "integer",
                                  "description": "Active recommendations with stored category 'needs_attention' and a non-future 'due_at' (past or unset)."
                                },
                                "upcoming": {
                                  "type": "integer",
                                  "description": "Active recommendations whose 'due_at' is in the future, regardless of stored category. Derived bucket - these are excluded from every other bucket."
                                },
                                "opportunity": {
                                  "type": "integer",
                                  "description": "Active recommendations with stored category 'opportunity' and a non-future 'due_at' (past or unset)."
                                },
                                "fyi": {
                                  "type": "integer",
                                  "description": "Active recommendations with stored category 'fyi' and a non-future 'due_at' (past or unset)."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "AI Recommendations"
        ],
        "summary": "Create an AIRecommendation",
        "description": "## Overview\nCreate a new AIRecommendation.\n\n**Available for Staff tokens**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AIRecommendationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AIRecommendation created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "A unique identifier for the recommendation."
                            },
                            "producer": {
                              "type": "string",
                              "description": "Upstream agent or partner system that produced this recommendation (for example: 'client_agent', 'lead_capture_agent', 'partner_x')."
                            },
                            "business_uid": {
                              "type": "string",
                              "description": "The unique identifier (UID) of the business that owns this recommendation. Automatically set based on the authenticated token."
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "The timestamp when the recommendation was created, in ISO 8601 format."
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "The timestamp when the recommendation was last updated, in ISO 8601 format."
                            },
                            "category": {
                              "type": "string",
                              "enum": [
                                "needs_attention",
                                "opportunity",
                                "fyi"
                              ],
                              "default": "needs_attention",
                              "description": "Recommendation category set by the producer for interface use: 'needs_attention' (time-sensitive and requires the user's attention), 'opportunity' (growth-focused value opportunity that does not require immediate action), or 'fyi' (informational only, no action required)."
                            },
                            "priority": {
                              "type": "string",
                              "enum": [
                                "high",
                                "standard"
                              ],
                              "default": "standard",
                              "description": "Relative ordering priority within the same category: 'high' (higher priority, surfaced first) or 'standard' (default priority)."
                            },
                            "execution_policy": {
                              "type": "string",
                              "enum": [
                                "auto_execute",
                                "requires_human_approval"
                              ],
                              "default": "requires_human_approval",
                              "description": "Indicates whether this recommendation is auto-executed by an agent or requires human review: 'auto_execute' (may be executed automatically by the system or an authorized agent) or 'requires_human_approval' (must be reviewed and approved by a human before execution)."
                            },
                            "tags": {
                              "type": "array",
                              "maxItems": 10,
                              "description": "Optional user-facing tags that label the item's urgency, value, or context (for example: 'Hot lead', 'New', 'High value', 'Urgent', 'At risk', 'Follow up').",
                              "items": {
                                "type": "string"
                              }
                            },
                            "due_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Optional due or target time used for urgency and upcoming behavior, in ISO 8601 format."
                            },
                            "expired_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Optional expiry time used for dismissing or clearing the recommendation, in ISO 8601 format."
                            },
                            "actions": {
                              "type": "array",
                              "description": "A list of recommended actions related to this entity.",
                              "items": {
                                "type": "object",
                                "description": "Represents a recommended action based on AI analysis.",
                                "properties": {
                                  "uid": {
                                    "type": "string",
                                    "description": "A unique identifier for the recommended action."
                                  },
                                  "action": {
                                    "type": "string",
                                    "enum": [
                                      "reply",
                                      "estimate",
                                      "schedule",
                                      "acknowledge",
                                      "chat_with_bizai"
                                    ],
                                    "description": "The type of action recommended. Possible values:\n- 'reply': Suggests responding to a user message.\n- 'estimate': Suggests providing a price estimate.\n- 'schedule': Suggests scheduling an appointment or meeting.\n- 'acknowledge': No action or artifact is prepared; the user reviews the item and then completes or dismisses it.\n- 'chat_with_bizai': Hands the item off to BizAI (the business AI chat assistant) to handle on the user's behalf."
                                  },
                                  "display": {
                                    "type": "object",
                                    "description": "Contains display-related information for the recommendation.",
                                    "properties": {
                                      "btn_text": {
                                        "type": "string",
                                        "description": "A human-readable title describing the recommendation."
                                      }
                                    }
                                  },
                                  "reason": {
                                    "type": "string",
                                    "description": "The reason why this action is recommended, providing context for decision-making."
                                  },
                                  "payload": {
                                    "type": "object",
                                    "description": "Additional data related to the recommended action. The structure depends on the action type."
                                  },
                                  "evidence": {
                                    "type": "array",
                                    "description": "A list of supporting statements or facts justifying the recommendation.",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "confidence": {
                                    "type": "number",
                                    "description": "A confidence score (0-1) indicating how confident the AI is in this recommendation."
                                  }
                                },
                                "required": [
                                  "uid",
                                  "action"
                                ],
                                "example": {
                                  "uid": "act-456",
                                  "action": "reply",
                                  "display": {
                                    "btn_text": "Generate Reply"
                                  },
                                  "reason": "User needs clarification on pricing",
                                  "evidence": [
                                    "User asked for price estimate"
                                  ],
                                  "payload": {
                                    "message": "Hi please send some more details"
                                  },
                                  "confidence": 0.85
                                }
                              }
                            },
                            "display": {
                              "type": "object",
                              "description": "Contains display-related information for the recommendation.",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "A human-readable title describing the recommendation."
                                }
                              }
                            },
                            "context": {
                              "type": "object",
                              "description": "The context in which the recommendation was generated.",
                              "properties": {
                                "context_uid": {
                                  "type": "string",
                                  "description": "A unique identifier for the context associated with this recommendation."
                                },
                                "context_type": {
                                  "type": "string",
                                  "description": "The type of context (e.g., 'matter','client', 'business').",
                                  "enum": [
                                    "matter",
                                    "client",
                                    "business"
                                  ]
                                },
                                "context_name": {
                                  "type": "string",
                                  "description": "The display name of the context object (referenced by 'context_uid') this recommendation is about, according to its 'context_type' - for example, the client's name when 'context_type' is 'client' (e.g., 'John Smith')."
                                }
                              }
                            },
                            "target": {
                              "type": "object",
                              "description": "The target entity for this recommendation, typically representing the user or business involved.",
                              "properties": {
                                "target_actor_uid": {
                                  "type": "string",
                                  "description": "A unique identifier for the target actor (e.g., a user or business)."
                                },
                                "target_actor_type": {
                                  "type": "string",
                                  "description": "The type of target actor (e.g., 'staff','directory').",
                                  "enum": [
                                    "staff",
                                    "directory"
                                  ]
                                }
                              }
                            },
                            "status": {
                              "type": "object",
                              "description": "Current lifecycle status of this recommendation, including the source of the latest status update.",
                              "properties": {
                                "state": {
                                  "type": "string",
                                  "enum": [
                                    "active",
                                    "completed",
                                    "dismissed",
                                    "approved",
                                    "snoozed"
                                  ],
                                  "default": "active",
                                  "description": "Lifecycle state of the recommendation: 'active' (available and not yet completed), 'completed' (executed successfully or otherwise resolved), 'dismissed' (explicitly dismissed without resolving the underlying need), 'approved' (approved by the user but not yet at a terminal outcome), or 'snoozed' (deferred to a later time or trigger condition)."
                                },
                                "state_source_type": {
                                  "type": "string",
                                  "enum": [
                                    "user",
                                    "system"
                                  ],
                                  "description": "Source of the current status: 'user' (change via Pulse UI) or 'system' (change by the originating service or agent)."
                                },
                                "dismissed": {
                                  "type": "boolean",
                                  "description": "Indicates whether the recommendation has been dismissed."
                                },
                                "dismissed_source_type": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "enum": [
                                    "user",
                                    "system",
                                    null
                                  ],
                                  "description": "The source that dismissed the recommendation. Null when the recommendation has not been dismissed."
                                }
                              }
                            }
                          },
                          "required": [
                            "uid",
                            "actions",
                            "display",
                            "context",
                            "target",
                            "status"
                          ],
                          "example": {
                            "uid": "rec-123",
                            "producer": "client_agent",
                            "business_uid": "biz-1234abcd",
                            "created_at": "2025-02-04T12:00:00Z",
                            "updated_at": "2025-02-04T12:30:00Z",
                            "category": "needs_attention",
                            "priority": "high",
                            "execution_policy": "requires_human_approval",
                            "tags": [
                              "Hot lead"
                            ],
                            "due_at": "2026-06-08T09:00:00Z",
                            "actions": [
                              {
                                "uid": "act-456",
                                "action": "reply",
                                "reason": "Clarification needed",
                                "display": {
                                  "btn_text": "Generate Reply"
                                },
                                "evidence": [
                                  "User asked for price estimate"
                                ],
                                "payload": {
                                  "message": "Hi, I can provide you with a roofing estimate. Please provide me with the address and any other relevant details."
                                },
                                "confidence": 0.85
                              }
                            ],
                            "context": {
                              "context_uid": "ctx-456",
                              "context_type": "client",
                              "context_name": "John Smith"
                            },
                            "target": {
                              "target_actor_uid": "staff-789",
                              "target_actor_type": "staff"
                            },
                            "status": {
                              "state": "active",
                              "state_source_type": "system",
                              "dismissed": false,
                              "dismissed_source_type": "user"
                            },
                            "description": "An AI-generated recommendation with context, target, actions, and status metadata."
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/ai_recommendations/{uid}": {
      "put": {
        "tags": [
          "AI Recommendations"
        ],
        "summary": "Update an AIRecommendation",
        "description": "## Overview\nUpdate an existing AIRecommendation by UID.\n\n**Available for Staff tokens**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AIRecommendationUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AIRecommendation updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "A unique identifier for the recommendation."
                            },
                            "producer": {
                              "type": "string",
                              "description": "Upstream agent or partner system that produced this recommendation (for example: 'client_agent', 'lead_capture_agent', 'partner_x')."
                            },
                            "business_uid": {
                              "type": "string",
                              "description": "The unique identifier (UID) of the business that owns this recommendation. Automatically set based on the authenticated token."
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "The timestamp when the recommendation was created, in ISO 8601 format."
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "The timestamp when the recommendation was last updated, in ISO 8601 format."
                            },
                            "category": {
                              "type": "string",
                              "enum": [
                                "needs_attention",
                                "opportunity",
                                "fyi"
                              ],
                              "default": "needs_attention",
                              "description": "Recommendation category set by the producer for interface use: 'needs_attention' (time-sensitive and requires the user's attention), 'opportunity' (growth-focused value opportunity that does not require immediate action), or 'fyi' (informational only, no action required)."
                            },
                            "priority": {
                              "type": "string",
                              "enum": [
                                "high",
                                "standard"
                              ],
                              "default": "standard",
                              "description": "Relative ordering priority within the same category: 'high' (higher priority, surfaced first) or 'standard' (default priority)."
                            },
                            "execution_policy": {
                              "type": "string",
                              "enum": [
                                "auto_execute",
                                "requires_human_approval"
                              ],
                              "default": "requires_human_approval",
                              "description": "Indicates whether this recommendation is auto-executed by an agent or requires human review: 'auto_execute' (may be executed automatically by the system or an authorized agent) or 'requires_human_approval' (must be reviewed and approved by a human before execution)."
                            },
                            "tags": {
                              "type": "array",
                              "maxItems": 10,
                              "description": "Optional user-facing tags that label the item's urgency, value, or context (for example: 'Hot lead', 'New', 'High value', 'Urgent', 'At risk', 'Follow up').",
                              "items": {
                                "type": "string"
                              }
                            },
                            "due_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Optional due or target time used for urgency and upcoming behavior, in ISO 8601 format."
                            },
                            "expired_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Optional expiry time used for dismissing or clearing the recommendation, in ISO 8601 format."
                            },
                            "actions": {
                              "type": "array",
                              "description": "A list of recommended actions related to this entity.",
                              "items": {
                                "type": "object",
                                "description": "Represents a recommended action based on AI analysis.",
                                "properties": {
                                  "uid": {
                                    "type": "string",
                                    "description": "A unique identifier for the recommended action."
                                  },
                                  "action": {
                                    "type": "string",
                                    "enum": [
                                      "reply",
                                      "estimate",
                                      "schedule",
                                      "acknowledge",
                                      "chat_with_bizai"
                                    ],
                                    "description": "The type of action recommended. Possible values:\n- 'reply': Suggests responding to a user message.\n- 'estimate': Suggests providing a price estimate.\n- 'schedule': Suggests scheduling an appointment or meeting.\n- 'acknowledge': No action or artifact is prepared; the user reviews the item and then completes or dismisses it.\n- 'chat_with_bizai': Hands the item off to BizAI (the business AI chat assistant) to handle on the user's behalf."
                                  },
                                  "display": {
                                    "type": "object",
                                    "description": "Contains display-related information for the recommendation.",
                                    "properties": {
                                      "btn_text": {
                                        "type": "string",
                                        "description": "A human-readable title describing the recommendation."
                                      }
                                    }
                                  },
                                  "reason": {
                                    "type": "string",
                                    "description": "The reason why this action is recommended, providing context for decision-making."
                                  },
                                  "payload": {
                                    "type": "object",
                                    "description": "Additional data related to the recommended action. The structure depends on the action type."
                                  },
                                  "evidence": {
                                    "type": "array",
                                    "description": "A list of supporting statements or facts justifying the recommendation.",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "confidence": {
                                    "type": "number",
                                    "description": "A confidence score (0-1) indicating how confident the AI is in this recommendation."
                                  }
                                },
                                "required": [
                                  "uid",
                                  "action"
                                ],
                                "example": {
                                  "uid": "act-456",
                                  "action": "reply",
                                  "display": {
                                    "btn_text": "Generate Reply"
                                  },
                                  "reason": "User needs clarification on pricing",
                                  "evidence": [
                                    "User asked for price estimate"
                                  ],
                                  "payload": {
                                    "message": "Hi please send some more details"
                                  },
                                  "confidence": 0.85
                                }
                              }
                            },
                            "display": {
                              "type": "object",
                              "description": "Contains display-related information for the recommendation.",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "A human-readable title describing the recommendation."
                                }
                              }
                            },
                            "context": {
                              "type": "object",
                              "description": "The context in which the recommendation was generated.",
                              "properties": {
                                "context_uid": {
                                  "type": "string",
                                  "description": "A unique identifier for the context associated with this recommendation."
                                },
                                "context_type": {
                                  "type": "string",
                                  "description": "The type of context (e.g., 'matter','client', 'business').",
                                  "enum": [
                                    "matter",
                                    "client",
                                    "business"
                                  ]
                                },
                                "context_name": {
                                  "type": "string",
                                  "description": "The display name of the context object (referenced by 'context_uid') this recommendation is about, according to its 'context_type' - for example, the client's name when 'context_type' is 'client' (e.g., 'John Smith')."
                                }
                              }
                            },
                            "target": {
                              "type": "object",
                              "description": "The target entity for this recommendation, typically representing the user or business involved.",
                              "properties": {
                                "target_actor_uid": {
                                  "type": "string",
                                  "description": "A unique identifier for the target actor (e.g., a user or business)."
                                },
                                "target_actor_type": {
                                  "type": "string",
                                  "description": "The type of target actor (e.g., 'staff','directory').",
                                  "enum": [
                                    "staff",
                                    "directory"
                                  ]
                                }
                              }
                            },
                            "status": {
                              "type": "object",
                              "description": "Current lifecycle status of this recommendation, including the source of the latest status update.",
                              "properties": {
                                "state": {
                                  "type": "string",
                                  "enum": [
                                    "active",
                                    "completed",
                                    "dismissed",
                                    "approved",
                                    "snoozed"
                                  ],
                                  "default": "active",
                                  "description": "Lifecycle state of the recommendation: 'active' (available and not yet completed), 'completed' (executed successfully or otherwise resolved), 'dismissed' (explicitly dismissed without resolving the underlying need), 'approved' (approved by the user but not yet at a terminal outcome), or 'snoozed' (deferred to a later time or trigger condition)."
                                },
                                "state_source_type": {
                                  "type": "string",
                                  "enum": [
                                    "user",
                                    "system"
                                  ],
                                  "description": "Source of the current status: 'user' (change via Pulse UI) or 'system' (change by the originating service or agent)."
                                },
                                "dismissed": {
                                  "type": "boolean",
                                  "description": "Indicates whether the recommendation has been dismissed."
                                },
                                "dismissed_source_type": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "enum": [
                                    "user",
                                    "system",
                                    null
                                  ],
                                  "description": "The source that dismissed the recommendation. Null when the recommendation has not been dismissed."
                                }
                              }
                            }
                          },
                          "required": [
                            "uid",
                            "actions",
                            "display",
                            "context",
                            "target",
                            "status"
                          ],
                          "example": {
                            "uid": "rec-123",
                            "producer": "client_agent",
                            "business_uid": "biz-1234abcd",
                            "created_at": "2025-02-04T12:00:00Z",
                            "updated_at": "2025-02-04T12:30:00Z",
                            "category": "needs_attention",
                            "priority": "high",
                            "execution_policy": "requires_human_approval",
                            "tags": [
                              "Hot lead"
                            ],
                            "due_at": "2026-06-08T09:00:00Z",
                            "actions": [
                              {
                                "uid": "act-456",
                                "action": "reply",
                                "reason": "Clarification needed",
                                "display": {
                                  "btn_text": "Generate Reply"
                                },
                                "evidence": [
                                  "User asked for price estimate"
                                ],
                                "payload": {
                                  "message": "Hi, I can provide you with a roofing estimate. Please provide me with the address and any other relevant details."
                                },
                                "confidence": 0.85
                              }
                            ],
                            "context": {
                              "context_uid": "ctx-456",
                              "context_type": "client",
                              "context_name": "John Smith"
                            },
                            "target": {
                              "target_actor_uid": "staff-789",
                              "target_actor_type": "staff"
                            },
                            "status": {
                              "state": "active",
                              "state_source_type": "system",
                              "dismissed": false,
                              "dismissed_source_type": "user"
                            },
                            "description": "An AI-generated recommendation with context, target, actions, and status metadata."
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/business_rules/bulk": {
      "post": {
        "operationId": "BusinessRulesController_createBulkImportJob",
        "summary": "Bulk import business rules",
        "description": "## Overview\nCreate an async job to extract business rules from raw text using LLM. The system analyzes content, extracts rules, classifies by category, and deduplicates against existing rules.\n\n## Webhook Notification\nWhen the job completes, a webhook notification will be sent to subscribers of the `business_rules_bulk_import/completed` event. The webhook payload includes the complete list of created business rules.\n\n**To receive notifications:**\n1. Subscribe to the webhook event: `POST /platform/v1/webhook/subscribe` with `{\"event\": \"business_rules_bulk_import/completed\", \"target_url\": \"https://your-domain.com/webhook\"}`\n2. Your webhook will receive the job results including all created business rules\n\n**Webhook Payload Structure:**\n```json\n{\n  \"event\": \"business_rules_bulk_import/completed\",\n  \"data\": {\n    \"job_uid\": \"job-xxx\",\n    \"business_uid\": \"biz-xxx\",\n    \"status\": \"completed\",\n    \"business_rules\": [\n      {\n        \"uid\": \"br-xxx\",\n        \"content\": \"Rule content\",\n        \"category_code\": \"policies_and_info\",\n        \"status\": \"pending_approval\",\n        \"created_at\": \"2026-03-01T10:30:00.000Z\"\n      }\n    ],\n    \"created_rules\": 15,\n    \"skipped_duplicates\": 8\n  }\n}\n```\n\nAvailable for **Staff** tokens.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request to create a bulk import job for business rules extraction",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "Raw unstructured text content to analyze for rule extraction (e.g., business profile, email threads, policy documents). Maximum 100KB.",
                    "maxLength": 102400
                  },
                  "category_code": {
                    "type": "string",
                    "description": "The category of business rules to extract from the content. All extracted rules will be assigned to this category. If no category supplied, the system will attempt to infer the category based on the content.\n\nAvailable values:\n* `tone_of_voice` - Rules about communication style and tone.\n* `policies_and_info` - Rules about business operations and policies.\n* `things_to_avoid` - Rules about what the AI should not do or say.\n* `faq` - Frequently asked questions and their answers.\n* `client_facing_bot_policies` - Rules specifically for client-facing bot interactions.",
                    "enum": [
                      "tone_of_voice",
                      "policies_and_info",
                      "things_to_avoid",
                      "faq",
                      "client_facing_bot_policies"
                    ],
                    "example": "policies_and_info"
                  },
                  "schema_description": {
                    "type": "string",
                    "description": "Optional description of the content structure to help LLM understand the format (e.g., \"Structured business profile from onboarding intake. Fields: business identity, hours, About Us narrative, services list, service area, special notes.\").",
                    "maxLength": 1000
                  },
                  "ingestion_prompt": {
                    "type": "string",
                    "description": "Optional instructions for the LLM on how to extract and categorize rules from the content (e.g., \"Extract FAQ pairs from services. Infer tone from About Us. Special Notes become individual policies_and_info rules.\").",
                    "maxLength": 2000
                  }
                },
                "required": [
                  "content"
                ]
              },
              "example": {
                "content": "Business Name: Duane's Body Shop, Inc.\nPhone: (701) 223-4924\nAddress: 1107 S 18TH ST, BISMARCK, ND 58504\n\nHours:\nMon-Fri: 7:30 AM - 5:30 PM\nSat-Sun: CLOSED\n\nAbout Us:\nFamily-owned since 1983, no appointment needed estimates, lifetime warranty on repairs. I-CAR Gold Certified.\n\nServices:\n- Collision & Body Repairs\n- Paintless Dent Repair\n- Hail Damage Repair\n\nSpecial Notes:\n- 10% military and first responder discount\n- Lifetime warranty on all repairs",
                "category_code": "policies_and_info",
                "schema_description": "Structured business profile from onboarding intake. Fields: business identity, hours, About Us narrative, services list, service area, special notes.",
                "ingestion_prompt": "Extract FAQ pairs from services. Infer tone from About Us. Special Notes become individual policies_and_info rules."
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Bulk import job created successfully and queued for processing",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BulkImportJobCreatedResponse"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "job_uid": "job-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv",
                    "status": "pending"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed request or invalid syntax",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "content",
                      "code": "required",
                      "message": "content is required"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "content",
                      "code": "string.max",
                      "message": "content must not exceed 100KB"
                    },
                    {
                      "field": "options.deduplication_threshold",
                      "code": "number.max",
                      "message": "deduplication_threshold must be between 0 and 1"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "rate_limit_exceeded",
                      "message": "Rate limit exceeded. Maximum 5 requests per minute."
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "BizAI Business Rules"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/business_rules": {
      "get": {
        "operationId": "BusinessRulesController_getBusinessRules",
        "summary": "Get all BusinessRules",
        "description": "## Overview\nGet a list of all business rules for the authenticated business. Optionally filter by category.\n\nAvailable for **Staff** tokens.",
        "parameters": [
          {
            "name": "category_code",
            "required": false,
            "in": "query",
            "description": "Filter by rule category code",
            "schema": {
              "type": "string",
              "enum": [
                "tone_of_voice",
                "policies_and_info",
                "things_to_avoid",
                "faq",
                "client_facing_bot_policies"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business rules retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BusinessRuleListResponseDto"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "business_rules": [
                      {
                        "uid": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv",
                        "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                        "content": "Always use a friendly and professional tone when communicating with clients",
                        "status": "active",
                        "source": "system",
                        "created_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                        "updated_by_staff_uid": null,
                        "sort_order": 0,
                        "metadata": null,
                        "created_at": "2024-12-15T10:30:00.000Z",
                        "updated_at": "2024-12-15T10:30:00.000Z",
                        "category_code": "tone_of_voice"
                      },
                      {
                        "uid": "br-e5f6a7b8-9012-34cd-efgh-ijklmnopqrst",
                        "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                        "content": "Q: What are your business hours? A: We are open Monday to Friday, 9 AM to 5 PM.",
                        "status": "active",
                        "source": "system",
                        "created_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                        "updated_by_staff_uid": null,
                        "sort_order": 1,
                        "metadata": {
                          "question": "What are your business hours?",
                          "answer": "We are open Monday to Friday, 9 AM to 5 PM.",
                          "confidence": 0.87,
                          "reasoning": "Detected consistent business hours mentioned across multiple client conversations"
                        },
                        "created_at": "2024-12-15T11:00:00.000Z",
                        "updated_at": "2024-12-15T11:00:00.000Z",
                        "category_code": "faq"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "BizAI Business Rules"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "operationId": "BusinessRulesController_createBusinessRule",
        "summary": "Create a BusinessRule",
        "description": "## Overview\nCreate a new business rule for the authenticated business.\n\nAvailable for **Staff** tokens.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessRuleRequestDto"
              },
              "example": {
                "content": "Always use a friendly and professional tone",
                "sort_order": 0,
                "category_code": "tone_of_voice"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Business rule created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "description": "Represents a business rule that guides AI behavior for a specific business. Rules are organized by category (tone of voice, business policies, things to avoid, FAQ) and can be AI-generated (system) or user-created. For FAQ category rules, the metadata contains structured question and answer fields extracted from the content. Rules can be activated, deactivated, or held in a pending approval state.",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "readOnly": true,
                              "description": "The unique identifier (UID) of the business rule (e.g., \"br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv\"). Assigned automatically by the system upon creation."
                            },
                            "business_uid": {
                              "type": "string",
                              "readOnly": true,
                              "description": "The unique identifier (UID) of the business that owns this rule (e.g., \"biz-1234abcd-5678-90ef-ghij-klmnopqrstuv\"). Automatically set based on the authenticated token."
                            },
                            "content": {
                              "type": "string",
                              "description": "The content or text of the business rule (e.g., \"Always use a friendly and professional tone when communicating with clients\"). For FAQ rules, this typically contains both the question and answer in a combined format."
                            },
                            "status": {
                              "type": "string",
                              "description": "The current status of the business rule, controlling whether the AI agent actively uses it.\n\n* `active` - The rule is currently in effect and will be used by the AI agent.\n* `pending_approval` - The rule has been suggested (typically by the system) and is awaiting staff review before becoming active.\n* `inactive` - The rule has been deactivated and will not be used by the AI agent.",
                              "enum": [
                                "active",
                                "pending_approval",
                                "inactive"
                              ]
                            },
                            "source": {
                              "type": "string",
                              "readOnly": true,
                              "description": "Indicates whether the rule was created by the AI system or by a user (staff member).\n\n* `system` - The rule was generated automatically by the AI based on analysis of business conversations.\n* `user` - The rule was manually created or edited by a staff member.",
                              "enum": [
                                "system",
                                "user"
                              ]
                            },
                            "created_by_staff_uid": {
                              "type": "string",
                              "readOnly": true,
                              "description": "The UID of the staff member who created the rule (e.g., \"stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr\"). Will be null for system-generated rules that have not been manually edited.",
                              "nullable": true
                            },
                            "updated_by_staff_uid": {
                              "type": "string",
                              "readOnly": true,
                              "description": "The UID of the staff member who last updated the rule (e.g., \"stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr\"). Will be null if the rule has never been updated by a staff member.",
                              "nullable": true
                            },
                            "sort_order": {
                              "type": "integer",
                              "description": "Sort order for displaying rules within a category (e.g., 0). Lower values appear first. Rules within the same category are ordered by this field in ascending order."
                            },
[...]
