{
  "openapi": "3.1.0",
  "info": {
    "title": "Apps",
    "description": "Unified OpenAPI specification for apps domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "legacy_app_translation.json",
        "legacy_v1_apps.json",
        "widgets_and_boards.json",
        "apps.json",
        "jwks.json",
        "legacy_token.json"
      ],
      "pathNormalizations": [
        {
          "file": "legacy_app_translation.json",
          "basePath": "/platform/v1",
          "transformations": [
            {
              "original": "/apps/translations/{app_code_name}",
              "normalized": "/platform/v1/apps/translations/{app_code_name}",
              "basePath": "/platform/v1"
            }
          ]
        },
        {
          "file": "legacy_v1_apps.json",
          "basePath": "/platform/v1",
          "transformations": [
            {
              "original": "/apps",
              "normalized": "/platform/v1/apps",
              "basePath": "/platform/v1"
            },
            {
              "original": "/apps/{id}",
              "normalized": "/platform/v1/apps/{id}",
              "basePath": "/platform/v1"
            },
            {
              "original": "/apps/{id}/assign",
              "normalized": "/platform/v1/apps/{id}/assign",
              "basePath": "/platform/v1"
            },
            {
              "original": "/apps/{id}/install_app",
              "normalized": "/platform/v1/apps/{id}/install_app",
              "basePath": "/platform/v1"
            },
            {
              "original": "/apps/{id}/unassign",
              "normalized": "/platform/v1/apps/{id}/unassign",
              "basePath": "/platform/v1"
            },
            {
              "original": "/apps/{id}/uninstall_app",
              "normalized": "/platform/v1/apps/{id}/uninstall_app",
              "basePath": "/platform/v1"
            }
          ]
        },
        {
          "file": "legacy_token.json",
          "basePath": "/oauth/service",
          "transformations": [
            {
              "original": "/token",
              "normalized": "/oauth/service/token",
              "basePath": "/oauth/service"
            }
          ]
        }
      ],
      "pathConflicts": [],
      "componentConflicts": [
        {
          "type": "schema",
          "name": "Response",
          "resolution": "Renamed to Response_apps",
          "files": [
            "merged",
            "apps.json"
          ]
        }
      ],
      "totalPaths": 18,
      "totalComponents": 15
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/platform/v1/apps/translations/{app_code_name}": {
      "put": {
        "summary": "Update app translations",
        "description": "## Overview\nUpdates the translations for an app. The translations must be provided as a CSV file with a specific format. The CSV should have columns for: Key, Context, Character Limit, en, es, fr, it, pt, de, pl, nl, en-GB, he, sl. The rows should contain: Name, Short description, App features, Long description. All English fields are required.\n\n**Authorization**: This endpoint is for app developers/publishers only. The requesting directory must own the app specified by `app_code_name`. Attempting to update translations for an app owned by another directory will result in a 422 AuthorizationException error.\n\n**Available for Directory Tokens**",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The format of the API authorization header should be: 'Authorization': \"Bearer API_TOKEN\"",
            "example": "Bearer abc...123"
          },
          {
            "name": "app_code_name",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "The app's code name identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "translations_csv": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file with translations. Format: First row contains headers (Key, Context, Character Limit, en, es, fr, it, pt, de, pl, nl, en-GB, he, sl). Following rows: Name, Short description, App features (semicolon-separated), Long description. All English (en) fields are mandatory. Download a sample CSV file here: https://vcita.github.io/developers-hub/downloads/app_translations_sample.csv"
                  }
                },
                "required": [
                  "translations_csv"
                ]
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "success_example": {
                    "value": {
                      "status": "OK",
                      "success": true,
                      "translations": {
                        "en": {
                          "name": "My App",
                          "short_description": "This is a short description",
                          "long_description": "This is a long and detailed description of the app",
                          "app_features": [
                            "Feature 1",
                            "Feature 2",
                            "Feature 3"
                          ]
                        },
                        "es": {
                          "name": "Mi Aplicación",
                          "short_description": "Esta es una descripción corta",
                          "long_description": "Esta es una descripción larga y detallada de la aplicación",
                          "app_features": [
                            "Característica 1",
                            "Característica 2",
                            "Característica 3"
                          ]
                        },
                        "fr": {
                          "name": "Mon App",
                          "short_description": "Ceci est une brève description",
                          "long_description": "Ceci est une description longue et détaillée de l'application",
                          "app_features": [
                            "Fonctionnalité 1",
                            "Fonctionnalité 2",
                            "Fonctionnalité 3"
                          ]
                        },
                        "it": {
                          "name": "La Mia App",
                          "short_description": "Questa è una breve descrizione",
                          "long_description": "Questa è una descrizione lunga e dettagliata dell'app",
                          "app_features": [
                            "Funzione 1",
                            "Funzione 2",
                            "Funzione 3"
                          ]
                        },
                        "pt": {
                          "name": "Meu App",
                          "short_description": "Esta é uma descrição curta",
                          "long_description": "Esta é uma descrição longa e detalhada do aplicativo",
                          "app_features": [
                            "Recurso 1",
                            "Recurso 2",
                            "Recurso 3"
                          ]
                        },
                        "de": {
                          "name": "Meine App",
                          "short_description": "Dies ist eine kurze Beschreibung",
                          "long_description": "Dies ist eine lange und detaillierte Beschreibung der App",
                          "app_features": [
                            "Funktion 1",
                            "Funktion 2",
                            "Funktion 3"
                          ]
                        },
                        "pl": {
                          "name": "Moja Aplikacja",
                          "short_description": "To jest krótki opis",
                          "long_description": "To jest długi i szczegółowy opis aplikacji",
                          "app_features": [
                            "Funkcja 1",
                            "Funkcja 2",
                            "Funkcja 3"
                          ]
                        },
                        "nl": {
                          "name": "Mijn App",
                          "short_description": "Dit is een korte beschrijving",
                          "long_description": "Dit is een lange en gedetailleerde beschrijving van de app",
                          "app_features": [
                            "Functie 1",
                            "Functie 2",
                            "Functie 3"
                          ]
                        },
                        "en-GB": {
                          "name": "My App",
                          "short_description": "This is a short description",
                          "long_description": "This is a long and detailed description of the app",
                          "app_features": [
                            "Feature 1",
                            "Feature 2",
                            "Feature 3"
                          ]
                        },
                        "he": {
                          "name": "האפליקציה שלי",
                          "short_description": "זהו תיאור קצר",
                          "long_description": "זהו תיאור ארוך ומפורט של האפליקציה",
                          "app_features": [
                            "תכונה 1",
                            "תכונה 2",
                            "תכונה 3"
                          ]
                        },
                        "sl": {
                          "name": "Moja Aplikacija",
                          "short_description": "To je kratek opis",
                          "long_description": "To je dolg in podroben opis aplikacije",
                          "app_features": [
                            "Funkcija 1",
                            "Funkcija 2",
                            "Funkcija 3"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Failure",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "error_example": {
                    "value": {
                      "status": "Error",
                      "success": false,
                      "errors": [
                        {
                          "message": "App with given app code name not found",
                          "code": "not_found",
                          "field": "app_code_name"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-auth-type": "Application & Application User",
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "uri": "https://api.vcita.biz/platform/v1/apps/translations/{app_code_name}",
          "httpMethod": "PUT",
          "type": "http_proxy"
        }
      }
    },
    "/platform/v1/apps": {
      "get": {
        "description": "## Overview\nRetrieve a list of available apps. .\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems\n\n**Available for Staff and Directory Tokens**",
        "parameters": [],
        "responses": {
          "201": {
            "description": "list apps",
            "content": {
              "application/json": {
                "example": {
                  "apps": [
                    {
                      "api_uri": "https://dummy-path.com",
                      "app_code_name": "dummyapp_62",
                      "app_features": [],
                      "app_host": "https://dummy-path.com",
                      "app_id": "some_id",
                      "app_mobile_screenshot_uris": [],
                      "app_screenshot_uris": [],
                      "built_in": false,
                      "contact_support_link": "https://dummy-path.com",
                      "deep_link": "https://dummy-path.com",
                      "description": {},
                      "is_internal": false,
                      "locales": [],
                      "menu_items": {
                        "subitems": [
                          {
                            "category": "clients",
                            "item_name": {
                              "en": "RDBMS Page"
                            },
                            "route": "rdbms",
                            "display_order": 0,
                            "block_impersonation": false
                          }
                        ]
                      },
                      "name": "Some App",
                      "open_in_new_tab": false,
                      "full_screen": false,
                      "permissions": [
                        "can_view_payments"
                      ],
                      "personal_connection": false,
                      "pre_installed": false,
                      "privacy_policy_link": "https://dummy-path.com",
                      "requires_upgrade": false,
                      "status": "not_installed",
                      "supported_countries": [
                        "United States"
                      ],
                      "supported_in_mobile": true,
                      "url_params": []
                    }
                  ],
                  "status": "OK"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "List of apps",
        "tags": [
          "Applications"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/apps"
        },
        "x-auth-type": "Application & Application User"
      },
      "post": {
        "description": "## Overview\nCreate a new app.\n\n**Available for Directory Tokens**",
        "parameters": [],
        "responses": {
          "201": {
            "description": "app created",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "app_code_name": "some_code_name",
                    "app_id": "some_id",
                    "client_id": "OAuth Client ID",
                    "client_secret": "OAuth Client Secret",
                    "name": "Some App",
                    "access_token_format": "opaque",
                    "client_auth_jwks_uri": "https://example.com/.well-known/jwks.json"
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Creates an app",
        "tags": [
          "Applications"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/apps"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "app_code_name": {
                    "description": "The app's unique code name. This will be used as the app's id for APIs. **Validation**: Must contain only alphanumeric characters (a-z, A-Z, 0-9). No spaces, underscores, hyphens, or other special characters are allowed.",
                    "type": "string",
                    "pattern": "^[a-zA-Z0-9]+$",
                    "required": true
                  },
                  "app_type": {
                    "description": "Define a list of integration points the app implements. Valid values are: payments, wallets, communication, menu_items, docuforms, import_clients, automated_flows, signatures, onboarding_wizard, notifications. More information can be found in the guides section of the developer hub",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "redirect_uri": {
                    "description": "The app's main landing page. The platform will use this URI when opening the app's iframe.",
                    "type": "string",
                    "required": true
                  },
                  "trusted": {
                    "description": "Whether application can skip the user consent screen (true/false). When set to true, users will not see the authorization consent screen when installing or accessing the app.",
                    "type": "string"
                  },
                  "url_params": {
                    "description": "Parameters that will be passed to the app in the app's iframe query string. Valid values are: impersonate, business_uid, staff_role, staff_uid, payment_permissions, language, package, brand_host",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "menu_items": {
                    "description": "When app is installed, these items will be added to the left sidebar menu. If not provided, the app will not be displayed in the left sidebar menu. app_type must include 'menu_items' to use this property.",
                    "properties": {
                      "subitems": {
                        "description": "Items array",
                        "items": {
                          "properties": {
                            "category": {
                              "description": "Section of the left menu in which the item will appear. Valid values are: [\"calendar\", \"clients\", \"payments\", \"inbox\", \"documents\", \"campaigns\", \"reputation\", \"my-livesite\", \"social\", \"social_info\", \"app_market\", \"reports\", \"team-chat\", \"advertising\", \"subscriptions\", \"my_account\", \"cashflow\", \"workforce\", \"setupguide\", \"reviews\", \"social_media\", \"online_listing\"]",
                              "type": "string"
                            },
                            "item_name": {
                              "description": "Item names in different languages",
                              "properties": {
                                "de": {
                                  "type": "string"
                                },
                                "en": {
                                  "description": "Item name in english",
                                  "type": "string"
                                },
                                "es": {
                                  "type": "string"
                                },
                                "fr": {
                                  "type": "string"
                                },
                                "he": {
                                  "type": "string"
                                },
                                "it": {
                                  "type": "string"
                                },
                                "pl": {
                                  "type": "string"
                                },
                                "pt": {
                                  "type": "string"
                                },
                                "ru": {
                                  "type": "string"
                                },
                                "sl": {
                                  "type": "string"
                                },
                                "tr": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "permissions": {
                              "description": "Permissions to control who can view this menu item. Available permissions: [\"can_access_listings_management\", \"can_access_soci\", \"can_access_online_presence\", \"can_access_clients\", \"can_use_reports\", \"can_view_payments\", \"can_view_documents\", \"has_marketing_permissions\", \"can_access_admin_account\", \"can_access_settings\", \"can_export_payments\"]",
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "route": {
                              "description": "Suffix route relative to the app domain.",
                              "type": "string"
                            },
                            "display_order": {
                              "description": "Display order of the menu item withihn the category. Start from 0. If not provided, will be added to the end of the category.",
                              "type": "number"
                            },
                            "block_impersonation": {
                              "description": "Whether the menu item should be blocked when an operator is impersonating as a staff member",
                              "type": "boolean",
                              "default": false
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  },
                  "open_in_new_tab": {
                    "description": "Whether the app will be opened in a new tab or as an iframe",
                    "type": "boolean"
                  },
                  "full_screen": {
                    "description": "Whether the app will be opened in a full screen mode, taking over the page header but leaving the sidebar and topbar visible",
                    "type": "boolean",
                    "default": false
                  },
                  "name": {
                    "description": "[App Market] The app's name as it will be displayed in the app market. Must be 3 to 25 chars long. If translations are required, use the app translations API ",
                    "type": "string"
                  },
                  "description": {
                    "description": "[App Market] The app's description. This is displayed in the app info page in the app market.",
                    "properties": {
                      "logo": {
                        "description": "Link to the app's logo",
                        "type": "string"
                      },
                      "short_description": {
                        "description": "The app's short description. Should contain a summarize review of the app's purpose and functions. Max length is 260 chars.",
                        "type": "string"
                      },
                      "text": {
                        "description": "The app's long description. Should describe the app's functions in detail. Max length is 380 chars.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "app_features": {
                    "description": "[App Market] A list of the app's features. Will be displayed to the user in the app info page in the app market. Max 10 features. Max feature length is 500 chars.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "app_screenshot_uris": {
                    "description": "[App Market] Links to app screenshots or demo videos. Displayed on the desktop App info page in the app market. Each asset must be 608 × 272 px. Supported formats: GIF, PNG, JPEG, MJPEG, SVG, MP4, WebM, OGV.",
                    "type": "string"
                  },
                  "app_mobile_screenshot_uris": {
                    "description": "[App Market] Links to app screenshots or demo videos. Displayed on the mobile App info page in the app market. Each asset must be 608 × 272 px. Supported formats: GIF, PNG, JPEG, MJPEG, SVG, MP4, WebM, OGV.",
                    "type": "string"
                  },
                  "contact_support_link": {
                    "description": "[App Market] Link to the app's contact support page. This is displayed in the app info page in the app market.",
                    "type": "string"
                  },
                  "locales": {
                    "description": "[App Market] Locales supported by the app in the app market. If supplied it will be shown for the users in the app market. Valid values are: 'en', 'he', 'es', 'pl', 'fr', 'it', 'pt', 'de', 'nl', 'en-GB', 'zh-SG', 'keys', 'pseudo'",
                    "items": {
                      "type": "string",
                      "enum": [
                        "en",
                        "he",
                        "es",
                        "pl",
                        "fr",
                        "it",
                        "pt",
                        "de",
                        "nl",
                        "en-GB",
                        "zh-SG",
                        "keys",
                        "pseudo"
                      ]
                    },
                    "type": "array"
                  },
                  "payment_data": {
                    "description": "[App Market] Payment data for the app. Will be displayed in the app info page",
                    "properties": {
                      "pay_per_unit": {
                        "description": "The units available in this purchasable for extra payment",
                        "type": "array"
                      },
                      "prices": {
                        "description": "Price list",
                        "properties": {
                          "currency": {
                            "description": "Currency, allowed only: USD, GBP or EUR",
                            "type": "string"
                          },
                          "pay_per_unit": {
                            "description": "Unit prices",
                            "properties": {
                              "staff": {
                                "description": "Price per staff",
                                "type": "number"
                              }
                            },
                            "type": "object"
                          },
                          "payment_type": {
                            "description": "Payment type, allowed: monthly, free}",
                            "type": "string"
                          },
                          "price": {
                            "description": "Price to pay",
                            "type": "number"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "privacy_policy_link": {
                    "description": "[App Market] A link to the apps privacy policy. This is displayed in the app info page in the app market.",
                    "type": "string"
                  },
                  "personal_connection": {
                    "description": "[App Market] Use to determine if each staff needs to connect separately to the app.",
                    "type": "boolean"
                  },
                  "supported_countries": {
                    "description": "Countries in which the app will be available. Empty array for all countries.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "api_uri": {
                    "description": "[Internal use only] The URL of the application API. This is required for apps that implement integration points like Calendar. This is mainly for internal use. For further details contact the support team.",
                    "type": "string"
                  },
                  "app_layer": {
                    "description": "[Internal use only] The layer of the application. Valid values are: cores, connectors, integrations, widgets, boards. This is mainly for internal use. For further details contact the support team.",
                    "type": "string"
                  },
                  "deep_link": {
                    "description": "[Internal use only] The deep link to an inner product page. This is not made for third-party apps, but for apps that open as part of the product. Made for internal developer use only.",
                    "properties": {
                      "path": {
                        "description": "The relative path to the page.",
                        "type": "string"
                      },
                      "path_params": {
                        "description": "The params that will be added to the path URL (optional)",
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "scopes": {
                    "description": "[Internal use only] Reserved for future implementation. Intended to define the complete set of OAuth scopes that this app type can potentially request or use. Currently not enforced in the system. For further details contact the support team.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "demand_scopes": {
                    "description": "[Internal use only] Reserved for future implementation. Intended to define the minimum required OAuth scopes that this app type must have to function properly. Currently not enforced in the system. For further details contact the support team.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "access_token_format": {
                    "description": "Format of access tokens issued for this app. Determines whether tokens are opaque or JWT.",
                    "type": "string",
                    "enum": [
                      "opaque",
                      "jwt"
                    ],
                    "default": "opaque"
                  },
                  "client_auth_jwks_uri": {
                    "description": "The client_auth_jwks_uri property lets you authenticate with our OAuth service using JWT signed tokens instead of a client_secret. In the OAuth token request, the service will choose the correct authentication method based on the provided parameters. To use client authentication with Private Key JWT, this property must be set. The URI should return a JSON Web Key Set containing your public keys. The service will retrieve this JWKS and use the keys to verify the JWT you provide.",
                    "type": "string"
                  },
                  "open_channel": {
                    "description": "Indicator for communication app if it enables direct, sessionless messaging without requiring pre-established channel sessions.",
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/platform/v1/apps/{id}": {
      "get": {
        "description": "## Overview\nRetrieve an app by code name. .\n\n## When to Use\n- Viewing full record details\n- Building detail pages\n- Verifying record existence\n\n**Available for Directory Tokens**",
        "parameters": [
          {
            "description": "App code name",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "application": {
                      "api_uri": "https://oururi.com",
                      "app_code_name": "IncredibleCodeName",
                      "app_features": [
                        "Lorem ipsum dolor",
                        "consectetur adipiscing"
                      ],
                      "app_screenshot_uris": [
                        "https://www.techadvisor.com/cmsdata/features/3685380/rick_and_morty_season_4_thumb800.jpg"
                      ],
                      "app_type": [
                        "communication"
                      ],
                      "contact_support_link": "https://www.ynet.co.il/home/0,7340,L-8,00.html",
                      "description": {
                        "logo": "https://c15101458.ssl.cf2.rackcdn.com/avatar/image/3835/normal_rqmnvkhvgg0g82mtzcoir0cg7vyythwg.png",
                        "short_description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                        "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget."
                      },
                      "locales": [
                        "en",
                        "es",
                        "fr"
                      ],
                      "menu_items": null,
                      "name": "New Testing App 2",
                      "oauth_redirect_uris": [
                        "https://redirect.com",
                        "https://stuff.com",
                        "https://hello.com"
                      ],
                      "open_in_new_tab": true,
                      "full_screen": false,
                      "openid": true,
                      "privacy_policy_link": "https://www.sport5.co.il/",
                      "redirect_uri": "https://en.wikipedia.org/wiki",
                      "supported_countries": [
                        "United States",
                        "United Kingdom",
                        "Israel"
                      ],
                      "trusted": true,
                      "url_params": [],
                      "access_token_format": "opaque",
                      "client_auth_jwks_uri": "https://example.com/.well-known/jwks.json"
                    },
                    "success": true
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Read an app",
        "tags": [
          "Applications"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/apps/{id}"
        },
        "x-auth-type": "Application & Application User"
      },
      "put": {
        "description": "## Overview\nUpdate an app by code name. .\n\n**Available for Directory Tokens**",
        "parameters": [
          {
            "description": "App code name",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "application": {
                    "api_uri": "https://OurApi.com",
                    "app_features": [
                      "Talk to all your friends!",
                      "Purchase stuff online!"
                    ],
                    "app_layer": "cores",
                    "app_screenshot_uris": [
                      "http://OurBestScreenshot.png"
                    ],
                    "app_type": [
                      "communication"
                    ],
                    "contact_support_link": "https://contactsupport.com",
                    "deep_link": {
                      "path": "/app/somepath",
                      "path_params": {
                        "this_is_a_parameter": 12
                      }
                    },
                    "demand_scopes": [
                      "payments",
                      "clients"
                    ],
                    "description": {
                      "logo": "https://BeautifulLogo.png",
                      "short_description": "This is the app's short description. A quick summary of the app's uses.",
                      "text": "This is the app's long description. It should describe the app's uses and benefits in detail."
                    },
                    "locales": [
                      "en"
                    ],
                    "menu_items": {
                      "subitems": [
                        {
                          "category": "clients",
                          "item_name": {
                            "en": "My RDBMS"
                          },
                          "route": "route",
                          "display_order": 0
                        }
                      ]
                    },
                    "name": "Our app",
                    "oauth_redirect_uris": [
                      "https://redirect.com",
                      "https://stuff.com",
                      "https://hello.com"
                    ],
                    "open_in_new_tab": true,
                    "privacy_policy_link": "https://ourprivacy.com",
                    "redirect_uri": "https://redirect.com",
                    "scopes": [
                      "clients"
                    ],
                    "supported_countries": [
                      "US"
                    ],
                    "trusted": "false",
                    "url_params": [
                      "business_uid"
                    ],
                    "access_token_format": "opaque",
                    "client_auth_jwks_uri": "https://example.com/.well-known/jwks.json"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Updates an app",
        "tags": [
          "Applications"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/apps/{id}"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "app_type": {
                    "description": "Define a list of integration points the app implements. Valid values are: payments, wallets, communication, menu_items, docuforms, import_clients, automated_flows, signatures, onboarding_wizard, notifications. More information can be found in the guides section of the developer hub",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "redirect_uri": {
                    "description": "The app's main landing page. The platform will use this URI when opening the app's iframe.",
                    "type": "string"
                  },
                  "trusted": {
                    "description": "Whether application can skip the user consent screen (true/false). When set to true, users will not see the authorization consent screen when installing or accessing the app.",
                    "type": "string"
                  },
                  "url_params": {
                    "description": "Parameters that will be passed to the app in the app's iframe query string. Valid values are: impersonate, business_uid, staff_role, staff_uid, payment_permissions, language, package, brand_host",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "menu_items": {
                    "description": "When app is installed, these items will be added to the left sidebar menu. If not provided, the app will not be displayed in the left sidebar menu. app_type must include 'menu_items' to use this property.",
                    "properties": {
                      "subitems": {
                        "description": "Items array",
                        "items": {
                          "properties": {
                            "category": {
                              "description": "Section of the left menu in which the item will appear. Valid values are: [\"calendar\", \"clients\", \"payments\", \"inbox\", \"documents\", \"campaigns\", \"reputation\", \"my-livesite\", \"social\", \"social_info\", \"app_market\", \"reports\", \"team-chat\", \"advertising\", \"subscriptions\", \"my_account\", \"cashflow\", \"workforce\", \"setupguide\", \"reviews\", \"social_media\", \"online_listing\"]",
                              "type": "string"
                            },
                            "item_name": {
                              "description": "Item names in different languages",
                              "properties": {
                                "de": {
                                  "type": "string"
                                },
                                "en": {
                                  "description": "Item name in english",
                                  "type": "string"
                                },
                                "es": {
                                  "type": "string"
                                },
                                "fr": {
                                  "type": "string"
                                },
                                "he": {
                                  "type": "string"
                                },
                                "it": {
                                  "type": "string"
                                },
                                "pl": {
                                  "type": "string"
                                },
                                "pt": {
                                  "type": "string"
                                },
                                "ru": {
                                  "type": "string"
                                },
                                "sl": {
                                  "type": "string"
                                },
                                "tr": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "permissions": {
                              "description": "Permissions to control who can view this menu item. Available permissions: [\"can_access_listings_management\", \"can_access_soci\", \"can_access_online_presence\", \"can_access_clients\", \"can_use_reports\", \"can_view_payments\", \"can_view_documents\", \"has_marketing_permissions\", \"can_access_admin_account\", \"can_access_settings\", \"can_export_payments\"]",
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "route": {
                              "description": "Suffix route relative to the app domain.",
                              "type": "string"
                            },
                            "display_order": {
                              "description": "Display order of the menu item withihn the category. Start from 0. If not provided, will be added to the end of the category.",
                              "type": "number"
                            },
                            "block_impersonation": {
                              "description": "Whether the menu item should be blocked when an operator is impersonating as a staff member",
                              "type": "boolean",
                              "default": false
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  },
                  "open_in_new_tab": {
                    "description": "Whether the app will be opened in a new tab or as an iframe",
                    "type": "boolean"
                  },
                  "full_screen": {
                    "description": "Whether the app will be opened in a full screen mode, taking over the page header but leaving the sidebar and topbar visible",
                    "type": "boolean",
                    "default": false
                  },
                  "name": {
                    "description": "[App Market] The app's name as it will be displayed in the app market. Must be 3 to 25 chars long. If translations are required, use the app translations API ",
                    "type": "string"
                  },
                  "description": {
                    "description": "[App Market] The app's description. This is displayed in the app info page in the app market.",
                    "properties": {
                      "logo": {
                        "description": "Link to the app's logo",
                        "type": "string"
                      },
                      "short_description": {
                        "description": "The app's short description. Should contain a summarize review of the app's purpose and functions. Max length is 260 chars.",
                        "type": "string"
                      },
                      "text": {
                        "description": "The app's long description. Should describe the app's functions in detail. Max length is 380 chars.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "app_features": {
                    "description": "[App Market] A list of the app's features. Will be displayed to the user in the app info page in the app market. Max 10 features. Max feature length is 500 chars.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "app_screenshot_uris": {
                    "description": "[App Market] Links to app screenshots or demo videos. Displayed on the desktop App info page in the app market. Each asset must be 608 × 272 px. Supported formats: GIF, PNG, JPEG, MJPEG, SVG, MP4, WebM, OGV.",
                    "type": "string"
                  },
                  "app_mobile_screenshot_uris": {
                    "description": "[App Market] Links to app screenshots or demo videos. Displayed on the mobile App info page in the app market. Each asset must be 608 × 272 px. Supported formats: GIF, PNG, JPEG, MJPEG, SVG, MP4, WebM, OGV.",
                    "type": "string"
                  },
                  "contact_support_link": {
                    "description": "[App Market] Link to the app's contact support page. This is displayed in the app info page in the app market.",
                    "type": "string"
                  },
                  "locales": {
                    "description": "[App Market] Locales supported by the app in the app market. If supplied it will be shown for the users in the app market. Valid values are: 'en', 'he', 'es', 'pl', 'fr', 'it', 'pt', 'de', 'nl', 'en-GB', 'zh-SG', 'keys', 'pseudo'",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "privacy_policy_link": {
                    "description": "[App Market] A link to the apps privacy policy. This is displayed in the app info page in the app market.",
                    "type": "string"
                  },
                  "personal_connection": {
                    "description": "[App Market] Use to determine if each staff needs to connect separately to the app.",
                    "type": "boolean"
                  },
                  "supported_countries": {
                    "description": "Countries in which the app will be available. Empty array for all countries.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "api_uri": {
                    "description": "[Internal use only] The URL of the application API. This is required for apps that implement integration points like Calendar. This is mainly for internal use. For further details contact the support team.",
                    "type": "string"
                  },
                  "app_layer": {
                    "description": "[Internal use only] The layer of the application. Valid values are: cores, connectors, integrations, widgets, boards. This is mainly for internal use. For further details contact the support team.",
                    "type": "string"
                  },
                  "deep_link": {
                    "description": "[Internal use only] The deep link to an inner product page. This is not made for third-party apps, but for apps that open as part of the product. Made for internal developer use only.",
                    "properties": {
                      "path": {
                        "description": "The relative path to the page.",
                        "type": "string"
                      },
                      "path_params": {
                        "description": "The params that will be added to the path URL (optional)",
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "scopes": {
                    "description": "[Internal use only] Reserved for future implementation. Intended to define the complete set of OAuth scopes that this app type can potentially request or use. Currently not enforced in the system. For further details contact the support team.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "demand_scopes": {
                    "description": "[Internal use only] Reserved for future implementation. Intended to define the minimum required OAuth scopes that this app type must have to function properly. Currently not enforced in the system. For further details contact the support team.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "access_token_format": {
                    "description": "Format of access tokens issued for this app. Determines whether tokens are opaque or JWT.",
                    "type": "string",
                    "enum": [
                      "opaque",
                      "jwt"
                    ],
                    "default": "opaque"
                  },
                  "client_auth_jwks_uri": {
                    "description": "The client_auth_jwks_uri property lets you authenticate with our OAuth service using JWT signed tokens instead of a client_secret. In the OAuth token request, the service will choose the correct authentication method based on the provided parameters. To use client authentication with Private Key JWT, this property must be set. The URI should return a JSON Web Key Set containing your public keys. The service will retrieve this JWKS and use the keys to verify the JWT you provide.",
                    "type": "string"
                  },
                  "oauth_redirect_uris": {
                    "description": "An array of URLs to redirect the user to after a successful login.",
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/platform/v1/apps/{id}/assign": {
      "post": {
        "description": "## Overview\nAssign an application to a business or directory so it appears in the App Market. .\n\n**Available for Internal & Directory Tokens**",
        "parameters": [
          {
            "description": "App code name",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "app_data": {
                      "assignment": {
                        "app_id": 2,
                        "built_in": false,
                        "business_id": 1222,
                        "created_at": "2021-11-16T13:29:47.000Z",
                        "directory_id": 12,
                        "id": 1,
                        "is_internal": false,
                        "pre_installed": false,
                        "updated_at": "2021-11-16T13:29:47.000Z"
                      }
                    }
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Assign an app on directory or a business [Internal] - Deprecated, /v3/apps/app_assignments instead",
        "tags": [
          "Applications"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/apps/{id}/assign"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "built_in": {
                    "description": "Define the app as built_in for this directory, meaning it is installed for all its users and cannot be uninstalled by them. Used with directory_uid only.",
                    "type": "string"
                  },
                  "business_uid": {
                    "description": "The business uid to associate the app to.",
                    "type": "string"
                  },
                  "directory_uid": {
                    "description": "The directory uid to associate the app to.",
                    "type": "string"
                  },
                  "is_internal": {
                    "description": "Specify that the app is an internal - used with directory_uid only.",
                    "type": "string"
                  },
                  "pre_installed": {
                    "description": "Define the app as pre-installed for all new accounts of this directory - used with directory_uid only.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/platform/v1/apps/{id}/install_app": {
      "post": {
        "description": "## Overview\nInstall an app for the authorized business. .\n\n**Available for Staff Tokens**",
        "parameters": [
          {
            "description": "App code name",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "app_data": {
                    "app_code_name": "IncredibleCodeName",
                    "app_id": 72,
                    "app_name": "My Wiki Pages"
                  },
                  "data": {
                    "app_data": {
                      "app_code_name": "mywikipages_72",
                      "app_features": [],
                      "app_host": "https://en.wikipedia.org/wiki",
                      "app_id": 72,
                      "app_name": "My Wiki Pages",
                      "app_screenshot_uris": [],
                      "contact_support_link": null,
                      "description": {},
                      "is_internal": false,
                      "locales": [],
                      "permissions": null,
                      "privacy_policy_link": null,
                      "requires_upgrade": false,
                      "status": "installed",
                      "supported_countries": [],
                      "url_params": [
                        "language",
                        "staff_role"
                      ]
                    }
                  },
                  "success": true
                }
              }
            }
          },
          "422": {
            "description": "Failure",
            "content": {
              "application/json": {
                "example": {
                  "app_data": {
                    "app_code_name": "IncredibleCodeName"
                  },
                  "errors": [
                    {
                      "code": "already_exists",
                      "message": "Already installed"
                    }
                  ],
                  "success": false
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Install an app [Internal]",
        "tags": [
          "Applications"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/apps/{id}/install_app"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        }
      }
    },
    "/platform/v1/apps/{id}/unassign": {
      "post": {
        "description": "## Overview\nUnassign an application from a business or directory. .\n\n**Available for Internal & Directory Tokens**",
        "parameters": [
          {
            "description": "App code name",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "app_data": {
                      "assignment": {
                        "app_id": 2,
                        "business_id": 1222,
                        "created_at": "2021-11-16T13:29:47.000Z",
                        "directory_id": 12,
                        "id": 1,
                        "is_internal": false,
                        "updated_at": "2021-11-16T13:29:47.000Z"
                      }
                    }
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Unassign an app on directory or a business [Internal]",
        "tags": [
          "Applications"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/apps/{id}/unassign"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "business_uid": {
                    "description": "The business uid to associate the app to.",
                    "type": "string"
                  },
                  "directory_uid": {
                    "description": "The directory uid to associate the app to.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/platform/v1/apps/{id}/uninstall_app": {
      "post": {
        "description": "## Overview\nUninstall an app for the authorized business. .\n\n**Available for Staff Tokens**",
        "parameters": [
          {
            "description": "App code name",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "app_data": {
                    "app_code_name": "IncredibleCodeName",
                    "app_id": 72,
                    "app_name": "My Wiki Pages"
                  },
                  "data": {
                    "app_data": {
                      "app_code_name": "mywikipages_72",
                      "app_features": [],
                      "app_host": "https://en.wikipedia.org/wiki",
                      "app_id": 72,
                      "app_name": "My Wiki Pages",
                      "app_screenshot_uris": [],
                      "contact_support_link": null,
                      "description": {},
                      "is_internal": false,
                      "locales": [],
                      "permissions": null,
                      "privacy_policy_link": null,
                      "requires_upgrade": false,
                      "status": "uninstalled",
                      "supported_countries": [],
                      "url_params": [
                        "language",
                        "staff_role"
                      ]
                    }
                  },
                  "success": true
                }
              }
            }
          },
          "422": {
            "description": "Failure",
            "content": {
              "application/json": {
                "example": {
                  "app_data": {
                    "app_code_name": "IncredibleCodeName"
                  },
                  "errors": [
                    {
                      "code": "missing",
                      "message": "App not installed"
                    }
                  ],
                  "success": false
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Uninstall an app [Internal]",
        "tags": [
          "Applications"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/apps/{id}/uninstall_app"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        }
      }
    },
    "/v3/apps/widgets": {
      "post": {
        "operationId": "Widgets_create",
        "summary": "Create a Widget",
        "description": "## Overview\nCreate a new widget. **Only that has the app_type 'widgets'**.\n\n**available for App Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWidgetRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/widget.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "Widgets_getAll",
        "summary": "Get all Widgets",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "description": "Filter by module, Example: module=Payment",
            "name": "module",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiWidgetsResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "## Overview\nGet all Widgets.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems\n\n**Available for Staff Tokens**"
      }
    },
    "/v3/apps/widgets/{uid}": {
      "put": {
        "operationId": "Widgets_update",
        "summary": "Update Widget",
        "description": "## Overview\nUpdate a widget. **Only that has the app_type 'widgets'**.\n\n**available for App Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "The widget uid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWidgetRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/widget.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards": {
      "post": {
        "operationId": "StaffWidgetsBoard_create",
        "summary": "Create a Staff Widgets Board",
        "description": "## Overview\nCreates a widgets board for staff member.\n\n**Important**: Each staff member can only have one widget board per unique combination of `type` and `board_layout_code_name`. Attempting to create a duplicate will return a 403 error with message 'Duplication Error: StaffWidgetsBoard Already Exist'.\n\n**Available for Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffWidgetsBoardRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoard.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Board"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "StaffWidgetsBoard_getAll",
        "summary": "Get all Widgets Boards Of The Staff",
        "description": "## Overview\nReturns the widgets boards for staff member.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems\n\n**Available for Staff Tokens**",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "description": "Filter by type, Example: type=home",
            "name": "type",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiStaffWidgetsBoardResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Board"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards/{uid}": {
      "put": {
        "operationId": "StaffWidgetsBoard_update",
        "summary": "Update a Staff Widgets Board",
        "description": "## Overview\nUpdate a staff widget board. **Only.\n\n**available for Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "The staff widgets board uid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffWidgetsBoardRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoard.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Board"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards_templates": {
      "post": {
        "operationId": "StaffWidgetsBoardsTemplate_create",
        "summary": "Create a Staff Widgets Boards Template",
        "description": "## Overview\nCreate a staff widget board template.\n\n**Important**: Each staff member can only have one active widgets boards template. Creating a template when one already exists will return a 400 error with message 'Duplicate entry not allowed for active rows.'\n\n**Available for Directory Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "staff_uid": {
                    "type": "string",
                    "description": "The unique identifier of the staff which will be used as staff widget board template"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoardsTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. A duplicate entry already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "example": "Duplicate entry not allowed for active rows."
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Boards Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "StaffWidgetsBoardsTemplate_getAll",
        "summary": "Get all Staff Widgets Boards Templates",
        "description": "## Overview\nGet all staff widget board templates. **Only.\n\n**available for Directory Tokens**",
        "parameters": [
          {
            "description": "Filter by owner_type, Example: owner_type=directory",
            "name": "owner_type",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "directory",
                "business"
              ]
            }
          },
          {
            "description": "Filter by owner_uid, Example: owner_uid=d290f1ee-6c54-4b01-90e6-d701748f0851",
            "name": "owner_uid",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by staff_uid, Example: staff_uid=d290f1ee-6c54-4b01-90e6-d701748f0851",
            "name": "staff_uid",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiStaffWidgetsBoardsTemplatesResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Boards Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards_templates/{uid}": {
      "put": {
        "operationId": "StaffWidgetsBoardsTemplate_update",
        "summary": "Update a Staff Widgets Boards Template",
        "description": "## Overview\nUpdate a staff widget board template. **Only.\n\n**available for Directory Tokens**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "staff_uid": {
                    "type": "string",
                    "description": "The unique identifier of the staff which will be used as staff widget board template"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "returns a staff widget board template entity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoardsTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Boards Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "StaffWidgetsBoardsTemplate_delete",
        "summary": "Delete a Staff Widgets Boards Template",
        "description": "## Overview\nDelete a staff widget board template. **Only.\n\n**available for Directory Tokens**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "returns the deleted staff widget board template entity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoardsTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Staff Widgets Boards Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/app_assignments": {
      "get": {
        "operationId": "AppAssignments_list",
        "summary": "List App Assignments",
        "description": "## Overview\nGet a list of app assignments with optional filtering. Note: assignee_uid can only be used when assignee_type is also provided.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems\n\n**Available for Directory and internal Tokens**",
        "parameters": [
          {
            "name": "app_code_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by app code name"
          },
          {
            "name": "assignee_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "business",
                "package",
                "directory"
              ]
            },
            "description": "Filter by assignee type"
          },
          {
            "name": "assignee_uid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by assignee uid. Only allowed when assignee_type is also provided."
          },
          {
            "name": "directory_uid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by directory uid. Only available for internal Tokens."
          }
        ],
        "responses": {
          "200": {
            "description": "App assignments retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "app_assignments": {
                              "type": "array",
                              "items": {
                                "$ref": "https://vcita.github.io/developers-hub/entities/apps/appAssignment.json"
                              }
                            }
                          },
                          "required": [
                            "app_assignments"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Invalid input data."
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "App Assignments"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "operationId": "AppAssignments_create",
        "summary": "Create an App Assignment",
        "description": "## Overview\nCreate a new app assignment to a business, package or directory.\n\n**Prerequisites**: The app specified by `app_code_name` must already exist and be associated with the directory before assignments can be created.\n\n**Available for Admin or Directory Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppAssignmentRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "App assignment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/appAssignment.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Invalid input data."
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "App Assignments"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/app_assignments/{uid}": {
      "delete": {
        "operationId": "AppAssignments_delete",
        "summary": "Delete an App Assignment",
        "description": "## Overview\nDelete an app assignment.\n\n**Available for Directory and internal Tokens**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the app assignment to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "App assignment deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/appAssignment.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Invalid input data."
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          },
          "404": {
            "description": "Not found. App assignment not found."
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "tags": [
          "App Assignments"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/compact_jws_tokens": {
      "post": {
        "summary": "Create a compact JWS token",
        "description": "## Overview\nCreate a new compact JWS token that can be used to authenticate a staff member to an app in inTandem using a JWKS process. The token is signed by the app's private key and can be verified by inTandem's public key. Public JWKS token can be obtained at: https://api.vcita.biz/v3/apps/.well-known/jwks.json. Available for **Staff Tokens** and **AppStaffToken**.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "app_code_name": {
                    "type": "string",
                    "description": "The code name of the app that owns this token"
                  }
                },
                "required": [
                  "app_code_name"
                ],
                "example": {
                  "app_code_name": "tips"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A compact JWS token is successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/compactJWSToken.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing, invalid or not allowed to access the requested resource."
          },
          "429": {
            "description": "Rate limit has been reached due to the number of requests made for the same staff member in a short period of time."
          }
        },
        "tags": [
          "JWKS"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/compact_jws_tokens/bulk": {
      "post": {
        "summary": "Bulk create compact JWS tokens",
        "description": "## Overview\nCreate multiple compact JWS tokens for a list of app code names. The response will include the success, generated token (if successful), or error details for each app code name.\n\n**Available for Staff Tokens and AppStaffToken**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "app_code_names": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "The code name of the app that owns the token"
                    },
                    "description": "List of app code names for which JWS tokens need to be generated"
                  }
                },
                "required": [
                  "app_code_names"
                ],
                "example": {
                  "app_code_names": [
                    "tips",
                    "helpdesk",
                    "sales"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk creation of compact JWS tokens.",
            "content": {
              "application/json": {
                "schema": {
[...]
