{
  "openapi": "3.1.0",
  "info": {
    "title": "Assets",
    "description": "Unified OpenAPI specification for assets domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "legacy_documents.json",
        "files.json"
      ],
      "pathNormalizations": [],
      "pathConflicts": [],
      "componentConflicts": [
        {
          "type": "schema",
          "name": "ErrorResponse",
          "resolution": "Renamed to ErrorResponse_files",
          "files": [
            "merged",
            "files.json"
          ]
        }
      ],
      "totalPaths": 10,
      "totalComponents": 10
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/client_api/v1/portals/{business_uid}/contact/get_form": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get Leave Details Form",
        "description": "## Overview\nGets the leave details form of the business.\n\n## Authentication\n**Available for Client Tokens only.**",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "description": "business_uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "description": "Please fill out your details below so we can process your request.",
                    "sections": [
                      {
                        "description": "Please fill out your details below so we can process your request.",
                        "fields": [
                          [
                            {
                              "hidden": false,
                              "id": "subject",
                              "label": "Subject",
                              "required": true,
                              "type": "subject"
                            }
                          ],
                          [
                            {
                              "hidden": false,
                              "id": "message",
                              "label": "Message",
                              "required": true,
                              "type": "multiline"
                            }
                          ]
                        ],
                        "title": "",
                        "type": "message_info"
                      },
                      {
                        "description": "translation missing: en.settings.forms.leave_details.section.client_details.description",
                        "editable": true,
                        "fields": [
                          [
                            {
                              "default_value": "",
                              "id": "6tg9ode4uj2accvx",
                              "keep_asking": false,
                              "label": "email_label",
                              "object_type": "contact",
                              "required": true,
                              "type": "email"
                            }
                          ],
                          [
                            {
                              "default_value": "",
                              "id": "qkq65wh8577vio6q",
                              "keep_asking": false,
                              "label": "firstname_label",
                              "object_type": "contact",
                              "required": true,
                              "type": "firstname"
                            }
                          ]
                        ],
                        "title": "Client Info",
                        "type": "fields"
                      },
                      {
                        "description": "Enter a message you want your clients to read before they submit",
                        "fields": [
                          [
                            {
                              "default_value": "",
                              "enabled": false,
                              "label": "Business policy",
                              "type": "policy"
                            }
                          ]
                        ],
                        "title": "Business policy",
                        "type": "policies"
                      }
                    ],
                    "title": "Leave details form",
                    "type": "leave_details"
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/client_api/v1/portals/{business_uid}/contact/submit": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Submits Leave Details Form",
        "description": "## Overview\nSubmits Leave Details Form to the business.\n\n## Authentication\n**Available for Client Tokens only.**\n\n## Required Fields\nBefore submitting, call `GET /client_api/v1/portals/{business_uid}/contact/get_form` to discover required fields for the business's form configuration.\n\nFor the default `leave_details` form, `subject` and `message` are typically required fields. Any field marked with `required: true` in the form response must be provided with a non-empty value, or the API returns HTTP 422.\n\n## Request Body Structure\nThe `form_data.fields` object is a dynamic map where keys are field IDs and values are the field values. Field IDs can be obtained from the GET form response.",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "description": "business_uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "form_data"
                ],
                "properties": {
                  "form_data": {
                    "type": "object",
                    "required": [
                      "fields"
                    ],
                    "description": "Form data containing field values. This is an object (NOT an array) with a 'fields' property.",
                    "properties": {
                      "fields": {
                        "type": "object",
                        "description": "Dynamic map of field IDs to values. Field IDs include fixed keys like 'subject' and 'message', plus any custom field IDs from the form configuration. Get valid field IDs from GET /client_api/v1/portals/{business_uid}/contact/get_form.",
                        "additionalProperties": {
                          "type": "string"
                        },
                        "example": {
                          "subject": "Contact inquiry",
                          "message": "Hello, I would like more information"
                        }
                      }
                    }
                  },
                  "source_data": {
                    "type": "object",
                    "properties": {
                      "isWidget": {
                        "description": "Whether the form was submitted from a widget. **Must be a boolean value (true/false), not a string.**",
                        "type": "boolean"
                      },
                      "o": {
                        "description": "The origin type in Base64",
                        "type": "string"
                      },
                      "s": {
                        "description": "The source url",
                        "type": "string"
                      },
                      "topUrl": {
                        "description": "The top url in Base64",
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "auto_reply_message": null,
                    "conversation_uid": "ppnmz70yqxltzz6j",
                    "id": 22,
                    "uid": "xlc8czadb3tyag1k"
                  },
                  "status": "OK"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error - Empty or missing required fields. Use GET .../contact/get_form to discover required field IDs.",
            "content": {
              "application/json": {
                "example": {
                  "errors": [
                    {
                      "code": "invalid",
                      "field": "subject",
                      "message": "This field cannot be empty"
                    }
                  ],
                  "success": false
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/client_api/v1/portals/{business_uid}/share_documents_form/get_form": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get Share Documents Form",
        "description": "## Overview\nGets the share documents form of the business.\n\n## Authentication\n**Available for Client Tokens only.**",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Share Documents Form",
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "description": "Please fill out your details below so we can process your request.",
                      "sections": [
                        {
                          "description": "Please fill out your details below so we can process your request.",
                          "fields": [
                            [
                              {
                                "id": "documents",
                                "label": "Select your files",
                                "required": true,
                                "type": "documents"
                              }
                            ],
                            [
                              {
                                "id": "title",
                                "label": "Document Title",
                                "required": false,
                                "type": "title"
                              }
                            ],
                            [
                              {
                                "id": "message",
                                "label": "Message",
                                "required": false,
                                "type": "multiline"
                              }
                            ]
                          ],
                          "title": "",
                          "type": "message_info"
                        }
                      ],
                      "title": "Share documents form",
                      "type": "share_documents"
                    }
                  ],
                  "status": "OK"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/client_api/v1/portals/{business_uid}/share_documents_form/submit": {
      "post": {
        "tags": [
          "Forms"
        ],
        "summary": "Submits Share Documents Form",
        "description": "## Overview\nSubmits Share Documents Form to the business.\n\n## Authentication\n**Available for Client Tokens only.**\n\n## Critical Requirement\nThe `matter_uid` query parameter must reference a matter with an assigned staff member. Without this, the endpoint returns 500 due to a server-side bug.\n\n## Request Format\nThis endpoint requires `multipart/form-data` format with actual binary file uploads (not JSON). Documents must be uploaded as form fields with proper content types.\n\n## Important: Field Naming Convention\n**Document fields MUST use explicit numeric indices** (e.g., `[0]`, `[1]`), NOT empty brackets `[]`.\n\n- Correct: `form_data[fields][documents][0]=@file.pdf`\n- Wrong: `form_data[fields][documents][]=@file.pdf` (causes 500 error)\n\nThis is because the server expects a Hash structure, not an Array.\n\n## Captcha\nWhen the business has the `captcha_intake_form` feature enabled, a valid `captcha_token` is required.\n\n## Example cURL\n```bash\ncurl -X POST 'https://api.vcita.biz/client_api/v1/portals/{business_uid}/share_documents_form/submit?matter_uid={matter_uid}' \\\n  -H 'Authorization: Bearer {token}' \\\n  -F 'form_data[fields][title]=My Document' \\\n  -F 'form_data[fields][message]=Please review' \\\n  -F 'form_data[fields][documents][0]=@file.pdf;type=application/pdf'\n```",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matter_uid",
            "in": "query",
            "required": true,
            "description": "The matter/conversation UID to associate with the document upload. **Critical**: The matter must have an assigned staff member to avoid 500 errors.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "form_data[fields][documents][0]"
                ],
                "properties": {
                  "form_data[fields][title]": {
                    "type": "string",
                    "description": "Document title"
                  },
                  "form_data[fields][message]": {
                    "type": "string",
                    "description": "Message accompanying the documents"
                  },
                  "form_data[fields][documents][0]": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload. **Important**: Use explicit indices `[0]`, `[1]`, etc. - NOT empty brackets `[]`. For multiple files, use `form_data[fields][documents][0]`, `form_data[fields][documents][1]`, etc."
                  },
                  "captcha_token": {
                    "type": "string",
                    "description": "reCAPTCHA token. Required when business has captcha_intake_form feature enabled."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success - Documents submitted successfully.",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "id": 142055507,
                    "uid": "gpybls1zgpmono0o",
                    "conversation_uid": "hf3gtvitw2ycg3ix",
                    "auto_reply_message": "Thank you for your message."
                  },
                  "status": "OK"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error or Business Blocked.\n\n**Validation Error**: Missing required fields like documents.\n\n**Business Blocked**: When the business is flagged as spammer or user access is blocked, returns 422 with NO explicit error message - only `auto_reply_message` in the data object.",
            "content": {
              "application/json": {
                "examples": {
                  "validation_error": {
                    "value": {
                      "errors": [
                        {
                          "code": "invalid",
                          "field": "documents",
                          "message": "Documents are required"
                        }
                      ],
                      "success": false
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Occurs when the matter does not have an assigned staff member or when an empty JSON body is sent instead of multipart/form-data.",
            "content": {
              "application/json": {
                "example": {
                  "error": "undefined method `can_receive_sms?' for nil:NilClass",
                  "status": "Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/forms": {
      "get": {
        "tags": [
          "Forms"
        ],
        "summary": "Get Forms List",
        "description": "## Overview\nGet forms list.\n\n## Authentication\n**Available for Staff, App, and Directory tokens.**",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number of results. Default: 1",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "How many items to return per page. Default: 25. Max: 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "forms": []
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Forms"
        ],
        "summary": "Updates a Form",
        "description": "## Overview\nUpdate a Form.\n\n## Authentication\n**Available for Staff, App, and Directory tokens.**",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sections": {
                    "description": "A list sections in the form",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fields": {
                          "description": "A list fields in the form",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "default_value": {
                                "description": "The default value the field should have",
                                "type": "string"
                              },
                              "id": {
                                "description": "Field Id",
                                "type": "string"
                              },
                              "keep_asking": {
                                "description": "Should a value be requested until one was provided?",
                                "type": "boolean"
                              },
                              "required": {
                                "description": "Is this field required?",
                                "type": "boolean"
                              },
                              "type": {
                                "description": "Field Type",
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "type": {
                    "description": "The type of the form",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Form Updated",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "sections": [
                      {
                        "editable": true,
                        "fields": [
                          {
                            "default_value": "",
                            "id": "qh0ki5qtre0ayi0q",
                            "keep_asking": false,
                            "required": false,
                            "type": "singleline"
                          }
                        ]
                      }
                    ],
                    "type": "client_card"
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/clients/{client_id}/documents": {
      "get": {
        "tags": [
          "Documents"
        ],
        "summary": "Get Documents For A Client",
        "description": "## Overview\nGets a list of documents for a client.\n\n## Authentication\n**Available for Staff, App, and Directory Tokens.**",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "Client UID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number of results. Default: 1",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "How many items to return per page. Default: 25. Max: 100",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "documents": []
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/search/search_docuforms": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Search docuforms activities",
        "description": "## Overview\nSearches for docuforms (documents and forms) activities within the business. Results are scoped based on the requesting staff member's permissions.\n\n### Staff Scoping\n- **Admin staff** (with full client access): Can see all docuforms activities, unless `teams_view_filter=me` is specified.\n- **Non-admin staff**: Can only see their own docuforms activities, unless they have shared view access.\n\nAvailable for **Staff and Internal tokens**.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The search text to match against docuforms data. Defaults to `*` (all) if not provided.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based).",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of results per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "select_all",
            "in": "query",
            "description": "When set to true, returns all matching docuforms without pagination limits.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "teams_view_filter",
            "in": "query",
            "description": "When set to `me`, restricts results to only the current staff member's docuforms, even if the staff has admin access.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "me"
              ]
            }
          },
          {
            "name": "signature_status",
            "in": "query",
            "description": "Filter by signature status. Common values include: pending, awaiting_signature, sent, signed, declined.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "awaiting_signature",
                "sent",
                "signed",
                "declined"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Docuforms search completed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocuformsSearchResponse"
                },
                "example": {
                  "counts": 2,
                  "top_hits": {
                    "docuforms_activity": [
                      {
                        "uid": "dfa_abc123",
                        "type": "invoice",
                        "status": "sent",
                        "signature_status": "pending",
                        "created_at": "2026-01-20T14:30:00Z"
                      },
                      {
                        "uid": "dfa_def456",
                        "type": "estimate",
                        "status": "viewed",
                        "signature_status": "awaiting_signature",
                        "created_at": "2026-01-18T09:15:00Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing, invalid, or not allowed to access the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "401 Unauthorized"
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout. The Seeker search service is unavailable or timed out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/assets/files": {
      "post": {
        "operationId": "FilesController_upload",
        "summary": "Create a new file",
        "description": "Create a new file for the specified business. The API returns immediately with status='pending'. File processing (virus scan, S3 upload, thumbnail generation) happens asynchronously in the background.\n\nIf a duplicate file is detected via SHA-256 content hash, the existing file is returned immediately with status='uploaded'.\n\nRate limit: 10 uploads per user per 10 minutes. Maximum file size: 100MB.\n\nAvailable for **Staff and Client tokens**.",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicate file detected - existing file returned immediately (no processing needed)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "File upload initiated successfully (new file, async processing started)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid file type, name, or size"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Feature disabled for this business"
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (10 uploads per 10 minutes)"
          }
        },
        "security": [
          {
            "Files": []
          }
        ]
      },
      "get": {
        "operationId": "FilesController_findAll",
        "summary": "Get All Files",
        "description": "Retrieves files for the specified business, optionally filtered by status or a list of file UIDs. Results include pre-signed S3 URLs for file download and thumbnails when the file is ready. Soft-deleted files are never returned.\n\nAvailable for **Staff and Client tokens**.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by file processing status (e.g., \"uploaded\", \"pending\"). Soft-deleted files are never returned regardless of this filter.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "scanning",
                "scanned",
                "uploaded",
                "infected",
                "failed",
                "linked",
                "deleted"
              ]
            }
          },
          {
            "name": "file_uids",
            "in": "query",
            "required": false,
            "description": "One or more file UIDs to fetch. Repeat the parameter for multiple values (e.g., \"file_123abc\", \"file_456def\").",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of files per page (default: 20, max: 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiFileResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to access files for this entity"
          }
        },
        "security": [
          {
            "Files": []
          }
        ]
      }
    },
    "/v3/assets/files/{uid}": {
      "get": {
        "operationId": "FilesController_findOne",
        "summary": "Get a file by UID",
        "description": "Retrieves a specific file by its unique identifier.\n\nUsed for status polling after upload to check if processing (scan, S3 upload, thumbnails) is complete. Response includes pre-signed S3 URLs when file is ready. Permission checks are performed via the Core service and cached for 15 minutes.\n\nAvailable for **Staff and Client tokens**.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the file to retrieve (e.g., \"file_123abc\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to access this file"
          },
          "404": {
            "description": "Not Found - File does not exist"
          }
        },
        "security": [
          {
            "Files": []
          }
        ]
      },
      "delete": {
        "operationId": "FilesController_delete",
        "summary": "Delete a file",
        "description": "Soft deletes a specific file.\n\n File will be permanently deleted in 30 days.\n\nAvailable for **Staff tokens only**.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the file to delete (e.g., \"file_123abc\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully (soft delete). Returns the deleted file entity.\n\nFile will be permanently deleted in 30 days.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to delete this file"
          },
          "404": {
            "description": "Not Found - File does not exist"
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Files": []
          }
        ]
      }
    },
    "/v3/assets/file_entities": {
      "post": {
        "operationId": "FileEntitiesController_create",
        "summary": "Create a file-entity relation",
        "description": "Links an existing file to a business entity (e.g., an invoice, message, or appointment). The referenced file must already exist and be in a usable state ('scanned', 'uploaded', or 'linked'). Once a file has at least one active relation its status becomes 'linked', protecting it from cleanup.\n\nFor **Client tokens**, the client_uid is derived from the token and any value supplied in the body is ignored. For **Staff tokens**, client_uid may be provided to associate the relation with a specific client.\n\nAvailable for **Staff and Client tokens**.",
        "tags": [
          "File Entities"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileEntityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Relation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/fileEntity.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - File is not ready or is in an unusable state"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "404": {
            "description": "Not Found - File does not exist"
          },
          "409": {
            "description": "Conflict - A relation between this file and entity already exists"
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Files": []
          }
        ]
      },
      "get": {
        "operationId": "FileEntitiesController_findByEntity",
        "summary": "Get file relations by entity",
        "description": "Retrieves the file-entity relations for a given entity, each including the linked file's details. Results are paginated.\n\nAvailable for **Staff and Client tokens**.",
        "tags": [
          "File Entities"
        ],
        "parameters": [
          {
            "name": "entity_type",
            "in": "query",
            "required": true,
            "description": "Type of entity to fetch relations for (e.g., \"invoice\", \"message\", \"appointment\").",
            "schema": {
              "type": "string",
              "enum": [
                "message",
                "invoice",
                "payment",
                "appointment",
                "estimate"
              ]
            }
          },
          {
            "name": "entity_uid",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the entity to fetch relations for (e.g., \"inv_123abc\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of relations per page (default: 20).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/FileEntitiesResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to access relations for this entity"
          }
        },
        "security": [
          {
            "Files": []
          }
        ]
      },
      "delete": {
        "operationId": "FileEntitiesController_deleteByEntity",
        "summary": "Delete all relations for an entity",
        "description": "Soft deletes every file-entity relation for the given entity and returns the number of relations deleted. Files left with no remaining active relations may become eligible for cleanup.\n\nAvailable for **Staff and Client tokens**.",
        "tags": [
          "File Entities"
        ],
        "parameters": [
          {
            "name": "entity_type",
            "in": "query",
            "required": true,
            "description": "Type of entity whose relations should be deleted (e.g., \"invoice\", \"message\", \"appointment\").",
            "schema": {
              "type": "string",
              "enum": [
                "message",
                "invoice",
                "payment",
                "appointment",
                "estimate"
              ]
            }
          },
          {
            "name": "entity_uid",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the entity whose relations should be deleted (e.g., \"inv_123abc\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relations deleted successfully (soft delete). Returns the number of relations removed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DeleteFileEntitiesResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to delete relations for this entity"
          }
        },
        "security": [
          {
            "Files": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DocuformsSearchResponse": {
        "type": "object",
        "description": "Response for docuforms (documents/forms) search.",
        "properties": {
          "counts": {
            "type": "integer",
            "description": "Total number of matching docuforms activities."
          },
          "top_hits": {
            "type": "object",
            "properties": {
              "docuforms_activity": {
                "type": "array",
                "description": "Array of matching docuforms activity records.",
                "items": {
                  "type": "object",
                  "description": "A docuforms activity record.",
                  "properties": {
                    "uid": {
                      "type": "string",
                      "description": "Unique identifier of the docuform activity."
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the activity (e.g., invoice, estimate, form)."
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the activity (e.g., sent, viewed)."
                    },
                    "signature_status": {
                      "type": "string",
                      "description": "Signature status of the document (e.g., pending, awaiting_signature, sent, signed, declined)."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The date and time when the activity was created."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DocumentSearchHit": {
        "type": "object",
        "description": "A document record returned from search results.",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Unique identifier of the document."
          },
          "direction": {
            "type": "string",
            "description": "Direction of the document (e.g., \"business\" for outgoing, \"client\" for incoming). Note: internal \"pivot\" direction is mapped to \"business\"."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "The date and time when the document was created."
          },
          "created_at_h": {
            "type": "string",
            "description": "Human-readable formatted creation date."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong."
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "UploadFileRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The file binary content to upload. Maximum size: 100MB."
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "Optional filename override. If not provided, the original filename from the uploaded file is used. Maximum length: 255 characters (e.g., \"document.pdf\", \"photo.jpg\")."
          },
          "metadata": {
            "type": "object",
            "description": "Optional JSON object containing arbitrary key-value pairs for additional file metadata (e.g., {\"source\": \"chat\", \"conversation_id\": \"conv_123\"})."
          }
        },
        "required": [
          "file"
        ]
      },
      "MultiFileResponse": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "total_pages": {
                "type": "integer"
              }
            }
          }
        },
        "required": [
          "files"
        ]
      },
      "CreateFileEntityRequest": {
        "type": "object",
        "properties": {
          "file_uid": {
            "type": "string",
            "description": "Unique identifier of the file to link (e.g., \"file_123abc\"). Must reference an existing file in a usable state ('scanned', 'uploaded', or 'linked')."
          },
          "entity_type": {
            "type": "string",
            "enum": [
              "message",
              "invoice",
              "payment",
              "appointment",
              "estimate"
            ],
            "description": "Type of entity the file is linked to (e.g., \"message\", \"invoice\")."
          },
          "entity_uid": {
            "type": "string",
            "description": "Unique identifier of the entity the file is linked to (e.g., \"inv_123abc\")."
          },
          "client_uid": {
            "type": "string",
            "description": "Optional client UID to associate with the relation (e.g., \"client_789abc\"). Ignored for Client tokens, where it is derived from the token."
          }
        },
        "required": [
          "file_uid",
          "entity_type",
          "entity_uid"
        ]
      },
      "FileEntitiesResponse": {
        "type": "object",
        "properties": {
          "file_entities": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/assets/fileEntity.json"
            },
            "description": "Array of file-entity relations, each including the linked file's details"
          }
        },
        "required": [
          "file_entities"
        ]
      },
      "DeleteFileEntitiesResponse": {
        "type": "object",
        "properties": {
          "deleted_count": {
            "type": "integer",
            "description": "Number of file-entity relations that were soft deleted (e.g., 3)."
          }
        },
        "required": [
          "deleted_count"
        ]
      },
      "ErrorResponse_files": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The field that caused the error (for validation errors)"
                },
                "code": {
                  "type": "string",
                  "description": "The code that caused the error (for validation errors)"
                },
                "message": {
                  "type": "string",
                  "description": "The message that describes the error (for validation errors)"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      },
      "Files": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "tags": []
}
