{
  "openapi": "3.1.0",
  "info": {
    "title": "Communication",
    "description": "Unified OpenAPI specification for communication domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "notification_template.json",
        "staff_notification.json",
        "activity_message.json",
        "business_phone_numbers.json",
        "communication.json",
        "communication.json",
        "legacy_v1_communication.json",
        "messages.json"
      ],
      "pathNormalizations": [
        {
          "file": "communication.json",
          "basePath": "/business/communication",
          "transformations": [
            {
              "original": "/channels",
              "normalized": "/business/communication/channels",
              "basePath": "/business/communication"
            },
            {
              "original": "/channels/{uid}",
              "normalized": "/business/communication/channels/{uid}",
              "basePath": "/business/communication"
            },
            {
              "original": "/messages",
              "normalized": "/business/communication/messages",
              "basePath": "/business/communication"
            },
            {
              "original": "/messages/{messageUid}",
              "normalized": "/business/communication/messages/{messageUid}",
              "basePath": "/business/communication"
            },
            {
              "original": "/oauth",
              "normalized": "/business/communication/oauth",
              "basePath": "/business/communication"
            },
            {
              "original": "/sessions",
              "normalized": "/business/communication/sessions",
              "basePath": "/business/communication"
            },
            {
              "original": "/sessions/typing",
              "normalized": "/business/communication/sessions/typing",
              "basePath": "/business/communication"
            },
            {
              "original": "/sessions/{uid}",
              "normalized": "/business/communication/sessions/{uid}",
              "basePath": "/business/communication"
            }
          ]
        },
        {
          "file": "legacy_v1_communication.json",
          "basePath": "/platform/v1",
          "transformations": [
            {
              "original": "/conversations",
              "normalized": "/platform/v1/conversations",
              "basePath": "/platform/v1"
            },
            {
              "original": "/messages",
              "normalized": "/platform/v1/messages",
              "basePath": "/platform/v1"
            },
            {
              "original": "/numbers/dedicated_numbers/assign",
              "normalized": "/platform/v1/numbers/dedicated_numbers/assign",
              "basePath": "/platform/v1"
            },
            {
              "original": "/numbers/dedicated_numbers/set_two_way_texting_status",
              "normalized": "/platform/v1/numbers/dedicated_numbers/set_two_way_texting_status",
              "basePath": "/platform/v1"
            },
            {
              "original": "/numbers/twilio",
              "normalized": "/platform/v1/numbers/twilio",
              "basePath": "/platform/v1"
            },
            {
              "original": "/numbers/twilio/{sub_account_id}",
              "normalized": "/platform/v1/numbers/twilio/{sub_account_id}",
              "basePath": "/platform/v1"
            }
          ]
        }
      ],
      "pathConflicts": [],
      "componentConflicts": [
        {
          "type": "schema",
          "name": "ErrorResponse",
          "resolution": "Renamed to ErrorResponse_business_phone_numbers",
          "files": [
            "merged",
            "business_phone_numbers.json"
          ]
        },
        {
          "type": "schema",
          "name": "Response",
          "resolution": "Renamed to Response_communication",
          "files": [
            "merged",
            "communication.json"
          ]
        },
        {
          "type": "schema",
          "name": "ErrorResponse",
          "resolution": "Renamed to ErrorResponse_communication",
          "files": [
            "merged",
            "communication.json"
          ]
        },
        {
          "type": "schema",
          "name": "Response",
          "resolution": "Renamed to Response_communication",
          "files": [
            "merged",
            "communication.json"
          ]
        }
      ],
      "totalPaths": 31,
      "totalComponents": 37
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/v3/communication/notification_templates": {
      "get": {
        "summary": "Get all NotificationTemplates",
        "description": "## Overview\nGet a list of NotificationTemplates.\n\nAvailable for **Staff tokens**.",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "notification_templates": {
                              "description": "List of NotificationTemplates",
                              "type": "array",
                              "items": {
                                "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a NotificationTemplate",
        "description": "## Overview\nCreate a new notification template. .**.\n\n**Available for Directory and App tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code_name": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/code_name"
                  },
                  "title": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/title"
                  },
                  "description": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/description"
                  },
                  "category": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/category"
                  },
                  "configurable_by_staff": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/configurable_by_staff"
                  },
                  "content": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/content"
                  }
                },
                "required": [
                  "code_name",
                  "title",
                  "description",
                  "category",
                  "configurable_by_staff",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "NotificationTemplate created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "validation_error",
                      "message": "The request contains invalid data"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/notification_templates/{uid}": {
      "get": {
        "summary": "Retrieve a NotificationTemplate",
        "description": "## Overview\nRetrieve a specific NotificationTemplate based on its unique identifier (UID).",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotificationTemplate not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Notification template not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a NotificationTemplate",
        "description": "## Overview\nUpdate an existing notification template. .**.\n\n**Available for Directory and App tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/title"
                  },
                  "description": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/description"
                  },
                  "category": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/category"
                  },
                  "configurable_by_staff": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/configurable_by_staff"
                  },
                  "content": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/content"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NotificationTemplate updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "validation_error",
                      "message": "The request contains invalid data"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotificationTemplate not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Notification template not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a NotificationTemplate",
        "description": "## Overview\nDelete a specific NotificationTemplate based on its unique identifier (UID). .**.\n\n**Available for Directory and App tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "responses": {
          "200": {
            "description": "NotificationTemplate deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "message": "Notification template deleted successfully"
                }
              }
            }
          },
          "404": {
            "description": "NotificationTemplate not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Notification template not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/staff_notifications": {
      "post": {
        "summary": "Create a StaffNotification",
        "description": "## Overview\nCreate a new StaffNotification for a staff member. .**.\n\n**Available for Directory or App Token**",
        "tags": [
          "Staff Notification"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffNotificationCreate"
              },
              "example": {
                "staff_uid": "staff-67890",
                "notification_template_code_name": "new_appointment_created",
                "locale": "en",
                "params": [
                  {
                    "key": "client_name",
                    "value": "John Doe"
                  },
                  {
                    "key": "appointment_time",
                    "value": "2023-05-15T14:30:00Z"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Staff notification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/staff_notification.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/staff_notifications/{uid}": {
      "get": {
        "summary": "Retrieve a StaffNotification",
        "description": "## Overview\nRetrieve a StaffNotification by its unique identifier.\n\nAvailable for **Directory tokens**.",
        "tags": [
          "Staff Notification"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the StaffNotification",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StaffNotification retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/staff_notification.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Staff notification not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/activity_messages": {
      "post": {
        "operationId": "sendActivityMessage",
        "summary": "Create an ActivityMessage",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_uid": {
                    "type": "string",
                    "description": "The unique identifier of the business that is sending the message"
                  },
                  "staff_uid": {
                    "type": "string",
                    "description": "The unique identifier of the staff that is sending the message"
                  },
                  "client_uid": {
                    "type": "string",
                    "description": "The unique identifier of the client the message is sent to"
                  },
                  "activity_type": {
                    "type": "string",
                    "enum": [
                      "invite"
                    ],
                    "description": "Activity category type from a closed list."
                  },
                  "activity_action": {
                    "type": "string",
                    "enum": [
                      "schedule"
                    ],
                    "description": "Action related to the activity type property."
                  },
                  "channels": {
                    "type": "array",
                    "description": "Determines if the message should be sent via email or/and SMS.",
                    "items": {
                      "type": "string",
                      "enum": [
                        "email",
                        "sms"
                      ]
                    }
                  },
                  "message_text": {
                    "type": "object",
                    "properties": {
                      "body": {
                        "type": "string",
                        "description": "The main content of the message."
                      },
                      "subject": {
                        "type": "string",
                        "description": "A summary of the message content (limited to 200 characters)"
                      }
                    }
                  },
                  "cta_button_text": {
                    "type": "string",
                    "description": "In the Email, this text will appear on the button embedded in the email message"
                  },
                  "link_url_params": {
                    "type": "object",
                    "description": "The parameters for the Email action button or SMS link. for example: {\n\"utm_source\": \"newsletter\",\n\"utm_campaign\": \"summer_sale\"\n}"
                  }
                },
                "required": [
                  "client_uid",
                  "activity_type",
                  "activity_action",
                  "channels"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/activityMessage.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error. The request is invalid. (missing required fields, invalid values, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "missing_field",
                      "message": "Missing mandatory field."
                    },
                    {
                      "code": "invalid",
                      "message": "activity_type value is invalid."
                    },
                    {
                      "code": "too_long",
                      "message": "Sms body text is too long. Maximum length is 550 characters."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing, invalid or not allowed to access the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "401 Unauthorized"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource was not found. (staff, client or business)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Client Not Found: The specified client ID does not exist."
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "too_many_requests",
                      "message": "Rate limit exceeded"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Activity Message"
        ],
        "description": "## Overview\nCreate an ActivityMessage Available for **Staff, App, and Directory tokens**.",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/available_phone_numbers": {
      "get": {
        "operationId": "AvailablePhoneNumbersController_findAll",
        "summary": "Retrieve All AvailablePhoneNumbers",
        "description": "## Overview\nRetrieves a list of phone numbers.",
        "parameters": [
          {
            "name": "country_code",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by ISO 3166-1 alpha-2 country code (e.g., \"US\", \"CA\", \"GB\", \"AU\")"
          },
          {
            "name": "area_code",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by area code (e.g., \"302\"). Required if country_code is \"US\"."
          },
          {
            "name": "features",
            "required": false,
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "VOICE",
                  "SMS"
                ]
              }
            },
            "description": "Filter by telephony features (e.g., [\"VOICE\", \"SMS\"])."
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available phone numbers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiAvailablePhoneNumberResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid query parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          }
        },
        "tags": [
          "Available Phone Numbers"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/business_phone_numbers": {
      "post": {
        "operationId": "BusinessPhoneNumbersController_create",
        "summary": "Create a BusinessPhoneNumber",
        "description": "## Overview\nPurchase a phone number from a telecom provider and assign it to a business account. For US and Canadian phone numbers with text messaging, verification_request_data is required to register your business with mobile carriers and ensure reliable message delivery. Available for **Staff and Directory tokens**.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessPhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business phone number created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/businessPhoneNumber.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "409": {
            "description": "Conflict - Phone number already exists or is not available"
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Business Phone Numbers"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "BusinessPhoneNumbersController_findAll",
        "summary": "Retrieve all BusinessPhoneNumbers",
        "description": "## Overview\nRetrieves a list of all business phone numbers associated with a business account.",
        "responses": {
          "200": {
            "description": "List of business phone numbers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiBusinessPhoneNumberResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          }
        },
        "tags": [
          "Business Phone Numbers"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/business_phone_numbers/{uid}": {
      "get": {
        "operationId": "BusinessPhoneNumbersController_findOne",
        "summary": "Retrieve a BusinessPhoneNumber",
        "description": "## Overview\nFetches detailed information about a single business phone number using its unique identifier.\n\nAvailable for **Business and Directory tokens** only. Staff tokens without business context will be rejected.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the business phone number"
          }
        ],
        "responses": {
          "200": {
            "description": "Business phone number retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/businessPhoneNumber.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "404": {
            "description": "Not found - Business phone number not found"
          }
        },
        "tags": [
          "Business Phone Numbers"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "operationId": "BusinessPhoneNumbersController_update",
        "summary": "Update a BusinessPhoneNumber",
        "description": "## Overview\nUpdate the verification request data for a business phone number.\n\nAvailable for **Business and Staff tokens** only. Requires business context.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the business phone number",
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessPhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business phone number updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/businessPhoneNumber.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "404": {
            "description": "Not found - Business phone number not found"
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Business Phone Numbers"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/voice_call_settings": {
      "post": {
        "operationId": "SettingsController_create",
        "summary": "Create a VoiceCallSetting",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallSetting.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Settings"
        ],
        "description": "## Overview\nCreate a VoiceCallSetting Available for **Staff, App, and Directory tokens**.",
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "SettingsController_get",
        "summary": "Get all VoiceCallSettings",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiResponseEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Settings"
        ],
        "description": "## Overview\nGet all VoiceCallSettings.",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/voice_call_settings/{uid}": {
      "put": {
        "operationId": "SettingsController_update",
        "summary": "Update VoiceCallSetting",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallSetting.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Settings"
        ],
        "description": "## Overview\nUpdate VoiceCallSetting Available for **Staff, App, and Directory tokens**.",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/voice_calls": {
      "get": {
        "operationId": "VoiceCallsController_getAll",
        "summary": "Get all VoiceCalls",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "description": "Filter by a field. Example: filter[created_at][gt]=2019-01-01, filter[name]=my-name",
            "required": false,
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiVoiceCallResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call"
        ],
        "description": "## Overview\nGet all VoiceCalls.",
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "operationId": "VoiceCallsController_create",
        "summary": "Create a VoiceCall",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoiceCall"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call"
        ],
        "description": "## Overview\nCreate a VoiceCall Available for **Staff, App, and Directory tokens**.",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/voice_calls/{uid}": {
      "get": {
        "operationId": "VoiceCallsController_get",
        "summary": "Retrieve a VoiceCall",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call"
        ],
        "description": "## Overview\nRetrieve a VoiceCall.",
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "operationId": "VoiceCallsController_update",
        "summary": "Update a VoiceCall",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVoiceCall"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call"
        ],
        "description": "## Overview\nUpdate a VoiceCall Available for **Staff, App, and Directory tokens**.",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/voice_call_recordings/{uid}": {
      "put": {
        "operationId": "RecordingsController_updateVoiceCallRecording",
        "summary": "Update a VoiceCallRecording",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVoiceCallRecording"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a voiceCall entity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Recordings"
        ],
        "description": "## Overview\nUpdate a VoiceCallRecording Available for **Staff, App, and Directory tokens**.",
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "RecordingsController_deleteVoiceCallRecording",
        "summary": "Delete a VoiceCallRecording",
        "description": "## Overview\nDeletes a voice call recording and returns a voiceCall entity Available for **Staff, App, and Directory tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a voiceCall entity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Recordings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/voice_call_quotas": {
      "get": {
        "operationId": "QuotasController_getQuota",
        "summary": "Retrieve a VoiceCallQuota",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiQuotaResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Quota"
        ],
        "description": "## Overview\nRetrieve a VoiceCallQuota.",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/voice_calls/reports/voice_call_stats": {
      "get": {
        "operationId": "ReportsController_getVoiceCallStats",
        "summary": "Get voice call stats",
        "description": "## Overview\nReturns aggregated voice call status counts for the requested period and status filter.",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date for the report period in YYYY-MM-DD format. If omitted, returns entries from the beginning of the available data.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date for the report period in YYYY-MM-DD format. If omitted, returns entries to the end of the available data.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by a specific voice call status. If not provided, returns all statuses.",
            "schema": {
              "type": "string",
              "enum": [
                "INCOMING_CALL",
                "ANSWERED_BY_STAFF",
                "MISSED",
                "ANSWERED_BY_CALLS_PROVIDER",
                "MISSED_CALL_HANDLED",
                "VOICEMAIL_RECEIVED"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/VoiceCallStatsResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Reports"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/channels": {
      "post": {
        "description": "## Overview\nCreate a new business' communication channel Available for **Staff, App, and Directory tokens**.",
        "operationId": "ChannelsController_create",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Channel has been successfully registered.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ChannelResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create a Business Communication Channel",
        "tags": [
          "channels"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelDto"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/channels/{uid}": {
      "delete": {
        "description": "## Overview\nDeletes an existing channel Available for **Staff, App, and Directory tokens**.",
        "operationId": "ChannelsController_deleteChannel",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BaseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete a Business Communication Channel",
        "tags": [
          "channels"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "description": "## Overview\nUpdate an existing communication channel Available for **Staff, App, and Directory tokens**.",
        "operationId": "ChannelsController_updateChannel",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel status updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BaseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Update a Business Communication Channel",
        "tags": [
          "channels"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/messages": {
      "post": {
        "description": "## Overview\nSend a message to a business Available for **Staff, App, and Directory tokens**.",
        "operationId": "MessagesController_createMessage",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Message sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MessageResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create a Business Communication Message",
        "tags": [
          "messages"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageDto"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/messages/{messageUid}": {
      "put": {
        "description": "## Overview\nUpdate message status Available for **Staff, App, and Directory tokens**.",
        "operationId": "MessagesController_updateStatus",
        "parameters": [
          {
            "in": "path",
            "name": "messageUid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message status updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BaseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Update Business Communication Message",
        "tags": [
          "messages"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMessageDto"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/oauth": {
      "get": {
        "operationId": "OauthController_generateOauthToken",
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "oauth"
        ],
        "summary": "Generate a Communication OAuth Token",
        "description": "## Overview\nGenerate a Communication OAuth Token.",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/sessions": {
      "get": {
        "description": "## Overview\nDeep object style. Exmaple: filter[channel_uid]=channeluuid.",
        "operationId": "SessionsController_getSession",
        "parameters": [
          {
            "description": "Channel  identifier",
            "in": "query",
            "name": "channel_uid",
            "required": true,
            "x-example": "c697a91c-ce0c-469e-918b-fdc2ff6f8a04",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Business identifier",
            "in": "query",
            "name": "business_uid",
            "required": true,
            "x-example": "5wbdaiig4avpwl40",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "vCita contanct identifier",
            "in": "query",
            "name": "contact_uid",
            "required": false,
            "x-example": "2nbreiig9avawl81",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions of specific channel (can be filtered by contact_uid)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiSessionResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Retrieve a Business Communication Session",
        "tags": [
          "sessions"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "description": "## Overview\nCreate a new inactive session over a channel between the app's contact and vCita's contact Available for **Staff, App, and Directory tokens**.",
        "operationId": "SessionsController_createSession",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Session created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SessionResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create a Business Communication Session",
        "tags": [
          "sessions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionDto"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/sessions/typing": {
      "post": {
        "description": "## Overview\nPopulate typing indicator status Available for **Staff, App, and Directory tokens**.",
        "operationId": "SessionsTypingController_typingStatus",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BaseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create a Business Communication Session Typing indicator",
        "tags": [
          "sessions"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/sessions/{uid}": {
      "delete": {
        "description": "## Overview\nDeletes an existing session Available for **Staff, App, and Directory tokens**.",
        "operationId": "SessionsController_logicDelete",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BaseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete a Business Communication Session",
        "tags": [
          "sessions"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "description": "## Overview\nActivating/deactivating an existing session Available for **Staff, App, and Directory tokens**.",
        "operationId": "SessionsController_updateStatus",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session activation request received successfully. Once change has occurred, the App will receive an API request confirming the status change.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SessionResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Update a Business Communication Session",
        "tags": [
          "sessions"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionDto"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/conversations": {
      "get": {
        "description": "## Overview\nGets a list of conversations.",
        "parameters": [
          {
            "description": "Page number of results. Default: 1",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "How many items to return per page. Default: 25. Max: 100",
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Folder - Inbox / Follow-up / Sent / Archived",
            "in": "query",
            "name": "folder",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "conversations": [
                      {
                        "business_id": "2f27ca024eb96133",
                        "business_unread": false,
                        "client_id": "od0tuoli2prraw3y",
                        "client_unread": false,
                        "created_at": "2025-08-05T06:56:33.583Z",
                        "deep_link": "/app/conversations/uuk21b7xv53er6zq",
                        "id": "uuk21b7xv53er6zq",
                        "last_business_action": "",
                        "last_client_action": null,
                        "staff_id": "6ad7601fd821c8d2",
                        "title": null,
                        "updated_at": "2025-08-05T06:56:33.583Z"
                      },
                      {
                        "business_id": "2f27ca024eb96133",
                        "business_unread": false,
                        "client_id": "dn7ucrylnqxrb52l",
                        "client_unread": false,
                        "created_at": "2025-08-05T06:56:34.629Z",
                        "deep_link": "/app/conversations/lzth35ivm33uo073",
                        "id": "lzth35ivm33uo073",
                        "last_business_action": "",
                        "last_client_action": null,
                        "staff_id": "6ad7601fd821c8d2",
                        "title": null,
                        "updated_at": "2025-08-05T06:56:34.629Z"
                      }
                    ]
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "summary": "Get Conversations",
        "tags": [
          "Conversations"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/conversations"
        },
        "x-auth-type": "Application & Application User",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/messages": {
      "post": {
        "description": "## Overview\nCreates a Message Available for **Staff, App, and Directory tokens**.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "conversation_uid": "pyrbkggxakbjywxx",
                    "id": 21,
                    "uid": "ysrimghchgc0x6zl"
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "summary": "Create a Message",
        "tags": [
          "Messages"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/messages"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "message": {
                    "description": "Message",
                    "properties": {
                      "channels": {
                        "description": "Comma separated list of channels. Valid values: sms,email. By default will send to all.",
                        "type": "string"
                      },
                      "client_id": {
                        "description": "Client ID",
                        "type": "string"
                      },
                      "conversation_title": {
                        "description": "Conversation Title",
                        "type": "string"
                      },
                      "conversation_uid": {
                        "description": "Use conversation_uid for adding a message to an existing conversation, do not pass this param for creating new conversation",
                        "type": "string"
                      },
                      "direction": {
                        "description": "Message Direction - client_to_business/business_to_client",
                        "type": "string"
                      },
                      "staff_id": {
                        "description": "Staff Id",
                        "type": "string"
                      },
                      "text": {
                        "description": "Message Text",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "description": "## Overview\nGets a list of messages for a conversation.",
        "parameters": [
          {
            "description": "Conversation ID",
            "in": "query",
            "name": "conversation_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number of results. Default: 1",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "How many items to return per page. Default: 25. Max: 100",
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "messages": []
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "summary": "Get Messages",
        "tags": [
          "Messages"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/messages"
        },
        "x-auth-type": "Application & Application User",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/numbers/dedicated_numbers/assign": {
      "post": {
        "description": "## Overview\nAssign Dedicated Number For Account, This API requires the 'enable_dedicated_nexmo_number' feature flag to be enabled on your account/directory. For additional information please reach out to our support.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "data": true,
                    "success": true
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "Assign Dedicated Number",
        "tags": [
          "Manage Numbers"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/numbers/dedicated_numbers/assign"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "api_key": {
                    "type": "string"
                  },
                  "business_uid": {
                    "type": "string"
                  },
                  "number": {
                    "type": "string"
                  },
                  "number_type": {
                    "description": "[\"promotional\",\"transactional\"]",
                    "type": "string"
                  }
                },
                "required": [
                  "number",
                  "number_type",
                  "api_key"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/numbers/dedicated_numbers/set_two_way_texting_status": {
      "put": {
        "description": "## Overview\nSet Two Way Texting Status.\n\n**Prerequisites:**\n- Business must have a dedicated number assigned via `POST /platform/v1/numbers/dedicated_numbers/assign` before using this endpoint.\n\nAvailable for **Staff, App, and Directory tokens**.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "data": "inactive",
                    "success": true
                  },
                  "success": true
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Business does not have a dedicated number assigned",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "no_dedicated_number",
                      "message": "No Dedicated Number Found. Business must have a dedicated number assigned via POST /platform/v1/numbers/dedicated_numbers/assign first."
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Set Two Way Texting Status",
        "tags": [
          "Manage Numbers"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/numbers/dedicated_numbers/set_two_way_texting_status"
        },
        "x-auth-type": "Application & Application User",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/numbers/twilio": {
      "post": {
        "description": "## Overview\ntranslation missing: en.messaging-api.twilio.index.post.descriptionn Available for **Staff, App, and Directory tokens**.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "data": {
                      "business_uid": "123asd123asd",
                      "messaging_id": "123abc",
                      "number": "123456789",
                      "sub_account_id": "123aaa"
                    },
                    "success": true
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "translation missing: en.messaging-api.twilio.index.post.titlee",
        "tags": [
          "Manage Numbers"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/numbers/twilio"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "business_uid": {
                    "type": "string"
                  },
                  "messaging_id": {
                    "type": "string"
                  },
                  "number": {
                    "type": "string"
                  },
                  "sub_account_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "business_uid",
                  "number",
                  "messaging_id",
                  "sub_account_id"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/numbers/twilio/{sub_account_id}": {
      "delete": {
        "description": "## Overview\nRemove Twilio Number Available for **Staff, App, and Directory tokens**.",
        "parameters": [
          {
            "description": "Sub Account ID",
            "in": "path",
            "name": "sub_account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "data": {
                      "business_uid": "123asd123asd",
                      "messaging_id": "123abc",
                      "number": "123456789"
                    },
                    "success": true
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "Remove Twilio Number",
        "tags": [
          "Manage Numbers"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "DELETE",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/numbers/twilio/{sub_account_id}"
        },
        "x-auth-type": "Application & Application User",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/channels": {
      "post": {
        "description": "## Overview\nConnecting a business to a primitive messaging channel through known providers.\n\n**Prerequisites:**\n- Business must have a valid `callsandtexting` subscription to use this endpoint.\n- For businesses without the `claim_dedicated_number` feature enabled, the `voice_text_app_installed` parameter must be set to `true`.\n\nAvailable for **Staff, App, and Directory tokens**.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "channel": {
                      "business_uid": "Business UID",
                      "country_code": "Alpha 2 country code",
                      "number": "The claimed (Nexmo)",
                      "provider": "The provider",
                      "status": "Number status"
                    },
                    "success": "true / false"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "Create a mesaging channel",
        "tags": [
          "Messaging Channels"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/messaging/v1/channels"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "channel": {
                    "properties": {
                      "params": {
                        "description": "landline number - Not required",
                        "properties": {
                          "number": {
                            "description": "landline number - Not required",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "provider": {
                        "description": "The messaging provider. Currently only 'nexmo' is supported.",
                        "type": "string",
                        "enum": [
                          "nexmo"
                        ]
                      },
                      "voice_text_app_installed": {
                        "description": "Required when business does not have the `claim_dedicated_number` feature enabled. Set to `true` to indicate the voice/text app is installed.",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/channels/typing": {
      "post": {
        "description": "## Overview\nNotify contacts about account typing indicator. The `source` field determines the processing flow - when set to `business`, it uses the external typing status flow.\n\nAvailable for **Staff, App, and Directory tokens**.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "data": {
                      "data": {
                        "typing": "true / false"
                      },
                      "success": "true / false"
                    },
                    "success": true
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "Notify Typing Indicator",
        "tags": [
          "Typing Indicator"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/messaging/v1/channels/typing"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "contact": {
                    "properties": {
                      "channel_uid": {
                        "description": "The unique identifier of the messaging channel. Required.",
                        "type": "string"
                      },
                      "external_uid": {
                        "description": "The external unique identifier of the contact. Required.",
                        "type": "string"
                      },
                      "source": {
                        "description": "The source of the typing indicator. When set to 'business', uses the external typing status flow.",
                        "type": "string",
                        "enum": [
                          "business",
                          "contact"
                        ]
                      },
                      "typing": {
                        "description": "Whether the user is currently typing.",
                        "type": "boolean"
                      },
                      "uid": {
                        "description": "The unique identifier of the contact.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "channel_uid",
                      "external_uid"
                    ],
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "StaffNotificationCreate": {
        "type": "object",
        "required": [
          "staff_uid",
          "notification_template_code_name"
        ],
        "properties": {
          "staff_uid": {
            "type": "string",
            "description": "The unique identifier of the staff member associated with this StaffNotification."
          },
          "notification_template_code_name": {
            "type": "string",
            "description": "The code name identifying the notification template to be used."
          },
          "locale": {
            "type": "string",
            "description": "The language locale for the notification content.",
            "enum": [
              "en",
              "fr",
              "de",
              "it",
              "pl",
              "pt",
              "es",
              "nl",
              "he",
              "sl",
              "en_gb"
            ],
            "default": "en"
          },
          "params": {
            "type": "array",
            "description": "Additional parameters for populating notification templates.",
[...]
