{
  "openapi": "3.1.0",
  "info": {
    "title": "Communication",
    "description": "Unified OpenAPI specification for communication domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "contact_channels.json",
        "legacy_v1_communication.json",
        "communication.json",
        "activity_message.json",
        "communication.json",
        "conversations.json",
        "notification_template.json",
        "business_phone_numbers.json",
        "legacy_v2_communication.json",
        "staff_notification.json",
        "messages.json"
      ],
      "pathNormalizations": [
        {
          "file": "legacy_v1_communication.json",
          "basePath": "/platform/v1",
          "transformations": [
            {
              "original": "/conversations",
              "normalized": "/platform/v1/conversations",
              "basePath": "/platform/v1"
            },
            {
              "original": "/clients/{client_id}/conversations",
              "normalized": "/platform/v1/clients/{client_id}/conversations",
              "basePath": "/platform/v1"
            },
            {
              "original": "/messages",
              "normalized": "/platform/v1/messages",
              "basePath": "/platform/v1"
            },
            {
              "original": "/numbers/dedicated_numbers/assign",
              "normalized": "/platform/v1/numbers/dedicated_numbers/assign",
              "basePath": "/platform/v1"
            },
            {
              "original": "/numbers/dedicated_numbers/set_two_way_texting_status",
              "normalized": "/platform/v1/numbers/dedicated_numbers/set_two_way_texting_status",
              "basePath": "/platform/v1"
            },
            {
              "original": "/numbers/twilio",
              "normalized": "/platform/v1/numbers/twilio",
              "basePath": "/platform/v1"
            },
            {
              "original": "/numbers/twilio/{sub_account_id}",
              "normalized": "/platform/v1/numbers/twilio/{sub_account_id}",
              "basePath": "/platform/v1"
            }
          ]
        },
        {
          "file": "communication.json",
          "basePath": "/business/communication",
          "transformations": [
            {
              "original": "/channels",
              "normalized": "/business/communication/channels",
              "basePath": "/business/communication"
            },
            {
              "original": "/channels/{uid}",
              "normalized": "/business/communication/channels/{uid}",
              "basePath": "/business/communication"
            },
            {
              "original": "/messages",
              "normalized": "/business/communication/messages",
              "basePath": "/business/communication"
            },
            {
              "original": "/messages/{messageUid}",
              "normalized": "/business/communication/messages/{messageUid}",
              "basePath": "/business/communication"
            },
            {
              "original": "/sessions",
              "normalized": "/business/communication/sessions",
              "basePath": "/business/communication"
            },
            {
              "original": "/sessions/typing",
              "normalized": "/business/communication/sessions/typing",
              "basePath": "/business/communication"
            },
            {
              "original": "/sessions/{uid}",
              "normalized": "/business/communication/sessions/{uid}",
              "basePath": "/business/communication"
            }
          ]
        },
        {
          "file": "conversations.json",
          "basePath": "/v2",
          "transformations": [
            {
              "original": "/conversations/{id}",
              "normalized": "/v2/conversations/{id}",
              "basePath": "/v2"
            }
          ]
        },
        {
          "file": "legacy_v2_communication.json",
          "basePath": "/v2",
          "transformations": [
            {
              "original": "/conversations/{conversation_id}/messages",
              "normalized": "/v2/conversations/{conversation_id}/messages",
              "basePath": "/v2"
            }
          ]
        },
        {
          "file": "messages.json",
          "basePath": "/business/messaging",
          "transformations": [
            {
              "original": "/v1/channels",
              "normalized": "/business/messaging/v1/channels",
              "basePath": "/business/messaging"
            },
            {
              "original": "/v1/channels/typing",
              "normalized": "/business/messaging/v1/channels/typing",
              "basePath": "/business/messaging"
            }
          ]
        }
      ],
      "pathConflicts": [],
      "componentConflicts": [
        {
          "type": "schema",
          "name": "ErrorResponse",
          "resolution": "Renamed to ErrorResponse_communication",
          "files": [
            "merged",
            "communication.json"
          ]
        },
        {
          "type": "schema",
          "name": "ErrorResponse",
          "resolution": "Renamed to ErrorResponse_activity_message",
          "files": [
            "merged",
            "activity_message.json"
          ]
        },
        {
          "type": "schema",
          "name": "Response",
          "resolution": "Renamed to Response_communication",
          "files": [
            "merged",
            "communication.json"
          ]
        },
        {
          "type": "schema",
          "name": "ErrorResponse",
          "resolution": "Renamed to ErrorResponse_conversations",
          "files": [
            "merged",
            "conversations.json"
          ]
        },
        {
          "type": "schema",
          "name": "Response",
          "resolution": "Renamed to Response_business_phone_numbers",
          "files": [
            "merged",
            "business_phone_numbers.json"
          ]
        },
        {
          "type": "schema",
          "name": "ErrorResponse",
          "resolution": "Renamed to ErrorResponse_business_phone_numbers",
          "files": [
            "merged",
            "business_phone_numbers.json"
          ]
        }
      ],
      "totalPaths": 35,
      "totalComponents": 44
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/v3/communication/contact_channels": {
      "get": {
        "operationId": "ContactChannelsController_index",
        "summary": "Get All ContactChannels",
        "description": "## Overview\nReturns the contact-level availability of every communication channel the business has (email, SMS, and installed third-party apps) for a single contact. Each entry reports whether the contact can be reached on that channel and, when not, a machine-readable reason.\n\nThe business is resolved from the caller's staff context; the contact must belong to that business.\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "contact_uid",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the contact (client) to evaluate channel availability for (e.g., \"peu8ljecwqr5ok58\")."
          }
        ],
        "responses": {
          "200": {
            "description": "Contact channel availability retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "contact_channels": {
                              "description": "Availability of each communication channel the business has for the requested contact.",
                              "type": "array",
                              "items": {
                                "type": "object",
                                "description": "Represents the availability of a single communication channel for a specific contact. It combines the business-level capability of the channel with a contact-level eligibility check, so callers can decide how to reach a contact in one lookup. This is a computed, read-only resource (evaluated on request) and therefore has no uid, business_uid, or timestamps.",
                                "properties": {
                                  "channel_uid": {
                                    "type": "string",
                                    "description": "Unique identifier of the channel. For the core channels this is the fixed email/sms channel UID; for third-party apps it is the business channel UID, so multiple channels of the same app can be told apart and targeted individually. Treat this as an opaque value returned by the API rather than one to hardcode."
                                  },
                                  "channel": {
                                    "type": "string",
                                    "description": "Identifier of the communication channel. Core channels are \"email\" and \"sms\"; installed third-party apps use their app code name (e.g., \"facebook\", \"whatsapp\", \"instagram\"). The set of possible values grows as new apps are installed, so treat this as an open string rather than a fixed enum. Note: a business can have multiple channels of the same app, so this value is not unique within the response — use channel_uid to distinguish them."
                                  },
                                  "display_name": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Human-readable name of the channel as set by the business (e.g., a specific Facebook page or WhatsApp number name). Null for the core email and sms channels."
                                  },
                                  "available": {
                                    "type": "boolean",
                                    "description": "Whether the contact can currently be reached on this channel. True only when both the business supports the channel and the contact is individually eligible."
                                  },
                                  "reason": {
                                    "type": "string",
                                    "nullable": true,
                                    "description": "Machine-readable reason the channel is unavailable. Null when the channel is available. Possible values: \"no_email\" (contact has no email address), \"email_blocked\" (email is bounced/blocked and cannot receive), \"no_phone\" (contact has no mobile phone number), \"opted_out\" (contact opted out of transactional SMS), \"no_active_session\" (third-party channel has no active session for the contact), \"app_not_installed\" (business does not have the channel enabled/installed).",
                                    "enum": [
                                      "no_email",
                                      "email_blocked",
                                      "no_phone",
                                      "opted_out",
                                      "no_active_session",
                                      "app_not_installed"
                                    ]
                                  }
                                },
                                "required": [
                                  "channel_uid",
                                  "channel",
                                  "available"
                                ],
                                "example": {
                                  "channel_uid": "kx7m2p9qw4rt8vzn",
                                  "channel": "facebook",
                                  "display_name": "Acme Support Page",
                                  "available": false,
                                  "reason": "no_active_session"
                                }
                              }
                            }
                          },
                          "required": [
                            "contact_channels"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "404": {
            "description": "Not Found - The contact does not exist or does not belong to the authenticated business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "missing",
                      "message": "Contact not found: [peu8ljecwqr5ok58]."
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "contact_uid",
                      "code": "invalid",
                      "message": "contact_uid is required."
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Contact Channels"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/conversations": {
      "get": {
        "description": "## Overview\nGets a list of conversations.\n\nAvailable for **Staff and Directory tokens**. Directory tokens require the `X-On-Behalf-Of` header with the target business UID.",
        "parameters": [
          {
            "description": "Page number of results. Default: 1",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "How many items to return per page. Default: 25. Max: 100",
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Business UID to act on behalf of. Required for Directory tokens.",
            "in": "header",
            "name": "X-On-Behalf-Of",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter conversations by folder. Only honored for staff (user) tokens; admin/app/directory tokens silently ignore this parameter. Unknown values silently fall through to unfiltered results. (e.g., \"inbox\", \"follow_up\", \"sent\", \"archived\", \"attention\", \"trash\", \"all\")",
            "in": "query",
            "name": "folder",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "inbox",
                "follow_up",
                "sent",
                "archived",
                "attention",
                "trash",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "conversations": [
                      {
                        "business_id": "2f27ca024eb96133",
                        "business_unread": false,
                        "client_id": "od0tuoli2prraw3y",
                        "client_unread": false,
                        "created_at": "2025-08-05T06:56:33.583Z",
                        "deep_link": "/app/conversations/uuk21b7xv53er6zq",
                        "id": "uuk21b7xv53er6zq",
                        "last_business_action": "",
                        "last_client_action": null,
                        "staff_id": "6ad7601fd821c8d2",
                        "title": null,
                        "updated_at": "2025-08-05T06:56:33.583Z"
                      },
                      {
                        "business_id": "2f27ca024eb96133",
                        "business_unread": false,
                        "client_id": "dn7ucrylnqxrb52l",
                        "client_unread": false,
                        "created_at": "2025-08-05T06:56:34.629Z",
                        "deep_link": "/app/conversations/lzth35ivm33uo073",
                        "id": "lzth35ivm33uo073",
                        "last_business_action": "",
                        "last_client_action": null,
                        "staff_id": "6ad7601fd821c8d2",
                        "title": null,
                        "updated_at": "2025-08-05T06:56:34.629Z"
                      }
                    ]
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "summary": "Get Conversations",
        "tags": [
          "Conversations"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/conversations"
        },
        "x-auth-type": "Application & Application User",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/clients/{client_id}/conversations": {
      "get": {
        "description": "## Overview\nGets a list of conversations for a client.\n\n## Authentication\n**Available for Staff, App, and Directory Tokens.**",
        "parameters": [
          {
            "description": "Client UID",
            "in": "path",
            "name": "client_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number (default: 1)",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Results per page (default: 25, max: 50)",
            "in": "query",
            "name": "per_page",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "conversations": [
                      {
                        "business_id": "2f27ca024eb96133",
                        "business_unread": false,
                        "client_id": "od0tuoli2prraw3y",
                        "client_unread": false,
                        "created_at": "2025-08-05T06:56:33.583Z",
                        "deep_link": "/app/conversations/uuk21b7xv53er6zq",
                        "id": "uuk21b7xv53er6zq",
                        "last_business_action": "",
                        "last_client_action": null,
                        "staff_id": "6ad7601fd821c8d2",
                        "title": null,
                        "updated_at": "2025-08-05T06:56:33.583Z"
                      }
                    ]
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "summary": "Get Conversations For A Client",
        "tags": [
          "Conversations"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/clients/{client_id}/conversations"
        },
        "x-auth-type": "Application & Application User",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/messages": {
      "post": {
        "description": "## Overview\nCreates a Message.\n\nAvailable for **Staff and Directory tokens**. Directory tokens require the `X-On-Behalf-Of` header with the target business UID.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "conversation_uid": "pyrbkggxakbjywxx",
                    "id": 21,
                    "uid": "ysrimghchgc0x6zl"
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "summary": "Create a Message",
        "tags": [
          "Messages"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/messages"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "description": "Message object wrapper.",
                    "required": [
                      "client_id",
                      "text",
                      "direction"
                    ],
                    "properties": {
                      "channels": {
                        "description": "Comma-separated list of delivery channels (e.g., \"sms\", \"email\"). When omitted, the message is sent to all available channels.",
                        "type": "string"
                      },
                      "client_id": {
                        "description": "The UID of the recipient client. Required to identify the target contact and resolve the conversation.",
                        "type": "string"
                      },
                      "conversation_title": {
                        "description": "Title for the conversation. Optional; used when creating a new conversation.",
                        "type": "string"
                      },
                      "conversation_uid": {
                        "description": "UID of an existing conversation to add the message to. If omitted, the system creates or uses the client's default conversation.",
                        "type": "string"
                      },
                      "direction": {
                        "description": "The direction of the message. Required. Valid values: \"client_to_business\", \"business_to_client\".",
                        "type": "string",
                        "enum": [
                          "client_to_business",
                          "business_to_client"
                        ]
                      },
                      "staff_id": {
                        "description": "UID of the staff member sending the message. Optional — if omitted, the staff is auto-assigned based on business assignment rules.",
                        "type": "string"
                      },
                      "text": {
                        "description": "The text content of the message. Required. Plain text only — do not include HTML tags.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/numbers/dedicated_numbers/assign": {
      "post": {
        "description": "## Overview\nAssign Dedicated Number For Account, This API requires the 'enable_dedicated_nexmo_number' feature flag to be enabled on your account/directory. For additional information please reach out to our support.\n\nAvailable for **Staff, Directory, and Client tokens**",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "data": true,
                    "success": true
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "Assign Dedicated Number",
        "tags": [
          "Manage Numbers"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/numbers/dedicated_numbers/assign"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "api_key": {
                    "type": "string"
                  },
                  "business_uid": {
                    "type": "string"
                  },
                  "number": {
                    "type": "string"
                  },
                  "number_type": {
                    "description": "Array of number types to assign. Must be a JSON array (not a scalar string), e.g. [\"transactional\"] or [\"promotional\",\"transactional\"].",
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "promotional",
                        "transactional"
                      ]
                    }
                  }
                },
                "required": [
                  "number",
                  "number_type",
                  "api_key"
                ],
                "type": "object",
                "example": {
                  "business_uid": "co8yyqp50k0hxzgx",
                  "number": "18335653846",
                  "number_type": [
                    "transactional"
                  ],
                  "api_key": "<your_api_key>"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/numbers/dedicated_numbers/set_two_way_texting_status": {
      "put": {
        "description": "## Overview\nSet Two Way Texting Status.\n\n**Prerequisites:**\n- Business must have a dedicated number assigned via `POST /platform/v1/numbers/dedicated_numbers/assign` before using this endpoint.\n\nAvailable for **Staff, App, and Directory tokens**.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "data": "inactive",
                    "success": true
                  },
                  "success": true
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Business does not have a dedicated number assigned",
            "content": {
              "application/json": {
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "no_dedicated_number",
                      "message": "No Dedicated Number Found. Business must have a dedicated number assigned via POST /platform/v1/numbers/dedicated_numbers/assign first."
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Set Two Way Texting Status",
        "tags": [
          "Manage Numbers"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/numbers/dedicated_numbers/set_two_way_texting_status"
        },
        "x-auth-type": "Application & Application User",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/numbers/twilio": {
      "post": {
        "description": "## Overview\nAdd a Twilio Number Available for **Staff, App, and Directory tokens**.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "data": {
                      "business_uid": "123asd123asd",
                      "messaging_id": "123abc",
                      "number": "123456789",
                      "sub_account_id": "123aaa"
                    },
                    "success": true
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "Add Twilio Number",
        "tags": [
          "Manage Numbers"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/numbers/twilio"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "business_uid": {
                    "type": "string"
                  },
                  "messaging_id": {
                    "type": "string"
                  },
                  "number": {
                    "type": "string"
                  },
                  "sub_account_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "business_uid",
                  "number",
                  "messaging_id",
                  "sub_account_id"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/platform/v1/numbers/twilio/{sub_account_id}": {
      "delete": {
        "description": "## Overview\nRemove Twilio Number Available for **Staff, App, and Directory tokens**.",
        "parameters": [
          {
            "description": "Sub Account ID",
            "in": "path",
            "name": "sub_account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "data": {
                      "business_uid": "123asd123asd",
                      "messaging_id": "123abc",
                      "number": "123456789"
                    },
                    "success": true
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "Remove Twilio Number",
        "tags": [
          "Manage Numbers"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "DELETE",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/numbers/twilio/{sub_account_id}"
        },
        "x-auth-type": "Application & Application User",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/channels": {
      "post": {
        "description": "## Overview\nCreate a new business' communication channel. Available for **Staff, App, and Directory tokens**.\n\n**Note:** Channels start with a `pending` status upon creation. They are activated asynchronously via a webhook callback from the communication-gw to the calling application. The channel will transition to `active` status only after the webhook activation event is received and processed.",
        "operationId": "ChannelsController_create",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Channel has been successfully registered.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ChannelResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create a Business Communication Channel",
        "tags": [
          "Communication Messages (SMS)"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelDto"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/channels/{uid}": {
      "delete": {
        "description": "## Overview\nDeletes an existing channel. Available for **Staff, App, and Directory tokens**.\n\n**Note:** Channels follow an async webhook-based lifecycle. Channels start as `pending` and are activated asynchronously via webhook callback from the communication-gw.",
        "operationId": "ChannelsController_deleteChannel",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BaseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete a Business Communication Channel",
        "tags": [
          "Communication Messages (SMS)"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "description": "## Overview\nUpdate an existing communication channel. Available for **Staff, App, and Directory tokens**.\n\n**Note:** Channels follow an async webhook-based lifecycle. Channels start as `pending` and are activated asynchronously via webhook callback from the communication-gw.",
        "operationId": "ChannelsController_updateChannel",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Channel status updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BaseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Update a Business Communication Channel",
        "tags": [
          "Communication Messages (SMS)"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/messages": {
      "post": {
        "description": "## Overview\nSend a message to a business. Available for **Staff, App, and Directory tokens**.\n\n**Note:** Sending messages requires a channel with `active` status. Channels are activated asynchronously via webhook callback from the communication-gw, not immediately upon creation. Ensure the channel has been activated before attempting to send messages.",
        "operationId": "MessagesController_createMessage",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Message sent successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MessageResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create a Business Communication Message",
        "tags": [
          "Communication Messages (SMS)"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageDto"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/messages/{messageUid}": {
      "put": {
        "description": "## Overview\nUpdate message status. Available for **Staff, App, and Directory tokens**.\n\n**Note:** Messages are part of the async webhook-based communication lifecycle. Sending messages requires a channel with `active` status, which is set asynchronously via webhook callback from the communication-gw.",
        "operationId": "MessagesController_updateStatus",
        "parameters": [
          {
            "in": "path",
            "name": "messageUid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message status updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BaseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Update Business Communication Message",
        "tags": [
          "Communication Messages (SMS)"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMessageDto"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/sessions": {
      "get": {
        "description": "## Overview\nRetrieve sessions. Deep object style. Example: filter[channel_uid]=channeluuid. Available for **Staff, App, and Directory tokens**.\n\n**Note:** Sessions require an active channel (activated via webhook callback from the communication-gw). Sessions themselves are also activated asynchronously via webhook.",
        "operationId": "SessionsController_getSession",
        "parameters": [
          {
            "description": "Channel  identifier",
            "in": "query",
            "name": "channel_uid",
            "required": true,
            "x-example": "c697a91c-ce0c-469e-918b-fdc2ff6f8a04",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Business identifier",
            "in": "query",
            "name": "business_uid",
            "required": true,
            "x-example": "5wbdaiig4avpwl40",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "vCita contanct identifier",
            "in": "query",
            "name": "contact_uid",
            "required": false,
            "x-example": "2nbreiig9avawl81",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sessions of specific channel (can be filtered by contact_uid)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiSessionResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Retrieve a Business Communication Session",
        "tags": [
          "Communication Messages (SMS)"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "description": "## Overview\nCreate a new inactive session over a channel between the app's contact and vCita's contact. Available for **Staff, App, and Directory tokens**.\n\n**Note:** Sessions require an active channel (activated via webhook callback from the communication-gw). Sessions themselves start as `pending` and are also activated asynchronously via webhook callback.",
        "operationId": "SessionsController_createSession",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Session created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SessionResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create a Business Communication Session",
        "tags": [
          "Communication Messages (SMS)"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionDto"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/sessions/typing": {
      "post": {
        "description": "## Overview\nPopulate typing indicator status. Available for **Staff, App, and Directory tokens**.\n\n**Note:** Requires an active session, which in turn requires an active channel. Both channels and sessions are activated asynchronously via webhook callbacks from the communication-gw.",
        "operationId": "SessionsTypingController_typingStatus",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BaseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Create a Business Communication Session Typing indicator",
        "tags": [
          "Communication Messages (SMS)"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/communication/sessions/{uid}": {
      "delete": {
        "description": "## Overview\nDeletes an existing session. Available for **Staff, App, and Directory tokens**.\n\n**Note:** Sessions follow an async webhook-based lifecycle. Sessions require an active channel (activated via webhook) and are themselves activated asynchronously via webhook callback.",
        "operationId": "SessionsController_logicDelete",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BaseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Delete a Business Communication Session",
        "tags": [
          "Communication Messages (SMS)"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "description": "## Overview\nActivating/deactivating an existing session. Available for **Staff, App, and Directory tokens**.\n\n**Note:** Sessions follow an async webhook-based lifecycle. Sessions require an active channel (activated via webhook) and are themselves activated asynchronously via webhook callback from the communication-gw.",
        "operationId": "SessionsController_updateStatus",
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session activation request received successfully. Once change has occurred, the App will receive an API request confirming the status change.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SessionResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized to perform action.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "summary": "Update a Business Communication Session",
        "tags": [
          "Communication Messages (SMS)"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionDto"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/activity_messages": {
      "get": {
        "operationId": "listActivityMessages",
        "summary": "List Activity Messages",
        "description": "## Overview\nRetrieves a paginated list of activity messages for a business. Activity messages represent communications tied to business activities such as meetings, invoices, payments, and more. Use the available query parameters to filter results by activity type, client, staff, direction, read status, and date range.\n\nAvailable for **Staff tokens**.\n\n### Message Types Reference\n\n| Activity Type | Message Type | Direction | Meaning |\n|---|---|---|---|\n| Meeting | `schedule_invitation` | `pivot_to_client` | Staff scheduled a new appointment with the client. |\n| Meeting | `schedule` | `client_to_pivot` | Client online scheduled a new appointment, and it was auto-approved. |\n| Meeting | `request` | `client_to_pivot` | Client scheduled a meeting online and it is pending business approval. |\n| Meeting | `request_notification` | `pivot_to_client` | Business sent an automatic reply acknowledging the client's meeting request is being handled. |\n| Meeting | `schedule_update` | `pivot_to_client` | Staff updated the meeting details. |\n| Meeting | `updated` | `pivot_to_client` | Staff updated the meeting details. |\n| Meeting | `updated` | `to_pivot` | Business is notified that meeting details were updated. |\n| Meeting | `cancelled` | `pivot_to_client` | Staff cancelled a meeting with the client. |\n| Meeting | `cancelled` | `client_to_pivot` | Client cancelled a meeting online. |\n| Meeting | `accepted` | `pivot_to_client` | Staff approved a pending meeting request from the client. |\n| Meeting | `accepted` | `client_to_pivot` | Client accepted a tentative meeting scheduled by the staff. |\n| Meeting | `rejected` | `pivot_to_client` | Staff declined a meeting request the client made online. |\n| Meeting | `rejected` | `client_to_pivot` | Client declined a meeting. |\n| Meeting | `completed` | `to_pivot` | The appointment was marked as completed. |\n| Meeting | `reschedule` | `client_to_pivot` | Client rescheduled an appointment online. |\n| Meeting | `reschedule` | `to_pivot` | Business is notified that a meeting was rescheduled. |\n| Meeting | `schedule_client_update` | `client_to_pivot` | Client changed the meeting time online. |\n| Meeting | `schedule_client_update_notification` | `pivot_to_client` | Staff is notified of a change the client made to the appointment online. |\n| Meeting | `propose_time` | `pivot_to_client` | Staff is proposing a new time for the appointment to the client. |\n| Meeting | `please_reschedule` | `pivot_to_client` | Business is asking the client to reschedule the appointment online. |\n| Meeting | `invite` | `pivot_to_client` | Business is inviting the client to schedule online. |\n| Meeting | `rsvp_confirmation` | `client_to_pivot` | Client confirmed attendance to a future meeting. |\n| Meeting | `thank_you_note` | `pivot_to_client` | Staff sent a follow-up thank you message after the meeting. |\n| Meeting | `missed_note` | `pivot_to_client` | Client did not attend the meeting, so staff sends a follow-up message. |\n| Meeting | `expired` | `client_to_pivot` | Client's meeting request expired before the business responded — staff is notified. |\n| Meeting | `expired` | `pivot_to_client` | Client's meeting request expired before the business responded — client is notified. |\n| Meeting | `request_cancelled` | `client_to_pivot` | Client cancelled a meeting request they made online. |\n| Meeting | `request_cancelled` | `pivot_to_client` | Business cancelled a meeting invitation that was not yet approved by the client. |\n| Meeting | `tentative` | `to_client` | Client is notified of a tentatively scheduled meeting pending their confirmation. |\n| Meeting | `meeting_reminder` | `to_pivot` | System sends an upcoming appointment reminder to the business. |\n| Meeting | `meeting_reminder` | `to_client` | System sends an upcoming appointment reminder to the client. |\n| Meeting | `meeting_request_reminder` | `to_client` | Client receives a reminder about their pending meeting request. |\n| Meeting | `meeting_request_reminder` | `to_pivot` | Business receives a reminder about a pending meeting request awaiting approval. |\n| Meeting | `schedule_notification` | `to_client` | Client receives a confirmation notification that a meeting was scheduled. |\n| Meeting | `schedule_update_notification` | `to_pivot` | Business receives a notification that meeting details were updated. |\n| Meeting | `cancelled_notification` | `to_pivot` | Business receives a notification that a meeting was cancelled. |\n| Meeting | `cancelled_notification` | `to_client` | Client receives a notification that a meeting was cancelled. |\n| Meeting | `accepted_notification` | `to_pivot` | Business receives a notification that a meeting request was accepted. |\n| Meeting | `accepted_notification` | `to_client` | Client receives a notification that their meeting was accepted. |\n| Meeting | `add_additional_staff` | `to_pivot` | An additional staff member was assigned to the meeting. |\n| Meeting | `remove_additional_staff` | `to_pivot` | An additional staff member was removed from the meeting. |\n| Meeting | `booking_reassigned` | `to_pivot` | The meeting was reassigned to a different staff member. |\n| Meeting | `dispatch_schedule` | `to_pivot` | A meeting was dispatched and assigned to a staff member. |\n| Meeting | `dispatch_cancel` | `to_pivot` | A dispatched meeting assignment was cancelled. |\n| AppointmentSeries | `scheduled` | `pivot_to_client` | Business scheduled a recurring appointment series with the client. |\n| AppointmentSeries | `scheduled_notification` | `to_pivot` | Business is notified that a recurring appointment series was scheduled. |\n| AppointmentSeries | `schedule_update` | `pivot_to_client` | A recurring appointment series time was updated. |\n| AppointmentSeries | `schedule_update_notification` | `to_pivot` | Business is notified that a recurring appointment series was updated. |\n| AppointmentSeries | `updated` | `pivot_to_client` | Business updated the details of a recurring appointment series. |\n| AppointmentSeries | `updated` | `to_pivot` | Business is notified that a recurring appointment series was updated. |\n| AppointmentSeries | `cancelled` | `pivot_to_client` | Business cancelled a series of appointments. |\n| AppointmentSeries | `cancelled_notification` | `to_pivot` | Business is notified that a recurring appointment series was cancelled. |\n| AppointmentSeries | `add_additional_staff` | `to_pivot` | An additional staff member was assigned to the appointment series. |\n| AppointmentSeries | `remove_additional_staff` | `to_pivot` | An additional staff member was removed from the appointment series. |\n| AppointmentSeries | `booking_reassigned` | `to_pivot` | The appointment series was reassigned to a different staff member. |\n| AppointmentSeries | `dispatch_schedule` | `to_pivot` | An appointment series was dispatched and assigned to a staff member. |\n| AppointmentSeries | `dispatch_cancel` | `to_pivot` | A dispatched appointment series assignment was cancelled. |\n| LinkedBooking | `schedule_invitation` | `pivot_to_client` | Business scheduled several appointments with the client. |\n| LinkedBooking | `cancelled` | `pivot_to_client` | Business cancelled multiple linked meetings with the client. |\n| Invoice | `message_request` | `pivot_to_client` | Staff sent an invoice to the client. |\n| Invoice | `reminder` | `to_pivot` | Business receives a reminder to follow up on an open invoice. |\n| Invoice | `client_reminder` | `to_client` | System sends the client a reminder about an unpaid invoice. |\n| Invoice | `client_reminder` | `pivot_to_client` | Business sends a reminder to the client to pay for an invoice. |\n| Estimate | `request` | `pivot_to_client` | Business sent a new price estimate to the client. |\n| Estimate | `approved` | `client_to_pivot` | Client approved the price estimate. |\n| Estimate | `approved` | `pivot_to_client` | Business sends a confirmed estimate to the client. |\n| Estimate | `rejected` | `client_to_pivot` | Client rejected the price estimate. |\n| Estimate | `rejected` | `pivot_to_client` | Business cancelled a price estimate. |\n| Estimate | `expiring` | `pivot_to_client` | A price estimate is about to expire. |\n| Estimate | `expired` | `to_pivot` | Business is notified that a price estimate has expired. |\n| Payment | `payment_received` | `client_to_pivot` | Client paid online. |\n| Payment | `payment_received` | `to_pivot` | Business is notified that a payment was received. |\n| Payment | `payment_received_notification` | `pivot_to_client` | Client received confirmation of their payment. |\n| Payment | `payment_received_notification` | `to_client` | Client receives a system notification confirming their payment. |\n| Payment | `receipt_sent` | `to_client` | System notification that a receipt was sent to the client. |\n| Payment | `receipt_sent` | `pivot_to_client` | A receipt was sent to the client. |\n| Payment | `receipt_sent` | `to_pivot` | Business is notified that a receipt was sent. |\n| Payment | `bank_payment` | `to_client` | Client receives confirmation of a bank transfer payment. |\n| Payment | `payment_refunded_notification` | `to_client` | System notification that a payment refund was processed. |\n| Payment | `payment_refunded_notification` | `pivot_to_client` | Business refunded a payment to the client. |\n| Payment | `cancelled` | `to_pivot` | Business is notified that a payment was cancelled. |\n| Payment | `payment_pending` | `to_pivot` | Business is notified of a pending payment. |\n| Payment | `payment_failed` | `to_pivot` | Business is notified that a payment attempt failed. |\n| Payment | `payment_offline_refunded_notification` | `to_pivot` | Business is notified of an offline payment refund. |\n| Payment | `archived` | `to_pivot` | Business is notified that a payment was archived. |\n| Payment | `undo_archived` | `to_pivot` | Business is notified that a payment was unarchived. |\n| Payment | `pending_payment_failed` | `to_pivot` | Business is notified that a pending payment failed. |\n| Payment | `scheduled_payment_failed` | `to_pivot` | Business is notified that a scheduled payment failed. |\n| PaymentStatus | `send_link` | `pivot_to_client` | Business sent a payment request link to the client. |\n| PaymentCard | `payment_method_added` | `to_pivot` | Business is notified that a client added a payment method on file. |\n| CardRequest | `card_requested` | `to_client` | Client receives a request to provide their payment card details. |\n| ScheduledPaymentsRule | `scheduled_payments_rule_created` | `pivot_to_client` | Business created a subscription or scheduled payment plan for the client. |\n| EventAttendance | `event_attendance_invite` | `pivot_to_client` | Staff invited the client to register for an event or class. |\n| EventAttendance | `event_attendance_register_notification` | `pivot_to_client` | Staff registered a client for an event or class. |\n| EventAttendance | `event_attendance_client_register` | `client_to_pivot` | Client registered for an event or class online. |\n| EventAttendance | `event_attendance_business_cancel` | `pivot_to_client` | Staff cancelled a client's registration to an event or class. |\n| EventAttendance | `event_attendance_client_cancel` | `client_to_pivot` | Client cancelled their registration to an event or class online. |\n| EventAttendance | `event_attendance_client_cancel_notification` | `pivot_to_client` | Staff is notified that a client cancelled their event or class registration. |\n| EventAttendance | `event_attendance_rescheduled` | `pivot_to_client` | Business changed the time of an event or class. |\n| EventAttendance | `event_attendance_event_cancelled` | `pivot_to_client` | Business cancelled an event or class. |\n| EventAttendance | `rsvp_confirmation` | `client_to_pivot` | Client confirmed arrival to an event or class. |\n| EventAttendance | `event_attendance_reminder` | `to_client` | Client receives a reminder about an upcoming event or class. |\n| EventAttendance | `booking_reassigned` | `to_pivot` | An event registration was reassigned to a different staff member. |\n| EventSeriesAttendance | `event_series_attendance_invite` | `pivot_to_client` | Business invited the client to join a series of events or classes. |\n| EventSeriesAttendance | `event_series_attendance_updated` | `pivot_to_client` | Business updated the details of a series of events or classes. |\n| EventSeriesAttendance | `event_series_attendance_cancelled` | `pivot_to_client` | Business cancelled a client's attendance to a series of events or classes. |\n| EventSeriesAttendance | `booking_reassigned` | `to_pivot` | An event series registration was reassigned to a different staff member. |\n| Waitlist | `register_to_event_waitlist` | `client_to_pivot` | Client requested to join a waitlist for an upcoming event or class. |\n| Waitlist | `register_to_event_waitlist` | `to_client` | Client receives confirmation of their waitlist registration. |\n| Waitlist | `register_to_event_waitlist` | `pivot_to_client` | Business registered a client to a waitlist for an event or class. |\n| Waitlist | `register_to_event_waitlist` | `to_pivot` | Business is notified that a client registered to a waitlist. |\n| Waitlist | `text` | `pivot_to_client` | Business offers a waitlisted client a spot in the event or class. |\n| Waitlist | `cancel_waitlist_registration` | `to_pivot` | Business is notified that a client cancelled their waitlist registration. |\n| ClientBookingPackage | `package_added` | `pivot_to_client` | Business added a package of services to the client's profile. |\n| ClientBookingPackage | `package_purchased` | `client_to_pivot` | Client purchased a package of services online. |\n| ClientBookingPackage | `resend_link` | `pivot_to_client` | Business sent a link to purchase a package to the client. |\n| ProductOrder | `product_added` | `pivot_to_client` | Business added a new product to the client's CRM card. |\n| Announcement | `custom` | `pivot_to_client` | Business sent an invitation to take online actions through the client portal. |\n| Announcement | `close_open_payments` | `pivot_to_client` | Business sent a link to the client portal for payment. |\n| Announcement | `livesite` | `pivot_to_client` | Business is inviting the client to take online actions on their website. |\n| Announcement | `recover_document` | `pivot_to_client` | Business invites the client to re-share a document online. |\n| Document | `document` | `client_to_pivot` | Client shared a document with the business. |\n| Review | `submit_review` | `client_to_pivot` | Client submitted an online review for the business. |\n| VoiceCall | `call` | `client_to_pivot` | Client called the business over the phone (regardless of the call outcome). |\n| General | `text` | `client_to_pivot` | Client replied to the staff. |\n| General | `text` | `pivot_to_client` | Staff replied to the client. |\n| General | `text` | `to_pivot` | A text message was received via an external messaging channel (e.g., Facebook, WhatsApp). |\n| General | `api` | `client_to_pivot` | Client contacted the business (via API-initiated communication). |\n| General | `general_question` | `client_to_pivot` | Client submitted a contact form. |\n| General | `business_text` | `client_to_pivot` | Client replied via SMS to the business. |\n| General | `document` | `client_to_pivot` | Client shared a file with the business. |\n| General | `document` | `pivot_to_client` | Business shared a file with the client. |\n| General | `close_open_payments` | `pivot_to_client` | Business sent a request to the client to pay all open payments. |\n| General | `document_client_pending_approval` | `pivot_to_client` | Business sent a document for client approval. |\n| General | `system` | `client_to_pivot` | Internal CRM activity update. |\n| General | `activity` | `client_to_pivot` | Internal CRM activity recorded for the client. |\n| General | `matter_assigned` | `to_pivot` | A client conversation was assigned to a staff member. |\n| General | `sent_notification` | `to_client` | System notification confirming that a message was sent. |\n| General | `document_client_notification` | `to_client` | Client receives a notification that a document was shared with them. |\n| General | `engagement_reminder` | `to_pivot` | Business receives a reminder to follow up on a client conversation. |",
        "tags": [
          "Activity Message"
        ],
        "parameters": [
          {
            "name": "activity_type",
            "in": "query",
            "required": false,
            "description": "Filter by activity type. Limits results to messages associated with a specific type of business activity (e.g., \"meeting\", \"invoice\", \"payment\", \"announcement\").",
            "schema": {
              "type": "string",
              "enum": [
                "meeting",
                "appointment_series",
                "invoice",
                "estimate",
                "payment",
                "payment_status",
                "payment_card",
                "card_request",
                "scheduled_payments_rule",
                "payout",
                "announcement",
                "invite",
                "event",
                "event_series",
                "event_instance",
                "waitlist",
                "linked_booking",
                "client_booking_package",
                "product_order",
                "review",
                "document",
                "voice_call",
                "assignment"
              ]
            }
          },
          {
            "name": "activity_action",
            "in": "query",
            "required": false,
            "description": "Filter by the specific action or status of the activity (e.g., \"scheduled\", \"created\", \"cancelled\"). Available values depend on the activity_type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_uid",
            "in": "query",
            "required": false,
            "description": "Filter by client unique identifier. Returns only activity messages associated with the specified client.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "staff_uid",
            "in": "query",
            "required": false,
            "description": "Filter by staff unique identifier. Returns only activity messages associated with the specified staff member.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conversation_uid",
            "in": "query",
            "required": false,
            "description": "Filter by conversation unique identifier. Returns only activity messages that belong to the specified conversation thread.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Filter by message direction. Use \"business_to_client\" for messages sent from the business to the client, or \"client_to_business\" for messages sent from the client to the business. Note: the response returns the raw direction values which include four possible values: \"pivot_to_client\" (business sent to client), \"client_to_pivot\" (client sent to business), \"to_pivot\" (system notification to the business side), and \"to_client\" (system notification to the client side). The filter values \"business_to_client\" and \"client_to_business\" match against \"pivot_to_client\" and \"client_to_pivot\" respectively.",
            "schema": {
              "type": "string",
              "enum": [
                "business_to_client",
                "client_to_business"
              ]
            }
          },
          {
            "name": "was_read",
            "in": "query",
            "required": false,
            "description": "Filter by read status. Set to \"true\" to return only messages that have been read, or \"false\" for unread messages.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "description": "Filter messages created on or after this date. Must be a valid ISO 8601 date-time string (e.g., \"2026-01-01T00:00:00Z\").",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "description": "Filter messages created on or before this date. Must be a valid ISO 8601 date-time string (e.g., \"2026-03-01T23:59:59Z\").",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort order for results in the format \"field:direction\" (e.g., \"created_at:desc\" or \"created_at:asc\"). Defaults to \"created_at:desc\" if not specified.",
            "schema": {
              "type": "string"
            },
            "example": "created_at:desc"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination. Starts at 1.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page. Maximum value is 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity messages retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "activity_messages": {
                              "type": "array",
                              "description": "List of activity message records matching the query filters.",
                              "items": {
                                "type": "object",
                                "description": "Represents an activity message associated with a business-client interaction. Activity messages are created automatically by the system for various activity types (e.g., meetings, invoices, payments) or manually via the invite activity type. Each message captures the communication context including direction, channels, and activity-specific metadata.",
                                "properties": {
                                  "uid": {
                                    "type": "string",
                                    "readOnly": true,
                                    "description": "Unique identifier for the activity message record."
                                  },
                                  "business_uid": {
                                    "type": "string",
                                    "readOnly": true,
                                    "description": "Unique identifier of the business associated with this activity message."
                                  },
                                  "staff_uid": {
                                    "type": "string",
                                    "description": "Unique identifier of the staff member associated with this activity message."
                                  },
                                  "client_uid": {
                                    "type": "string",
                                    "description": "Unique identifier of the client this activity message is associated with."
                                  },
                                  "activity_type": {
                                    "type": "string",
                                    "enum": [
                                      "meeting",
                                      "appointment_series",
                                      "invoice",
                                      "estimate",
                                      "payment",
                                      "payment_status",
                                      "payment_card",
                                      "card_request",
                                      "scheduled_payments_rule",
                                      "payout",
                                      "announcement",
                                      "invite",
                                      "event",
                                      "event_series",
                                      "event_instance",
                                      "waitlist",
                                      "linked_booking",
                                      "client_booking_package",
                                      "product_order",
                                      "review",
                                      "document",
                                      "voice_call",
                                      "assignment"
                                    ],
                                    "description": "The type of activity this message is associated with. Determines the category of the underlying business event (e.g., \"meeting\" for scheduled appointments, \"invoice\" for billing documents, \"invite\" for manual client invitations to schedule)."
                                  },
                                  "activity_action": {
                                    "type": "string",
                                    "description": "The specific action or status related to the activity type (e.g., \"scheduled\" for a meeting that was booked, \"created\" for a newly generated invoice). For \"invite\" activity_type, supported actions are \"schedule\", \"pay\", \"share_document\", and \"client_portal\". Values vary depending on the activity_type."
                                  },
                                  "direction": {
                                    "type": "string",
                                    "enum": [
                                      "pivot_to_client",
                                      "client_to_pivot",
                                      "to_pivot",
                                      "to_client"
                                    ],
                                    "description": "The direction of the activity message. Possible values: \"pivot_to_client\" — message sent from the business to the client; \"client_to_pivot\" — message sent from the client to the business; \"to_pivot\" — system notification delivered to the business side; \"to_client\" — system notification delivered to the client side."
                                  },
                                  "channels": {
                                    "type": "array",
                                    "description": "The communication channels through which the message was sent or should be sent.",
                                    "items": {
                                      "type": "string",
                                      "enum": [
                                        "email",
                                        "sms"
                                      ]
                                    }
                                  },
                                  "message_text": {
                                    "type": "object",
                                    "description": "The textual content of the activity message.",
                                    "properties": {
                                      "body": {
                                        "type": "string",
                                        "description": "The main content of the message. For SMS messages, the maximum length is 550 characters. For email messages, the maximum length is 50,000 characters."
                                      },
                                      "subject": {
                                        "type": "string",
                                        "description": "A concise summary or title of the message content. For invite activity types, this is a user-provided subject. For other activity types, it is automatically derived from the activity (e.g., appointment title, invoice number)."
                                      }
                                    }
                                  },
                                  "cta_button_text": {
                                    "type": "string",
                                    "description": "The text displayed on the call-to-action button in the email message (e.g., \"Schedule now\", \"View Invoice\", \"View Appointment\"). Automatically derived for system-generated activity messages."
                                  },
                                  "link_url_params": {
                                    "type": "object",
                                    "description": "URL parameters appended to the action button link in emails or the SMS link. Useful for tracking campaign attribution (e.g., UTM parameters).",
                                    "properties": {
                                      "utm_source": {
                                        "type": "string",
                                        "description": "Identifies the source of traffic (e.g., \"website\", \"search_engine\", \"social_media\")."
                                      },
                                      "utm_campaign": {
                                        "type": "string",
                                        "description": "Identifies the specific marketing campaign (e.g., \"spring_sale\", \"product_launch\")."
                                      }
                                    }
                                  },
                                  "meeting_data": {
                                    "type": "object",
                                    "description": "Additional metadata about the associated meeting. Only present when activity_type is \"meeting\".",
                                    "properties": {
                                      "service_uid": {
                                        "type": "string",
                                        "description": "Unique identifier of the service associated with the meeting."
                                      },
                                      "service_name": {
                                        "type": "string",
                                        "description": "Display name of the service associated with the meeting (e.g., \"Initial Consultation\", \"Follow-up Session\")."
                                      },
                                      "start_time": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The scheduled start time of the meeting in ISO 8601 format (e.g., \"2026-03-15T14:00:00Z\")."
                                      },
                                      "duration": {
                                        "type": "integer",
                                        "description": "Duration of the meeting in minutes (e.g., 30, 60)."
                                      },
                                      "interaction_type": {
                                        "type": "string",
                                        "description": "The type of interaction for the meeting (e.g., \"in_person\", \"video\", \"phone\")."
                                      }
                                    }
                                  },
                                  "created_at": {
                                    "type": "string",
                                    "format": "date-time",
                                    "readOnly": true,
                                    "description": "The date and time when the activity message was created, in ISO 8601 format."
                                  },
                                  "updated_at": {
                                    "type": "string",
                                    "format": "date-time",
                                    "readOnly": true,
                                    "description": "The date and time when the activity message was last updated, in ISO 8601 format."
                                  }
                                },
                                "required": [
                                  "client_uid",
                                  "activity_type",
                                  "activity_action",
                                  "channels"
                                ],
                                "example": {
                                  "uid": "msg_a1b2c3d4e5f6",
                                  "business_uid": "d290f1ee26c54",
                                  "staff_uid": "5ya4gbwm2c3qoic8",
                                  "client_uid": "0c4ac9717ab26f56",
                                  "activity_type": "meeting",
                                  "activity_action": "scheduled",
                                  "direction": "business_to_client",
                                  "channels": [
                                    "email"
                                  ],
                                  "message_text": {
                                    "body": "Your appointment has been scheduled.",
                                    "subject": "Initial Consultation"
                                  },
                                  "cta_button_text": "View Appointment",
                                  "link_url_params": null,
                                  "meeting_data": {
                                    "service_uid": "svc_x7y8z9",
                                    "service_name": "Initial Consultation",
                                    "start_time": "2026-03-15T14:00:00Z",
                                    "duration": 60,
                                    "interaction_type": "video"
                                  },
                                  "created_at": "2026-03-10T09:00:00Z",
                                  "updated_at": "2026-03-10T09:00:00Z"
                                }
                              }
                            },
                            "page": {
                              "type": "integer",
                              "description": "The current page number."
                            },
                            "per_page": {
                              "type": "integer",
                              "description": "The number of results per page."
                            },
                            "total_count": {
                              "type": "integer",
                              "description": "The total number of activity messages matching the query filters."
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "activity_messages": [
                      {
                        "uid": "msg_a1b2c3d4e5f6",
                        "business_uid": "d290f1ee26c54",
                        "staff_uid": "5ya4gbwm2c3qoic8",
                        "client_uid": "0c4ac9717ab26f56",
                        "activity_type": "meeting",
                        "activity_action": "scheduled",
                        "direction": "business_to_client",
                        "channels": [
                          "email"
                        ],
                        "message_text": {
                          "body": "Your appointment has been scheduled.",
                          "subject": "Initial Consultation"
                        },
                        "cta_button_text": "View Appointment",
                        "link_url_params": null,
                        "meeting_data": {
                          "service_uid": "svc_x7y8z9",
                          "service_name": "Initial Consultation",
                          "start_time": "2026-03-15T14:00:00Z",
                          "duration": 60,
                          "interaction_type": "video"
                        },
                        "created_at": "2026-03-10T09:00:00Z",
                        "updated_at": "2026-03-10T09:00:00Z"
                      },
                      {
                        "uid": "msg_g7h8i9j0k1l2",
                        "business_uid": "d290f1ee26c54",
                        "staff_uid": "5ya4gbwm2c3qoic8",
                        "client_uid": "0c4ac9717ab26f56",
                        "activity_type": "invoice",
                        "activity_action": "created",
                        "direction": "business_to_client",
                        "channels": [
                          "email",
                          "sms"
                        ],
                        "message_text": {
                          "body": "A new invoice has been created for your recent service.",
                          "subject": "Invoice #1042"
                        },
                        "cta_button_text": "View Invoice",
                        "link_url_params": null,
                        "created_at": "2026-03-08T11:30:00Z",
                        "updated_at": "2026-03-08T11:30:00Z"
                      }
                    ],
                    "page": 1,
                    "per_page": 25,
                    "total_count": 2
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request contains invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "invalid",
                      "message": "unknown activity_type"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing, invalid or not allowed to access the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "401 Unauthorized"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found. A referenced resource was not found (e.g., conversation_uid does not exist).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "error": "Conversation not found"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "operationId": "sendActivityMessage",
        "summary": "Create an ActivityMessage",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_uid": {
                    "type": "string",
                    "description": "The unique identifier of the business that is sending the message"
                  },
                  "staff_uid": {
                    "type": "string",
                    "description": "The unique identifier of the staff that is sending the message"
                  },
                  "client_uid": {
                    "type": "string",
[...]
