{
  "openapi": "3.1.0",
  "info": {
    "title": "Integrations",
    "description": "Unified OpenAPI specification for integrations domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "import.json",
        "authbridge.json"
      ],
      "pathNormalizations": [
        {
          "file": "authbridge.json",
          "basePath": "/v3",
          "transformations": [
            {
              "original": "/integrations/idp_actor_mappings",
              "normalized": "/v3/integrations/idp_actor_mappings",
              "basePath": "/v3"
            },
            {
              "original": "/integrations/idp_actor_mappings/{uid}",
              "normalized": "/v3/integrations/idp_actor_mappings/{uid}",
              "basePath": "/v3"
            },
            {
              "original": "/integrations/directory_idps",
              "normalized": "/v3/integrations/directory_idps",
              "basePath": "/v3"
            },
            {
              "original": "/integrations/directory_idps/{uid}",
              "normalized": "/v3/integrations/directory_idps/{uid}",
              "basePath": "/v3"
            }
          ]
        }
      ],
      "pathConflicts": [],
      "componentConflicts": [],
      "totalPaths": 8,
      "totalComponents": 11
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/v3/integrations/import_jobs": {
      "post": {
        "tags": [
          "Import"
        ],
        "summary": "Create a new ImportJob",
        "description": "## Overview\nImport products into a business account Available for **Staff Tokens**.",
        "operationId": "ImportJobsController_create",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadEntityRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Import job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "Unique identifier of the import job"
                            },
                            "provider_type": {
                              "type": "string",
                              "enum": [
                                "excel",
                                "import_job"
                              ],
                              "description": "The type of import provider"
                            },
                            "provider_data": {
                              "description": "The data used by the provider to import the records",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "entity_type": {
                                      "type": "string",
                                      "description": "Type of entity being imported"
                                    },
                                    "original_file_name": {
                                      "type": "string",
                                      "description": "Name of the uploaded file"
                                    }
                                  },
                                  "required": [
                                    "entity_type",
                                    "original_file_name"
                                  ],
                                  "description": "Excel provider configuration"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "source_import_job_uid": {
                                      "type": "string",
                                      "description": "The UID of the import job that was used for validation"
                                    }
                                  },
                                  "required": [
                                    "source_import_job_uid"
                                  ],
                                  "description": "Existing import job configuration"
                                }
                              ]
                            },
                            "job_type": {
                              "type": "string",
                              "enum": [
                                "validate",
                                "execute"
                              ],
                              "description": "The type of job operation. 'validate' will go over the lines and return errors, use /v3/integrations/import_job_items to get detailed errors about each line.\n'execute' will run the import job. use /v3/integrations/import_job to get the progress of the import task."
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "processing",
                                "done",
                                "error"
                              ],
                              "description": "Current status of the import job"
                            },
                            "error_message": {
                              "type": "string",
                              "description": "Error message if the job failed"
                            },
                            "progress": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "number",
                                  "description": "Total number of records to be processed"
                                },
                                "done": {
                                  "type": "number",
                                  "description": "Number of records successfully processed"
                                },
                                "error": {
                                  "type": "number",
                                  "description": "Number of records that failed processing"
                                },
                                "pending": {
                                  "type": "number",
                                  "description": "Number of records pending processing"
                                }
                              },
                              "required": [
                                "total",
                                "done",
                                "error",
                                "pending"
                              ]
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Creation timestamp"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Last update timestamp"
                            },
                            "metadata": {
                              "type": "object",
                              "properties": {
                                "data_row_index": {
                                  "type": "number",
                                  "description": "Index of the data row being processed"
                                },
                                "locale": {
                                  "type": "string",
                                  "description": "Locale setting for the import job"
                                },
                                "shared_entity_data": {
                                  "type": "object",
                                  "description": "Shared entity data for the import job, this data is shared between all the import job items"
                                }
                              },
                              "description": "Additional metadata for the import job"
                            }
                          },
                          "required": [
                            "uid",
                            "provider_type",
                            "provider_data",
                            "job_type",
                            "status",
                            "error_message",
                            "progress",
                            "created_at",
                            "updated_at"
                          ],
                          "example": {
                            "uid": "job-xyz789",
                            "provider_type": "excel",
                            "provider_data": {
                              "entity_type": "products",
                              "original_file_name": "import.xlsx"
                            },
                            "job_type": "execute",
                            "status": "processing",
                            "error_message": null,
                            "progress": {
                              "total": 100,
                              "done": 42,
                              "error": 3,
                              "pending": 55
                            },
                            "metadata": {
                              "data_row_index": 5,
                              "locale": "en",
                              "shared_entity_data": {
                                "tax_ids": [
                                  "12345678yyu90",
                                  "heuh39759nmf"
                                ]
                              }
                            },
                            "created_at": "2023-01-15T08:00:00.000Z",
                            "updated_at": "2023-01-15T08:30:00.000Z"
                          },
                          "description": "Import job details"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/import_jobs/{uid}": {
      "get": {
        "tags": [
          "Import"
        ],
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Retrieve an ImportJob",
        "description": "## Overview\nRetrieve an import job by its UID.\n\nAvailable for **Staff, Directory, and Client tokens**",
        "operationId": "ImportJobsController_findOne",
        "responses": {
          "200": {
            "description": "Import job details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "Unique identifier of the import job"
                            },
                            "provider_type": {
                              "type": "string",
                              "enum": [
                                "excel",
                                "import_job"
                              ],
                              "description": "The type of import provider"
                            },
                            "provider_data": {
                              "description": "The data used by the provider to import the records",
                              "oneOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "entity_type": {
                                      "type": "string",
                                      "description": "Type of entity being imported"
                                    },
                                    "original_file_name": {
                                      "type": "string",
                                      "description": "Name of the uploaded file"
                                    }
                                  },
                                  "required": [
                                    "entity_type",
                                    "original_file_name"
                                  ],
                                  "description": "Excel provider configuration"
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "source_import_job_uid": {
                                      "type": "string",
                                      "description": "The UID of the import job that was used for validation"
                                    }
                                  },
                                  "required": [
                                    "source_import_job_uid"
                                  ],
                                  "description": "Existing import job configuration"
                                }
                              ]
                            },
                            "job_type": {
                              "type": "string",
                              "enum": [
                                "validate",
                                "execute"
                              ],
                              "description": "The type of job operation. 'validate' will go over the lines and return errors, use /v3/integrations/import_job_items to get detailed errors about each line.\n'execute' will run the import job. use /v3/integrations/import_job to get the progress of the import task."
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "processing",
                                "done",
                                "error"
                              ],
                              "description": "Current status of the import job"
                            },
                            "error_message": {
                              "type": "string",
                              "description": "Error message if the job failed"
                            },
                            "progress": {
                              "type": "object",
                              "properties": {
                                "total": {
                                  "type": "number",
                                  "description": "Total number of records to be processed"
                                },
                                "done": {
                                  "type": "number",
                                  "description": "Number of records successfully processed"
                                },
                                "error": {
                                  "type": "number",
                                  "description": "Number of records that failed processing"
                                },
                                "pending": {
                                  "type": "number",
                                  "description": "Number of records pending processing"
                                }
                              },
                              "required": [
                                "total",
                                "done",
                                "error",
                                "pending"
                              ]
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Creation timestamp"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Last update timestamp"
                            },
                            "metadata": {
                              "type": "object",
                              "properties": {
                                "data_row_index": {
                                  "type": "number",
                                  "description": "Index of the data row being processed"
                                },
                                "locale": {
                                  "type": "string",
                                  "description": "Locale setting for the import job"
                                },
                                "shared_entity_data": {
                                  "type": "object",
                                  "description": "Shared entity data for the import job, this data is shared between all the import job items"
                                }
                              },
                              "description": "Additional metadata for the import job"
                            }
                          },
                          "required": [
                            "uid",
                            "provider_type",
                            "provider_data",
                            "job_type",
                            "status",
                            "error_message",
                            "progress",
                            "created_at",
                            "updated_at"
                          ],
                          "example": {
                            "uid": "job-xyz789",
                            "provider_type": "excel",
                            "provider_data": {
                              "entity_type": "products",
                              "original_file_name": "import.xlsx"
                            },
                            "job_type": "execute",
                            "status": "processing",
                            "error_message": null,
                            "progress": {
                              "total": 100,
                              "done": 42,
                              "error": 3,
                              "pending": 55
                            },
                            "metadata": {
                              "data_row_index": 5,
                              "locale": "en",
                              "shared_entity_data": {
                                "tax_ids": [
                                  "12345678yyu90",
                                  "heuh39759nmf"
                                ]
                              }
                            },
                            "created_at": "2023-01-15T08:00:00.000Z",
                            "updated_at": "2023-01-15T08:30:00.000Z"
                          },
                          "description": "Defines an import job for validating or executing bulk data imports, with progress and metadata."
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/import_job_items": {
      "get": {
        "tags": [
          "Import"
        ],
        "summary": "Get all ImportJobItems",
        "description": "## Overview\nGet all import job items for a specific import job.\n\nAvailable for **Staff, Directory, and Client tokens**",
        "operationId": "ImportJobItemsController_findAll",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "name": "import_job_uid",
            "required": true,
            "in": "query",
            "description": "Import job UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "required": false,
            "in": "query",
            "description": "Status of the import job item",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of import job items",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiImportJobItemsResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/import_job_items/{uid}": {
      "get": {
        "tags": [
          "Import"
        ],
        "summary": "Retrieve an ImportJobItem",
        "description": "## Overview\nRetrieve an import job item by its UID.\n\nAvailable for **Staff, Directory, and Client tokens**",
        "operationId": "ImportJobItemsController_findOne",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Import job item details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "Unique identifier of the import job item"
                            },
                            "import_job_uid": {
                              "type": "string",
                              "description": "Reference to the parent import job"
                            },
                            "action": {
                              "type": "string",
                              "enum": [
                                "create",
                                "update",
                                "skip"
                              ],
                              "description": "The action performed for this record"
                            },
                            "line_number": {
                              "type": "number",
                              "description": "Line number in the source file"
                            },
                            "entity": {
                              "type": "object",
                              "description": "The entity data being imported"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "pending",
                                "processing",
                                "done",
                                "error"
                              ],
                              "description": "Current status of the import detail"
                            },
                            "error_message": {
                              "type": "string",
                              "description": "Error message if the import failed"
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Creation timestamp"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Last update timestamp"
                            }
                          },
                          "required": [
                            "uid",
                            "import_job_uid",
                            "action",
                            "line_number",
                            "status",
                            "created_at",
                            "updated_at"
                          ],
                          "example": {
                            "uid": "item-123abc",
                            "import_job_uid": "job-xyz789",
                            "action": "create",
                            "line_number": 42,
                            "entity": {
                              "name": "John Doe",
                              "email": "john@example.com"
                            },
                            "status": "done",
                            "error_message": null,
                            "created_at": "2023-01-15T08:30:00.000Z",
                            "updated_at": "2023-01-15T08:35:00.000Z"
                          },
                          "description": "Represents a single record processed by an import job, with action and status."
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/idp_actor_mappings": {
      "get": {
        "summary": "List all IDP Actor Mappings",
        "parameters": [
          {
            "in": "query",
            "name": "idp_user_reference_id",
            "schema": {
              "type": "string"
            },
            "description": "Filter by external reference ID of the IDP User"
          },
          {
            "in": "query",
            "name": "actor_type",
            "schema": {
              "type": "string",
              "enum": [
                "staff",
                "operator"
              ]
            },
            "description": "Filter by actor type. 'staff' refers to a staff member, while 'operator' refers to an operator in the Operators Portal."
          },
          {
            "in": "query",
            "name": "actor_uid",
            "schema": {
              "type": "string"
            },
            "description": "Filter by unique identifier of the actor in the inTandem platform"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          }
        ],
        "responses": {
          "200": {
            "description": "A list of IDP Actor Mappings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/IdpActorList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "IDP Actor Mapping"
        ],
        "description": "## Overview\nList all IDP Actor Mappings in the directory scope.",
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIdpActorMappingDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "IDP Actor Mapping created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "Unique identifier of the IDP actor (a user in an IDP integrated with SSO to the inTandem autheriation bridge)"
                            },
                            "idp_user_reference_id": {
                              "type": "string",
                              "description": "External reference ID of the IDP user, used to link the IDP actor to an external system."
                            },
                            "actor_type": {
                              "type": "string",
                              "default": "staff",
                              "enum": [
                                "staff",
                                "operator"
                              ],
                              "description": "Type of the actor in the inTandem platform. 'staff' refers to a staff member, while 'operator' refers to an operator in the Operators Portal."
                            },
                            "actor_uid": {
                              "type": "string",
                              "description": "Unique identifier of the actor in the inTandem platform. This is used to link the IDP actor to a specific staff member or operator."
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Creation timestamp"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Last update timestamp"
                            }
                          },
                          "required": [
                            "uid",
                            "idp_user_reference_id",
                            "actor_type",
                            "actor_uid",
                            "created_at",
                            "updated_at"
                          ],
                          "example": {
                            "uid": "12345",
                            "idp_user_reference_id": "ext-12345",
                            "actor_type": "staff",
                            "actor_uid": "staff-67890",
                            "created_at": "2023-10-01T12:00:00Z",
                            "updated_at": "2023-10-01T12:00:00Z"
                          },
                          "description": "Maps an external IDP user to an inTandem platform actor (staff or operator)."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data or missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or not a Directory Token"
          },
          "422": {
            "description": "Unprocessable Entity - Business logic validation failed (e.g., invalid actor_uid or actor_type combination)"
          }
        },
        "summary": "Create an IDP Actor Mapping",
        "description": "## Overview\nCreate a new IDP Actor Mapping for SSO integration Available for **Directory Tokens only**.",
        "tags": [
          "IDP Actor Mapping"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/idp_actor_mappings/{uid}": {
      "delete": {
        "summary": "Delete an IDP Actor Mapping",
        "description": "## Overview\nDelete an IDP Actor Mapping by UID. Available for **Directory Tokens only**.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the IDP Actor Mapping",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "IDP Actor Mapping deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or not a Directory Token"
          },
          "404": {
            "description": "Not Found - IDP Actor Mapping with the specified UID does not exist"
          }
        },
        "tags": [
          "IDP Actor Mapping"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/directory_idps": {
      "get": {
        "summary": "List all Directory IDP configurations",
        "description": "## Overview\nList all Directory IDP configurations with optional filtering.",
        "parameters": [
          {
            "in": "query",
            "name": "staff_uid",
            "schema": {
              "type": "string"
            },
            "description": "Filter by staff UID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Directory IDP configurations",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DirectoryIDPList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          }
        },
        "tags": [
          "Directory IDP"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDirectoryIDPDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Directory IDP configuration created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "Unique identifier for the DirectoryIDP"
                            },
                            "directory_uid": {
                              "type": "string",
                              "description": "Unique identifier of the directory"
                            },
                            "idp_uid": {
                              "type": "string",
                              "description": "Unique identifier of the Identity Provider (IDP)"
                            },
                            "change_email": {
                              "type": "object",
                              "description": "Configuration for change email functionality",
                              "properties": {
                                "interaction": {
                                  "type": "string",
                                  "enum": [
                                    "iframe_modal",
                                    "new_tab",
                                    "api",
                                    "disabled"
                                  ],
                                  "description": "The interaction type for change email. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The endpoint URL or URL for iframe/new_tab interaction type"
                                }
                              },
                              "required": [
                                "interaction",
                                "value"
                              ]
                            },
                            "change_password": {
                              "type": "object",
                              "description": "Configuration for change password functionality",
                              "properties": {
                                "interaction": {
                                  "type": "string",
                                  "enum": [
                                    "iframe_modal",
                                    "new_tab",
                                    "api",
                                    "disabled"
                                  ],
                                  "description": "The interaction type for change password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The endpoint URL or URL for iframe/new_tab interaction type"
                                }
                              },
                              "required": [
                                "interaction",
                                "value"
                              ]
                            },
                            "reset_password": {
                              "type": "object",
                              "description": "Configuration for reset password functionality",
                              "properties": {
                                "interaction": {
                                  "type": "string",
                                  "enum": [
                                    "iframe_modal",
                                    "new_tab",
                                    "api",
                                    "disabled"
                                  ],
                                  "description": "The interaction type for reset password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The endpoint URL or URL for iframe/new_tab interaction type"
                                }
                              },
                              "required": [
                                "interaction",
                                "value"
                              ]
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Creation timestamp"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Last update timestamp"
                            }
                          },
                          "required": [
                            "uid",
                            "directory_uid",
                            "idp_uid",
                            "change_email",
                            "change_password",
                            "reset_password",
                            "created_at",
                            "updated_at"
                          ],
                          "example": {
                            "uid": "dir-idp-123",
                            "directory_uid": "dir-456",
                            "idp_uid": "idp-789",
                            "change_email": {
                              "interaction": "iframe_modal",
                              "value": "https://example.com/change-email"
                            },
                            "change_password": {
                              "interaction": "new_tab",
                              "value": "https://example.com/change-password"
                            },
                            "reset_password": {
                              "interaction": "api",
                              "value": "https://api.example.com/reset-password"
                            },
                            "created_at": "2023-10-01T12:00:00Z",
                            "updated_at": "2023-10-01T12:00:00Z"
                          },
                          "description": "Defines the configuration for a Directory's Identity Provider (IDP) integration, including settings for change email, change password, and reset password functionalities."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data or missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or not a Directory Token"
          },
          "422": {
            "description": "Unprocessable Entity - Business logic validation failed"
          }
        },
        "summary": "Create a Directory IDP configuration",
        "description": "## Overview\nCreate a new Directory IDP configuration Available for **Directory Tokens only**.",
        "tags": [
          "Directory IDP"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/directory_idps/{uid}": {
      "put": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDirectoryIDPDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Directory IDP configuration updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "Unique identifier for the DirectoryIDP"
                            },
                            "directory_uid": {
                              "type": "string",
                              "description": "Unique identifier of the directory"
                            },
                            "idp_uid": {
                              "type": "string",
                              "description": "Unique identifier of the Identity Provider (IDP)"
                            },
                            "change_email": {
                              "type": "object",
                              "description": "Configuration for change email functionality",
                              "properties": {
                                "interaction": {
                                  "type": "string",
                                  "enum": [
                                    "iframe_modal",
                                    "new_tab",
                                    "api",
                                    "disabled"
                                  ],
                                  "description": "The interaction type for change email. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The endpoint URL or URL for iframe/new_tab interaction type"
                                }
                              },
                              "required": [
                                "interaction",
                                "value"
                              ]
                            },
                            "change_password": {
                              "type": "object",
                              "description": "Configuration for change password functionality",
                              "properties": {
                                "interaction": {
                                  "type": "string",
                                  "enum": [
                                    "iframe_modal",
                                    "new_tab",
                                    "api",
                                    "disabled"
                                  ],
                                  "description": "The interaction type for change password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The endpoint URL or URL for iframe/new_tab interaction type"
                                }
                              },
                              "required": [
                                "interaction",
                                "value"
                              ]
                            },
                            "reset_password": {
                              "type": "object",
                              "description": "Configuration for reset password functionality",
                              "properties": {
                                "interaction": {
                                  "type": "string",
                                  "enum": [
                                    "iframe_modal",
                                    "new_tab",
                                    "api",
                                    "disabled"
                                  ],
                                  "description": "The interaction type for reset password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The endpoint URL or URL for iframe/new_tab interaction type"
                                }
                              },
                              "required": [
                                "interaction",
                                "value"
                              ]
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Creation timestamp"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Last update timestamp"
                            }
                          },
                          "required": [
                            "uid",
                            "directory_uid",
                            "idp_uid",
                            "change_email",
                            "change_password",
                            "reset_password",
                            "created_at",
                            "updated_at"
                          ],
                          "example": {
                            "uid": "dir-idp-123",
                            "directory_uid": "dir-456",
                            "idp_uid": "idp-789",
                            "change_email": {
                              "interaction": "iframe_modal",
                              "value": "https://example.com/change-email"
                            },
                            "change_password": {
                              "interaction": "new_tab",
                              "value": "https://example.com/change-password"
                            },
                            "reset_password": {
                              "interaction": "api",
                              "value": "https://api.example.com/reset-password"
                            },
                            "created_at": "2023-10-01T12:00:00Z",
                            "updated_at": "2023-10-01T12:00:00Z"
                          },
                          "description": "Defines the configuration for a Directory's Identity Provider (IDP) integration, including settings for change email, change password, and reset password functionalities."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data or missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or not a Directory Token"
          },
          "404": {
            "description": "Not Found - Directory IDP configuration with the specified UID does not exist"
          },
          "422": {
            "description": "Unprocessable Entity - Business logic validation failed"
          }
        },
        "summary": "Update a Directory IDP configuration",
        "description": "## Overview\nUpdate an existing Directory IDP configuration by UID Available for **Directory Tokens only**.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the Directory IDP configuration",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Directory IDP"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ExcelProviderDataDto": {
        "type": "object",
        "title": "Excel Provider Data",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The file containing the records that should be imported"
          }
        },
        "required": [
          "file"
        ]
      },
      "ExistingImportJobDto": {
        "type": "object",
        "title": "Existing Import Job",
        "properties": {
          "source_import_job_uid": {
            "type": "string",
            "description": "The UID of the import job that was used for validation"
          }
        },
        "required": [
          "source_import_job_uid"
        ]
      },
      "UploadEntityRequestDto": {
        "type": "object",
        "properties": {
          "entity_type": {
            "type": "string",
            "enum": [
              "products"
            ],
            "description": "The type of the imported entity"
          },
          "provider_type": {
            "type": "string",
            "enum": [
              "excel",
              "import_job"
            ],
            "description": "The type of import provider"
          },
          "provider_data": {
            "description": "Provider-specific configuration data",
            "oneOf": [
              {
                "$ref": "#/components/schemas/ExcelProviderDataDto",
                "description": "Excel provider configuration"
              },
              {
                "$ref": "#/components/schemas/ExistingImportJobDto",
                "description": "Existing import job configuration"
              }
            ]
          },
          "job_type": {
            "type": "string",
            "enum": [
              "validate",
              "execute"
            ],
            "default": "execute",
            "description": "The type of job operation. 'validate' will go over the lines and return errors, use /v3/integrations/import_job_items to get detailed errors about each line.\n'execute' will run the import job. use /v3/integrations/import_job to get the progress of the import task."
          },
          "locale": {
            "type": "string",
            "enum": [
              "en",
              "he",
              "es",
              "fr",
              "de",
              "it",
              "nl",
              "pt",
              "zh"
            ],
            "description": "The locale of the import job, in use for translating error messages of the import job items"
          },
          "shared_entity_data": {
            "type": "object",
            "description": "Shared entity data for the import job, this data is shared between all import job items"
          }
        },
        "required": [
          "provider_type"
        ]
      },
      "MultiImportJobItemsResponseDto": {
        "type": "object",
        "properties": {
          "import_job_items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uid": {
                  "type": "string",
                  "description": "Unique identifier of the import job item"
                },
                "import_job_uid": {
                  "type": "string",
                  "description": "Reference to the parent import job"
                },
                "action": {
                  "type": "string",
                  "enum": [
                    "create",
                    "update",
                    "skip"
                  ],
                  "description": "The action performed for this record"
                },
                "line_number": {
                  "type": "number",
                  "description": "Line number in the source file"
                },
                "entity": {
                  "type": "object",
                  "description": "The entity data being imported"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "pending",
                    "processing",
                    "done",
                    "error"
                  ],
                  "description": "Current status of the import detail"
                },
                "error_message": {
                  "type": "string",
                  "description": "Error message if the import failed"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Creation timestamp"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last update timestamp"
                }
              },
              "required": [
                "uid",
                "import_job_uid",
                "action",
                "line_number",
                "status",
                "created_at",
                "updated_at"
              ],
              "example": {
                "uid": "item-123abc",
                "import_job_uid": "job-xyz789",
                "action": "create",
                "line_number": 42,
                "entity": {
                  "name": "John Doe",
                  "email": "john@example.com"
                },
                "status": "done",
                "error_message": null,
                "created_at": "2023-01-15T08:30:00.000Z",
                "updated_at": "2023-01-15T08:35:00.000Z"
              },
              "description": "Represents a single record processed by an import job, with action and status."
            }
          }
        },
        "required": [
          "import_job_items"
        ]
      },
      "IdpActorList": {
        "type": "object",
        "properties": {
          "idp_actor_mappings": {
            "description": "List of IDP Actor Mappings",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uid": {
                  "type": "string",
                  "description": "Unique identifier of the IDP actor (a user in an IDP integrated with SSO to the inTandem autheriation bridge)"
                },
                "idp_user_reference_id": {
                  "type": "string",
                  "description": "External reference ID of the IDP user, used to link the IDP actor to an external system."
                },
                "actor_type": {
                  "type": "string",
                  "default": "staff",
                  "enum": [
                    "staff",
                    "operator"
                  ],
                  "description": "Type of the actor in the inTandem platform. 'staff' refers to a staff member, while 'operator' refers to an operator in the Operators Portal."
                },
                "actor_uid": {
                  "type": "string",
                  "description": "Unique identifier of the actor in the inTandem platform. This is used to link the IDP actor to a specific staff member or operator."
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Creation timestamp"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last update timestamp"
                }
              },
              "required": [
                "uid",
                "idp_user_reference_id",
                "actor_type",
                "actor_uid",
                "created_at",
                "updated_at"
              ],
              "example": {
                "uid": "12345",
                "idp_user_reference_id": "ext-12345",
                "actor_type": "staff",
                "actor_uid": "staff-67890",
                "created_at": "2023-10-01T12:00:00Z",
                "updated_at": "2023-10-01T12:00:00Z"
              },
              "description": "Maps an external IDP user to an inTandem platform actor (staff or operator)."
            }
          }
        }
      },
      "CreateIdpActorMappingDTO": {
        "type": "object",
        "properties": {
          "idp_user_reference_id": {
            "type": "string",
            "description": "External reference ID of the IDP User, used to link the IDP User to an external system.",
            "example": "ext-12345"
          },
          "actor_type": {
            "type": "string",
            "enum": [
              "staff",
              "operator"
            ],
            "description": "Type of the actor in the inTandem platform. 'staff' refers to a staff member, while 'operator' refers to an operator in the Operators Portal.",
            "example": "staff"
          },
          "actor_uid": {
            "type": "string",
            "description": "Unique identifier of the actor in the inTandem platform. This is used to link the IDP actor to a specific staff member or operator.",
            "example": "staff-67890"
          }
        },
        "required": [
          "idp_user_reference_id",
          "actor_type",
          "actor_uid"
        ]
      },
      "UpdateIdpActorMappingDTO": {
        "type": "object",
        "properties": {
          "idp_user_reference_id": {
            "type": "string",
            "description": "External reference ID of the IDP User, used to link the IDP User to an external system.",
            "example": "ext-12345"
          },
          "actor_type": {
            "type": "string",
            "enum": [
              "staff",
              "operator"
            ],
            "description": "Type of the actor in the inTandem platform. 'staff' refers to a staff member, while 'operator' refers to an operator in the Operators Portal.",
            "example": "staff"
          },
          "actor_uid": {
            "type": "string",
            "description": "Unique identifier of the actor in the inTandem platform. This is used to link the IDP actor to a specific staff member or operator.",
            "example": "staff-67890"
          }
        }
      },
      "DirectoryIDPList": {
        "type": "object",
        "properties": {
          "directory_idps": {
            "description": "List of Directory IDP configurations",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uid": {
                  "type": "string",
                  "description": "Unique identifier for the DirectoryIDP"
                },
                "directory_uid": {
                  "type": "string",
                  "description": "Unique identifier of the directory"
                },
                "idp_uid": {
                  "type": "string",
                  "description": "Unique identifier of the Identity Provider (IDP)"
                },
                "change_email": {
                  "type": "object",
                  "description": "Configuration for change email functionality",
                  "properties": {
                    "interaction": {
                      "type": "string",
                      "enum": [
                        "iframe_modal",
                        "new_tab",
                        "api",
                        "disabled"
                      ],
                      "description": "The interaction type for change email. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality"
                    },
                    "value": {
                      "type": "string",
                      "description": "The endpoint URL or URL for iframe/new_tab interaction type"
                    }
                  },
                  "required": [
                    "interaction",
                    "value"
                  ]
                },
                "change_password": {
                  "type": "object",
                  "description": "Configuration for change password functionality",
                  "properties": {
                    "interaction": {
                      "type": "string",
                      "enum": [
                        "iframe_modal",
                        "new_tab",
                        "api",
                        "disabled"
                      ],
                      "description": "The interaction type for change password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality"
                    },
                    "value": {
                      "type": "string",
                      "description": "The endpoint URL or URL for iframe/new_tab interaction type"
                    }
                  },
                  "required": [
                    "interaction",
                    "value"
                  ]
                },
                "reset_password": {
                  "type": "object",
                  "description": "Configuration for reset password functionality",
                  "properties": {
                    "interaction": {
                      "type": "string",
                      "enum": [
                        "iframe_modal",
                        "new_tab",
                        "api",
                        "disabled"
                      ],
                      "description": "The interaction type for reset password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality"
                    },
                    "value": {
                      "type": "string",
                      "description": "The endpoint URL or URL for iframe/new_tab interaction type"
                    }
                  },
                  "required": [
                    "interaction",
                    "value"
                  ]
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Creation timestamp"
                },
                "updated_at": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Last update timestamp"
                }
              },
              "required": [
                "uid",
                "directory_uid",
                "idp_uid",
                "change_email",
                "change_password",
                "reset_password",
                "created_at",
                "updated_at"
              ],
              "example": {
                "uid": "dir-idp-123",
                "directory_uid": "dir-456",
                "idp_uid": "idp-789",
                "change_email": {
                  "interaction": "iframe_modal",
                  "value": "https://example.com/change-email"
                },
                "change_password": {
                  "interaction": "new_tab",
                  "value": "https://example.com/change-password"
                },
                "reset_password": {
                  "interaction": "api",
                  "value": "https://api.example.com/reset-password"
                },
                "created_at": "2023-10-01T12:00:00Z",
                "updated_at": "2023-10-01T12:00:00Z"
              },
              "description": "Defines the configuration for a Directory's Identity Provider (IDP) integration, including settings for change email, change password, and reset password functionalities."
            }
          }
        }
      },
      "CreateDirectoryIDPDTO": {
        "type": "object",
        "properties": {
          "directory_uid": {
            "type": "string",
            "description": "Unique identifier of the directory",
            "example": "dir-456"
          },
          "idp_uid": {
            "type": "string",
            "description": "Unique identifier of the Identity Provider (IDP)",
            "example": "idp-789"
          },
          "change_email": {
            "type": "object",
            "description": "Configuration for change email functionality",
            "properties": {
              "interaction": {
                "type": "string",
                "enum": [
                  "iframe_modal",
                  "new_tab",
                  "api",
                  "disabled"
                ],
                "description": "The interaction type for change email. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality",
                "example": "iframe_modal"
              },
              "value": {
                "type": "string",
                "description": "The endpoint URL or URL for iframe/new_tab interaction type",
                "example": "https://example.com/change-email"
              }
            },
            "required": [
              "interaction",
              "value"
            ]
          },
          "change_password": {
            "type": "object",
            "description": "Configuration for change password functionality",
            "properties": {
              "interaction": {
                "type": "string",
                "enum": [
                  "iframe_modal",
                  "new_tab",
                  "api",
                  "disabled"
                ],
                "description": "The interaction type for change password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality",
                "example": "new_tab"
              },
              "value": {
                "type": "string",
                "description": "The endpoint URL or URL for iframe/new_tab interaction type",
                "example": "https://example.com/change-password"
              }
            },
            "required": [
              "interaction",
              "value"
            ]
          },
          "reset_password": {
            "type": "object",
            "description": "Configuration for reset password functionality",
            "properties": {
              "interaction": {
                "type": "string",
                "enum": [
                  "iframe_modal",
                  "new_tab",
                  "api",
                  "disabled"
                ],
                "description": "The interaction type for reset password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality",
                "example": "api"
              },
              "value": {
                "type": "string",
                "description": "The endpoint URL or URL for iframe/new_tab interaction type",
                "example": "https://api.example.com/reset-password"
              }
            },
            "required": [
              "interaction",
              "value"
            ]
          }
        },
        "required": [
          "directory_uid",
          "idp_uid",
          "change_email",
          "change_password",
          "reset_password"
        ]
      },
      "UpdateDirectoryIDPDTO": {
        "type": "object",
        "properties": {
          "directory_uid": {
            "type": "string",
            "description": "Unique identifier of the directory",
            "example": "dir-456"
          },
          "idp_uid": {
            "type": "string",
            "description": "Unique identifier of the Identity Provider (IDP)",
            "example": "idp-789"
          },
          "change_email": {
            "type": "object",
            "description": "Configuration for change email functionality",
            "properties": {
              "interaction": {
                "type": "string",
                "enum": [
                  "iframe_modal",
                  "new_tab",
                  "api",
                  "disabled"
                ],
                "description": "The interaction type for change email. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality",
                "example": "iframe_modal"
              },
              "value": {
                "type": "string",
                "description": "The endpoint URL or URL for iframe/new_tab interaction type",
                "example": "https://example.com/change-email"
              }
            },
            "required": [
              "interaction",
              "value"
            ]
          },
          "change_password": {
            "type": "object",
            "description": "Configuration for change password functionality",
            "properties": {
              "interaction": {
                "type": "string",
                "enum": [
                  "iframe_modal",
                  "new_tab",
                  "api",
                  "disabled"
                ],
                "description": "The interaction type for change password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality",
                "example": "new_tab"
              },
              "value": {
                "type": "string",
                "description": "The endpoint URL or URL for iframe/new_tab interaction type",
                "example": "https://example.com/change-password"
              }
            },
            "required": [
              "interaction",
              "value"
            ]
          },
          "reset_password": {
            "type": "object",
            "description": "Configuration for reset password functionality",
            "properties": {
              "interaction": {
                "type": "string",
                "enum": [
                  "iframe_modal",
                  "new_tab",
                  "api",
                  "disabled"
                ],
                "description": "The interaction type for reset password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality",
                "example": "api"
              },
              "value": {
                "type": "string",
                "description": "The endpoint URL or URL for iframe/new_tab interaction type",
                "example": "https://api.example.com/reset-password"
              }
            },
            "required": [
              "interaction",
              "value"
            ]
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "tags": [
    {
      "name": "IDP Actor Mapping",
      "description": "The IDP Actor API facilitates seamless CRUD operations for managing users in an IDP integrated with SSO to the inTandem authorization bridge."
    },
    {
      "name": "Directory IDP",
      "description": "Operations for managing Directory IDP configurations"
    }
  ]
}
