{
  "openapi": "3.1.0",
  "info": {
    "title": "Online_presence",
    "description": "Unified OpenAPI specification for online_presence domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "widget_configurations.json",
        "ai_receptionist_conversations.json",
        "ai_chat_configurations.json"
      ],
      "pathNormalizations": [],
      "pathConflicts": [],
      "componentConflicts": [
        {
          "type": "schema",
          "name": "NestHttpException",
          "resolution": "Renamed to NestHttpException_ai_receptionist_conversations",
          "files": [
            "merged",
            "ai_receptionist_conversations.json"
          ]
        },
        {
          "type": "schema",
          "name": "ErrorResponse",
          "resolution": "Renamed to ErrorResponse_ai_chat_configurations",
          "files": [
            "merged",
            "ai_chat_configurations.json"
          ]
        }
      ],
      "totalPaths": 5,
      "totalComponents": 18
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/v3/online_presence/widget_configurations": {
      "get": {
        "operationId": "listWidgetConfigurations",
        "summary": "Get all widget configurations",
        "description": "Lists widget configurations for the authenticated business. **Business token** required.",
        "tags": [
          "Web AI Widget"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page index",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "e.g. `created_at:desc` or `updated_at:asc`. Direction defaults to `asc` if omitted.",
            "schema": {
              "type": "string",
              "example": "created_at:desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List result",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListWidgetConfigurationsPayload"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — business mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "404": {
            "description": "Not found (masked as 404 for business mismatch in some cases)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation or bad query (e.g. legacy sort params)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "sort",
                      "code": "invalid",
                      "message": "sort field must be one of: created_at, updated_at, business_uid"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "WidgetConfigurations": []
          }
        ]
      },
      "post": {
        "operationId": "createWidgetConfiguration",
        "summary": "Create widget configuration",
        "description": "Creates a widget configuration for a business. **Business token** required; optional **Staff token** for attribution (`owner_id`).",
        "tags": [
          "Web AI Widget"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCreateWidgetConfiguration"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/WidgetConfigurationResource"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax (e.g., invalid JSON payload)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation or business-rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        },
        "security": [
          {
            "WidgetConfigurations": []
          }
        ]
      }
    },
    "/v3/online_presence/widget_configurations/{uid}": {
      "get": {
        "operationId": "getWidgetConfigurationByUid",
        "summary": "Retrieve a widget configuration",
        "description": "Returns one configuration by uid scoped to the authenticated business. **Business token** required.",
        "tags": [
          "Web AI Widget"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/WidgetConfigurationResource"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        },
        "security": [
          {
            "WidgetConfigurations": []
          }
        ]
      },
      "put": {
        "operationId": "updateWidgetConfiguration",
        "summary": "Update widget configuration",
        "description": "Updates an existing configuration. **Business token** required; optional **Staff token**.",
        "tags": [
          "Web AI Widget"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestUpdateWidgetConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated configuration",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/WidgetConfigurationResource"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax (e.g., invalid JSON payload)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation or business-rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        },
        "security": [
          {
            "WidgetConfigurations": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteWidgetConfiguration",
        "summary": "Delete widget configuration",
        "description": "Deletes a configuration by uid for the authenticated business and returns the deleted configuration (`{ success: true, data }`). **Business token** required.",
        "tags": [
          "Web AI Widget"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted widget configuration (`{ success: true, data }`)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/WidgetConfigurationResource"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        },
        "security": [
          {
            "WidgetConfigurations": []
          }
        ]
      }
    },
    "/v3/online_presence/ai_receptionist_conversations": {
      "get": {
        "operationId": "listAiReceptionistConversations",
        "summary": "Get all conversations",
        "description": "Returns paginated conversations for the authenticated business. **Staff tokens** required.",
        "tags": [
          "Online Presence conversations"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page index.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search in transcript and summary",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_simulated",
            "in": "query",
            "description": "When true, includes conversations created by AI Receptionist simulation and training flows. Simulated conversations are excluded by default.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort expression in `field:asc|desc` format. Allowed fields: `ended_at`, `started_at`, `created_at`, `updated_at`. Default sort is `ended_at:desc`.",
            "schema": {
              "type": "string",
              "example": "ended_at:desc"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Filter conversations ending on or after this ISO 8601 date-time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Filter conversations ending on or before this ISO 8601 date-time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List result (`{ success: true, data: { conversations, total } }`)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListConversationsPayload"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Business context required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "Business context required"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure (e.g., invalid sort parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "sort",
                      "code": "invalid",
                      "message": "sort field must be one of: ended_at, started_at, created_at, updated_at"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "AiReceptionistConversations": []
          }
        ]
      },
      "post": {
        "operationId": "createAiReceptionistConversation",
        "summary": "Create a conversation",
        "description": "Creates a conversation for the authenticated business. **Staff tokens** required.",
        "tags": [
          "Online Presence conversations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created (`{ success: true, data: conversation }`)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/AiReceptionistConversation.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — business mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "business_uid",
                      "code": "forbidden",
                      "message": "business_uid does not match authenticated business"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "ended_at",
                      "code": "invalid",
                      "message": "ended_at must be a valid ISO 8601 date string"
                    },
                    {
                      "field": "started_at",
                      "code": "invalid",
                      "message": "started_at must be a valid ISO 8601 date string"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "AiReceptionistConversations": []
          }
        ]
      }
    },
    "/v3/online_presence/ai_receptionist_conversations/{uid}": {
      "get": {
        "operationId": "getAiReceptionistConversation",
        "summary": "Retrieve a conversation",
        "description": "Returns a single conversation by uid for the authenticated business. **Staff tokens** required.",
        "tags": [
          "Online Presence conversations"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation (`{ success: true, data: conversation }`)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/AiReceptionistConversation.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Conversation not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "AiReceptionistConversations": []
          }
        ]
      },
      "put": {
        "operationId": "updateAiReceptionistConversation",
        "summary": "Update a conversation",
        "description": "Updates a conversation by uid. **Staff tokens** required.",
        "tags": [
          "Online Presence conversations"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConversationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated conversation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/AiReceptionistConversation.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Conversation not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "AiReceptionistConversations": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteAiReceptionistConversation",
        "summary": "Delete a conversation",
        "description": "Soft-deletes a conversation and returns the soft-deleted conversation (`{ success: true, data }`). **Staff tokens** required.",
        "tags": [
          "Online Presence conversations"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The soft-deleted conversation (`{ success: true, data }`)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/AiReceptionistConversation.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        },
        "security": [
          {
            "AiReceptionistConversations": []
          }
        ]
      }
    },
    "/v3/online_presence/ai_chat_configurations": {
      "get": {
        "tags": [
          "AI Chat Configuration"
        ],
        "summary": "Get the AI chat configuration",
        "description": "Returns the AI chat configuration for the authenticated business. Available for **Staff tokens**.",
        "operationId": "getAiChatConfiguration",
        "responses": {
          "200": {
            "description": "AI chat configuration retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/AiReceptionistConfiguration.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found — no AI chat configuration exists for this business yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "AI chat configuration not found for this business"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "AI Chat Configuration"
        ],
        "summary": "Upsert the AI chat configuration",
        "description": "Creates or updates the AI chat configuration for the authenticated business. Provided fields are merged with existing values; omitted fields are unchanged. Available for **Staff tokens**.",
        "operationId": "upsertAiChatConfiguration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertAiChatConfigRequest"
              },
              "example": {
                "faq_and_guidance": "Answer questions about pricing, emergency calls, and availability.",
                "include_contact_info": true,
                "include_services": true,
                "lead_intent_data": [
                  {
                    "lead_intent": "General inquiry",
                    "lead_data_items": "Full name, email, phone",
                    "lead_message_to_visitor": "Please share your contact details and we will follow up shortly."
                  }
                ],
                "ai_actions": [
                  {
                    "action_uid": "action_book",
                    "action_key": "schedule",
                    "should_offer": true,
                    "when_to_offer": "Offer when client asks about scheduling."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AI chat configuration upserted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/AiReceptionistConfiguration.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity — validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "invalid",
                      "field": "ai_actions",
                      "message": "ai_actions must be an array"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Standard v3 error envelope.",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Always false for error responses."
          },
          "errors": {
            "type": "array",
            "description": "List of error details describing what failed.",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "Request field that failed validation, when applicable."
                },
                "code": {
                  "type": "string",
                  "description": "Machine-readable error code."
                },
                "message": {
                  "type": "string",
                  "description": "Human-readable error message."
                }
              }
            }
          }
        },
        "required": [
          "success",
          "errors"
        ]
      },
      "NestHttpException": {
        "type": "object",
        "description": "Standard v3 error envelope.",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Always false for error responses.",
            "enum": [
              false
            ]
          },
          "errors": {
            "type": "array",
            "description": "List of error details describing what failed.",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "nullable": true,
                  "description": "Request field that failed validation, when applicable."
                },
                "code": {
                  "type": "string",
                  "description": "Machine-readable error code."
                },
                "message": {
                  "type": "string",
                  "description": "Human-readable error message."
                }
              },
              "required": [
                "code",
                "message"
              ]
            }
          }
        },
        "required": [
          "success",
          "errors"
        ]
      },
      "WelcomeButton": {
        "type": "object",
        "description": "Quick-reply button shown under the welcome message in the Web AI Widget.",
        "properties": {
          "label": {
            "type": "string",
            "description": "Button label shown to the visitor."
          },
          "message": {
            "type": "string",
            "description": "Message text sent to the assistant when the button is clicked."
          }
        },
        "required": [
          "label",
          "message"
        ]
      },
      "ActionConfigItem": {
        "type": "object",
        "description": "A single client-portal action in the stored widget configuration. Order follows array position in the API.",
        "properties": {
          "uid": {
            "type": "string",
            "nullable": true,
            "description": "Portal action UID. Required by the API for persisted actions; nullable only for legacy/backfill reads."
          },
          "action": {
            "type": "string",
            "description": "Action key/type (client-portal action identifier)."
          },
          "label": {
            "type": "string",
            "nullable": true,
            "maxLength": 200,
            "description": "Display label override; omit or null to resolve from portal defaults."
          },
          "availability": {
            "type": "boolean",
            "description": "Whether this action is available in the widget."
          },
          "should_offer": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the assistant should proactively suggest this action."
          },
          "when_to_offer": {
            "type": "string",
            "nullable": true,
            "maxLength": 200,
            "description": "Guidance text for when the assistant should proactively suggest this action."
          }
        },
        "required": [
          "uid",
          "action",
          "availability"
        ]
      },
      "LeadIntentDataItem": {
        "type": "object",
        "description": "Intent-based lead capture instructions used by the Web AI Widget assistant. Each item defines one intent and the data that should be collected for it.",
        "properties": {
          "lead_intent": {
            "type": "string",
            "nullable": true,
            "maxLength": 100,
            "description": "Lead intent name (e.g., \"General inquiry\", \"Book consultation\"). Null/empty resolves to defaults according to backend normalization rules."
          },
          "lead_data_items": {
            "type": "string",
            "nullable": true,
            "maxLength": 200,
            "description": "Comma-separated lead fields to collect for this intent (e.g., \"Name,Email,Phone\")."
          },
          "lead_message_to_visitor": {
            "type": "string",
            "nullable": true,
            "maxLength": 200,
            "description": "Guidance text for how the assistant should explain what is being collected and what happens next while capturing lead details."
          }
        }
      },
      "RequestCreateWidgetConfiguration": {
        "type": "object",
        "properties": {
          "widget_title": {
            "type": "string",
            "nullable": true,
            "maxLength": 200,
            "description": "Widget title shown in the chat header."
          },
          "faq_and_guidance": {
            "type": "string",
            "nullable": true,
            "maxLength": 50000,
            "description": "Business FAQ and guidance text used by the assistant."
          },
          "business_hours": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "description": "Business hours text shown to visitors or used for assistant guidance."
          },
          "welcome_message": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "description": "Message shown when the widget chat opens."
          },
          "brand_color": {
            "type": "string",
            "nullable": true,
            "description": "Hex color"
          },
          "text_color": {
            "type": "string",
            "nullable": true,
            "description": "Hex color"
          },
          "logo_url": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Public logo URL shown in the widget."
          },
          "actions": {
            "type": "array",
            "nullable": true,
            "description": "Ordered list of configured portal actions.",
            "items": {
              "$ref": "#/components/schemas/ActionConfigItem"
            }
          },
          "auto_popup_enabled": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the widget auto-opens for visitors."
          },
          "auto_popup_delay": {
            "type": "number",
            "nullable": true,
            "minimum": 0,
            "maximum": 3600,
            "description": "Auto-open delay in seconds."
          },
          "welcome_buttons": {
            "type": "array",
            "nullable": true,
            "description": "Quick-reply buttons shown under the welcome message.",
            "items": {
              "$ref": "#/components/schemas/WelcomeButton"
            }
          },
          "lead_capture_text": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "description": "Prompt text used when collecting visitor lead details."
          },
          "lead_intent_data": {
            "type": "array",
            "nullable": true,
            "maxItems": 10,
            "description": "Per-intent lead-capture configuration: which fields to collect and how to message the visitor for each detected intent (max 10).",
            "items": {
              "$ref": "#/components/schemas/LeadIntentDataItem"
            }
          },
          "button_text": {
            "type": "string",
            "nullable": true,
            "maxLength": 200,
            "description": "Launcher button label shown before opening the widget."
          },
          "include_contact_info": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether contact information is included in assistant context."
          },
          "include_services": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether business services are included in assistant context."
          },
          "include_products": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether products are included in assistant context."
          },
          "include_booking_policies": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether booking policies are included in assistant context."
          },
          "include_terms_of_service": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether terms of service are included in assistant context."
          },
          "guidance_urls": {
            "type": "array",
            "nullable": true,
            "description": "List of public URLs used as additional assistant guidance sources.",
            "items": {
              "type": "string",
              "format": "uri",
              "maxLength": 2048
            }
          }
        }
      },
      "RequestUpdateWidgetConfiguration": {
        "type": "object",
        "description": "Partial update request. All fields are optional.",
        "properties": {
          "widget_title": {
            "type": "string",
            "nullable": true,
            "maxLength": 200,
            "description": "Widget title shown in the chat header."
          },
          "faq_and_guidance": {
            "type": "string",
            "nullable": true,
            "maxLength": 50000,
            "description": "Business FAQ and guidance text used by the assistant."
          },
          "business_hours": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "description": "Business hours text shown to visitors or used for assistant guidance."
          },
          "welcome_message": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "description": "Message shown when the widget chat opens."
          },
          "brand_color": {
            "type": "string",
            "nullable": true,
            "description": "Widget brand color in hex format."
          },
          "text_color": {
            "type": "string",
            "nullable": true,
            "description": "Widget text color in hex format."
          },
          "logo_url": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Public logo URL shown in the widget."
          },
          "actions": {
            "type": "array",
            "nullable": true,
            "description": "Ordered list of configured portal actions.",
            "items": {
              "$ref": "#/components/schemas/ActionConfigItem"
            }
          },
          "auto_popup_enabled": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the widget auto-opens for visitors."
          },
          "auto_popup_delay": {
            "type": "number",
            "nullable": true,
            "minimum": 0,
            "maximum": 3600,
            "description": "Auto-open delay in seconds."
          },
          "welcome_buttons": {
            "type": "array",
            "nullable": true,
            "description": "Quick-reply buttons shown under the welcome message.",
            "items": {
              "$ref": "#/components/schemas/WelcomeButton"
            }
          },
          "lead_capture_text": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000,
            "description": "Prompt text used when collecting visitor lead details."
          },
          "lead_intent_data": {
            "type": "array",
            "nullable": true,
            "maxItems": 10,
            "description": "Per-intent lead-capture configuration: which fields to collect and how to message the visitor for each detected intent (max 10).",
            "items": {
              "$ref": "#/components/schemas/LeadIntentDataItem"
            }
          },
          "button_text": {
            "type": "string",
            "nullable": true,
            "maxLength": 200,
            "description": "Launcher button label shown before opening the widget."
          },
          "include_contact_info": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether contact information is included in assistant context."
          },
          "include_services": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether business services are included in assistant context."
          },
          "include_products": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether products are included in assistant context."
          },
          "include_booking_policies": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether booking policies are included in assistant context."
          },
          "include_terms_of_service": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether terms of service are included in assistant context."
          },
          "guidance_urls": {
            "type": "array",
            "nullable": true,
            "description": "List of public URLs used as additional assistant guidance sources.",
            "items": {
              "type": "string",
              "format": "uri",
              "maxLength": 2048
            }
          }
        }
      },
      "WidgetConfigurationResource": {
        "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/WidgetConfiguration.json"
      },
      "ListWidgetConfigurationsPayload": {
        "type": "object",
        "properties": {
          "widget_configurations": {
            "type": "array",
            "description": "Widget configurations for the authenticated business on the current page.",
            "items": {
              "$ref": "#/components/schemas/WidgetConfigurationResource"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of widget configurations across all pages."
          }
        },
        "required": [
          "widget_configurations",
          "total"
        ]
      },
      "ChatTranscriptDocument": {
        "type": "object",
        "description": "Structured transcript object captured when a session ends. Uses the same visitor-visible message list shape returned by chat session resume APIs.",
        "properties": {
          "schemaVersion": {
            "type": "integer",
            "enum": [
              1
            ],
            "description": "Document format version."
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatVisitorMessage"
            },
            "description": "Ordered visitor-visible turns."
          }
        },
        "required": [
          "schemaVersion",
          "messages"
        ],
        "example": {
          "schemaVersion": 1,
          "messages": [
            {
              "role": "assistant",
              "content": "Hi! How can I help?",
              "at": "2026-04-19T12:34:56.789Z"
            },
            {
              "role": "user",
              "content": "I need to book an appointment.",
              "at": "2026-04-19T12:35:01.000Z"
            }
          ]
        }
      },
      "ChatVisitorMessage": {
        "type": "object",
        "description": "Visitor-visible chat line (**user** or **assistant**). Used in chat resume responses and stored inside `ChatTranscriptDocument` for persisted conversations. System prompts and internal tool rows are not included.",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ],
            "description": "Who sent the message."
          },
          "content": {
            "type": "string",
            "description": "Message text (may include markdown)."
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "description": "Optional ISO 8601 UTC timestamp when the server recorded the turn. May be omitted on older Redis session blobs; clients may use it for ordering or display outside the embeddable widget."
          }
        },
        "required": [
          "role",
          "content"
        ],
        "example": {
          "role": "assistant",
          "content": "Hi! How can I help you today?",
          "at": "2026-04-19T12:34:56.789Z"
        }
      },
      "VoiceConversationMetadata": {
        "type": "object",
        "nullable": true,
        "description": "Voice-specific metadata for AI Receptionist calls, including caller/callee numbers and recording details when available.",
        "properties": {
          "voice_call_uid": {
            "type": "string",
            "nullable": true,
            "description": "Internal voicecalls call UID."
          },
          "external_uuid": {
            "type": "string",
            "nullable": true,
            "description": "External provider conversation UUID."
          },
          "from_number": {
            "type": "string",
            "nullable": true,
            "description": "Caller phone number in E.164 format."
          },
          "to_number": {
            "type": "string",
            "nullable": true,
            "description": "Dialed voicecalls phone number in E.164 format."
          },
          "recording_url": {
            "type": "string",
            "nullable": true,
            "description": "Signed call recording URL generated by voicecalls."
          },
          "file_size": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "description": "Recording file size in bytes."
          },
          "recording_duration": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "description": "Recording duration in seconds."
          },
          "recording_received_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Time when webaiwidgetserver received the recording callback."
          }
        }
      },
      "CreateConversationRequest": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "maxLength": 255,
            "description": "Chat session identifier associated with this persisted conversation."
          },
          "business_uid": {
            "type": "string",
            "maxLength": 255,
            "description": "Business UID for this conversation. Must match the authenticated business context."
          },
          "transcript": {
            "description": "Structured transcript JSON (`ChatTranscriptDocument`) when closing a session; optional JSON string encoding for compatibility.",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/ChatTranscriptDocument"
              },
              {
                "type": "string"
              }
            ]
          },
          "summary": {
            "type": "string",
            "nullable": true,
            "description": "Optional summary of the conversation."
          },
          "contact_full_name": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Visitor full name captured during the chat."
          },
          "contact_email": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Visitor email captured during the chat."
          },
          "contact_phone": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Visitor phone captured during the chat."
          },
          "page_url": {
            "type": "string",
            "nullable": true,
            "description": "Page URL where the chat was started."
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "Conversation start timestamp in ISO 8601 format."
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "description": "Conversation end timestamp in ISO 8601 format."
          },
          "matter_uid": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Optional related matter/case UID."
          },
          "client_uid": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Optional CRM client UID linked to this conversation."
          },
          "message_count": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "description": "Number of visitor-visible messages in the conversation."
          },
          "lead_intent": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Lead intent extracted or assigned for this conversation (e.g., \"General inquiry\")."
          },
          "lead_information": {
            "type": "object",
            "nullable": true,
            "description": "Lead key/value data captured from the conversation.",
            "additionalProperties": {
              "type": "string"
            }
          },
          "source_app_uid": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Application that delivered the inbound traffic for this conversation."
          },
          "channel_uid": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Channel identifier used for attribution in AI Receptionist reporting."
          },
          "delivery_kind": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "enum": [
              "webaiwidgetmgr",
              "comm_gw",
              "voicecalls"
            ],
            "description": "Lifecycle owner for the conversation."
          },
          "voice_call_uid": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Internal voicecalls call UID used to correlate voice callbacks."
          },
          "external_uuid": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "External provider conversation UUID, usually the Vonage conversation UUID."
          },
          "voice_metadata": {
            "$ref": "#/components/schemas/VoiceConversationMetadata"
          }
        },
        "required": [
          "session_id",
          "business_uid",
          "started_at",
          "ended_at"
        ]
      },
      "ListConversationsPayload": {
        "type": "object",
        "properties": {
          "conversations": {
            "type": "array",
            "description": "Conversations for the authenticated business on the current page.",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/AiReceptionistConversation.json"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of conversations across all pages."
          }
        },
        "required": [
          "conversations",
          "total"
        ]
      },
      "NestHttpException_ai_receptionist_conversations": {
        "type": "object",
        "description": "Standard v3 error envelope for online_presence chat APIs.",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Always false for error responses.",
            "enum": [
              false
            ]
          },
          "errors": {
            "type": "array",
            "description": "List of error details describing what failed.",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "nullable": true,
                  "description": "Request field that failed validation, when applicable."
                },
                "code": {
                  "type": "string",
                  "description": "Machine-readable error code."
                },
                "message": {
                  "type": "string",
                  "description": "Human-readable error message."
                }
              },
              "required": [
                "code",
                "message"
              ]
            }
          }
        },
        "required": [
          "success",
          "errors"
        ]
      },
      "UpdateConversationRequest": {
        "type": "object",
        "properties": {
          "transcript": {
            "description": "Structured transcript or JSON string; optional staff edits.",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/ChatTranscriptDocument"
              },
              {
                "type": "string"
              }
            ]
          },
          "summary": {
            "type": "string",
            "nullable": true,
            "description": "Optional summary of the conversation."
          },
          "contact_full_name": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Visitor full name captured during the chat."
          },
          "contact_email": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Visitor email captured during the chat."
          },
          "contact_phone": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Visitor phone captured during the chat."
          },
          "page_url": {
            "type": "string",
            "nullable": true,
            "description": "Page URL where the chat was started."
          },
          "matter_uid": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Optional related matter/case UID."
          },
          "lead_intent": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Lead intent value for staff edits."
          },
          "lead_information": {
            "type": "object",
            "nullable": true,
            "description": "Lead key/value data for staff edits.",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "UpsertAiChatConfigRequest": {
        "type": "object",
        "description": "Request body for upserting the AI chat configuration. All fields are optional — only provided fields are merged with existing values.",
        "properties": {
          "faq_and_guidance": {
            "type": "string",
            "nullable": true,
            "description": "Free-text FAQ and guidance instructions for the AI receptionist."
          },
          "business_hours": {
            "type": "string",
            "nullable": true,
            "description": "Business hours text; null uses calendar-derived defaults."
          },
          "lead_intent_data": {
            "type": "array",
            "nullable": true,
            "maxItems": 10,
            "description": "Intent-based lead capture configuration.",
            "items": {
              "type": "object",
              "properties": {
                "lead_intent": {
                  "type": "string",
                  "nullable": true,
                  "description": "Lead intent name (e.g., \"General inquiry\")."
                },
                "lead_data_items": {
                  "type": "string",
                  "nullable": true,
                  "description": "Comma-separated or free-text list of lead fields to collect."
                },
                "lead_message_to_visitor": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 200,
                  "description": "Guidance text for how the AI chat receptionist should explain what is being collected and what happens next."
                }
              }
            }
          },
          "lead_capture_text": {
            "type": "string",
            "nullable": true,
            "description": "Default lead-capture message shown to clients."
          },
          "include_contact_info": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether to include business contact info in AI guidance context."
          },
          "include_services": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether to include business services in AI guidance context."
          },
          "include_products": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether to include business products in AI guidance context."
          },
          "include_booking_policies": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether to include booking policies in AI guidance context."
          },
          "include_terms_of_service": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether to include terms of service in AI guidance context."
          },
          "guidance_urls": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Extra URLs whose content is merged into AI guidance."
          },
          "ai_actions": {
            "type": "array",
            "nullable": true,
            "description": "AI proactive action behavior.",
            "items": {
              "type": "object",
              "properties": {
                "action_uid": {
                  "type": "string",
                  "description": "Portal action UID."
                },
                "action_key": {
                  "type": "string",
                  "description": "Action key/type (e.g., \"schedule\", \"contact\")."
                },
                "should_offer": {
                  "type": "boolean",
                  "description": "Whether the AI should proactively suggest this action."
                },
                "when_to_offer": {
                  "type": "string",
                  "nullable": true,
                  "maxLength": 200,
                  "description": "Guidance text for when the AI should suggest this action."
                }
              },
              "required": [
                "action_uid",
                "action_key",
                "should_offer"
              ]
            }
          }
        }
      },
      "ErrorResponse_ai_chat_configurations": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "field": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Staff token"
      },
      "AiReceptionistConversations": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "**Staff tokens** — business context is taken from the token for conversations."
      },
      "WidgetConfigurations": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Business token (and optional Staff token where the API supports attribution). The business is derived from the authenticated token."
      }
    }
  },
  "tags": [
    {
      "name": "Web AI Widget",
      "description": "Widget configuration resources under `/v3/online_presence/widget_configurations`."
    },
    {
      "name": "Online Presence conversations",
      "description": "Persisted AI Receptionist conversations for the authenticated business (**Staff tokens**)."
    },
    {
      "name": "AI Chat Configuration",
      "description": "AI chat behavior configuration for the authenticated business (**Staff tokens**)."
    }
  ]
}
