{
  "openapi": "3.1.0",
  "info": {
    "title": "Online_presence",
    "description": "Unified OpenAPI specification for online_presence domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "ai_receptionist_conversations.json",
        "widget_configurations.json",
        "ai_chat_configurations.json"
      ],
      "pathNormalizations": [],
      "pathConflicts": [],
      "componentConflicts": [
        {
          "type": "schema",
          "name": "NestHttpException",
          "resolution": "Renamed to NestHttpException_widget_configurations",
          "files": [
            "merged",
            "widget_configurations.json"
          ]
        },
        {
          "type": "schema",
          "name": "ErrorResponse",
          "resolution": "Renamed to ErrorResponse_ai_chat_configurations",
          "files": [
            "merged",
            "ai_chat_configurations.json"
          ]
        }
      ],
      "totalPaths": 5,
      "totalComponents": 17
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/v3/online_presence/ai_receptionist_conversations": {
      "get": {
        "operationId": "listAiReceptionistConversations",
        "summary": "Get all AIReceptionistConversations",
        "description": "Returns paginated conversations for the authenticated business. Available for **Staff tokens**",
        "tags": [
          "AI Receptionist Conversation"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page index.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search in transcript and summary",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_simulated",
            "in": "query",
            "description": "When true, includes conversations created by AI Receptionist simulation and training flows. Simulated conversations are excluded by default.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort expression in `field:asc|desc` format. Allowed fields: `ended_at`, `started_at`, `created_at`, `updated_at`. Default sort is `ended_at:desc`.",
            "schema": {
              "type": "string",
              "example": "ended_at:desc"
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Filter conversations ending on or after this ISO 8601 date-time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Filter conversations ending on or before this ISO 8601 date-time.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "client_uid",
            "in": "query",
            "description": "Filter conversations linked to this CRM contact (client) uid (e.g., \"5f8a1b2c3d4e5f60\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "matter_uid",
            "in": "query",
            "description": "Filter conversations linked to this matter uid (e.g., \"a1b2c3d4e5f60718\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List result (`{ success: true, data: { conversations, total } }`)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListConversationsPayload"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Business context required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "Business context required"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure (e.g., invalid sort parameter)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "sort",
                      "code": "invalid",
                      "message": "sort field must be one of: ended_at, started_at, created_at, updated_at"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "AiReceptionistConversations": []
          }
        ]
      },
      "post": {
        "operationId": "createAiReceptionistConversation",
        "summary": "Create an AIReceptionistConversation",
        "description": "Creates an AIReceptionistConversations. Available for **Staff tokens**",
        "tags": [
          "AI Receptionist Conversation"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "description": "Persisted website AI Receptionist conversation resource. Returned inside `{ data }` for Staff-scoped list/get/create/update APIs (`/v3/online_presence/ai_receptionist_conversations`). Date-time fields use ISO 8601 format. Soft-deleted conversations are not returned in normal API responses.",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "readOnly": true,
                              "description": "Public conversation UID (UUID)."
                            },
                            "business_uid": {
                              "type": "string",
                              "description": "Business that owns the conversation."
                            },
                            "session_id": {
                              "type": "string",
                              "description": "Chat session id from the online_presence chat service."
                            },
                            "transcript": {
                              "description": "Conversation transcript. New records use a structured transcript object (`schemaVersion` + `messages`). Older records may still contain legacy plain text; new integrations should use the structured format.",
                              "nullable": true,
                              "oneOf": [
                                {
                                  "type": "object",
                                  "description": "Structured transcript object captured when a session ends. Uses the same visitor-visible message list shape that is returned when resuming an active chat session. Consumers should render from `messages` and may derive plain text if needed.",
                                  "properties": {
                                    "schemaVersion": {
                                      "type": "integer",
                                      "enum": [
                                        1
                                      ],
                                      "description": "Document format version."
                                    },
                                    "messages": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "description": "Visitor-visible chat line (**user** or **assistant**). Used in chat resume responses and stored inside the transcript document for persisted conversations. System prompts and internal tool rows are not included.",
                                        "properties": {
                                          "role": {
                                            "type": "string",
                                            "enum": [
                                              "user",
                                              "assistant"
                                            ],
                                            "description": "Who sent the message."
                                          },
                                          "content": {
                                            "type": "string",
                                            "description": "Message text (may include markdown)."
                                          },
                                          "message_type": {
                                            "type": "string",
                                            "nullable": true,
                                            "enum": [
                                              "tool_status"
                                            ],
                                            "description": "Optional semantic marker for assistant status lines emitted while backend tools run (e.g., \"Storing your information...\"). UI can use this to avoid treating the row as a normal assistant reply."
                                          },
                                          "at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Optional ISO 8601 UTC timestamp when the server recorded the turn. May be omitted on older Redis session blobs; clients may use it for ordering or display outside the embeddable widget."
                                          }
                                        },
                                        "required": [
                                          "role",
                                          "content"
                                        ],
                                        "example": {
                                          "role": "assistant",
                                          "content": "Hi! How can I help you today?",
                                          "at": "2026-04-19T12:34:56.789Z"
                                        }
                                      },
                                      "description": "Ordered visitor-visible turns."
                                    },
                                    "ai_receptionist_training_feedback_history": {
                                      "type": "array",
                                      "description": "Append-only AI receptionist training feedback history captured from chat history UI. Each entry stores who submitted the feedback, when it was submitted, scope (`conversation` or `message`), and optional message reference metadata for message-level feedback.",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "ISO 8601 UTC timestamp when the feedback entry was created."
                                          },
                                          "created_by_staff_uid": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "Staff UID that submitted the feedback."
                                          },
                                          "feedback_scope": {
                                            "type": "string",
                                            "enum": [
                                              "conversation",
                                              "message"
                                            ],
                                            "description": "Feedback scope: entire conversation (`conversation`) or specific assistant message (`message`)."
                                          },
                                          "feedback_text": {
                                            "type": "string",
                                            "description": "Raw user feedback text."
                                          },
                                          "message_reference": {
                                            "type": "object",
                                            "nullable": true,
                                            "description": "Optional message reference details for `message` scope feedback.",
                                            "properties": {
                                              "index": {
                                                "type": "integer",
                                                "minimum": 0,
                                                "description": "Message index in transcript `messages` array."
                                              },
                                              "snippet": {
                                                "type": "string",
                                                "description": "Short first-words snippet of the referenced message."
                                              },
                                              "message_id": {
                                                "type": "string",
                                                "nullable": true,
                                                "description": "Optional UI-level transcript message id."
                                              },
                                              "role": {
                                                "type": "string",
                                                "nullable": true,
                                                "enum": [
                                                  "assistant",
                                                  "visitor"
                                                ],
                                                "description": "Optional role hint from the UI message id."
                                              }
                                            }
                                          }
                                        },
                                        "required": [
                                          "created_at",
                                          "feedback_scope",
                                          "feedback_text"
                                        ]
                                      }
                                    }
                                  },
                                  "required": [
                                    "schemaVersion",
                                    "messages"
                                  ],
                                  "example": {
                                    "schemaVersion": 1,
                                    "messages": [
                                      {
                                        "role": "assistant",
                                        "content": "Hi! How can I help?",
                                        "at": "2026-04-19T12:34:56.789Z"
                                      },
                                      {
                                        "role": "user",
                                        "content": "I need to book an appointment.",
                                        "at": "2026-04-19T12:35:01.000Z"
                                      }
                                    ],
                                    "ai_receptionist_training_feedback_history": [
                                      {
                                        "created_at": "2026-05-10T13:20:11.000Z",
                                        "created_by_staff_uid": "evcq5xg3epuw2c1a",
                                        "feedback_scope": "message",
                                        "feedback_text": "Avoid asking for phone again once it was already provided.",
                                        "message_reference": {
                                          "index": 6,
                                          "snippet": "Thank you, Itzik. Could you please provide your phone number...",
                                          "message_id": "transcript-object-6-assistant",
                                          "role": "assistant"
                                        }
                                      }
                                    ]
                                  }
                                },
                                {
                                  "type": "string",
                                  "description": "Legacy plain-text transcript (older data only)."
                                }
                              ]
                            },
                            "summary": {
                              "type": "string",
                              "nullable": true,
                              "description": "Optional summary of the conversation."
                            },
                            "contact_full_name": {
                              "type": "string",
                              "nullable": true,
                              "description": "Visitor name if captured."
                            },
                            "contact_email": {
                              "type": "string",
                              "nullable": true,
                              "description": "Visitor email if captured."
                            },
                            "contact_phone": {
                              "type": "string",
                              "nullable": true,
                              "description": "Visitor phone if captured."
                            },
                            "page_url": {
                              "type": "string",
                              "nullable": true,
                              "description": "Page URL where the chat started."
                            },
                            "started_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Conversation start time."
                            },
                            "ended_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Conversation end time."
                            },
                            "matter_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Optional matter/case linkage."
                            },
                            "client_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Optional CRM client UID linked to this conversation."
                            },
                            "message_count": {
                              "type": "integer",
                              "nullable": true,
                              "minimum": 0,
                              "description": "Number of messages in the conversation."
                            },
                            "lead_intent": {
                              "type": "string",
                              "nullable": true,
                              "description": "Resolved lead intent extracted at conversation close (e.g., \"General inquiry\"). When no lead data is captured, value may be \"N/A\"."
                            },
                            "lead_information": {
                              "type": "object",
                              "nullable": true,
                              "description": "Extracted lead key/value pairs captured from the conversation (JSON object, e.g. {\"Name\":\"John Doe\",\"Phone\":\"+15551234567\"}).",
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "source_app_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Application that delivered the inbound traffic for this conversation. Web widget sessions use null; voice AI Receptionist sessions use \"voicecalls\"."
                            },
                            "channel_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Channel identifier used for attribution in AI Receptionist reporting, such as \"voicecalls:setting_123\" for a voicecalls phone-number setting."
                            },
                            "delivery_kind": {
                              "type": "string",
                              "nullable": true,
                              "enum": [
                                "webaiwidgetmgr",
                                "comm_gw",
                                "voicecalls"
                              ],
                              "description": "Lifecycle owner for the conversation. **webaiwidgetmgr** means the website widget owned the session lifecycle, **comm_gw** means Communication Gateway owned lifecycle and release handling, and **voicecalls** means the voicecalls service owned PSTN lifecycle handling."
                            },
                            "voice_call_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Internal voicecalls call UID used to correlate AI Receptionist voice metadata and recording callbacks."
                            },
                            "external_uuid": {
                              "type": "string",
                              "nullable": true,
                              "description": "External provider conversation UUID, usually the Vonage conversation UUID used by voicecalls webhooks."
                            },
                            "voice_metadata": {
                              "type": "object",
                              "nullable": true,
                              "description": "Voice-specific metadata for AI Receptionist calls, including caller/callee numbers and recording details when available.",
                              "properties": {
                                "voice_call_uid": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Internal voicecalls call UID."
                                },
                                "external_uuid": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "External provider conversation UUID."
                                },
                                "from_number": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Caller phone number in E.164 format."
                                },
                                "to_number": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Dialed voicecalls phone number in E.164 format."
                                },
                                "recording_url": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Signed call recording URL generated by voicecalls."
                                },
                                "file_size": {
                                  "type": "integer",
                                  "nullable": true,
                                  "minimum": 0,
                                  "description": "Recording file size in bytes."
                                },
                                "recording_duration": {
                                  "type": "integer",
                                  "nullable": true,
                                  "minimum": 0,
                                  "description": "Recording duration in seconds."
                                },
                                "recording_received_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "nullable": true,
                                  "description": "Time when webaiwidgetserver received the recording callback."
                                }
                              }
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "readOnly": true,
                              "description": "Row creation time."
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "readOnly": true,
                              "description": "Row last update time."
                            }
                          },
                          "required": [
                            "uid",
                            "business_uid",
                            "session_id",
                            "started_at",
                            "ended_at",
                            "created_at",
                            "updated_at"
                          ],
                          "example": {
                            "uid": "8d31f5fe-9c6d-4a6a-b0a2-9d10a9f1c01a",
                            "business_uid": "biz_2f8f7ab1",
                            "session_id": "4f609f56-cb57-43c5-956c-252f20d67cb0",
                            "transcript": {
                              "schemaVersion": 1,
                              "messages": [
                                {
                                  "role": "user",
                                  "content": "Hi, I need a quote for plumbing work.",
                                  "at": "2026-04-04T12:43:25.000Z"
                                },
                                {
                                  "role": "assistant",
                                  "content": "Sure. Could you share your name and phone number?",
                                  "at": "2026-04-04T12:43:28.000Z"
                                }
                              ],
                              "ai_receptionist_training_feedback_history": [
                                {
                                  "created_at": "2026-05-10T13:20:11.000Z",
                                  "created_by_staff_uid": "evcq5xg3epuw2c1a",
                                  "feedback_scope": "conversation",
                                  "feedback_text": "Please use a friendlier tone in follow-up messages.",
                                  "message_reference": null
                                }
                              ]
                            },
                            "summary": "Visitor asked for plumbing quote and shared contact details.",
                            "contact_full_name": "John Doe",
                            "contact_email": null,
                            "contact_phone": "+15551234567",
                            "page_url": "https://example.com/services/plumbing",
                            "started_at": "2026-04-04T12:43:21.000Z",
                            "ended_at": "2026-04-04T12:49:58.000Z",
                            "matter_uid": "mtr_991ac2",
                            "client_uid": "cli_1872baf9",
                            "message_count": 18,
                            "lead_intent": "General inquiry",
                            "lead_information": {
                              "Name": "John Doe",
                              "Phone": "+15551234567",
                              "Reason for inquiry": "Quote for plumbing work"
                            },
                            "source_app_uid": "voicecalls",
                            "channel_uid": "voicecalls:setting_123",
                            "delivery_kind": "voicecalls",
                            "voice_call_uid": "vc_7f31d9a4",
                            "external_uuid": "CON-123",
                            "voice_metadata": {
                              "voice_call_uid": "vc_7f31d9a4",
                              "external_uuid": "CON-123",
                              "from_number": "+15551234567",
                              "to_number": "+12125551234",
                              "recording_url": "https://recordings.example.com/calls/CON-123.wav",
                              "file_size": 1048576,
                              "recording_duration": 95,
                              "recording_received_at": "2026-04-04T12:51:10.000Z"
                            },
                            "created_at": "2026-04-04T12:50:00.000Z",
                            "updated_at": "2026-04-04T12:50:00.000Z"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — business mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "business_uid",
                      "code": "forbidden",
                      "message": "business_uid does not match authenticated business"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "ended_at",
                      "code": "invalid",
                      "message": "ended_at must be a valid ISO 8601 date string"
                    },
                    {
                      "field": "started_at",
                      "code": "invalid",
                      "message": "started_at must be a valid ISO 8601 date string"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "AiReceptionistConversations": []
          }
        ]
      }
    },
    "/v3/online_presence/ai_receptionist_conversations/{uid}": {
      "get": {
        "operationId": "getAiReceptionistConversation",
        "summary": "Retrieve an AIReceptionistConversations",
        "description": "Returns a single AI Receptionist Conversations. Available for **Staff tokens**.",
        "tags": [
          "AI Receptionist Conversation"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation (`{ success: true, data: conversation }`)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "description": "Persisted website AI Receptionist conversation resource. Returned inside `{ data }` for Staff-scoped list/get/create/update APIs (`/v3/online_presence/ai_receptionist_conversations`). Date-time fields use ISO 8601 format. Soft-deleted conversations are not returned in normal API responses.",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "readOnly": true,
                              "description": "Public conversation UID (UUID)."
                            },
                            "business_uid": {
                              "type": "string",
                              "description": "Business that owns the conversation."
                            },
                            "session_id": {
                              "type": "string",
                              "description": "Chat session id from the online_presence chat service."
                            },
                            "transcript": {
                              "description": "Conversation transcript. New records use a structured transcript object (`schemaVersion` + `messages`). Older records may still contain legacy plain text; new integrations should use the structured format.",
                              "nullable": true,
                              "oneOf": [
                                {
                                  "type": "object",
                                  "description": "Structured transcript object captured when a session ends. Uses the same visitor-visible message list shape that is returned when resuming an active chat session. Consumers should render from `messages` and may derive plain text if needed.",
                                  "properties": {
                                    "schemaVersion": {
                                      "type": "integer",
                                      "enum": [
                                        1
                                      ],
                                      "description": "Document format version."
                                    },
                                    "messages": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "description": "Visitor-visible chat line (**user** or **assistant**). Used in chat resume responses and stored inside the transcript document for persisted conversations. System prompts and internal tool rows are not included.",
                                        "properties": {
                                          "role": {
                                            "type": "string",
                                            "enum": [
                                              "user",
                                              "assistant"
                                            ],
                                            "description": "Who sent the message."
                                          },
                                          "content": {
                                            "type": "string",
                                            "description": "Message text (may include markdown)."
                                          },
                                          "message_type": {
                                            "type": "string",
                                            "nullable": true,
                                            "enum": [
                                              "tool_status"
                                            ],
                                            "description": "Optional semantic marker for assistant status lines emitted while backend tools run (e.g., \"Storing your information...\"). UI can use this to avoid treating the row as a normal assistant reply."
                                          },
                                          "at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Optional ISO 8601 UTC timestamp when the server recorded the turn. May be omitted on older Redis session blobs; clients may use it for ordering or display outside the embeddable widget."
                                          }
                                        },
                                        "required": [
                                          "role",
                                          "content"
                                        ],
                                        "example": {
                                          "role": "assistant",
                                          "content": "Hi! How can I help you today?",
                                          "at": "2026-04-19T12:34:56.789Z"
                                        }
                                      },
                                      "description": "Ordered visitor-visible turns."
                                    },
                                    "ai_receptionist_training_feedback_history": {
                                      "type": "array",
                                      "description": "Append-only AI receptionist training feedback history captured from chat history UI. Each entry stores who submitted the feedback, when it was submitted, scope (`conversation` or `message`), and optional message reference metadata for message-level feedback.",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "ISO 8601 UTC timestamp when the feedback entry was created."
                                          },
                                          "created_by_staff_uid": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "Staff UID that submitted the feedback."
                                          },
                                          "feedback_scope": {
                                            "type": "string",
                                            "enum": [
                                              "conversation",
                                              "message"
                                            ],
                                            "description": "Feedback scope: entire conversation (`conversation`) or specific assistant message (`message`)."
                                          },
                                          "feedback_text": {
                                            "type": "string",
                                            "description": "Raw user feedback text."
                                          },
                                          "message_reference": {
                                            "type": "object",
                                            "nullable": true,
                                            "description": "Optional message reference details for `message` scope feedback.",
                                            "properties": {
                                              "index": {
                                                "type": "integer",
                                                "minimum": 0,
                                                "description": "Message index in transcript `messages` array."
                                              },
                                              "snippet": {
                                                "type": "string",
                                                "description": "Short first-words snippet of the referenced message."
                                              },
                                              "message_id": {
                                                "type": "string",
                                                "nullable": true,
                                                "description": "Optional UI-level transcript message id."
                                              },
                                              "role": {
                                                "type": "string",
                                                "nullable": true,
                                                "enum": [
                                                  "assistant",
                                                  "visitor"
                                                ],
                                                "description": "Optional role hint from the UI message id."
                                              }
                                            }
                                          }
                                        },
                                        "required": [
                                          "created_at",
                                          "feedback_scope",
                                          "feedback_text"
                                        ]
                                      }
                                    }
                                  },
                                  "required": [
                                    "schemaVersion",
                                    "messages"
                                  ],
                                  "example": {
                                    "schemaVersion": 1,
                                    "messages": [
                                      {
                                        "role": "assistant",
                                        "content": "Hi! How can I help?",
                                        "at": "2026-04-19T12:34:56.789Z"
                                      },
                                      {
                                        "role": "user",
                                        "content": "I need to book an appointment.",
                                        "at": "2026-04-19T12:35:01.000Z"
                                      }
                                    ],
                                    "ai_receptionist_training_feedback_history": [
                                      {
                                        "created_at": "2026-05-10T13:20:11.000Z",
                                        "created_by_staff_uid": "evcq5xg3epuw2c1a",
                                        "feedback_scope": "message",
                                        "feedback_text": "Avoid asking for phone again once it was already provided.",
                                        "message_reference": {
                                          "index": 6,
                                          "snippet": "Thank you, Itzik. Could you please provide your phone number...",
                                          "message_id": "transcript-object-6-assistant",
                                          "role": "assistant"
                                        }
                                      }
                                    ]
                                  }
                                },
                                {
                                  "type": "string",
                                  "description": "Legacy plain-text transcript (older data only)."
                                }
                              ]
                            },
                            "summary": {
                              "type": "string",
                              "nullable": true,
                              "description": "Optional summary of the conversation."
                            },
                            "contact_full_name": {
                              "type": "string",
                              "nullable": true,
                              "description": "Visitor name if captured."
                            },
                            "contact_email": {
                              "type": "string",
                              "nullable": true,
                              "description": "Visitor email if captured."
                            },
                            "contact_phone": {
                              "type": "string",
                              "nullable": true,
                              "description": "Visitor phone if captured."
                            },
                            "page_url": {
                              "type": "string",
                              "nullable": true,
                              "description": "Page URL where the chat started."
                            },
                            "started_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Conversation start time."
                            },
                            "ended_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Conversation end time."
                            },
                            "matter_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Optional matter/case linkage."
                            },
                            "client_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Optional CRM client UID linked to this conversation."
                            },
                            "message_count": {
                              "type": "integer",
                              "nullable": true,
                              "minimum": 0,
                              "description": "Number of messages in the conversation."
                            },
                            "lead_intent": {
                              "type": "string",
                              "nullable": true,
                              "description": "Resolved lead intent extracted at conversation close (e.g., \"General inquiry\"). When no lead data is captured, value may be \"N/A\"."
                            },
                            "lead_information": {
                              "type": "object",
                              "nullable": true,
                              "description": "Extracted lead key/value pairs captured from the conversation (JSON object, e.g. {\"Name\":\"John Doe\",\"Phone\":\"+15551234567\"}).",
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "source_app_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Application that delivered the inbound traffic for this conversation. Web widget sessions use null; voice AI Receptionist sessions use \"voicecalls\"."
                            },
                            "channel_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Channel identifier used for attribution in AI Receptionist reporting, such as \"voicecalls:setting_123\" for a voicecalls phone-number setting."
                            },
                            "delivery_kind": {
                              "type": "string",
                              "nullable": true,
                              "enum": [
                                "webaiwidgetmgr",
                                "comm_gw",
                                "voicecalls"
                              ],
                              "description": "Lifecycle owner for the conversation. **webaiwidgetmgr** means the website widget owned the session lifecycle, **comm_gw** means Communication Gateway owned lifecycle and release handling, and **voicecalls** means the voicecalls service owned PSTN lifecycle handling."
                            },
                            "voice_call_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Internal voicecalls call UID used to correlate AI Receptionist voice metadata and recording callbacks."
                            },
                            "external_uuid": {
                              "type": "string",
                              "nullable": true,
                              "description": "External provider conversation UUID, usually the Vonage conversation UUID used by voicecalls webhooks."
                            },
                            "voice_metadata": {
                              "type": "object",
                              "nullable": true,
                              "description": "Voice-specific metadata for AI Receptionist calls, including caller/callee numbers and recording details when available.",
                              "properties": {
                                "voice_call_uid": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Internal voicecalls call UID."
                                },
                                "external_uuid": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "External provider conversation UUID."
                                },
                                "from_number": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Caller phone number in E.164 format."
                                },
                                "to_number": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Dialed voicecalls phone number in E.164 format."
                                },
                                "recording_url": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Signed call recording URL generated by voicecalls."
                                },
                                "file_size": {
                                  "type": "integer",
                                  "nullable": true,
                                  "minimum": 0,
                                  "description": "Recording file size in bytes."
                                },
                                "recording_duration": {
                                  "type": "integer",
                                  "nullable": true,
                                  "minimum": 0,
                                  "description": "Recording duration in seconds."
                                },
                                "recording_received_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "nullable": true,
                                  "description": "Time when webaiwidgetserver received the recording callback."
                                }
                              }
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "readOnly": true,
                              "description": "Row creation time."
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "readOnly": true,
                              "description": "Row last update time."
                            }
                          },
                          "required": [
                            "uid",
                            "business_uid",
                            "session_id",
                            "started_at",
                            "ended_at",
                            "created_at",
                            "updated_at"
                          ],
                          "example": {
                            "uid": "8d31f5fe-9c6d-4a6a-b0a2-9d10a9f1c01a",
                            "business_uid": "biz_2f8f7ab1",
                            "session_id": "4f609f56-cb57-43c5-956c-252f20d67cb0",
                            "transcript": {
                              "schemaVersion": 1,
                              "messages": [
                                {
                                  "role": "user",
                                  "content": "Hi, I need a quote for plumbing work.",
                                  "at": "2026-04-04T12:43:25.000Z"
                                },
                                {
                                  "role": "assistant",
                                  "content": "Sure. Could you share your name and phone number?",
                                  "at": "2026-04-04T12:43:28.000Z"
                                }
                              ],
                              "ai_receptionist_training_feedback_history": [
                                {
                                  "created_at": "2026-05-10T13:20:11.000Z",
                                  "created_by_staff_uid": "evcq5xg3epuw2c1a",
                                  "feedback_scope": "conversation",
                                  "feedback_text": "Please use a friendlier tone in follow-up messages.",
                                  "message_reference": null
                                }
                              ]
                            },
                            "summary": "Visitor asked for plumbing quote and shared contact details.",
                            "contact_full_name": "John Doe",
                            "contact_email": null,
                            "contact_phone": "+15551234567",
                            "page_url": "https://example.com/services/plumbing",
                            "started_at": "2026-04-04T12:43:21.000Z",
                            "ended_at": "2026-04-04T12:49:58.000Z",
                            "matter_uid": "mtr_991ac2",
                            "client_uid": "cli_1872baf9",
                            "message_count": 18,
                            "lead_intent": "General inquiry",
                            "lead_information": {
                              "Name": "John Doe",
                              "Phone": "+15551234567",
                              "Reason for inquiry": "Quote for plumbing work"
                            },
                            "source_app_uid": "voicecalls",
                            "channel_uid": "voicecalls:setting_123",
                            "delivery_kind": "voicecalls",
                            "voice_call_uid": "vc_7f31d9a4",
                            "external_uuid": "CON-123",
                            "voice_metadata": {
                              "voice_call_uid": "vc_7f31d9a4",
                              "external_uuid": "CON-123",
                              "from_number": "+15551234567",
                              "to_number": "+12125551234",
                              "recording_url": "https://recordings.example.com/calls/CON-123.wav",
                              "file_size": 1048576,
                              "recording_duration": 95,
                              "recording_received_at": "2026-04-04T12:51:10.000Z"
                            },
                            "created_at": "2026-04-04T12:50:00.000Z",
                            "updated_at": "2026-04-04T12:50:00.000Z"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Conversation not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "AiReceptionistConversations": []
          }
        ]
      },
      "put": {
        "operationId": "updateAiReceptionistConversation",
        "summary": "Update an AIReceptionistConversations",
        "description": "Updates an AIReceptionistConversation. Available for **Staff tokens**",
        "tags": [
          "AI Receptionist Conversation"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConversationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated conversation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "description": "Persisted website AI Receptionist conversation resource. Returned inside `{ data }` for Staff-scoped list/get/create/update APIs (`/v3/online_presence/ai_receptionist_conversations`). Date-time fields use ISO 8601 format. Soft-deleted conversations are not returned in normal API responses.",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "readOnly": true,
                              "description": "Public conversation UID (UUID)."
                            },
                            "business_uid": {
                              "type": "string",
                              "description": "Business that owns the conversation."
                            },
                            "session_id": {
                              "type": "string",
                              "description": "Chat session id from the online_presence chat service."
                            },
                            "transcript": {
                              "description": "Conversation transcript. New records use a structured transcript object (`schemaVersion` + `messages`). Older records may still contain legacy plain text; new integrations should use the structured format.",
                              "nullable": true,
                              "oneOf": [
                                {
                                  "type": "object",
                                  "description": "Structured transcript object captured when a session ends. Uses the same visitor-visible message list shape that is returned when resuming an active chat session. Consumers should render from `messages` and may derive plain text if needed.",
                                  "properties": {
                                    "schemaVersion": {
                                      "type": "integer",
                                      "enum": [
                                        1
                                      ],
                                      "description": "Document format version."
                                    },
                                    "messages": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "description": "Visitor-visible chat line (**user** or **assistant**). Used in chat resume responses and stored inside the transcript document for persisted conversations. System prompts and internal tool rows are not included.",
                                        "properties": {
                                          "role": {
                                            "type": "string",
                                            "enum": [
                                              "user",
                                              "assistant"
                                            ],
                                            "description": "Who sent the message."
                                          },
                                          "content": {
                                            "type": "string",
                                            "description": "Message text (may include markdown)."
                                          },
                                          "message_type": {
                                            "type": "string",
                                            "nullable": true,
                                            "enum": [
                                              "tool_status"
                                            ],
                                            "description": "Optional semantic marker for assistant status lines emitted while backend tools run (e.g., \"Storing your information...\"). UI can use this to avoid treating the row as a normal assistant reply."
                                          },
                                          "at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Optional ISO 8601 UTC timestamp when the server recorded the turn. May be omitted on older Redis session blobs; clients may use it for ordering or display outside the embeddable widget."
                                          }
                                        },
                                        "required": [
                                          "role",
                                          "content"
                                        ],
                                        "example": {
                                          "role": "assistant",
                                          "content": "Hi! How can I help you today?",
                                          "at": "2026-04-19T12:34:56.789Z"
                                        }
                                      },
                                      "description": "Ordered visitor-visible turns."
                                    },
                                    "ai_receptionist_training_feedback_history": {
                                      "type": "array",
                                      "description": "Append-only AI receptionist training feedback history captured from chat history UI. Each entry stores who submitted the feedback, when it was submitted, scope (`conversation` or `message`), and optional message reference metadata for message-level feedback.",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "ISO 8601 UTC timestamp when the feedback entry was created."
                                          },
                                          "created_by_staff_uid": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "Staff UID that submitted the feedback."
                                          },
                                          "feedback_scope": {
                                            "type": "string",
                                            "enum": [
                                              "conversation",
                                              "message"
                                            ],
                                            "description": "Feedback scope: entire conversation (`conversation`) or specific assistant message (`message`)."
                                          },
                                          "feedback_text": {
                                            "type": "string",
                                            "description": "Raw user feedback text."
                                          },
                                          "message_reference": {
                                            "type": "object",
                                            "nullable": true,
                                            "description": "Optional message reference details for `message` scope feedback.",
                                            "properties": {
                                              "index": {
                                                "type": "integer",
                                                "minimum": 0,
                                                "description": "Message index in transcript `messages` array."
                                              },
                                              "snippet": {
                                                "type": "string",
                                                "description": "Short first-words snippet of the referenced message."
                                              },
                                              "message_id": {
                                                "type": "string",
                                                "nullable": true,
                                                "description": "Optional UI-level transcript message id."
                                              },
                                              "role": {
                                                "type": "string",
                                                "nullable": true,
                                                "enum": [
                                                  "assistant",
                                                  "visitor"
                                                ],
                                                "description": "Optional role hint from the UI message id."
                                              }
                                            }
                                          }
                                        },
                                        "required": [
                                          "created_at",
                                          "feedback_scope",
                                          "feedback_text"
                                        ]
                                      }
                                    }
                                  },
                                  "required": [
                                    "schemaVersion",
                                    "messages"
                                  ],
                                  "example": {
                                    "schemaVersion": 1,
                                    "messages": [
                                      {
                                        "role": "assistant",
                                        "content": "Hi! How can I help?",
                                        "at": "2026-04-19T12:34:56.789Z"
                                      },
                                      {
                                        "role": "user",
                                        "content": "I need to book an appointment.",
                                        "at": "2026-04-19T12:35:01.000Z"
                                      }
                                    ],
                                    "ai_receptionist_training_feedback_history": [
                                      {
                                        "created_at": "2026-05-10T13:20:11.000Z",
                                        "created_by_staff_uid": "evcq5xg3epuw2c1a",
                                        "feedback_scope": "message",
                                        "feedback_text": "Avoid asking for phone again once it was already provided.",
                                        "message_reference": {
                                          "index": 6,
                                          "snippet": "Thank you, Itzik. Could you please provide your phone number...",
                                          "message_id": "transcript-object-6-assistant",
                                          "role": "assistant"
                                        }
                                      }
                                    ]
                                  }
                                },
                                {
                                  "type": "string",
                                  "description": "Legacy plain-text transcript (older data only)."
                                }
                              ]
                            },
                            "summary": {
                              "type": "string",
                              "nullable": true,
                              "description": "Optional summary of the conversation."
                            },
                            "contact_full_name": {
                              "type": "string",
                              "nullable": true,
                              "description": "Visitor name if captured."
                            },
                            "contact_email": {
                              "type": "string",
                              "nullable": true,
                              "description": "Visitor email if captured."
                            },
                            "contact_phone": {
                              "type": "string",
                              "nullable": true,
                              "description": "Visitor phone if captured."
                            },
                            "page_url": {
                              "type": "string",
                              "nullable": true,
                              "description": "Page URL where the chat started."
                            },
                            "started_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Conversation start time."
                            },
                            "ended_at": {
                              "type": "string",
                              "format": "date-time",
                              "description": "Conversation end time."
                            },
                            "matter_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Optional matter/case linkage."
                            },
                            "client_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Optional CRM client UID linked to this conversation."
                            },
                            "message_count": {
                              "type": "integer",
                              "nullable": true,
                              "minimum": 0,
                              "description": "Number of messages in the conversation."
                            },
                            "lead_intent": {
                              "type": "string",
                              "nullable": true,
                              "description": "Resolved lead intent extracted at conversation close (e.g., \"General inquiry\"). When no lead data is captured, value may be \"N/A\"."
                            },
                            "lead_information": {
                              "type": "object",
                              "nullable": true,
                              "description": "Extracted lead key/value pairs captured from the conversation (JSON object, e.g. {\"Name\":\"John Doe\",\"Phone\":\"+15551234567\"}).",
                              "additionalProperties": {
                                "type": "string"
                              }
                            },
                            "source_app_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Application that delivered the inbound traffic for this conversation. Web widget sessions use null; voice AI Receptionist sessions use \"voicecalls\"."
                            },
                            "channel_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Channel identifier used for attribution in AI Receptionist reporting, such as \"voicecalls:setting_123\" for a voicecalls phone-number setting."
                            },
                            "delivery_kind": {
                              "type": "string",
                              "nullable": true,
                              "enum": [
                                "webaiwidgetmgr",
                                "comm_gw",
                                "voicecalls"
                              ],
                              "description": "Lifecycle owner for the conversation. **webaiwidgetmgr** means the website widget owned the session lifecycle, **comm_gw** means Communication Gateway owned lifecycle and release handling, and **voicecalls** means the voicecalls service owned PSTN lifecycle handling."
                            },
                            "voice_call_uid": {
                              "type": "string",
                              "nullable": true,
                              "description": "Internal voicecalls call UID used to correlate AI Receptionist voice metadata and recording callbacks."
                            },
                            "external_uuid": {
                              "type": "string",
                              "nullable": true,
                              "description": "External provider conversation UUID, usually the Vonage conversation UUID used by voicecalls webhooks."
                            },
                            "voice_metadata": {
                              "type": "object",
                              "nullable": true,
                              "description": "Voice-specific metadata for AI Receptionist calls, including caller/callee numbers and recording details when available.",
                              "properties": {
                                "voice_call_uid": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Internal voicecalls call UID."
                                },
                                "external_uuid": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "External provider conversation UUID."
                                },
                                "from_number": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Caller phone number in E.164 format."
                                },
                                "to_number": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Dialed voicecalls phone number in E.164 format."
                                },
                                "recording_url": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Signed call recording URL generated by voicecalls."
                                },
                                "file_size": {
                                  "type": "integer",
                                  "nullable": true,
                                  "minimum": 0,
                                  "description": "Recording file size in bytes."
                                },
                                "recording_duration": {
                                  "type": "integer",
                                  "nullable": true,
                                  "minimum": 0,
                                  "description": "Recording duration in seconds."
                                },
                                "recording_received_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "nullable": true,
                                  "description": "Time when webaiwidgetserver received the recording callback."
                                }
                              }
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time",
                              "readOnly": true,
                              "description": "Row creation time."
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time",
                              "readOnly": true,
                              "description": "Row last update time."
                            }
                          },
                          "required": [
                            "uid",
                            "business_uid",
                            "session_id",
                            "started_at",
                            "ended_at",
                            "created_at",
                            "updated_at"
                          ],
                          "example": {
                            "uid": "8d31f5fe-9c6d-4a6a-b0a2-9d10a9f1c01a",
                            "business_uid": "biz_2f8f7ab1",
                            "session_id": "4f609f56-cb57-43c5-956c-252f20d67cb0",
                            "transcript": {
                              "schemaVersion": 1,
                              "messages": [
                                {
                                  "role": "user",
                                  "content": "Hi, I need a quote for plumbing work.",
                                  "at": "2026-04-04T12:43:25.000Z"
                                },
                                {
                                  "role": "assistant",
                                  "content": "Sure. Could you share your name and phone number?",
                                  "at": "2026-04-04T12:43:28.000Z"
                                }
                              ],
                              "ai_receptionist_training_feedback_history": [
                                {
                                  "created_at": "2026-05-10T13:20:11.000Z",
                                  "created_by_staff_uid": "evcq5xg3epuw2c1a",
                                  "feedback_scope": "conversation",
                                  "feedback_text": "Please use a friendlier tone in follow-up messages.",
                                  "message_reference": null
                                }
                              ]
                            },
                            "summary": "Visitor asked for plumbing quote and shared contact details.",
                            "contact_full_name": "John Doe",
                            "contact_email": null,
                            "contact_phone": "+15551234567",
                            "page_url": "https://example.com/services/plumbing",
                            "started_at": "2026-04-04T12:43:21.000Z",
                            "ended_at": "2026-04-04T12:49:58.000Z",
                            "matter_uid": "mtr_991ac2",
                            "client_uid": "cli_1872baf9",
                            "message_count": 18,
                            "lead_intent": "General inquiry",
                            "lead_information": {
                              "Name": "John Doe",
                              "Phone": "+15551234567",
                              "Reason for inquiry": "Quote for plumbing work"
                            },
                            "source_app_uid": "voicecalls",
                            "channel_uid": "voicecalls:setting_123",
                            "delivery_kind": "voicecalls",
                            "voice_call_uid": "vc_7f31d9a4",
                            "external_uuid": "CON-123",
                            "voice_metadata": {
                              "voice_call_uid": "vc_7f31d9a4",
                              "external_uuid": "CON-123",
                              "from_number": "+15551234567",
                              "to_number": "+12125551234",
                              "recording_url": "https://recordings.example.com/calls/CON-123.wav",
                              "file_size": 1048576,
                              "recording_duration": 95,
                              "recording_received_at": "2026-04-04T12:51:10.000Z"
                            },
                            "created_at": "2026-04-04T12:50:00.000Z",
                            "updated_at": "2026-04-04T12:50:00.000Z"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Authentication required"
[...]
