{
  "openapi": "3.1.0",
  "info": {
    "title": "Payments",
    "description": "Unified OpenAPI specification for payments domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "creditNote.json",
        "invoice.json"
      ],
      "pathNormalizations": [],
      "pathConflicts": [],
      "componentConflicts": [],
      "totalPaths": 4,
      "totalComponents": 0
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/v3/payments/credit_notes": {
      "get": {
        "summary": "Get all Credit Notes",
        "description": "## Overview\nGet a list of credit notes with pagination.",
        "parameters": [
          {
            "name": "invoice_uid",
            "required": false,
            "in": "query",
            "description": "Filter credit notes by invoice UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "credit_notes": {
                              "description": "List of Credit Notes",
                              "type": "array",
                              "items": {
                                "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Credit Note"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a Credit Note",
        "description": "## Overview\nCreates and issues a new credit note against an existing invoice. The credit note is immediately issued (no draft status). The service validates that the credit amount doesn't exceed the invoice's remaining creditable balance, generates EN 16931-compliant XML, stores it in S3, and publishes a `billing.credit_note.created` event.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invoice_uid": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json#/properties/invoice_uid"
                  },
                  "notes": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json#/properties/notes"
                  },
                  "line_items": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json#/properties/line_items"
                  },
                  "unique_number": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json#/properties/unique_number"
                  },
                  "source_payment_uid": {
                    "type": "string",
                    "description": "Optional: The unique identifier of the payment being refunded. Included when refunding a specific payment. Used for refund flow, is not stored on the credit note entity and not returned on the response"
                  },
                  "notify_recipient": {
                    "type": "boolean",
                    "description": "Whether to notify the recipient. Used only during creation to determine if email should be sent. Not saved on credit note."
                  }
                },
                "required": [
                  "invoice_uid",
                  "line_items"
                ],
                "example": {
                  "invoice_uid": "inv_abc123",
                  "notes": "Goodwill credit.",
                  "line_items": [
                    {
                      "name": "Consulting Services Credit",
                      "quantity": 1,
                      "unit_amount": 50,
                      "taxes": [
                        {
                          "name": "VAT",
                          "rate": 20,
                          "tax_total": 10
                        }
                      ]
                    },
                    {
                      "name": "Custom Goodwill Credit",
                      "quantity": 1,
                      "unit_amount": 25,
                      "taxes": []
                    }
                  ],
                  "source_payment_uid": "pmt_xyz789",
                  "notify_recipient": true
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Credit Note"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/payments/credit_notes/{uid}": {
      "get": {
        "summary": "Retrieve a Credit Note",
        "description": "## Overview\nRetrieves the details of a specific credit note by its UID.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Credit Note",
            "schema": {
              "type": "string"
            },
            "example": "cn_abc123def456"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Credit Note"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/payments/invoices": {
      "post": {
        "summary": "Create an Invoice",
        "description": "## Overview\nCreate a new invoice Available for **Staff Tokens**.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "matter_uid": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/matter_uid"
                  },
                  "issue_date": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/issue_date"
                  },
                  "due_date": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/due_date"
                  },
                  "currency": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/currency"
                  },
                  "status": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/status"
                  },
                  "unique_number": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/unique_number"
                  },
                  "invoice_title": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/invoice_title"
                  },
                  "billing_address": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/billing_address"
                  },
                  "purchase_order": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/purchase_order"
                  },
                  "allow_online_payment": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/allow_online_payment"
                  },
                  "allow_partial_payment": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/allow_partial_payment"
                  },
                  "enable_late_fee": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/enable_late_fee"
                  },
                  "note": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/note"
                  },
                  "terms_and_conditions": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/terms_and_conditions"
                  },
                  "additional_recipients": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/additional_recipients"
                  },
                  "line_item_groups": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/line_item_groups"
                  },
                  "display_line_item_groups_total": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/display_line_item_groups_total"
                  },
                  "display_line_item_total": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/display_line_item_total"
                  },
                  "estimate_uid": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/estimate_uid"
                  },
                  "line_items": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/line_items"
                  },
                  "notify_recipient": {
                    "type": "boolean",
                    "description": "Send email notification to client. Used only during creation/update to determine if email should be sent. Not saved on invoice."
                  },
                  "source_name": {
                    "type": "string",
                    "enum": [
                      "client_portal",
                      "automatic_messages",
                      "campaign",
                      "forward",
                      "initiated_by_staff",
                      "promotions_optin_by_keyword",
                      "staff_initiated",
                      "text_to_business_phone",
                      "website",
                      "unknown"
                    ],
                    "description": "Source tracking name. Used only during creation. Not saved on invoice. Default: \"initiated_by_staff\""
                  }
                },
                "anyOf": [
                  {
                    "required": [
                      "matter_uid",
                      "issue_date",
                      "due_date",
                      "currency",
                      "line_items"
                    ]
                  },
                  {
                    "required": [
                      "matter_uid",
                      "issue_date",
                      "due_date",
                      "currency",
                      "line_item_groups"
                    ]
                  }
                ],
                "example": {
                  "matter_uid": "matter_123",
                  "issue_date": "2024-01-15",
                  "due_date": "2024-02-15",
                  "currency": "USD",
                  "status": "ISSUED",
                  "unique_number": "2024-0001",
                  "invoice_title": "INVOICE",
                  "billing_address": "123 Main St, City, State 12345",
                  "purchase_order": "PO-12345",
                  "allow_online_payment": true,
                  "allow_partial_payment": false,
                  "enable_late_fee": false,
                  "note": "Thank you for your business",
                  "terms_and_conditions": "Payment due within 30 days",
                  "notify_recipient": true,
                  "additional_recipients": [
                    "accounting@example.com"
                  ],
                  "display_line_item_groups_total": true,
                  "display_line_item_total": true,
                  "estimate_uid": null,
                  "source_name": "initiated_by_staff",
                  "line_item_groups": [
                    {
                      "name": "Services",
                      "line_item_group_index": 0,
                      "line_items": [
                        {
                          "name": "Consulting Services",
                          "quantity": 2,
                          "unit_amount": 150,
                          "description": "Hourly consulting",
                          "entity_uid": "service_123",
                          "entity_type": "Service",
                          "tax_uids": [
                            "tax_uid_1"
                          ],
                          "discount": {
                            "discount_type": "percent",
                            "amount": 10
                          },
                          "line_item_index": 0
                        }
                      ]
                    }
                  ],
                  "line_items": [
                    {
                      "name": "Design materials",
                      "quantity": 1,
                      "unit_amount": 114,
                      "description": "Design materials",
                      "entity_uid": "product_123",
                      "entity_type": "Product",
                      "tax_uids": [
                        "tax_uid_1"
                      ],
                      "discount": null,
                      "line_item_index": 1
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Invoice"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/payments/invoices/{uid}": {
      "put": {
        "summary": "Update an Invoice",
        "description": "## Overview\nUpdate an existing invoice Available for **Staff Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Invoice",
            "schema": {
              "type": "string"
            },
            "example": "inv-aaabbbccc112233"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "matter_uid": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/matter_uid"
                  },
                  "issue_date": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/issue_date"
                  },
                  "due_date": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/due_date"
                  },
                  "currency": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/currency"
                  },
                  "status": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/status"
                  },
                  "unique_number": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/unique_number"
                  },
                  "invoice_title": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/invoice_title"
                  },
                  "billing_address": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/billing_address"
                  },
                  "purchase_order": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/purchase_order"
                  },
                  "allow_online_payment": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/allow_online_payment"
                  },
                  "allow_partial_payment": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/allow_partial_payment"
                  },
                  "enable_late_fee": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/enable_late_fee"
                  },
                  "note": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/note"
                  },
                  "terms_and_conditions": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/terms_and_conditions"
                  },
                  "additional_recipients": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/additional_recipients"
                  },
                  "line_item_groups": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/line_item_groups"
                  },
                  "display_line_item_groups_total": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/display_line_item_groups_total"
                  },
                  "display_line_item_total": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/display_line_item_total"
                  },
                  "estimate_uid": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/estimate_uid"
                  },
                  "line_items": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json#/properties/line_items"
                  },
                  "notify_recipient": {
                    "type": "boolean",
                    "description": "Send email notification to client. Used only during creation/update to determine if email should be sent. Not saved on invoice."
                  }
                },
                "anyOf": [
                  {
                    "required": [
                      "matter_uid",
                      "issue_date",
                      "due_date",
                      "currency",
                      "line_items"
                    ]
                  },
                  {
                    "required": [
                      "matter_uid",
                      "issue_date",
                      "due_date",
                      "currency",
                      "line_item_groups"
                    ]
                  }
                ],
                "example": {
                  "matter_uid": "matter_123",
                  "issue_date": "2024-01-15",
                  "due_date": "2024-02-15",
                  "currency": "USD",
                  "status": "ISSUED",
                  "unique_number": "2024-0001",
                  "invoice_title": "INVOICE",
                  "billing_address": "123 Main St, City, State 12345",
                  "purchase_order": "PO-12345",
                  "allow_online_payment": true,
                  "allow_partial_payment": false,
                  "enable_late_fee": false,
                  "note": "Thank you for your business",
                  "terms_and_conditions": "Payment due within 30 days",
                  "notify_recipient": true,
                  "additional_recipients": [
                    "accounting@example.com"
                  ],
                  "display_line_item_groups_total": true,
                  "display_line_item_total": true,
                  "estimate_uid": null,
                  "line_item_groups": [
                    {
                      "name": "Services",
                      "line_item_group_index": 0,
                      "line_items": [
                        {
                          "name": "Consulting Services",
                          "quantity": 2,
                          "unit_amount": 150,
                          "description": "Hourly consulting",
                          "entity_uid": "service_123",
                          "entity_type": "Service",
                          "tax_uids": [
                            "tax_uid_1"
                          ],
                          "discount": {
                            "discount_type": "percent",
                            "amount": 10
                          },
                          "line_item_index": 0
                        }
                      ]
                    }
                  ],
                  "line_items": [
                    {
                      "name": "Design materials",
                      "quantity": 1,
                      "unit_amount": 114,
                      "description": "Design materials",
                      "entity_uid": "product_123",
                      "entity_type": "Product",
                      "tax_uids": [
                        "tax_uid_1"
                      ],
                      "discount": null,
                      "line_item_index": 1
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Invoice"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token authentication"
      }
    }
  },
  "tags": []
}
