{
  "openapi": "3.1.0",
  "info": {
    "title": "Reviews",
    "description": "Unified OpenAPI specification for reviews domain",
    "version": "3.0",
    "x-generated": {
      "timestamp": "2025-09-08T10:01:23.297Z",
      "sourceFiles": [
        "business_reviews_settings.json"
      ],
      "pathNormalizations": [],
      "pathConflicts": [],
      "componentConflicts": [],
      "totalPaths": 2,
      "totalComponents": 1
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/v3/reviews/business_reviews_settings/{business_uid}": {
      "get": {
        "summary": "Retrieve Business Reviews Settings",
        "description": "Get the reviews settings for a specific business - Available for **Staff Tokens**",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the business.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update Business Reviews Settings",
        "description": "Update the reviews settings for a specific business - Available for **Staff Tokens**",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the business.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_review_sharing_consent": {
                    "type": "boolean",
                    "description": "Enables the client to decide whether their review is shared with that external review site."
                  },
                  "platform_id": {
                    "type": "integer",
                    "description": "The ID of the external review platform (1=Google, 2=Facebook)"
                  },
                  "platform_params": {
                    "type": "object",
                    "description": "Platform-specific parameters needed to properly route the review"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/reviews/business_reviews_settings": {
      "post": {
        "summary": "Create Business Reviews Settings",
        "description": "Create new business reviews settings - Available for **Staff Tokens**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_review_sharing_consent": {
                    "type": "boolean",
                    "description": "Enables the client to decide whether their review is shared with that external review site."
                  },
                  "platform_id": {
                    "type": "integer",
                    "description": "The ID of the external review platform (1=Google, 2=Facebook)"
                  },
                  "platform_params": {
                    "type": "object",
                    "description": "Platform-specific parameters needed to properly route the review",
                    "properties": {
                      "place_id": {
                        "type": "integer",
                        "description": "The platform-specific identifier (e.g., place_id for Google)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business reviews settings created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BusinessReviewsSettingsList": {
        "type": "object",
        "properties": {
          "business_reviews_settings": {
            "description": "List of Business Reviews Settings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/reviews/businessReviewsSettings.json"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT Bearer token authentication"
      }
    }
  },
  "tags": []
}
