{
  "openapi": "3.1.0",
  "info": {
    "title": "Reviews",
    "description": "Unified OpenAPI specification for reviews domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "business_reviews_settings.json"
      ],
      "pathNormalizations": [],
      "pathConflicts": [],
      "componentConflicts": [],
      "totalPaths": 2,
      "totalComponents": 1
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/v3/reviews/business_reviews_settings/{business_uid}": {
      "get": {
        "summary": "Retrieve Business Reviews Settings",
        "description": "## Overview\nGet the reviews settings for a specific business.\n\n## Authentication\n**Available for Staff Tokens.**",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the business.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "business_uid": {
                              "type": "string",
                              "description": "The unique identifier (UID) of the business"
                            },
                            "external_review_site_url": {
                              "type": "string",
                              "description": "Specifies the external review site URL where the review will be shared."
                            },
                            "external_review_site_display_name": {
                              "type": "string",
                              "description": "Specifies the display name of the external review site receiving the review."
                            },
                            "display_platform_review_consent": {
                              "type": "boolean",
                              "description": "Whether to prompt clients to leave a public review on Google or Facebook after submitting a review."
                            },
                            "display_review_sharing_consent": {
                              "type": "boolean",
                              "description": "Enables the client to decide whether their review is shared with that external review site."
                            },
                            "platform_id": {
                              "type": [
                                "integer",
                                "null"
                              ],
                              "description": "The ID of the external review platform (1=Google, 2=Facebook). Null if no platform is configured."
                            },
                            "platform_name": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The name of the external review platform. Null if no platform is configured.",
                              "enum": [
                                "Google",
                                "Facebook",
                                null
                              ]
                            },
                            "platform_params": {
                              "type": "object",
                              "description": "Platform-specific parameters needed to properly route the review"
                            }
                          },
                          "required": [
                            "business_uid"
                          ],
                          "example": {
                            "business_uid": "d290f1ee26c54",
                            "display_platform_review_consent": true,
                            "display_review_sharing_consent": true,
                            "platform_id": 1,
                            "platform_name": "Google",
                            "platform_params": {
                              "place_id": 173897183
                            },
                            "external_review_site_url": "https://external_review_site_url.com",
                            "external_review_site_display_name": "External Review Site Name",
                            "created_at": "2021-07-20T14:00:00.000Z",
                            "updated_at": "2021-07-20T14:00:00.000Z"
                          },
                          "description": "Configures external review sharing settings for a business by platform."
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update Business Reviews Settings",
        "description": "## Overview\nUpdate the reviews settings for a specific business - Update the reviews settings for a specific business - Available for **Staff Tokens**.",
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the business.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_platform_review_consent": {
                    "type": "boolean",
                    "description": "Whether to prompt clients to leave a public review on Google or Facebook after submitting a review."
                  },
                  "display_review_sharing_consent": {
                    "type": "boolean",
                    "description": "Enables the client to decide whether their review is shared with that external review site."
                  },
                  "platform_id": {
                    "type": "integer",
                    "description": "The ID of the external review platform (1=Google, 2=Facebook)"
                  },
                  "platform_params": {
                    "type": "object",
                    "description": "Platform-specific parameters needed to properly route the review"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "business_uid": {
                              "type": "string",
                              "description": "The unique identifier (UID) of the business"
                            },
                            "external_review_site_url": {
                              "type": "string",
                              "description": "Specifies the external review site URL where the review will be shared."
                            },
                            "external_review_site_display_name": {
                              "type": "string",
                              "description": "Specifies the display name of the external review site receiving the review."
                            },
                            "display_platform_review_consent": {
                              "type": "boolean",
                              "description": "Whether to prompt clients to leave a public review on Google or Facebook after submitting a review."
                            },
                            "display_review_sharing_consent": {
                              "type": "boolean",
                              "description": "Enables the client to decide whether their review is shared with that external review site."
                            },
                            "platform_id": {
                              "type": [
                                "integer",
                                "null"
                              ],
                              "description": "The ID of the external review platform (1=Google, 2=Facebook). Null if no platform is configured."
                            },
                            "platform_name": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The name of the external review platform. Null if no platform is configured.",
                              "enum": [
                                "Google",
                                "Facebook",
                                null
                              ]
                            },
                            "platform_params": {
                              "type": "object",
                              "description": "Platform-specific parameters needed to properly route the review"
                            }
                          },
                          "required": [
                            "business_uid"
                          ],
                          "example": {
                            "business_uid": "d290f1ee26c54",
                            "display_platform_review_consent": true,
                            "display_review_sharing_consent": true,
                            "platform_id": 1,
                            "platform_name": "Google",
                            "platform_params": {
                              "place_id": 173897183
                            },
                            "external_review_site_url": "https://external_review_site_url.com",
                            "external_review_site_display_name": "External Review Site Name",
                            "created_at": "2021-07-20T14:00:00.000Z",
                            "updated_at": "2021-07-20T14:00:00.000Z"
                          },
                          "description": "Configures external review sharing settings for a business by platform."
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/reviews/business_reviews_settings": {
      "post": {
        "summary": "Create Business Reviews Settings",
        "description": "## Overview\nCreate new business reviews settings.\n\n## Authentication\n**Available for Staff Tokens.**\n\n## Uniqueness Constraint\nEach business can only have one Business Reviews Settings record. If settings already exist for the business, the API returns HTTP 409 Conflict. Use `PUT /v3/reviews/business_reviews_settings/{business_uid}` to update existing settings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "business_uid"
                ],
                "properties": {
                  "business_uid": {
                    "type": "string",
                    "description": "The unique identifier (UID) of the business. Required."
                  },
                  "display_platform_review_consent": {
                    "type": "boolean",
                    "description": "Whether to prompt clients to leave a public review on Google or Facebook after submitting a review."
                  },
                  "display_review_sharing_consent": {
                    "type": "boolean",
                    "description": "Enables the client to decide whether their review is shared with that external review site."
                  },
                  "platform_id": {
                    "type": "integer",
                    "description": "The ID of the external review platform (1=Google, 2=Facebook)"
                  },
                  "platform_params": {
                    "type": "object",
                    "description": "Platform-specific parameters needed to properly route the review",
                    "properties": {
                      "place_id": {
                        "type": "integer",
                        "description": "The platform-specific identifier (e.g., place_id for Google)"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Business reviews settings created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "description": "Indicates whether the API request was successful (true) or failed (false)."
                        },
                        "data": {
                          "type": "object",
                          "description": "The response payload. Present on successful responses (success: true)."
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message for simple error responses. Used in some legacy endpoints."
                        },
                        "errors": {
                          "type": "array",
                          "description": "Array of error objects for detailed error responses. Present on error responses (success: false).",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Machine-readable error code (e.g., 'already_exists', 'invalid', 'not_found')."
                              },
                              "message": {
                                "type": "string",
                                "description": "Human-readable error message."
                              },
                              "field": {
                                "type": "string",
                                "description": "The field that caused the error (for validation errors)."
                              }
                            },
                            "required": [
                              "code",
                              "message"
                            ]
                          }
                        }
                      },
                      "required": [
                        "success"
                      ],
                      "description": "Generic wrapper object for API responses. Success responses contain 'data', while error responses contain 'errors' array or 'error' string."
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "business_uid": {
                              "type": "string",
                              "description": "The unique identifier (UID) of the business"
                            },
                            "external_review_site_url": {
                              "type": "string",
                              "description": "Specifies the external review site URL where the review will be shared."
                            },
                            "external_review_site_display_name": {
                              "type": "string",
                              "description": "Specifies the display name of the external review site receiving the review."
                            },
                            "display_platform_review_consent": {
                              "type": "boolean",
                              "description": "Whether to prompt clients to leave a public review on Google or Facebook after submitting a review."
                            },
                            "display_review_sharing_consent": {
                              "type": "boolean",
                              "description": "Enables the client to decide whether their review is shared with that external review site."
                            },
                            "platform_id": {
                              "type": [
                                "integer",
                                "null"
                              ],
                              "description": "The ID of the external review platform (1=Google, 2=Facebook). Null if no platform is configured."
                            },
                            "platform_name": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "The name of the external review platform. Null if no platform is configured.",
                              "enum": [
                                "Google",
                                "Facebook",
                                null
                              ]
                            },
                            "platform_params": {
                              "type": "object",
                              "description": "Platform-specific parameters needed to properly route the review"
                            }
                          },
                          "required": [
                            "business_uid"
                          ],
                          "example": {
                            "business_uid": "d290f1ee26c54",
                            "display_platform_review_consent": true,
                            "display_review_sharing_consent": true,
                            "platform_id": 1,
                            "platform_name": "Google",
                            "platform_params": {
                              "place_id": 173897183
                            },
                            "external_review_site_url": "https://external_review_site_url.com",
                            "external_review_site_display_name": "External Review Site Name",
                            "created_at": "2021-07-20T14:00:00.000Z",
                            "updated_at": "2021-07-20T14:00:00.000Z"
                          },
                          "description": "Configures external review sharing settings for a business by platform."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict - Business reviews settings already exist for this business",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "already_exists"
                          },
                          "field": {
                            "type": "string",
                            "example": "base"
                          },
                          "message": {
                            "type": "string",
                            "example": "Business reviews settings already exist. Use update instead."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Business Reviews Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BusinessReviewsSettingsList": {
        "type": "object",
        "properties": {
          "business_reviews_settings": {
            "description": "List of Business Reviews Settings",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "business_uid": {
                  "type": "string",
                  "description": "The unique identifier (UID) of the business"
                },
                "external_review_site_url": {
                  "type": "string",
                  "description": "Specifies the external review site URL where the review will be shared."
                },
                "external_review_site_display_name": {
                  "type": "string",
                  "description": "Specifies the display name of the external review site receiving the review."
                },
                "display_platform_review_consent": {
                  "type": "boolean",
                  "description": "Whether to prompt clients to leave a public review on Google or Facebook after submitting a review."
                },
                "display_review_sharing_consent": {
                  "type": "boolean",
                  "description": "Enables the client to decide whether their review is shared with that external review site."
                },
                "platform_id": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "description": "The ID of the external review platform (1=Google, 2=Facebook). Null if no platform is configured."
                },
                "platform_name": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "The name of the external review platform. Null if no platform is configured.",
                  "enum": [
                    "Google",
                    "Facebook",
                    null
                  ]
                },
                "platform_params": {
                  "type": "object",
                  "description": "Platform-specific parameters needed to properly route the review"
                }
              },
              "required": [
                "business_uid"
              ],
              "example": {
                "business_uid": "d290f1ee26c54",
                "display_platform_review_consent": true,
                "display_review_sharing_consent": true,
                "platform_id": 1,
                "platform_name": "Google",
                "platform_params": {
                  "place_id": 173897183
                },
                "external_review_site_url": "https://external_review_site_url.com",
                "external_review_site_display_name": "External Review Site Name",
                "created_at": "2021-07-20T14:00:00.000Z",
                "updated_at": "2021-07-20T14:00:00.000Z"
              },
              "description": "Configures external review sharing settings for a business by platform."
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "tags": []
}
