{
  "openapi": "3.1.0",
  "info": {
    "title": "Scheduling",
    "description": "Unified OpenAPI specification for scheduling domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "legacy_v1_scheduling.json",
        "resource_management.json",
        "availability.json",
        "availability_slots.json",
        "scheduling.json"
      ],
      "pathNormalizations": [
        {
          "file": "legacy_v1_scheduling.json",
          "basePath": "/platform/v1",
          "transformations": [
            {
              "original": "/scheduling/appointments",
              "normalized": "/platform/v1/scheduling/appointments",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/appointments/{appointment_id}",
              "normalized": "/platform/v1/scheduling/appointments/{appointment_id}",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/bookings",
              "normalized": "/platform/v1/scheduling/bookings",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/bookings/cancel",
              "normalized": "/platform/v1/scheduling/bookings/cancel",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/bookings/{booking_uid}/update_rsvp_state",
              "normalized": "/platform/v1/scheduling/bookings/{booking_uid}/update_rsvp_state",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/event_attendances/{event_attendance_uid}",
              "normalized": "/platform/v1/scheduling/event_attendances/{event_attendance_uid}",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/event_instance/{event_instance_id}",
              "normalized": "/platform/v1/scheduling/event_instance/{event_instance_id}",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/waitlist",
              "normalized": "/platform/v1/scheduling/waitlist",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/waitlist/cancel",
              "normalized": "/platform/v1/scheduling/waitlist/cancel",
              "basePath": "/platform/v1"
            }
          ]
        },
        {
          "file": "scheduling.json",
          "basePath": "/business/scheduling",
          "transformations": [
            {
              "original": "/v1/bookings",
              "normalized": "/business/scheduling/v1/bookings",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/bookings/accept",
              "normalized": "/business/scheduling/v1/bookings/accept",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/bookings/cancel",
              "normalized": "/business/scheduling/v1/bookings/cancel",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/bookings/complete",
              "normalized": "/business/scheduling/v1/bookings/complete",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/bookings/{booking_id}",
              "normalized": "/business/scheduling/v1/bookings/{booking_id}",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/bulk_create",
              "normalized": "/business/scheduling/v1/external_calendar_items/bulk_create",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/bulk_deactivate",
              "normalized": "/business/scheduling/v1/external_calendar_items/bulk_deactivate",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/connect",
              "normalized": "/business/scheduling/v1/external_calendar_items/connect",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/deactivate_external_calendar",
              "normalized": "/business/scheduling/v1/external_calendar_items/deactivate_external_calendar",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/disable",
              "normalized": "/business/scheduling/v1/external_calendar_items/disable",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/disconnect",
              "normalized": "/business/scheduling/v1/external_calendar_items/disconnect",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/report_sync_status",
              "normalized": "/business/scheduling/v1/external_calendar_items/report_sync_status",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/start_export",
              "normalized": "/business/scheduling/v1/external_calendar_items/start_export",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/stop_import",
              "normalized": "/business/scheduling/v1/external_calendar_items/stop_import",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/time_slots",
              "normalized": "/business/scheduling/v1/time_slots",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/time_slots/{time_slot_uid}",
              "normalized": "/business/scheduling/v1/time_slots/{time_slot_uid}",
              "basePath": "/business/scheduling"
            }
          ]
        }
      ],
      "pathConflicts": [],
      "componentConflicts": [],
      "totalPaths": 32,
      "totalComponents": 4
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/platform/v1/scheduling/appointments": {
      "get": {
        "description": "Get appointments list for a business. This endpoint is rate-limited per business.\n\n**Rate Limit:** Returns 429 with `APPOINTMENTS_LIMIT_EXCEEDED` when rate limit is exceeded.",
        "parameters": [
          {
            "description": "Business ID. If not provided, uses the business associated with the authenticated user.",
            "in": "query",
            "name": "business_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by client ID",
            "in": "query",
            "name": "client_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by staff ID",
            "in": "query",
            "name": "staff_id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by appointment state(s). Multiple states can be comma-separated. Valid values: rejected, scheduled, done, cancelled, pending_reschedule, reschedule. Example: state=done,rejected",
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter appointments starting from this time (ISO 8601 format)",
            "in": "query",
            "name": "start_time",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter appointments ending before this time (ISO 8601 format)",
            "in": "query",
            "name": "end_time",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter appointments created on or after this date (ISO 8601 format)",
            "in": "query",
            "name": "from_created_date",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by specific appointment UIDs (comma-separated)",
            "in": "query",
            "name": "uids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by initiator. Set to true to only show staff-initiated appointments",
            "in": "query",
            "name": "initiate_by_staff",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Group results by a field",
            "in": "query",
            "name": "group_by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort order. Format: field:direction. Multiple sort fields can be comma-separated. Example: updated:DESC,start_at:ASC,created:DESC",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number of results. Default: 1",
            "in": "query",
            "name": "page",
            "required": false,
            "default": 1,
            "minimum": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "How many items to return per page. Default: 25. **Maximum: 25** (requests for more will be capped)",
            "in": "query",
            "name": "per_page",
            "required": false,
            "default": 25,
            "maximum": 25,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Comma-separated list of fields to include in the response",
            "in": "query",
            "name": "fields",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "appointments": [
                      {
                        "approval_mode": null,
                        "business_uid": "104a5664c3663a8d",
                        "category_name": null,
                        "charge_type": "no_price",
                        "client_color_id": 0,
                        "client_first_name": "Deeanna",
                        "client_id": "xvl55kzldujkar76",
                        "client_last_name": "Rice",
                        "conversation_id": "c7g4pvubtj84j6b5",
                        "created_at": "2025-08-05T06:56:16.020Z",
                        "currency": null,
                        "duration": 30,
                        "end_time": "2025-08-11T06:30:00.000Z",
                        "id": "e7j16p8hrgacto4g",
                        "image_url": "",
                        "initiator": null,
                        "interaction_details": "consequuntur",
                        "interaction_type": "client_location",
                        "is_recurring": false,
                        "linked_booking_uid": null,
                        "no_show": false,
                        "notes": null,
                        "optional_times": [],
                        "payment_id": null,
                        "payment_status": null,
                        "price": "0.0",
                        "series_id": null,
                        "series_instance_count": null,
                        "service_id": "vxolrre9o6ob92ee",
                        "staff_display_name": "Britt Bogan",
                        "staff_id": "9a33fc142dbb67f3",
                        "staff_image": null,
                        "start_time": "2025-08-11T06:00:00.000Z",
                        "state": "scheduled",
                        "title": "Advanced didactic portal",
                        "type": "appointment",
                        "updated_at": "2025-08-05T06:56:16.020Z"
                      }
                    ],
                    "next_page": null
                  },
                  "status": "OK"
                }
              }
            }
          },
          "404": {
            "description": "Record not found"
          },
          "422": {
            "description": "Unprocessable entity - validation failed"
          },
          "429": {
            "description": "Rate limit exceeded. Error code: APPOINTMENTS_LIMIT_EXCEEDED"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Get Appointments List",
        "tags": [
          "Appointments"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/scheduling/appointments"
        },
        "x-auth-type": "Application & Application User"
      }
    },
    "/platform/v1/scheduling/appointments/{appointment_id}": {
      "get": {
        "description": "Get appointment",
        "parameters": [
          {
            "description": "Appointment id",
            "in": "path",
            "name": "appointment_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "appointment": {
                      "approval_mode": null,
                      "auto_follow_up_hours": 0,
                      "business_uid": "104a5664c3663a8d",
                      "category_name": null,
                      "charge_type": "no_price",
                      "client_color_id": 0,
                      "client_first_name": "Deeanna",
                      "client_id": "xvl55kzldujkar76",
                      "client_last_name": "Rice",
                      "conversation_id": "c7g4pvubtj84j6b5",
                      "coupon": null,
                      "created_at": "2025-08-05T06:56:16.020Z",
                      "currency": null,
                      "duration": 30,
                      "end_time": "2025-08-11T06:30:00.000Z",
                      "id": "e7j16p8hrgacto4g",
                      "state": "scheduled",
                      "title": "Advanced didactic portal",
                      "type": "appointment",
                      "updated_at": "2025-08-05T06:56:16.020Z"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "404": {
            "description": "Not Found - Appointment not found"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Get Appointment",
        "tags": [
          "Appointments"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/scheduling/appointments/{appointment_id}"
        },
        "x-auth-type": "Application & Application User"
      }
    },
    "/platform/v1/scheduling/bookings": {
      "get": {
        "description": "Get bookings for a client. Returns appointments and event attendances associated with the authenticated client.\n\n**Note:** If `matter_uid` is provided, returns bookings for that conversation/matter. Otherwise, returns bookings for the authenticated client.",
        "parameters": [
          {
            "description": "Maximum number of records to return per page",
            "in": "query",
            "name": "per_page",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Page offset (0-based). Combined with per_page for pagination. Example: per_page=10, offset=1 returns records 11-20",
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Business UID",
            "in": "query",
            "name": "business_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Matter/Conversation UID. When provided, returns bookings for this specific matter instead of the client",
            "in": "query",
            "name": "matter_uid",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by specific booking UIDs (comma-separated)",
            "in": "query",
            "name": "uids",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If true, returns only past bookings. If false (default), includes future bookings and virtual recurring instances",
            "in": "query",
            "name": "passed",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filter bookings starting after this time (ISO 8601 format). Defaults to current time if not specified",
            "in": "query",
            "name": "start_time",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter bookings starting before this time (ISO 8601 format). Defaults to 2 years from start_time if not specified",
            "in": "query",
            "name": "end_time",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client's browser timezone for proper time display",
            "in": "query",
            "name": "browser_time_zone",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Include waitlist entries in results. Default: false",
            "in": "query",
            "name": "include_waitlists",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "bookings": [
                      {
                        "approval_mode": "immediate",
                        "category_name": null,
                        "charge_type": "no_price",
                        "client_id": "3zashrlha0cwvnoz",
                        "conversation_id": "kehqoc1jkgooe0ft",
                        "currency": "ILS",
                        "depth": "deep",
                        "description": null,
                        "duration": 60,
                        "end_time": "2025-08-07T02:56:21.751-05:00",
                        "image_url": "",
                        "interaction_details": "Denver, CO, USA",
                        "interaction_type": "business_location",
                        "title": "Appointment 1",
                        "type": "appointment",
                        "uid": "wpyygjkyu0jca08e"
                      }
                    ]
                  },
                  "status": "OK"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "example": {
                  "message": "401 Unauthorized",
                  "status": "Failure"
                }
              }
            }
          },
          "404": {
            "description": "Record not found",
            "content": {
              "application/json": {
                "example": {
                  "status": "Error",
                  "error": "Record not found"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity - validation failed",
            "content": {
              "application/json": {
                "example": {
                  "status": "Error",
                  "error": "Validation error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "example": {
                  "status": "Error",
                  "error": "An unexpected error occurred"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Get Bookings",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/scheduling/bookings"
        },
        "x-auth-type": "Application & Application User"
      },
      "post": {
        "description": "Create a new booking (appointment or event registration).\n\n**Rate Limit:** This endpoint is rate-limited per business. Returns 429 with `BOOKING_LIMIT_EXCEEDED` when exceeded.\n\n**Booking Types:**\n- **Appointment**: Requires `service_id`, `staff_id`, and either `start_time` or `optional_times`\n- **Event**: Requires `event_instance_id`\n- **Multi-booking**: Requires `service_id` as an array with multiple services\n\n**Validation:**\n- Client restrictions are checked - some services may not allow certain clients to book\n- Deleted matters will return `MATTER_DELETED` error",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Booking created successfully",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "id": "v8mvcenb8y3wej2n",
                      "title": "Imm + free",
                      "status": "scheduled",
                      "start_time": "2020-01-22T13:00:00Z",
                      "duration": 60,
                      "client_id": "1kfvtps4a4wlh3lc",
                      "staff_id": "mg9d91uh92bclwzg",
                      "business_id": "e62db14aa58c7675",
                      "conversation_id": "ugd2qqidl75wrto6",
                      "created_at": "2020-01-19T07:44:21Z",
                      "service_id": "mxmuh2mewjxe9vip",
                      "type": "appointment",
                      "time_zone": "UTC",
                      "payment_status": null,
                      "auto_reply_message": null,
                      "source_data": {
                        "campaign": null,
                        "channel": "",
                        "name": "client_portal",
                        "website_url": null
                      },
                      "arrival_window_value": null,
                      "linked_booking_uid": null
                    }
                  },
                  "status": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Missing required parameter",
            "content": {
              "application/json": {
                "example": {
                  "error": "Mandatory parameter service_id is missing",
                  "error_code": "PARAMETER_MISSING",
                  "status": "Error"
                }
              }
            }
          },
          "412": {
            "description": "Precondition failed - booking violation or deleted matter",
            "content": {
              "application/json": {
                "example": {
                  "error": "Not allowed to register to this service",
                  "error_code": "BOOKING_VIOLATION",
                  "status": "Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed - timeslot unavailable or already registered",
            "content": {
              "application/json": {
                "example": {
                  "error": "error text",
                  "error_code": "TIMESLOT_UNAVAILABLE",
                  "status": "Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "example": {
                  "error": "Rate limit exceeded",
                  "error_code": "BOOKING_LIMIT_EXCEEDED",
                  "status": "Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Create New Booking",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/scheduling/bookings"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "business_id": {
                    "description": "Business UID (required)",
                    "type": "string"
                  },
                  "booking_type": {
                    "description": "Type of booking: 'appointment', 'event', or 'multi_booking'. Auto-detected based on parameters if not provided",
                    "type": "string",
                    "enum": [
                      "appointment",
                      "event",
                      "multi_booking"
                    ]
                  },
                  "service_id": {
                    "description": "Service UID. Required for appointments. Can be an array for multi-bookings (comma-separated or array)",
                    "type": "string"
                  },
                  "staff_id": {
                    "description": "Staff UID. Required for appointments",
                    "type": "string"
                  },
                  "start_time": {
                    "description": "Booking start time in ISO 8601 format. Required for immediate approval appointments. Either start_time or optional_times must be provided",
                    "type": "string"
                  },
                  "optional_times": {
                    "description": "Array of proposed times for single-choice approval mode. Either start_time or optional_times must be provided",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "event_instance_id": {
                    "description": "Event instance UID. Required for event bookings",
                    "type": "string"
                  },
                  "client_id": {
                    "description": "Client UID. If not provided, uses authenticated client",
                    "type": "string"
                  },
                  "matter_uid": {
                    "description": "Matter/Conversation UID to associate the booking with",
                    "type": "string"
                  },
                  "waitlist_uid": {
                    "description": "Waitlist UID if converting from waitlist to booking",
                    "type": "string"
                  },
                  "time_zone": {
                    "description": "Timezone for the booking. Default: UTC",
                    "type": "string"
                  },
                  "preferred_language": {
                    "description": "Preferred language for new client creation",
                    "type": "string"
                  },
                  "form_data": {
                    "description": "Additional form data. Required when service location is 'Client will set the address at booking' - include meeting_interaction_details in meeting_details",
                    "type": "object"
                  },
                  "source_name": {
                    "description": "Source name for tracking (e.g., 'client_portal', 'website')",
                    "type": "string"
                  },
                  "source_url": {
                    "description": "Source URL for tracking",
                    "type": "string"
                  },
                  "channel": {
                    "description": "Source channel for tracking",
                    "type": "string"
                  },
                  "campaign": {
                    "description": "Source campaign for tracking",
                    "type": "string"
                  },
                  "campaign_recipient_id": {
                    "description": "Campaign recipient ID for tracking",
                    "type": "string"
                  },
                  "portal_id": {
                    "description": "Alias for business_id",
                    "type": "string"
                  }
                },
                "required": [
                  "business_id"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/platform/v1/scheduling/bookings/cancel": {
      "post": {
        "description": "Cancel a booking (appointment or event attendance).\n\n**Booking Type Detection:**\n- If `event_instance_id` is provided, treated as event cancellation\n- Otherwise, treated as appointment cancellation",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "business_id": "2a244fc4f6edcad7",
                      "client_id": "i1srcak1820zi7yr",
                      "conversation_id": "lcfnf1pag6itpwlf",
                      "created_at": "2020-01-19T07:44:21Z",
                      "duration": 60,
                      "event_instance_id": "a8ma2ephjfvwnvy7 (only for event)",
                      "id": "q85mz0l11b7e0u2j",
                      "source_data": {
                        "campaign": null,
                        "channel": "",
                        "name": "client_portal",
                        "website_url": null
                      },
                      "staff_id": "652fe81f2e369b1b",
                      "start_time": "2025-08-07T01:56:21.059-05:00",
                      "status": "cancelled",
                      "time_zone": "UTC",
                      "title": "Imm + free",
                      "type": "appointment/event"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing required parameters",
            "content": {
              "application/json": {
                "example": {
                  "status": "Error",
                  "error": "Mandatory parameter booking_id is missing",
                  "error_code": "PARAMETER_MISSING"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Not authorized to cancel this booking"
          },
          "404": {
            "description": "Not Found - Booking not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Cancel a Booking",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/scheduling/bookings/cancel"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "booking_id": {
                    "description": "Booking (appointment or event attendance) UID to cancel",
                    "type": "string"
                  },
                  "business_id": {
                    "description": "Business UID",
                    "type": "string"
                  },
                  "event_instance_id": {
                    "description": "Event instance UID. Include this for event cancellations",
                    "type": "string"
                  },
                  "message": {
                    "description": "Optional cancellation message to send to the business",
                    "type": "string"
                  }
                },
                "required": [
                  "business_id",
                  "booking_id"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/platform/v1/scheduling/bookings/{booking_uid}/update_rsvp_state": {
      "put": {
        "description": "Update the RSVP state of a booking. This is used for confirming attendance.\n\n**Important:** Only `confirmed` is a valid RSVP state. Any other value will return a 403 Forbidden error.",
        "parameters": [
          {
            "description": "Booking UID (appointment, event_instance, or event_attendance)",
            "in": "path",
            "name": "booking_uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "New RSVP state. **Only 'confirmed' is valid.** Any other value returns 403 Forbidden",
            "in": "query",
            "name": "new_rsvp_state",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "confirmed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "approval_mode": "immediate",
                      "category_name": null,
                      "charge_type": "no_price",
                      "client_id": "9ni8maitv3m5d46z",
                      "conversation_id": "23pidd58zeesla4j",
                      "currency": "ILS",
                      "depth": "deep",
                      "description": null,
                      "duration": 60,
                      "end_time": "2025-08-07T02:56:22.469-05:00",
                      "image_url": "",
                      "interaction_details": "Denver, CO, USA",
                      "interaction_type": "business_location",
                      "invoice_payment_status_uid": null,
                      "invoices": [],
                      "is_recurring": true,
                      "no_show": false,
                      "notes": "",
                      "payable": false,
                      "payment": null,
                      "payment_id": null,
                      "payment_status": null,
                      "policies": {
                        "cancellation": {
                          "can_cancel": true,
                          "can_cancel_now": true,
                          "time_limit": 0
                        },
                        "meetings": {
                          "meetings_policy": ""
                        },
                        "rescheduling": {
                          "can_reschedule": true,
                          "can_reschedule_now": true,
                          "time_limit": 0
                        }
                      },
                      "price": "0.0",
                      "recurrence_description": "Daily (4 times)",
                      "rsvp_required": false,
                      "rsvp_state": "confirmed",
                      "series_id": "vr40xtqf6qecdbft",
                      "service_id": "om30w1mj75dvvnja",
                      "source_data": {
                        "campaign": null,
                        "channel": null,
                        "id": 1412199,
                        "name": "initiated_by_staff",
                        "website_url": null
                      },
                      "staff_id": "56f088bd289b1c51",
                      "staff_name": "staff name",
                      "start_time": "2025-08-07T01:56:22.469-05:00",
                      "state": "scheduled",
                      "suggested_times": [],
                      "suggested_times_end": [],
                      "time_zone": "(GMT+02:00) Jerusalem",
                      "title": "Service Without Payment",
                      "type": "appointment",
                      "uid": "g90kratlmu1n9w9i"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing required parameters",
            "content": {
              "application/json": {
                "example": {
                  "status": "Error",
                  "error": "Mandatory parameter appointment_type is missing",
                  "error_code": "PARAMETER_MISSING"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Invalid RSVP state (only 'confirmed' is allowed) or not authorized"
          },
          "404": {
            "description": "Not Found - Booking not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Update RSVP state",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/scheduling/bookings/{booking_uid}/update_rsvp_state"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "appointment_type": {
                    "description": "Type of booking being updated",
                    "type": "string",
                    "enum": [
                      "appointment",
                      "event_instance",
                      "event_attendance"
                    ]
                  },
                  "business_id": {
                    "description": "Business UID. Either business_id or portal_id is required",
                    "type": "string"
                  },
                  "portal_id": {
                    "description": "Alias for business_id",
                    "type": "string"
                  }
                },
                "required": [
                  "appointment_type"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/platform/v1/scheduling/event_attendances/{event_attendance_uid}": {
      "get": {
        "description": "Get Event attendance",
        "parameters": [
          {
            "description": "Event attendance UID",
            "in": "path",
            "name": "event_attendance_uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "event_attendance": {
                      "cancelled_by": {},
                      "charge_type": null,
                      "client": {
                        "address": null,
                        "client_type": null,
                        "color_id": 24,
                        "created_at": "2025-08-05T06:56:38.860Z",
                        "created_at_h": "Aug 05",
                        "demo": false,
                        "depth": "shallow",
                        "email": "wesley@baumbach.biz",
                        "first_name": "Clement",
                        "full_name": "Clement Macejkovic",
                        "last_name": "Macejkovic",
                        "phone_to_call": null,
                        "phone_to_display": null,
                        "photo_path": null,
                        "typed_custom_fields": null,
                        "uid": "bw3s8k1q1qfcr1a3"
                      },
                      "conversation_uid": "gjnfyiyt6cdqu7oa",
                      "created_at": "2025-08-05T06:56:39.373Z",
                      "created_at_h": "6:56 am",
                      "currency": null,
                      "description": null,
                      "duration": 30,
                      "event_instance_duration": 30,
                      "event_instance_staff_uid": "51092935d2f5a893",
                      "event_instance_state": "scheduled",
                      "event_instance_uid": "k1q95otq34mj35w1",
                      "event_series_attendance_id": null,
                      "event_service_uid": null,
                      "event_title": "Down-sized hybrid challenge",
                      "first_message_text": null,
                      "id": "wt9x82ydrkxjpgxa",
                      "image_url": "",
                      "matter": {
                        "display_name": null,
                        "uid": "gjnfyiyt6cdqu7oa"
                      },
                      "net_price": "0.0",
                      "no_show": false,
                      "payment": null,
                      "payment_state": "",
                      "payment_status": null,
                      "price": "0.0",
                      "price_h": null,
                      "request_data": null,
                      "rsvp_confirmation_date_h": null,
                      "rsvp_state": null,
                      "source": "initiated_by_staff",
                      "start_time": "2025-08-11T06:00:00.000Z",
                      "start_time_h": "Mon, August 11 at 6:00am",
                      "state_summary": {
                        "actions": [
                          {
                            "name": "invite",
                            "name_h": "translation missing: en.event_attendance.actions.invite"
                          },
                          {
                            "name": "cancel",
                            "name_h": "Cancel"
                          },
                          {
                            "name": "cancel_event",
                            "name_h": "translation missing: en.event_attendance.actions.cancel_event"
                          },
                          {
                            "name": "toggle_no_show",
                            "name_h": "translation missing: en.event_attendance.actions.toggle_no_show"
                          }
                        ],
                        "calendar_state": "translation missing: en.event_attendance.state.confirmed.calendar",
                        "description": "Attendance confirmed",
                        "state": "confirmed",
                        "state_h": "Registered"
                      },
                      "taxes": [],
                      "type": "event",
                      "uid": "wt9x82ydrkxjpgxa"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "404": {
            "description": "Not Found - Event attendance not found"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Get Event Attendance",
        "tags": [
          "Event Attendances"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/scheduling/event_attendances/{event_attendance_uid}"
        },
        "x-auth-type": "Application & Application User"
      }
    },
    "/platform/v1/scheduling/event_instance/{event_instance_id}": {
      "get": {
        "description": "Get Event Instance Details.",
        "parameters": [
          {
            "description": "The id of the event instance",
            "in": "path",
            "name": "event_instance_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "event_instance": {
                      "charge_type": "paid",
                      "currency": "USD",
                      "duration": 60,
                      "end_time": "2020-06-08T22:00:00.000Z",
                      "interaction_details": "Tel Aviv, Israel",
                      "interaction_type": "business_location",
                      "price": "10.0",
                      "service_id": "d37paicvkb4u8taf",
                      "staff_id": "36ri3mtnk53zpfkc",
                      "start_time": "2020-06-08T21:00:00.000Z",
                      "state": "scheduled",
                      "title": "Event require pay",
                      "uid": "gmy6c6keyo2mmnaa"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "404": {
            "description": "Not Found - Event instance not found"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Get Event Instance",
        "tags": [
          "Event Instance"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/scheduling/event_instance/{event_instance_id}"
        },
        "x-auth-type": "Application & Application User"
      }
    },
    "/platform/v1/scheduling/waitlist": {
      "post": {
        "description": "Register for an event waitlist. When the event has available spots, waitlisted clients can be converted to attendees.\n\n**Use Case:** When an event is full, clients can join the waitlist to be notified when spots become available.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Waitlist entry created successfully",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "waitlist": {
                      "client_id": 7203,
                      "created_at": "2021-09-09T10:38:15.962+03:00",
                      "entity_id": 664,
                      "entity_type": "EventInstance",
                      "event_instance_uid": "49rytay9lggliv5f",
                      "initiator": "client",
                      "matter": {
                        "display_name": "AddedClient6",
                        "uid": "rh3bl5x5ksjlikbh"
                      },
                      "source_id": 8012,
                      "spot": 6,
                      "staff_uid": "91g1yq1uzbypf5wx",
                      "start_time_h": "Thu, September 16 at 2:00pm",
                      "state_summary": {
                        "state": "pending",
                        "state_h": "Pending"
                      },
                      "status": "pending",
                      "title": "Demo class / event",
                      "type": "waitlist",
                      "uid": "kqzp5epsr2wr90pn",
                      "where_h": "Modiin, Israel"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing required parameters",
            "content": {
              "application/json": {
                "example": {
                  "status": "Error",
                  "error": "Mandatory parameter business_id is missing",
                  "error_code": "PARAMETER_MISSING"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed",
            "content": {
              "application/json": {
                "example": {
                  "error": "Invalid staff",
                  "status": "Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Create event Waitlist",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/scheduling/waitlist"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "business_id": {
                    "description": "Business UID (required)",
                    "type": "string"
                  },
                  "event_instance_id": {
                    "description": "Event instance UID to join waitlist for",
                    "type": "string"
                  },
                  "client_id": {
                    "description": "Client UID. If not provided, uses authenticated client",
                    "type": "string"
                  },
                  "matter_uid": {
                    "description": "Matter/Conversation UID to associate the waitlist entry with",
                    "type": "string"
                  },
                  "time_zone": {
                    "description": "Client's timezone for proper time display",
                    "type": "string"
                  },
                  "source_name": {
                    "description": "Source name for tracking",
                    "type": "string"
                  },
                  "source_url": {
                    "description": "Source URL for tracking",
                    "type": "string"
                  },
                  "channel": {
                    "description": "Source channel for tracking",
                    "type": "string"
                  }
                },
                "required": [
                  "business_id"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/platform/v1/scheduling/waitlist/cancel": {
      "put": {
        "description": "Cancel a waitlist registration. Removes the client from the event waitlist.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Waitlist entry cancelled successfully",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "waitlist": {
                      "client_id": 7192,
                      "created_at": "2021-08-24T14:46:42.355Z",
                      "entity_id": 664,
                      "entity_type": "EventInstance",
                      "event_instance_uid": "a8ma2ephjfvwnvy7",
                      "initiator": "client",
                      "matter": {
                        "display_name": "Tatto ",
                        "uid": "4s7p4tecdnq5g9ae"
                      },
                      "source_id": 7945,
                      "spot": 1,
                      "staff_uid": "91g1yq1uzbypf5wx",
                      "start_time_h": "Thu, September 16 at 11:00am",
                      "state_summary": {
                        "state": "cancelled",
                        "state_h": "Cancelled"
                      },
                      "status": "cancelled",
                      "title": "Demo class / event",
                      "type": "waitlist",
                      "uid": "0noit00aqikuq3n8",
                      "where_h": "Modiin, Israel"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Not authorized to cancel this waitlist entry"
          },
          "404": {
            "description": "Not Found - Waitlist entry not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Cancel a Waitlist registration",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/scheduling/waitlist/cancel"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "business_uid": {
                    "description": "Business UID (required)",
                    "type": "string"
                  },
                  "event_instance_uid": {
                    "description": "Event instance UID to cancel waitlist for",
                    "type": "string"
                  },
                  "client_uid": {
                    "description": "Client UID. If not provided, uses authenticated client",
                    "type": "string"
                  },
                  "matter_uid": {
                    "description": "Matter/Conversation UID associated with the waitlist entry",
                    "type": "string"
                  },
                  "message": {
                    "description": "Optional cancellation message",
                    "type": "string"
                  }
                },
                "required": [
                  "business_uid"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/scheduling/resource_types": {
      "get": {
        "summary": "Get all ResourceTypes",
        "description": "Get a list of resource types for a business, with pagination\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "name": "with_deleted",
            "required": false,
            "in": "query",
            "description": "Include deleted resource types in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ResourceTypesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Unauthorized - Valid business context is required"
          },
          "408": {
            "description": "Request Timeout - Request exceeded timeout limit"
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a ResourceType",
        "description": "Create a new resource type.\n\n**Requires:** `account.settings.manage` permission\n\n**Feature Flags:** Both `pkg.sch.resources` AND `resources` must be enabled\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource type",
                    "maxLength": 20,
                    "example": "Treatment Room"
                  },
                  "services": {
                    "type": "array",
                    "description": "Array of service UIDs that require this resource type. When a service is associated with a resource type, bookings for that service will require an available resource of this type.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "service_uid_1",
                      "service_uid_2"
                    ]
                  },
                  "initial_resource_count": {
                    "type": "integer",
                    "description": "Number of initial resources to create automatically when the resource type is created. Each resource will be named sequentially (e.g., 'Treatment Room 1', 'Treatment Room 2').",
                    "minimum": 1,
                    "maximum": 10,
                    "example": 3
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "ResourceType created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to create resource types (requires account.settings.manage permission)"
          },
          "408": {
            "description": "Request Timeout - Request exceeded timeout limit"
          },
          "422": {
            "description": "Unprocessable Entity - Request data failed validation"
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/resource_types/{uid}": {
      "get": {
        "summary": "Retrieve a ResourceType",
        "description": "Get a specific resource type by UID\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the ResourceType",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Not authorized to access this resource type"
          },
          "404": {
            "description": "Not Found - ResourceType not found"
          },
          "408": {
            "description": "Request Timeout - Request exceeded timeout limit"
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a ResourceType",
        "description": "Update a resource type's properties. All fields are optional - only provided fields will be updated.\n\n**Requires:** `account.settings.manage` permission\n\n**Feature Flags:** Both `pkg.sch.resources` AND `resources` must be enabled\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the ResourceType",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource type",
                    "maxLength": 20,
                    "example": "Massage Table"
                  },
                  "services": {
                    "type": "array",
                    "description": "Array of service UIDs that require this resource type. This replaces the entire services list - to add a service, include all existing services plus the new one.",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "service_uid_1",
                      "service_uid_3"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to update this resource type (requires account.settings.manage permission)"
          },
          "404": {
            "description": "Not Found - ResourceType not found"
          },
          "408": {
            "description": "Request Timeout - Request exceeded timeout limit"
          },
          "422": {
            "description": "Unprocessable Entity - Request data failed validation"
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a ResourceType",
        "description": "Soft-delete a resource type. The resource type will be marked as deleted but can still be retrieved using `with_deleted=true`.\n\n**Note:** Deleting a resource type does NOT automatically delete its associated resources. Resources must be deleted separately.\n\n**Requires:** `account.settings.manage` permission\n\n**Feature Flags:** Both `pkg.sch.resources` AND `resources` must be enabled\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the ResourceType",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource type soft-deleted successfully. The resource type will have a `deleted_at` timestamp set.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to delete this resource type (requires account.settings.manage permission)"
          },
          "404": {
            "description": "Not Found - ResourceType not found"
          },
          "408": {
            "description": "Request Timeout - Request exceeded timeout limit"
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/resources": {
      "get": {
        "summary": "Get all Resources",
        "description": "Get all resources, with pagination and filtering by resource type or service\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "name": "resource_type_uid",
            "required": false,
            "in": "query",
            "description": "Filter by resource type UID(s). Accepts single value or array of values. Example: ?resource_type_uid=abc123 or ?resource_type_uid=abc123&resource_type_uid=def456",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "service_uid",
            "required": false,
            "in": "query",
            "description": "Filter resources by service UID that requires their resource type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_deleted",
            "required": false,
            "in": "query",
            "description": "Include deleted resources in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "uid",
            "required": false,
            "in": "query",
            "description": "Filter by resource UID(s). Accepts single value or array of values. Example: ?uid=abc123 or ?uid=abc123&uid=def456",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ResourcesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Unauthorized - Valid business context is required"
          },
          "408": {
            "description": "Request Timeout - Request exceeded timeout limit"
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a Resource",
        "description": "Create a new resource instance belonging to a resource type.\n\n**Requires:** `account.settings.manage` permission\n\n**Feature Flags:** Both `pkg.sch.resources` AND `resources` must be enabled\n\n**Limit:** Maximum 10 resources per resource type\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource",
                    "maxLength": 30,
                    "example": "Treatment Room 1"
                  },
                  "resource_type_uid": {
                    "type": "string",
                    "description": "The UID of the resource type this instance belongs to. The resource type must exist and belong to the same business.",
                    "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                  }
                },
                "required": [
                  "name",
                  "resource_type_uid"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to create resources (requires account.settings.manage permission)"
          },
          "408": {
            "description": "Request Timeout - Request exceeded timeout limit"
          },
          "422": {
            "description": "Unprocessable Entity - Request data failed validation (e.g., exceeded 10 resources per type limit)"
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/resources/{uid}": {
      "get": {
        "summary": "Retrieve a Resource",
        "description": "Get a specific resource by UID\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          },
          {
            "name": "with_deleted",
            "required": false,
            "in": "query",
            "description": "Include deleted resources",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Not authorized to access this resource"
          },
          "404": {
            "description": "Not Found - Resource not found"
          },
          "408": {
            "description": "Request Timeout - Request exceeded timeout limit"
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a Resource",
        "description": "Update a resource's properties. All fields are optional - only provided fields will be updated.\n\n**Requires:** `account.settings.manage` permission\n\n**Feature Flags:** Both `pkg.sch.resources` AND `resources` must be enabled\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource",
                    "maxLength": 30,
                    "example": "Treatment Room 1"
                  },
                  "resource_type_uid": {
                    "type": "string",
                    "description": "The UID of the resource type to move this resource to. Use this to reassign a resource to a different type.",
                    "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to update this resource (requires account.settings.manage permission)"
          },
          "404": {
            "description": "Not Found - Resource not found"
          },
          "408": {
            "description": "Request Timeout - Request exceeded timeout limit"
          },
          "422": {
            "description": "Unprocessable Entity - Request data failed validation"
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a Resource",
        "description": "Soft-delete a resource. The resource will be marked as deleted but can still be retrieved using `with_deleted=true`.\n\n**Requires:** `account.settings.manage` permission\n\n**Feature Flags:** Both `pkg.sch.resources` AND `resources` must be enabled\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to delete this resource (requires account.settings.manage permission)"
          },
          "404": {
            "description": "Not Found - Resource not found"
          },
          "408": {
            "description": "Request Timeout - Request exceeded timeout limit"
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/business_availabilities/{business_uid}": {
      "get": {
        "summary": "Get BusinessAvailability",
        "description": "Retrieve availability time slots for a specific business within a date range\n\n **Only available for Directory Tokens**",
        "tags": [
          "Business Availability"
        ],
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the business",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business availability retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/businessAvailability.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters. Common causes:\n- Missing required `start_date` or `end_date`\n- Invalid date format (must be YYYY-MM-DD)\n- Start date is after end date"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Only Directory tokens can access this endpoint"
          },
          "404": {
            "description": "Not Found - Business not found"
          },
          "422": {
            "description": "Validation Error - Business logic validation failed (e.g., invalid staff availability data)"
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/business_availabilities": {
      "get": {
        "summary": "Get all BusinessAvailabilities",
        "description": "Retrieve availability time slots for multiple businesses in a directory. Returns paginated results with available booking slots for each business.\n\n**Only available for Directory Tokens**\n\n**Rate Limiting:** Uses a distributed lock per directory. Concurrent requests for the same directory will receive a 429 error.\n\n**Timeout:** 10 seconds maximum response time",
        "tags": [
          "Business Availability"
        ],
        "parameters": [
          {
            "name": "date_start",
            "in": "query",
            "required": true,
            "description": "Start date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-01-15"
          },
          {
            "name": "date_end",
            "in": "query",
            "required": true,
            "description": "End date in YYYY-MM-DD format. **Maximum 7 days** from start date.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-01-22"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination. **0-based** (first page is 0).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "Number of items per page. **Maximum and default is 10.**",
            "schema": {
              "minimum": 1,
              "maximum": 10,
              "default": 10,
              "type": "number"
            }
          },
          {
            "name": "scheduling_enabled",
            "in": "query",
            "required": false,
            "description": "Filter businesses by online scheduling status. When `true` (default), only returns businesses with online scheduling enabled. When `false`, returns businesses with scheduling disabled.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BusinessAvailabilities retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BusinessAvailabilityList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. Common causes:\n- Missing required `date_start` or `date_end`\n- Invalid date format (must be YYYY-MM-DD)\n- Date range exceeds 7 days"
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token"
          },
          "403": {
            "description": "Forbidden - only Directory tokens can access this endpoint. Staff tokens and other token types are not permitted."
          },
          "422": {
            "description": "Validation Error - Business logic validation failed (e.g., invalid staff availability data)"
          },
          "429": {
            "description": "Too Many Requests - another request is currently processing for this directory. Wait a few seconds and retry."
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          },
          "504": {
            "description": "Gateway Timeout - Request exceeded 10 second timeout. Try reducing the date range or number of businesses."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/availability_slots": {
      "get": {
        "summary": "Get all AvailabilitySlots",
        "description": "Retrieve availability slots for scheduling based on specified criteria. At least one of resource_type_uids, resource_uids, or staff_uids must be provided.",
        "tags": [
          "Availability Slots"
        ],
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "description": "Start time for availability search in UTC. Must be in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-01-15T00:00:00.000Z"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "description": "End time for availability search in UTC. Must be in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-01-16T00:00:00.000Z"
          },
          {
            "name": "service_uid",
            "in": "query",
            "required": false,
            "description": "Unique identifier of the service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_type_uids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of resource type UIDs. At least one of resource_type_uids, resource_uids, or staff_uids must be provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_uids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of resource UIDs. At least one of resource_type_uids, resource_uids, or staff_uids must be provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "staff_uids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of staff UIDs. At least one of resource_type_uids, resource_uids, or staff_uids must be provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slot_duration",
            "in": "query",
            "required": false,
            "description": "Desired duration of each availability slot in minutes. If not specified, uses the service's default duration.",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 30
          },
          {
            "name": "slot_interval",
            "in": "query",
            "required": false,
            "description": "Interval between slot start times in minutes. Controls how frequently slots are offered (e.g., every 15 minutes vs every 30 minutes).",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 15
          },
          {
            "name": "padding_before",
            "in": "query",
            "required": false,
            "description": "Buffer time required before each slot in minutes. Use this for setup time or travel time between appointments. The padding time will be blocked but not shown to clients.",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 10
          },
          {
            "name": "padding_after",
            "in": "query",
            "required": false,
            "description": "Buffer time required after each slot in minutes. Use this for cleanup time or notes. The padding time will be blocked but not shown to clients.",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 5
          },
          {
            "name": "exclude_booking_uid",
            "in": "query",
            "required": false,
[...]
