{
  "openapi": "3.1.0",
  "info": {
    "title": "Scheduling",
    "description": "Unified OpenAPI specification for scheduling domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "resource_management.json",
        "scheduling.json",
        "legacy_v1_scheduling.json",
        "availability.json",
        "availability_slots.json"
      ],
      "pathNormalizations": [
        {
          "file": "legacy_v1_scheduling.json",
          "basePath": "/platform/v1",
          "transformations": [
            {
              "original": "/scheduling/appointments",
              "normalized": "/platform/v1/scheduling/appointments",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/appointments/{appointment_id}",
              "normalized": "/platform/v1/scheduling/appointments/{appointment_id}",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/bookings",
              "normalized": "/platform/v1/scheduling/bookings",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/bookings/cancel",
              "normalized": "/platform/v1/scheduling/bookings/cancel",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/bookings/{booking_uid}/update_rsvp_state",
              "normalized": "/platform/v1/scheduling/bookings/{booking_uid}/update_rsvp_state",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/event_instance/{event_instance_id}",
              "normalized": "/platform/v1/scheduling/event_instance/{event_instance_id}",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/waitlist",
              "normalized": "/platform/v1/scheduling/waitlist",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/waitlist/cancel",
              "normalized": "/platform/v1/scheduling/waitlist/cancel",
              "basePath": "/platform/v1"
            }
          ]
        }
      ],
      "pathConflicts": [],
      "componentConflicts": [],
      "totalPaths": 31,
      "totalComponents": 4
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/v3/scheduling/resource_types": {
      "get": {
        "summary": "Get all ResourceTypes",
        "description": "## Overview\nGet a list of resource types for a business, with pagination.\n\nAvailable for **Staff Tokens**.",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "name": "with_deleted",
            "required": false,
            "in": "query",
            "description": "Include deleted resource types in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ResourceTypesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a ResourceType",
        "description": "## Overview\nCreate a new resource type Available for **Staff Tokens**.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource type"
                  },
                  "services": {
                    "type": "array",
                    "description": "Array of service UIDs that require this resource type",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "ResourceType created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to create resource types (requires account.settings.manage permission)"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          },
          "422": {
            "description": "Request data failed validation"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/resource_types/{uid}": {
      "get": {
        "summary": "Retrieve a ResourceType",
        "description": "## Overview\nGet a specific resource type by UID.\n\nAvailable for **Staff Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the ResourceType",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Not authorized to access this resource type"
          },
          "404": {
            "description": "ResourceType not found"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a ResourceType",
        "description": "## Overview\nUpdate a resource type's properties Available for **Staff Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the ResourceType",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource type"
                  },
                  "services": {
                    "type": "array",
                    "description": "Array of service UIDs that require this resource type",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to update this resource type (requires account.settings.manage permission)"
          },
          "404": {
            "description": "ResourceType not found"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          },
          "422": {
            "description": "Request data failed validation"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a ResourceType",
        "description": "## Overview\nDelete a resource type. Deletes all associated resources Available for **Staff Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the ResourceType",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource type deleted successfully. **Note:** All associated resources are automatically deleted (cascade deletion)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to delete this resource type (requires account.settings.manage permission)"
          },
          "404": {
            "description": "ResourceType not found"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/resources": {
      "get": {
        "summary": "Get all Resources",
        "description": "## Overview\nGet all resources, with pagination and filtering by resource type or service.\n\nAvailable for **Staff Tokens**.",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 1000",
            "schema": {
              "minimum": 1,
              "maximum": 1000,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "name": "resource_type_uid",
            "required": false,
            "in": "query",
            "description": "Filter by resource type UID(s). Accepts single value or array of values. Example: ?resource_type_uid=abc123 or ?resource_type_uid=abc123&resource_type_uid=def456",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "service_uid",
            "required": false,
            "in": "query",
            "description": "Filter resources by service UID that requires their resource type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_deleted",
            "required": false,
            "in": "query",
            "description": "Include deleted resources in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "uid",
            "required": false,
            "in": "query",
            "description": "Filter by resource UID(s). Accepts single value or array of values. Example: ?uid=abc123 or ?uid=abc123&uid=def456",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ResourcesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a Resource",
        "description": "## Overview\nCreate a new resource.\n\nAvailable for **Staff Tokens** with `account.settings.manage` permission.\n\n**Feature Flags Required:** `pkg.sch.resources` and `resources` must be enabled.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource (max 30 characters)",
                    "maxLength": 30
                  },
                  "resource_type_uid": {
                    "type": "string",
                    "description": "The resource type this instance belongs to"
                  }
                },
                "required": [
                  "name",
                  "resource_type_uid"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to create resources (requires account.settings.manage permission)"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          },
          "422": {
            "description": "Request data failed validation"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/resources/{uid}": {
      "get": {
        "summary": "Retrieve a Resource",
        "description": "## Overview\nGet a specific resource by UID.\n\nAvailable for **Staff Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          },
          {
            "name": "with_deleted",
            "required": false,
            "in": "query",
            "description": "Include deleted resources",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Not authorized to access this resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a Resource",
        "description": "## Overview\nUpdate a resource's properties Available for **Staff Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource"
                  },
                  "resource_type_uid": {
                    "type": "string",
                    "description": "The resource type this instance belongs to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to update this resource (requires account.settings.manage permission)"
          },
          "404": {
            "description": "Resource not found"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          },
          "422": {
            "description": "Request data failed validation"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a Resource",
        "description": "## Overview\nSoft-delete a resource Available for **Staff Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to delete this resource (requires account.settings.manage permission)"
          },
          "404": {
            "description": "Resource not found"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/bookings": {
      "post": {
        "description": "## Overview\nCreate a new booking (appointment or event attendance). Available for **Staff, Directory, and Application tokens**.\n\n**Important**: Always provide `client_id` parameter. Without it, the endpoint attempts to create a client from form_data and returns 'First name can't be blank' errors.\n\n## Token Authorization\n- **Staff tokens**: Client must belong to the same business as the staff member\n- **Directory tokens**: Business must be a member of the directory (requires directory_member record)\n\n## Booking Types\nThis endpoint supports two types of bookings with different required parameters:\n\n### Appointment Booking (default)\nWhen `event_instance_id` is NOT provided:\n- **Required**: `business_id`, `service_id`, `staff_id`\n- **Required one of**: `start_time` OR `optional_times`\n\n### Event Registration\nWhen `event_instance_id` IS provided:\n- **Required**: `business_id`, `event_instance_id`\n\n## Client Identification\n- Use `client_id` to book for an existing client (required for Staff/App tokens)\n- Without `client_id`, the endpoint expects form_data for client creation (used by client-facing booking flows)",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Booking Created",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "business_id": "7f6d386440db74ab",
                      "client_id": "1kfvtps4a4wlh3lc",
                      "conversation_id": "ugd2qqidl75wrto6",
                      "created_at": "2020-01-19T07:44:21Z",
                      "duration": 60,
                      "event_instance_id": "a8ma2ephjfvwnvy7 (only for event)",
                      "id": "v8mvcenb8y3wej2n",
                      "service_id": "9fmuaghb4v7sif9r",
                      "source_data": {
                        "campaign": null,
                        "channel": "",
                        "name": "client_portal",
                        "website_url": null
                      },
                      "staff_id": "mg9d91uh92bclwzg",
                      "start_time": "2020-01-22T13:00:00Z",
                      "status": "scheduled",
                      "time_zone": "UTC",
                      "title": "Imm + free",
                      "type": "appointment/event"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Parameter Missing - Required parameters not provided based on booking type",
            "content": {
              "application/json": {
                "example": {
                  "error": "Mandatory parameter service_id is missing, Mandatory parameter staff_id is missing",
                  "error_code": "PARAMETER_MISSING",
                  "status": "Error"
                }
              }
            }
          },
          "422": {
            "description": "Booking Creation Failure or Authorization Error",
            "content": {
              "application/json": {
                "example": {
                  "error": "error text",
                  "error_code": "TIMESLOT_UNAVAILABLE/ALREADY_REGISTERED/UNAUTHORIZED",
                  "status": "Error"
                }
              }
            }
          }
        },
        "summary": "Create New Booking [Business]",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/bookings"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "arrival_window_value": {
                    "description": "Optional for appointment only. Arrival window value is in minutes and limited to 540 (9 hours).",
                    "type": "integer"
                  },
                  "business_id": {
                    "description": "Business uid. Always required.",
                    "type": "string",
                    "x-reference-to": "business"
                  },
                  "campaign": {
                    "description": "Source campaign for tracking.",
                    "type": "string"
                  },
                  "channel": {
                    "description": "Source channel for tracking.",
                    "type": "string"
                  },
                  "client_id": {
                    "description": "Client uid. Recommended when booking on behalf of a client via Staff/App tokens.",
                    "type": "string",
                    "x-reference-to": "client"
                  },
                  "event_instance_id": {
                    "description": "Event instance uid. Required for event registration (mutually exclusive with service_id/staff_id/start_time).",
                    "type": "string",
                    "x-reference-to": "event_instance"
                  },
                  "interaction_details": {
                    "description": "Address. Required when service location is set to: Client will set the address at booking.",
                    "type": "string"
                  },
                  "matter_uid": {
                    "description": "Matter/conversation uid to associate with the booking.",
                    "type": "string",
                    "x-reference-to": "matter"
                  },
                  "service_id": {
                    "description": "Service uid. Required for appointment booking.",
                    "type": "string",
                    "x-reference-to": "service"
                  },
                  "source_name": {
                    "description": "Source name for tracking (e.g., 'api', 'client_portal').",
                    "type": "string"
                  },
                  "source_url": {
                    "description": "Source URL for tracking.",
                    "type": "string"
                  },
                  "staff_id": {
                    "description": "Staff uid who will provide the service. Required for appointment booking.",
                    "type": "string",
                    "x-reference-to": "staff"
                  },
                  "start_time": {
                    "description": "ISO 8601 format datetime. Required for appointment booking (alternative: optional_times).",
                    "type": "string",
                    "format": "date-time"
                  },
                  "time_zone": {
                    "description": "Time zone for the booking. Default is UTC if not provided.",
                    "type": "string"
                  }
                },
                "required": [
                  "business_id"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/bookings/accept": {
      "post": {
        "description": "## Overview\nAccept a pending booking. Available for **Staff and App tokens**.\n\n## Batch Operations\nSupports batch operations by providing an array of booking IDs (max 50).\n\n## Response\nReturns the accepted booking details for single booking, or batch response for array of bookings.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Accept Batch Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "batch_response": [
                      {
                        "error": null,
                        "id": "0or7alzpb99ye3lo",
                        "success": true
                      }
                    ]
                  },
                  "status": "OK"
                }
              }
            }
          },
          "201": {
            "description": "Booking Accepted",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "actions": [
                        {
                          "name": "reschedule",
                          "name_h": "Reschedule"
                        },
                        {
                          "name": "edit",
                          "name_h": "Edit"
                        },
                        {
                          "name": "cancel",
                          "name_h": "Cancel Appointment"
                        },
                        {
                          "name": "follow_up",
                          "name_h": "Send a Note"
                        }
                      ],
                      "id": "xgnm9g2ysine1e5b",
                      "no_show": true,
                      "start_time": "2025-08-07T09:55:52.773+03:00",
                      "start_time_utc": "2025-08-07T09:55:52.773+03:00",
                      "state": "schedule",
                      "title": "Appointment"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Missing required parameters",
            "content": {
              "application/json": {
                "example": {
                  "status": "Error",
                  "error": "Mandatory parameter booking_id is missing",
                  "error_code": "PARAMETER_MISSING"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Too many bookings in batch request or operation not permitted",
            "content": {
              "application/json": {
                "example": {
                  "status": "Error",
                  "error": "Too many bookings"
                }
              }
            }
          }
        },
        "summary": "Accept a Booking [Business]",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "booking_id": {
                    "description": "Booking (appointment/event) UID. Can be a single string or array of strings for batch operations (max 50).",
                    "type": "string",
                    "x-reference-to": "booking"
                  },
                  "business_id": {
                    "description": "Business UID",
                    "type": "string",
                    "x-reference-to": "business"
                  },
                  "event_instance_id": {
                    "description": "Event instance UID. Provide this when accepting an event registration rather than an appointment.",
                    "type": "string",
                    "x-reference-to": "event_instance"
                  },
                  "message": {
                    "description": "Optional message to include with the acceptance notification.",
                    "type": "string"
                  }
                },
                "required": [
                  "business_id",
                  "booking_id"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/bookings/cancel": {
      "put": {
        "description": "## Overview\nCancel an existing booking. Available for **Staff and App tokens**.\n\n## Batch Operations\nSupports batch operations by providing an array of booking IDs (max 50).\n\n## Parameters\n- `cancel_payment`: Set to true to cancel any associated payment\n- `issue_refund`: Set to true to issue a refund for the cancelled booking",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Cancel Batch Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "batch_response": [
                      {
                        "id": "1a2h20dwb6iakgqk",
                        "success": true
                      }
                    ]
                  },
                  "status": "OK"
                }
              }
            }
          },
          "201": {
            "description": "Booking Canceled",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "business_id": "6c52c83af92a7819",
                      "client_id": "7n8ia1nmvuhqqn9g",
                      "conversation_id": "qy0eddp9i3igw3ko",
                      "created_at": "2020-01-19T07:44:21Z",
                      "duration": 60,
                      "event_instance_id": "a8ma2ephjfvwnvy7 (only for event)",
                      "id": "93vcpp7i9d5wowo0",
                      "source_data": {
                        "campaign": null,
                        "channel": "",
                        "name": "client_portal",
                        "website_url": null
                      },
                      "staff_id": "f5fd126aa3d298be",
                      "start_time": "2025-08-07T09:55:54.048+03:00",
                      "status": "cancelled",
                      "time_zone": "UTC",
                      "title": "Imm + free",
                      "type": "appointment/event"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "summary": "Cancel a Booking [Business]",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "booking_id": {
                    "description": "Booking (appointment/event) UID. Can be a single string or array of strings for batch operations (max 50).",
                    "type": "string",
                    "x-reference-to": "booking"
                  },
                  "business_id": {
                    "description": "Business UID",
                    "type": "string",
                    "x-reference-to": "business"
                  },
                  "event_instance_id": {
                    "description": "Event instance UID. Provide this when cancelling an event registration rather than an appointment.",
                    "type": "string",
                    "x-reference-to": "event_instance"
                  },
                  "message": {
                    "description": "Optional message to include with the cancellation notification.",
                    "type": "string"
                  },
                  "cancel_payment": {
                    "description": "Set to true to cancel any associated payment.",
                    "type": "boolean"
                  },
                  "issue_refund": {
                    "description": "Set to true to issue a refund for the cancelled booking.",
                    "type": "boolean"
                  }
                },
                "required": [
                  "business_id",
                  "booking_id"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/bookings/complete": {
      "post": {
        "description": "## Overview\nMark a booking as completed or no-show. Available for **Staff and App tokens**.\n\n## Batch Operations\nSupports batch operations by providing an array of booking IDs (max 50).\n\n## Parameters\n- `booking_id` (required): Single booking UID or array of UIDs for batch operations\n- `business_id` (required): Business UID\n- `mark_as_no_show`: Set to `true` to mark as no-show instead of completed\n- `message`: Optional message to include with the completion notification\n- `follow_up_params`: Optional parameters for sending a follow-up email",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Accept Batch Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "batch_response": [
                      {
                        "error": null,
                        "id": "oo43ef763vtx3sj9",
                        "success": true
                      }
                    ]
                  },
                  "status": "OK"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "actions": [
                        {
                          "name": "reschedule",
                          "name_h": "Reschedule"
                        },
                        {
                          "name": "edit",
                          "name_h": "Edit"
                        },
                        {
                          "name": "cancel",
                          "name_h": "Cancel Appointment"
                        },
                        {
                          "name": "complete",
                          "name_h": "Mark as completed"
                        }
                      ],
                      "id": "5f2y6i6z2amzdqa2",
                      "no_show": false,
                      "start_time": "2025-08-06T11:20:00.000Z",
                      "start_time_utc": "2025-08-06T11:20:00.000Z",
                      "state": "scheduled",
                      "title": "Realigned maximized project"
                    }
                  },
                  "status": "OK",
                  "success": true
                }
              }
            }
          }
        },
        "summary": "Mark booking as no show",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/bookings/complete"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "booking_id": {
                    "description": "Booking UID. Can be a single string or an array of strings for batch operations (max 50 bookings).",
                    "type": "string",
                    "x-reference-to": "booking"
                  },
                  "business_id": {
                    "description": "Business UID",
                    "type": "string",
                    "x-reference-to": "business"
                  },
                  "mark_as_no_show": {
                    "description": "Set to true to mark as no-show instead of completed. Default is false.",
                    "type": "boolean"
                  },
                  "message": {
                    "description": "Optional message to include with the completion notification.",
                    "type": "string"
                  },
                  "follow_up_params": {
                    "description": "Optional parameters for sending a follow-up email after completion.",
                    "type": "object"
                  }
                },
                "required": [
                  "business_id",
                  "booking_id"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/bookings/{booking_id}": {
      "put": {
        "description": "## Overview\nUpdate booking details including start time, staff, and notes. Available for **Staff and App tokens**.\n\n**Note**: The path parameter is `booking_id` (not `booking_uid`).",
        "parameters": [
          {
            "description": "Booking (appointment/event) ID. Obtained from create booking response.",
            "in": "path",
            "name": "booking_id",
            "x-reference-to": "booking",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Booking Updated",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "approval_mode": "immediate",
                      "category_name": "My Services",
                      "charge_type": "paid",
                      "client_id": "e04mjn2h6r5grnis",
                      "conversation_id": "0fkm8euoikb3oqzr",
                      "currency": "USD",
                      "depth": "deep",
                      "description": null,
                      "duration": 60,
                      "end_time": "2020-08-28T15:00:00.000Z",
                      "image_url": "",
                      "interaction_details": "Olsztyn, Poland",
                      "interaction_type": "business_location",
                      "invoice_payment_status_uid": null,
                      "invoices": [],
                      "no_show": false,
                      "notes": null,
                      "payable": true,
                      "payment": null,
                      "payment_id": null,
                      "price": "1.0",
                      "service_id": "yfewza2xcbd2whvm",
                      "staff_id": "4a90d8yacekm6j0w",
                      "staff_name": "A",
                      "start_time": "2020-08-28T14:00:00.000Z",
                      "state": "scheduled",
                      "suggested_times": [],
                      "suggested_times_end": [],
                      "time_zone": "(GMT-06:00) Central Time (US & Canada)",
                      "title": "Suggest local",
                      "type": "appointment",
                      "uid": "5t29s4pvv3cv8qpn"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "summary": "Update Booking Details [Business]",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "allow_double_booking": {
                    "description": "Should allow overlapping with a different booking if time/duration is changed (True by default)",
                    "type": "boolean"
                  },
                  "auto_follow_up_hours": {
                    "description": "How many hours after the booking to send the automatic follow up message",
                    "type": "number"
                  },
                  "booking_id": {
                    "description": "Booking (appointment/event) uid",
                    "type": "string"
                  },
                  "business_id": {
                    "description": "Business uid",
                    "type": "string"
                  },
                  "currency": {
                    "description": "The currency of the booking",
                    "type": "string"
                  },
                  "duration": {
                    "description": "The duration of the booking",
                    "type": "number"
                  },
                  "interaction_details": {
                    "description": "Details of the meeting (address/ phone number",
                    "type": "string"
                  },
                  "interaction_type": {
                    "description": "One of: (client_location|client_phone|business_phone|default_business_location|business_location|skype|online)",
                    "type": "string"
                  },
                  "meeting_reminder_sms_1": {
                    "description": "Should send the client an SMS with the first reminder",
                    "type": "boolean"
                  },
                  "meeting_reminder_sms_2": {
                    "description": "Should send the client an SMS with the second reminder",
                    "type": "boolean"
                  },
                  "message": {
                    "description": "A message to be sent to the client after updating the booking",
                    "type": "string"
                  },
                  "notify_client": {
                    "description": "If true a message about the update with the 'message' field would be sent to the client",
                    "type": "boolean"
                  },
                  "padding": {
                    "description": "The padding duration before of the booking",
                    "type": "number"
                  },
                  "price": {
                    "description": "The price of the booking",
                    "type": "number"
                  },
                  "remind_before_in_hours_1": {
                    "description": "How many hours before the booking to send the first reminder",
                    "type": "number"
                  },
                  "remind_before_in_hours_2": {
                    "description": "How many hours before the booking to send the second reminder",
                    "type": "number"
                  },
                  "sms_booking_confirmation": {
                    "description": "Should send the client an SMS with the booking confirmation",
                    "type": "boolean"
                  },
                  "start_time": {
                    "description": "The start time of the booking in UTC (ISO 8601 format)'",
                    "type": "string"
                  },
                  "title": {
                    "description": "The title of the booking",
                    "type": "string"
                  }
                },
                "required": [
                  "business_id",
                  "booking_id"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external_calendar_items/bulk_create": {
      "put": {
        "description": "## Overview\nBulk create or update external calendar items. Available for **Staff and App tokens**.\n\n## Prerequisite\n**Staff member must have a CalendarSync record** (typically created via the vcita web UI or OAuth flow with an external calendar provider like Google or Outlook).\n\n## Required Fields\n- Provide exactly one of: `external_item` (single item) or `external_items` (array)\n- Each item must include: `external_id`, `start_date`, `end_date`, `last_modification`",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "44d24f8860cf6d63",
                    "uid": "9g08urplg8lp1rc5"
                  },
                  "success": true
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Staff not registered to calendar sync",
            "content": {
              "application/json": {
                "example": {
                  "status": "Error",
                  "errors": [
                    {
                      "code": "missing",
                      "field": "staff",
                      "message": "staff is not registered to any calendar sync"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "External app bulk create external items",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/bulk_create"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "Calendar sync configuration. Both `provider` and `account` are required.",
                    "properties": {
                      "account": {
                        "description": "The email account to sync to (e.g., user@gmail.com). Required.",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external calendar provider (e.g., 'google_v3', 'outlook'). Required.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "provider",
                      "account"
                    ],
                    "type": "object"
                  },
                  "external_item": {
                    "description": "Single external item to create/update. Use this OR `external_items`, not both.",
                    "properties": {
                      "end_date": {
                        "description": "End date in ISO 8601 format. Required.",
                        "type": "string",
                        "format": "date-time"
                      },
                      "external_calendar_uid": {
                        "description": "External Calendar UID",
                        "type": "string",
                        "x-reference-to": "external_calendar"
                      },
                      "external_id": {
                        "description": "External system ID for the item. Required.",
                        "type": "string"
                      },
                      "external_title": {
                        "description": "Title of the calendar item",
                        "type": "string"
                      },
                      "last_modification": {
                        "description": "Last modification timestamp in ISO 8601 format. Required.",
                        "type": "string",
                        "format": "date-time"
                      },
                      "rrule": {
                        "description": "Array of recurrence rules (RFC 5545 RRULE format)",
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "start_date": {
                        "description": "Start date in ISO 8601 format. Required.",
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "external_id",
                      "start_date",
                      "end_date",
                      "last_modification"
                    ],
                    "type": "object"
                  },
                  "external_items": {
                    "description": "Array of external items to create/update. Use this OR `external_item`, not both.",
                    "items": {
                      "description": "External item to create/update",
                      "properties": {
                        "end_date": {
                          "description": "End date in ISO 8601 format. Required.",
                          "type": "string",
                          "format": "date-time"
                        },
                        "external_calendar_uid": {
                          "description": "External Calendar UID",
                          "type": "string",
                          "x-reference-to": "external_calendar"
                        },
                        "external_id": {
                          "description": "External system ID for the item. Required.",
                          "type": "string"
                        },
                        "external_title": {
                          "description": "Title of the calendar item",
                          "type": "string"
                        },
                        "last_modification": {
                          "description": "Last modification timestamp in ISO 8601 format. Required.",
                          "type": "string",
                          "format": "date-time"
                        },
                        "rrule": {
                          "description": "Array of recurrence rules (RFC 5545 RRULE format)",
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "start_date": {
                          "description": "Start date in ISO 8601 format. Required.",
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "external_id",
                        "start_date",
                        "end_date",
                        "last_modification"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string",
                    "x-reference-to": "staff"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external_calendar_items/bulk_deactivate": {
      "put": {
        "description": "## Overview\nBulk deactivate external calendar items. Available for **Staff and App tokens**.\n\n## Prerequisite\n**Staff member must have a CalendarSync record** (typically created via the vcita web UI or OAuth flow with an external calendar provider like Google or Outlook).\n\n## Required Fields\n- `external_items_to_deactivate` must be an array\n- Each item must include `external_id`",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "1a86d76432779692",
                    "uid": "worejslos7j2mf26"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "External app bulk deactivate external items",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/bulk_deactivate"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "Calendar sync configuration. Both `provider` and `account` are required.",
                    "properties": {
                      "account": {
                        "description": "The email account to sync to (e.g., user@gmail.com). Required.",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external calendar provider (e.g., 'google_v3', 'outlook'). Required.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "provider",
                      "account"
                    ],
                    "type": "object"
                  },
                  "external_items_to_deactivate": {
                    "description": "Array of external items to deactivate. Each item must include `external_id`.",
                    "items": {
                      "description": "External item to deactivate",
                      "properties": {
                        "external_id": {
                          "description": "External system ID of the item to deactivate. Required.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "external_id"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string",
                    "x-reference-to": "staff"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync",
                  "external_items_to_deactivate"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external_calendar_items/connect": {
      "put": {
        "description": "## Overview\nConnect a staff member's calendar to an external calendar provider. Available for **Staff and App tokens**.\n\n## Prerequisite\n**Staff member must have a CalendarSync record** (typically created via the vcita web UI or OAuth flow with an external calendar provider like Google or Outlook).\n\n## Response\nReturns the calendar sync configuration including the `uid` which can be used as `external_calendar_uid` for other operations.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "f67acee343b4a38b",
                    "uid": "9t1dcewjh54k3t91"
                  },
                  "success": true
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Staff not registered to calendar sync",
            "content": {
              "application/json": {
                "example": {
                  "status": "Error",
                  "errors": [
                    {
                      "code": "missing",
                      "field": "staff",
                      "message": "staff is not registered to any calendar sync"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "External app connect",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/connect"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "Calendar sync configuration. Both `provider` and `account` are required.",
                    "properties": {
                      "account": {
                        "description": "The email account to sync to (e.g., user@gmail.com). Required.",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external calendar provider (e.g., 'google_v3', 'outlook'). Required.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "provider",
                      "account"
                    ],
                    "type": "object"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string",
                    "x-reference-to": "staff"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external_calendar_items/deactivate_external_calendar": {
      "put": {
        "description": "## Overview\nDeactivate a specific external calendar. Available for **Staff and App tokens**.\n\n## Prerequisites\nThe `external_calendar_uid` is returned in the response when calling the `/v1/external_calendar_items/connect` endpoint.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "success": true
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "External app deactivate external calendar",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/deactivate_external_calendar"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "external_calendar_uid": {
                    "description": "External Calendar UID. Obtained from the connect endpoint response.",
                    "type": "string",
                    "x-reference-to": "external_calendar"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string",
                    "x-reference-to": "staff"
                  }
                },
                "required": [
                  "staff_uid",
                  "external_calendar_uid"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external_calendar_items/disable": {
      "put": {
        "description": "## Overview\nDisable calendar sync for a staff member. Available for **Staff and App tokens**.\n\n## Prerequisite\n**Staff member must have a CalendarSync record** (typically created via the vcita web UI or OAuth flow with an external calendar provider like Google or Outlook). Then connect via `/connect` endpoint.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "941ddd0324f01ba5",
                    "uid": "0af3jn4rz09ur76u"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "External app disable",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/disable"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "Calendar sync configuration. Both `provider` and `account` are required.",
                    "properties": {
                      "account": {
                        "description": "The email account to sync to (e.g., user@gmail.com). Required.",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external calendar provider (e.g., 'google_v3', 'outlook'). Required.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "provider",
                      "account"
                    ],
                    "type": "object"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string",
                    "x-reference-to": "staff"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external_calendar_items/disconnect": {
      "put": {
        "description": "## Overview\nDisconnect a staff member's calendar from an external calendar provider. Available for **Staff and App tokens**.\n\n## Prerequisite\n**Staff member must have a CalendarSync record** (typically created via the vcita web UI or OAuth flow with an external calendar provider like Google or Outlook). Then connect via `/connect` endpoint.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "23732dd8356b9b69",
                    "uid": "w388fga3hg2hmptv"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "External app disconnect",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/disconnect"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "Calendar sync configuration. Both `provider` and `account` are required.",
                    "properties": {
                      "account": {
                        "description": "The email account to sync to (e.g., user@gmail.com). Required.",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external calendar provider (e.g., 'google_v3', 'outlook'). Required.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "provider",
                      "account"
                    ],
                    "type": "object"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string",
                    "x-reference-to": "staff"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external_calendar_items/report_sync_status": {
      "put": {
        "description": "## Overview\nReport the sync status after completing a calendar sync operation. Available for **Staff and App tokens**.\n\n## Required Fields\n- `params.is_sync_successful` is required\n- If `unsynced_items` is provided, each item must have `entity_uid`\n- If `unsynced_calendars` is provided, each item must have `imported_calendar_name`",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "success": true
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "External app report_sync_status",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/report_sync_status"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "Calendar sync configuration. Both `provider` and `account` are required.",
                    "properties": {
                      "account": {
                        "description": "The email account to sync to (e.g., user@gmail.com). Required.",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external calendar provider (e.g., 'google_v3', 'outlook'). Required.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "provider",
                      "account"
                    ],
                    "type": "object"
                  },
                  "params": {
                    "description": "Status report of the sync operation.",
                    "properties": {
                      "is_sync_successful": {
                        "description": "Whether the sync was successful. Required.",
                        "type": "boolean"
                      },
                      "unsynced_calendars": {
                        "description": "Array of calendars that failed to sync. Each item requires `imported_calendar_name`.",
                        "items": {
                          "description": "Unsynced calendar",
                          "properties": {
                            "imported_calendar_name": {
                              "description": "The calendar's name. Required when item is present.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "imported_calendar_name"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "unsynced_items": {
                        "description": "Array of items that failed to sync. Each item requires `entity_uid`.",
                        "items": {
                          "description": "Unsynced item",
                          "properties": {
                            "entity_uid": {
                              "description": "The entity UID of the unsynced item. Required when item is present.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "entity_uid"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "is_sync_successful"
                    ],
                    "type": "object"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string",
                    "x-reference-to": "staff"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync",
                  "params"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external_calendar_items/start_export": {
      "put": {
        "description": "## Overview\nStart exporting vcita calendar events to an external calendar. Available for **Staff and App tokens**.\n\n## Prerequisite\n**Staff member must have a CalendarSync record** (typically created via the vcita web UI or OAuth flow with an external calendar provider like Google or Outlook). Then connect via `/connect` endpoint.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "d18390b5ceeb9256",
                    "uid": "16dcvpz9p1js7nn5"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "External app start_export",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/start_export"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "Calendar sync configuration. Both `provider` and `account` are required.",
                    "properties": {
                      "account": {
                        "description": "The email account to sync to (e.g., user@gmail.com). Required.",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external calendar provider (e.g., 'google_v3', 'outlook'). Required.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "provider",
                      "account"
                    ],
                    "type": "object"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string",
                    "x-reference-to": "staff"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/external_calendar_items/stop_import": {
      "put": {
        "description": "## Overview\nStop importing events from an external calendar. Available for **Staff and App tokens**.\n\n## Prerequisite\n**Staff member must have a CalendarSync record** (typically created via the vcita web UI or OAuth flow with an external calendar provider like Google or Outlook). Then connect via `/connect` endpoint.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "305869f5fb05b52d",
                    "uid": "ac82np5xx16ae6st"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "External app stop import",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/stop_import"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "Calendar sync configuration. Both `provider` and `account` are required.",
                    "properties": {
                      "account": {
                        "description": "The email account to sync to (e.g., user@gmail.com). Required.",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external calendar provider (e.g., 'google_v3', 'outlook'). Required.",
                        "type": "string"
                      }
                    },
                    "required": [
                      "provider",
                      "account"
                    ],
                    "type": "object"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string",
                    "x-reference-to": "staff"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/time_slots": {
      "post": {
        "description": "## Overview\nGeneral availability - Create new time slot. Available for **Staff and App tokens**.\n\n## Prerequisites\nYou need a `weekly_availability_uid` which can be obtained from the staff or service availability settings.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "general_availability": {
                      "id": 123,
                      "time_slots_by_day": [
                        {
                          "day": 0,
                          "enabled": true,
                          "slots": [
                            {
                              "end_time": "22:00",
                              "id": "40ci67hckste9xax",
                              "start_time": "20:00"
                            }
                          ]
                        },
                        {
                          "day": 1,
                          "enabled": true,
                          "slots": [
                            {
                              "end_time": "17:00",
                              "id": "phmiv974egfuyx84",
                              "start_time": "09:00"
                            }
                          ]
                        },
                        {
                          "day": 2,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 3,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 4,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 5,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 6,
                          "enabled": false,
                          "slots": []
                        }
                      ],
                      "uid": "sjq2twnw8z0h33f0"
                    }
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "General availability - Create new time slot",
        "tags": [
          "Weekly availability"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/time_slots"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "day": {
                    "description": "A number representing the day of the week (0 = Sunday, 6 = Saturday).",
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 6
                  },
                  "end_time": {
                    "description": "End time in HH:MM format (e.g., '17:00').",
                    "type": "string"
                  },
                  "start_time": {
                    "description": "Start time in HH:MM format (e.g., '09:00').",
                    "type": "string"
                  },
                  "weekly_availability_uid": {
                    "description": "Weekly availability UID. Obtain from staff or service availability settings.",
                    "type": "string",
                    "x-reference-to": "weekly_availability"
                  }
                },
                "required": [
                  "weekly_availability_uid",
                  "day",
                  "start_time",
                  "end_time"
                ],
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/time_slots/{time_slot_uid}": {
      "delete": {
        "description": "## Overview\nGeneral availability - Remove time slot Available for **Staff and App tokens**.",
        "parameters": [
          {
            "description": "time slot uid",
            "in": "path",
            "name": "time_slot_uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "general_availability": {
                      "id": 123,
                      "time_slots_by_day": [
                        {
                          "day": 0,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 1,
                          "enabled": true,
                          "slots": [
                            {
                              "end_time": "17:00",
                              "id": "h6v5fxwr3f0xe4vf",
                              "start_time": "09:00"
                            }
                          ]
                        },
                        {
                          "day": 2,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 3,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 4,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 5,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 6,
                          "enabled": false,
                          "slots": []
                        }
                      ],
                      "uid": "63q3l1lex42awyzc"
                    }
                  },
                  "success": true
                }
              }
            }
          }
        },
        "summary": "General availability - Remove time slot",
        "tags": [
          "Weekly availability"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "DELETE",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/time_slots/{time_slot_uid}"
        },
        "x-auth-type": "Application & Application User",
        "security": [
          {
[...]
