{
  "openapi": "3.1.0",
  "info": {
    "title": "Scheduling",
    "description": "Unified OpenAPI specification for scheduling domain",
    "version": "3.0",
    "x-generated": {
      "sourceFiles": [
        "resource_management.json",
        "scheduling.json",
        "availability.json",
        "availability_slots.json",
        "legacy_v1_scheduling.json"
      ],
      "pathNormalizations": [
        {
          "file": "scheduling.json",
          "basePath": "/business/scheduling",
          "transformations": [
            {
              "original": "/v1/bookings",
              "normalized": "/business/scheduling/v1/bookings",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/bookings/accept",
              "normalized": "/business/scheduling/v1/bookings/accept",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/bookings/cancel",
              "normalized": "/business/scheduling/v1/bookings/cancel",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/bookings/complete",
              "normalized": "/business/scheduling/v1/bookings/complete",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/bookings/{booking_id}",
              "normalized": "/business/scheduling/v1/bookings/{booking_id}",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/bulk_create",
              "normalized": "/business/scheduling/v1/external_calendar_items/bulk_create",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/bulk_deactivate",
              "normalized": "/business/scheduling/v1/external_calendar_items/bulk_deactivate",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/connect",
              "normalized": "/business/scheduling/v1/external_calendar_items/connect",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/deactivate_external_calendar",
              "normalized": "/business/scheduling/v1/external_calendar_items/deactivate_external_calendar",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/disable",
              "normalized": "/business/scheduling/v1/external_calendar_items/disable",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/disconnect",
              "normalized": "/business/scheduling/v1/external_calendar_items/disconnect",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/report_sync_status",
              "normalized": "/business/scheduling/v1/external_calendar_items/report_sync_status",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/start_export",
              "normalized": "/business/scheduling/v1/external_calendar_items/start_export",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/external_calendar_items/stop_import",
              "normalized": "/business/scheduling/v1/external_calendar_items/stop_import",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/time_slots",
              "normalized": "/business/scheduling/v1/time_slots",
              "basePath": "/business/scheduling"
            },
            {
              "original": "/v1/time_slots/{time_slot_uid}",
              "normalized": "/business/scheduling/v1/time_slots/{time_slot_uid}",
              "basePath": "/business/scheduling"
            }
          ]
        },
        {
          "file": "legacy_v1_scheduling.json",
          "basePath": "/platform/v1",
          "transformations": [
            {
              "original": "/scheduling/appointments",
              "normalized": "/platform/v1/scheduling/appointments",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/appointments/{appointment_id}",
              "normalized": "/platform/v1/scheduling/appointments/{appointment_id}",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/bookings",
              "normalized": "/platform/v1/scheduling/bookings",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/bookings/cancel",
              "normalized": "/platform/v1/scheduling/bookings/cancel",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/bookings/{booking_uid}/update_rsvp_state",
              "normalized": "/platform/v1/scheduling/bookings/{booking_uid}/update_rsvp_state",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/event_attendances/{event_attendance_uid}",
              "normalized": "/platform/v1/scheduling/event_attendances/{event_attendance_uid}",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/event_instance/{event_instance_id}",
              "normalized": "/platform/v1/scheduling/event_instance/{event_instance_id}",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/waitlist",
              "normalized": "/platform/v1/scheduling/waitlist",
              "basePath": "/platform/v1"
            },
            {
              "original": "/scheduling/waitlist/cancel",
              "normalized": "/platform/v1/scheduling/waitlist/cancel",
              "basePath": "/platform/v1"
            }
          ]
        }
      ],
      "pathConflicts": [],
      "componentConflicts": [],
      "totalPaths": 32,
      "totalComponents": 4
    }
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Unified API Gateway server"
    }
  ],
  "paths": {
    "/v3/scheduling/resource_types": {
      "get": {
        "summary": "Get all ResourceTypes",
        "description": "Get a list of resource types for a business, with pagination\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "name": "with_deleted",
            "required": false,
            "in": "query",
            "description": "Include deleted resource types in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ResourceTypesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a ResourceType",
        "description": "Create a new resource type.\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource type"
                  },
                  "services": {
                    "type": "array",
                    "description": "Array of service UIDs that require this resource type",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "ResourceType created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to create resource types (requires account.settings.manage permission)"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          },
          "422": {
            "description": "Request data failed validation"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/resource_types/{uid}": {
      "get": {
        "summary": "Retrieve a ResourceType",
        "description": "Get a specific resource type by UID\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the ResourceType",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Not authorized to access this resource type"
          },
          "404": {
            "description": "ResourceType not found"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a ResourceType",
        "description": "Update a resource type's properties\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the ResourceType",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource type"
                  },
                  "services": {
                    "type": "array",
                    "description": "Array of service UIDs that require this resource type",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to update this resource type (requires account.settings.manage permission)"
          },
          "404": {
            "description": "ResourceType not found"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          },
          "422": {
            "description": "Request data failed validation"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a ResourceType",
        "description": "Delete a resource type. Deletes all associated resources.\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the ResourceType",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource type deleted successfully. **Note:** All associated resources are automatically deleted (cascade deletion)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to delete this resource type (requires account.settings.manage permission)"
          },
          "404": {
            "description": "ResourceType not found"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/resources": {
      "get": {
        "summary": "Get all Resources",
        "description": "Get all resources, with pagination and filtering by resource type or service\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "name": "resource_type_uid",
            "required": false,
            "in": "query",
            "description": "Filter by resource type UID(s). Accepts single value or array of values. Example: ?resource_type_uid=abc123 or ?resource_type_uid=abc123&resource_type_uid=def456",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "service_uid",
            "required": false,
            "in": "query",
            "description": "Filter resources by service UID that requires their resource type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_deleted",
            "required": false,
            "in": "query",
            "description": "Include deleted resources in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "uid",
            "required": false,
            "in": "query",
            "description": "Filter by resource UID(s). Accepts single value or array of values. Example: ?uid=abc123 or ?uid=abc123&uid=def456",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ResourcesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a Resource",
        "description": "Create a new resource\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource"
                  },
                  "resource_type_uid": {
                    "type": "string",
                    "description": "The resource type this instance belongs to"
                  }
                },
                "required": [
                  "name",
                  "resource_type_uid"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to create resources (requires account.settings.manage permission)"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          },
          "422": {
            "description": "Request data failed validation"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/resources/{uid}": {
      "get": {
        "summary": "Retrieve a Resource",
        "description": "Get a specific resource by UID\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          },
          {
            "name": "with_deleted",
            "required": false,
            "in": "query",
            "description": "Include deleted resources",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Not authorized to access this resource"
          },
          "404": {
            "description": "Resource not found"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a Resource",
        "description": "Update a resource's properties\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource"
                  },
                  "resource_type_uid": {
                    "type": "string",
                    "description": "The resource type this instance belongs to"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "400": {
            "description": "Invalid input data"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to update this resource (requires account.settings.manage permission)"
          },
          "404": {
            "description": "Resource not found"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          },
          "422": {
            "description": "Request data failed validation"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a Resource",
        "description": "Soft-delete a resource\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          },
          "302": {
            "description": "OAuth redirect when no authentication token provided"
          },
          "401": {
            "description": "Valid business context is required"
          },
          "403": {
            "description": "Forbidden: Resources feature is not enabled or not authorized to delete this resource (requires account.settings.manage permission)"
          },
          "404": {
            "description": "Resource not found"
          },
          "408": {
            "description": "Request exceeded timeout limit"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/scheduling/v1/bookings": {
      "post": {
        "parameters": [],
        "responses": {
          "201": {
            "description": "Booking Created",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "business_id": "7f6d386440db74ab",
                      "client_id": "1kfvtps4a4wlh3lc",
                      "conversation_id": "ugd2qqidl75wrto6",
                      "created_at": "2020-01-19T07:44:21Z",
                      "duration": 60,
                      "event_instance_id": "a8ma2ephjfvwnvy7 (only for event)",
                      "id": "v8mvcenb8y3wej2n",
                      "service_id": "9fmuaghb4v7sif9r",
                      "source_data": {
                        "campaign": null,
                        "channel": "",
                        "name": "client_portal",
                        "website_url": null
                      },
                      "staff_id": "mg9d91uh92bclwzg",
                      "start_time": "2020-01-22T13:00:00Z",
                      "status": "scheduled",
                      "time_zone": "UTC",
                      "title": "Imm + free",
                      "type": "appointment/event"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          },
          "422": {
            "description": "Booking Creation Failure",
            "content": {
              "application/json": {
                "example": {
                  "error": "error text",
                  "error_code": "TIMESLOT_UNAVAILABLE/ALREADY_REGISTERED",
                  "status": "Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Create New Booking [Business]",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/bookings"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "arrival_window_value": {
                    "description": "Optional for appointment only .Arrival window value is in minutes and limited to 540 (9 hours)",
                    "type": "integer"
                  },
                  "business_id": {
                    "description": "Business uid",
                    "type": "string"
                  },
                  "campaign": {
                    "description": "Source campaign",
                    "type": "string"
                  },
                  "channel": {
                    "description": "Source channel",
                    "type": "string"
                  },
                  "client_id": {
                    "description": "Client uid",
                    "type": "string"
                  },
                  "event_instance_id": {
                    "description": "Event instance uid. Required for event.",
                    "type": "string"
                  },
                  "interaction_details": {
                    "description": "Address. Required when service location set to: Client will set the address at booking",
                    "type": "string"
                  },
                  "matter_uid": {
                    "description": "Matter uid",
                    "type": "string"
                  },
                  "service_id": {
                    "description": "Service uid. Required for appointment.",
                    "type": "string"
                  },
                  "source_name": {
                    "description": "Source name",
                    "type": "string"
                  },
                  "source_url": {
                    "description": "Source URL",
                    "type": "string"
                  },
                  "staff_id": {
                    "description": "Staff uid. Required for appointment.",
                    "type": "string"
                  },
                  "start_time": {
                    "description": "ISO 8601 format. Required for appointment.",
                    "type": "string"
                  },
                  "time_zone": {
                    "description": "Default is set to UTC if not provided",
                    "type": "string"
                  }
                },
                "required": [
                  "business_id"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/bookings/accept": {
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Accept Batch Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "batch_response": [
                      {
                        "error": null,
                        "id": "0or7alzpb99ye3lo",
                        "success": true
                      }
                    ]
                  },
                  "status": "OK"
                }
              }
            }
          },
          "201": {
            "description": "Booking Accepted",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "actions": [
                        {
                          "name": "reschedule",
                          "name_h": "Reschedule"
                        },
                        {
                          "name": "edit",
                          "name_h": "Edit"
                        },
                        {
                          "name": "cancel",
                          "name_h": "Cancel Appointment"
                        },
                        {
                          "name": "follow_up",
                          "name_h": "Send a Note"
                        }
                      ],
                      "id": "xgnm9g2ysine1e5b",
                      "no_show": true,
                      "start_time": "2025-08-07T09:55:52.773+03:00",
                      "start_time_utc": "2025-08-07T09:55:52.773+03:00",
                      "state": "schedule",
                      "title": "Appointment"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Accept a Booking [Business]",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "booking_id": {
                    "description": "Booking (appointment/event) uid",
                    "type": "string"
                  },
                  "business_id": {
                    "description": "Business uid",
                    "type": "string"
                  },
                  "event_instance_id": {
                    "description": "Event instance uid. Required for event.",
                    "type": "string"
                  }
                },
                "required": [
                  "business_id",
                  "booking_id"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/bookings/cancel": {
      "put": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Cancel Batch Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "batch_response": [
                      {
                        "id": "1a2h20dwb6iakgqk",
                        "success": true
                      }
                    ]
                  },
                  "status": "OK"
                }
              }
            }
          },
          "201": {
            "description": "Booking Canceled",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "business_id": "6c52c83af92a7819",
                      "client_id": "7n8ia1nmvuhqqn9g",
                      "conversation_id": "qy0eddp9i3igw3ko",
                      "created_at": "2020-01-19T07:44:21Z",
                      "duration": 60,
                      "event_instance_id": "a8ma2ephjfvwnvy7 (only for event)",
                      "id": "93vcpp7i9d5wowo0",
                      "source_data": {
                        "campaign": null,
                        "channel": "",
                        "name": "client_portal",
                        "website_url": null
                      },
                      "staff_id": "f5fd126aa3d298be",
                      "start_time": "2025-08-07T09:55:54.048+03:00",
                      "status": "cancelled",
                      "time_zone": "UTC",
                      "title": "Imm + free",
                      "type": "appointment/event"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Cancel a Booking [Business]",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "booking_id": {
                    "description": "Booking (appointment/event) uid. (Can also be an array for batch cancel)",
                    "type": "string"
                  },
                  "business_id": {
                    "description": "Business uid",
                    "type": "string"
                  },
                  "event_instance_id": {
                    "description": "Event instance uid. Required for event.",
                    "type": "string"
                  }
                },
                "required": [
                  "business_id",
                  "booking_id"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/bookings/complete": {
      "post": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Accept Batch Response",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "batch_response": [
                      {
                        "error": null,
                        "id": "oo43ef763vtx3sj9",
                        "success": true
                      }
                    ]
                  },
                  "status": "OK"
                }
              }
            }
          },
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "actions": [
                        {
                          "name": "reschedule",
                          "name_h": "Reschedule"
                        },
                        {
                          "name": "edit",
                          "name_h": "Edit"
                        },
                        {
                          "name": "cancel",
                          "name_h": "Cancel Appointment"
                        },
                        {
                          "name": "complete",
                          "name_h": "Mark as completed"
                        }
                      ],
                      "id": "5f2y6i6z2amzdqa2",
                      "no_show": false,
                      "start_time": "2025-08-06T11:20:00.000Z",
                      "start_time_utc": "2025-08-06T11:20:00.000Z",
                      "state": "scheduled",
                      "title": "Realigned maximized project"
                    }
                  },
                  "status": "OK",
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Mark booking as no show",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/bookings/complete"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "booking_id": {
                    "description": "Booking UID",
                    "type": "string"
                  },
                  "business_id": {
                    "description": "Business UID",
                    "type": "string"
                  },
                  "mark_as_no_show": {
                    "description": "Mark as no show true/false",
                    "type": "string"
                  }
                },
                "required": [
                  "business_id"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/bookings/{booking_id}": {
      "put": {
        "parameters": [
          {
            "description": "Booking (appointment/event) uid",
            "in": "path",
            "name": "booking_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Booking Updated",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "booking": {
                      "approval_mode": "immediate",
                      "category_name": "My Services",
                      "charge_type": "paid",
                      "client_id": "e04mjn2h6r5grnis",
                      "conversation_id": "0fkm8euoikb3oqzr",
                      "currency": "USD",
                      "depth": "deep",
                      "description": null,
                      "duration": 60,
                      "end_time": "2020-08-28T15:00:00.000Z",
                      "image_url": "",
                      "interaction_details": "Olsztyn, Poland",
                      "interaction_type": "business_location",
                      "invoice_payment_status_uid": null,
                      "invoices": [],
                      "no_show": false,
                      "notes": null,
                      "payable": true,
                      "payment": null,
                      "payment_id": null,
                      "price": "1.0",
                      "service_id": "yfewza2xcbd2whvm",
                      "staff_id": "4a90d8yacekm6j0w",
                      "staff_name": "A",
                      "start_time": "2020-08-28T14:00:00.000Z",
                      "state": "scheduled",
                      "suggested_times": [],
                      "suggested_times_end": [],
                      "time_zone": "(GMT-06:00) Central Time (US & Canada)",
                      "title": "Suggest local",
                      "type": "appointment",
                      "uid": "5t29s4pvv3cv8qpn"
                    }
                  },
                  "status": "OK"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Update Booking Details [Business]",
        "tags": [
          "Bookings"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "allow_double_booking": {
                    "description": "Should allow overlapping with a different booking if time/duration is changed (True by default)",
                    "type": "boolean"
                  },
                  "auto_follow_up_hours": {
                    "description": "How many hours after the booking to send the automatic follow up message",
                    "type": "number"
                  },
                  "booking_id": {
                    "description": "Booking (appointment/event) uid",
                    "type": "string"
                  },
                  "business_id": {
                    "description": "Business uid",
                    "type": "string"
                  },
                  "currency": {
                    "description": "The currency of the booking",
                    "type": "string"
                  },
                  "duration": {
                    "description": "The duration of the booking",
                    "type": "number"
                  },
                  "interaction_details": {
                    "description": "Details of the meeting (address/ phone number",
                    "type": "string"
                  },
                  "interaction_type": {
                    "description": "One of: (client_location|client_phone|business_phone|default_business_location|business_location|skype|online)",
                    "type": "string"
                  },
                  "meeting_reminder_sms_1": {
                    "description": "Should send the client an SMS with the first reminder",
                    "type": "boolean"
                  },
                  "meeting_reminder_sms_2": {
                    "description": "Should send the client an SMS with the second reminder",
                    "type": "boolean"
                  },
                  "message": {
                    "description": "A message to be sent to the client after updating the booking",
                    "type": "string"
                  },
                  "notify_client": {
                    "description": "If true a message about the update with the 'message' field would be sent to the client",
                    "type": "boolean"
                  },
                  "padding": {
                    "description": "The padding duration before of the booking",
                    "type": "number"
                  },
                  "price": {
                    "description": "The price of the booking",
                    "type": "number"
                  },
                  "remind_before_in_hours_1": {
                    "description": "How many hours before the booking to send the first reminder",
                    "type": "number"
                  },
                  "remind_before_in_hours_2": {
                    "description": "How many hours before the booking to send the second reminder",
                    "type": "number"
                  },
                  "sms_booking_confirmation": {
                    "description": "Should send the client an SMS with the booking confirmation",
                    "type": "boolean"
                  },
                  "start_time": {
                    "description": "The start time of the booking in UTC (ISO 8601 format)'",
                    "type": "string"
                  },
                  "title": {
                    "description": "The title of the booking",
                    "type": "string"
                  }
                },
                "required": [
                  "business_id",
                  "booking_id"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/external_calendar_items/bulk_create": {
      "put": {
        "description": "External app bulk create external items",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "44d24f8860cf6d63",
                    "uid": "9g08urplg8lp1rc5"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "External app bulk create external items",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/bulk_create"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "The external app provider and the requested email to sync to (by the staff)",
                    "properties": {
                      "account": {
                        "description": "The requested email to sync to by the staff (e.g. aaa@gmail.com)",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external app provider (e.g. google_v3)",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "external_item": {
                    "description": "External item to create / update",
                    "properties": {
                      "end_date": {
                        "description": "End Date",
                        "type": "string"
                      },
                      "external_calendar_uid": {
                        "description": "External Calendar Uid",
                        "type": "string"
                      },
                      "external_id": {
                        "description": "id",
                        "type": "string"
                      },
                      "external_title": {
                        "description": "Title",
                        "type": "string"
                      },
                      "last_modification": {
                        "description": "Last modification of the item",
                        "type": "string"
                      },
                      "rrule": {
                        "description": "Array of rrules (recurrence rules)",
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "start_date": {
                        "description": "Start date",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "external_items": {
                    "description": "Array of external items",
                    "items": {
                      "description": "External item to create / update",
                      "properties": {
                        "end_date": {
                          "description": "End Date",
                          "type": "string"
                        },
                        "external_calendar_uid": {
                          "description": "External Calendar Uid",
                          "type": "string"
                        },
                        "external_id": {
                          "description": "id",
                          "type": "string"
                        },
                        "external_title": {
                          "description": "Title",
                          "type": "string"
                        },
                        "last_modification": {
                          "description": "Last modification of the item",
                          "type": "string"
                        },
                        "rrule": {
                          "description": "Array of rrules (recurrence rules)",
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "start_date": {
                          "description": "Start date",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/external_calendar_items/bulk_deactivate": {
      "put": {
        "description": "External app bulk deactivate external items",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "1a86d76432779692",
                    "uid": "worejslos7j2mf26"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "External app bulk deactivate external items",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/bulk_deactivate"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "The external app provider and the requested email to sync to (by the staff)",
                    "properties": {
                      "account": {
                        "description": "The requested email to sync to by the staff (e.g. aaa@gmail.com)",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external app provider (e.g. google_v3)",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "external_items_to_deactivate": {
                    "description": "Array of external_ids to deactivate",
                    "items": {
                      "description": "translation missing: en.external-calendar-items-controller.parameters.external_item.external_id.description.description",
                      "properties": {
                        "external_id": {
                          "description": "id",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync",
                  "external_items_to_deactivate"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/external_calendar_items/connect": {
      "put": {
        "description": "External app connect",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "f67acee343b4a38b",
                    "uid": "9t1dcewjh54k3t91"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "External app connect",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/connect"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "The external app provider and the requested email to sync to (by the staff)",
                    "properties": {
                      "account": {
                        "description": "The requested email to sync to by the staff (e.g. aaa@gmail.com)",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external app provider (e.g. google_v3)",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/external_calendar_items/deactivate_external_calendar": {
      "put": {
        "description": "External app deactivate external calendar",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "success": true
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "External app deactivate external calendar",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/deactivate_external_calendar"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "external_calendar_uid": {
                    "description": "External Calendar Uid",
                    "type": "string"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string"
                  }
                },
                "required": [
                  "staff_uid",
                  "external_calendar_uid"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/external_calendar_items/disable": {
      "put": {
        "description": "External app disable",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "941ddd0324f01ba5",
                    "uid": "0af3jn4rz09ur76u"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "External app disable",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/disable"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "The external app provider and the requested email to sync to (by the staff)",
                    "properties": {
                      "account": {
                        "description": "The requested email to sync to by the staff (e.g. aaa@gmail.com)",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external app provider (e.g. google_v3)",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/external_calendar_items/disconnect": {
      "put": {
        "description": "External app disconnect",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "23732dd8356b9b69",
                    "uid": "w388fga3hg2hmptv"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "External app disconnect",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/disconnect"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "The external app provider and the requested email to sync to (by the staff)",
                    "properties": {
                      "account": {
                        "description": "The requested email to sync to by the staff (e.g. aaa@gmail.com)",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external app provider (e.g. google_v3)",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/external_calendar_items/report_sync_status": {
      "put": {
        "description": "External app report_sync_status",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "success": true
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "External app report_sync_status",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/report_sync_status"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "The external app provider and the requested email to sync to (by the staff)",
                    "properties": {
                      "account": {
                        "description": "The requested email to sync to by the staff (e.g. aaa@gmail.com)",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external app provider (e.g. google_v3)",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "params": {
                    "description": "Status report of the sync (export and import)",
                    "properties": {
                      "is_sync_successful": {
                        "description": "Boolean",
                        "type": "boolean"
                      },
                      "unsynced_calendars": {
                        "description": "Array of unsynced calendars",
                        "items": {
                          "description": "Unsynced calendar",
                          "properties": {
                            "imported_calendar_name": {
                              "description": "The calendar's name of the unsynced calendar",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "unsynced_items": {
                        "description": "Array of unsynced items",
                        "items": {
                          "description": "Unsynced item",
                          "properties": {
                            "entity_uid": {
                              "description": "The entity uid of the unsynced item",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync",
                  "params"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/external_calendar_items/start_export": {
      "put": {
        "description": "External app start_export",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "d18390b5ceeb9256",
                    "uid": "16dcvpz9p1js7nn5"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "External app start_export",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/start_export"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "The external app provider and the requested email to sync to (by the staff)",
                    "properties": {
                      "account": {
                        "description": "The requested email to sync to by the staff (e.g. aaa@gmail.com)",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external app provider (e.g. google_v3)",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/external_calendar_items/stop_import": {
      "put": {
        "description": "External app stop import",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "account": "fakeemail@gmail.com",
                    "enabled": false,
                    "is_business_disable_ics": false,
                    "is_external_app": true,
                    "is_private_export": true,
                    "is_private_import": true,
                    "is_staff_disable_ics": false,
                    "provider": "google_v3",
                    "should_export": true,
                    "should_import": true,
                    "staff_uid": "305869f5fb05b52d",
                    "uid": "ac82np5xx16ae6st"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "External app stop import",
        "tags": [
          "ExternalCalendarItems"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/external_calendar_items/stop_import"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "calendar_sync": {
                    "description": "The external app provider and the requested email to sync to (by the staff)",
                    "properties": {
                      "account": {
                        "description": "The requested email to sync to by the staff (e.g. aaa@gmail.com)",
                        "type": "string"
                      },
                      "provider": {
                        "description": "The external app provider (e.g. google_v3)",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "staff_uid": {
                    "description": "Staff UID",
                    "type": "string"
                  }
                },
                "required": [
                  "staff_uid",
                  "calendar_sync"
                ],
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/time_slots": {
      "post": {
        "description": "General availability - Create new time slot",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "general_availability": {
                      "id": 123,
                      "time_slots_by_day": [
                        {
                          "day": 0,
                          "enabled": true,
                          "slots": [
                            {
                              "end_time": "22:00",
                              "id": "40ci67hckste9xax",
                              "start_time": "20:00"
                            }
                          ]
                        },
                        {
                          "day": 1,
                          "enabled": true,
                          "slots": [
                            {
                              "end_time": "17:00",
                              "id": "phmiv974egfuyx84",
                              "start_time": "09:00"
                            }
                          ]
                        },
                        {
                          "day": 2,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 3,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 4,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 5,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 6,
                          "enabled": false,
                          "slots": []
                        }
                      ],
                      "uid": "sjq2twnw8z0h33f0"
                    }
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "General availability - Create new time slot",
        "tags": [
          "Weekly availability"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/time_slots"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "day": {
                    "description": "A number representing the day of the week (0 - sunday, 6 - saturday)",
                    "type": "string"
                  },
                  "end_time": {
                    "description": "End time (only the hour)",
                    "type": "string"
                  },
                  "start_time": {
                    "description": "Start time (only the hour)",
                    "type": "string"
                  },
                  "weekly_availability_uid": {
                    "description": "Weekly availability uid",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/business/scheduling/v1/time_slots/{time_slot_uid}": {
      "delete": {
        "description": "General availability - Remove time slot",
        "parameters": [
          {
            "description": "time slot uid",
            "in": "path",
            "name": "time_slot_uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "general_availability": {
                      "id": 123,
                      "time_slots_by_day": [
                        {
                          "day": 0,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 1,
                          "enabled": true,
                          "slots": [
                            {
                              "end_time": "17:00",
                              "id": "h6v5fxwr3f0xe4vf",
                              "start_time": "09:00"
                            }
                          ]
                        },
                        {
                          "day": 2,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 3,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 4,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 5,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 6,
                          "enabled": false,
                          "slots": []
                        }
                      ],
                      "uid": "63q3l1lex42awyzc"
                    }
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "General availability - Remove time slot",
        "tags": [
          "Weekly availability"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "DELETE",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/time_slots/{time_slot_uid}"
        },
        "x-auth-type": "Application & Application User"
      },
      "put": {
        "description": "General availability - Update time slot",
        "parameters": [
          {
            "description": "time slot uid",
            "in": "path",
            "name": "time_slot_uid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "general_availability": {
                      "id": 123,
                      "time_slots_by_day": [
                        {
                          "day": 0,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 1,
                          "enabled": true,
                          "slots": [
                            {
                              "end_time": "17:00",
                              "id": "0p92ib1eqvmybmdq",
                              "start_time": "09:00"
                            },
                            {
                              "end_time": "22:00",
                              "id": "zbjrl4i2v946uyek",
                              "start_time": "20:00"
                            }
                          ]
                        },
                        {
                          "day": 2,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 3,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 4,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 5,
                          "enabled": false,
                          "slots": []
                        },
                        {
                          "day": 6,
                          "enabled": false,
                          "slots": []
                        }
                      ],
                      "uid": "7qyp5axp610aq39b"
                    }
                  },
                  "success": true
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "General availability - Update time slot",
        "tags": [
          "Weekly availability"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "PUT",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/scheduling/v1/time_slots/{time_slot_uid}"
        },
        "x-auth-type": "Application & Application User",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "end_time": {
                    "description": "End time (only the hour)",
                    "type": "string"
                  },
                  "start_time": {
                    "description": "Start time (only the hour)",
                    "type": "string"
                  },
                  "weekly_availability_uid": {
                    "description": "Weekly availability uid",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/v3/scheduling/business_availabilities/{business_uid}": {
      "get": {
        "summary": "Get BusinessAvailability",
        "description": "Retrieve availability time slots for a specific business within a date range\n\n **Only available for Directory Tokens**",
        "tags": [
          "Business Availability"
        ],
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the business",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business availability retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/businessAvailability.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Business not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/business_availabilities": {
      "get": {
        "summary": "Get all BusinessAvailabilities",
        "description": "Retrieve availability time slots for multiple businesses in a directory\n\n **Only available for Directory Tokens**",
        "tags": [
          "Business Availability"
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "name": "scheduling_enabled",
            "in": "query",
            "required": false,
            "description": "Determines whether to return only accounts with online scheduling enabled or disabled. Default: true (returns accounts with online scheduling enabled)",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BusinessAvailabilities retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/BusinessAvailabilityList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Directory not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/availability_slots": {
      "get": {
        "summary": "Get all AvailabilitySlots",
        "description": "Retrieve availability slots for scheduling based on specified criteria. At least one of resource_type_uids, resource_uids, or staff_uids must be provided.",
        "tags": [
          "Availability Slots"
        ],
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "description": "Start time for availability search",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "description": "End time for availability search",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "service_uid",
            "in": "query",
            "required": false,
            "description": "Unique identifier of the service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_type_uids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of resource type UIDs. At least one of resource_type_uids, resource_uids, or staff_uids must be provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_uids",
            "in": "query",
[...]
