{
  "basePath": "/oauth",
  "host": "api.vcita.biz",
  "info": {
    "title": "Oauth API",
    "version": "v2.0"
  },
  "paths": {
    "/token": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "client_id": {
                  "description": "The Client ID for the Developer App",
                  "type": "string"
                },
                "client_secret": {
                  "description": "The Client Secret for the Developer App",
                  "type": "string"
                },
                "code": {
                  "description": "A code that was generated as part of the OAuth Code Authorization Flow",
                  "type": "string"
                },
                "grant_type": {
                  "description": "Currently \"authorization_code\" is the only supported value",
                  "type": "string"
                },
                "redirect_uri": {
                  "description": "The Redirect URI used when generating the code",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Code Exchanged For Access Token",
            "examples": {
              "application/json": {
                "access_token": "eade05e0ee958ed139b7431b1a630bff95260178699ddf88cbd86a32d2ac708c",
                "created_at": 1754377015,
                "expires_in": 631139040,
                "token_type": "Bearer"
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided (e.g., invalid grant_type, missing required fields).",
            "examples": {
              "application/json": {
                "error": "invalid_request",
                "error_description": "Missing required parameter: code"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid client credentials or authorization code.",
            "examples": {
              "application/json": {
                "error": "invalid_client",
                "error_description": "Invalid client_id or client_secret"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred while processing the request.",
            "examples": {
              "application/json": {
                "error": "server_error",
                "error_description": "Internal server error"
              }
            }
          }
        },
        "summary": "Exchanges an OAuth Code for an Access Token",
        "tags": [
          "Tokens"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///oauth/token"
        },
        "x-auth-type": "None"
      }
    },
    "/userinfo": {
      "get": {
        "consumes": [
          "application/json"
        ],

        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Got user info",
            "examples": {
              "application/json": {
                "brand_host": "695b14b22b8483c6.myclients.me",
                "brand_theme": {
                  "colors": {
                    "primary": "#131a46",
                    "secondary": "#d1b050",
                    "text": "#ffffff"
                  },
                  "locale": "en",
                  "logo": null,
                  "name": null,
                  "powered_by": {
                    "intandem_goto_url": null,
                    "intandem_logo_bright": null,
                    "intandem_logo_dark": null,
                    "parent_goto_url": null,
                    "parent_logo_bright": null,
                    "parent_logo_dark": null
                  }
                },
                "business_id": "ed469f8764326a66",
                "business_name": "business79043ef98e0f7e43",
                "business_uid": "ed469f8764326a66",
                "directory_uid": "u6g6s4q3386zs6j2",
                "email": "tiara.bradtke@kautzer-considine.biz",
                "role": "owner",
                "sub": "a383717599bf1893",
                "type": "staff"
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing access token.",
            "examples": {
              "application/json": {
                "error": "invalid_token",
                "error_description": "The access token is invalid or expired"
              }
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred while processing the request.",
            "examples": {
              "application/json": {
                "error": "server_error",
                "error_description": "Internal server error"
              }
            }
          }
        },
        "summary": "Get authenticated user info",
        "tags": [
          "OpenID"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///oauth/userinfo"
        },
        "x-auth-type": "None"
      }
    }
  },
  "securityDefinitions": {
    "default": {
      "authorizationUrl": "https://ignore.myclients.io",
      "flow": "implicit",
      "scopes": {
        "oauth": "All oauth related operations",
        "oauth_create": "oauth create scope",
        "oauth_delete": "oauth delete scope",
        "oauth_read": "oauth read scope",
        "oauth_update": "oauth update scope"
      },
      "type": "oauth2",
      "x-scopes-bindings": {
        "oauth": "",
        "oauth_create": "",
        "oauth_delete": "",
        "oauth_read": "",
        "oauth_update": ""
      }
    }
  },
  "swagger": "2.0",
  "x-throttling-tier": "8ReqPerSec"
}