{
  "openapi": "3.1.0",
  "info": {
    "title": "partners-api",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz"
    }
  ],
  "components": {},
  "security": [],
  "paths": {
    "/v1/partners/accounts": {
      "post": {
        "summary": "Account Creation",
        "description": "## Overview\nCreate a new account under your directory. Most account details are cloned from an existing template to allow quick setup.\n\nAvailable for **Directory tokens only**.\n\n## Authentication\nUses HTTP Token authentication. Format: `Authorization: Token token=\"{DIRECTORY_TOKEN}\"`\n\nThe token must be a Doorkeeper OAuth token with `directory` scope.",
        "operationId": "account-creation-1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "HTTP Token authentication. Format: `Token token=\"{DIRECTORY_TOKEN}\"`. The token must have `directory` scope.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Token token=\"aaaabbbbccccddddeeeeffff11112222\""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "template_business_id"
                ],
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "Account first name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Account last name"
                  },
                  "email": {
                    "type": "string",
                    "description": "Account email address"
                  },
                  "admin_country_name": {
                    "type": "string",
                    "description": "Admin country name. This is REQUIRED if the admin_phone parameter is sent"
                  },
                  "admin_phone": {
                    "type": "string",
                    "description": "Admin phone number. e.g. 800-286-9513"
                  },
                  "country_name": {
                    "type": "string",
                    "description": "Business country. This is REQUIRED if the phone parameter is sent"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Business phone number. e.g. 800-286-9513"
                  },
                  "template_business_id": {
                    "type": "string",
                    "description": "ID of the template to create the account from"
                  },
                  "password": {
                    "type": "string",
                    "description": "Password to assign to user"
                  },
                  "business_name": {
                    "type": "string",
                    "description": "Account business/company name. e.g. 'The Tax Advisors'"
                  },
                  "title": {
                    "type": "string",
                    "description": "Business description. e.g. 'Tax consulting services'"
                  },
                  "address": {
                    "type": "string",
                    "description": "Account business address"
                  },
                  "package_name": {
                    "type": "string",
                    "description": "For more details and available options please contact your account manager"
                  },
                  "setup": {
                    "type": "string",
                    "description": "Suspend the account \"to do\" list (onboarding) If you want to edit the account settings before handing it to the account owner, send 'in_setup' to suspend the account \"to do\" list.  Send 'completed' if you do not want to suspend the account \"to do\" list"
                  },
                  "external_subscription_params": {
                    "type": "object",
                    "description": "Billing params. Can send multiple parameter with a different key/value",
                    "properties": {}
                  },
                  "external_id": {
                    "type": "string",
                    "description": "You can use your own external ID to manage accounts"
                  },
                  "time_zone": {
                    "type": "string",
                    "description": "Account time zone. e.g. Central Time (US & Canada)"
                  },
                  "member_tags": {
                    "type": "string",
                    "description": "Tags per account. Will be displayed in the Partner Dashboard. Separate with a comma"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"staff_id\": \"111222333aaabbbcc\",\n  \"business_id\": \"7777888999jjj\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "staff_id": {
                      "type": "string",
                      "example": "111222333aaabbbcc"
                    },
                    "business_id": {
                      "type": "string",
                      "example": "7777888999jjj"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"staff_id\": \"111222333aaabbbcc\",\n  \"business_id\": \"7777888999jjj\",\n  \"token\": \"11111qqqqq22222wwww3333eeee\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "staff_id": {
                      "type": "string",
                      "example": "111222333aaabbbcc"
                    },
                    "business_id": {
                      "type": "string",
                      "example": "7777888999jjj"
                    },
                    "token": {
                      "type": "string",
                      "example": "11111qqqqq22222wwww3333eeee"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP Token: Access denied."
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "Bad parameter(s), see content for more information.\n"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Partners API"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "deprecated": false
      }
    },
    "/v1/partners/accounts/{business_uid}/change_package": {
      "get": {
        "summary": "Account Manipulation",
        "description": "## Overview\nUpdate billing info and/or package to an existing account under your directory.\n\nAvailable for **Directory tokens only**.\n\n> **Deprecation Notice**: This is a legacy endpoint. For new integrations, please use the [Subscription endpoints](/docs/platform_administration/license) instead.\n\n## Authentication\nUses HTTP Token authentication. Format: `Authorization: Token token=\"{DIRECTORY_TOKEN}\"`\n\nThe token must be a Doorkeeper OAuth token with `directory` scope.\n\n> **Note**: The `business_uid` parameter must correspond to a business that is a member of the directory associated with the directory token.\n\n## Package Options\nUse one of the following available packages: `platinum20`, `business20`.\n\nPackage names are managed in the database and may vary by directory. To obtain the complete list of available package names for your directory, please contact the support team.",
        "operationId": "account-manipulation",
        "tags": [
          "Partners API"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "package_name",
            "in": "query",
            "description": "The updated package you assign to the specific business, for more details and available options please contact your account manager",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_subscription_params",
            "in": "query",
            "description": "Billing params. Can send multiple parameter with a different key/value",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "edit_tags",
            "in": "query",
            "description": "Tags per account. Will be displayed in the Partner Dashboard. Separate with a comma",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "HTTP Token authentication. Format: `Token token=\"{DIRECTORY_TOKEN}\"`. The token must have `directory` scope.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Token token=\"aaaabbbbccccddddeeeeffff11112222\""
          },
          {
            "name": "business_uid",
            "in": "path",
            "description": "The business UID (alphanumeric string like '88pzdbz1hmkdoel4'), not the numeric database ID. The business must be a member of the directory associated with the directory token.",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "88pzdbz1hmkdoel4"
          },
          {
            "name": "add_sms_credits",
            "in": "query",
            "description": "The Number Of SMS Credit For Add To Account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "delete_sms_credits",
            "in": "query",
            "description": "The Number Of SMS For Deletion From The Account",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"business_id\": \"112233aabbcc\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "business_id": {
                      "type": "string",
                      "example": "112233aabbcc"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP Token: Access denied.\n"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "Bad parameter(s), see content for more information.\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v1/partners/accounts/{business_uid}/set_setup_completed": {
      "post": {
        "summary": "Set Setup Completed",
        "description": "## Overview\nMark an account's setup/onboarding as completed. This suspends the account's \"to do\" list (onboarding wizard).\n\nAvailable for **Directory tokens only**.\n\n## Authentication\nUses HTTP Token authentication (not Bearer). Format: `Authorization: Token token=\"{DIRECTORY_TOKEN}\"`\n\nThe token must be a Doorkeeper OAuth token with `directory` scope.\n\n## How It Works\n1. The endpoint looks up the business in the directory's members using `pivots.uid`\n2. Calls `member.setup_completed!` to mark setup as done\n3. Updates the member's `setup` attribute to `setup_completed`\n\n> **Important**: The `business_uid` must be the business UID (alphanumeric like '88pzdbz1hmkdoel4'), NOT a numeric database ID. The business must be a member of the directory associated with the token.",
        "operationId": "set-setup-completed",
        "tags": [
          "Partners API"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "description": "The business UID (alphanumeric string like '88pzdbz1hmkdoel4'). This maps to `pivots.uid` in the database. The business must be a member of the directory associated with the directory token.",
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]{16}$"
            },
            "required": true,
            "example": "88pzdbz1hmkdoel4"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "HTTP Token authentication. Format: `Token token=\"{DIRECTORY_TOKEN}\"`. The token must have `directory` scope.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Token token=\"aaaabbbbccccddddeeeeffff11112222\""
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"business_id\": \"aaabbbccc112233\",\n  \"setup\": \"setup_completed\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "business_id": {
                      "type": "string",
                      "example": "aaabbbccc112233"
                    },
                    "setup": {
                      "type": "string",
                      "example": "setup_completed"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP Token: Access denied.\n"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "Bad parameter(s), see content for more information.\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/partners/accounts/{business_uid}/change_addons": {
      "get": {
        "summary": "Add/Remove staff",
        "description": "## Overview\nAdd or remove the staff members quota from accounts under your directory.\n\nAvailable for **Directory tokens only**. This endpoint is only available for manually billed directory accounts.\n\n## Authentication\nUses HTTP Token authentication. Format: `Authorization: Token token=\"{DIRECTORY_TOKEN}\"`\n\nThe token must be a Doorkeeper OAuth token with `directory` scope.\n\n> **Note**: The `business_uid` parameter should contain the business UID (alphanumeric like '88pzdbz1hmkdoel4'), not the numeric database ID.",
        "operationId": "addremove-staff",
        "tags": [
          "Partners API"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "description": "The business UID (alphanumeric string like '88pzdbz1hmkdoel4'). The business must be a member of the directory associated with the directory token.",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "88pzdbz1hmkdoel4"
          },
          {
            "name": "staff",
            "in": "query",
            "description": "Number of staff for adding/removing from the account (use minus value for removing)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "HTTP Token authentication. Format: `Token token=\"{DIRECTORY_TOKEN}\"`. The token must have `directory` scope.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Token token=\"aaaabbbbccccddddeeeeffff11112222\""
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"business_id\": \"112233aabbcc\",\n  \"base_subaccounts\": \"X\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "business_id": {
                      "type": "string",
                      "example": "112233aabbcc"
                    },
                    "base_subaccounts": {
                      "type": "string",
                      "example": "X"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP Token: Access denied.\n"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "Bad parameter(s), see content for more information.\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/partners/accounts/{business_uid}/close": {
      "post": {
        "summary": "Close an Account",
        "description": "## Overview\nClose an existing account under your directory.\n\nAvailable for **Directory tokens only**.\n\n## Authentication\nUses HTTP Token authentication. Format: `Authorization: Token token=\"{DIRECTORY_TOKEN}\"`\n\nThe token must be a Doorkeeper OAuth token with `directory` scope.\n\n> **Note**: The `business_uid` must be the business UID (alphanumeric like '88pzdbz1hmkdoel4'), not a numeric database ID.",
        "operationId": "close-an-account",
        "tags": [
          "Partners API"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "description": "The business UID (alphanumeric string like '88pzdbz1hmkdoel4'). The business must be a member of the directory associated with the directory token.",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "88pzdbz1hmkdoel4"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "HTTP Token authentication. Format: `Token token=\"{DIRECTORY_TOKEN}\"`. The token must have `directory` scope.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Token token=\"aaaabbbbccccddddeeeeffff11112222\""
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"business_id\": \"112233aabbcc\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "business_id": {
                      "type": "string",
                      "example": "112233aabbcc"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP Token: Access denied.\n"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "Bad parameter(s), see content for more information.\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/partners/accounts/{business_uid}/reopen": {
      "post": {
        "summary": "Reopen an Account",
        "description": "## Overview\nReopen a closed account under your directory.\n\nAvailable for **Directory tokens only**.\n\n## Authentication\nUses HTTP Token authentication. Format: `Authorization: Token token=\"{DIRECTORY_TOKEN}\"`\n\nThe token must be a Doorkeeper OAuth token with `directory` scope.\n\n> **Note**: The `business_uid` must be the business UID (alphanumeric like '88pzdbz1hmkdoel4'), not a numeric database ID.",
        "operationId": "reopen-an-account",
        "tags": [
          "Partners API"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "description": "The business UID (alphanumeric string like '88pzdbz1hmkdoel4'). The business must be a member of the directory associated with the directory token.",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "88pzdbz1hmkdoel4"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "HTTP Token authentication. Format: `Token token=\"{DIRECTORY_TOKEN}\"`. The token must have `directory` scope.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Token token=\"aaaabbbbccccddddeeeeffff11112222\""
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"business_id\": \"112233aabbcc\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "business_id": {
                      "type": "string",
                      "example": "112233aabbcc"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP Token: Access denied.\n"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "Bad parameter(s), see content for more information.\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/partners/leads": {
      "post": {
        "summary": "Lead Injection",
        "description": "## Overview\nInject a lead into a business account under your directory.\n\nAvailable for **Directory tokens only**.\n\n## Authentication\nUses HTTP Token authentication. Format: `Authorization: Token token=\"{DIRECTORY_TOKEN}\"`\n\nThe token must be a Doorkeeper OAuth token with `directory` scope.",
        "operationId": "lead-injection-1",
        "tags": [
          "Partners API"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "HTTP Token authentication. Format: `Token token=\"{DIRECTORY_TOKEN}\"`. The token must have `directory` scope.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Token token=\"aaaabbbbccccddddeeeeffff11112222\""
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "business_id",
                  "identifier_type",
                  "email",
                  "first_name",
                  "request_title"
                ],
                "properties": {
                  "business_id": {
                    "type": "string",
                    "description": "A unique identifier of the business. Can be the our business_uid or external_id"
                  },
                  "notifications": {
                    "type": "string",
                    "description": "A list of notifications to send after processing of the lead. Possible values: \"auto-reply\" (thank you email to the end user), \"email\" (notify the business owner) or \"sms\" (text notification to the business owner). None if empty"
                  },
                  "identifier_type": {
                    "type": "string",
                    "description": "Defines which unique identifier will be used to search for an existing lead or create a new one. Possible values: \"email\" or \"unique_id\""
                  },
                  "email": {
                    "type": "string",
                    "description": "Lead email address. Unique per lead"
                  },
                  "unique_id": {
                    "type": "string",
                    "description": "Lead unique id. Unique per business"
                  },
                  "phone": {
                    "type": "string",
                    "description": "Lead phone number"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "Lead first name. Mandatory for a new lead"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Lead last name"
                  },
                  "opt_in": {
                    "type": "string",
                    "description": "Send \"true\" if lead opted in for promotions. Make sure the \"opt-in\" client card field is added to the client card under Settings>Client card"
                  },
                  "request_title": {
                    "type": "string",
                    "description": "Request title. Will also be the created conversation title"
                  },
                  "request_data": {
                    "type": "object",
                    "description": "The information that the end user has provided. (e.g the labels and values of a contact form/client card).  Replace {field_name} with the field name/label. Repeat this parameter for every field. Value can be a string, if a date field value is given a string with the format YYYY-MM-DD is expected. Please note: this information is visible both to the business owner and to the end user. Therefore it should not contain private business information.",
                    "properties": {}
                  },
                  "system_message": {
                    "type": "string",
                    "description": "A message displayed to the business owner to introduce the lead. May contain links"
                  },
                  "source": {
                    "type": "string",
                    "description": "Will be displayed to the business owner as the lead source"
                  },
                  "source_url": {
                    "type": "string",
                    "description": "The URL of the page where the lead was created"
                  },
                  "address": {
                    "type": "string",
                    "description": "Lead's address"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"uid\": \"aaabbbccc111222\"\n}\n"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "uid": {
                      "type": "string",
                      "example": "aaabbbccc111222"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP Token: Access denied.\n"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "Bad parameter(s), see content for more information.\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/partners/reports/business": {
      "get": {
        "summary": "Business Info",
        "description": "## Overview\nQuery a business's basic information. If the email address already exists in our server you'll receive \"status:existing\".\n\nAvailable for **Directory tokens only**.\n\n## Authentication\nUses HTTP Token authentication. Format: `Authorization: Token token=\"{DIRECTORY_TOKEN}\"`\n\nThe token must be a Doorkeeper OAuth token with `directory` scope.",
        "operationId": "business-info",
        "tags": [
          "Partners API"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "Account owner email address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "HTTP Token authentication. Format: `Token token=\"{DIRECTORY_TOKEN}\"`. The token must have `directory` scope.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Token token=\"aaaabbbbccccddddeeeeffff11112222\""
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n\t\"business_id\": \"aabcc112233\"\n    \"first_name\": \"First Name\",\n    \"last_name\": \"Last Name\",\n    \"email\": \"user@businessdomain.com\",\n    \"business_name\": \"Business Name\",\n    \"business_phone\": \"0102030405\",\n    \"business_address\": \"12th & 3rd  manhattan, ny, NY\",\n    \"business_description\": \"Title\",\n    \"hide_address\": true,\n    \"login_token\": \"EcVzxNRfLYX8HC32EE2b\",\n    \"account_locked\": false,\n    \"account_in_trial\": false,\n    \"tags\": \"vip\",\n    \"sms_balance\": 147,\n    \"external_params\": {\n        \"KEY\": \"test\",\n        \"KEY\": \"7892h3nldsf8n32\",\n        \"KEY\": \"key\"\n    },\n    \"vcita_package\": \"Unlimited\"\n    \"sms_balance:\": 549\n}"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP Token: Access denied.\n"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "Bad parameter(s), see content for more information.\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/partners/reports/engagements": {
      "get": {
        "summary": "Engagements Report",
        "description": "## Overview\nQuery for a list of all the conversations (a.k.a engagements) for a given date range. Conversations will be sorted by date of creation. The GET request will be answered by a JSON containing an array of engagement objects.\n\nAvailable for **Directory tokens only**.\n\n## Authentication\nUses HTTP Token authentication. Format: `Authorization: Token token=\"{DIRECTORY_TOKEN}\"`\n\nThe token must be a Doorkeeper OAuth token with `directory` scope.",
        "operationId": "engagements-report",
        "tags": [
          "Partners API"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "business_id",
            "in": "query",
            "description": "The business UID (alphanumeric string like '88pzdbz1hmkdoel4') to filter engagements for a specific business.",
            "schema": {
              "type": "string"
            },
            "example": "88pzdbz1hmkdoel4"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "HTTP Token authentication. Format: `Token token=\"{DIRECTORY_TOKEN}\"`. The token must have `directory` scope.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Token token=\"aaaabbbbccccddddeeeeffff11112222\""
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": " \"engagement\": {\n            \"engagement_id\": \"0012q5qpnryg3m06\",\n            \"created_at\": \"2018-04-29T13:41:23+03:00\",\n            \"updated_at\": \"2018-04-29T13:41:23+03:00\",\n            \"business_nickname\": \"Best Business\",\n            \"business_id\": \"aaabbb111222\",\n            \"title\": \"Booking request\",\n            \"source_type\": \"Website\",\n            \"website_url\": \"https://website.com\",\n            \"channel\": null,\n            \"campaign\": null,\n            \"client_first_name\": \"John\",\n            \"client_last_name\": \"Brown\",\n            \"client_id\": \"lzoz19r3waq8o7fs\",\n            \"lead_type\": \"Message\",\n            \"business_responded\": 0\n        }"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP Token: Access denied.\n"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "Bad parameter(s), see content for more information.\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/partners/reports/impressions": {
      "get": {
        "summary": "Widget Impressions Report",
        "description": "## Overview\nQuery for the number of impressions per day for a given date range. The GET request will be answered by a JSON of an array of impressions_daily objects. Each impressions_daily object provides information about the number of impressions we had for a specified business account.\n\nAvailable for **Directory tokens only**.\n\n## Authentication\nUses HTTP Token authentication. Format: `Authorization: Token token=\"{DIRECTORY_TOKEN}\"`\n\nThe token must be a Doorkeeper OAuth token with `directory` scope.",
        "operationId": "widget-impressions-report",
        "tags": [
          "Partners API"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "HTTP Token authentication. Format: `Token token=\"{DIRECTORY_TOKEN}\"`. The token must have `directory` scope.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Token token=\"aaaabbbbccccddddeeeeffff11112222\""
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "yyyy-mm-dd",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "    {\n        \"impressions_daily\": {\n            \"livesite_widget\": 1,\n            \"day\": \"2018-04-12\",\n            \"business_nickname\": \"Best Business\",\n            \"business_id\": \"5adztl7qti7cls67\",\n            \"tags\": \"Listing_account\"\n        }"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP Token: Access denied.\n"
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "Bad parameter(s), see content for more information.\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/partners/sso/token": {
      "get": {
        "summary": "Create SSO Token",
        "description": "## Overview\nCreate a one-time token for Single Sign On (SSO) login.\n\nAvailable for **Directory tokens only**.\n\n## Authentication\nUses HTTP Token authentication. Format: `Authorization: Token token=\"{DIRECTORY_TOKEN}\"`\n\nThe token must be a Doorkeeper OAuth token with `directory` scope.\n\n## SSO Process\n\n**Step 1**: Call this endpoint to create a one-time SSO token.\n\n**Step 2**: Build the SSO login URL using the token:\n`https://api.vcita.com/v1/partners/sso/login?staff_uid={STAFF_UID}&sso_token={SSO_TOKEN}`\n\n## Deep Links\nTo redirect users to a specific page after login, append the `redirect_to` query param:\n`https://api.vcita.com/v1/partners/sso/login?staff_uid=xxxzzz111&sso_token={SSO_TOKEN}&redirect_to=/app/invoices/ru7q9qlt7cp4hfni`\n\n## Impersonation\nTo create an impersonation session, include the `operator_uid` parameter. This adds the operator as the `actor_uid` with `actor_type` as `operator`.\n\n> **Note**: The returned token is valid for 30 minutes. The `expires_at` value is in microseconds.",
        "operationId": "sso-api",
        "tags": [
          "Partners API"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "HTTP Token authentication. Format: `Token token=\"{DIRECTORY_TOKEN}\"`. The token must have `directory` scope.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Token token=\"aaaabbbbccccddddeeeeffff11112222\""
          },
          {
            "name": "staff_uid",
            "in": "query",
            "description": "The staff UID to create the SSO token for. Use this to log in users as specific staff members. If you want admin access, use the business owner's staff_uid.",
            "schema": {
              "type": "string"
            },
            "required": true,
            "example": "stf_abc123xyz"
          },
          {
            "name": "operator_uid",
            "in": "query",
            "description": "Optional. The operator UID for impersonation sessions. When provided, the operator is set as the `actor_uid` with `actor_type` as `operator`, simulating an impersonation session.",
            "schema": {
              "type": "string"
            },
            "required": false,
            "example": "op_xyz789abc"
          }
        ],
        "responses": {
          "200": {
            "description": "SSO token created successfully.",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"sso_token\": \"aaabbbcccddd111222333444\",\n    \"expires_at\": 1666169052\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "sso_token": {
                      "type": "string",
                      "description": "The one-time SSO token to use in the login URL.",
                      "example": "aaabbbcccddd111222333444"
                    },
                    "expires_at": {
                      "type": "integer",
                      "description": "Token expiration timestamp in microseconds. The token is valid for 30 minutes from creation.",
                      "example": 1666169052
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing directory token.",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "HTTP Token: Access denied.\n"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Invalid parameters.",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "Bad parameter(s), see content for more information.\n"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  }
}