{"openapi":"3.1.0","info":{"title":"partners-api","version":"1.0"},"servers":[{"url":"https://api.vcita.biz"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/v1/partners/accounts":{"post":{"summary":"Account Creation","description":"Create a new account under your directory. Most account details are cloned from an existing template to allow quick setup","operationId":"account-creation-1","parameters":[{"name":"Authorization","in":"header","description":"Token token=\"aaaabbbbccccddddeeeeffff11112222\"","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["first_name","last_name","email","template_business_id"],"properties":{"first_name":{"type":"string","description":"Account first name"},"last_name":{"type":"string","description":"Account last name"},"email":{"type":"string","description":"Account email address"},"admin_country_name":{"type":"string","description":"Admin country name. This is REQUIRED if the admin_phone parameter is sent"},"admin_phone":{"type":"string","description":"Admin phone number. e.g. 800-286-9513"},"country_name":{"type":"string","description":"Business country. This is REQUIRED if the phone parameter is sent"},"phone":{"type":"string","description":"Business phone number. e.g. 800-286-9513"},"template_business_id":{"type":"string","description":"ID of the template to create the account from"},"password":{"type":"string","description":"Password to assign to user"},"business_name":{"type":"string","description":"Account business/company name. e.g. 'The Tax Advisors'"},"title":{"type":"string","description":"Business description. e.g. 'Tax consulting services'"},"address":{"type":"string","description":"Account business address"},"package_name":{"type":"string","description":"For more details and available options please contact your account manager"},"setup":{"type":"string","description":"Suspend the account \"to do\" list (onboarding) If you want to edit the account settings before handing it to the account owner, send 'in_setup' to suspend the account \"to do\" list.  Send 'completed' if you do not want to suspend the account \"to do\" list"},"external_subscription_params":{"type":"object","description":"Billing params. Can send multiple parameter with a different key/value","properties":{}},"external_id":{"type":"string","description":"You can use your own external ID to manage accounts"},"time_zone":{"type":"string","description":"Account time zone. e.g. Central Time (US & Canada)"},"member_tags":{"type":"string","description":"Tags per account. Will be displayed in the Partner Dashboard. Separate with a comma"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"staff_id\": \"111222333aaabbbcc\",\n  \"business_id\": \"7777888999jjj\"\n}"}},"schema":{"type":"object","properties":{"staff_id":{"type":"string","example":"111222333aaabbbcc"},"business_id":{"type":"string","example":"7777888999jjj"}}}}}},"201":{"description":"201","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"staff_id\": \"111222333aaabbbcc\",\n  \"business_id\": \"7777888999jjj\",\n  \"token\": \"11111qqqqq22222wwww3333eeee\"\n}"}},"schema":{"type":"object","properties":{"staff_id":{"type":"string","example":"111222333aaabbbcc"},"business_id":{"type":"string","example":"7777888999jjj"},"token":{"type":"string","example":"11111qqqqq22222wwww3333eeee"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"HTTP Token: Access denied."}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"Bad parameter(s), see content for more information.\n"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request POST 'https://api.vcita.com/v1/partners/accounts' \\\n--header 'Authorization: Token token=\"aaaabbbbccccddddeeeeffff11112222\"' \\\n--form 'first_name=' \\\n--form 'last_name=' \\\n--form 'email=' \\\n--form 'template_business_id=' \\\n--form 'password=' \\\n--form 'business_name=' \\\n--form 'title=' \\\n--form 'country_name=' \\\n--form 'phone=' \\\n--form 'address=' \\\n--form 'package_name=' \\\n--form 'setup=' \\\n--form 'external_subscription_params[KEY]=' \\\n--form 'Time_zone=' \\\n--form 'member_tags='"}],"samples-languages":["curl"]}}},"/v1/partners/accounts/{business_id}/change_package":{"get":{"summary":"Account Manipulation","description":"Update billing info and/or package to an existing account under your directory.","operationId":"account-manipulation","parameters":[{"name":"package_name","in":"query","description":"The updated package you assign to the specific business, for more details and available options please contact your account manager","schema":{"type":"string"}},{"name":"external_subscription_params","in":"query","description":"Billing params. Can send multiple parameter with a different key/value","schema":{"type":"array","items":{"type":"string"}}},{"name":"edit_tags","in":"query","description":"Tags per account. Will be displayed in the Partner Dashboard. Separate with a comma","schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"Token token=\"aaaabbbbccccddddeeeeffff11112222\"","required":true,"schema":{"type":"string"}},{"name":"business_id","in":"path","description":"The relevant business_id","schema":{"type":"string"},"required":true},{"name":"add_sms_credits","in":"query","description":"The Number Of SMS Credit For Add To Account","schema":{"type":"string"}},{"name":"delete_sms_credits","in":"query","description":"The Number Of SMS For Deletion From The Account","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"business_id\": \"112233aabbcc\"\n}"}},"schema":{"type":"object","properties":{"business_id":{"type":"string","example":"112233aabbcc"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"HTTP Token: Access denied.\n"}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"Bad parameter(s), see content for more information.\n"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET 'https://api.vcita.com/v1/partners/accounts/BUSINESS_ID/change_package?package_name=PACKAGE_NAME&external_subscription_params[KEY]=VALUE&external_subscription_params[KEY]=VALUE' \\\n--header 'Authorization: Token token=\"aaaabbbbccccddddeeeeffff11112222\"'"}],"samples-languages":["curl"]}}},"/v1/partners/accounts/{business_id}/set_setup_completed":{"post":{"summary":"Set Setup Completed","description":"Suspend the account \"to do\" list (onboarding) If you want to edit the account settings\nbefore handing it to the account owner. Once you used it, it can't be changed","operationId":"reopen-an-account-1","parameters":[{"name":"business_id","in":"path","description":"The relevant business_id","schema":{"type":"string"},"required":true},{"name":"Authorization","in":"header","description":"Token token=\"aaaabbbbccccddddeeeeffff11112222\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"business_id\": \"aaabbbccc112233\",\n  \"setup\": \"setup_completed\"\n}"}},"schema":{"type":"object","properties":{"business_id":{"type":"string","example":"aaabbbccc112233"},"setup":{"type":"string","example":"setup_completed"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"HTTP Token: Access denied.\n"}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"Bad parameter(s), see content for more information.\n"}}}}}},"deprecated":false}},"/v1/partners/accounts/{business_id}/change_addons":{"get":{"summary":"Add/Remove staff","description":"Add or remove the staff members quota from accounts under your directory.","operationId":"addremove-staff","parameters":[{"name":"business_id","in":"path","description":"The relevant business_id","schema":{"type":"string"},"required":true},{"name":"staff","in":"query","description":"Number of staff for adding/removing from the account (use minus value for removing)","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"Token token=\"aaaabbbbccccddddeeeeffff11112222\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"business_id\": \"112233aabbcc\",\n  \"base_subaccounts\": \"X\"\n}"}},"schema":{"type":"object","properties":{"business_id":{"type":"string","example":"112233aabbcc"},"base_subaccounts":{"type":"string","example":"X"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"HTTP Token: Access denied.\n"}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"Bad parameter(s), see content for more information.\n"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET 'https://api.vcita.com/v1/partners/accounts/BUSINESS_ID/change_addons?staff=X' \\\n--header 'Authorization: Token token=\"aaaabbbbccccddddeeeeffff11112222\"'"}],"samples-languages":["curl"]}}},"/v1/partners/accounts/{business_id}/close":{"post":{"summary":"Close an Account","description":"Close an existing account under your directory.","operationId":"close-an-account","parameters":[{"name":"business_id","in":"path","description":"The relevant business_id","schema":{"type":"string"},"required":true},{"name":"Authorization","in":"header","description":"Token token=\"aaaabbbbccccddddeeeeffff11112222\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"business_id\": \"112233aabbcc\"\n}"}},"schema":{"type":"object","properties":{"business_id":{"type":"string","example":"112233aabbcc"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"HTTP Token: Access denied.\n"}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"Bad parameter(s), see content for more information.\n"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request POST 'https://api.vcita.com/v1/partners/accounts/BUSINESS_ID/close' \\\n--header 'Authorization: Token token=\"aaaabbbbccccddddeeeeffff11112222\"'"}],"samples-languages":["curl"]}}},"/v1/partners/accounts/{business_id}/reopen":{"post":{"summary":"Reopen an Account","description":"Reopen closed account under your directory","operationId":"reopen-an-account","parameters":[{"name":"business_id","in":"path","description":"The relevant business_id","schema":{"type":"string"},"required":true},{"name":"Authorization","in":"header","description":"Token token=\"aaaabbbbccccddddeeeeffff11112222\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"business_id\": \"112233aabbcc\"\n}"}},"schema":{"type":"object","properties":{"business_id":{"type":"string","example":"112233aabbcc"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"HTTP Token: Access denied.\n"}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"Bad parameter(s), see content for more information.\n"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request POST 'https://api.vcita.com/v1/partners/accounts/BUSINESS_ID/reopen' \\\n--header 'Authorization: Token token=\"aaaabbbbccccddddeeeeffff11112222\"'"}],"samples-languages":["curl"]}}},"/v1/partners/leads":{"post":{"summary":"Lead Injection","description":"","operationId":"lead-injection-1","parameters":[{"name":"Authorization","in":"header","description":"Token token=\"aaaabbbbccccddddeeeeffff11112222\"","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["business_id","identifier_type","email","first_name","request_title"],"properties":{"business_id":{"type":"string","description":"A unique identifier of the business. Can be the our business_uid or external_id"},"notifications":{"type":"string","description":"A list of notifications to send after processing of the lead. Possible values: \"auto-reply\" (thank you email to the end user), \"email\" (notify the business owner) or \"sms\" (text notification to the business owner). None if empty"},"identifier_type":{"type":"string","description":"Defines which unique identifier will be used to search for an existing lead or create a new one. Possible values: \"email\" or \"unique_id\""},"email":{"type":"string","description":"Lead email address. Unique per lead"},"unique_id":{"type":"string","description":"Lead unique id. Unique per business"},"phone":{"type":"string","description":"Lead phone number"},"first_name":{"type":"string","description":"Lead first name. Mandatory for a new lead"},"last_name":{"type":"string","description":"Lead last name"},"opt_in":{"type":"string","description":"Send \"true\" if lead opted in for promotions. Make sure the \"opt-in\" client card field is added to the client card under Settings>Client card"},"request_title":{"type":"string","description":"Request title. Will also be the created conversation title"},"request_data":{"type":"object","description":"The information that the end user has provided. (e.g the labels and values of a contact form/client card).  Replace {field_name} with the field name/label. Repeat this parameter for every field. Value can be a string, if a date field value is given a string with the format YYYY-MM-DD is expected. Please note: this information is visible both to the business owner and to the end user. Therefore it should not contain private business information.","properties":{}},"system_message":{"type":"string","description":"A message displayed to the business owner to introduce the lead. May contain links"},"source":{"type":"string","description":"Will be displayed to the business owner as the lead source"},"source_url":{"type":"string","description":"The URL of the page where the lead was created"},"address":{"type":"string","description":"Lead's address"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"uid\": \"aaabbbccc111222\"\n}\n"}},"schema":{"type":"object","properties":{"uid":{"type":"string","example":"aaabbbccc111222"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"HTTP Token: Access denied.\n"}}}}},"422":{"description":"422","content":{"text/plain":{"examples":{"Result":{"value":"Bad parameter(s), see content for more information.\n"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request POST 'https://api.vcita.com/v1/partners/leads' \\\n--header 'Authorization: Token token=\"aaaabbbbccccddddeeeeffff11112222\"' \\\n--form 'business_id=' \\\n--form 'notifications=' \\\n--form 'identifier_type=' \\\n--form 'email=' \\\n--form 'unique_id=' \\\n--form 'phone=' \\\n--form 'first_name=' \\\n--form 'last_name=' \\\n--form 'opt_in=' \\\n--form 'request_title=' \\\n--form 'request_data[{field_name}]=' \\\n--form 'system_message=' \\\n--form 'source=' \\\n--form 'source_url=' \\\n--form 'address='"}],"samples-languages":["curl"]}}},"/v1/partners/reports/business":{"get":{"summary":"Business Info","description":"Query the one business basic information. If the email address already exist in our server you'll receive \"status:existing\"","operationId":"business-info","parameters":[{"name":"email","in":"query","description":"Account owner email address","required":true,"schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"Token token=\"aaaabbbbccccddddeeeeffff11112222\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"business_id\": \"aabcc112233\"\n    \"first_name\": \"First Name\",\n    \"last_name\": \"Last Name\",\n    \"email\": \"user@businessdomain.com\",\n    \"business_name\": \"Business Name\",\n    \"business_phone\": \"0102030405\",\n    \"business_address\": \"12th & 3rd  manhattan, ny, NY\",\n    \"business_description\": \"Title\",\n    \"hide_address\": true,\n    \"login_token\": \"EcVzxNRfLYX8HC32EE2b\",\n    \"account_locked\": false,\n    \"account_in_trial\": false,\n    \"tags\": \"vip\",\n    \"sms_balance\": 147,\n    \"external_params\": {\n        \"KEY\": \"test\",\n        \"KEY\": \"7892h3nldsf8n32\",\n        \"KEY\": \"key\"\n    },\n    \"vcita_package\": \"Unlimited\"\n    \"sms_balance:\": 549\n}"}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"HTTP Token: Access denied.\n"}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"Bad parameter(s), see content for more information.\n"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET 'https://api.vcita.com/v1/partners/reports/business?email=user@businessdomain.com' \\\n--header 'Authorization: Token token = \"aaaabbbbccccddddeeeeffff11112222\"'"}],"samples-languages":["curl"]}}},"/v1/partners/reports/engagements":{"get":{"summary":"Engagements Report","description":"Query for a list of all the conversations (a.k.a engagements) for a given date range. Conversations will be sorted by date of creation. The GET request will be answered by a JSON containing an array of engagement objects","operationId":"engagements-report","parameters":[{"name":"business_id","in":"query","description":"business_id","schema":{"type":"string"}},{"name":"Authorization","in":"header","description":"Token token=\"aaaabbbbccccddddeeeeffff11112222\"","required":true,"schema":{"type":"string"}},{"name":"fromDate","in":"query","description":"yyyy-mm-dd","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"query","description":"yyyy-mm-dd","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":" \"engagement\": {\n            \"engagement_id\": \"0012q5qpnryg3m06\",\n            \"created_at\": \"2018-04-29T13:41:23+03:00\",\n            \"updated_at\": \"2018-04-29T13:41:23+03:00\",\n            \"business_nickname\": \"Best Business\",\n            \"business_id\": \"aaabbb111222\",\n            \"title\": \"Booking request\",\n            \"source_type\": \"Website\",\n            \"website_url\": \"https://website.com\",\n            \"channel\": null,\n            \"campaign\": null,\n            \"client_first_name\": \"John\",\n            \"client_last_name\": \"Brown\",\n            \"client_id\": \"lzoz19r3waq8o7fs\",\n            \"lead_type\": \"Message\",\n            \"business_responded\": 0\n        }"}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"HTTP Token: Access denied.\n"}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"Bad parameter(s), see content for more information.\n"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET 'https://api.vcita.com/v1/partners/reports/engagements?fromDate=2018-04-12&toDate=2018-04-13&business_id=aaabbb111222' \\\n--header 'Authorization: Token token=\"aaaabbbbccccddddeeeeffff11112222\"'"}],"samples-languages":["curl"]}}},"/v1/partners/reports/impressions":{"get":{"summary":"Widget Impressions Report","description":"Query for the number of impressions per day for a given date range. The GET request will answered by a JSON of an array of impressions_daily objects. Each impressions_daily object provides information about the number of impressions we had for a specified business account.","operationId":"widget-impressions-report","parameters":[{"name":"Authorization","in":"header","description":"Token token=\"aaaabbbbccccddddeeeeffff11112222\"","required":true,"schema":{"type":"string"}},{"name":"fromDate","in":"query","description":"yyyy-mm-dd","required":true,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"query","description":"yyyy-mm-dd","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"    {\n        \"impressions_daily\": {\n            \"livesite_widget\": 1,\n            \"day\": \"2018-04-12\",\n            \"business_nickname\": \"Best Business\",\n            \"business_id\": \"5adztl7qti7cls67\",\n            \"tags\": \"Listing_account\"\n        }"}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"HTTP Token: Access denied.\n"}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"Bad parameter(s), see content for more information.\n"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET 'https://api.vcita.com/v1/partners/reports/impressions?fromDate=2018-04-12&toDate=2018-04-13' \\\n--header 'Authorization: Token token=\"aaaabbbbccccddddeeeeffff11112222\"'"}],"samples-languages":["curl"]}}},"/v1/partners/sso/token":{"get":{"summary":"SSO API","description":"Create a one time token for account login","operationId":"sso-api","parameters":[{"name":"business_uid","in":"path","description":"The business ID that you'd like to receive a one time token for login (admin access)","schema":{"type":"string"},"required":true},{"name":"Authorization","in":"header","description":"Token token=\"aaaabbbbccccddddeeeeffff11112222\"","required":true,"schema":{"type":"string"}},{"name":"staff_uid","in":"path","description":"Required only in case of a specific staff login requested, use the staff_uid instead of business_id","schema":{"type":"string"},"required":true},{"name":"operator_uid","in":"query","required":false,"description":"This will add the operator_uid as the actor_uid and actor_type as the operator while the access token will be based on the staff_uid. This simulates an impersonation session when needed.","schema":{"type":"string","default":""}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"sso_token\": \"aaabbbcccddd111222333444\",\n    \"expires_at\": 123456789\n}"}},"schema":{"type":"object","properties":{"sso_token":{"type":"string","example":"aaabbbcccddd111222333444"},"expires_at":{"type":"integer","example":123456789,"default":0}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"HTTP Token: Access denied.\n"}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"Bad parameter(s), see content for more information.\n"}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl --location --request GET 'https://api.vcita.com/v1/partners/sso/token?business_uid=BUSINESS_ID%20' \\\n--header 'Authorization: Token token=\"aaaabbbbccccddddeeeeffff11112222\"'"}],"samples-languages":["curl"]}}},"/platform/v1/businesses/verify_audience_claim":{"post":{"summary":"Verify Audience Claim","description":"This API performs entitlement verification for businesses seeking to register with a specific partner. It checks if a business meets the necessary criteria to qualify for partnership enrollment.","operationId":"verify-audience-claim","parameters":[{"name":"Authorization","in":"header","description":"API Directory Token. The resulting header should look like this: 'Authorization: \"Bearer API_TOKEN\"'","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"unique_validation_identifier":{"type":"string","description":"The future business' unique validation identifier"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"external_reference_id\":\"656573/503\",\n    \"business_name\":\"y Flowers Ltd.\",\n    \"status\":\"unclaimed\",\n    \"email\":\"my@flowers.com\",\n    \"phone\":\"(207)52-355-5563\",\n    \"guid\":\"fvf34j78-54dd-3fu6-hr26-f236fc26\",\n    \"dba\":\"\",\n    \"creation_date\":\"2024-01-01T01:00:00z\",\n    \"upodated_date\":\"2024-01-01T01:00:00z\"\n  },\n  \"success\": true\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"external_reference_id":{"type":"string","example":"656573/503"},"business_name":{"type":"string","example":"y Flowers Ltd."},"status":{"type":"string","example":"unclaimed"},"email":{"type":"string","example":"my@flowers.com"},"phone":{"type":"string","example":"(207)52-355-5563"},"guid":{"type":"string","example":"fvf34j78-54dd-3fu6-hr26-f236fc26"},"dba":{"type":"string","example":""},"creation_date":{"type":"string","example":"2024-01-01T01:00:00z"},"upodated_date":{"type":"string","example":"2024-01-01T01:00:00z"}}},"success":{"type":"boolean","example":true,"default":true}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":""}}}}},"422":{"description":"422","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": false,\n    \"errors\": [\n        {\n            \"code\": \"invalid\",\n            \"message\": \"Audience not found\"\n        }\n    ]\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":false,"default":true},"errors":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","example":"invalid"},"message":{"type":"string","example":"Audience not found"}}}}}}}}}},"deprecated":false}},"/v1/businesses":{"get":{"summary":"Create a Business","description":"Create a new business under the calling directory","operationId":"create-a-business","parameters":[{"name":"Authorization","in":"header","description":"API Token. The resulting header should look like this: 'Authorization: \"Bearer API_TOKEN\"'","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"admin_account":{"type":"object","properties":{"country_name":{"type":"string"},"display_name":{"type":"string","description":"Admin display name"},"email":{"type":"string","description":"Email address"},"first_name":{"type":"string","description":"Admin first name"},"last_name":{"type":"string","description":"Admin last name"},"password":{"type":"string","description":"Password must be 6-20 characters long"},"phone":{"type":"string"}}},"business":{"type":"object","properties":{"address":{"type":"string","description":"The businesses main address"},"business_category":{"type":"string","description":"The business category"},"business_maturity_in_years":{"type":"string","description":"Business maturity in years. valid value is one of [null, 0, 0.5, 0.5-2, 2+]"},"country_name":{"type":"string"},"hide_address":{"type":"boolean","description":"Should we hide the business's address","default":true},"landing_page":{"type":"string"},"name":{"type":"string","description":"The name of the business"},"phone":{"type":"string","description":"Main business's phone"},"short_description":{"type":"string","description":"A short description of the business"},"time_zone":{"type":"string","description":"Time zone name from MAPPING object found in: https://api.rubyonrails.org/v4.2.3/classes/ActiveSupport/TimeZone.html, Default value is determined by the Directory","default":"Mountain Time (US & Canada)"},"website_url":{"type":"string","description":"The business's website"}}},"meta":{"type":"object","description":"The business meta data","properties":{"analytics":{"type":"object","properties":{"google_client_id":{"type":"string","description":"Google Client ID"},"mixpanel_id":{"type":"string","description":"Mixpanel Distinct ID"}}},"audit":{"type":"array","description":"[{'action' => 'action_name','context' => {'key' => 'value'}}]","items":{"type":"string"}},"external_id":{"type":"string","description":"Legacy field"},"in_setup":{"type":"string","description":"Sets the busdiness initial state","default":"true"},"intents":{"type":"array","description":"[\"accept_payments_tile\", \"documents_and_forms\", \"add_online_scheduling\", \"secure_portal_for_clients\", \"promotions\", \"manage_client_records\"]","items":{"type":"string"}},"invite":{"type":"string","description":"Affiliate id"},"is_template":{"type":"string","description":"Use this business as a template for other new businesses","default":"false"},"note":{"type":"string"},"suggested_identities":{"type":"array","description":"Suggested identities for this business","items":{"type":"string"}},"tags":{"type":"array","description":"Tags to categories the business","items":{"type":"string"}},"template_business_id":{"type":"string","description":"A template business to use for setting this business"},"external_reference_id":{"type":"string","description":"The partner unique id for the business"},"":{"type":"string"}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"admin_account\": {\n      \"country_name\": \"United States\",\n      \"display_name\": \"DName\",\n      \"email\": \"adminemail@email.com\",\n      \"first_name\": \"FName\",\n      \"language\": \"en\",\n      \"last_name\": \"LName\",\n      \"phone\": \"+154863488\",\n      \"user_id\": \"11111\"\n    },\n    \"business\": {\n      \"business_category\": \"aeroclub\",\n      \"business_maturity_in_years\": \"0.5\",\n      \"country_name\": \"United States\",\n      \"id\": \"1a123b456c789\",\n      \"landing_page\": \"Homepage\",\n      \"name\": \"Business name\",\n      \"short_description\": \"My business description\",\n      \"external_reference_id\":\"54656/503\"\n    },\n    \"integrations\": {},\n    \"meta\": {\n      \"auth_token\": \"a1a1a1a1a1\",\n      \"external_id\": \"1213444\",\n      \"identities\": [\n        \"aaa123\",\n        \"bbb345\",\n        \"1a3c4f4h\"\n      ],\n      \"in_setup\": \"false\",\n      \"intents\": [\n        \"accept_payments_tile\",\n        \"documents_and_forms\"\n      ],\n      \"is_template\": \"true\",\n      \"marketing_channel\": \"Client Channel\",\n      \"note\": \"Client Note\",\n      \"plan\": {\n        \"expires_on\": \"2022-06-14T09:31:21.000\",\n        \"external_subscription_params\": \"***\",\n        \"plan_name\": \"Essential\"\n      },\n      \"tags\": \"Client tag1, Client tag2\"\n    }\n  },\n  \"status\": \"OK\"\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"admin_account":{"type":"object","properties":{"country_name":{"type":"string","example":"United States"},"display_name":{"type":"string","example":"DName"},"email":{"type":"string","example":"adminemail@email.com"},"first_name":{"type":"string","example":"FName"},"language":{"type":"string","example":"en"},"last_name":{"type":"string","example":"LName"},"phone":{"type":"string","example":"+154863488"},"user_id":{"type":"string","example":"11111"}}},"business":{"type":"object","properties":{"business_category":{"type":"string","example":"aeroclub"},"business_maturity_in_years":{"type":"string","example":"0.5"},"country_name":{"type":"string","example":"United States"},"id":{"type":"string","example":"1a123b456c789"},"landing_page":{"type":"string","example":"Homepage"},"name":{"type":"string","example":"Business name"},"short_description":{"type":"string","example":"My business description"},"external_reference_id":{"type":"string","example":"54656/503"}}},"integrations":{"type":"object","properties":{}},"meta":{"type":"object","properties":{"auth_token":{"type":"string","example":"a1a1a1a1a1"},"external_id":{"type":"string","example":"1213444"},"identities":{"type":"array","items":{"type":"string","example":"aaa123"}},"in_setup":{"type":"string","example":"false"},"intents":{"type":"array","items":{"type":"string","example":"accept_payments_tile"}},"is_template":{"type":"string","example":"true"},"marketing_channel":{"type":"string","example":"Client Channel"},"note":{"type":"string","example":"Client Note"},"plan":{"type":"object","properties":{"expires_on":{"type":"string","example":"2022-06-14T09:31:21.000"},"external_subscription_params":{"type":"string","example":"***"},"plan_name":{"type":"string","example":"Essential"}}},"tags":{"type":"string","example":"Client tag1, Client tag2"}}}}},"status":{"type":"string","example":"OK"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}}},"x-readme":{"headers":[{"key":"Authorization","value":"Token token=\"aaaabbbbccccddddeeeeffff1111222\""}],"explorer-enabled":false,"proxy-enabled":true},"x-readme-fauxas":true}