h2.heading, .header1-primary {
    width:100%; 
    padding:16px;
    margin-top:60px;
    color: #525252 !important; 
    border-left: 8px solid #ffc511;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  
h3,  .header3-primary {
  	color: #8d7325 !important;
  }
  
  .indent {
  	text-indent: 32px;
  }
  
  .callout_okay h2{
    color: #489e49 !important;
  }
  .callout_info h2{
    color: #46b8da !important;
  }
  .callout_warn h2{
    color: #f7c543 !important;
    
  }
  .callout_error h2{
     color: #e95f6a !important;
   
  }