{
  "basePath": "/platform/v1",
  "host": "api.vcita.biz",
  "info": {
    "title": "Estimates Legacy API v1",
    "version": "v1.0",
    "description": "Legacy v1 Platform API endpoints for estimates management"
  },
  "paths": {
    "/estimates": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "## Overview\nReturns a list of estimates for the business.\n\n## Authentication\nAvailable for **Staff tokens** only. Requires `payments.manage` permission.\n\n> ⚠️ **Fallback API Required** - This endpoint must be accessed via the fallback API URL.\n\n## Filtering\nUse the `filter` parameter to filter results:\n- `filter[created_at][gt]=2019-01-01` - Estimates created after date\n- `filter[updated_at][lt]=2019-12-31` - Estimates updated before date\n- `filter[state][in]=issued,rejected` - Estimates with specific states\n\nAvailable filter operators for dates: `gt`, `gte`, `lt`, `lte`, `eq`\nAvailable filter operators for state: `in`\n\n## Sorting\nUse the `sort` parameter to sort results:\n- `sort=created_at:asc` - Sort by created_at ascending\n- `sort=updated_at:desc` - Sort by updated_at descending\n- `sort=created_at:asc,updated_at:desc` - Multiple sort fields",
        "parameters": [
          {
            "description": "Filter results. Available fields: created_at, updated_at, state. State values: issued, approved, draft, invoiced, rejected. Operators for dates: gt, gte, lt, lte, eq. Operators for state: in. Example: filter[state][in]=issued,rejected",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Sort results. Available fields: created_at, updated_at, state. Operators: asc, desc. Example: sort=created_at:asc,updated_at:desc",
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Page number of results. Default: 1",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "How many items to return per page. Default: 25",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "status": "OK",
                "data": {
                  "estimates": [
                    {
                      "id": "aaabbbccc112233",
                      "status": "issued",
                      "client_id": "kf9d91uh82bclson",
                      "staff_id": "mg9d34uh92bclwzg",
                      "title": "Estimate title",
                      "created_at": "2026-01-14T09:31:21.000Z",
                      "estimate_date": "2026-01-14",
                      "due_date": "2026-01-28",
                      "estimate_number": "1",
                      "currency": "USD",
                      "amount": 150,
                      "address": "123 Main St\nNew York, NY 10001",
                      "conversation_id": "rv28qk5ey5eretu9",
                      "note": "Thank you for your business!",
                      "client_name": "John Smith",
                      "client_address": "456 Oak Ave, San Francisco, CA 94102",
                      "source_data": {
                        "name": "client_portal",
                        "channel": "",
                        "campaign": null,
                        "website_url": null
                      },
                      "items": [
                        {
                          "title": "Consulting Service",
                          "description": "1 hour consulting session",
                          "amount": 100,
                          "quantity": 1,
                          "discount": 0,
                          "taxes": [
                            {
                              "rate": 10,
                              "name": "Sales Tax"
                            }
                          ]
                        },
                        {
                          "title": "Additional Materials",
                          "description": "Documentation package",
                          "amount": 50,
                          "quantity": 1,
                          "discount": 0,
                          "taxes": []
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unauthorized - Staff does not have payments.manage permission",
            "examples": {
              "application/json": {
                "status": "Error",
                "error": "Unauthorized"
              }
            }
          }
        },
        "security": [
          {
            "default": [
              "platform"
            ]
          }
        ],
        "summary": "Get Estimates List",
        "tags": [
          "Estimates"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "GET",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///platform/v1/estimates"
        },
        "x-auth-type": "Application User"
      }
    }
  },
  "swagger": "2.0"
}
