{
  "basePath": "/",
  "host": "api.vcita.biz",
  "info": {
    "title": "Services Settings API",
    "version": "v2.0",
    "description": "Write endpoints for managing business services. Read operations use GET /platform/v1/services; create and update operations use /v2/settings/services."
  },
  "paths": {
    "/v2/settings/services": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "## Overview\nCreates a new service for the business. This is the write endpoint for services — the read-only list is at `GET /platform/v1/services`.\n\nAvailable for **Staff tokens**.\n\n## Important\n`POST /platform/v1/services` does NOT exist (returns 404). Always use this endpoint (`POST /v2/settings/services`) to create services.",
        "parameters": [
          {
            "description": "Service object to create.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["name", "duration"],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Display name of the service (e.g., \"Executive Strategy Consultation\")."
                },
                "service_type": {
                  "type": "string",
                  "description": "The kind of service to create. Use `appointment` for standard one-on-one services (default) or `event` for group events/workshops.",
                  "enum": ["appointment", "event"],
                  "default": "appointment"
                },
                "duration": {
                  "type": "integer",
                  "description": "Duration of the service in minutes (e.g., 30, 45, 60)."
                },
                "charge_type": {
                  "type": "string",
                  "description": "How the service is charged. `no_price` for free services, `paid` for priced services, `free` for explicitly free services.",
                  "enum": ["no_price", "paid", "free"]
                },
                "price": {
                  "type": "number",
                  "description": "Price of the service in the smallest currency unit. Set to 0 for free services."
                },
                "currency": {
                  "type": "string",
                  "description": "ISO 4217 currency code (e.g., \"USD\", \"EUR\")."
                },
                "interaction_type": {
                  "type": "string",
                  "description": "How the service is delivered.",
                  "enum": ["in_person", "video", "phone", "business_location"]
                },
                "description": {
                  "type": "string",
                  "description": "A detailed description of the service shown to clients."
                },
                "display": {
                  "type": "boolean",
                  "description": "Whether the service is visible in the client-facing booking page. Defaults to true."
                },
                "approval_mode": {
                  "type": "string",
                  "description": "How bookings for this service are approved. `immediate` for auto-approval, `manual` for staff review.",
                  "enum": ["immediate", "manual"]
                },
                "staff_uids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Array of staff member UIDs who can provide this service."
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Service created successfully.",
            "examples": {
              "application/json": {
                "status": "OK",
                "data": {
                  "id": "svc_abc123def456",
                  "name": "Executive Strategy Consultation",
                  "type": "AppointmentService",
                  "duration": 60,
                  "charge_type": "no_price",
                  "price": 0,
                  "currency": "USD",
                  "interaction_type": "in_person",
                  "description": "A focused consultation for business planning.",
                  "display": true,
                  "approval_mode": "immediate"
                }
              }
            }
          }
        },
        "summary": "Create Service",
        "tags": [
          "Services"
        ]
      }
    }
  },
  "swagger": "2.0"
}