{
  "basePath": "/",
  "host": "api.vcita.biz",
  "info": {
    "title": "Service Categories Settings API",
    "version": "v2.0",
    "description": "Endpoints for managing service categories. Categories group services in the settings UI and client-facing booking page."
  },
  "paths": {
    "/v2/settings/categories": {
      "get": {
        "consumes": ["application/json"],
        "description": "Returns all service categories for the business, each with its nested services. Use this to retrieve category UIDs needed when creating services via POST /v2/settings/services.",
        "parameters": [],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "List of categories with their services.",
            "examples": {
              "application/json": [
                {
                  "uid": "cat_abc123",
                  "name": "Consultations",
                  "position": 0,
                  "services": [
                    {
                      "id": "svc_def456",
                      "name": "Strategy Session",
                      "service_type": "appointment",
                      "duration": 60
                    }
                  ]
                }
              ]
            }
          }
        },
        "summary": "List Categories",
        "tags": ["Categories"]
      },
      "post": {
        "consumes": ["application/json"],
        "description": "Creates a new service category for the business.",
        "parameters": [
          {
            "description": "Category object to create.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["name"],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Display name of the category (e.g., \"Consultations\", \"Workshops\")."
                },
                "position": {
                  "type": "integer",
                  "description": "Sort order position. Lower values appear first. Defaults to the end of the list."
                }
              }
            }
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "Category created successfully.",
            "examples": {
              "application/json": {
                "uid": "cat_abc123",
                "name": "Consultations",
                "position": 0,
                "services": []
              }
            }
          }
        },
        "summary": "Create Category",
        "tags": ["Categories"]
      }
    }
  },
  "swagger": "2.0"
}
