{
  "basePath": "/",
  "host": "api.vcita.biz",
  "info": {
    "title": "Services Settings API",
    "version": "v2.0",
    "description": "Write endpoints for managing business services. Read operations use GET /platform/v1/services; create and update operations use /v2/settings/services."
  },
  "paths": {
    "/v2/settings/services": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "## Overview\nCreates a new service for the business. This is the write endpoint for services — the read-only list is at `GET /platform/v1/services`.\n\nAvailable for **Staff tokens**.\n\n## Important\n`POST /platform/v1/services` does NOT exist (returns 404). Always use this endpoint (`POST /v2/settings/services`) to create services.",
        "parameters": [
          {
            "description": "Service object to create.",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["name", "duration", "category", "interaction_type"],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Display name of the service (e.g., \"Executive Strategy Consultation\")."
                },
                "service_type": {
                  "type": "string",
                  "description": "The kind of service to create. Use `appointment` for standard one-on-one services (default) or `event` for group events/workshops.",
                  "enum": ["appointment", "event"],
                  "default": "appointment"
                },
                "duration": {
                  "type": "integer",
                  "description": "Duration of the service in minutes (e.g., 30, 45, 60)."
                },
                "charge_type": {
                  "type": "string",
                  "description": "How the service is charged. `no_price` for free services, `paid` for priced services, `free` for explicitly free services.",
                  "enum": ["no_price", "paid", "free"]
                },
                "price": {
                  "type": "number",
                  "description": "Price of the service in the smallest currency unit. Set to 0 for free services."
                },
                "currency": {
                  "type": "string",
                  "description": "ISO 4217 currency code (e.g., \"USD\", \"EUR\")."
                },
                "interaction_type": {
                  "type": "string",
                  "description": "How and where the service is delivered. Face-to-face types: `default_business_location` (uses the business address on file), `business_location` (custom address — provide in `meeting_interaction_details`), `client_location` (client provides location). Phone types: `business_phone` (provide number in `meeting_interaction_details`), `client_phone` (client provides number). Online types: `online` (provide URL in `meeting_interaction_details`), `zoom` (auto-generated Zoom link), `skype` (provide Skype name in `meeting_interaction_details`).",
                  "enum": ["default_business_location", "business_location", "client_location", "business_phone", "client_phone", "online", "zoom", "skype"]
                },
                "meeting_interaction_details": {
                  "type": "string",
                  "description": "Location/contact details for the service. The meaning depends on `interaction_type`: address for `business_location`, phone number for `business_phone`, URL for `online`, Skype name for `skype`. Required when `interaction_type` is `business_location`, `business_phone`, `online`, or `skype`. Not needed for `default_business_location`, `client_location`, `client_phone`, or `zoom` (these are auto-resolved or client-provided)."
                },
                "description": {
                  "type": "string",
                  "description": "A detailed description of the service shown to clients."
                },
                "display": {
                  "type": "boolean",
                  "description": "Whether the service is visible in the client-facing booking page. Defaults to true."
                },
                "approval_mode": {
                  "type": "string",
                  "description": "How bookings for this service are approved. `immediate` for auto-approval, `manual` for staff review.",
                  "enum": ["immediate", "manual"]
                },
                "staff_data": {
                  "type": "array",
                  "description": "Array of staff assignment objects. Each object maps a staff member to this service. The booking system uses this to determine which staff members can offer this service — if omitted, no staff will be associated and booking attempts will fail with 'The provided staff member doesn't offer the provided service'.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "UID of the staff member."
                      },
                      "enabled": {
                        "type": "boolean",
                        "description": "Whether the staff member is enabled for this service. Set to true to allow the staff member to offer this service."
                      }
                    },
                    "required": ["uid", "enabled"]
                  }
                },
                "category": {
                  "type": "object",
                  "description": "The category to assign the service to. Required — services without a category will not appear in the settings UI or be queryable.",
                  "properties": {
                    "uid": {
                      "type": "string",
                      "description": "UID of an existing category. Can be obtained from GET /v2/settings/categories."
                    }
                  },
                  "required": ["uid"]
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Service created successfully.",
            "examples": {
              "application/json": {
                "id": "svc_abc123def456",
                "uid": "svc_abc123def456",
                "name": "Executive Strategy Consultation",
                "type": "AppointmentService",
                "service_type": "appointment",
                "duration": 60,
                "charge_type": "no_price",
                "price": 0,
                "currency": "USD",
                "interaction_type": "default_business_location",
                "meeting_interaction_details": null,
                "description": "A focused consultation for business planning.",
                "display": true,
                "approval_mode": "immediate",
                "category": {
                  "uid": "cat_abc123",
                  "name": "My Services",
                  "position": 1
                }
              }
            }
          }
        },
        "summary": "Create Service",
        "tags": [
          "Services"
        ]
      }
    }
  },
  "swagger": "2.0"
}