{
  "openapi": "3.0.0",
  "info": {
    "title": "Availability API",
    "description": "API for retrieving business and directory availability time slots",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "BusinessAvailabilities": {
        "$ref": "https://vcita.github.io/developers-hub/entities/availability/businessAvailabilities.json"
      }
    }
  },
  "paths": {
    "/availability": {
      "get": {
        "summary": "Get business availability",
        "description": "Retrieve availability time slots for a specific business within a date range",
        "tags": ["Availability"],
        "parameters": [
          {
            "name": "business_uid",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the business",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_start",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business availability retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["booking_slots", "booking_widget_url", "merchant_id"],
                  "properties": {
                    "booking_slots": {
                      "type": "array",
                      "description": "Array of available booking time slots in ISO format",
                      "items": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "booking_widget_url": {
                      "type": "string",
                      "description": "URL for the business's booking widget"
                    },
                    "merchant_id": {
                      "type": "string",
                      "description": "Unique identifier for the merchant/business"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Business not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/directory/availability/{directory_uid}": {
      "get": {
        "summary": "Get directory availability",
        "description": "Retrieve availability time slots for multiple businesses in a directory",
        "tags": ["Availability"],
        "parameters": [
          {
            "name": "directory_uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the directory",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_start",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_end",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directory availability retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessAvailabilities"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Directory not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
} 