{
  "openapi": "3.0.0",
  "info": {
    "title": "Platform Management",
    "description": "",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/v3/"
    }
  ],
  "tags": [
    {
      "name": "chatmng",
      "description": ""
    }
  ],
  "paths": {
    "/v3/bizai-chats": {
      "get": {
        "operationId": "ChatsController_getChats",
        "summary": "Get all chats",
        "description": "Get a list of all ongoing chat sessions",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "Filter by a field. Example: filter[created_at][gt]=2019-01-01, filter[name]=my-name"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of chats.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "chats": {
                          "type": "array",
                          "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/bizaiChats.json"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "chatmng"
        ],
        "x-auth-type": "Directory"
      },
      "post": {
        "operationId": "ChatsController_createChat",
        "summary": "Create a chat",
        "description": "Create a new chat session between a user and an agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://vcita.github.io/developers-hub/entities/bizaiChats.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/bizaiChats.json"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "chatmng"
        ],
        "x-auth-type": "Directory"
      }
    },
    "/v3/bizai-chats/{uid}": {
      "get": {
        "operationId": "ChatsController_getChat",
        "summary": "Retrieve a chat",
        "description": "Get a specific chat session based on its unique identifier (UID)",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the chat"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/bizaiChats.json"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "chatmng"
        ],
        "x-auth-type": "Directory"
      }
    },
    "/v3/bizai-chats/{uid}/messages": {
      "get": {
        "operationId": "ChatsController_getMessages",
        "summary": "List all messages",
        "description": "Get all messages exchanged within a specific chat",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the chat"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "Filter by a field. Example: filter[created_at][gt]=2019-01-01, filter[name]=my-name"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of messages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "messages": {
                          "type": "array",
                          "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/bizaiMessages.json"
                          }
                        }
                      }
                    },
                    "page": {
                      "type": "integer"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "total": {
                      "type": "integer"
                    },
                    "total_pages": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "chatmng"
        ],
        "x-auth-type": "Directory"
      },
      "post": {
        "operationId": "ChatsController_createMessage",
        "summary": "Create a new message in a chat thread and get an AI response",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the chat"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "description": "The message content",
                    "example": "Tell me a joke!",
                    "type": "string"
                  },
                  "streaming": {
                    "type": "boolean",
                    "description": "Stream response option. If true, the response will be streamed to the client. If false, the response will be sent as a single message.",
                    "default": true
                  }
                },
                "required": [
                  "content"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "uid": {
                          "type": "string",
                          "description": "uid of the message",
                          "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                        },
                        "delta": {
                          "type": "string",
                          "description": "Token that is part of the content of the message",
                          "example": "Hello"
                        },
                        "finish_reason": {
                          "type": "string",
                          "description": "The reason the stream has finished. If null, the stream is still active.",
                          "example": "'stop' or null"
                        }
                      },
                      "required": [
                        "uid",
                        "delta",
                        "finish_reason"
                      ],
                      "example": {
                        "uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                        "delta": "Hello",
                        "finish_reason": "stop"
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "chatmng"
        ],
        "x-auth-type": "Directory"
      }
    }
  }
}
