{
  "openapi": "3.0.0",
  "info": {
    "title": "Access Control",
    "description": "A set of endpoint to manage access control, roles, and permissions in the inTandem platform",
    "version": "1.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "BusinessRolesList": {
        "type": "object",
        "properties": {
          "business_roles": {
            "description": "List of BusinessRoles",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
            }
          }
        }
      },
      "PermissionsList": {
        "type": "object",
        "properties": {
          "permissions": {
            "description": "List of Permissions",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/access_control/permission.json"
            }
          }
        }
      },
      "StaffBusinessRolesList": {
        "type": "object",
        "properties": {
          "staff_business_roles": {
            "description": "List of StaffBusinessRoles",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
            }
          }
        }
      },
      "StaffPermissionsList": {
        "type": "object",
        "properties": {
          "staff_permissions": {
            "description": "List of StaffPermissions",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermission.json"
            }
          }
        }
      },
      "StaffPermissionOverridesList": {
        "type": "object",
        "properties": {
          "staff_permission_overrides_lists": {
            "description": "List of StaffPermissionOverrides",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermissionOverridesList.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/access_control/business_roles": {
      "get": {
        "summary": "Get all BusinessRoles",
        "description": "## Overview\nGet a list of BusinessRoles.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BusinessRolesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a BusinessRole",
        "description": "## Overview\nCreate a new role for a business Available for **Staff Tokens**.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "A unique readable code for the role"
                  },
                  "name": {
                    "type": "string",
                    "description": "The role name as it's presented in the UI. By default, it will be assigned from the original permission, but can be overridden for a specific business"
                  },
                  "description": {
                    "type": "string",
                    "description": "The role description as it\u2019s presented in the UI. By default, it will be assigned from the original permission, but can be overridden for a specific business"
                  },
                  "permissions": {
                    "type": "array",
                    "description": "A list of permissions that are assigned to the role by default",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The unique identifier (key) of the Permission"
                        },
                        "allow": {
                          "type": "boolean",
                          "description": "A flag indicating if this permission is by default assigned to the role"
                        }
                      }
                    }
                  },
                  "is_editable": {
                    "type": "boolean",
                    "description": "A flag to indicate if the role can be edited by the business. By default, system roles are not editable. Can not be changed after creation",
                    "default": true
                  }
                },
                "required": [
                  "code",
                  "name",
                  "description",
                  "permissions"
                ],
                "example": {
                  "code": "admin",
                  "name": "Admin",
                  "description": "Admin role. Typically has access to all features in the system",
                  "is_editable": true,
                  "permissions": [
                    {
                      "key": "payments.invoices.export",
                      "allow": true
                    },
                    {
                      "key": "payments.manage",
                      "allow": true
                    },
                    {
                      "key": "reports.manage",
                      "allow": true
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/access_control/business_roles/{uid}": {
      "get": {
        "summary": "Retrieve a BusinessRole",
        "description": "## Overview\nRetrieve a specific BusinessRole based on it\u2019s unique identifier (UID).\n\n## When to Use\n- Viewing full record details\n- Building detail pages\n- Verifying record existence",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessRole",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a BusinessRole",
        "description": "## Overview\nCreate a new role for a business Available for **Staff Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessRole",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The role name as it's presented in the UI. By default, it will be assigned from the original permission, but can be overriden for a specific business"
                  },
                  "description": {
                    "type": "string",
                    "description": "The role description as it\u2019s presented in the UD. By default, will be assigned from the original permission, but can be overriden for a specific business"
                  },
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The unique identifier (key) of the Permission"
                        },
                        "allow": {
                          "type": "boolean",
                          "description": "A flag indicating if this permission is by default assigned to the role"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "uid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/access_control/businessRole.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a BusinessRole",
        "description": "## Overview\nDelete a specific BusinessRole based on it\u2019s unique identifier (UID) Available for **Staff Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessRole",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/access_control/permissions": {
      "get": {
        "summary": "Get all Permissions",
        "description": "## Overview\nGet a list of Permissions.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "position:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/PermissionsList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Permission"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/access_control/staff_business_roles": {
      "get": {
        "summary": "Get all StaffBusinessRoles",
        "description": "## Overview\nGet a list of StaffBusinessRoles.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems",
        "parameters": [
          {
            "name": "staff_uid",
            "required": false,
            "in": "query",
            "description": "The unique identifier (UID) of the business account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_role_uid",
            "required": false,
            "in": "query",
            "description": "The unique identifier (UID) of the business account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/StaffBusinessRolesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Staff Business Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a StaffBusinessRole",
        "description": "## Overview\nCreate a new StaffBusinessRole for a staff. This is called automatically when a staff is created and will fail if called again. Use update to change the StaffBusinessRole Available for **Staff Tokens**.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "staff_uid": {
                    "type": "string",
                    "description": "The unique identifier (UID) of the staff member"
                  },
                  "business_role_uid": {
                    "type": "string",
                    "description": "The unique identifier (UID) of the associated StaffBusinessRole"
                  }
                },
                "required": [
                  "staff_uid",
                  "business_role_uid"
                ],
                "example": {
                  "staff_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                  "business_role_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Staff Business Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/access_control/staff_business_roles/{staff_uid}": {
      "get": {
        "summary": "Retrieve a StaffBusinessRole",
        "description": "## Overview\nRetrieve a StaffBusinessRole based on the unique identifier of staff_uid (staff_uid).\n\n## When to Use\n- Viewing full record details\n- Building detail pages\n- Verifying record existence",
        "parameters": [
          {
            "name": "staff_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the staff member assigned to this BusinessRole",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Staff Business Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a StaffBusinessRole",
        "description": "## Overview\nUpdate the business role for a staff member. **All overrides will be removed** and user will need to reapply them if the old role is reassigned Available for **Staff Tokens**.",
        "parameters": [
          {
            "name": "staff_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the StaffBusinessRole",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_role_uid": {
                    "type": "string",
                    "description": "The unique identifier (UID) of the BusinessRole assigned"
                  }
                },
                "required": [
                  "staff_uid",
                  "business_role_uid"
                ],
                "example": {
                  "business_role_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffBusinessRole.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Staff Business Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/access_control/staff_permission_overrides_lists/{staff_uid}": {
      "get": {
        "summary": "Retrieve a Staff Permissions Overrides List",
        "description": "## Overview\nRetrieve a StaffPermissionOverrideList based on a staff member's unique identifier (staff_uid).\n\n## When to Use\n- Viewing full record details\n- Building detail pages\n- Verifying record existence",
        "parameters": [
          {
            "name": "staff_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the staff member",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermissionOverridesList.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Staff Permission Override List"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a Staff Permissions Overrides List",
        "description": "## Overview\nUpdate a Staff Permission Overrides List based on staff UID and a list of permissions. The list supplied will append new permissions and override exsiting permissions assigned to this staff.",
        "parameters": [
          {
            "name": "staff_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the staff member",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The unique identifier (UID) of the Permission"
                        },
                        "state": {
                          "type": "string",
                          "description": "allow, deny or inherit. When inherit is used, the permission override is removed and the default permission from the BusinessRole is used",
                          "enum": [
                            "allow",
                            "deny",
                            "inherit"
                          ]
                        }
                      }
                    }
                  }
                },
                "required": [
                  "staff_uid",
                  "permissions"
                ],
                "example": {
                  "staff_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
                  "permissions": [
                    {
                      "key": "payments.invoices.export",
                      "state": "allow"
                    },
                    {
                      "key": "payments.invoices.import",
                      "state": "allow"
                    },
                    {
                      "key": "payments.invoices.view",
                      "state": "deny"
                    },
                    {
                      "key": "payments.invoices.delete",
                      "state": "inherit"
                    },
                    {
                      "key": "payments.invoices.create",
                      "state": "allow"
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/access_control/staffPermissionOverridesList.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Staff Permission Override List"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Remove all permission overrides",
        "description": "## Overview\nRemoves all assigned overrides based on a staff member's unique identifier (staff_uid) Available for **Staff Tokens**.",
        "parameters": [
          {
            "name": "staff_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the staff member",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Staff Permission Override List"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/access_control/staff_permission_overrides_lists/": {
      "get": {
        "summary": "Get all Staff Permission Overrides Lists",
        "description": "## Overview\nGet a list of all StaffPermissionOverrideList in the business (if used by a user that has permissions to view and manage permissions to staff in the business).\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/StaffPermissionOverridesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Staff Permission Override List"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/access_control/staff_permissions/": {
      "get": {
        "summary": "Get All StaffPermissions",
        "description": "## Overview\nGet a list of staff Permissions. You must filter the list using a list of permissions keys Used to validate if a user can or can not access features.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems",
        "parameters": [
          {
            "name": "keys",
            "required": true,
            "in": "query",
            "description": "A list of unique identifier of the Permissions you wish to check",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "payments.invoices.export"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/StaffPermissionsList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Staff Permission"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}