{
  "openapi": "3.0.0",
  "info": {
    "title": "Business API",
    "description": "API for retrieving business information",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {token}'"
      }
    },
    "schemas": {
      "Paging": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "per_page": {
            "type": "integer",
            "description": "Number of items per page",
            "example": 25
          },
          "total": {
            "type": "integer",
            "description": "Total number of items",
            "example": 100
          }
        }
      }
    }
  },
  "paths": {
    "/v3/business_administration/businesses": {
      "get": {
        "summary": "Get a list of Businesses",
        "description": "Returns a filtered, paginated list of businesses belonging to the authenticated directory.\n\nAvailable for **Directory**,**Staff** and **Internal tokens**.",
        "tags": ["Business"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of businesses to return per page. Maximum is 200.",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 200
            },
            "example": 25
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter businesses by name. Supports partial match.",
            "schema": {
              "type": "string"
            },
            "example": "Green Leaf"
          },
          {
            "name": "external_id",
            "in": "query",
            "required": false,
            "description": "Search businesses by external ID (searches across `external_reference_id` and `reference_id`).",
            "schema": {
              "type": "string"
            },
            "example": "partner-biz-98765"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "description": "Filter businesses by one or more tags (comma-separated). Returns businesses that match any of the provided tags.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "example": ["franchise-east", "vip"]
          },
          {
            "name": "external_reference_id",
            "in": "query",
            "required": false,
            "description": "Filter businesses by the exact external reference ID assigned by the directory.",
            "schema": {
              "type": "string"
            },
            "example": "partner-biz-98765"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "description": "Filter businesses by owner email address.",
            "schema": {
              "type": "string",
              "format": "email"
            },
            "example": "jane.doe@greenleafwellness.com"
          },
          {
            "name": "directory_uid",
            "in": "query",
            "required": false,
            "description": "Filter businesses by directory UID. Available for **Internal tokens** only, where it is **required**. Ignored for Directory tokens (which are scoped to their own directory).",
            "schema": {
              "type": "string"
            },
            "example": "dir_x9y8z7w6v5"
          },
          {
            "name": "package_name",
            "in": "query",
            "required": false,
            "description": "Filter businesses by their current subscription package name. Accepts a comma-separated list to match any of several packages (e.g. \"essential,business\").",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "example": ["essential", "business"]
          },
          {
            "name": "is_blocked",
            "in": "query",
            "required": false,
            "description": "Filter businesses by blocked status. Set to `true` to return only blocked businesses, `false` to return only active businesses.",
            "schema": {
              "type": "boolean"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Businesses retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "data", "paging"],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates whether the request was successful.",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "businesses": {
                          "type": "array",
                          "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/business_administration/business.json"
                          }
                        }
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "businesses": [
                      {
                        "uid": "b_a1b2c3d4e5f6",
                        "directory_uid": "dir_x9y8z7w6v5",
                        "is_template": false,
                        "name": "Green Leaf Wellness",
                        "business_category": "health_wellness",
                        "identities": ["vert_yoga", "vert_nutrition"],
                        "tags": ["franchise-east", "vip"],
                        "external_reference_id": "partner-biz-98765",
                        "reference_id": "crm-ref-00123",
                        "business_maturity_in_years": "2+",
                        "short_description": "A holistic wellness center offering yoga, meditation, and nutrition coaching.",
                        "owner_uid": "staff_q1r2s3t4u5",
                        "owner_email": "jane.doe@greenleafwellness.com",
                        "phone": "+15551234567",
                        "address": "456 Elm Street, Suite 3, Austin, TX 78701",
                        "hide_address": false,
                        "country_name": "United States",
                        "website_url": "https://www.greenleafwellness.com",
                        "time_zone": "Central Time (US & Canada)",
                        "locale": "en",
                        "time_format": "12h",
                        "current_package": "essential",
                        "in_setup": false,
                        "account_blocked_at": null,
                        "created_at": "2023-03-15T10:00:00Z",
                        "updated_at": "2024-11-20T14:35:22Z"
                      }
                    ]
                  },
                  "paging": {
                    "page": 1,
                    "per_page": 25,
                    "total": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — malformed request or invalid parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field": { "type": "string" },
                          "code": { "type": "string" },
                          "message": { "type": "string" }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "is_blocked",
                      "code": "invalid",
                      "message": "is_blocked must be a boolean (true or false)"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": { "type": "string" },
                          "message": { "type": "string" }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or missing bearer token"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
