{
  "openapi": "3.0.0",
  "info": {
    "title": "Directory API",
    "description": "API for retrieving directory information",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Paging": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "per_page": {
            "type": "integer",
            "description": "Number of items per page",
            "example": 50
          },
          "total": {
            "type": "integer",
            "description": "Total number of items",
            "example": 2
          }
        }
      }
    }
  },
  "paths": {
    "/v3/business_administration/directories": {
      "get": {
        "summary": "Get a list of Directories",
        "description": "Returns a filtered, paginated list of directories.\n\nAvailable for **Internal tokens**, **Directory Tokens** and **Staff Tokens**",
        "tags": [
          "Directory"
        ],
        "parameters": [
          {
            "name": "is_managed",
            "in": "query",
            "required": false,
            "description": "Filter by whether the directory is a managed partner",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "is_deprecated",
            "in": "query",
            "required": false,
            "description": "Filter by whether the directory is deprecated",
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "configuration_key",
            "in": "query",
            "required": false,
            "description": "Filter by a specific configuration key",
            "schema": {
              "type": "string"
            },
            "example": "abc"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page (max 1000)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directories retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indicates if the request was successful",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "directories": {
                          "type": "array",
                          "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/business_administration/directory.json"
                          }
                        }
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "paging"
                  ]
                  }
                },
                "examples": {
                  "Full Response": {
                    "summary": "Full directory details (Admin/Directory Token)",
                    "value": {
                      "success": true,
                      "data": {
                        "directories": [
                          {
                            "id": 123,
                            "uid": "dir-123",
                            "name": "Example Directory",
                            "billing_type": "manual",
                            "manual_type": "white_label",
                            "configuration_key": "example",
                            "is_managed": true,
                            "is_deprecated": false,
                            "is_trial_allowed": true,
                            "is_slim_register_enabled": false,
                            "is_social_links_on": true,
                            "locale": "en",
                            "time_zone": "America/New_York",
                            "paypal_email": "",
                            "rev_share": 20,
                            "settings": {
                              "enable_upgrade_page_tab": "1",
                              "enable_separate_payment_method": "0",
                              "myaccount_page_url": "",
                              "managed_login_url": "",
                              "block_external_app_uninstall": false
                            },
                            "urls": {
                              "home_url": "https://home.example.com",
                              "support_url": "https://support.example.com",
                              "faq_url": "https://faq.example.com",
                              "login_url": "https://login.example.com",
                              "signup_url": "https://signup.example.com",
                              "upgrade_page_url": "https://upgrade.example.com",
                              "cancel_page_url": "https://cancel.example.com",
                              "sms_purchase_url": "https://sms.example.com",
                              "backoffice_url": "https://backoffice.example.com"
                            },
                            "created_at": "2023-08-01T12:00:00Z",
                            "updated_at": "2023-10-01T12:00:00Z"
                          }
                        ]
                      },
                      "paging": {
                        "page": 1,
                        "per_page": 50,
                        "total": 1
                      }
                    }
                  },
                  "Staff Response": {
                    "summary": "Reduced directory details (Staff Token)",
                    "value": {
                      "success": true,
                      "data": {
                        "directories": [
                          {
                            "is_managed": true,
                            "manual_type": "white_label",
                            "configuration_key": "example",
                            "mobile_app_ios": "https://app.store/id",
                            "mobile_app_android": "https://play.google/id",
                            "settings": {
                              "enable_upgrade_page_tab": "1",
                              "enable_separate_payment_method": "0",
                              "myaccount_page_url": "https://myaccount.example.com",
                              "managed_login_url": "https://sso.example.com",
                              "block_external_app_uninstall": false
                            },
                            "urls": {
                              "upgrade_page_url": "https://upgrade.example.com",
                              "cancel_page_url": "https://cancel.example.com",
                              "faq_url": "https://faq.example.com",
                              "support_url": "https://support.example.com",
                              "login_url": "https://login.example.com",
                              "backoffice_url": "https://backoffice.example.com"
                            }
                          }
                        ]
                      },
                      "paging": {
                        "page": 1,
                        "per_page": 50,
                        "total": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/business_administration/directories/{uid}": {
      "get": {
        "summary": "Retrieve a Directory",
        "description": "Returns a specific directory based on its unique identifier.\n\nAvailable for **Internal tokens**, **Directory Tokens** and **Staff Tokens**",
        "tags": [
          "Directory"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the directory",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directory retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the API request was successful"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/business_administration/directory.json"
                    }
                  }
                },
                "examples": {
                  "Full Response": {
                    "summary": "Full directory details (Admin/Directory Token)",
                    "value": {
                      "success": true,
                      "data": {
                        "id": 123,
                        "uid": "dir-123",
                        "name": "Example Directory",
                        "billing_type": "manual",
                        "manual_type": "white_label",
                        "configuration_key": "example",
                        "is_managed": true,
                        "is_deprecated": false,
                        "is_trial_allowed": true,
                        "is_slim_register_enabled": false,
                        "is_social_links_on": true,
                        "locale": "en",
                        "time_zone": "America/New_York",
                        "paypal_email": "",
                        "rev_share": 20,
                        "settings": {
                          "enable_upgrade_page_tab": "1",
                          "enable_separate_payment_method": "0",
                          "myaccount_page_url": "",
                          "managed_login_url": "",
                          "block_external_app_uninstall": false
                        },
                        "urls": {
                          "home_url": "https://home.example.com",
                          "support_url": "https://support.example.com",
                          "faq_url": "https://faq.example.com",
                          "login_url": "https://login.example.com",
                          "signup_url": "https://signup.example.com",
                          "upgrade_page_url": "https://upgrade.example.com",
                          "cancel_page_url": "https://cancel.example.com",
                          "sms_purchase_url": "https://sms.example.com",
                          "backoffice_url": "https://backoffice.example.com"
                        },
                        "created_at": "2023-08-01T12:00:00Z",
                        "updated_at": "2023-10-01T12:00:00Z"
                      }
                    }
                  },
                  "Staff Response": {
                    "summary": "Reduced directory details (User/Staff Token)",
                    "value": {
                      "success": true,
                      "data": {
                        "is_managed": true,
                        "manual_type": "white_label",
                        "configuration_key": "example",
                        "mobile_app_ios": "https://app.store/id",
                        "mobile_app_android": "https://play.google/id",
                        "settings": {
                          "enable_upgrade_page_tab": "1",
                          "enable_separate_payment_method": "0",
                          "myaccount_page_url": "https://myaccount.example.com",
                          "managed_login_url": "https://sso.example.com",
                          "block_external_app_uninstall": false
                        },
                        "urls": {
                          "upgrade_page_url": "https://upgrade.example.com",
                          "cancel_page_url": "https://cancel.example.com",
                          "faq_url": "https://faq.example.com",
                          "support_url": "https://support.example.com",
                          "login_url": "https://login.example.com",
                          "backoffice_url": "https://backoffice.example.com"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Directory not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}
