{
  "openapi": "3.0.0",
  "info": {
    "title": "Directory API",
    "description": "API for managing directories",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the API request was successful",
            "example": true
          }
        }
      },
      "DirectoryList": {
        "type": "object",
        "properties": {
          "directories": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/business_administration/directory.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/business_administration/directories": {
      "get": {
        "summary": "List Directories",
        "description": "Retrieve a list of directories. Available for **Staff & Directory** tokens",
        "tags": ["Directory"],
        "responses": {
          "200": {
            "description": "List of directories retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DirectoryList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
} 