{
  "openapi": "3.0.0",
  "info": {
    "title": "Directory API",
    "description": "API for retrieving directory information",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Paging": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "per_page": {
            "type": "integer",
            "description": "Number of items per page",
            "example": 50
          },
          "total": {
            "type": "integer",
            "description": "Total number of items",
            "example": 2
          }
        }
      }
    }
  },
  "paths": {
    "/v3/business_administration/directories": {
      "get": {
        "summary": "Get a list of Directories",
        "description": "Returns a filtered, paginated list of directories.\n\nAvailable for **Admin Tokens**",
        "tags": ["Directory"],
        "parameters": [
          {
            "name": "is_managed",
            "in": "query",
            "required": false,
            "description": "Filter by whether the directory is a managed partner",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "is_deprecated",
            "in": "query",
            "required": false,
            "description": "Filter by whether the directory is deprecated",
            "schema": {
              "type": "boolean"
            },
            "example": false
          },
          {
            "name": "configuration_key",
            "in": "query",
            "required": false,
            "description": "Filter by a specific configuration key",
            "schema": {
              "type": "string"
            },
            "example": "abc"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of items per page (max 1000)",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directories retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the API request was successful"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "directories": {
                          "type": "array",
                          "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/business_administration/directory.json"
                          }
                        }
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/business_administration/directories/{uid}": {
      "get": {
        "summary": "Retrieve a Directory",
        "description": "Returns a specific directory based on its unique identifier.\n\nAvailable for **Admin Tokens**",
        "tags": ["Directory"],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the directory",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directory retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the API request was successful"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/business_administration/directory.json"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Directory not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}
