{
  "openapi": "3.0.0",
  "info": {
    "title": "Directory API",
    "description": "API for managing directories",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the API request was successful",
            "example": true
          }
        }
      },
      "DirectoryList": {
        "type": "object",
        "properties": {
          "directories": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/business_administration/directory.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/business_administration/directories": {
      "get": {
        "summary": "List Directories",
        "parameters": [
            {
                "name": "host",
                "in": "query",
                "description": "Host (domain or subdomain) of the directory to retriev (for example, vcita.com. Only available for **App** tokens that implements auth_bridge app type)",
                "schema": {
                  "type": "string"
                }
              },
              {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
          ],
        "description": "Retrieve a list of directories. Available for **Staff & Directory** tokens and **App** tokens that implements auth_bridge app type. For **App** tokens, the `host` query parameter is available to specify the directory host and only part of the properties are returned",
        "tags": ["Directory"],
        "responses": {
          "200": {
            "description": "List of directories retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DirectoryList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
} 