{
  "openapi": "3.0.0",
  "info": {
    "title": "License",
    "description": "",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/v3/"
    }
  ],
  "tags": [
    {
      "name": "Offering",
      "description": "The offering API facilitates seamless CRUD operations, allowing users to create, retrieve, update, and delete offering items, and related entities with ease."
    }
  ],
  "components": {
    "schemas": {
      "OfferingList": {
        "type": "object",
        "properties": {
          "offerings": {
            "description": "List of Offerings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
            }
          }
        }
      },
      "DirectoryOfferingList": {
        "type": "object",
        "properties": {
          "offerings": {
            "description": "List of DirectoryOfferings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
            }
          }
        }
      },
      "DirectoryOfferingBulkList": {
        "type": "object",
        "properties": {
          "directoryOfferings": {
            "description": "List of newly created DirectoryOfferings (for bulk creation)",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
            }
          }
        }
      },
      "BundledOfferingList": {
        "type": "object",
        "properties": {
          "offering_bundles": {
            "description": "List of BundledOfferings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
            }
          }
        }
      },
      "BundldedOfferingBulkList": {
        "type": "object",
        "properties": {
          "bundldedOfferings": {
            "description": "List of newly created BundldedOfferings (for bulk creation)",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
            }
          }
        }
      },
      "SubscriptionList": {
        "type": "object",
        "properties": {
          "subscriptions": {
            "description": "List of Subscriptions",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
            }
          }
        }
      },
      "BusinessCartList": {
        "type": "object",
        "properties": {
          "business_carts": {
            "description": "List of BusinessCarts",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
            }
          }
        }
      },
      "CreateOfferingDTO":{
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Category of the offering. Possible values include: **plan**: For the main business subscription; **app**: For marketplace app subscriptions; *SMS**: For text message offerings; **staff_seat**: For additional business seats.",
            "enum":[
              "package",
              "app",
              "SMS",
              "staff_slot"
            ]
          },
          "SKU": {
            "type": "string",
            "description": "Unique code (SKU) for the associated underlying product (e.g., app code name, offering code)",
            "example":"premium"
          },
          "display_name": {
            "type": "string",
            "description": "The product's display name",
            "example":"permium10"
          },
          "quantity": {
            "type": "number",
            "description": "The number of items included in the offering",
            "default":1,
            "example":1
          },
          "payment_type": {
            "type": "string",
            "description": "The payment type field defines the payment options available for an offering, **free**: No payment is required; **one_time**: A single, one-time payment is required to obtain the offering; **monthly**: A recurring payment made on a monthly basis; **annual**: A recurring payment made on a yearly basis; **bundle**: A subscription bundled with another subscription",
            "enum":[
              "free",
              "monthly",
              "annual",
              "single_charge",
              "external"
            ],
            "example":"monthly"
          },
          "status":{
            "type":"string",
            "description": "Current status of the directory offering",
            "default":"active",
            "enum":[
              "active",
              "inactive"
            ],
            "example":"active"
          },
          "prices":{
            "type": "array",
            "items":{
              "type": "object",
              "properties":{
                "price": {
                  "type": "number",
                  "description": "Cost of the directory offering"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency used for the price. Supported currencies: USD; EUR; GBP.",
                  "enum":[
                    "USD", 
                    "EUR", 
                    "GBP"
                  ]
                }
              }
            },
            "example":[
                {
                  "price": "5.00",
                  "currency": "USD"
                },
                {
                  "price": "5.00",
                  "currency": "EUR"
                }
            ]
          },
          "trial":{
            "type":"number",
            "description":"Number of days for the trial period. If not specified or set to 0, it indicates no trial period is offered.",
            "example":14
          },
          "bundles":{
            "type": "array",
            "items": {
              "type":"string"
            },
            "description": "List of BundledOffering uids",
            "example":[
              "bc33f12d-98ee-428f-9f65-12bca589cb21",
              "ef728e4f-98ee-428f-9f65-12bca589cb21"
            ]
          },
          "staff_seats_offering":{
            "type":"string",
            "description": "Indicates the staff seats Offering both bundled to this Offering and additional seats the business can purchase. Required for package typed Offering.",
            "example":"ec3d112d-98ee-428f-9f65-183aba589cb95"
          },
          "bundle_seats_count":{
            "type":"number",
            "description":"How many seats are bundled (included in the price) to this Offering",
            "example":10
          },
          "can_purchase_additional_seats":{
            "type":"boolean",
            "description":"Indicates if a business can purchase additional seats beyond the bundled Subscription (default: True); if False, only the bundled seats are available.",
            "default":true,
            "example":true
          }
        },
        "required": [
            "uid",
            "type",
            "SKU",
            "display_name",
            "quantity",
            "payment_type",
            "prices",
            "staff_seats_offering",
            "bundle_seats_count"
        ]   
      },
      "CreateDirectoryOfferingDTO":{
        "type": "object",
        "properties": {
          "directory_uid":{
            "type":"string",
            "description":"Unique identifier for a directory. Defines which directory is authorized to sell this Offering.",
            "example":"98ees428fq9f65tyh"
          },
          "offering_uid":{
            "type":"string",
            "description":"Unique identifier for an Offering. Defines an offering the directory is authorized to sell.",
            "example":"3f12fb61-98ee-428f-9f65-18bba589cb95"
          }
        },
        "required": [
          "directory_uid",
          "offering_uid"
        ]
      },
      "CreateBundledOfferingDTO":{
        "type": "object",
        "properties": {
          "offering_uid": {
            "type": "string",
            "description": "Unique identifier of the offering which the bundled item is being added to",
            "example":"bc33f12d-98ee-428f-9f65-12bca589cb21"
          },
          "bundled_offering_uid":{
            "type":"string",
            "description": "The bundled Offering unique identifier",
            "example":"bc33f12d-98ee-428f-9f65-18bba589cb95"
          }
        },
        "required": [
          "offering_uid",
          "bundled_offering"
        ]
      },
      "CreateSubscriptionDTO":{
        "type": "object",
        "properties": {
          "offering_uid": {
            "type": "string",
            "description": "The underlying directory offering uid",
            "example":""
          },
          "purchase_currency": {
            "type": "string",
            "description": "The purchase currency at the moment of the subscription was created. Supported currencies: USD; EUR; GBP",
            "enum":[
              "USD",
              "EUR",
              "GBP"
            ],
            "example":"USD"
          },
          "charged_by":{
            "type":"string",
            "description":"Who charges for this subscription",
            "enum":[
              "partner",
              "platform"
            ]
          }
        },
        "required": [
          "offering_uid",
          "purchase_currency"
        ]
      },
      "UpdateSubscriptionDTO":{
        "type": "object",
        "properties": {
          "purchase_state":{
            "type": "string",
            "description": "The requested purchase state of the subscription",
            "enum": [
              "canceld",
              "expired"
            ]
          },
          "expiration_date":{
            "type": "string",
            "description": "The date to expire the subscription or when it expired",
            "format": "date-time"
          }
        },
        "required": [
          "purchase_state"
        ]
      }
    }
  },
  "paths": {
    "/license/offerings": {
      "get": {
        "summary": "List all Offerings",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          },
          {
            "in": "query",
            "name": "offering_type",
            "schema": {
              "type": "string", 
              "enum":[
                "package",
                "app",
                "SMS",
                "staff_slot"
              ]
            },
            "description" : "Category of the offering. Possible values include: **plan**: For the main business subscription; **app**: For marketplace app subscriptions; **SMS**: For text message offerings; **staff_seat**: For additional business seats."         
          },
          {
            "in": "query",
            "name": "SKU",
            "schema": {
              "type": "string"
            },
            "description" : "The underlying product"         
          },
          {
            "in": "query",
            "name": "directory_uid",
            "schema": {
              "type": "string"
            },
            "description" : "A specific directory mentioned by its unique identifier"         
          },
          {
            "in": "query",
            "name": "payment_type",
            "schema": {
              "type": "string",
              "enum":[
                "monthly", 
                "annualy", 
                "free", 
                "single_charge",
                "external"
              ]
            },
            "description" : "The payment type of the offering"         
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum":[
                "active", 
                "inactive"
              ]
            },
            "description" : "The Offering status"         
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Offerings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/OfferingList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering"
        ],
        "description": "List all Offerings in scope.\n\nAvailable for **Directory, user, and internal Tokens**\n"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOfferingDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create an Offering",
        "description": "Create a new Offering.\n\nAvailable for **internal Token only**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering"
        ]
      }
    },
    "/license/offerings/{uid}": {
      "get": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Get an Offering by its unique identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                      {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                        "properties": {
                            "data": {
                                "type": "object",
                                "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                            }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Retrieve an Offering",
          "description" : "Retrieve an Offering.\n\nAvailable for **Directory, user, and internal Tokens**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering" ]
      },
      "put" : {
        "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an Offering",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Update an Offering",
        "description": "Update an Offering.\n\nAvailable for **internal Token only**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering"
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Delete an Offering",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Delete an Offering",
          "description" : "Delete an Offering.\n\nAvailable for **internal Token only**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering" ]
        }
    },
    "/license/directory_offerings" : {
      "get" : {
        "summary" : "List all DirectoryOfferings",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "integer",
            "default" : 1
          },
          "description": "Page number of the results"
        },
        {
          "in": "query",
          "name": "per_page",
          "schema": {
            "type": "integer",
            "default": 25,
            "maximum": 100
          },
          "description": "How many items to return per page"
        },
        {
          "in": "query",
          "name": "sort",
          "schema": {
            "type": "string",
            "default": "updated_at:desc"
          },
          "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
        }],
        "responses" : {
          "200" : {
            "description" : "A list of Directoryofferings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "#/components/schemas/DirectoryOfferingList"
                              }
                          }
                      }
                  ]
                }
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Directory Offering" ],
        "description" : "List all DirectoryOfferings in scope.\n\nAvailable for **Directory, user, and internal Tokens**\n"
      },
      "post" : {
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateDirectoryOfferingDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                              }
                          }
                      }
                  ]
                }
              }
            }
          }
        },
        "summary" : "Create a DirectoryOffering",
        "description" : "Create a new DirectoryOffering for a sepcific partner and Offering.\n\nAvailable for **internal Token only**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Directory Offering" ]
      }
    },
    "/license/directory_offerings/{uid}" : {
      "get" : {
        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get a DirectoryOffering by its unique identifier",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                              }
                          }
                      }
                  ]
                }
              }            
            }
          }
        },
        "summary" : "Retrieve a DirectoryOffering",
        "description" : "Retrieve a DirectoryOffering.\n\nAvailable for **Directory, user, and internal Tokens**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Directory Offering" ]
      },
      "delete" : {
        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Delete a DirectoryOffering",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                  }
                ]
              }
            }
          }
        }
      },
      "summary": "Delete a DirectoryOffering",
      "description": "Delete a DirectoryOffering.\n\nAvailable for **internal Token only.**\n",
      "security": [
        {
          "api_key": []
        }
      ],
      "tags": [
        "Directory Offering"
      ]
    }
    },
    "/license/directory_offerings/bulk": {
      "post": {
        "summary": "Bulk create DirectoryOfferings",
        "description": "Create multiple DirectoryOfferings \n\nAvailable for **Directory, and internal Tokens**\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type":"object",
                "properties": {
                  "directory_offerings":{
                    "type":"array",
                    "items":{
                      "$ref": "#/components/schemas/CreateDirectoryOfferingDTO"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The newly created list of DirectoryOfferings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/DirectoryOfferingBulkList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags" : [ "Directory Offering" ]
      }
    },
    "/license/bundled_offerings": {
      "get": {
        "summary": "List all BundledOfferings",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          },
          {
            "in": "query",
            "name": "offering_uid",
            "schema": {
              "type": "string"
            },
            "description" : "The unique identifier of the bundling parent offering"         
          },
          {
            "in": "query",
            "name": "bundled_offering_uid",
            "schema": {
              "type": "string"
            },
            "description" : "A unique identifier of one of the bundled offering"         
          }
        ],
        "responses" : {
          "200" : {
            "description" : "A list of BundledOfferings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "#/components/schemas/BundledOfferingList"
                              }
                          }
                      }
                  ]
                }
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Bundled Offering" ],
        "description" : "List all BundledOfferings in scope.\n\nAvailable for **Directory, user, and internal Tokens**\n"
      },
      "post" : {
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateBundledOfferingDTO"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
                              }
                          }
                      }
                  ]
                }
              }
            }
          }
        },
        "summary" : "Create an BundledOffering",
        "description" : "Create a new BundledOffering for a sepcific offering.\n\nAvailable for **internal Token only**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Bundled Offering" ]
      }
    },
    "/license/bundled_offerings/bulk": {
      "post": {
        "summary": "Bulk create Bundled_offering",
        "description": "Create multiple BundledOfferings for an Offering.\n\nAvailable for **internal Tokens**\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type":"object",
                "properties": {
                  "bundled_offerings":{
                    "type":"array",
                    "items":{
                      "$ref": "#/components/schemas/CreateBundledOfferingDTO"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The newly created list of BundledOfferings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BundldedOfferingBulkList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
          "tags": ["Bundled Offering"]
        } 
    },
    "/license/bundled_offerings/{uid}" : {
      "get" : {
        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get a BundledOffering by its unique identifier.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
                              }
                          }
                      }
                  ]
                }
              }            
            }
          }
        },
        "summary" : "Retrieve a BundledOffering",
        "description" : "Retrieve a BundledOffering.\n\nAvailable for **Directory, user, and internal Tokens**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Bundled Offering" ]
      },
      "delete" : {

        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete a BundledOffering",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                    {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary" : "Delete a BundledOffering",
        "description" : "Delete a BundledOffering.\n\nAvailable for **internal Token only.**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Bundled Offering" ]
      }
    },
    "/license/subscriptions": {
      "get": {
        "summary": "List all Subscriptions",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          },
          {
            "in": "query",
            "name": "is_active",
            "schema": {
              "type": "boolean"
            },
            "description" : "Category of the offering. Possible values include: **plan**: For the main business subscription; **app**: For marketplace app subscriptions; **SMS**: For text message offerings; **staff_seat** For additional business seats."         
          },
          {
            "in": "query",
            "name": "offering_type",
            "schema": {
              "type": "string", 
              "enum":[
                "package",
                "app",
                "SMS",
                "staff_slot"
              ]
            },
            "description" : "Category of the offering. Possible values include: **plan**: For the main business subscription; **app**: For marketplace app subscriptions; **SMS**: For text message offerings; **staff_seat**: For additional business seats."         
          },
          {
            "in": "query",
            "name": "offering_uid",
            "schema": {
              "type": "string"
            },
            "description" : "A specific offering mentioned by its unique identifier"         
          },
          {
            "in": "query",
            "name": "SKU",
            "schema": {
              "type": "string"
            },
            "description" : "The underlying product"         
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/SubscriptionList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Subscription"
        ],
        "description": "List all Subscriptions in scope.\n\nAvailable for **Directory, user, app, and internal Tokens**\n"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create a Subscription",
        "description": "Create a new Subscription for a business.\n\nAvailable for **Directory, user, and internal Tokens**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Subscription"
        ]
      }
    },
    "/license/subscriptions/bulk": {
      "post": {
        "summary": "Bulk create Subscriptions",
        "description": "Create multiple Subscriptions for a business.\n\nAvailable for **Directory, and internal Tokens**\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type":"object",
                "properties": {
                  "business_cart_uid":{
                    "type":"string",
                    "description": "The unique identifier of the BusinessCart to process and create Subscriptions for"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "The newly created list of Subscriptions",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/SubscriptionList"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": ["Subscription"]
        } 
    },
    "/license/subscriptions/{uid}": {
      "get": {
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve a Subscription",
        "description": "Update a Subscription.\n\nAvailable for **Directory, user, app, and internal Tokens**\n",
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Update a Subscription",
        "description": "Update a Subscription (cancel/expire).\n\nAvailable for **Directory, user, and internal Tokens**\n",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/license/business_carts": {
      "get": {
        "summary": "Get all BusinessCarts (coming soon)",
        "responses": {
          "200": {
            "description": "List of BusinessCarts",
            
            "content": {
              "application/json": {
                "schema": {
                "allOf": [
                  {
                    "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                  },
                  {
                    "properties": {
                      "data": {
                        "type": "object",
                        "$ref": "#/components/schemas/BusinessCartList"
                      }
                    }
                  }
                ]
              }
                
              }
            }
          }
        },
        "description" : "Retrieve a list of BusinessCarts",
        "tags" : [ "Business Cart" ]
      },
      "post": {
        "summary": "Create a BusinessCart",
        "requestBody": {
          "required": true,
          "content": {
              "application/json": {
                  "schema": {
                      "properties": {
                          "offering_uid": {
                              "type": "string",
                              "description": "Unique identifier of the underlying Offering"
                          }       
                      },
                      "required": [
                          "offering_uid"
                      ]
                  }
              }
          }
        },
        "responses": {
          "201": {
            "description": "BusinessCart created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                }
              }
            }
          }
        },
        "description" : "Create a new BusinessCart",
        "tags" : [ "Business Cart" ]
      }
    },
    "/license/business_carts/{uid}": {
      "get": {
        "summary": "Retrieve a BusinessCart",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The BusinessCart details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                }
              }
            }
          }
        },
        "description" : "Retrieve a BusinessCart",
        "tags" : [ "Business Cart" ]
      },
      "put": {
        "summary": "Update a BusinessCart",
        "parameters": [
          {
              "name": "uid",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "subscription_uid": {
                      "type": "string",
                      "description": "Unique identifier of the corresponding Subscription"
                  }       
              }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BusinessCart updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                }
              }
            }
          }
        },
        "description" : "Update a BusinessCart with the corresponding Subscription",
        "tags" : [ "Business Cart" ]
      }
    }
  }
}