{
    "openapi": "3.0.0",
    "info": {
      "title": "License (internal)",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.vcita.biz/v3/"
      }
    ],
    "paths": {
      "/license/business_carts": {
        "get": {
          "summary": "Get all BusinessCarts (coming soon)",
          "responses": {
            "200": {
              "description": "List of business carts",
              
              "content": {
                "application/json": {
                  "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BusinessCartsList"
                        }
                      }
                    }
                  ]
                }
                  
                }
              }
            }
          },
          "description" : "Retrieve a list of BusinessCarts for Tap",
          "tags" : [ "Business Cart" ]
        },
        "post": {
          "summary": "Create a Business Cart",
          "requestBody": {
            "required": true,
            "content": {
                "application/json": {
                    "schema": {
                        "properties": {
                            "offering_uid": {
                                "type": "string",
                                "description": "Unique identifier of the underlying offering."
                            }       
                        },
                        "required": [
                            "offering_uid"
                        ]
                    }
                }
            }
          },
          "responses": {
            "201": {
              "description": "Cart created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                  }
                }
              }
            }
          },
          "description" : "Create a new BusinessCarts",
          "tags" : [ "Business Cart" ]
        }
      },
      "/license/business_carts/{uid}": {
        "get": {
          "summary": "Retrieve a BusinessCart",
          "parameters": [
            {
              "name": "uid",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "The BusinessCart details",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                  }
                }
              }
            }
          },
          "description" : "Retrieve a BusinessCart",
          "tags" : [ "Business Cart" ]
        },
        "put": {
          "summary": "Update a BusinessCart",
          "parameters": [
            {
                "name": "uid",
                "in": "path",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "subscription_uid": {
                        "type": "string",
                        "description": "Unique identifier of the corresponding subscription."
                    }       
                }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "BusinessCart updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                  }
                }
              }
            }
          },
          "description" : "Update a BusinessCarts with the corresponding subscription",
          "tags" : [ "Business Cart" ]
        }
      }
    },
    "components": {
      "schemas": {
        "BusinessCartsList": {
          "type": "object",
          "properties": {
            "business_carts": {
              "description": "List of business carts",
              "type": "array",
              "items": {
                "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
              }
            }
          }
        }
      }
    }
  }
  