{
    "openapi": "3.0.0",
    "info": {
      "title": "License",
      "description": "",
      "contact": {},
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.vcita.biz/v3/"
      }
    ],
    "tags": [
      {
        "name": "Directory Offering",
        "description": "The directory offering API facilitates seamless CRUD operations, allowing users to create, retrieve, update, and delete directory offering items with ease."
      }
    ],
    "components": {
        "schemas": {
            "directoryOfferingsList": {
                "type": "object",
                "properties": {
                    "business_roles": {
                        "description": "List of directoryOfferings",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                        }
                    }
                }
            },
            "directoryOfferingBundleList": {
                "type": "object",
                "properties": {
                    "premissions": {
                        "description": "List of directoryOfferingBundles",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOfferingBundle.json"
                        }
                    }
                }
            },
            "SubscriptionsList": {
                "type": "object",
                "properties": {
                    "business_roles": {
                        "description": "List of subscriptions",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                    }
                }
            }
        }
    },
    "paths": {
      "/license/directory_offerings" : {
        "get" : {
          "summary" : "List all directory offerings.",
          "parameters" : [ {
            "in" : "query",
            "name" : "page",
            "schema" : {
              "type" : "integer",
              "default" : 1
            },
            "description" : "Page number of the results."
          }, {
            "in" : "query",
            "name" : "per_page",
            "schema" : {
              "type" : "integer",
              "default" : 25,
              "maximum" : 100
            },
            "description" : "How many items to return per page."
          }, {
            "in" : "query",
            "name" : "sort",
            "schema" : {
              "type" : "string",
              "default" : "updated_at:desc"
            },
            "description" : "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          }, {
            "in" : "query",
            "name" : "filter",
            "schema" : {
              "type" : "string"
            },
            "description" : "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at, directory_uid, product_unique_code, type, status**\n. Leaving the filter empty returns results based on authentication",
            "example" : "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
          } ],
          "responses" : {
            "200" : {
              "description" : "A list of directory offerings.",
              "content" : {
                "application/json" : {
                  "schema": {
                    "allOf": [
                        {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "#/components/schemas/DirectoryOfferingsList"
                              }
                          }
                        }
                    ]
                }
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Directory Offering" ],
        "description" : "List all directory offerings in scope.\n\nAvailable for **Directory, user, and internal Tokens**\n"
        },
        "post" : {
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "201" : {
              "description" : "",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                                }
                            }
                        }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Create a directory offering",
          "description" : "Create a new directory offering for a sepcific directory.\n\nAvailable for **internal Token only**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Directory Offering" ]
        }
      },
      "/license/directory_offerings/{uid}" : {
        "get" : {
          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Get directory offering by its unique identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                      {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                        "properties": {
                            "data": {
                                "type": "object",
                                "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                            }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Retrieve a directory offering by id",
          "description" : "Retrieve a directory offering.\n\nAvailable for **Directory, user, and internal Tokens**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Directory Offering" ]
        },
        "put" : {
          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Update directory offering",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                                }
                            }
                        }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Update a directory offering",
          "description" : "Update a directory offering.\n\nAvailable for **internal Token only**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Directory Offering" ]
        },
        "delete" : {
          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Delete directory offering",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Delete a directory offering",
          "description" : "Delete a directory offering.\n\nAvailable for **internal Token only**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Directory Offering" ]
        }
      },
      "/license/directory_offering_bundles" : {
        "get" : {
          "summary" : "List all directory offering bundles.",
          "parameters" : [ {
            "in" : "query",
            "name" : "page",
            "schema" : {
              "type" : "integer",
              "default" : 1
            },
            "description" : "Page number of the results."
          }, {
            "in" : "query",
            "name" : "per_page",
            "schema" : {
              "type" : "integer",
              "default" : 25,
              "maximum" : 100
            },
            "description" : "How many items to return per page."
          }, {
            "in" : "query",
            "name" : "sort",
            "schema" : {
              "type" : "string",
              "default" : "updated_at:desc"
            },
            "description" : "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          }, {
            "in" : "query",
            "name" : "filter",
            "schema" : {
              "type" : "string"
            },
            "description" : "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at, directory_uid, directory_offering_uid**\n. Leaving the filter empty returns results based on authentication of the main directory offering",
            "example" : "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
          } ],
          "responses" : {
            "200" : {
              "description" : "A list of directory offering bundles.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/directoryOfferingBundleList"
                                }
                            }
                        }
                    ]
                  }
                }
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Directory Offering Bundle" ],
          "description" : "List all directory offering bundles in scope.\n\nAvailable for **Directory, user, and internal Tokens**\n"
        },
        "post" : {
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://vcita.github.io/developers-hub/entities/license/directoryOfferingBundle.json"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "201" : {
              "description" : "",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOfferingBundle.json"
                                }
                            }
                        }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Create a directory offering Bundle",
          "description" : "Create a new directory offering Bundle for a sepcific directory offering.\n\nAvailable for **internal Token only**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Directory Offering Bundle" ]
        }
      },
      "/license/directory_offering_bundles/{uid}" : {
        "get" : {
          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Get directory offering bundle by its unique identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOfferingBundle.json"
                                }
                            }
                        }
                    ]
                  }
                }            
              }
            }
          },
          "summary" : "Retrieve a directory offering bundle by id",
          "description" : "Retrieve a directory offering bundle.\n\nAvailable for **Directory, user, and internal Tokens**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Directory Offering Bundle" ]
        },
        "put" : {

          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://vcita.github.io/developers-hub/entities/license/directoryOfferingBundle.json"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Update directory offering bundle",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOfferingBundle.json"
                                }
                            }
                        }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Update a directory offering bundle",
          "description" : "Update a directory offering.\n\nAvailable for **internal Token only**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Directory Offering Bundle" ]
        },
        "delete" : {

          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Delete directory offering bundle",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Delete a directory offering bundle",
          "description" : "Delete a directory offering bundle.\n\nAvailable for **internal Token only.**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Directory Offering Bundle" ]
        }
      },
      "/license/subscriptions" : {
      "get" : {
        "summary" : "List all Subscriptions",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "integer",
            "default" : 1
          },
          "description" : "Page number of the results."
        }, {
          "in" : "query",
          "name" : "per_page",
          "schema" : {
            "type" : "integer",
            "default" : 25,
            "maximum" : 100
          },
          "description" : "How many items to return per page."
        }, {
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string",
            "default" : "updated_at:desc"
          },
          "description" : "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
        }, {
          "in" : "query",
          "name" : "filter",
          "schema" : {
            "type" : "string"
          },
          "description" : "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at**\n",
          "example" : "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of subscriptions.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "#/components/schemas/SubscriptionsList"
                              }
                          }
                      }
                  ]
              }
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Subscription" ],
        "description" : "List all subscriptions in scope.\n\nAvailable for **Directory, user, app, and internal Tokens**\n"
      },
      "post" : {
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "https://vcita.github.io/developers-hub/entities/license/subscription.json"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                              }
                          }
                      }
                  ]
                }
              }
            }
          }
        },
        "summary" : "Create a Subscription",
        "description" : "Create a new subscription for a business.\n\nAvailable for **Directory, user, and internal Tokens**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Subscription" ]
      }
      },
      "/license/subscriptions/{subscription_uid}" : {
        "get" : {

          "tags" : [ "Subscription" ],
          "parameters" : [ {
            "name" : "subscription_uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Subscription Created",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                              }
                          }
                      }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Retrieve a Subscription",
          "description" : "Update a subscription.\n\nAvailable for **Directory, user, app, and internal Tokens**\n",
          "security" : [ {
            "api_key" : [ ]
          } ]
        },
        "put" : {
          "tags" : [ "Subscription" ],
          "parameters" : [ {
            "name" : "subscription_uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                              }
                          }
                      }
                  ]
                }
                }
              }
            }
          },
          "summary" : "Update a Subscription",
          "description" : "Update a subscription (cancel/expire).\n\nAvailable for **Directory, user, and internal Tokens**\n",
          "security" : [ {
            "api_key" : [ ]
          } ]
        }
      }
    }
  }
  