{
  "openapi": "3.0.0",
  "info": {
    "title": "License",
    "description": "",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/v3/"
    }
  ],
  "tags": [
    {
      "name": "Offering",
      "description": "The offering API facilitates seamless CRUD operations, allowing users to create, retrieve, update, and delete offering items, and related entities with ease."
    }
  ],
  "components": {
    "schemas": {
      "OfferingsList": {
        "type": "object",
        "properties": {
          "offerings": {
            "description": "List of offerings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
            }
          }
        }
      },
      "PartnerOfferingsList": {
        "type": "object",
        "properties": {
          "offerings": {
            "description": "List of partner offerings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/partnerOffering.json"
            }
          }
        }
      },
      "PartnerOfferingBulkList": {
        "type": "object",
        "properties": {
          "partnerOfferings": {
            "description": "List of newly created partner offerings (for bulk creation)",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/partnerOffering.json"
            }
          }
        }
      },
      "OfferingBundlesList": {
        "type": "object",
        "properties": {
          "offering_bundles": {
            "description": "List of offering bundles",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/offeringBundle.json"
            }
          }
        }
      },
      "OfferingRelatedList": {
        "type": "object",
        "properties": {
          "offering_bundles": {
            "description": "List of offerings bundles",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/offeringRelated.json"
            }
          }
        }
      },
      "SubscriptionsList": {
        "type": "object",
        "properties": {
          "subscriptions": {
            "description": "List of subscriptions",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/license/offerings": {
      "get": {
        "summary": "List all offerings.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at, SKU, type, status**\n. Leaving the filter empty returns results based on authentication",
            "example": "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Offerings.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/OfferingsList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering"
        ],
        "description": "List all offerings in scope.\n\nAvailable for **Directory, user, and internal Tokens**\n"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create an offering",
        "description": "Create a new offering.\n\nAvailable for **internal Token only**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering"
        ]
      }
    },
    "/license/offerings/{uid}": {
      "get": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Get an offering by its unique identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                      {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                        "properties": {
                            "data": {
                                "type": "object",
                                "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                            }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Retrieve an Offering",
          "description" : "Retrieve an offering.\n\nAvailable for **Directory, user, and internal Tokens**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering" ]
        },
        "put" : {
          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an offering",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Update an offering",
        "description": "Update an offering.\n\nAvailable for **internal Token only**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering"
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Delete an offering",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Delete an offering",
          "description" : "Delete an offering.\n\nAvailable for **internal Token only**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering" ]
        }
      },
      "/license/partner_offering" : {
        "get" : {
          "summary" : "List all PartnerOfferings",
          "parameters" : [ {
            "in" : "query",
            "name" : "page",
            "schema" : {
              "type" : "integer",
              "default" : 1
            },
            "description": "Page number of the results."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description" : "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at, uid, directory_uid, offering_uid**\n. Leaving the filter empty returns results based on authentication of the main directory offering",
            "example" : "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
          } ],
          "responses" : {
            "200" : {
              "description" : "A list of partner offerings",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/PartnerOfferingsList"
                                }
                            }
                        }
                    ]
                  }
                }
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Partner Offering" ],
          "description" : "List all partner offerings in scope.\n\nAvailable for **Directory, user, and internal Tokens**\n"
        },
        "post" : {
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://vcita.github.io/developers-hub/entities/license/partnerOffering.json"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "201" : {
              "description" : "",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "https://vcita.github.io/developers-hub/entities/license/partnerOffering.json"
                                }
                            }
                        }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Create a PartnerOffering",
          "description" : "Create a new partner offering for a sepcific partner and offering.\n\nAvailable for **internal Token only**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Partner Offering" ]
        }
      },
      "/license/partner_offering/{uid}" : {
        "get" : {
          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Get a partner offering by its unique identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "https://vcita.github.io/developers-hub/entities/license/partnerOffering.json"
                                }
                            }
                        }
                    ]
                  }
                }            
              }
            }
          },
          "summary" : "Retrieve a PartnerOffering",
          "description" : "Retrieve a partner offering.\n\nAvailable for **Directory, user, and internal Tokens**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Partner Offering" ]
        },
        "delete" : {

          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a partner offering",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Delete a PartnerOffering",
        "description": "Delete a partner offering.\n\nAvailable for **internal Token only.**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Partner Offering"
        ]
      }
    },
    "/license/partner_offering/bulk": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type":"object",
                "properties": {
                  "partner_offerings":{
                    "type":"array",
                    "items":{
                      "$ref": "https://vcita.github.io/developers-hub/entities/license/partnerOffering.json"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The newly created list of partnerOfferings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/PartnerOfferingBulkList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/license/offering_bundles": {
      "get": {
        "summary": "List all OfferingBundles.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description" : "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at, uid**\n. Leaving the filter empty returns results based on authentication of the main directory offering",
            "example" : "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
          } ],
          "responses" : {
            "200" : {
              "description" : "A list of offerings bundles.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/OfferingBundlesList"
                                }
                            }
                        }
                    ]
                  }
                }
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering Bundle" ],
          "description" : "List all offerings bundles in scope.\n\nAvailable for **Directory, user, and internal Tokens**\n"
        },
        "post" : {
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://vcita.github.io/developers-hub/entities/license/offeringBundle.json"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "201" : {
              "description" : "",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "https://vcita.github.io/developers-hub/entities/license/offeringBundle.json"
                                }
                            }
                        }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Create an OfferingBundle",
          "description" : "Create a new offering Bundle for a sepcific offering.\n\nAvailable for **internal Token only**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering Bundle" ]
        }
      },
      "/license/offering_bundles/{uid}" : {
        "get" : {
          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Get an offering bundle by its unique identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "https://vcita.github.io/developers-hub/entities/license/offeringBundle.json"
                                }
                            }
                        }
                    ]
                  }
                }            
              }
            }
          },
          "summary" : "Retrieve an OfferingBundle",
          "description" : "Retrieve an offering bundle.\n\nAvailable for **Directory, user, and internal Tokens**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering Bundle" ]
        },
        "put" : {

          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "requestBody" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "https://vcita.github.io/developers-hub/entities/license/offeringBundle.json"
                }
              }
            },
            "required" : true
          },
          "responses" : {
            "200" : {
              "description" : "Update an OfferingBundle",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "https://vcita.github.io/developers-hub/entities/license/offeringBundle.json"
                                }
                            }
                        }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Update an offering bundle",
          "description" : "Update an offering.\n\nAvailable for **internal Token only**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering Bundle" ]
        },
        "delete" : {

          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Delete an OfferingBundle",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Delete an offering bundle",
          "description" : "Delete an offering bundle.\n\nAvailable for **internal Token only.**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering Bundle" ]
        }
      },
      "/license/offering_related" : {
        "get" : {
          "summary" : "List all OfferingRelated",
          "parameters" : [ {
            "in" : "query",
            "name" : "page",
            "schema" : {
              "type" : "integer",
              "default" : 1
            },
            "description": "Page number of the results."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at, uid**\n. Leaving the filter empty returns results based on authentication of the main directory offering",
            "example": "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of offerings related items.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/OfferingRelatedList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering Related"
        ],
        "description": "List all offerings realted items in scope.\n\nAvailable for **Directory, user, and internal Tokens**\n"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://vcita.github.io/developers-hub/entities/license/offeringRelated.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offeringRelated.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create an offering related item",
        "description": "Create a new offering related item for a sepcific offering.\n\nAvailable for **internal Token only**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering Related"
        ]
      }
    },
    "/license/offering_related/{uid}": {
      "get": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Get an offering related items by its unique identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "https://vcita.github.io/developers-hub/entities/license/offeringRelated.json"
                                }
                            }
                        }
                    ]
                  }
                }            
              }
            }
          },
          "summary" : "Retrieve an Offering",
          "description" : "Retrieve an offering bundle.\n\nAvailable for **Directory, user, and internal Tokens**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering Related" ]
        },
        "put" : {

          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://vcita.github.io/developers-hub/entities/license/offeringRelated.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an offering related items",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offeringRelated.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Update an offering related items",
        "description": "Update an offering related items.\n\nAvailable for **internal Token only**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering Related"
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete an offering related items",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Delete an offering related",
        "description": "Delete an offering bundle.\n\nAvailable for **internal Token only.**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering Related"
        ]
      }
    },
    "/license/subscriptions": {
      "get": {
        "summary": "List all Subscriptions",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at**\n",
            "example": "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/SubscriptionsList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Subscription"
        ],
        "description": "List all subscriptions in scope.\n\nAvailable for **Directory, user, app, and internal Tokens**\n"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create a Subscription",
        "description": "Create a new subscription for a business.\n\nAvailable for **Directory, user, and internal Tokens**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Subscription"
        ]
      }
    },
    "/license/subscriptions/{subscription_uid}": {
      "get": {
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "name": "subscription_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve a Subscription",
        "description": "Update a subscription.\n\nAvailable for **Directory, user, app, and internal Tokens**\n",
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "name": "subscription_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Update a Subscription",
        "description": "Update a subscription (cancel/expire).\n\nAvailable for **Directory, user, and internal Tokens**\n",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  }
}