{
  "openapi": "3.0.0",
  "info": {
    "title": "License",
    "description": "",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/v3/"
    }
  ],
  "tags": [
    {
      "name": "Offering",
      "description": "The offering API facilitates seamless CRUD operations, allowing users to create, retrieve, update, and delete offering items, and related entities with ease."
    }
  ],
  "components": {
    "schemas": {
      "OfferingsList": {
        "type": "object",
        "properties": {
          "offerings": {
            "description": "List of offerings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
            }
          }
        }
      },
      "directoryOfferingsList": {
        "type": "object",
        "properties": {
          "offerings": {
            "description": "List of directory offerings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
            }
          }
        }
      },
      "directoryOfferingBulkList": {
        "type": "object",
        "properties": {
          "directoryOfferings": {
            "description": "List of newly created directory offerings (for bulk creation)",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
            }
          }
        }
      },
      "bundledOfferingsList": {
        "type": "object",
        "properties": {
          "offering_bundles": {
            "description": "List of offering bundles",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
            }
          }
        }
      },
      "OfferingRelatedList": {
        "type": "object",
        "properties": {
          "offering_bundles": {
            "description": "List of offerings bundles",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/offeringRelated.json"
            }
          }
        }
      },
      "SubscriptionsList": {
        "type": "object",
        "properties": {
          "subscriptions": {
            "description": "List of subscriptions",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
            }
          }
        }
      },
      "CreateOfferingDTO":{
        "type": "object",
        "properties": {
          "type": {
              "description": "Category of the offering. Possible values include: ״plan״ for the main business subscription; ״app״ for marketplace app subscriptions; ״SMS״ for text message offerings; ״staff_seat״ for additional business seats.",
              "enum":[
                "package",
                "app",
                "SMS",
                "staff_slot"
              ],
              "example": "package"
          },
          "SKU": {
            "type": "string",
            "description": "Unique code (SKU) for the associated underlying product (e.g., app code name, offering code)",
            "example":"premimum_10"
          },
          "display_name": {
            "type": "string",
            "description": "The product's display name",
            "example":"Premium 10"
          },
          "quantity": {
            "type": "number",
            "description": "The number of items included in the offering",
            "default":1,
            "example":1
          },
          "payment_type": {
            "type": "string",
            "description": "Defines the billing cycle period.",
            "enum":[
              "monthly", 
              "annualy", 
              "free", 
              "single_charge",
              "partner"
            ],
            "example":"monthly"
          },
          "status":{
            "type":"string",
            "description": "Current status of the directory offering",
            "default":"active",
            "enum":[
              "active",
              "inactive"
            ],
            "example":"active"
          },
          "prices":{
            "type": "array",
            "items":{
              "type": "object",
              "properties":{
                "price": {
                  "type": "number",
                  "description": "Cost of the directory offering"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency used for the price",
                  "enum":[
                    "USD", 
                    "EUR", 
                    "GBP"
                  ]
                }
              }
            },
            "example":[
                {
                  "price": "5.00",
                  "currency": "USD"
                },
                {
                  "price": "5.00",
                  "currency": "EUR"
                }
            ]
          },
          "trial":{
            "type":"number",
            "description":"Number of days for the trial period. If not specified or set to 0, it indicates no trial period is offered.",
            "example":14
          },
          "bundles":{
            "type": "array",
            "items": {
              "type":"string"
            },
            "description": "List of bundled offering uids",
            "example":[
              "bc33f12d-98ee-428f-9f65-12bca589cb21",
              "ef728e4f-98ee-428f-9f65-12bca589cb21"
            ]
          },
          "staff_seats_offering":{
            "type":"string",
            "description": "Indicates the staff seats offering both bundled to this offering and additional seats the business can purchase. Required for package typed offering ",
            "example":"ec3d112d-98ee-428f-9f65-183aba589cb95"
          },
          "bundle_seats_count":{
            "type":"number",
            "description":"How many seats are bundled (included in the price) to this offering.",
            "example":10
          },
          "can_purchase_additional_seats":{
            "type":"boolean",
            "description":"Indicates if a business can purchase additional seats beyond the bundled subscription (default: True); if False, only the bundled seats are available.",
            "default":true,
            "example":true
          }
        },
        "required": [
            "uid",
            "type",
            "SKU",
            "display_name",
            "quantity",
            "payment_type",
            "prices",
            "staff_seats_offering",
            "bundle_seats_count"
        ]   
      },
      "CreatedirectoryOfferingDTO":{
        "type": "object",
        "properties": {
          "directory_uid":{
            "type":"string",
            "description":"Unique identifier for a directory. Defines which directory is authorized to sell this offering.",
            "example":"98ees428fq9f65tyh"
          },
          "offering_uid":{
            "type":"string",
            "description":"Unique identifier for an offering. Defines an offering the directory is authorized to sell.",
            "example":"3f12fb61-98ee-428f-9f65-18bba589cb95"
          },
          "status":{
            "type":"string",
            "description":"Whether the directory-offering pair is 'active'-the offering is assigned to the partner, or 'inactive'-the offering is not avaiable for use by the partner",
            "enum":[
                "active",
                "inactive"
            ],
            "default":"active",
            "example":"active"
          }
        },
        "required": [
          "directory_uid",
          "offering_uid"
        ]
      },
      "CreatebundledOfferingDTO":{
        "type": "object",
        "properties": {
          "offering_uid": {
            "type": "string",
            "description": "Unique identifier for the parent bundled of items",
            "example":"bc33f12d-98ee-428f-9f65-12bca589cb21"
          },
          "bundled_offerings":{
            "type":"array",
            "items":{
              "type":"string"
            },
            "description": "The list of bundled items unique identifiers",
            "example":[
              "bc33f12d-98ee-428f-9f65-18bba589cb95",
              "bc33f12d-98ee-428f-9b75-18bba589cb12"
            ]
          }
        },
        "required": [
          "offering_uid",
          "bundled_offerings"
        ]
      },
      "CreateSubscriptionDTO":{
        "type": "object",
        "properties": {
          "offering_uid": {
            "type": "string",
            "description": "The underlying directory offering uid.",
            "example":""
          },
          "buyer_uid": {
            "type": "string",
            "description": "The actor of the action, the staff uid.",
            "example":"user_12345"
          },
          "business_uid": {
            "type": "string",
            "description": "The business that the subscription relates to.",
            "example":"biz_67890"
          },
          "purchase_price": {
            "type": "number",
            "description": "The purchase price at the moment of the subscription was created.",
            "example":99.95
          },
          "purchase_currency": {
            "type": "string",
            "description": "The purchase currency at the moment of the subscription was created.",
            "enum":[
              "USD",
              "EUR",
              "GBP"
            ],
            "example":"USD"
          },
          "payment_type": {
            "type": "string",
            "description": "TBD (seperate to two fields - type and frequency) The payment type field defines the payment options available for a offeringת 'free' - No payment is required; 'one_time' - A single, one-time payment is required to obtain the offering; 'monthly' - A recurring payment made on a monthly basis; 'annual' - A recurring payment made on a yearly basis; 'bundle' - A subscription bundled with another subscription",
            "enum":[
              "free",
              "one_time",
              "monthly",
              "annual",
              "bundle"
            ],
            "example":"monthly"
          },
          "charged_by":{
            "type":"string",
            "description":"Who charges for this subscription",
            "enum":[
              "partner",
              "inTandem",
              "direct_recurly",
              "SBTPG_recurly"
            ],
            "example":"inTandem"
          }
        },
        "required": [
          "offering_uid",
          "buyer_uid",
          "business_uid",
          "purchase_price",
          "purchase_currency",
          "payment_type",
          "charged_by"
        ]
      },
      "BusinessCartsList": {
        "type": "object",
        "properties": {
          "business_carts": {
            "description": "List of business carts",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/license/offerings": {
      "get": {
        "summary": "List all offerings.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at, SKU, type, status**\n. Leaving the filter empty returns results based on authentication",
            "example": "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Offerings.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/OfferingsList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering"
        ],
        "description": "List all offerings in scope.\n\nAvailable for **Directory, user, and internal Tokens**\n"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOfferingDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create an offering",
        "description": "Create a new offering.\n\nAvailable for **internal Token only**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering"
        ]
      }
    },
    "/license/offerings/{uid}": {
      "get": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Get an offering by its unique identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                      {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                        "properties": {
                            "data": {
                                "type": "object",
                                "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                            }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Retrieve an Offering",
          "description" : "Retrieve an offering.\n\nAvailable for **Directory, user, and internal Tokens**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering" ]
      },
      "put" : {
        "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an offering",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Update an offering",
        "description": "Update an offering.\n\nAvailable for **internal Token only**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Offering"
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Delete an offering",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        }
                    ]
                  }
                }
              }
            }
          },
          "summary" : "Delete an offering",
          "description" : "Delete an offering.\n\nAvailable for **internal Token only**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering" ]
        }
    },
    "/license/directory_offering" : {
      "get" : {
        "summary" : "List all directoryOfferings",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "integer",
            "default" : 1
          },
          "description": "Page number of the results."
        },
        {
          "in": "query",
          "name": "per_page",
          "schema": {
            "type": "integer",
            "default": 25,
            "maximum": 100
          },
          "description": "How many items to return per page."
        },
        {
          "in": "query",
          "name": "sort",
          "schema": {
            "type": "string",
            "default": "updated_at:desc"
          },
          "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
        },
        {
          "in": "query",
          "name": "filter",
          "schema": {
            "type": "string"
          },
          "description" : "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at, uid, directory_uid, offering_uid**\n. Leaving the filter empty returns results based on authentication of the main directory offering",
          "example" : "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of directory offerings",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "#/components/schemas/directoryOfferingsList"
                              }
                          }
                      }
                  ]
                }
              }
            }
          }
        },
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "directory Offering" ],
        "description" : "List all directory offerings in scope.\n\nAvailable for **Directory, user, and internal Tokens**\n"
      },
      "post" : {
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatedirectoryOfferingDTO"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                              }
                          }
                      }
                  ]
                }
              }
            }
          }
        },
        "summary" : "Create a directoryOffering",
        "description" : "Create a new directory offering for a sepcific partner and offering.\n\nAvailable for **internal Token only**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "directory Offering" ]
      }
    },
    "/license/directory_offering/{uid}" : {
      "get" : {
        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get a directory offering by its unique identifier",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                              }
                          }
                      }
                  ]
                }
              }            
            }
          }
        },
        "summary" : "Retrieve a directoryOffering",
        "description" : "Retrieve a directory offering.\n\nAvailable for **Directory, user, and internal Tokens**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "directory Offering" ]
      },
      "delete" : {
        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Delete a directory offering",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                  }
                ]
              }
            }
          }
        }
      },
      "summary": "Delete a directoryOffering",
      "description": "Delete a directory offering.\n\nAvailable for **internal Token only.**\n",
      "security": [
        {
          "api_key": []
        }
      ],
      "tags": [
        "directory Offering"
      ]
    }
    },
    "/license/directory_offering/bulk": {
      "post": {
        "summary": "Bulk Create directoryOfferings",
        "description": "Create multiple directoryOffering\n\nAvailable for **Directory, and internal Tokens**\n",
   
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type":"object",
                "properties": {
                  "directory_offerings":{
                    "type":"array",
                    "items":{
                      "$ref": "#/components/schemas/CreatedirectoryOfferingDTO"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The newly created list of directoryOfferings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/directoryOfferingBulkList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags" : [ "directory Offering" ]
      }
    },
    "/license/offering_bundles": {
      "get": {
        "summary": "List all bundledOfferings.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description" : "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at, uid**\n. Leaving the filter empty returns results based on authentication of the main directory offering",
            "example" : "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
          } ],
          "responses" : {
            "200" : {
              "description" : "A list of offerings bundles.",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "allOf": [
                        {
                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                        },
                        {
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "$ref": "#/components/schemas/bundledOfferingsList"
                                }
                            }
                        }
                    ]
                  }
                }
              }
            }
          },
          "security" : [ {
            "api_key" : [ ]
          } ],
          "tags" : [ "Offering Bundle" ],
          "description" : "List all offerings bundles in scope.\n\nAvailable for **Directory, user, and internal Tokens**\n"
      },
      "post" : {
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatebundledOfferingDTO"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
                              }
                          }
                      }
                  ]
                }
              }
            }
          }
        },
        "summary" : "Create an bundledOffering",
        "description" : "Create a new offering Bundle for a sepcific offering.\n\nAvailable for **internal Token only**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Offering Bundle" ]
      }
    },
    "/license/offering_bundles/{uid}" : {
      "get" : {
        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get an offering bundle by its unique identifier",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
                              }
                          }
                      }
                  ]
                }
              }            
            }
          }
        },
        "summary" : "Retrieve an bundledOffering",
        "description" : "Retrieve an offering bundle.\n\nAvailable for **Directory, user, and internal Tokens**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Offering Bundle" ]
      },
      "put" : {

        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Update an bundledOffering",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                      {
                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                          "properties": {
                              "data": {
                                  "type": "object",
                                  "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
                              }
                          }
                      }
                  ]
                }
              }
            }
          }
        },
        "summary" : "Update an offering bundle",
        "description" : "Update an offering.\n\nAvailable for **internal Token only**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Offering Bundle" ]
      },
      "delete" : {

        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Delete an bundledOffering",
            "content" : {
              "application/json" : {
                "schema" : {
                  "allOf": [
                    {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary" : "Delete an offering bundle",
        "description" : "Delete an offering bundle.\n\nAvailable for **internal Token only.**\n",
        "security" : [ {
          "api_key" : [ ]
        } ],
        "tags" : [ "Offering Bundle" ]
      }
    },
    "/license/subscriptions": {
      "get": {
        "summary": "List all Subscriptions",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results."
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page."
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            },
            "description": "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at**\n",
            "example": "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of subscriptions.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/SubscriptionsList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Subscription"
        ],
        "description": "List all subscriptions in scope.\n\nAvailable for **Directory, user, app, and internal Tokens**\n"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create a Subscription",
        "description": "Create a new subscription for a business.\n\nAvailable for **Directory, user, and internal Tokens**\n",
        "security": [
          {
            "api_key": []
          }
        ],
        "tags": [
          "Subscription"
        ]
      }
    },
    "/license/subscriptions/bulk": {
      "post": {
        "summary": "Bulk Create Subscriptions",
        "description": "Create multiple subscriptions for a business.\n\nAvailable for **Directory, and internal Tokens**\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type":"object",
                "properties": {
                  "business_cart_uid":{
                    "type":"string",
                    "description": "The unique identifier of the business cart to process and create subscriptions for."
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "The newly created list of subscriptions",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/SubscriptionsList"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": ["Subscription"]
        } 
    },
    "/license/subscriptions/{subscription_uid}": {
      "get": {
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "name": "subscription_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve a Subscription",
        "description": "Update a subscription.\n\nAvailable for **Directory, user, app, and internal Tokens**\n",
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "name": "subscription_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Update a Subscription",
        "description": "Update a subscription (cancel/expire).\n\nAvailable for **Directory, user, and internal Tokens**\n",
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/license/business_carts": {
      "get": {
        "summary": "Get all BusinessCarts (coming soon)",
        "responses": {
          "200": {
            "description": "List of business carts",
            
            "content": {
              "application/json": {
                "schema": {
                "allOf": [
                  {
                    "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                  },
                  {
                    "properties": {
                      "data": {
                        "type": "object",
                        "$ref": "#/components/schemas/BusinessCartsList"
                      }
                    }
                  }
                ]
              }
                
              }
            }
          }
        },
        "description" : "Retrieve a list of BusinessCarts for Tap",
        "tags" : [ "Business Cart" ]
      },
      "post": {
        "summary": "Create a Business Cart",
        "requestBody": {
          "required": true,
          "content": {
              "application/json": {
                  "schema": {
                      "properties": {
                          "offering_uid": {
                              "type": "string",
                              "description": "Unique identifier of the underlying offering."
                          }       
                      },
                      "required": [
                          "offering_uid"
                      ]
                  }
              }
          }
        },
        "responses": {
          "201": {
            "description": "Cart created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                }
              }
            }
          }
        },
        "description" : "Create a new BusinessCarts",
        "tags" : [ "Business Cart" ]
      }
    },
    "/license/business_carts/{uid}": {
      "get": {
        "summary": "Retrieve a BusinessCart",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The BusinessCart details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                }
              }
            }
          }
        },
        "description" : "Retrieve a BusinessCart",
        "tags" : [ "Business Cart" ]
      },
      "put": {
        "summary": "Update a BusinessCart",
        "parameters": [
          {
              "name": "uid",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "subscription_uid": {
                      "type": "string",
                      "description": "Unique identifier of the corresponding subscription."
                  }       
              }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BusinessCart updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                }
              }
            }
          }
        },
        "description" : "Update a BusinessCarts with the corresponding subscription",
        "tags" : [ "Business Cart" ]
      }
    }
  }
}