{
  "openapi": "3.0.0",
  "info": {
    "title": "License",
    "description": "",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/v3/"
    }
  ],
  "tags": [
    {
      "name": "Offering",
      "description": "The offering API facilitates seamless CRUD operations, allowing staff to create, retrieve, update, and delete offering items, and related entities with ease."
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error response format.",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Human-readable error message."
                },
                "code": {
                  "type": "string",
                  "description": "Error code for programmatic handling."
                },
                "field": {
                  "type": "string",
                  "description": "The field that caused the error (if applicable)."
                }
              }
            }
          }
        }
      },
      "FeaturesPackageList": {
        "type": "object",
        "properties": {
          "features_packages": {
            "description": "List of Features Packages",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/featuresPackage.json"
            }
          }
        }
      },
      "OfferingList": {
        "type": "object",
        "properties": {
          "offerings": {
            "description": "List of Offerings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
            }
          }
        }
      },
      "CreateOfferingDTO": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the offering. Possible values include: **package**: For the main business subscription; **app**: For marketplace app subscriptions; *addon**: for additional products like SMS, staff_seat and module.",
            "enum": [
              "package",
              "app",
              "addon"
            ],
            "example": "package"
          },
          "SKU": {
            "type": "string",
            "description": "The unique code of the single SKU this offering represents. Obtain valid SKU values by calling `GET /v3/license/skus` and using the `code_name` field from the response. The SKU type must match the offering type: use SKUs from `GET /v3/license/skus?type=package` for package offerings, `GET /v3/license/skus?type=addon` for addon offerings, and `GET /v3/license/skus?type=app` for app offerings. Offerings support exactly one SKU; to combine multiple SKUs, use a bundledOffering or similar higher-level abstraction.",
            "example": "premium"
          },
          "display_name": {
            "type": "string",
            "description": "The Offering's display name",
            "example": "permium10"
          },
          "quantity": {
            "type": "number",
            "description": "The number of items included in the offering",
            "default": 1,
            "example": 1
          },
          "payment_type": {
            "type": "string",
            "description": "The payment type field defines the payment options available for an offering. Possible values:\n- **external**: Payment is managed outside the platform (typically via partner API). When using this type, the `prices` array must be empty (`[]`).\n- **free**: No payment is required. When using this type, the `price` value in the `prices` array must be `0` or `-1`.\n- **single_charge**: A single, one-time payment is required to obtain the offering.\n- **monthly**: A recurring payment made on a monthly basis.\n- **annual**: A recurring payment made on a yearly basis.\n- **bundle**: A subscription bundled with another subscription. Bundled offerings cannot be sold separately.",
            "enum": [
              "free",
              "monthly",
              "annual",
              "single_charge",
              "external",
              "bundle"
            ],
            "example": "monthly"
          },
          "is_active": {
            "type": "boolean",
            "description": "Current status of the directory offering",
            "default": true,
            "example": "active"
          },
          "vendor": {
            "type": "string",
            "description": "The business entity or vendor that offers this SKU.",
            "enum": [
              "partner",
              "inTandem"
            ],
            "default": "inTandem"
          },
          "prices": {
            "type": "array",
            "description": "Array of price objects for different currencies. **For `external` payment type**: Must be an empty array (`[]`). The system will automatically populate default prices with `-1.00` for all supported currencies, indicating that pricing is managed externally by the partner. **For `free` payment type**: The `price` value must be `0` or `-1`.",
            "items": {
              "type": "object",
              "properties": {
                "price": {
                  "type": "number",
                  "description": "Cost of the offering. Must be >= 0 for paid payment types (`monthly`, `annual`, `single_charge`). Must be `0` or `-1` for `free` payment type."
                },
                "currency": {
                  "type": "string",
                  "description": "The currency used for the price. Supported currencies: USD, EUR, GBP, CHF.",
                  "enum": [
                    "USD",
                    "EUR",
                    "GBP",
                    "CHF"
                  ]
                }
              }
            },
            "example": [
              {
                "price": "5.00",
                "currency": "USD"
              },
              {
                "price": "5.00",
                "currency": "EUR"
              }
            ]
          },
          "trial": {
            "type": "number",
            "description": "Number of days for the trial period. If not specified or set to 0, it indicates no trial period is offered.",
            "example": 14
          },
          "reporting_tags": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "base",
                "free",
                "trial",
                "ghost",
                "business_management",
                "sandbox",
                "no_marketing",
                "no_payments",
                "no_scheduling",
                "connect",
                "limited-core",
                "core",
                "core-trial",
                "test"
              ]
            },
            "description": "A list of tags to be used for reporting purposes. Tags categorize offerings for analytics and billing reports.",
            "example": [
              "base",
              "free"
            ]
          }
        },
        "required": [
          "type",
          "SKU",
          "display_name",
          "quantity",
          "payment_type",
          "prices"
        ]
      },
      "UpdateOfferingDTO": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string",
            "description": "The SKU's display name"
          },
          "prices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "price": {
                  "type": "number",
                  "description": "Cost of the directory offering"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency used for the price",
                  "enum": [
                    "USD",
                    "EUR",
                    "GBP"
                  ]
                }
              }
            }
          },
          "trial": {
            "type": "number",
            "description": "Number of days for the trial period. If not specified or set to 0, it indicates no trial period is offered.",
            "example": 14
          },
          "is_active": {
            "type": "boolean",
            "description": "Current status of the directory offering",
            "default": true
          },
          "reporting_tags": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "base",
                "free",
                "trial",
                "ghost",
                "business_management",
                "sandbox",
                "no_marketing",
                "no_payments",
                "no_scheduling",
                "connect",
                "limited-core",
                "core",
                "core-trial",
                "test"
              ]
            },
            "description": "A list of tags to be used for reporting purposes. Tags categorize offerings for analytics and billing reports.",
            "example": [
              "base",
              "free"
            ]
          }
        },
        "required": [
          "purchase_state"
        ]
      },
      "DirectoryOfferingList": {
        "type": "object",
        "properties": {
          "directory_offerings": {
            "description": "List of DirectoryOfferings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
            }
          }
        }
      },
      "DirectoryOfferingBulkList": {
        "type": "object",
        "properties": {
          "directory_offerings": {
            "description": "List of newly created DirectoryOfferings (for bulk creation)",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
            }
          }
        }
      },
      "BundledOfferingList": {
        "type": "object",
        "properties": {
          "bundled_offerings": {
            "description": "List of BundledOfferings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
            }
          }
        }
      },
      "BundldedOfferingBulkList": {
        "type": "object",
        "properties": {
          "bundldedOfferings": {
            "description": "List of newly created BundldedOfferings (for bulk creation)",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
            }
          }
        }
      },
      "SubscriptionList": {
        "type": "object",
        "properties": {
          "subscriptions": {
            "description": "List of Subscriptions",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
            }
          }
        }
      },
      "BusinessCartList": {
        "type": "object",
        "properties": {
          "business_carts": {
            "description": "List of BusinessCarts",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
            }
          }
        }
      },
      "CreateDirectoryOfferingDTO": {
        "type": "object",
        "properties": {
          "directory_uid": {
            "type": "string",
            "description": "Unique identifier for a directory. Defines which directory is authorized to sell this Offering.",
            "example": "98ees428fq9f65tyh",
            "x-reference-to": "directory"
          },
          "offering_uid": {
            "type": "string",
            "description": "Unique identifier for an Offering. Defines an offering the directory is authorized to sell.",
            "example": "3f12fb61-98ee-428f-9f65-18bba589cb95",
            "x-reference-to": "offering"
          }
        },
        "required": [
          "directory_uid",
          "offering_uid"
        ]
      },
      "CreateBundledOfferingDTO": {
        "type": "object",
        "description": "Request body for creating a bundled offering relationship. A bundled offering links a parent offering (the main product being sold) with a child offering (included for free when the parent is purchased).",
        "properties": {
          "offering_uid": {
            "type": "string",
            "description": "Unique identifier of the parent offering to which the bundled item is being added. This must be an existing Offering UID obtained from `GET /v3/license/offerings`. The parent offering must be of type `package` or `app` - other types are not allowed. This value must be different from `bundled_offering_uid` (an offering cannot be bundled to itself).",
            "example": "bc33f12d-98ee-428f-9f65-12bca589cb21",
            "x-reference-to": "offering"
          },
          "bundled_offering_uid": {
            "type": "string",
            "description": "Unique identifier of the child offering to be bundled. This must be an existing Offering UID obtained from `GET /v3/license/offerings`. The child offering cannot be of type `package` - only `app` and `addon` types are allowed as bundled items. **Important**: This value must be different from `offering_uid` - an offering cannot be bundled to itself. Providing the same UID for both fields will result in a 400 error with message \"Can't bundle an offering to itself\".",
            "example": "bc33f12d-98ee-428f-9f65-18bba589cb95",
            "x-reference-to": "offering"
          }
        },
        "required": [
          "offering_uid",
          "bundled_offering_uid"
        ]
      },
      "CreateSubscriptionDTO": {
        "type": "object",
        "description": "Request body for creating a new subscription. The `buyer_uid` is automatically determined from the authenticated token - it cannot be specified in the request body. For Staff tokens, this is the staff member's UID. Note: Only Directory or Internal tokens are allowed to set a custom price override.",
        "properties": {
          "offering_uid": {
            "type": "string",
            "description": "The underlying directory offering uid. Must be a valid offering_uid either from vcita or from the offering GET API.",
            "example": "bc33f12d-98ee-428f-9f65-18bba589cb95"
          },
          "purchase_currency": {
            "type": "string",
            "description": "The purchase currency at the moment of the subscription was created. Supported currencies: USD; EUR; GBP",
            "enum": [
              "USD",
              "EUR",
              "GBP"
            ],
            "example": "USD"
          },
          "business_cart": {
            "type": "string",
            "description": "Optional. The business cart identifier to associate with this subscription."
          },
          "coupon_code": {
            "type": "string",
            "description": "Optional. Discount identifier used for tracking and Recurly integration. This is the coupon code that will be applied to the subscription.",
            "example": "MAVCFREE"
          },
          "price": {
            "type": "number",
            "format": "decimal",
            "description": "Optional. The actual amount charged to the customer. When provided, this overrides the standard offering price. **Important**: This parameter is restricted to directory/admin tokens only. Staff tokens cannot set custom prices.",
            "example": 0
          }
        },
        "required": [
          "offering_uid",
          "purchase_currency"
        ],
        "example": {
          "offering_uid": "bc33f12d-98ee-428f-9f65-18bba589cb95",
          "purchase_currency": "USD",
          "coupon_code": "MAVCFREE"
        }
      },
      "UpdateSubscriptionDTO": {
        "type": "object",
        "properties": {
          "purchase_state": {
            "type": "string",
            "description": "The requested purchase state of the subscription. If expired is selected, the expiration_date is ignored and current date will be used. If canceled is selected, the expiration_date must be provided. Note that is_active is dymanically calculated based on status and expiration_date",
            "enum": [
              "canceled",
              "expired"
            ]
          },
          "expiration_date": {
            "type": "string",
            "format": "ISO8601",
            "description": "The date to expire the subscription. Should be in ISO8601 format (e.g., 2023-10-01T00:00:00Z) and at least one day in the future. Use 'expired' purchase_state if you want to immediately expire the subscription."
          }
        },
        "required": [
          "purchase_state"
        ]
      },
      "SKUList": {
        "type": "object",
        "properties": {
          "skus": {
            "description": "List of SKUs",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/SKU.json"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/license/offerings": {
      "get": {
        "summary": "List all Offerings",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "package",
                "app",
                "addon"
              ]
            },
            "description": "Type of the offering. Possible values include: **plan**: For the main business subscription; **app**: For marketplace app subscriptions; **addon**: for SMS, staff_seats and other SKUs. "
          },
          {
            "in": "query",
            "name": "sku",
            "schema": {
              "type": "string"
            },
            "description": "The underlying SKU, can be a code name of a package, a code name of an app or a code name of an addon like SMS or staff_seat. If not specified, all SKUs are returned"
          },
          {
            "in": "query",
            "name": "directory_uid",
            "schema": {
              "type": "string"
            },
            "description": "A specific directory mentioned by its unique identifier"
          },
          {
            "in": "query",
            "name": "payment_type",
            "schema": {
              "type": "string",
              "enum": [
                "monthly",
                "annualy",
                "free",
                "single_charge",
                "external"
              ]
            },
            "description": "The payment type field defines the payment options available for an offering,**external**: Payment is not done by the platform (typically an API call from the partner), **free**: No payment is required; **single_charge**: A single, one-time payment is required to obtain the offering; **monthly**: A recurring payment made on a monthly basis; **annual**: A recurring payment made on a yearly basis; **bundle**: A subscription bundled with another subscription"
          },
          {
            "in": "query",
            "name": "is_active",
            "schema": {
              "type": "boolean"
            },
            "description": "The Offering status"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Offerings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/OfferingList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Offering"
        ],
        "description": "## Overview\nList all Offerings in scope.\n\nAvailable for **Staff and Directory and Internal tokens**."
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOfferingDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Offering created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid_price_for_free": {
                    "summary": "Invalid price for free payment type",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "message": "price should be 0 or -1 for this payment type",
                          "code": "bad_request"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Create an Offering",
        "description": "## Overview\nCreate a new Offering. Available for **Internal tokens only**.\n\n## Prerequisites\nBefore creating an offering, obtain a valid SKU by calling `GET /v3/license/skus`. Use the `code_name` field from the response as the `SKU` value. The SKU type must match the offering type (e.g., use `GET /v3/license/skus?type=package` for package offerings).\n\n**Note on External Payment Type:**\nWhen creating an offering with `payment_type: external`, the `prices` array must be empty (`[]`). The system will automatically populate default prices with `-1.00` for all supported currencies, indicating that pricing is managed externally by the partner.\n\n**Note on Free Payment Type:**\nWhen creating an offering with `payment_type: free`, the `price` value in the `prices` array must be `0` or `-1`.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Offering"
        ]
      }
    },
    "/license/offerings/{uid}": {
      "get": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get an Offering by its unique identifier",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve an Offering",
        "description": "## Overview\nRetrieve an Offering by its unique identifier.\n\nAvailable for **Staff, Directory, and Internal tokens**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Offering"
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOfferingDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an Offering",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Update an Offering",
        "description": "## Overview\nUpdate an Offering. Available for **Admin tokens only**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Offering"
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete an Offering",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Delete an Offering (Not implemented yet",
        "description": "## Overview\nDelete an Offering Available for **internal Token only**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Offering"
        ]
      }
    },
    "/license/directory_offerings": {
      "get": {
        "summary": "List all DirectoryOfferings",
        "description": "## Overview\nList all DirectoryOfferings in scope.\n\nAvailable for **Internal Tokens only**.",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          },
          {
            "in": "query",
            "name": "directory_uid",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific directory UID",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Directoryofferings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/DirectoryOfferingList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Directory Offering"
        ]
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDirectoryOfferingDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "DirectoryOffering created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Returned when required fields are missing/empty or when a DirectoryOffering already exists for the given directory and offering combination.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "message": {
                            "type": "string",
                            "description": "Human-readable error message describing the issue."
                          },
                          "code": {
                            "type": "string",
                            "description": "Machine-readable error code."
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "validation_error": {
                    "summary": "Missing required fields",
                    "description": "Returned when required fields (directory_uid or offering_uid) are missing or empty.",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "message": "directory_uid should not be empty",
                          "code": "bad_request"
                        },
                        {
                          "message": "offering_uid should not be empty",
                          "code": "bad_request"
                        }
                      ]
                    }
                  },
                  "already_exists": {
                    "summary": "DirectoryOffering already exists",
                    "description": "Returned when a DirectoryOffering with the same directory_uid and offering_uid combination already exists.",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "message": "directoryOffering with uid [uid] already exists",
                          "code": "bad_request"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Create a DirectoryOffering",
        "description": "## Overview\nCreate a new DirectoryOffering for a specific partner and Offering.\n\nAvailable for **Internal Tokens only**.\n\n**Important**: Each directory can only have one DirectoryOffering per `offering_uid`. The combination of `directory_uid` and `offering_uid` must be unique. Attempting to create a duplicate will return a 400 error.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Directory Offering"
        ]
      }
    },
    "/license/directory_offerings/{uid}": {
      "get": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a DirectoryOffering by its unique identifier",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve a DirectoryOffering",
        "description": "## Overview\nRetrieve a DirectoryOffering.\n\nAvailable for **Internal Tokens only**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Directory Offering"
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a DirectoryOffering",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Delete a DirectoryOffering",
        "description": "## Overview\nDelete a DirectoryOffering.\n\nAvailable for **Internal Tokens only**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Directory Offering"
        ]
      }
    },
    "/license/directory_offerings/bulk": {
      "post": {
        "summary": "Bulk create DirectoryOfferings",
        "description": "## Overview\nCreate multiple DirectoryOfferings.\n\nAvailable for **Internal Tokens only**.\n\n> **Note**: This endpoint is not yet implemented.",
        "deprecated": true,
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "directory_offerings": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateDirectoryOfferingDTO"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The newly created list of DirectoryOfferings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/DirectoryOfferingBulkList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Directory Offering"
        ]
      }
    },
    "/license/bundled_offerings": {
      "get": {
        "summary": "List all BundledOfferings",
        "parameters": [
          {
            "in": "query",
            "name": "offering_uid",
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the bundling parent offering"
          },
          {
            "in": "query",
            "name": "bundled_offering_uid",
            "schema": {
              "type": "string"
            },
            "description": "A unique identifier of one of the bundled offering"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of BundledOfferings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BundledOfferingList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Bundled Offering"
        ],
        "description": "## Overview\nList all BundledOfferings in scope.\n\nAvailable for **Staff, Directory, and Internal tokens**."
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBundledOfferingDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "BundledOffering created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "bundled_offering": {
                              "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Validation error. Returned when the request fails business rule validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "self_bundling": {
                    "summary": "Cannot bundle offering to itself",
                    "description": "Returned when offering_uid and bundled_offering_uid have the same value.",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "message": "Can't bundle an offering to itself",
                          "code": "bad_request"
                        }
                      ]
                    }
                  },
                  "invalid_parent_type": {
                    "summary": "Parent offering type not allowed",
                    "description": "Returned when the parent offering (offering_uid) is not of type 'package' or 'app'.",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "message": "Parent offering can only be of type package/app",
                          "code": "bad_request"
                        }
                      ]
                    }
                  },
                  "invalid_child_type": {
                    "summary": "Child offering type not allowed",
                    "description": "Returned when the bundled offering (bundled_offering_uid) is of type 'package'. Only 'app' and 'addon' types can be bundled.",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "message": "Child offering cannot be of type package",
                          "code": "bad_request"
                        }
                      ]
                    }
                  },
                  "staff_slot_limit": {
                    "summary": "Staff slot limit exceeded",
                    "description": "Returned when attempting to bundle more than one staff_slot offering to the same parent offering.",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "message": "Only one staff slot offering can be bundled to a parent offering",
                          "code": "bad_request"
                        }
                      ]
                    }
                  },
                  "directory_consistency": {
                    "summary": "Directory offering consistency error",
                    "description": "Returned when the bundled offering does not exist in the same directory as the parent offering.",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "message": "Bundled offering must exist in directory [directory_uid] where parent offering exists",
                          "code": "bad_request"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - One or both offerings do not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "offering_not_found": {
                    "summary": "Parent offering not found",
                    "description": "Returned when the offering_uid does not correspond to an existing offering.",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "message": "offering doesn't exist",
                          "code": "not_found"
                        }
                      ]
                    }
                  },
                  "bundled_offering_not_found": {
                    "summary": "Bundled offering not found",
                    "description": "Returned when the bundled_offering_uid does not correspond to an existing offering.",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "message": "bundled_offering doesn't exist",
                          "code": "not_found"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict - A bundled offering with this combination already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "message": "There is already a bundledOffering for this offering",
                      "code": "unexpected"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create a BundledOffering",
        "description": "## Overview\nCreate a new BundledOffering that links a parent offering with a child offering. When a customer purchases the parent offering, the bundled (child) offering is automatically included.\n\nAvailable for **Internal tokens only**.\n\n## Validation Rules\n\nThe following validation rules are enforced:\n\n1. **Self-bundling not allowed**: The `offering_uid` and `bundled_offering_uid` must be different. An offering cannot be bundled to itself.\n\n2. **Parent offering type restriction**: The parent offering (`offering_uid`) must be of type `package` or `app`. Other offering types cannot have bundled items.\n\n3. **Child offering type restriction**: The bundled offering (`bundled_offering_uid`) cannot be of type `package`. Only `app` and `addon` offerings can be bundled.\n\n4. **No duplicate bundles**: Each parent-child combination must be unique. Attempting to create a duplicate returns HTTP 409.\n\n5. **Single staff slot per parent**: Only one `staff_slot` addon can be bundled to each parent offering.\n\n6. **Directory consistency**: If the parent offering exists in a directory, the bundled offering must also exist in the same directory.\n\n## Prerequisites\n\nBefore creating a bundled offering, obtain valid offering UIDs by calling `GET /v3/license/offerings`.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Bundled Offering"
        ]
      }
    },
    "/license/bundled_offerings/bulk": {
      "post": {
        "summary": "Bulk create BundledOfferings",
        "description": "## Overview\nCreate multiple BundledOfferings for an Offering Available for **internal Tokens**.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bundled_offerings": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateBundledOfferingDTO"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The newly created list of BundledOfferings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BundldedOfferingBulkList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Bundled Offering"
        ]
      }
    },
    "/license/bundled_offerings/{uid}": {
      "delete": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a BundledOffering",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Delete a BundledOffering",
        "description": "## Overview\nDelete a BundledOffering Available for **internal Token only.**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Bundled Offering"
        ]
      }
    },
    "/license/subscriptions": {
      "get": {
        "summary": "List all Subscriptions",
        "parameters": [
          {
            "in": "query",
            "name": "is_active",
            "schema": {
              "type": "boolean"
            },
            "description": "Type of the offering. Possible values include: **plan**: For the main business subscription; **app**: For marketplace app subscriptions; **SMS**: For text message offerings; **staff_seat** For additional business seats."
          },
          {
            "in": "query",
            "name": "offering_type",
            "schema": {
              "type": "string",
              "enum": [
                "package",
                "app",
                "SMS",
                "staff_slot"
              ]
            },
            "description": "Type of the offering. Possible values include: **plan**: For the main business subscription; **app**: For marketplace app subscriptions; **SMS**: For text message offerings; **staff_seat**: For additional business seats."
          },
          {
            "in": "query",
            "name": "offering_uid",
            "schema": {
              "type": "string"
            },
            "description": "A specific offering mentioned by its unique identifier"
          },
          {
            "in": "query",
            "name": "SKU",
            "schema": {
              "type": "string"
            },
            "description": "The underlying SKU"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/SubscriptionList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Subscription"
        ],
        "description": "## Overview\nList all Subscriptions in scope.\n\nAvailable for **Staff and App tokens**.\n\n**Note:** App tokens can only view subscriptions for their own app."
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create a Subscription",
        "description": "## Overview\nCreate a new Subscription for a business. Supports discounted and free plans using coupons.\n\nAvailable for **Staff tokens**.\n\n### Token Permissions\n\n| Token Type | Allowed | Restrictions |\n|------------|---------|-------------|\n| **Staff** | Yes | Cannot set custom pricing. For `external` payment type offerings, must use a Staff token created by a Directory token. |\n| **Directory** | No | Must create a Staff token first via `POST /platform/v1/tokens` |\n| **Internal** | No | Must create a Staff token first |\n| **Billing App** | Yes | Cannot set custom pricing |\n| **Regular App** | No | Not allowed |\n\n### Important: External Payment Type Offerings\n\nOfferings with `payment_type = external` require a **Staff token created by a Directory token**:\n\n1. Use `POST /platform/v1/tokens` with a Directory token to create a Staff token for the target business.\n2. Use that Staff token to call this endpoint.\n\nThe `buyer_uid` in the subscription is automatically derived from the authenticated Staff token's identity.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Subscription"
        ]
      }
    },
    "/license/subscriptions/bulk": {
      "post": {
        "summary": "Bulk create Subscriptions",
        "description": "## Overview\nCreate multiple Subscriptions for a business Available for **internal Tokens**.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_cart_uid": {
                    "type": "string",
                    "description": "The unique identifier of the BusinessCart to process and create Subscriptions for"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The newly created list of Subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/SubscriptionList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Subscription"
        ]
      }
    },
    "/license/subscriptions/{uid}": {
      "get": {
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve a Subscription",
        "description": "## Overview\nRetrieve a Subscription by its unique identifier.\n\nAvailable for **Staff and App tokens**.\n\n**Note:** App tokens can only view subscriptions for their own app.",
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscriptionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Update a Subscription",
        "description": "## Overview\nUpdate a Subscription (cancel/expire) Available for **Directory, Staff, and internal Tokens**.",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/license/business_carts": {
      "post": {
        "summary": "Create a BusinessCart",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_cart": {
                    "type": "object",
                    "description": "Container object for the business cart data.",
                    "properties": {
                      "offering_uid": {
                        "type": "string",
                        "description": "Unique identifier of the Offering to add to the cart. Obtain this value by calling `GET /v3/license/offerings` (e.g., 'bc33f12d-98ee-428f-9f65-18bba589cb95')."
                      }
                    },
                    "required": [
                      "offering_uid"
                    ]
                  }
                },
                "required": [
                  "business_cart"
                ]
              },
              "example": {
                "business_cart": {
                  "offering_uid": "bc33f12d-98ee-428f-9f65-18bba589cb95"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "BusinessCart created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                }
              }
            }
          }
        },
        "description": "## Overview\nCreate a new BusinessCart for the business.\n\n## Prerequisites\nBefore creating a cart, obtain a valid `offering_uid` by calling `GET /v3/license/offerings`.\n\nAvailable for **Staff Tokens**.",
        "tags": [
          "Business Cart"
        ]
      }
    },
    "/license/business_carts/{uid}": {
      "get": {
        "summary": "Retrieve a BusinessCart",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The BusinessCart details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                }
              }
            }
          }
        },
        "description": "## Overview\nRetrieve a BusinessCart.\n\nAvailable for **Staff Tokens**.",
        "tags": [
          "Business Cart"
        ]
      }
    },
    "/license/skus": {
      "get": {
        "summary": "List all SKUs",
        "description": "## Overview\nList all SKUs in scope.\n\nAvailable for **Internal Tokens only**.",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "package",
                "app",
                "addon"
              ]
            },
            "description": "Type of the offering. Possible values include: 'package' for the main business subscription; 'app' for marketplace app; 'addon' for text message and staff seats."
          },
          {
            "in": "query",
            "name": "code_name",
            "schema": {
              "type": "string"
            },
            "description": "Unique code of the associated underlying SKU (e.g., app code name, package code)"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          }
        ],
        "responses": {
          "200": {
            "description": "A list of SKUs",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/SKUList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "SKU"
        ]
      }
    },
    "/license/features_packages": {
      "get": {
        "tags": [
          "Features Packages"
        ],
        "summary": "Get all Features Packages",
        "description": "## Overview\nRetrieve a list of Features Packages.\n\n**Available for Staff tokens**",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "default": 1
            },
            "description": "The name of the Features Package to filter by"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Features Packages",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/FeaturesPackageList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}
