{
  "openapi": "3.0.0",
  "info": {
    "title": "License",
    "description": "",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/v3/"
    }
  ],
  "tags": [
    {
      "name": "Offering",
      "description": "The offering API facilitates seamless CRUD operations, allowing staff to create, retrieve, update, and delete offering items, and related entities with ease."
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "FeaturesPackageList": {
        "type": "object",
        "properties": {
          "features_packages": {
            "description": "List of Features Packages",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/featuresPackage.json"
            }
          }
        }
      },
      "OfferingList": {
        "type": "object",
        "properties": {
          "offerings": {
            "description": "List of Offerings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
            }
          }
        }
      },
      "CreateOfferingDTO": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the offering. Possible values include: **package**: For the main business subscription; **app**: For marketplace app subscriptions; *addon**: for additional products like SMS, staff_seat and module.",
            "enum": [
              "package",
              "app",
              "addon"
            ],
            "example": "package"
          },
          "SKU": {
            "type": "string",
            "description": "The unique code of the single SKU this offering represents. Offerings support exactly one SKU; to combine multiple SKUs, use a bundledOffering or similar higher-level abstraction.",
            "example": "premium"
          },
          "display_name": {
            "type": "string",
            "description": "The Offering's display name",
            "example": "permium10"
          },
          "quantity": {
            "type": "number",
            "description": "The number of items included in the offering",
            "default": 1,
            "example": 1
          },
          "payment_type": {
            "type": "string",
            "description": "The payment type field defines the payment options available for an offering,**external**: Payment is not done by the platform (typically an API call from the partner), **free**: No payment is required; **single_charge**: A single, one-time payment is required to obtain the offering; **monthly**: A recurring payment made on a monthly basis; **annual**: A recurring payment made on a yearly basis; **bundle**: A subscription bundled with another subscriptio. If an offeing is defined as bundled it can not be sold as a separated subscription",
            "enum": [
              "free",
              "monthly",
              "annual",
              "single_charge",
              "external",
              "bundle"
            ],
            "example": "monthly"
          },
          "is_active": {
            "type": "boolean",
            "description": "Current status of the directory offering",
            "default": true,
            "example": "active"
          },
          "vendor": {
            "type": "string",
            "description": "The business entity or vendor that offers this SKU.",
            "enum": [
              "partner",
              "inTandem"
            ],
            "default": "inTandem"
          },
          "prices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "price": {
                  "type": "number",
                  "description": "Cost of the directory offering"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency used for the price. Supported currencies: USD; EUR; GBP.",
                  "enum": [
                    "USD",
                    "EUR",
                    "GBP",
                    "CHF"
                  ]
                }
              }
            },
            "example": [
              {
                "price": "5.00",
                "currency": "USD"
              },
              {
                "price": "5.00",
                "currency": "EUR"
              }
            ]
          },
          "trial": {
            "type": "number",
            "description": "Number of days for the trial period. If not specified or set to 0, it indicates no trial period is offered.",
            "example": 14
          },
          "reporting_tags": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "business-management",
                "no-payments",
                "no-marketing",
                "no-scheduling",
                "connect",
                "free",
                "ghost",
                "trial",
                "test"
              ]
            },
            "description": "A list of tags to be used for reporting purposes",
            "example": [
              "business-management",
              "free"
            ]
          }
        },
        "required": [
          "uid",
          "type",
          "SKU",
          "display_name",
          "quantity",
          "payment_type",
          "prices"
        ]
      },
      "UpdateOfferingDTO": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string",
            "description": "The SKU's display name"
          },
          "prices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "price": {
                  "type": "number",
                  "description": "Cost of the directory offering"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency used for the price",
                  "enum": [
                    "USD",
                    "EUR",
                    "GBP"
                  ]
                }
              }
            }
          },
          "trial": {
            "type": "number",
            "description": "Number of days for the trial period. If not specified or set to 0, it indicates no trial period is offered.",
            "example": 14
          },
          "is_active": {
            "type": "boolean",
            "description": "Current status of the directory offering",
            "default": true
          },
          "reporting_tags": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "business-management",
                "no-payments",
                "no-marketing",
                "no-scheduling",
                "connect",
                "free",
                "ghost",
                "trial"
              ]
            },
            "description": "A list of tags to be used for reporting purposes",
            "example": [
              "business-management",
              "free"
            ]
          }
        },
        "required": [
          "purchase_state"
        ]
      },
      "DirectoryOfferingList": {
        "type": "object",
        "properties": {
          "directory_offerings": {
            "description": "List of DirectoryOfferings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
            }
          }
        }
      },
      "DirectoryOfferingBulkList": {
        "type": "object",
        "properties": {
          "directory_offerings": {
            "description": "List of newly created DirectoryOfferings (for bulk creation)",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
            }
          }
        }
      },
      "BundledOfferingList": {
        "type": "object",
        "properties": {
          "offering_bundles": {
            "description": "List of BundledOfferings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
            }
          }
        }
      },
      "BundldedOfferingBulkList": {
        "type": "object",
        "properties": {
          "bundldedOfferings": {
            "description": "List of newly created BundldedOfferings (for bulk creation)",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
            }
          }
        }
      },
      "SubscriptionList": {
        "type": "object",
        "properties": {
          "subscriptions": {
            "description": "List of Subscriptions",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
            }
          }
        }
      },
      "BusinessCartList": {
        "type": "object",
        "properties": {
          "business_carts": {
            "description": "List of BusinessCarts",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
            }
          }
        }
      },
      "CreateDirectoryOfferingDTO": {
        "type": "object",
        "properties": {
          "directory_uid": {
            "type": "string",
            "description": "Unique identifier for a directory. Defines which directory is authorized to sell this Offering.",
            "example": "98ees428fq9f65tyh"
          },
          "offering_uid": {
            "type": "string",
            "description": "Unique identifier for an Offering. Defines an offering the directory is authorized to sell.",
            "example": "3f12fb61-98ee-428f-9f65-18bba589cb95"
          }
        },
        "required": [
          "directory_uid",
          "offering_uid"
        ]
      },
      "CreateBundledOfferingDTO": {
        "type": "object",
        "properties": {
          "offering_uid": {
            "type": "string",
            "description": "Unique identifier of the offering which the bundled item is being added to",
            "example": "bc33f12d-98ee-428f-9f65-12bca589cb21"
          },
          "bundled_offering_uid": {
            "type": "string",
            "description": "The bundled Offering unique identifier",
            "example": "bc33f12d-98ee-428f-9f65-18bba589cb95"
          }
        },
        "required": [
          "offering_uid",
          "bundled_offering"
        ]
      },
      "CreateSubscriptionDTO": {
        "type": "object",
        "properties": {
          "offering_uid": {
            "type": "string",
            "description": "The underlying directory offering uid. Must be a valid offering_uid either from vcita or from the offering GET API.",
            "example": ""
          },
          "purchase_currency": {
            "type": "string",
            "description": "The purchase currency at the moment of the subscription was created. Supported currencies: USD; EUR; GBP",
            "enum": [
              "USD",
              "EUR",
              "GBP"
            ],
            "example": "USD"
          },
          "charged_by": {
            "type": "string",
            "description": "Who charges for this subscription",
            "enum": [
              "partner",
              "platform"
            ]
          },
          "price": {
            "type": "number",
            "format": "decimal",
            "description": "Optional. The actual amount charged to the customer. When provided, this overrides the standard offering price. This parameter is restricted to directory/admin tokens only and requires payment_type to be 'external'. When price is provided, the system stores both original_price (from the offering) and price (the discounted amount).",
            "example": 0.0
          },
          "discount_code_name": {
            "type": "string",
            "description": "Optional. String identifier for the coupon/discount type (e.g., 'percent', 'fixed_amount'). Used for tracking and reporting purposes.",
            "example": "fixed_amount"
          },
          "coupon_code": {
            "type": "string",
            "description": "Optional. Discount identifier used for tracking and Recurly integration. This is the coupon code that will be applied to the subscription.",
            "example": "MAVCFREE"
          },
          "payment_type": {
            "type": "string",
            "description": "The payment type field defines the payment options available for an offering. When price override is used, this must be set to 'external'. **external**: Payment is not done by the platform (typically an API call from the partner); **free**: No payment is required; **single_charge**: A single, one-time payment is required to obtain the offering; **monthly**: A recurring payment made on a monthly basis; **annual**: A recurring payment made on a yearly basis; **bundle**: A subscription bundled with another subscription",
            "enum": [
              "free",
              "monthly",
              "annual",
              "single_charge",
              "external",
              "bundle"
            ],
            "example": "external"
          }
        },
        "required": [
          "offering_uid",
          "purchase_currency"
        ],
        "example": {
          "offering_uid": "bc33f12d-98ee-428f-9f65-18bba589cb95",
          "purchase_currency": "USD",
          "charged_by": "partner",
          "payment_type": "external",
          "price": 0.0,
          "discount_code_name": "fixed_amount",
          "coupon_code": "MAVCFREE"
        }
      },
      "UpdateSubscriptionDTO": {
        "type": "object",
        "properties": {
          "purchase_state": {
            "type": "string",
            "description": "The requested purchase state of the subscription. If expired is selected, the expiration_date is ignored and current date will be used. If canceled is selected, the expiration_date must be provided. Note that is_active is dymanically calculated based on status and expiration_date",
            "enum": [
              "canceled",
              "expired"
            ]
          },
          "expiration_date": {
            "type": "string",
            "format": "ISO8601",
            "description": "The date to expire the subscription. Should be in ISO8601 format (e.g., 2023-10-01T00:00:00Z) and at least one day in the future. Use 'expired' purchase_state if you want to immediately expire the subscription."
          }
        },
        "required": [
          "purchase_state"
        ]
      },
      "SKUList": {
        "type": "object",
        "properties": {
          "skus": {
            "description": "List of SKUs",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/license/SKU.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/license/offerings": {
      "get": {
        "summary": "List all Offerings",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "package",
                "app",
                "addon"
              ]
            },
            "description": "Type of the offering. Possible values include: **plan**: For the main business subscription; **app**: For marketplace app subscriptions; **addon**: for SMS, staff_seats and other SKUs. "
          },
          {
            "in": "query",
            "name": "sku",
            "schema": {
              "type": "string"
            },
            "description": "The underlying SKU, can be a code name of a package, a code name of an app or a code name of an addon like SMS or staff_seat. If not specified, all SKUs are returned"
          },
          {
            "in": "query",
            "name": "directory_uid",
            "schema": {
              "type": "string"
            },
            "description": "A specific directory mentioned by its unique identifier"
          },
          {
            "in": "query",
            "name": "payment_type",
            "schema": {
              "type": "string",
              "enum": [
                "monthly",
                "annualy",
                "free",
                "single_charge",
                "external"
              ]
            },
            "description": "The payment type field defines the payment options available for an offering,**external**: Payment is not done by the platform (typically an API call from the partner), **free**: No payment is required; **single_charge**: A single, one-time payment is required to obtain the offering; **monthly**: A recurring payment made on a monthly basis; **annual**: A recurring payment made on a yearly basis; **bundle**: A subscription bundled with another subscription"
          },
          {
            "in": "query",
            "name": "is_active",
            "schema": {
              "type": "boolean"
            },
            "description": "The Offering status"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Offerings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/OfferingList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Offering"
        ],
        "description": "## Overview\nList all Offerings in scope.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOfferingDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create an Offering",
        "description": "## Overview\nCreate a new Offering Available for **internal Token only**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Offering"
        ]
      }
    },
    "/license/offerings/{uid}": {
      "get": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get an Offering by its unique identifier",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve an Offering",
        "description": "## Overview\nRetrieve an Offering.\n\n## When to Use\n- Viewing full record details\n- Building detail pages\n- Verifying record existence",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Offering"
        ]
      },
      "put": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOfferingDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Update an Offering",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/offering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Update an Offering",
        "description": "## Overview\nUpdate an Offering Available for **internal Token only**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Offering"
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete an Offering",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Delete an Offering (Not implemented yet",
        "description": "## Overview\nDelete an Offering Available for **internal Token only**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Offering"
        ]
      }
    },
    "/license/directory_offerings": {
      "get": {
        "summary": "List all DirectoryOfferings",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          },
          {
            "in": "query",
            "name": "directory_uid",
            "schema": {
              "type": "string"
            },
            "description": "Filter by specific directory UID",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Directoryofferings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/DirectoryOfferingList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Directory Offering"
        ],
        "description": "## Overview\nList all DirectoryOfferings in scope.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDirectoryOfferingDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create a DirectoryOffering",
        "description": "## Overview\nCreate a new DirectoryOffering for a sepcific partner and Offering Available for **internal Token only**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Directory Offering"
        ]
      }
    },
    "/license/directory_offerings/{uid}": {
      "get": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a DirectoryOffering by its unique identifier",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/directoryOffering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve a DirectoryOffering",
        "description": "## Overview\nRetrieve a DirectoryOffering.\n\n## When to Use\n- Viewing full record details\n- Building detail pages\n- Verifying record existence",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Directory Offering"
        ]
      },
      "delete": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a DirectoryOffering",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Delete a DirectoryOffering",
        "description": "## Overview\nDelete a DirectoryOffering Available for **internal Token only.**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Directory Offering"
        ]
      }
    },
    "/license/directory_offerings/bulk": {
      "post": {
        "summary": "Bulk create DirectoryOfferings (not implemented yet)",
        "description": "## Overview\nCreate multiple DirectoryOfferings Available for **Directory, and internal Tokens**.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "directory_offerings": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateDirectoryOfferingDTO"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The newly created list of DirectoryOfferings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/DirectoryOfferingBulkList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Directory Offering"
        ]
      }
    },
    "/license/bundled_offerings": {
      "get": {
        "summary": "List all BundledOfferings",
        "parameters": [
          {
            "in": "query",
            "name": "offering_uid",
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the bundling parent offering"
          },
          {
            "in": "query",
            "name": "bundled_offering_uid",
            "schema": {
              "type": "string"
            },
            "description": "A unique identifier of one of the bundled offering"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of BundledOfferings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BundledOfferingList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Bundled Offering"
        ],
        "description": "## Overview\nList all BundledOfferings in scope.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBundledOfferingDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/bundledOffering.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create a BundledOffering",
        "description": "## Overview\nCreate a new BundledOffering for a sepcific offering Available for **internal Token only**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Bundled Offering"
        ]
      }
    },
    "/license/bundled_offerings/bulk": {
      "post": {
        "summary": "Bulk create BundledOfferings",
        "description": "## Overview\nCreate multiple BundledOfferings for an Offering Available for **internal Tokens**.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bundled_offerings": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateBundledOfferingDTO"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The newly created list of BundledOfferings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BundldedOfferingBulkList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Bundled Offering"
        ]
      }
    },
    "/license/bundled_offerings/{uid}": {
      "delete": {
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a BundledOffering",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Delete a BundledOffering",
        "description": "## Overview\nDelete a BundledOffering Available for **internal Token only.**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Bundled Offering"
        ]
      }
    },
    "/license/subscriptions": {
      "get": {
        "summary": "List all Subscriptions",
        "parameters": [
          {
            "in": "query",
            "name": "is_active",
            "schema": {
              "type": "boolean"
            },
            "description": "Type of the offering. Possible values include: **plan**: For the main business subscription; **app**: For marketplace app subscriptions; **SMS**: For text message offerings; **staff_seat** For additional business seats."
          },
          {
            "in": "query",
            "name": "offering_type",
            "schema": {
              "type": "string",
              "enum": [
                "package",
                "app",
                "SMS",
                "staff_slot"
              ]
            },
            "description": "Type of the offering. Possible values include: **plan**: For the main business subscription; **app**: For marketplace app subscriptions; **SMS**: For text message offerings; **staff_seat**: For additional business seats."
          },
          {
            "in": "query",
            "name": "offering_uid",
            "schema": {
              "type": "string"
            },
            "description": "A specific offering mentioned by its unique identifier"
          },
          {
            "in": "query",
            "name": "SKU",
            "schema": {
              "type": "string"
            },
            "description": "The underlying SKU"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/SubscriptionList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Subscription"
        ],
        "description": "## Overview\nList all Subscriptions in scope.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubscriptionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Create a Subscription",
        "description": "## Overview\nCreate a new Subscription for a business. Supports discounted and free plans using coupons.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Subscription"
        ]
      }
    },
    "/license/subscriptions/bulk": {
      "post": {
        "summary": "Bulk create Subscriptions",
        "description": "## Overview\nCreate multiple Subscriptions for a business Available for **internal Tokens**.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_cart_uid": {
                    "type": "string",
                    "description": "The unique identifier of the BusinessCart to process and create Subscriptions for"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The newly created list of Subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/SubscriptionList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Subscription"
        ]
      }
    },
    "/license/subscriptions/{uid}": {
      "get": {
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Retrieve a Subscription",
        "description": "## Overview\nRetrieve a Subscription by its unique identifier.\n\n## When to Use\n- Viewing full record details\n- Building detail pages\n- Verifying record existence",
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "tags": [
          "Subscription"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubscriptionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "Update a Subscription",
        "description": "## Overview\nUpdate a Subscription (cancel/expire) Available for **Directory, Staff, and internal Tokens**.",
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/license/business_carts": {
      "get": {
        "summary": "Get all BusinessCarts (coming soon)",
        "responses": {
          "200": {
            "description": "List of BusinessCarts",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BusinessCartList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "## Overview\nRetrieve a list of BusinessCarts.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems",
        "tags": [
          "Business Cart"
        ]
      },
      "post": {
        "summary": "Create a BusinessCart",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_cart": {
                    "type": "object",
                    "description": "The business cart object to create",
                    "properties": {
                      "offering_uid": {
                        "type": "string",
                        "description": "Unique identifier of the underlying Offering"
                      }
                    },
                    "required": [
                      "offering_uid"
                    ]
                  }
                },
                "required": [
                  "business_cart"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "BusinessCart created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                }
              }
            }
          }
        },
        "description": "## Overview\nCreate a new BusinessCart Available for **Staff, App, and Directory tokens**.",
        "tags": [
          "Business Cart"
        ]
      }
    },
    "/license/business_carts/{uid}": {
      "get": {
        "summary": "Retrieve a BusinessCart",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The BusinessCart details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                }
              }
            }
          }
        },
        "description": "## Overview\nRetrieve a BusinessCart.\n\n## When to Use\n- Viewing full record details\n- Building detail pages\n- Verifying record existence",
        "tags": [
          "Business Cart"
        ]
      },
      "put": {
        "summary": "Update a BusinessCart",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "subscription_uid": {
                    "type": "string",
                    "description": "Unique identifier of the corresponding Subscription"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BusinessCart updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/license/businessCart.json"
                }
              }
            }
          }
        },
        "description": "## Overview\nUpdate a BusinessCart with the corresponding Subscription Available for **Staff, App, and Directory tokens**.",
        "tags": [
          "Business Cart"
        ]
      }
    },
    "/license/skus": {
      "get": {
        "summary": "List all SKUs",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": [
                "package",
                "app",
                "addon"
              ]
            },
            "description": "Type of the offering. Possible values include: 'package' for the main business subscription; 'app' for marketplace app; 'addon' for text message and staff seats."
          },
          {
            "in": "query",
            "name": "code_name",
            "schema": {
              "type": "string"
            },
            "description": "Unique code of the associated underlying SKU (e.g., app code name, package code)"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          }
        ],
        "responses": {
          "200": {
            "description": "A list of SKUs",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/SKUList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "SKU"
        ],
        "description": "## Overview\nList all SKUs in scope.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems"
      }
    },
    "/license/features_packages": {
      "get": {
        "tags": [
          "Features Packages"
        ],
        "summary": "Get all Features Packages",
        "description": "## Overview\nRetrieve a list of Features Packages.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems\n\n**Available for Staff tokens**",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "default": 1
            },
            "description": "The name of the Features Package to filter by"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Features Packages",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/FeaturesPackageList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  }
}