{
  "openapi": "3.0.3",
  "info": {
    "title": "Online Profiles",
    "description": "API for managing business online profile settings",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {staff_token}'"
      }
    },
    "schemas": {
      "OnlineProfileSettingsList": {
        "type": "object",
        "properties": {
          "online_profiles": {
            "description": "List of online profiles settings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/business_administration/online_profile_settings.json"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "success",
          "errors"
        ]
      }
    }
  },
  "paths": {
    "/v3/business_administration/online_profiles": {
      "get": {
        "summary": "Retrieve online profiles settings",
        "description": "Get the online profiles settings for the authenticated business - Available for **Staff Tokens**",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/OnlineProfileSettingsList"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "status": "OK",
                  "data": {
                    "online_profiles": [
                      {
                        "uid": "1f7glykphfwt6rlg",
                        "business_uid": "geopuakhmzuied4l",
                        "supported_languages": ["en", "es", "fr"],
                        "created_at": "2024-01-15T10:30:00Z",
                        "updated_at": "2024-01-20T14:45:00Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing, invalid or not allowed to access the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "401 Unauthorized"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Business not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Online Profiles"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/business_administration/online_profiles/{uid}": {
      "put": {
        "summary": "Update online profile settings",
        "description": "Update the online profile settings for a specific entity - Available for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the online profile settings",
            "schema": {
              "type": "string"
            },
            "example": "1f7glykphfwt6rlg"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "supported_languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of language codes to support. Pass null or empty array to show all languages.",
                    "nullable": true
                  }
                }
              },
              "examples": {
                "set_languages": {
                  "summary": "Set specific languages",
                  "value": {
                    "supported_languages": ["en", "es", "fr", "de"]
                  }
                },
                "show_all": {
                  "summary": "Show all languages",
                  "value": {
                    "supported_languages": null
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/OnlineProfileSettingsList"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "status": "OK",
                  "data": {
                    "online_profiles": [
                      {
                        "uid": "1f7glykphfwt6rlg",
                        "business_uid": "geopuakhmzuied4l",
                        "supported_languages": ["en", "es", "fr", "de"],
                        "created_at": "2024-01-15T10:30:00Z",
                        "updated_at": "2024-01-20T14:45:00Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. The request is invalid (missing required fields, invalid values, etc.)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "invalid_request",
                      "message": "Invalid language code provided"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing, invalid or not allowed to access the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "401 Unauthorized"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Business not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Online Profiles"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}

