{
  "openapi": "3.0.3",
  "info": {
    "title": "Operators",
    "description": "APIs for Operator Portal directory context switching and directory assignment discovery.",
    "version": "1.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "OperatorDirectoryAssignmentsList": {
        "type": "array",
        "description": "List of directory assignments available to the authenticated operator.",
        "items": {
          "$ref": "https://vcita.github.io/developers-hub/entities/operators/operator_directory_assignment.json"
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid operator bearer token in the Authorization header. Example: 'Authorization: Bearer {operator_token}'"
      }
    }
  },
  "paths": {
    "/v3/operators/operator_directory_assignments": {
      "get": {
        "summary": "List operator directory assignments",
        "description": "Returns the authenticated operator's directory assignments with the role assigned per directory. The operator is taken from the token; there is no path identifier. The Operator Portal can use this response to decide whether to show a directory switcher and which directory is currently active. Available for **Operator tokens**.",
        "tags": [
          "Operators"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Operator directory assignments retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/OperatorDirectoryAssignmentsList"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "directory_uid": "dir_abc123",
                      "directory_name": "Example Directory",
                      "role": "admin",
                      "current": true
                    },
                    {
                      "directory_uid": "dir_def456",
                      "directory_name": "Another Directory",
                      "role": "sales",
                      "current": false
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid operator token."
          },
          "408": {
            "description": "Request exceeded timeout limit."
          }
        }
      }
    }
  }
}
