{
  "openapi": "3.0.0",
  "info": {
    "title": "Operator Capabilities",
    "description": "A set of endpoint to manage OperatorsCabablities, OperatorsRoles and OperatorOperatorsroles",
    "version": "1.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "OperatorCabablitiesList": {
        "type": "object",
        "properties": {
          "operator_capabilities": {
            "description": "List of OperatorCapabilities",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorCapability.json"
            }
          }
        }
      },
      "CreateOperatorCapabilityDTO": {
        "type": "object",
        "properties": {
          "unique_code": {
            "type": "string",
            "description": "The unique identifier of the Permission",
            "example": "Business.read"
          },
          "name": {
            "type": "string",
            "description": "The name of the permission shown to the user in English ",
            "example": "Business Read"
          },
          "description": {
            "type": "string",
            "description": "The description of the permission shown to the user in English",
            "example": "Can view business details"
          }
        },
        "required": [
          "unique_code",
          "name",
          "description"
        ]
      },
      "OPRolesList": {
        "type": "object",
        "properties": {
          "op_roles": {
            "description": "List of OPRoles",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/operators/opRole.json"
            }
          }
        }
      },
      "CreateOPRoleDTO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique readable code for the role",
            "example": "admin"
          },
          "name": {
            "type": "string",
            "description": "The role name",
            "example": "Admin"
          },
          "description": {
            "type": "string",
            "description": "The role description",
            "example": "Admin role. Typically has access to all features in the system"
          },
          "capabilities": {
            "type": "array",
            "description": "A list of permissions that are assigned to the role",
            "items": {
              "type": "string",
              "description": "The unique code of the OperatorCapability",
              "example": [
                "business.read",
                "business.create",
                "business.lock_business",
                "operator.read",
                "operator.create",
                "package.manage",
                "package.read"
              ]
            }
          }
        },
        "required": [
          "code",
          "name",
          "description",
          "capabilities"
        ]
      },
      "UpdateOPRoleDTO": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique readable code for the role",
            "example": "admin"
          },
          "name": {
            "type": "string",
            "description": "The role name",
            "example": "Admin"
          },
          "description": {
            "type": "string",
            "description": "The role description",
            "example": "Admin role. Typically has access to all features in the system"
          },
          "capabilities": {
            "type": "array",
            "description": "A list of permissions that are assigned to the role",
            "items": {
              "type": "string",
              "description": "The unique code of the OperatorCapability",
              "example": [
                "business.read",
                "business.create",
                "business.lock_business",
                "operator.read",
                "operator.create",
                "package.manage",
                "package.read"
              ]
            }
          }
        },
        "required": [
          "code",
          "name",
          "description",
          "capabilities"
        ]
      },
      "CreateOperatorOPRole": {
        "type": "object",
        "properties": {
          "operator_uid": {
            "type": "string",
            "description": "The unique identifier (UID) of the Operator",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "op_role_uid": {
            "type": "string",
            "description": "A unique identifier (UID) of the associated OPRole",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          }
        }
      }
    }
  },
  "paths": {
    "/v3/operators/operator_capabilities": {
      "get": {
        "summary": "Get all OperatorCapabilities",
        "description": "## Overview\nGet a list of OperatorCabablities.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/OperatorCabablitiesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Operator Capability"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create an OperatorCapability",
        "description": "## Overview\nCreate a new OperatorCapability Available for **operator Tokens**.",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperatorCapabilityDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorCapability.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Operator Capability"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/operators/op_roles": {
      "get": {
        "summary": "Get all OPRoles",
        "description": "## Overview\nGet a list of OPRoles.\n\n## When to Use\n- Building list views and tables\n- Searching for specific records\n- Syncing data with external systems",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/OPRolesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "OP Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create an OPRole",
        "description": "## Overview\nCreate a new OPRole Available for **operator Tokens**.",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOPRoleDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/operators/opRole.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "OP Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/operators/op_roles/{uid}": {
      "get": {
        "summary": "Retrieve an OPRole",
        "description": "## Overview\nRetrieve a specific OPRole based on it\u2019s unique identifier (UID).\n\n## When to Use\n- Viewing full record details\n- Building detail pages\n- Verifying record existence",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the OperatorsRole",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/operators/opRole.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "OP Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update an OPRole",
        "description": "## Overview\nUpdate an existing OPRole based on it\u2019s unique identifier Available for **operators Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the OPRole",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOPRoleDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/operators/opRole.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "OP Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete an OPRole",
        "description": "## Overview\nDelete a specific OPRole based on it\u2019s unique identifier (UID) Available for **operator Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the OPRole",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "OP Role"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/operators/operator_op_roles": {
      "post": {
        "summary": "Create an OperatorOPRole",
        "description": "## Overview\nCreate a new OperatorOPRole for an operator Available for **operator Tokens**.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperatorOPRole"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorOPRole.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Operator OPRole"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/operators/operator_op_roles/{operator_uid}": {
      "get": {
        "summary": "Retrieve an OperatorOPRole",
        "description": "## Overview\nRetrieve a OperatorOPRole based on the unique identifier of Operator (operator_uid).\n\n## When to Use\n- Viewing full record details\n- Building detail pages\n- Verifying record existence",
        "parameters": [
          {
            "name": "operator_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the operator assigned to this OPRole",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorOPRole.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Operator OPRole"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete an OperatorOPRole",
        "description": "## Overview\nDelete a specific OperatorOPRole based on the Operator unique id {operator_uid} Available for **operator Tokens**.",
        "parameters": [
          {
            "name": "operator_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Operator",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Operator OPRole"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}