{
  "openapi": "3.0.0",
  "info": {
    "title": "Operator Business Tokens",
    "description": "A set of endpoint to manage OperatorTokens",
    "version": "1.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {operator token}'"
      }
    },
    "schemas": {
      "CreateOperatorBusinessTokenDTO": {
        "type": "object",
        "properties": {
          "acting_as_uid": {
            "type": "string",
            "description": "The unique id of the staff/operator acting as. Either operator uid when acting as the operator, or staff uid when acting on behalf of a staff member",
            "example": "bc33f12d98ee"
          },
          "acting_as": {
            "type": "string",
            "description": "The type of the entity the Operator is acting as, operator - acting as the operator; staff - acting on behlaf of a staff member",
            "enum": [
              "operator",
              "staff"
            ]
          }
        }
      }
    }
  },
  "paths": {
    "/v3/operators/operator_business_tokens": {
      "post": {
        "summary": "Create an OperatorBusinessToken",
        "description": "## Overview\nCreate an OperatorBusinessToken Available for **operators Tokens**.",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperatorBusinessTokenDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorBusinessToken.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Operator Business Tokens"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}