{
  "openapi": "3.0.0",
  "info": {
    "title": "Staff Member API",
    "description": "API for managing staff members",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "StaffMemberUpdate": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "The first name of the staff member"
          },
          "last_name": {
            "type": "string",
            "description": "The last name of the staff member"
          },
          "display_name": {
            "type": "string",
            "description": "The display name of the staff member"
          },
          "email": {
            "type": "string",
            "description": "The email address of the staff member"
          },
          "professional_title": {
            "type": "string",
            "description": "The professional title of the staff member"
          },
          "country_name": {
            "type": "string",
            "description": "The country name for the staff member's mobile number"
          },
          "mobile_number": {
            "type": "string",
            "description": "The mobile number of the staff member without country code"
          },
          "photo_url": {
            "type": "string",
            "description": "The URL to the staff member's profile photo"
          },
          "default_homepage": {
            "type": "string",
            "description": "Default homepage when the staff member logs in",
            "enum": [
              "dashboard",
              "inbox",
              "calendar",
              "clients",
              "pos"
            ]
          },
          "email_signature": {
            "type": "string",
            "description": "The email signature of the staff member"
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the API request was successful",
            "example": true
          }
        }
      }
    }
  },
  "paths": {
    "/v3/business_administration/staff_members/{uid}": {
      "get": {
        "summary": "Retrieve a StaffMember",
        "description": "## Overview\nRetrieve a StaffMember.",
        "tags": [
          "Staff Member"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the staff member",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Staff member retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/business_administration/staff_member.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Staff member not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a StaffMember",
        "description": "## Overview\nUpdate a StaffMember.\n\n**Available for Staff Token**",
        "tags": [
          "Staff Member"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the staff member",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffMemberUpdate"
              },
              "example": {
                "first_name": "Jonathan",
                "last_name": "Doe",
                "display_name": "Dr. Jonathan Doe",
                "email": "jonathan.doe@example.com",
                "professional_title": "Senior Medical Consultant",
                "country_name": "United Kingdom",
                "mobile_number": "7123456789",
                "photo_url": "https://storage.example.com/staff/profile/12345_new.jpg",
                "default_homepage": "calendar",
                "email_signature": "Kind regards,\nJonathan Doe, MD\nSenior Medical Consultant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Staff member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/business_administration/staff_member.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Staff member not found"
          },
          "409": {
            "description": "Email already in use by another staff member"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}