{
    "openapi": "3.0.0",
    "info": {
      "title": "License",
      "description": "",
      "contact": {},
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.vcita.biz"
      }
    ],
    "tags": [
      {
        "name": "subscriptions",
        "description": "Handling subscriptions in inTandem."
      }
    ],
    "components": {
      "schemas": {
        "subscriptionDTO": {
          "type": "object",
          "properties": {
            "purchase_params": {
              "description": "The required parameters to create the subscription",
              "type": "object",
              "properties": {
                "item_uid":{
                  "type": "string",
                  "description": "The product to purchase",
                  "example":"approve"
                },
                "item_type":{
                  "type":"string",
                  "description": "The type of the product. app - an application; Ppackage - the main subscription; one_time_purchase - a consumable such as SMS; staff_slot - an additional seat for a staff member",
                  "enum": [
                    "app",
                    "package",
                    "one_time_purchase",
                    "staff_slot"
                  ],
                  "example":"app"
                },
                "currency":{
                  "type":"string",
                  "description": "The currency used for the purchase",
                  "enum": [
                    "USD",
                    "EUR",
                    "GBP"
                  ],
                  "example":"USD"
                },
                "recurrence":{
                  "type": "string",
                  "description": "The recurring period for this purchase",
                  "enum": [
                    "monthly",
                    "annualy"
                  ],
                  "example":"monthly"
                }
              },
              "required": [
                "item_uid",
                "item_type",
                "currency",
                "recurrence"
              ]
            }
          }
        },
        "SubscriptionList": {
          "type": "object",
          "properties": {
            "subscriptions": {
              "description": "List of Subscriptions",
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/subscriptionDTO"
              }
            }
          }
        }
      }
    },
    "paths": {
      "/business/subscriptionsmng/v1/subscriptions": {
        "get": {
          "summary": "List all Subscriptions.",
          "parameters": [
            {
              "in": "query",
              "name": "page",
              "schema": {
                "type": "integer",
                "default": 1
              },
              "description": "Page number of the results."
            },
            {
              "in": "query",
              "name": "per_page",
              "schema": {
                "type": "integer",
                "default": 25,
                "maximum": 100
              },
              "description": "How many items to return per page."
            },
            {
              "in": "query",
              "name": "sort",
              "schema": {
                "type": "string",
                "default": "updated_at:desc"
              },
              "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\"."
            },
            {
              "in": "query",
              "name": "filter",
              "schema": {
                "type": "string"
              },
              "description": "Use LHS barckets to filter\n\nSupported fields: **created_at, updated_at**\n",
              "example": "filter[created][lte]=2020-01-01&filter[created][gte]=2019-01-01&filter[name][contains]=joh"
            }
          ],
          "responses": {
            "200": {
              "description": "A list of Subscriptions.",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "https://vcita.github.io/developers-hub/entities/license/subscription.json"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "security": [
            {
              "api_key": []
            }
          ],
          "tags": [
            "Subscription"
          ],
          "description": "List all Subscriptions in scope.\n\nAvailable for **Directory, user, app, and internal Tokens**\n"
        }
      },
      "/system/subscriptions/manual": {
        "post": {
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscriptionDTO"
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      }
                    ]
                  }
                }
              }
            }
          },
          "summary": "Create a Subscription",
          "description": "Create a new subscription for a business.\n\nAvailable for **user Tokens**\n",
          "security": [
            {
              "api_key": []
            }
          ],
          "tags": [
            "Subscription"
          ]
        }
      },
      "/business/subscriptionsmng/v1/subscriptions/{Subscription_uid}":{
        "put": {
          "summary": "Update a Subscription.",
          "parameters": [
            {
                "name": "Subscription_uid",
                "in": "path",
                "required": true,
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "subscription": {
                        "type": "object",
                        "properties": {
                          "purchase_state":{
                            "type": "string",
                            "description": "The updated state of the subscription. canceled (together with future expiration_date) - the business requested to cancel the subscription at the end of the billing cycle. Expired - The subscription is fully expired",
                            "enum": [
                              "canceled",
                              "expired"
                            ]
                          },
                          "expiration_date":{
                            "type": "string",
                            "description": "The date to expire the subscription",
                            "format": "date-time"
                          }
                        },
                        "description": "Cancel or completely expire a subscription"
                    }       
                }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Subscription updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/subscriptionDTO"
                  }
                }
              }
            }
          },
          "description" : "Update the subscription with a new purchase state and expiration date.",
          "tags" : [ "Subscription" ]
        }
      }
    }
  }