{
    "openapi": "3.0.0",
    "info": {
      "title": "License",
      "description": "",
      "contact": {},
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.vcita.biz/v1/"
      }
    ],
    "tags": [
      {
        "name": "subscriptions",
        "description": "Handling subscriptions in inTandem."
      }
    ],
    "components": {
      "schemas": {
        "subscriptionDTO": {
          "type": "object",
          "properties": {
            "purchase_params": {
              "description": "The required parameters to create the subscription",
              "type": "object",
              "properties": {
                "item_uid":{
                  "type": "string",
                  "description": "The product to purchase",
                  "example":"approve"
                },
                "item_type":{
                  "type":"string",
                  "description": "The type of the product. app - an application; Ppackage - the main subscription; one_time_purchase - a consumable such as SMS; staff_slot - an additional seat for a staff member",
                  "enum": [
                    "app",
                    "package",
                    "one_time_purchase",
                    "staff_slot"
                  ],
                  "example":"app"
                },
                "currency":{
                  "type":"string",
                  "description": "The currency used for the purchase",
                  "enum": [
                    "USD",
                    "EUR",
                    "GBP"
                  ],
                  "example":"USD"
                },
                "recurrence":{
                  "type": "string",
                  "description": "The recurring period for this purchase",
                  "enum": [
                    "monthly",
                    "annualy"
                  ],
                  "example":"monthly"
                }
              },
              "required": [
                "item_uid",
                "item_type",
                "currency",
                "recurrence"
              ]
            }
          }
        }
      }
    },
    "paths": {
      "/system/subscriptions/manual": {
        "post": {
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscriptionDTO"
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      }
                    ]
                  }
                }
              }
            }
          },
          "summary": "Create a Subscription",
          "description": "Create a new subscription for a business.\n\nAvailable for **user Tokens**\n",
          "security": [
            {
              "api_key": []
            }
          ],
          "tags": [
            "Subscription"
          ]
        }
      }
    }
  }