{
  "openapi": "3.0.3",
  "info": {
    "title": "Online Presence — AI Receptionist Learnings",
    "description": "Unified AI Receptionist learning API under `/v3/online_presence/ai_receptionist_learnings`. One resource models AI-generated learning opportunities (raised at session close) and user-initiated \"Improve answer\" corrections. Supports listing unanswered opportunities and completed improvements per business and per conversation.",
    "version": "3.0.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "AI Receptionist Learning",
      "description": "Unified AI Receptionist learnings, feedback and learning opportunities for the authenticated business (**Staff tokens**)."
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "CreateLearningRequest": {
        "type": "object",
        "description": "Create a learning record. Used by the chat-history \"Improve answer\" flow to persist a user-initiated correction (`source='user_improve_answer'`).",
        "properties": {
          "conversation_uid": {
            "type": "string",
            "maxLength": 255,
            "description": "UID of the AI Receptionist conversation this learning refers to (e.g., \"4f609f56-cb57-43c5-956c-252f20d67cb0\")."
          },
          "source": {
            "type": "string",
            "enum": [
              "user_improve_answer"
            ],
            "description": "Origin of the record. Only `user_improve_answer` is creatable through this endpoint; `ai_opportunity` records are produced internally at session close and are read-only here (e.g., \"user_improve_answer\")."
          },
          "target_type": {
            "type": "string",
            "enum": [
              "conversation",
              "message"
            ],
            "description": "Scope of the learning: the whole `conversation` or a specific `message` (e.g., \"message\")."
          },
          "message_index": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "description": "Zero-based transcript message index for `message` scope; omit or null for `conversation` scope (e.g., 6)."
          },
          "message_snippet": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Short first-words snippet of the referenced assistant message (e.g., \"Thank you, Itzik. Could you please provide your phone number...\")."
          },
          "answer_text": {
            "type": "string",
            "nullable": true,
            "description": "The staff member's correction/answer text (e.g., \"Offer the standard 10% first-time discount before quoting.\")."
          }
        },
        "required": [
          "conversation_uid",
          "source",
          "target_type"
        ]
      },
      "UpdateLearningRequest": {
        "type": "object",
        "description": "Partial update / state change for a learning record: record the owner's answer, mark it applied once a rule/config change was written, or dismiss it.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "open",
              "answered",
              "applied",
              "dismissed"
            ],
            "description": "New lifecycle state (e.g., \"answered\", \"applied\")."
          },
          "answer_text": {
            "type": "string",
            "nullable": true,
            "description": "The business owner's answer/correction (e.g., \"Always confirm the appointment time in the visitor's timezone.\")."
          },
          "applied_rule_uids": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "UIDs of business rules/config records written when applying the learning; set together with `status='applied'` (e.g., [\"rule_9a1b3c\"])."
          },
          "bizai_conversation_uid": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "UID of the BizAI training chat that handled this learning (e.g., \"3f21ba90-1c4e-4d2a-9b77-11aa22bb33cc\")."
          }
        }
      },
      "ListLearningsPayload": {
        "type": "object",
        "properties": {
          "learnings": {
            "type": "array",
            "description": "Learning records for the authenticated business on the current page.",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/AiReceptionistLearning.json"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of learning records matching the filters across all pages."
          }
        },
        "required": [
          "learnings",
          "total"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard v3 error envelope.",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ],
            "description": "Always false for error responses."
          },
          "errors": {
            "type": "array",
            "description": "List of error details describing what failed.",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "nullable": true,
                  "description": "Request field that failed validation, when applicable (e.g., \"status\")."
                },
                "code": {
                  "type": "string",
                  "description": "Machine-readable error code (e.g., \"invalid\", \"not_found\")."
                },
                "message": {
                  "type": "string",
                  "description": "Human-readable error message (e.g., \"Learning not found\")."
                }
              },
              "required": [
                "code",
                "message"
              ]
            }
          }
        },
        "required": [
          "success",
          "errors"
        ]
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "**Staff tokens** — business context is taken from the token."
      }
    }
  },
  "paths": {
    "/v3/online_presence/ai_receptionist_learnings": {
      "get": {
        "operationId": "listAiReceptionistLearnings",
        "summary": "Get all AiReceptionistLearnings",
        "description": "Returns paginated learning records for the authenticated business. Filter by `status`, `source`, `target_type`, and `conversation_uid`. Common uses: unanswered opportunities (`source=ai_opportunity&status=open`) and completed improvements (`status=applied`, optionally scoped by `conversation_uid`). Available for **Staff tokens**.",
        "tags": [
          "AI Receptionist Learning"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "1-based page index.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of records per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by lifecycle status (e.g., \"open\", \"applied\").",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "answered",
                "applied",
                "dismissed"
              ]
            }
          },
          {
            "name": "source",
            "in": "query",
            "description": "Filter by origin (e.g., \"ai_opportunity\", \"user_improve_answer\").",
            "schema": {
              "type": "string",
              "enum": [
                "ai_opportunity",
                "user_improve_answer"
              ]
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "description": "Filter by scope (e.g., \"conversation\", \"message\").",
            "schema": {
              "type": "string",
              "enum": [
                "conversation",
                "message"
              ]
            }
          },
          {
            "name": "conversation_uid",
            "in": "query",
            "description": "Return only learnings tied to this conversation (e.g., \"4f609f56-cb57-43c5-956c-252f20d67cb0\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort expression in `field:asc|desc` format. Allowed fields: `created_at`, `updated_at`, `answered_at`, `applied_at`. Default sort is `created_at:desc`.",
            "schema": {
              "type": "string",
              "example": "created_at:desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List result (`{ success: true, data: { learnings, total } }`)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListLearningsPayload"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "learnings": [
                      {
                        "uid": "8d31f5fe-9c6d-4a6a-b0a2-9d10a9f1c01a",
                        "business_uid": "biz_2f8f7ab1",
                        "conversation_uid": "4f609f56-cb57-43c5-956c-252f20d67cb0",
                        "source": "ai_opportunity",
                        "status": "open",
                        "target_type": "message",
                        "message_index": 6,
                        "message_snippet": "Thank you, Itzik. Could you please provide your phone number...",
                        "question": "The visitor pushed back on price. How should I have responded?",
                        "answer_text": null,
                        "applied_rule_uids": null,
                        "bizai_conversation_uid": null,
                        "created_by_staff_uid": null,
                        "answered_at": null,
                        "applied_at": null,
                        "created_at": "2026-05-10T13:19:02.000Z",
                        "updated_at": "2026-05-10T13:19:02.000Z"
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Business context required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "Business context required"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure (e.g., invalid sort or filter value)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "sort",
                      "code": "invalid",
                      "message": "sort field must be one of: created_at, updated_at, answered_at, applied_at"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createAiReceptionistLearning",
        "summary": "Create an AiReceptionistLearning",
        "description": "Creates a learning record. Used by the chat-history \"Improve answer\" flow to persist a user-initiated correction (`source='user_improve_answer'`). Available for **Staff tokens**.",
        "tags": [
          "AI Receptionist Learning"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLearningRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/AiReceptionistLearning.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "uid": "8d31f5fe-9c6d-4a6a-b0a2-9d10a9f1c01a",
                    "business_uid": "biz_2f8f7ab1",
                    "conversation_uid": "4f609f56-cb57-43c5-956c-252f20d67cb0",
                    "source": "user_improve_answer",
                    "status": "answered",
                    "target_type": "message",
                    "message_index": 6,
                    "message_snippet": "Thank you, Itzik. Could you please provide your phone number...",
                    "question": null,
                    "answer_text": "Offer the standard 10% first-time discount before quoting.",
                    "applied_rule_uids": null,
                    "bizai_conversation_uid": null,
                    "created_by_staff_uid": "stf_71c0a9d2",
                    "answered_at": "2026-05-10T13:22:41.000Z",
                    "applied_at": null,
                    "created_at": "2026-05-10T13:22:41.000Z",
                    "updated_at": "2026-05-10T13:22:41.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — business context required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "Business context required"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found, or it does not belong to the authenticated business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Conversation not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "conversation_uid",
                      "code": "invalid",
                      "message": "conversation_uid must be a non-empty string"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/online_presence/ai_receptionist_learnings/{uid}": {
      "get": {
        "operationId": "getAiReceptionistLearning",
        "summary": "Retrieve an AiReceptionistLearning",
        "description": "Returns a single learning record by uid for the authenticated business. Available for **Staff tokens**.",
        "tags": [
          "AI Receptionist Learning"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Learning (`{ success: true, data: learning }`)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/AiReceptionistLearning.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "uid": "8d31f5fe-9c6d-4a6a-b0a2-9d10a9f1c01a",
                    "business_uid": "biz_2f8f7ab1",
                    "conversation_uid": "4f609f56-cb57-43c5-956c-252f20d67cb0",
                    "source": "user_improve_answer",
                    "status": "answered",
                    "target_type": "message",
                    "message_index": 6,
                    "message_snippet": "Thank you, Itzik. Could you please provide your phone number...",
                    "question": null,
                    "answer_text": "Offer the standard 10% first-time discount before quoting.",
                    "applied_rule_uids": null,
                    "bizai_conversation_uid": null,
                    "created_by_staff_uid": "stf_71c0a9d2",
                    "answered_at": "2026-05-10T13:22:41.000Z",
                    "applied_at": null,
                    "created_at": "2026-05-10T13:22:41.000Z",
                    "updated_at": "2026-05-10T13:22:41.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Learning not found"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateAiReceptionistLearning",
        "summary": "Update an AiReceptionistLearning",
        "description": "Partially updates a learning record: record the owner's answer, mark it `applied` once a rule/config change was written, or `dismissed`. Available for **Staff tokens**.",
        "tags": [
          "AI Receptionist Learning"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLearningRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated learning",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/AiReceptionistLearning.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "uid": "8d31f5fe-9c6d-4a6a-b0a2-9d10a9f1c01a",
                    "business_uid": "biz_2f8f7ab1",
                    "conversation_uid": "4f609f56-cb57-43c5-956c-252f20d67cb0",
                    "source": "user_improve_answer",
                    "status": "applied",
                    "target_type": "message",
                    "message_index": 6,
                    "message_snippet": "Thank you, Itzik. Could you please provide your phone number...",
                    "question": null,
                    "answer_text": "Offer the standard 10% first-time discount before quoting.",
                    "applied_rule_uids": [
                      "rule_9a1b"
                    ],
                    "bizai_conversation_uid": "3f21ba90-1c4e-4d2a-9b77-11aa22bb33cc",
                    "created_by_staff_uid": "stf_71c0a9d2",
                    "answered_at": "2026-05-10T13:22:41.000Z",
                    "applied_at": "2026-05-10T13:31:08.000Z",
                    "created_at": "2026-05-10T13:22:41.000Z",
                    "updated_at": "2026-05-10T13:31:08.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Learning not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "status",
                      "code": "invalid",
                      "message": "status must be one of: open, answered, applied, dismissed"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAiReceptionistLearning",
        "summary": "Delete an AiReceptionistLearning",
        "description": "Soft-deletes (dismisses) a learning record by uid for the authenticated business. Returns the soft-deleted record. Available for **Staff tokens**.",
        "tags": [
          "AI Receptionist Learning"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The soft-deleted learning",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/AiReceptionistLearning.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "uid": "8d31f5fe-9c6d-4a6a-b0a2-9d10a9f1c01a",
                    "business_uid": "biz_2f8f7ab1",
                    "conversation_uid": "4f609f56-cb57-43c5-956c-252f20d67cb0",
                    "source": "user_improve_answer",
                    "status": "dismissed",
                    "target_type": "message",
                    "message_index": 6,
                    "message_snippet": "Thank you, Itzik. Could you please provide your phone number...",
                    "question": null,
                    "answer_text": "Offer the standard 10% first-time discount before quoting.",
                    "applied_rule_uids": null,
                    "bizai_conversation_uid": null,
                    "created_by_staff_uid": "stf_71c0a9d2",
                    "answered_at": "2026-05-10T13:22:41.000Z",
                    "applied_at": null,
                    "created_at": "2026-05-10T13:22:41.000Z",
                    "updated_at": "2026-05-10T13:22:41.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Unauthorized"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Learning not found"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
