{
  "openapi": "3.0.3",
  "info": {
    "title": "Web AI Widget \u2014 Widget configurations",
    "description": "Manage embedded Web AI Widget configurations per business (CRUD, main upsert, public resolved config for embed, AI guidance markdown). Successful JSON responses use the standard `{ success, data }` envelope from the API gateway + `@vcita/infra-nestjs` response interceptor, except where noted (markdown body). Service: **webaiwidgetmgr**. Non-CRUD actions (`main`, `public`, `ai_guidance`) are internal/private and not part of the public CRUD contract.",
    "version": "3.0.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "Web AI Widget",
      "description": "Widget configuration resources under `/v3/online_presence/widget_configurations`."
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "success",
          "errors"
        ]
      },
      "NestHttpException": {
        "type": "object",
        "description": "Standard v3 error envelope.",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "nullable": true
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ]
            }
          }
        },
        "required": [
          "success",
          "errors"
        ]
      },
      "WelcomeButton": {
        "type": "object",
        "description": "Quick-reply button shown under the welcome message in the Web AI Widget.",
        "properties": {
          "label": {
            "type": "string",
            "description": "Button label shown to the visitor."
          },
          "message": {
            "type": "string",
            "description": "Message text sent to the assistant when the button is clicked."
          }
        },
        "required": [
          "label",
          "message"
        ]
      },
      "ActionConfigItem": {
        "type": "object",
        "description": "A single client-portal action in the stored widget configuration. Order follows array position in the API.",
        "properties": {
          "uid": {
            "type": "string",
            "nullable": true,
            "description": "Portal action UID. Required by the API for persisted actions; nullable only for legacy/backfill reads."
          },
          "action": {
            "type": "string",
            "description": "Action key/type (client-portal action identifier)."
          },
          "label": {
            "type": "string",
            "nullable": true,
            "maxLength": 200,
            "description": "Display label override; omit or null to resolve from portal defaults."
          },
          "availability": {
            "type": "boolean",
            "description": "Whether this action is available in the widget."
          },
          "should_offer": {
            "type": "boolean",
            "nullable": true,
            "description": "Whether the assistant should proactively suggest this action."
          },
          "when_to_offer": {
            "type": "string",
            "nullable": true,
            "maxLength": 200,
            "description": "Guidance text for when the assistant should proactively suggest this action."
          }
        },
        "required": [
          "uid",
          "action",
          "availability"
        ]
      },
      "LeadIntentDataItem": {
        "type": "object",
        "description": "Intent-based lead capture instructions used by the Web AI Widget assistant. Each item defines one intent and the data that should be collected for it.",
        "properties": {
          "lead_intent": {
            "type": "string",
            "nullable": true,
            "maxLength": 100,
            "description": "Lead intent name (e.g., \"General inquiry\", \"Book consultation\"). Null/empty resolves to defaults according to backend normalization rules."
          },
          "lead_data_items": {
            "type": "string",
            "nullable": true,
            "maxLength": 200,
            "description": "Comma-separated or free-text list of lead fields to collect for this intent."
          },
          "lead_message_to_visitor": {
            "type": "string",
            "nullable": true,
            "maxLength": 200,
            "description": "Guidance text for how the assistant should explain what is being collected and what happens next while capturing lead details."
          }
        }
      },
      "RequestCreateWidgetConfiguration": {
        "type": "object",
        "properties": {
          "business_uid": {
            "type": "string",
            "description": "Business scope; must match the authenticated Business token."
          },
          "widget_title": {
            "type": "string",
            "nullable": true,
            "maxLength": 200
          },
          "faq_and_guidance": {
            "type": "string",
            "nullable": true,
            "maxLength": 50000
          },
          "business_hours": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000
          },
          "welcome_message": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000
          },
          "brand_color": {
            "type": "string",
            "nullable": true,
            "description": "Hex color"
          },
          "text_color": {
            "type": "string",
            "nullable": true,
            "description": "Hex color"
          },
          "logo_url": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "actions": {
            "type": "array",
            "nullable": true,
            "description": "Ordered action list. Each item includes `uid`, `action`, `availability`, optional `label`, optional `should_offer`, and optional `when_to_offer`.",
            "items": {
              "$ref": "#/components/schemas/ActionConfigItem"
            }
          },
          "auto_popup_enabled": {
            "type": "boolean",
            "nullable": true
          },
          "auto_popup_delay": {
            "type": "number",
            "nullable": true,
            "minimum": 0,
            "maximum": 3600
          },
          "welcome_buttons": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/WelcomeButton"
            }
          },
          "lead_capture_text": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000
          },
          "lead_intent_data": {
            "type": "array",
            "nullable": true,
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/LeadIntentDataItem"
            }
          },
          "button_text": {
            "type": "string",
            "nullable": true,
            "maxLength": 200
          },
          "include_contact_info": {
            "type": "boolean",
            "nullable": true
          },
          "include_services": {
            "type": "boolean",
            "nullable": true
          },
          "include_products": {
            "type": "boolean",
            "nullable": true
          },
          "include_booking_policies": {
            "type": "boolean",
            "nullable": true
          },
          "include_terms_of_service": {
            "type": "boolean",
            "nullable": true
          },
          "guidance_urls": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "format": "uri",
              "maxLength": 2048
            }
          }
        },
        "required": [
          "business_uid"
        ]
      },
      "RequestUpdateWidgetConfiguration": {
        "type": "object",
        "description": "Partial update; all fields optional. `business_uid` may be sent for validation.",
        "properties": {
          "business_uid": {
            "type": "string"
          },
          "widget_title": {
            "type": "string",
            "nullable": true,
            "maxLength": 200
          },
          "faq_and_guidance": {
            "type": "string",
            "nullable": true,
            "maxLength": 50000
          },
          "business_hours": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000
          },
          "welcome_message": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000
          },
          "brand_color": {
            "type": "string",
            "nullable": true
          },
          "text_color": {
            "type": "string",
            "nullable": true
          },
          "logo_url": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "actions": {
            "type": "array",
            "nullable": true,
            "description": "Ordered action list. Each item includes `uid`, `action`, `availability`, optional `label`, optional `should_offer`, and optional `when_to_offer`.",
            "items": {
              "$ref": "#/components/schemas/ActionConfigItem"
            }
          },
          "auto_popup_enabled": {
            "type": "boolean",
            "nullable": true
          },
          "auto_popup_delay": {
            "type": "number",
            "nullable": true,
            "minimum": 0,
            "maximum": 3600
          },
          "welcome_buttons": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/WelcomeButton"
            }
          },
          "lead_capture_text": {
            "type": "string",
            "nullable": true,
            "maxLength": 1000
          },
          "lead_intent_data": {
            "type": "array",
            "nullable": true,
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/LeadIntentDataItem"
            }
          },
          "button_text": {
            "type": "string",
            "nullable": true,
            "maxLength": 200
          },
          "include_contact_info": {
            "type": "boolean",
            "nullable": true
          },
          "include_services": {
            "type": "boolean",
            "nullable": true
          },
          "include_products": {
            "type": "boolean",
            "nullable": true
          },
          "include_booking_policies": {
            "type": "boolean",
            "nullable": true
          },
          "include_terms_of_service": {
            "type": "boolean",
            "nullable": true
          },
          "guidance_urls": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "format": "uri",
              "maxLength": 2048
            }
          }
        }
      },
      "WidgetConfigurationResource": {
        "$ref": "https://vcita.github.io/developers-hub/entities/online_presence/WidgetConfiguration.json"
      },
      "SingleWidgetConfigurationPayload": {
        "type": "object",
        "properties": {
          "widget_configuration": {
            "$ref": "#/components/schemas/WidgetConfigurationResource"
          }
        },
        "required": [
          "widget_configuration"
        ]
      },
      "ListWidgetConfigurationsPayload": {
        "type": "object",
        "properties": {
          "widget_configurations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WidgetConfigurationResource"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "widget_configurations",
          "total"
        ]
      },
      "ResolvedPublicConfigAction": {
        "type": "object",
        "description": "Resolved action for public embed: merged portal + widget overrides (snake_case).",
        "properties": {
          "name": {
            "type": "string",
            "description": "Action key/name"
          },
          "action": {
            "type": "string",
            "description": "Action type/key"
          },
          "text": {
            "type": "string",
            "description": "Display label"
          },
          "uid": {
            "type": "string",
            "description": "Action uid for client-portal URLs"
          },
          "options": {
            "description": "Provider-specific options object"
          },
          "icon": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "target": {
            "type": "string"
          },
          "lightbox": {
            "description": "Lightbox configuration when applicable"
          },
          "order": {
            "type": "integer",
            "description": "Display order (0-based index within the action list)"
          }
        }
      },
      "ResolvedPublicConfig": {
        "type": "object",
        "description": "Merged public-facing Web AI Widget configuration for embed/live site (`GET .../public/:widget_uid`). All listed fields are present in responses. `portal_host` is injected server-side for action/lightbox URLs. Returned inside standard `data` after the Response wrapper.",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Widget configuration UID."
          },
          "business_uid": {
            "type": "string",
            "description": "Owning business UID."
          },
          "widget_title": {
            "type": "string",
            "description": "Widget header title."
          },
          "brand_color": {
            "type": "string",
            "description": "Brand/theme color (hex)."
          },
          "text_color": {
            "type": "string",
            "description": "Text color (hex)."
          },
          "logo_url": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Logo URL."
          },
          "button_text": {
            "type": "string",
            "description": "Engage button label."
          },
          "auto_popup_enabled": {
            "type": "boolean",
            "description": "Whether the widget auto-opens."
          },
          "auto_popup_delay": {
            "type": "integer",
            "description": "Auto-popup delay in milliseconds."
          },
          "actions": {
            "type": "array",
            "description": "Ordered list of resolved actions.",
            "items": {
              "$ref": "#/components/schemas/ResolvedPublicConfigAction"
            }
          },
          "welcome_message": {
            "type": "string",
            "description": "Message shown when chat opens."
          },
          "welcome_buttons": {
            "type": "array",
            "description": "Quick-reply buttons under the welcome message.",
            "items": {
              "$ref": "#/components/schemas/WelcomeButton"
            }
          },
          "portal_host": {
            "type": "string",
            "description": "Portal host base URL injected for action/lightbox links (not stored per widget)."
          }
        },
        "required": [
          "uid",
          "business_uid",
          "widget_title",
          "brand_color",
          "text_color",
          "logo_url",
          "button_text",
          "auto_popup_enabled",
          "auto_popup_delay",
          "actions",
          "welcome_message",
          "welcome_buttons"
        ]
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Business token (and optional Staff token where the API supports attribution). `business_uid` in query/body must match the authenticated business."
      }
    }
  },
  "paths": {
    "/v3/online_presence/widget_configurations": {
      "get": {
        "operationId": "listWidgetConfigurations",
        "summary": "Get all widget configurations",
        "description": "Lists configurations for a business. **Business token** required; `business_uid` query must match the token. Pagination: 1-based `page`, `per_page` (1\u2013100). Optional `sort=field:asc|desc` (first segment only); allowed fields: `created_at`, `updated_at`, `business_uid`. Legacy `order_by` / `order_dir` are rejected.",
        "tags": [
          "Web AI Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "business_uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page index",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "e.g. `created_at:desc` or `updated_at:asc`. Direction defaults to `asc` if omitted.",
            "schema": {
              "type": "string",
              "example": "created_at:desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List result",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ListWidgetConfigurationsPayload"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "widget_configurations": [
                      {
                        "uid": "widcfg_48b3f7a2",
                        "business_uid": "biz_2f8f7ab1",
                        "created_at": "2026-04-22T10:30:00.000Z",
                        "updated_at": "2026-04-22T11:12:45.000Z",
                        "widget_title": "Acme Plumbing AI Assistant",
                        "brand_color": "#1f7ae0",
                        "text_color": "#ffffff",
                        "auto_popup_enabled": true,
                        "auto_popup_delay": 8,
                        "button_text": "Chat with us"
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation or bad query (e.g. legacy sort params)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "sort",
                      "code": "invalid",
                      "message": "sort field must be one of: created_at, updated_at, business_uid"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden \u2014 business mismatch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "404": {
            "description": "Not found (masked as 404 for business mismatch in some cases)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWidgetConfiguration",
        "summary": "Create widget configuration",
        "description": "Creates a configuration row. **Business token** required; optional **Staff token** for attribution (`owner_id`).",
        "tags": [
          "Web AI Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCreateWidgetConfiguration"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SingleWidgetConfigurationPayload"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "widget_configuration": {
                      "uid": "widcfg_48b3f7a2",
                      "business_uid": "biz_2f8f7ab1",
                      "created_at": "2026-04-22T10:30:00.000Z",
                      "updated_at": "2026-04-22T10:30:00.000Z",
                      "widget_title": "Acme Plumbing AI Assistant",
                      "welcome_message": "Hi! Need help with plumbing services?",
                      "brand_color": "#1f7ae0",
                      "text_color": "#ffffff",
                      "button_text": "Chat with us"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax (e.g., invalid JSON payload)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation or business-rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        }
      }
    },
    "/v3/online_presence/widget_configurations/main": {
      "get": {
        "operationId": "getMainWidgetConfiguration",
        "summary": "Retrieve main widget configuration",
        "description": "[Internal use only] Returns the primary widget configuration for the business. **Business token** required.",
        "tags": [
          "Web AI Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "business_uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Main configuration",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SingleWidgetConfigurationPayload"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "widget_configuration": {
                      "uid": "widcfg_48b3f7a2",
                      "business_uid": "biz_2f8f7ab1",
                      "widget_title": "Acme Plumbing AI Assistant",
                      "welcome_message": "Hi! Need help with plumbing services?",
                      "brand_color": "#1f7ae0",
                      "text_color": "#ffffff",
                      "button_text": "Chat with us",
                      "created_at": "2026-04-22T10:30:00.000Z",
                      "updated_at": "2026-04-22T11:12:45.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "404": {
            "description": "No main widget configuration for this business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        },
        "x-internal": true
      },
      "put": {
        "operationId": "putMainWidgetConfiguration",
        "summary": "Create or update main widget configuration",
        "description": "[Internal use only] Upserts the main configuration for a business. **Business token** required; optional **Staff token** for attribution.",
        "tags": [
          "Web AI Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCreateWidgetConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Upserted configuration",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SingleWidgetConfigurationPayload"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax (e.g., invalid JSON payload)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation or business-rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        },
        "x-internal": true
      }
    },
    "/v3/online_presence/widget_configurations/public/{widget_uid}": {
      "get": {
        "operationId": "getResolvedPublicWidgetConfiguration",
        "summary": "Get resolved public widget config",
        "description": "[Internal use only] Public embed endpoint (no end-user bearer). Resolved merged config for live site / widget by `widget_uid`. **Cache-Control: public, max-age=60.** Gateway may whitelist this path without introspection.",
        "tags": [
          "Web AI Widget"
        ],
        "security": [],
        "parameters": [
          {
            "name": "widget_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved public configuration",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ResolvedPublicConfig"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "uid": "widcfg_48b3f7a2",
                    "business_uid": "biz_2f8f7ab1",
                    "widget_title": "Acme Plumbing AI Assistant",
                    "brand_color": "#1f7ae0",
                    "text_color": "#ffffff",
                    "logo_url": "https://cdn.example.com/acme/logo.png",
                    "button_text": "Chat with us",
                    "auto_popup_enabled": true,
                    "auto_popup_delay": 8000,
                    "actions": [],
                    "welcome_message": "Hi! Need help with plumbing services?",
                    "welcome_buttons": [
                      {
                        "label": "Book an appointment",
                        "message": "I want to book an appointment."
                      }
                    ],
                    "portal_host": "clients.vcita.com"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unknown widget uid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        },
        "x-internal": true
      }
    },
    "/v3/online_presence/widget_configurations/public": {
      "get": {
        "operationId": "getResolvedPublicMainWidgetConfigurationByBusinessUid",
        "summary": "Get resolved public main widget config by business",
        "description": "[Internal use only] Public embed endpoint (no end-user bearer). Returns merged main widget config for a business using `business_uid`. **Cache-Control: public, max-age=60.**",
        "tags": [
          "Web AI Widget"
        ],
        "security": [],
        "parameters": [
          {
            "name": "business_uid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved public main configuration",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ResolvedPublicConfig"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Missing or invalid `business_uid` query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "404": {
            "description": "No widget configuration found for business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        },
        "x-internal": true
      }
    },
    "/v3/online_presence/widget_configurations/ai_guidance": {
      "get": {
        "operationId": "getAiGuidanceMarkdown",
        "summary": "Get AI guidance markdown",
        "description": "[Internal use only] Returns markdown guidance for the widget. **Not JSON:** body is raw markdown. `Content-Type: text/markdown; charset=utf-8`. **Business token** required. Optional query: `widget_uid`, `business_uid`.",
        "tags": [
          "Web AI Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "widget_uid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_uid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown document",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string",
                  "description": "Markdown document body"
                },
                "example": "# Business profile\n\n## Business contact information\n- **Phone:** +15551234567\n"
              }
            }
          },
          "422": {
            "description": "Semantic validation/business-rule failure (e.g. neither `widget_uid` nor `business_uid` was provided, or widget app is inactive)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (business authentication required)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "404": {
            "description": "Widget configuration not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        },
        "x-internal": true
      }
    },
    "/v3/online_presence/widget_configurations/{uid}": {
      "get": {
        "operationId": "getWidgetConfigurationByUid",
        "summary": "Retrieve a widget configuration",
        "description": "Returns one configuration by uid scoped to the authenticated business. **Business token** required.",
        "tags": [
          "Web AI Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SingleWidgetConfigurationPayload"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "widget_configuration": {
                      "uid": "widcfg_48b3f7a2",
                      "business_uid": "biz_2f8f7ab1",
                      "widget_title": "Acme Plumbing AI Assistant",
                      "brand_color": "#1f7ae0",
                      "text_color": "#ffffff",
                      "button_text": "Chat with us",
                      "created_at": "2026-04-22T10:30:00.000Z",
                      "updated_at": "2026-04-22T11:12:45.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateWidgetConfiguration",
        "summary": "Update widget configuration",
        "description": "Updates an existing configuration. **Business token** required; optional **Staff token**.",
        "tags": [
          "Web AI Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestUpdateWidgetConfiguration"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated configuration",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SingleWidgetConfigurationPayload"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "widget_configuration": {
                      "uid": "widcfg_48b3f7a2",
                      "business_uid": "biz_2f8f7ab1",
                      "widget_title": "Acme Plumbing Assistant",
                      "welcome_message": "Hi! How can we help today?",
                      "brand_color": "#1f7ae0",
                      "text_color": "#ffffff",
                      "button_text": "Chat now",
                      "created_at": "2026-04-22T10:30:00.000Z",
                      "updated_at": "2026-04-22T12:41:10.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax (e.g., invalid JSON payload)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation or business-rule failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWidgetConfiguration",
        "summary": "Delete widget configuration",
        "description": "Deletes a configuration by uid for the authenticated business. **Business token** required. **204** with empty body on success.",
        "tags": [
          "Web AI Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted (no response body)"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NestHttpException"
                }
              }
            }
          }
        }
      }
    }
  }
}
