{
  "openapi": "3.0.0",
  "info": {
    "title": "Business Policy Settings",
    "description": "Endpoints to manage business policy settings for invoice and credit note numbering",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/v3/payments/business_policy_settings": {
      "get": {
        "summary": "Get Business Policy Settings",
        "description": "Retrieves the business policy settings for invoice and credit note numbering. Returns the current configuration including next numbers, numbering type, and prefix settings.\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/payments/businessPolicySettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Policy Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Update Business Policy Settings",
        "description": "Updates the business policy settings for invoice and credit note numbering. Allows configuring the starting invoice number, numbering type (continuous or reset yearly), and whether to use prefixes. Note: This endpoint uses POST method and returns HTTP 201 status code upon successful update.\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "starting_invoice_number": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 9999999,
                    "description": "The starting number for invoice numbering sequence. This will set the next_invoice_number value. Must be an integer between 1 and 9,999,999."
                  },
                  "numbering_type": {
                    "type": "string",
                    "enum": ["continuous", "reset_yearly"],
                    "description": "The numbering scheme to use. 'continuous' means numbers increment indefinitely. 'reset_yearly' means numbering resets to 1 at the start of each calendar year with a year prefix."
                  },
                  "use_prefix": {
                    "type": "boolean",
                    "description": "Whether to enable custom text prefixes for invoice and credit note numbers. When enabled, prefix text will appear before the sequential number."
                  }
                },
                "example": {
                  "starting_invoice_number": 100,
                  "numbering_type": "reset_yearly",
                  "use_prefix": true
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/payments/businessPolicySettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business Policy Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}
