{
  "openapi": "3.0.0",
  "info": {
    "title": "Payment Cards",
    "description": "Payment Cards endpoints for listing stored payment cards. Used by both the client app (Client Tokens) and backoffice (Staff Tokens).",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/v3/payments/client_payment_cards": {
      "get": {
        "summary": "List stored Payment Cards",
        "description": "Returns a client's stored payment cards.\n\nAvailable for **Client Tokens** and **Staff Tokens**.\n- For **Client Tokens**, returns cards for the authenticated client.\n- For **Staff Tokens** (backoffice), provide `client_id` to retrieve a specific client's cards.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "description": "Client UID whose stored cards should be returned. Required for staff/backoffice use-cases; ignored for client tokens.",
            "schema": {
              "type": "string"
            },
            "example": "clt_aaabbbccc112233"
          }
        ],
        "responses": {
          "200": {
            "description": "Stored cards retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "OK"
                      ],
                      "description": "Response status. Always OK."
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/payments/client_payment_cards.json#/definitions/cardsListData"
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ],
                  "example": {
                    "status": "OK",
                    "data": {
                      "max_limit_reached": false,
                      "cards": [
                        {
                          "id": "card_123",
                          "client_id": "clt_aaabbbccc112233",
                          "default": true,
                          "active": true,
                          "card_brand": "visa",
                          "funding_type": "credit",
                          "last_4": "4242",
                          "exp_month": 12,
                          "exp_year": 2028,
                          "cardholder_name": "Jane Doe",
                          "staff_id": null,
                          "staff_name": "Jane Doe",
                          "business_id": "biz_123",
                          "payment_provider": "stripe",
                          "created_at": "2025-01-15T10:00:00.000Z",
                          "initiator": "client",
                          "can_be_used_by_staff": false
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payment Cards"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}

