{
  "openapi": "3.0.0",
  "info": {
    "title": "Payments",
    "description": "A set of endpoints to manage invoices and payments in the inTandem platform",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/v3/payments/invoices": {
      "post": {
        "summary": "Create an Invoice",
        "description": "Create a new invoice\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json"
                  },
                  {
                    "properties": {
                      "notify_recipient": {
                        "type": "boolean",
                        "description": "Send email notification to client. Used only during creation/update to determine if email should be sent. Not saved on invoice."
                      }
                    },
                    "anyOf": [
                      {
                        "required": [
                          "matter_uid",
                          "issue_date",
                          "due_date",
                          "currency",
                          "line_items"
                        ]
                      },
                      {
                        "required": [
                          "matter_uid",
                          "issue_date",
                          "due_date",
                          "currency",
                          "item_headers"
                        ]
                      }
                    ]
                  }
                ],
                "example": {
                  "matter_uid": "matter_123",
                  "issue_date": "2024-01-15",
                  "due_date": "2024-02-15",
                  "currency": "USD",
                  "status": "ISSUED",
                  "unique_number": "2024-0001",
                  "document_title": "INVOICE",
                  "billing_address": "123 Main St, City, State 12345",
                  "purchase_order": "PO-12345",
                  "allow_online_payment": true,
                  "allow_partial_payment": false,
                  "enable_late_fee": false,
                  "note": "Thank you for your business",
                  "terms_and_conditions": "Payment due within 30 days",
                  "notify_recipient": true,
                  "additional_recipients": ["accounting@example.com"],
                  "display_items_total": true,
                  "display_item_headers_total": false,
                  "from_estimate_uid": null,
                  "source_name": "initiated_by_staff",
                  "line_items": [
                    {
                      "name": "Consulting Services",
                      "quantity": 2,
                      "unit_amount": 150.00,
                      "description": "Hourly consulting",
                      "entity_uid": "service_123",
                      "entity_type": "Service",
                      "tax_uids": ["tax_uid_1"],
                      "discount": null,
                      "item_index": 0
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "invoice": {
                              "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Invoice"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/payments/invoices/{uid}": {
      "put": {
        "summary": "Update an Invoice",
        "description": "Update an existing invoice\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Invoice",
            "schema": {
              "type": "string"
            },
            "example": "inv-aaabbbccc112233"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json"
                  },
                  {
                    "properties": {
                      "notify_recipient": {
                        "type": "boolean",
                        "description": "Send email notification to client. Used only during creation/update to determine if email should be sent. Not saved on invoice."
                      }
                    },
                    "anyOf": [
                      {
                        "required": [
                          "matter_uid",
                          "issue_date",
                          "due_date",
                          "currency",
                          "line_items"
                        ]
                      },
                      {
                        "required": [
                          "matter_uid",
                          "issue_date",
                          "due_date",
                          "currency",
                          "item_headers"
                        ]
                      }
                    ]
                  }
                ],
                "example": {
                  "matter_uid": "matter_123",
                  "issue_date": "2024-01-15",
                  "due_date": "2024-02-15",
                  "currency": "USD",
                  "status": "ISSUED",
                  "unique_number": "2024-0001",
                  "document_title": "INVOICE",
                  "billing_address": "123 Main St, City, State 12345",
                  "purchase_order": "PO-12345",
                  "allow_online_payment": true,
                  "allow_partial_payment": false,
                  "enable_late_fee": false,
                  "note": "Thank you for your business",
                  "terms_and_conditions": "Payment due within 30 days",
                  "notify_recipient": true,
                  "additional_recipients": ["accounting@example.com"],
                  "display_items_total": true,
                  "display_item_headers_total": false,
                  "from_estimate_uid": null,
                  "source_name": "initiated_by_staff",
                  "line_items": [
                    {
                      "name": "Consulting Services",
                      "quantity": 2,
                      "unit_amount": 150.00,
                      "description": "Hourly consulting",
                      "entity_uid": "service_123",
                      "entity_type": "Service",
                      "tax_uids": ["tax_uid_1"],
                      "discount": null,
                      "item_index": 0
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "invoice": {
                              "$ref": "https://vcita.github.io/developers-hub/entities/payments/invoice.json"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Invoice"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}

