{
  "openapi": "3.0.0",
  "info": {
    "title": "Staff Member API",
    "description": "API for managing staff members",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "StaffMemberUpdate": {
        "type": "object",
        "properties": {
          "first_name": {
            "type": "string",
            "description": "The first name of the staff member"
          },
          "last_name": {
            "type": "string",
            "description": "The last name of the staff member"
          },
          "display_name": {
            "type": "string",
            "description": "The display name of the staff member"
          },
          "email": {
            "type": "string",
            "description": "The email address of the staff member"
          },
          "professional_title": {
            "type": "string",
            "description": "The professional title of the staff member"
          },
          "photo_path": {
            "type": "string",
            "description": "The path to the staff member's photo"
          },
          "on_entry_navigate_to": {
            "type": "string",
            "description": "Default navigation path on login"
          },
          "email_signature": {
            "type": "string",
            "description": "The email signature of the staff member"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the staff member is active"
          }
        }
      },
      "StaffMemberResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the API request was successful",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "uid": {
                "type": "string",
                "description": "The unique identifier of the staff member",
                "example": "staff-12345"
              },
              "first_name": {
                "type": "string",
                "description": "The first name of the staff member",
                "example": "John"
              },
              "last_name": {
                "type": "string",
                "description": "The last name of the staff member",
                "example": "Doe"
              },
              "display_name": {
                "type": "string",
                "description": "The display name of the staff member",
                "example": "Dr. John Doe"
              },
              "email": {
                "type": "string",
                "description": "The email address of the staff member",
                "example": "john.doe@example.com"
              },
              "professional_title": {
                "type": "string",
                "description": "The professional title of the staff member",
                "example": "Senior Consultant"
              },
              "business_uid": {
                "type": "string",
                "description": "The business UID the staff member belongs to",
                "example": "business-12345"
              },
              "full_mobile_number": {
                "type": "string",
                "description": "The complete mobile number of the staff member",
                "example": "+12345678901"
              },
              "photo_path": {
                "type": "string",
                "description": "The path to the staff member's photo",
                "example": "/storage/staff/profile/12345.jpg"
              },
              "on_entry_navigate_to": {
                "type": "string",
                "description": "Default navigation path on login",
                "example": "dashboard"
              },
              "role": {
                "type": "string",
                "description": "The role of the staff member",
                "example": "admin"
              },
              "email_signature": {
                "type": "string",
                "description": "The email signature of the staff member",
                "example": "Best regards,\nJohn Doe\nSenior Consultant"
              },
              "business_role_display_name": {
                "type": "string",
                "description": "The display name of the staff member's role within the business",
                "example": "Business Administrator"
              },
              "owner": {
                "type": "boolean",
                "description": "Whether the staff member is an owner",
                "example": true
              },
              "active": {
                "type": "boolean",
                "description": "Whether the staff member is active",
                "example": true
              },
              "deleted": {
                "type": "boolean",
                "description": "Whether the staff member has been deleted",
                "example": false
              },
              "blocked_at": {
                "type": "string",
                "format": "date-time",
                "description": "The date and time when the staff member was blocked",
                "example": null
              },
              "created_at": {
                "type": "string",
                "format": "date-time",
                "description": "The date and time when the staff member was created",
                "example": "2023-01-01T12:00:00Z"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time",
                "description": "The date and time when the staff member was last updated",
                "example": "2023-01-15T09:30:00Z"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/business_administration/staff_members/{uid}": {
      "get": {
        "summary": "Get staff member",
        "description": "Retrieve a specific staff member by UID",
        "tags": ["Staff Members"],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the staff member",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Staff member retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffMemberResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "uid": "staff-12345",
                    "first_name": "John",
                    "last_name": "Doe",
                    "display_name": "Dr. John Doe",
                    "email": "john.doe@example.com",
                    "professional_title": "Senior Consultant",
                    "business_uid": "business-12345",
                    "full_mobile_number": "+12345678901",
                    "photo_path": "/storage/staff/profile/12345.jpg",
                    "on_entry_navigate_to": "dashboard",
                    "role": "admin",
                    "email_signature": "Best regards,\nJohn Doe\nSenior Consultant",
                    "business_role_display_name": "Business Administrator",
                    "owner": true,
                    "active": true,
                    "deleted": false,
                    "blocked_at": null,
                    "created_at": "2023-01-01T12:00:00Z",
                    "updated_at": "2023-01-15T09:30:00Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Staff member not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update staff member",
        "description": "Update an existing staff member's editable fields",
        "tags": ["Staff Members"],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the staff member",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffMemberUpdate"
              },
              "example": {
                "first_name": "Jonathan",
                "last_name": "Doe",
                "display_name": "Dr. Jonathan Doe",
                "email": "jonathan.doe@example.com",
                "professional_title": "Senior Medical Consultant",
                "photo_path": "/storage/staff/profile/12345_new.jpg",
                "on_entry_navigate_to": "calendar",
                "email_signature": "Kind regards,\nJonathan Doe, MD\nSenior Medical Consultant",
                "active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Staff member updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StaffMemberResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "uid": "staff-12345",
                    "first_name": "Jonathan",
                    "last_name": "Doe",
                    "display_name": "Dr. Jonathan Doe",
                    "email": "jonathan.doe@example.com",
                    "professional_title": "Senior Medical Consultant",
                    "business_uid": "business-12345",
                    "full_mobile_number": "+12345678901",
                    "photo_path": "/storage/staff/profile/12345_new.jpg",
                    "on_entry_navigate_to": "calendar",
                    "role": "admin",
                    "email_signature": "Kind regards,\nJonathan Doe, MD\nSenior Medical Consultant",
                    "business_role_display_name": "Business Administrator",
                    "owner": true,
                    "active": true,
                    "deleted": false,
                    "blocked_at": null,
                    "created_at": "2023-01-01T12:00:00Z",
                    "updated_at": "2023-02-10T15:45:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Staff member not found"
          },
          "409": {
            "description": "Email already in use by another staff member"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
} 