{
  "openapi": "3.0.0",
  "info": {
    "title": "Phone Numbers",
    "description": "API endpoints for managing business phone numbers. Allows businesses to purchase, view, and manage their dedicated phone numbers.",
    "version": "3.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "Business Phone Numbers",
      "description": "Operations for managing business phone numbers"
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz/",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "MultiAvailablePhoneNumberResponse": {
        "type": "object",
        "properties": {
          "available_phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/communication/availablePhoneNumber.json"
            }
          }
        },
        "required": [
          "available_phone_numbers"
        ]
      },
      "CreateBusinessPhoneNumberRequest": {
        "type": "object",
        "properties": {
          "phone_number": {
            "type": "string",
            "description": "The complete phone number in E.164 format without formatting (e.g., \"12127654321\"). This is the actual phone number to be purchased from the telecom provider."
          },
          "country_code": {
            "type": "string",
            "pattern": "^[A-Z]{2}$",
            "description": "ISO 3166-1 alpha-2 country code (e.g., \"US\" for United States, \"CA\" for Canada)."
          },
          "features": {
            "type": "array",
            "description": "List of telephony features to enable for this phone number, (e.g., [\"VOICE\", \"SMS\"]).",
            "minItems": 1,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "VOICE",
                "SMS"
              ]
            }
          },
          "verification_request_data": {
            "description": "Business verification information required for text messaging compliance in the United States and Canada. This data registers your business with mobile carriers to enable SMS messaging capabilities. The verification process helps prevent spam and ensures your business messages are delivered reliably to customers.",
            "properties": {
              "entity_type": {
                "type": "string",
                "enum": [
                  "PRIVATE_PROFIT",
                  "PUBLIC_PROFIT",
                  "NON_PROFIT",
                  "SOLE_PROPRIETOR"
                ],
                "description": "Legal form of the business. PRIVATE_PROFIT: Privately-held for-profit company (e.g., LLC, Corp). PUBLIC_PROFIT: Publicly-traded for-profit company. NON_PROFIT: Non-profit organization (e.g., 501(c)(3)). SOLE_PROPRIETOR: Individual business owner without formal business entity."
              },
              "brand_name": {
                "type": "string",
                "maxLength": 255,
                "description": "Brand name of the company or DBA (Doing Business As)"
              },
              "legal_company_name": {
                "type": "string",
                "maxLength": 255,
                "description": "The legally registered company name"
              },
              "contact_first_name": {
                "type": "string",
                "maxLength": 100,
                "description": "Business owner's first name"
              },
              "contact_last_name": {
                "type": "string",
                "maxLength": 100,
                "description": "Business owner's last name"
              },
              "tax_number": {
                "type": "string",
                "maxLength": 21,
                "description": "Tax Number/ID/EIN"
              },
              "website_url": {
                "type": "string",
                "format": "uri",
                "description": "Business website URL"
              },
              "country_code": {
                "type": "string",
                "pattern": "^[A-Z]{2}$",
                "description": "ISO3166-Alpha2 country code of registration (e.g., \"US\", \"CA\")"
              },
              "postal_code": {
                "type": "string",
                "maxLength": 10,
                "pattern": "^[0-9]{5}$",
                "description": "Postal/ZIP code (5 digits for US)"
              },
              "street": {
                "type": "string",
                "maxLength": 100,
                "description": "Street address and number (e.g., \"123 Main Street\", \"456 5th Avenue\")"
              },
              "city": {
                "type": "string",
                "maxLength": 100,
                "description": "City name"
              },
              "state": {
                "type": "string",
                "maxLength": 20,
                "pattern": "^[A-Z]{2}$",
                "description": "State/Region (2-letter code for USA)"
              },
              "contact_email": {
                "type": "string",
                "format": "email",
                "description": "Contact email address."
              },
              "contact_phone": {
                "type": "string",
                "pattern": "^[1-9][0-9]{9,14}$",
                "description": "Contact phone number in E.164 format without + prefix"
              },
              "mobile_phone": {
                "type": "string",
                "pattern": "^[1-9][0-9]{9,14}$",
                "description": "Mobile phone number for brand verification in E.164 format without + prefix"
              }
            },
            "required": [
              "entity_type",
              "brand_name",
              "contact_first_name",
              "contact_last_name",
              "website_url",
              "country_code",
              "postal_code",
              "street",
              "city",
              "state",
              "contact_email",
              "contact_phone",
              "mobile_phone"
            ]
          }
        },
        "required": [
          "phone_number",
          "country_code",
          "features"
        ]
      },
      "MultiBusinessPhoneNumberResponse": {
        "type": "object",
        "properties": {
          "business_phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/communication/businessPhoneNumber.json"
            }
          }
        },
        "required": [
          "business_phone_numbers"
        ]
      },
      "UpdateBusinessPhoneNumberRequest": {
        "type": "object",
        "description": "Request wrapper for updating business phone number verification data.",
        "properties": {
          "verification_request_data": {
            "type": "object",
            "description": "Business verification information required for text messaging compliance in the United States and Canada. This data registers your business with mobile carriers to enable SMS messaging capabilities. The verification process helps prevent spam and ensures your business messages are delivered reliably to customers.",
            "properties": {
              "entity_type": {
                "type": "string",
                "enum": [
                  "PRIVATE_PROFIT",
                  "PUBLIC_PROFIT",
                  "NON_PROFIT",
                  "SOLE_PROPRIETOR"
                ],
                "description": "Legal form of the business. PRIVATE_PROFIT: Privately-held for-profit company (e.g., LLC, Corp). PUBLIC_PROFIT: Publicly-traded for-profit company. NON_PROFIT: Non-profit organization (e.g., 501(c)(3)). SOLE_PROPRIETOR: Individual business owner without formal business entity."
              },
              "brand_name": {
                "type": "string",
                "maxLength": 255,
                "description": "Brand name of the company or DBA (Doing Business As)"
              },
              "legal_company_name": {
                "type": "string",
                "maxLength": 255,
                "description": "The legally registered company name"
              },
              "contact_first_name": {
                "type": "string",
                "maxLength": 100,
                "description": "Business owner's first name"
              },
              "contact_last_name": {
                "type": "string",
                "maxLength": 100,
                "description": "Business owner's last name"
              },
              "tax_number": {
                "type": "string",
                "maxLength": 21,
                "description": "Tax Number/ID/EIN"
              },
              "website_url": {
                "type": "string",
                "format": "uri",
                "description": "Business website URL"
              },
              "country_code": {
                "type": "string",
                "pattern": "^[A-Z]{2}$",
                "description": "ISO3166-Alpha2 country code of registration (e.g., \"US\", \"CA\")"
              },
              "postal_code": {
                "type": "string",
                "maxLength": 10,
                "pattern": "^[0-9]{5}$",
                "description": "Postal/ZIP code (5 digits for US)"
              },
              "street": {
                "type": "string",
                "maxLength": 100,
                "description": "Street address and number (e.g., \"123 Main Street\", \"456 5th Avenue\")"
              },
              "full_address": {
                "type": "string",
                "maxLength": 255,
                "description": "Complete formatted address including street, city, state, postal code, and country (e.g., \"123 Main Street, New York, NY 10001, USA\")"
              },
              "city": {
                "type": "string",
                "maxLength": 100,
                "description": "City name"
              },
              "state": {
                "type": "string",
                "maxLength": 20,
                "pattern": "^[A-Z]{2}$",
                "description": "State/Region (2-letter code for USA)"
              },
              "contact_email": {
                "type": "string",
                "format": "email",
                "description": "Contact email address."
              },
              "contact_phone": {
                "type": "string",
                "pattern": "^[1-9][0-9]{9,14}$",
                "description": "Contact phone number in E.164 format without + prefix"
              },
              "mobile_phone": {
                "type": "string",
                "pattern": "^[1-9][0-9]{9,14}$",
                "description": "Mobile phone number for brand verification in E.164 format without + prefix"
              }
            }
          }
        },
        "required": [
          "verification_request_data"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The field that caused the error (for validation errors)"
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "code",
                "message"
              ]
            }
          }
        },
        "required": [
          "success",
          "errors"
        ],
        "example": {
          "success": false,
          "errors": [
            {
              "field": "verification_request_data.postal_code",
              "code": "INVALID_FORMAT",
              "message": "Must be exactly 5 digits for US addresses"
            },
            {
              "field": "verification_request_data.state",
              "code": "INVALID_FORMAT",
              "message": "Must be a valid 2-letter state code"
            }
          ]
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/v3/communication/available_phone_numbers": {
      "get": {
        "operationId": "AvailablePhoneNumbersController_findAll",
        "summary": "Retrieve All AvailablePhoneNumbers",
        "description": "## Overview\nRetrieves a list of phone numbers.\n\nAvailable for **Staff, Directory, and Client tokens**",
        "parameters": [
          {
            "name": "country_code",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by ISO 3166-1 alpha-2 country code (e.g., \"US\", \"CA\", \"GB\", \"AU\")"
          },
          {
            "name": "area_code",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by area code (e.g., \"302\"). Required if country_code is \"US\"."
          },
          {
            "name": "features",
            "required": false,
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "VOICE",
                  "SMS"
                ]
              }
            },
            "description": "Filter by telephony features (e.g., [\"VOICE\", \"SMS\"])."
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available phone numbers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiAvailablePhoneNumberResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid query parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          }
        },
        "tags": [
          "Available Phone Numbers"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/business_phone_numbers": {
      "post": {
        "operationId": "BusinessPhoneNumbersController_create",
        "summary": "Create a BusinessPhoneNumber",
        "description": "## Overview\nPurchase a phone number from a telecom provider and assign it to a business account. For US and Canadian phone numbers with text messaging, verification_request_data is required to register your business with mobile carriers and ensure reliable message delivery. Available for **Staff and Directory tokens**.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessPhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business phone number created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/businessPhoneNumber.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "409": {
            "description": "Conflict - Phone number already exists or is not available"
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Business Phone Numbers"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "BusinessPhoneNumbersController_findAll",
        "summary": "Retrieve all BusinessPhoneNumbers",
        "description": "## Overview\nRetrieves a list of all business phone numbers associated with a business account.\n\nAvailable for **Staff, Directory, and Client tokens**",
        "responses": {
          "200": {
            "description": "List of business phone numbers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiBusinessPhoneNumberResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          }
        },
        "tags": [
          "Business Phone Numbers"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/business_phone_numbers/{uid}": {
      "get": {
        "operationId": "BusinessPhoneNumbersController_findOne",
        "summary": "Retrieve a BusinessPhoneNumber",
        "description": "## Overview\nFetches detailed information about a single business phone number using its unique identifier.\n\nAvailable for **Business and Directory tokens** only. Staff tokens without business context will be rejected.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the business phone number"
          }
        ],
        "responses": {
          "200": {
            "description": "Business phone number retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/businessPhoneNumber.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "404": {
            "description": "Not found - Business phone number not found"
          }
        },
        "tags": [
          "Business Phone Numbers"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "operationId": "BusinessPhoneNumbersController_update",
        "summary": "Update a BusinessPhoneNumber",
        "description": "## Overview\nUpdate the verification request data for a business phone number.\n\nAvailable for **Business and Staff tokens** only. Requires business context.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the business phone number",
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessPhoneNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business phone number updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/businessPhoneNumber.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid input data"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "404": {
            "description": "Not found - Business phone number not found"
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Business Phone Numbers"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}
