{
    "openapi": "3.0.0",
    "info": {
      "title": "Communication",
      "description": "A set of API endpoints used by the inTandem platform to manage\n       the communication between business owners and their clients.",
      "version": "3.0",
      "contact": {}
    },
    "tags": [],
    "servers": [
      {
        "url": "https://api.vcita.biz/",
        "description": "API Gateway server"
      }
    ],
    "components": {
      "securitySchemes": {
        "Bearer": {
          "type": "http",
          "scheme": "bearer"
        }
      },
      "schemas": {
        "Response": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean"
            },
            "data": {
              "type": "object"
            }
          },
          "required": [
            "success",
            "data"
          ]
        },
        "ResponseEntity": {
          "type": "object",
          "properties": {
            "uid": {
              "type": "string",
              "description": "The unique identifier of the setting"
            },
            "business_uid": {
              "type": "string",
              "description": "The unique identifier of the business"
            },
            "staff_uid": {
              "type": "string",
              "description": "The unique identifier of the staff"
            },
            "forwarding_enabled": {
              "type": "string",
              "description": "Whether or not forwarding to the staff is enabled"
            },
            "forward_number": {
              "type": "string",
              "description": "The number to forward to"
            },
            "dedicated_number": {
              "type": "string",
              "description": "The dedicated number"
            },
            "call_forwarding_policy": {
              "type": "string",
              "description": "The call forwarding policy"
            },
            "call_timeout_sec": {
              "type": "number",
              "description": "The call timeout in seconds"
            },
            "external_app_name": {
              "type": "string",
              "description": "The external app name"
            },
            "app_status": {
              "type": "string",
              "description": "The status of the app"
            }
          },
          "required": [
            "uid",
            "business_uid",
            "staff_uid",
            "external_app_name",
            "app_status"
          ]
        },
        "VoiceScriptsDto": {
          "type": "object",
          "properties": {}
        },
        "RequestDto": {
          "type": "object",
          "properties": {
            "staff_uid": {
              "type": "string",
              "description": "The staff uid"
            },
            "forward_number": {
              "type": "string",
              "description": "The number to forward calls to"
            },
            "staff_weekly_availability_uid": {
              "type": "string",
              "description": "The staff weekly availability uid"
            },
            "forwarding_enabled": {
              "type": "boolean",
              "description": "Whether forwarding calls to the staff is enabled"
            },
            "dedicated_number": {
              "type": "string",
              "description": "The dedicated number"
            },
            "call_forwarding_policy": {
              "type": "string",
              "description": "The call forwarding policy"
            },
            "call_timeout_sec": {
              "type": "number",
              "description": "Seconds until the call times out"
            },
            "voice_scripts": {
              "description": "The voice scripts",
              "allOf": [
                {
                  "$ref": "#/components/schemas/VoiceScriptsDto"
                }
              ]
            },
            "external_app_name": {
              "type": "string",
              "description": "The external app name"
            },
            "app_status": {
              "type": "string",
              "description": "The app's status"
            }
          },
          "required": [
            "staff_uid",
            "forward_number",
            "staff_weekly_availability_uid",
            "forwarding_enabled",
            "dedicated_number",
            "call_forwarding_policy",
            "call_timeout_sec",
            "voice_scripts",
            "external_app_name",
            "app_status"
          ]
        },
        "UpdateRequestDto": {
          "type": "object",
          "properties": {
            "staff_uid": {
              "type": "string",
              "description": "The staff uid"
            },
            "forward_number": {
              "type": "string",
              "description": "The number to forward calls to"
            },
            "staff_weekly_availability_uid": {
              "type": "string",
              "description": "The staff weekly availability uid"
            },
            "forwarding_enabled": {
              "type": "boolean",
              "description": "Whether forwarding calls to the staff is enabled"
            },
            "dedicated_number": {
              "type": "string",
              "description": "The dedicated number"
            },
            "call_forwarding_policy": {
              "type": "string",
              "description": "The call forwarding policy"
            },
            "call_timeout_sec": {
              "type": "number",
              "description": "Seconds until the call times out"
            },
            "voice_scripts": {
              "description": "The voice scripts",
              "allOf": [
                {
                  "$ref": "#/components/schemas/VoiceScriptsDto"
                }
              ]
            },
            "external_app_name": {
              "type": "string",
              "description": "The external app name"
            },
            "app_status": {
              "type": "string",
              "description": "The app's status"
            }
          },
          "required": [
            "staff_uid",
            "forward_number",
            "staff_weekly_availability_uid",
            "forwarding_enabled",
            "dedicated_number",
            "call_forwarding_policy",
            "call_timeout_sec",
            "voice_scripts",
            "external_app_name",
            "app_status"
          ]
        },
        "MultiResponseEntity": {
          "type": "object",
          "properties": {
            "voice_call_settings": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ResponseEntity"
              }
            }
          },
          "required": [
            "voice_call_settings"
          ]
        },
        "ResponseDto": {
          "type": "object",
          "properties": {}
        },
        "VoiceCallResponseDto": {
          "type": "object",
          "properties": {
            "uid": {
              "type": "string",
              "description": "The entity uid"
            },
            "deleted_at": {
              "type": "boolean",
              "description": "Whether or not a voice call is deleted"
            },
            "staff_uid": {
              "type": "string",
              "description": "The uid belonging to the staff who gets/performs the call"
            },
            "client_uid": {
              "type": "string",
              "description": "The uid belonging to the client who gets/performs the call"
            },
            "duration": {
              "type": "number",
              "description": "The duration of the call"
            },
            "from_number": {
              "type": "string",
              "description": "The id of the number the call is from"
            },
            "to_number": {
              "type": "string",
              "description": "The id of the number the call is to"
            },
            "direction": {
              "type": "string",
              "description": "The direction of the call",
              "enum": [
                "INBOUND",
                "OUTBOUND"
              ]
            },
            "status": {
              "type": "string",
              "description": "The status of the call",
              "enum": [
                "INCOMING_CALL",
                "ANSWERED_BY_STAFF",
                "MISSED",
                "ANSWERED_BY_CALLS_PROVIDER"
              ]
            },
            "call_summary": {
              "type": "string",
              "description": "The call summary"
            },
            "external_app_url": {
              "type": "string",
              "description": "The external app link"
            },
            "external_app_name": {
              "type": "string",
              "description": "The external app name"
            },
            "recording": {
              "description": "The call recording details",
              "allOf": [
                {
                  "$ref": "#/components/schemas/ResponseDto"
                }
              ]
            },
            "created_at": {
              "format": "date-time",
              "type": "string",
              "description": "The creation date and time of the call"
            },
            "updated_at": {
              "format": "date-time",
              "type": "string",
              "description": "The last updated date and time of the call"
            },
            "source_id": {
              "type": "string",
              "description": "The call source id"
            },
            "external_uuid": {
              "type": "string",
              "description": "The external call conversation uuid"
            }
          },
          "required": [
            "uid",
            "deleted_at",
            "staff_uid",
            "client_uid",
            "duration",
            "from_number",
            "to_number",
            "direction",
            "status",
            "call_summary",
            "external_app_url",
            "external_app_name",
            "recording",
            "created_at",
            "updated_at",
            "source_id",
            "external_uuid"
          ]
        },
        "MultiVoiceCallResponseDto": {
          "type": "object",
          "properties": {
            "voice_calls": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/VoiceCallResponseDto"
              }
            }
          },
          "required": [
            "voice_calls"
          ]
        },
        "UpdateVoiceCall": {
          "type": "object",
          "properties": {
            "staff_uid": {
              "type": "string",
              "description": "The staff uid"
            },
            "client_uid": {
              "type": "string",
              "description": "The client uid"
            },
            "from_number": {
              "type": "string",
              "description": "The id of the number the call is from"
            },
            "to_number": {
              "type": "string",
              "description": "The id of the number the call is to"
            },
            "direction": {
              "type": "string",
              "description": "The direction of the call",
              "enum": [
                "INBOUND",
                "OUTBOUND"
              ]
            },
            "status": {
              "type": "string",
              "enum": [
                "INCOMING_CALL",
                "ANSWERED_BY_STAFF",
                "MISSED",
                "ANSWERED_BY_CALLS_PROVIDER"
              ],
              "description": "The status of the call"
            },
            "rate": {
              "type": "string",
              "description": "The price rate of the call"
            },
            "price": {
              "type": "string",
              "description": "The call total price"
            },
            "provider": {
              "type": "string",
              "description": "The call provider",
              "enum": [
                "VONAGE"
              ]
            },
            "source_id": {
              "type": "string",
              "description": "The source id of the call"
            },
            "duration": {
              "type": "number",
              "description": "The duration of the call"
            },
            "call_summary": {
              "type": "string",
              "description": "The summary of the call"
            },
            "external_app_url": {
              "type": "string",
              "description": "The external app link of the call"
            },
            "external_app_name": {
              "type": "string",
              "description": "The external app name"
            },
            "recording_id": {
              "type": "string",
              "description": "The UID of the call recording"
            },
            "external_uuid": {
              "type": "string",
              "description": "The external uuid of the call"
            }
          },
          "required": [
            "staff_uid",
            "client_uid",
            "from_number",
            "to_number",
            "direction",
            "status",
            "rate",
            "price",
            "provider",
            "source_id",
            "duration",
            "call_summary",
            "external_app_url",
            "external_app_name",
            "recording_id",
            "external_uuid"
          ]
        },
        "CreateVoiceCall": {
          "type": "object",
          "properties": {
            "staff_uid": {
              "type": "string",
              "description": "The staff uid"
            },
            "client_uid": {
              "type": "string",
              "description": "The client uid"
            },
            "from_number": {
              "type": "string",
              "description": "The id of the number the call is from"
            },
            "to_number": {
              "type": "string",
              "description": "The id of the number the call is to"
            },
            "direction": {
              "type": "string",
              "description": "The direction of the call",
              "enum": [
                "INBOUND",
                "OUTBOUND"
              ]
            },
            "status": {
              "type": "string",
              "enum": [
                "INCOMING_CALL",
                "ANSWERED_BY_STAFF",
                "MISSED",
                "ANSWERED_BY_CALLS_PROVIDER"
              ],
              "description": "The status of the call"
            },
            "rate": {
              "type": "string",
              "description": "The price rate of the call"
            },
            "provider": {
              "type": "string",
              "description": "The call provider",
              "enum": [
                "VONAGE"
              ]
            },
            "source_id": {
              "type": "string",
              "description": "The source id of the call"
            },
            "external_uuid": {
              "type": "string",
              "description": "The external uuid of the call"
            },
            "business_uid": {
              "type": "string",
              "description": "The uid of the business to which the call belongs"
            }
          },
          "required": [
            "staff_uid",
            "client_uid",
            "from_number",
            "to_number",
            "direction",
            "status",
            "rate",
            "provider",
            "source_id",
            "external_uuid",
            "business_uid"
          ]
        },
        "QuotaResponseData": {
          "type": "object",
          "properties": {
            "business_uid": {
              "type": "string",
              "description": "The business uid the quota is related to"
            },
            "credit": {
              "type": "number",
              "description": "The credit of the quota"
            },
            "balance": {
              "type": "number",
              "description": "The amount used from the credit"
            },
            "source": {
              "type": "string",
              "description": "The source of the quota"
            }
          },
          "required": [
            "business_uid",
            "credit",
            "balance",
            "source"
          ]
        },
        "MultiQuotaResponseDto": {
          "type": "object",
          "properties": {
            "voice_call_quotas": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/QuotaResponseData"
              }
            }
          },
          "required": [
            "voice_call_quotas"
          ]
        }
      }
    },
    "paths": {
      "/v3/communication/voice_call_settings": {
        "post": {
          "operationId": "SettingsController_create",
          "summary": "Create a VoiceCallSetting",
          "parameters": [],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestDto"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/ResponseEntity"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": [
            "Voice Call Settings"
          ],
          "security": [
            {
              "bearer": []
            }
          ]
        },
        "get": {
          "operationId": "SettingsController_get",
          "summary": "Get all VoiceCallSettings",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/MultiResponseEntity"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": [
            "Voice Call Settings"
          ],
          "security": [
            {
              "bearer": []
            }
          ]
        }
      },
      "/v3/communication/voice_call_settings/{uid}": {
        "put": {
          "operationId": "SettingsController_update",
          "summary": "Update VoiceCallSetting",
          "parameters": [
            {
              "name": "uid",
              "required": true,
              "in": "path",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/ResponseEntity"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": [
            "Voice Call Settings"
          ],
          "security": [
            {
              "bearer": []
            }
          ]
        }
      },
      "/v3/communication/voice_calls": {
        "get": {
          "operationId": "VoiceCallsController_getAll",
          "summary": "Get all VoiceCalls",
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "description": "Page number of results.",
              "schema": {
                "minimum": 1,
                "maximum": 10000,
                "default": 1,
                "type": "number"
              }
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "description": "How many items to return per page. Max: 100",
              "schema": {
                "minimum": 1,
                "maximum": 100,
                "default": 25,
                "type": "number"
              }
            },
            {
              "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
              "name": "sort",
              "required": false,
              "in": "query",
              "schema": {
                "default": "updated_at:desc",
                "type": "string"
              }
            },
            {
              "description": "Filter by a field. Example: filter[created_at][gt]=2019-01-01, filter[name]=my-name",
              "required": false,
              "name": "filter",
              "in": "query",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/MultiVoiceCallResponseDto"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": [
            "Voice Call"
          ],
          "security": [
            {
              "Bearer": []
            },
            {
              "bearer": []
            }
          ]
        },
        "post": {
          "operationId": "VoiceCallsController_create",
          "summary": "Create a VoiceCall",
          "parameters": [],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoiceCall"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/VoiceCallResponseDto"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": [
            "Voice Call"
          ],
          "security": [
            {
              "Bearer": []
            },
            {
              "bearer": []
            }
          ]
        }
      },
      "/v3/communication/voice_calls/{uid}": {
        "get": {
          "operationId": "VoiceCallsController_get",
          "summary": "Retrieve a VoiceCall",
          "parameters": [
            {
              "name": "uid",
              "required": true,
              "in": "path",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/VoiceCallResponseDto"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": [
            "Voice Call"
          ],
          "security": [
            {
              "Bearer": []
            },
            {
              "bearer": []
            }
          ]
        },
        "put": {
          "operationId": "VoiceCallsController_update",
          "summary": "Update a VoiceCall",
          "parameters": [
            {
              "name": "uid",
              "required": true,
              "in": "path",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateVoiceCall"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/VoiceCallResponseDto"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": [
            "Voice Call"
          ],
          "security": [
            {
              "Bearer": []
            },
            {
              "bearer": []
            }
          ]
        }
      },
      "/v3/communication/voice_call_recordings/{uid}": {
        "delete": {
          "operationId": "RecordingsController_deleteVoiceCallRecording",
          "summary": "Delete a VoiceCallRecording",
          "parameters": [
            {
              "name": "uid",
              "required": true,
              "in": "path",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/VoiceCallResponseDto"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": [
            "Voice Call Recordings"
          ],
          "security": [
            {
              "Bearer": []
            },
            {
              "bearer": []
            }
          ]
        }
      },
      "/v3/communication/voice_call_quotas": {
        "get": {
          "operationId": "QuotasController_getQuota",
          "summary": "Retrieve a VoiceCallQuota",
          "parameters": [],
          "responses": {
            "200": {
              "description": "",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/MultiQuotaResponseDto"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": [
            "Voice Call Quota"
          ],
          "security": [
            {
              "bearer": []
            }
          ]
        }
      }
    }
}