{
  "openapi": "3.0.0",
  "info": {
    "title": "Communication",
    "description": "A set of API endpoints used by the inTandem platform to manage\n       the communication between business owners and their clients.",
    "version": "3.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.vcita.biz/",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ResponseEntity": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "The unique identifier of the setting"
          },
          "business_uid": {
            "type": "string",
            "description": "The unique identifier of the business"
          },
          "staff_uid": {
            "type": "string",
            "description": "The unique identifier of the staff"
          },
          "forwarding_enabled": {
            "type": "boolean",
            "description": "Whether call forwarding is enabled for this staff member"
          },
          "forward_number": {
            "type": "string",
            "description": "The number to forward to"
          },
          "dedicated_number": {
            "type": "string",
            "description": "The dedicated number"
          },
          "call_forwarding_policy": {
            "type": "string",
            "description": "The call forwarding policy"
          },
          "call_timeout_sec": {
            "type": "number",
            "description": "The call timeout in seconds"
          },
          "publish_number": {
            "type": "boolean",
            "description": "Indicates if the dedicated number should be published as the business's phone number."
          },
          "external_app_name": {
            "type": "string",
            "description": "The external app name"
          },
          "app_status": {
            "type": "string",
            "description": "The status of the app"
          },
          "feature": {
            "type": "string",
            "enum": ["VOICE", "SMS", "VOICE_SMS"],
            "description": "The feature type for this setting (e.g., \"VOICE\")"
          },
          "transcript_enabled": {
            "type": "boolean",
            "description": "Whether automatic transcript processing is enabled for voice calls in this business (e.g., true)"
          }
        },
        "required": [
          "uid",
          "business_uid",
          "staff_uid",
          "forwarding_enabled",
          "external_app_name",
          "app_status"
        ]
      },
      "VoiceScriptsDto": {
        "type": "object",
        "properties": {}
      },
      "RequestDto": {
        "type": "object",
        "properties": {
          "staff_uid": {
            "type": "string",
            "description": "The staff uid"
          },
          "forward_number": {
            "type": "string",
            "description": "The number to forward calls to"
          },
          "staff_weekly_availability_uid": {
            "type": "string",
            "description": "The staff weekly availability uid"
          },
          "forwarding_enabled": {
            "type": "boolean",
            "description": "Whether forwarding calls to the staff is enabled"
          },
          "dedicated_number": {
            "type": "string",
            "description": "The dedicated number"
          },
          "call_forwarding_policy": {
            "type": "string",
            "description": "The call forwarding policy"
          },
          "call_timeout_sec": {
            "type": "number",
            "description": "Seconds until the call times out"
          },
          "publish_number": {
            "type": "boolean",
            "description": "Indicates if the dedicated number should be published as the business's phone number."
          },
          "voice_scripts": {
            "description": "The voice scripts",
            "allOf": [
              {
                "$ref": "#/components/schemas/VoiceScriptsDto"
              }
            ]
          },
          "external_app_name": {
            "type": "string",
            "description": "The external app name"
          },
          "app_status": {
            "type": "string",
            "description": "The app's status"
          },
          "feature": {
            "type": "string",
            "enum": ["VOICE", "SMS", "VOICE_SMS"],
            "description": "The feature type for this setting (e.g., \"VOICE\")"
          },
          "transcript_enabled": {
            "type": "boolean",
            "description": "Whether automatic transcript processing is enabled for voice calls (e.g., true)"
          }
        },
        "required": [
          "staff_uid",
          "forward_number",
          "staff_weekly_availability_uid",
          "forwarding_enabled",
          "dedicated_number",
          "call_forwarding_policy",
          "call_timeout_sec",
          "voice_scripts",
          "external_app_name",
          "app_status"
        ]
      },
      "UpdateRequestDto": {
        "type": "object",
        "properties": {
          "staff_uid": {
            "type": "string",
            "description": "The staff uid"
          },
          "forward_number": {
            "type": "string",
            "description": "The number to forward calls to"
          },
          "staff_weekly_availability_uid": {
            "type": "string",
            "description": "The staff weekly availability uid"
          },
          "forwarding_enabled": {
            "type": "boolean",
            "description": "Whether forwarding calls to the staff is enabled"
          },
          "dedicated_number": {
            "type": "string",
            "description": "The dedicated number"
          },
          "call_forwarding_policy": {
            "type": "string",
            "description": "The call forwarding policy"
          },
          "call_timeout_sec": {
            "type": "number",
            "description": "Seconds until the call times out"
          },
          "publish_number": {
            "type": "boolean",
            "description": "Indicates if the dedicated number should be published as the business's phone number."
          },
          "voice_scripts": {
            "description": "The voice scripts",
            "allOf": [
              {
                "$ref": "#/components/schemas/VoiceScriptsDto"
              }
            ]
          },
          "external_app_name": {
            "type": "string",
            "description": "The external app name"
          },
          "app_status": {
            "type": "string",
            "description": "The app's status"
          },
          "feature": {
            "type": "string",
            "enum": ["VOICE", "SMS", "VOICE_SMS"],
            "description": "The feature type for this setting (e.g., \"VOICE\")"
          },
          "transcript_enabled": {
            "type": "boolean",
            "description": "Whether automatic transcript processing is enabled for voice calls (e.g., true)"
          }
        }
      },
      "MultiResponseEntity": {
        "type": "object",
        "properties": {
          "voice_call_settings": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallSetting.json"
            }
          }
        },
        "required": [
          "voice_call_settings"
        ]
      },
      "MultiVoiceCallResponse": {
        "type": "object",
        "properties": {
          "voice_calls": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
            }
          }
        },
        "required": [
          "voice_calls"
        ]
      },
      "UpdateVoiceCall": {
        "type": "object",
        "properties": {
          "staff_uid": {
            "type": "string",
            "description": "The unique identifier of the staff member associated with the call (e.g., \"d290f1ee-6c54-4b01-90e6-d701748f0851\")."
          },
          "client_uid": {
            "type": "string",
            "description": "The unique identifier of the client involved in the call (e.g., \"d290f1ee-6c54-4b01-90e6-d701748f0851\")."
          },
          "from_number": {
            "type": "string",
            "description": "The phone number the call originated from, in E.164 format (e.g., \"+14155550148\")."
          },
          "to_number": {
            "type": "string",
            "description": "The phone number the call was directed to, in E.164 format (e.g., \"+14155550901\")."
          },
          "direction": {
            "type": "string",
            "description": "The direction of the call. Must be one of the allowed enum values: INBOUND (incoming call to the business) or OUTBOUND (outgoing call from the business). Values are case-sensitive and must be uppercase (e.g., \"INBOUND\").",
            "enum": [
              "INBOUND",
              "OUTBOUND"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "INCOMING_CALL",
              "ANSWERED_BY_STAFF",
              "MISSED",
              "ANSWERED_BY_CALLS_PROVIDER",
              "MISSED_CALL_HANDLED",
              "VOICEMAIL"
            ],
            "description": "The status of the call. Must be one of the allowed enum values: INCOMING_CALL (call is ringing), ANSWERED_BY_STAFF (staff picked up), MISSED (no one answered), ANSWERED_BY_CALLS_PROVIDER (handled by provider IVR), MISSED_CALL_HANDLED (missed call was followed up), VOICEMAIL (caller left a voicemail). Values are case-sensitive and must be uppercase (e.g., \"MISSED\")."
          },
          "rate": {
            "type": "string",
            "description": "The price rate of the call as a string value (e.g., \"0.05\"). Pass \"0\" for free calls. Must be a string, not a number."
          },
          "price": {
            "type": "string",
            "description": "The total price of the call as a string value (e.g., \"1.50\"). Must be a string, not a number."
          },
          "provider": {
            "type": "string",
            "description": "The voice call provider. Currently only VONAGE is supported. Values are case-sensitive and must be uppercase (e.g., \"VONAGE\").",
            "enum": [
              "VONAGE"
            ]
          },
          "source_id": {
            "type": "string",
            "description": "A unique source identifier for the call from the provider system (e.g., \"call-src-001\")."
          },
          "duration": {
            "type": "number",
            "description": "The duration of the call in seconds (e.g., 120 for a 2-minute call)."
          },
          "call_summary": {
            "type": "string",
            "description": "A text summary of the call content (e.g., \"Client called to ask about their account balance\")."
          },
          "external_app_url": {
            "type": "string",
            "description": "Link to an external application page with additional details about the call (e.g., \"https://example.com/call-details\")."
          },
          "external_app_name": {
            "type": "string",
            "description": "The name of the external application that originated or manages the call."
          },
          "recording_id": {
            "type": "string",
            "description": "The unique identifier of the call recording associated with this voice call."
          },
          "external_uuid": {
            "type": "string",
            "description": "An external unique identifier for the call from the provider system (e.g., \"ext-call-001\")."
          },
          "handled_by_staff_uid": {
            "type": "string",
            "description": "The unique identifier of the staff member who handled or followed up on the call."
          }
        },
        "required": [
          "staff_uid",
          "client_uid",
          "from_number",
          "to_number",
          "direction",
          "status",
          "rate",
          "price",
          "provider",
          "source_id",
          "duration",
          "call_summary",
          "external_app_url",
          "external_app_name",
          "recording_id",
          "external_uuid"
        ]
      },
      "UpdateVoiceCallRecording": {
        "type": "object",
        "properties": {
          "recording_played": {
            "type": "boolean",
            "description": "Whether the call recording has been played (e.g., true)"
          }
        }
      },
      "TranscriptResponse": {
        "type": "object",
        "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallTranscript.json"
      },
      "CreateVoiceCall": {
        "type": "object",
        "properties": {
          "staff_uid": {
            "type": "string",
            "description": "The unique identifier of the staff member associated with the call (e.g., \"d290f1ee-6c54-4b01-90e6-d701748f0851\")."
          },
          "client_uid": {
            "type": "string",
            "description": "The unique identifier of the client involved in the call (e.g., \"d290f1ee-6c54-4b01-90e6-d701748f0851\")."
          },
          "from_number": {
            "type": "string",
            "description": "The phone number the call originated from, in E.164 format (e.g., \"+14155550148\")."
          },
          "to_number": {
            "type": "string",
            "description": "The phone number the call was directed to, in E.164 format (e.g., \"+14155550901\")."
          },
          "direction": {
            "type": "string",
            "description": "The direction of the call. Must be one of the allowed enum values: INBOUND (incoming call to the business) or OUTBOUND (outgoing call from the business). Values are case-sensitive and must be uppercase (e.g., \"INBOUND\").",
            "enum": [
              "INBOUND",
              "OUTBOUND"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "INCOMING_CALL",
              "ANSWERED_BY_STAFF",
              "MISSED",
              "ANSWERED_BY_CALLS_PROVIDER",
              "MISSED_CALL_HANDLED",
              "VOICEMAIL"
            ],
            "description": "The status of the call. Must be one of the allowed enum values: INCOMING_CALL (call is ringing), ANSWERED_BY_STAFF (staff picked up), MISSED (no one answered), ANSWERED_BY_CALLS_PROVIDER (handled by provider IVR), MISSED_CALL_HANDLED (missed call was followed up), VOICEMAIL (caller left a voicemail). Values are case-sensitive and must be uppercase (e.g., \"MISSED\")."
          },
          "rate": {
            "type": "string",
            "description": "The price rate of the call as a string value (e.g., \"0.05\"). Pass \"0\" for free calls. Must be a string, not a number."
          },
          "provider": {
            "type": "string",
            "description": "The voice call provider. Currently only VONAGE is supported. Values are case-sensitive and must be uppercase (e.g., \"VONAGE\").",
            "enum": [
              "VONAGE"
            ]
          },
          "source_id": {
            "type": "string",
            "description": "A unique source identifier for the call from the provider system (e.g., \"call-src-001\")."
          },
          "external_uuid": {
            "type": "string",
            "description": "An external unique identifier for the call from the provider system (e.g., \"ext-call-001\")."
          },
          "business_uid": {
            "type": "string",
            "description": "The unique identifier of the business to which the call belongs (e.g., \"d290f1ee-6c54-4b01-90e6-d701748f0851\")."
          }
        },
        "required": [
          "staff_uid",
          "client_uid",
          "from_number",
          "to_number",
          "direction",
          "status",
          "rate",
          "provider",
          "source_id",
          "external_uuid",
          "business_uid"
        ]
      },
      "QuotaResponseData": {
        "type": "object",
        "properties": {
          "business_uid": {
            "type": "string",
            "description": "The business uid the quota is related to"
          },
          "credit": {
            "type": "number",
            "description": "The credit of the quota"
          },
          "balance": {
            "type": "number",
            "description": "The amount used from the credit"
          },
          "source": {
            "type": "string",
            "description": "The source of the quota"
          }
        },
        "required": [
          "business_uid",
          "credit",
          "balance",
          "source"
        ]
      },
      "MultiQuotaResponseDto": {
        "type": "object",
        "properties": {
          "voice_call_quotas": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallQuota.json"
            }
          }
        },
        "required": [
          "voice_call_quotas"
        ]
      },
      "VoiceCallStatusCount": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The voice call status",
            "enum": [
              "INCOMING_CALL",
              "ANSWERED_BY_STAFF",
              "MISSED",
              "ANSWERED_BY_CALLS_PROVIDER",
              "MISSED_CALL_HANDLED",
              "VOICEMAIL"
            ]
          },
          "count": {
            "type": "integer",
            "description": "Number of calls with this status"
          }
        },
        "required": [
          "status",
          "count"
        ]
      },
      "VoiceCallStatsResponse": {
        "type": "object",
        "properties": {
          "status_counts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoiceCallStatusCount"
            }
          },
          "total_voice_calls": {
            "type": "integer",
            "description": "Total number of voice calls in the period"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "Start date of the report period in YYYY-MM-DD format"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "End date of the report period in YYYY-MM-DD format"
          }
        },
        "required": [
          "status_counts",
          "total_voice_calls",
          "start_date",
          "end_date"
        ]
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/v3/communication/voice_call_settings": {
      "post": {
        "operationId": "SettingsController_create",
        "summary": "Create a VoiceCallSetting",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallSetting.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "## Overview\nCreate a VoiceCallSetting Available for **Staff, App, and Directory tokens**."
      },
      "get": {
        "operationId": "SettingsController_get",
        "summary": "Get all VoiceCallSettings",
        "parameters": [
          {
            "name": "feature",
            "required": false,
            "in": "query",
            "description": "Filter by feature type (e.g., \"VOICE\", \"SMS\", \"VOICE_SMS\")",
            "schema": {
              "type": "string",
              "enum": ["VOICE", "SMS", "VOICE_SMS"]
            }
          },
          {
            "name": "dedicated_number",
            "required": false,
            "in": "query",
            "description": "Filter by dedicated number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_status",
            "required": false,
            "in": "query",
            "description": "Filter by app status (e.g., \"INSTALLED\", \"UNINSTALLED\", \"PAYMENT_ISSUE\")",
            "schema": {
              "type": "string",
              "enum": ["INSTALLED", "UNINSTALLED", "PAYMENT_ISSUE"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiResponseEntity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "## Overview\nGet all VoiceCallSettings. Available for **Staff Tokens**."
      }
    },
    "/v3/communication/voice_call_settings/{uid}": {
      "delete": {
        "operationId": "SettingsController_delete",
        "summary": "Delete VoiceCallSetting",
        "description": "## Overview\nDelete a VoiceCallSetting.\n\nAvailable for **Admin tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallSetting.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "operationId": "SettingsController_update",
        "summary": "Update VoiceCallSetting",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallSetting.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "## Overview\nUpdate VoiceCallSetting Available for **Staff, App, and Directory tokens**."
      }
    },
    "/v3/communication/voice_calls": {
      "get": {
        "operationId": "VoiceCallsController_getAll",
        "summary": "Get all VoiceCalls",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "description": "Filter by a field. Example: filter[created_at][gt]=2019-01-01, filter[name]=my-name",
            "required": false,
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiVoiceCallResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call"
        ],
        "security": [
          {
            "Bearer": []
          },
          {
            "Bearer": []
          }
        ],
        "description": "## Overview\nGet all VoiceCalls.\n\nAvailable for **Staff, Directory, and Client tokens**"
      },
      "post": {
        "operationId": "VoiceCallsController_create",
        "summary": "Create a VoiceCall",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoiceCall"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call"
        ],
        "security": [
          {
            "Bearer": []
          },
          {
            "Bearer": []
          }
        ],
        "description": "## Overview\nCreate a VoiceCall Available for **Staff, App, and Directory tokens**."
      }
    },
    "/v3/communication/voice_calls/{uid}": {
      "get": {
        "operationId": "VoiceCallsController_get",
        "summary": "Retrieve a VoiceCall",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call"
        ],
        "security": [
          {
            "Bearer": []
          },
          {
            "Bearer": []
          }
        ],
        "description": "## Overview\nRetrieve a VoiceCall.\n\nAvailable for **Staff, Directory, and Client tokens**"
      },
      "put": {
        "operationId": "VoiceCallsController_update",
        "summary": "Update a VoiceCall",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVoiceCall"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call"
        ],
        "security": [
          {
            "Bearer": []
          },
          {
            "Bearer": []
          }
        ],
        "description": "## Overview\nUpdate a VoiceCall Available for **Staff, App, and Directory tokens**."
      }
    },
    "/v3/communication/voice_calls/{uid}/transcript": {
      "get": {
        "operationId": "TranscriptController_getTranscript",
        "summary": "Get transcript for a voice call",
        "description": "## Overview\nRetrieves the transcript for a specific voice call. Returns the processing status and, when status is DONE, the full transcript entries.\n\nAvailable for **Staff, Directory, and Client tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "The unique identifier of the voice call",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallTranscript.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Transcript not found for the given voice call"
          }
        },
        "tags": [
          "Voice Call Transcripts"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/voice_call_recordings/{uid}": {
      "put": {
        "operationId": "RecordingsController_updateVoiceCallRecording",
        "summary": "Update a VoiceCallRecording",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVoiceCallRecording"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a voiceCall entity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Recordings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "## Overview\nUpdate a VoiceCallRecording Available for **Staff, App, and Directory tokens**."
      },
      "delete": {
        "operationId": "RecordingsController_deleteVoiceCallRecording",
        "summary": "Delete a VoiceCallRecording",
        "description": "## Overview\nDeletes a voice call recording and returns a voiceCall entity Available for **Staff, App, and Directory tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a voiceCall entity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Recordings"
        ],
        "security": [
          {
            "Bearer": []
          },
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/voice_call_quotas": {
      "get": {
        "operationId": "QuotasController_getQuota",
        "summary": "Retrieve a VoiceCallQuota",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiQuotaResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Quota"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "## Overview\nRetrieve a VoiceCallQuota.\n\nAvailable for **Admin tokens**"
      }
    },
    "/v3/communication/voice_calls/reports/voice_call_stats": {
      "get": {
        "operationId": "ReportsController_getVoiceCallStats",
        "summary": "Get voice call stats",
        "description": "## Overview\nReturns aggregated voice call status counts for the requested period and status filter.\n\nAvailable for **Staff, Directory, and Client tokens**",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date for the report period in YYYY-MM-DD format. If omitted, returns entries from the beginning of the available data.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date for the report period in YYYY-MM-DD format. If omitted, returns entries to the end of the available data.",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by a specific voice call status. If not provided, returns all statuses.",
            "schema": {
              "type": "string",
              "enum": [
                "INCOMING_CALL",
                "ANSWERED_BY_STAFF",
                "MISSED",
                "ANSWERED_BY_CALLS_PROVIDER",
                "MISSED_CALL_HANDLED",
                "VOICEMAIL"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/VoiceCallStatsResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Voice Call Reports"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}
