{
    "openapi": "3.0.0",
    "info": {
      "title": "Communication",
      "description": "A set of API endpoints used by the inTandem platform to manage\n       the communication between business owners and their clients.",
      "version": "3.0",
      "contact": {}
    },
    "tags": [],
    "servers": [
      {
        "url": "https://api.vcita.biz/",
        "description": "API Gateway server"
      }
    ],
    "components": {
      "securitySchemes": {
        "Bearer": {
          "type": "http",
          "scheme": "bearer"
        }
      },
      "schemas": {
        "Response": {
          "type": "object",
          "properties": {
            "success": {
              "type": "boolean"
            },
            "data": {
              "type": "object"
            }
          },
          "required": [
            "success",
            "data"
          ]
        },
        "ResponseEntity": {
          "type": "object",
          "properties": {
            "uid": {
              "type": "string",
              "description": "The unique identifier of the setting"
            },
            "business_uid": {
              "type": "string",
              "description": "The unique identifier of the business"
            },
            "staff_uid": {
              "type": "string",
              "description": "The unique identifier of the staff"
            },
            "forwarding_enabled": {
              "type": "string",
              "description": "Whether or not forwarding to the staff is enabled"
            },
            "forward_number": {
              "type": "string",
              "description": "The number to forward to"
            },
            "dedicated_number": {
              "type": "string",
              "description": "The dedicated number"
            },
            "call_forwarding_policy": {
              "type": "string",
              "description": "The call forwarding policy"
            },
            "call_timeout_sec": {
              "type": "number",
              "description": "The call timeout in seconds"
            },
            "publish_number": {
              "type": "boolean",
              "description": "Indicates if the dedicated number should be published as the business's phone number."
            },
            "external_app_name": {
              "type": "string",
              "description": "The external app name"
            },
            "app_status": {
              "type": "string",
              "description": "The status of the app"
            }
          },
          "required": [
            "uid",
            "business_uid",
            "staff_uid",
            "external_app_name",
            "app_status"
          ]
        },
        "VoiceScriptsDto": {
          "type": "object",
          "properties": {}
        },
        "RequestDto": {
          "type": "object",
          "properties": {
            "staff_uid": {
              "type": "string",
              "description": "The staff uid"
            },
            "forward_number": {
              "type": "string",
              "description": "The number to forward calls to"
            },
            "staff_weekly_availability_uid": {
              "type": "string",
              "description": "The staff weekly availability uid"
            },
            "forwarding_enabled": {
              "type": "boolean",
              "description": "Whether forwarding calls to the staff is enabled"
            },
            "dedicated_number": {
              "type": "string",
              "description": "The dedicated number"
            },
            "call_forwarding_policy": {
              "type": "string",
              "description": "The call forwarding policy"
            },
            "call_timeout_sec": {
              "type": "number",
              "description": "Seconds until the call times out"
            },
            "publish_number": {
              "type": "boolean",
              "description": "Indicates if the dedicated number should be published as the business's phone number."
            },
            "voice_scripts": {
              "description": "The voice scripts",
              "allOf": [
                {
                  "$ref": "#/components/schemas/VoiceScriptsDto"
                }
              ]
            },
            "external_app_name": {
              "type": "string",
              "description": "The external app name"
            },
            "app_status": {
              "type": "string",
              "description": "The app's status"
            }
          },
          },
        "UpdateRequestDto": {
          "type": "object",
          "properties": {
            "staff_uid": {
              "type": "string",
              "description": "The staff uid"
            },
            "forward_number": {
              "type": "string",
              "description": "The number to forward calls to"
            },
            "staff_weekly_availability_uid": {
              "type": "string",
              "description": "The staff weekly availability uid"
            },
            "forwarding_enabled": {
              "type": "boolean",
              "description": "Whether forwarding calls to the staff is enabled"
            },
            "dedicated_number": {
              "type": "string",
              "description": "The dedicated number"
            },
            "call_forwarding_policy": {
              "type": "string",
              "description": "The call forwarding policy"
            },
            "call_timeout_sec": {
              "type": "number",
              "description": "Seconds until the call times out"
            },
            "publish_number": {
              "type": "boolean",
              "description": "Indicates if the dedicated number should be published as the business's phone number."
            },
            "voice_scripts": {
              "description": "The voice scripts",
              "allOf": [
                {
                  "$ref": "#/components/schemas/VoiceScriptsDto"
                }
              ]
            },
            "external_app_name": {
              "type": "string",
              "description": "The external app name"
            },
            "app_status": {
              "type": "string",
              "description": "The app's status"
            }
          },
          },
        "MultiResponseEntity": {
          "type": "object",
          "properties": {
            "voice_call_settings": {
              "type": "array",
              "items": {
                "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallSetting.json"
              }
            }
          },
          "required": [
            "voice_call_settings"
          ]
        },
        "MultiVoiceCallResponse": {
          "type": "object",
          "properties": {
            "voice_calls": {
              "type": "array",
              "items": {
                "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
              }
            }
          },
          "required": [
            "voice_calls"
          ]
        },
        "UpdateVoiceCall": {
          "type": "object",
          "properties": {
            "staff_uid": {
              "type": "string",
              "description": "The staff uid"
            },
            "client_uid": {
              "type": "string",
              "description": "The client uid"
            },
            "from_number": {
              "type": "string",
              "description": "The id of the number the call is from"
            },
            "to_number": {
              "type": "string",
              "description": "The id of the number the call is to"
            },
            "direction": {
              "type": "string",
              "description": "The direction of the call",
              "enum": [
                "INBOUND",
                "OUTBOUND"
              ]
            },
            "status": {
              "type": "string",
              "enum": [
                "INCOMING_CALL",
                "ANSWERED_BY_STAFF",
                "MISSED",
                "ANSWERED_BY_CALLS_PROVIDER",
                "MISSED_CALL_HANDLED",
                "VOICEMAIL_RECEIVED"
              ],
              "description": "The status of the call"
            },
            "rate": {
              "type": "string",
              "description": "The price rate of the call"
            },
            "price": {
              "type": "string",
              "description": "The call total price"
            },
            "provider": {
              "type": "string",
              "description": "The call provider",
              "enum": [
                "VONAGE"
              ]
            },
            "source_id": {
              "type": "string",
              "description": "The source id of the call"
            },
            "duration": {
              "type": "number",
              "description": "The duration of the call"
            },
            "call_summary": {
              "type": "string",
              "description": "The summary of the call"
            },
            "external_app_url": {
              "type": "string",
              "description": "The external app link of the call"
            },
            "external_app_name": {
              "type": "string",
              "description": "The external app name"
            },
            "recording_id": {
              "type": "string",
              "description": "The UID of the call recording"
            },
            "external_uuid": {
              "type": "string",
              "description": "The external uuid of the call"
            },
            "handled_by_staff_uid": {
              "type": "string",
              "description": "The unique identifier of the staff who handled the call"
            }
          },
          "required": [
            "staff_uid",
            "client_uid",
            "from_number",
            "to_number",
            "direction",
            "status",
            "rate",
            "price",
            "provider",
            "source_id",
            "duration",
            "call_summary",
            "external_app_url",
            "external_app_name",
            "recording_id",
            "external_uuid"
          ]
        },
        "UpdateVoiceCallRecording": {
          "type": "object",
          "properties": {
            "record_played": {
              "type": "boolean",
              "description": "Whether the call recording has been played"
            }
          }
        },
        "CreateVoiceCall": {
          "type": "object",
          "properties": {
            "staff_uid": {
              "type": "string",
              "description": "The staff uid"
            },
            "client_uid": {
              "type": "string",
              "description": "The client uid"
            },
            "from_number": {
              "type": "string",
              "description": "The id of the number the call is from"
            },
            "to_number": {
              "type": "string",
              "description": "The id of the number the call is to"
            },
            "direction": {
              "type": "string",
              "description": "The direction of the call",
              "enum": [
                "INBOUND",
                "OUTBOUND"
              ]
            },
            "status": {
              "type": "string",
              "enum": [
                "INCOMING_CALL",
                "ANSWERED_BY_STAFF",
                "MISSED",
                "ANSWERED_BY_CALLS_PROVIDER",
                "MISSED_CALL_HANDLED",
                "VOICEMAIL_RECEIVED"
              ],
              "description": "The status of the call"
            },
            "rate": {
              "type": "string",
              "description": "The price rate of the call"
            },
            "provider": {
              "type": "string",
              "description": "The call provider",
              "enum": [
                "VONAGE"
              ]
            },
            "source_id": {
              "type": "string",
              "description": "The source id of the call"
            },
            "external_uuid": {
              "type": "string",
              "description": "The external uuid of the call"
            },
            "business_uid": {
              "type": "string",
              "description": "The uid of the business to which the call belongs"
            }
          },
          "required": [
            "staff_uid",
            "client_uid",
            "from_number",
            "to_number",
            "direction",
            "status",
            "rate",
            "provider",
            "source_id",
            "external_uuid",
            "business_uid"
          ]
        },
        "QuotaResponseData": {
          "type": "object",
          "properties": {
            "business_uid": {
              "type": "string",
              "description": "The business uid the quota is related to"
            },
            "credit": {
              "type": "number",
              "description": "The credit of the quota"
            },
            "balance": {
              "type": "number",
              "description": "The amount used from the credit"
            },
            "source": {
              "type": "string",
              "description": "The source of the quota"
            }
          },
          "required": [
            "business_uid",
            "credit",
            "balance",
            "source"
          ]
        },
        "MultiQuotaResponseDto": {
          "type": "object",
          "properties": {
            "voice_call_quotas": {
              "type": "array",
              "items": {
                "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallQuota.json"
              }
            }
          },
          "required": [
            "voice_call_quotas"
          ]
        },
        "VoiceCallStatusCount": {
          "type": "object",
          "properties": {
            "status": {
              "type": "string",
              "description": "The voice call status",
              "enum": [
                "INCOMING_CALL",
                "ANSWERED_BY_STAFF",
                "MISSED",
                "ANSWERED_BY_CALLS_PROVIDER",
                "MISSED_CALL_HANDLED",
                "VOICEMAIL_RECEIVED"
              ]
            },
            "count": {
              "type": "integer",
              "description": "Number of calls with this status"
            }
          },
          "required": [
            "status",
            "count"
          ]
        },
        "VoiceCallStatsResponse": {
          "type": "object",
          "properties": {
            "status_counts": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/VoiceCallStatusCount"
              }
            },
            "total_voice_calls": {
              "type": "integer",
              "description": "Total number of voice calls in the period"
            },
            "start_date": {
              "type": "string",
              "format": "date",
              "description": "Start date of the report period in YYYY-MM-DD format"
            },
            "end_date": {
              "type": "string",
              "format": "date",
              "description": "End date of the report period in YYYY-MM-DD format"
            }
          },
          "required": [
            "status_counts",
            "total_voice_calls",
            "start_date",
            "end_date"
          ]
        }
      }
    },
    "paths": {
      "/v3/communication/voice_call_settings": {
        "post": {
          "operationId": "SettingsController_create",
          "summary": "Create a VoiceCallSetting",
          "description": "Create a new voice call setting for a staff member.\n\n**Available for Staff Tokens**",
          "parameters": [],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestDto"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Voice call setting created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallSetting.json"
                          }
                        }
                      }
                    ]
                  },
                  "example": {
                    "success": true,
                    "data": {
                      "uid": "vcs-d290f1ee6c54",
                      "business_uid": "biz123abc45678",
                      "staff_uid": "staff123abc",
                      "forward_number": "+14155551234",
                      "dedicated_number": "+18005551234",
                      "forwarding_enabled": true,
                      "call_forwarding_policy": "WORK_HOURS",
                      "call_timeout_sec": 30,
                      "publish_number": true,
                      "voice_scripts": {
                        "greeting_message": {
                          "message": "Hi, please wait while we connect your call.",
                          "enabled": true
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - Invalid input data"
            },
            "401": {
              "description": "Unauthorized - Invalid or missing authentication token"
            },
            "422": {
              "description": "Unprocessable Entity - Validation failed"
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "tags": [
            "Voice Call Settings"
          ],
          "security": [
            {
              "Bearer": []
            }
          ]
        },
        "get": {
          "operationId": "SettingsController_get",
          "summary": "Get all VoiceCallSettings",
          "description": "Retrieve voice call settings for the authenticated staff member.\n\n**Available for Staff Tokens**",
          "parameters": [],
          "responses": {
            "200": {
              "description": "Voice call settings retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/MultiResponseEntity"
                          }
                        }
                      }
                    ]
                  },
                  "example": {
                    "success": true,
                    "data": {
                      "voice_call_settings": [
                        {
                          "uid": "vcs-abc123",
                          "business_uid": "biz123abc45678",
                          "staff_uid": "staff123abc",
                          "forward_number": "+14155551234",
                          "dedicated_number": "+18005551234",
                          "forwarding_enabled": true,
                          "call_forwarding_policy": "ALWAYS",
                          "call_timeout_sec": 30,
                          "publish_number": true,
                          "voice_scripts": null,
                          "external_app_name": null,
                          "app_status": null
                        }
                      ]
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid or missing authentication token"
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "tags": [
            "Voice Call Settings"
          ],
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/v3/communication/voice_call_settings/{uid}": {
        "put": {
          "operationId": "SettingsController_update",
          "summary": "Update VoiceCallSetting",
          "description": "Update voice call settings for a staff member.\n\n**Available for Staff Tokens**",
          "parameters": [
            {
              "name": "uid",
              "required": true,
              "in": "path",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRequestDto"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Voice call setting updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCallSetting.json"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - Invalid input data"
            },
            "401": {
              "description": "Unauthorized - Invalid or missing authentication token"
            },
            "404": {
              "description": "Not Found - Voice call setting not found"
            },
            "422": {
              "description": "Unprocessable Entity - Validation failed"
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "tags": [
            "Voice Call Settings"
          ],
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/v3/communication/voice_calls": {
        "get": {
          "operationId": "VoiceCallsController_getAll",
          "summary": "Get all VoiceCalls",
          "description": "Retrieve all voice calls for the authenticated staff member's business.\n\n**Available for Staff Tokens**",
          "parameters": [
            {
              "name": "page",
              "required": false,
              "in": "query",
              "description": "Page number of results.",
              "schema": {
                "minimum": 1,
                "maximum": 10000,
                "default": 1,
                "type": "number"
              }
            },
            {
              "name": "per_page",
              "required": false,
              "in": "query",
              "description": "How many items to return per page. Max: 100",
              "schema": {
                "minimum": 1,
                "maximum": 100,
                "default": 25,
                "type": "number"
              }
            },
            {
              "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
              "name": "sort",
              "required": false,
              "in": "query",
              "schema": {
                "default": "updated_at:desc",
                "type": "string"
              }
            },
            {
              "description": "Filter by a field. Example: filter[created_at][gt]=2019-01-01, filter[name]=my-name",
              "required": false,
              "name": "filter",
              "in": "query",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Voice calls retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/MultiVoiceCallResponse"
                          }
                        }
                      }
                    ]
                  },
                  "example": {
                    "success": true,
                    "data": {
                      "voice_calls": [
                        {
                          "uid": "vc-d290f1ee-6c54",
                          "created_at": "2026-01-12T09:30:00.000Z",
                          "updated_at": "2026-01-12T09:35:00.000Z",
                          "deleted_at": null,
                          "duration": 180,
                          "status": "ANSWERED_BY_STAFF",
                          "direction": "inbound",
                          "staff_uid": "staff123abc",
                          "client_uid": "client456def",
                          "from_number": "+14155559876",
                          "to_number": "+18005551234",
                          "call_summary": "Client inquired about appointment availability",
                          "external_app_url": null,
                          "external_app_name": null,
                          "recording": null,
                          "handled_by_staff_uid": "staff123abc",
                          "handled_at": "2026-01-12T09:35:00.000Z"
                        }
                      ]
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid or missing authentication token"
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "tags": [
            "Voice Call"
          ],
          "security": [
            {
              "Bearer": []
            }
          ]
        },
        "post": {
          "operationId": "VoiceCallsController_create",
          "summary": "Create a VoiceCall",
          "description": "Create a new voice call record.\n\n**Available for Staff Tokens**",
          "parameters": [],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoiceCall"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Voice call created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                          }
                        }
                      }
                    ]
                  },
                  "example": {
                    "success": true,
                    "data": {
                      "uid": "vc-new-abc123",
                      "created_at": "2026-01-12T10:00:00.000Z",
                      "updated_at": "2026-01-12T10:00:00.000Z",
                      "deleted_at": null,
                      "duration": 0,
                      "status": "INCOMING_CALL",
                      "direction": "inbound",
                      "staff_uid": "staff123abc",
                      "client_uid": "client456def",
                      "from_number": "+14155559876",
                      "to_number": "+18005551234",
                      "call_summary": null,
                      "external_app_url": null,
                      "external_app_name": null,
                      "recording": null,
                      "handled_by_staff_uid": null,
                      "handled_at": null
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - Invalid input data"
            },
            "401": {
              "description": "Unauthorized - Invalid or missing authentication token"
            },
            "422": {
              "description": "Unprocessable Entity - Validation failed"
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "tags": [
            "Voice Call"
          ],
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/v3/communication/voice_calls/{uid}": {
        "get": {
          "operationId": "VoiceCallsController_get",
          "summary": "Retrieve a VoiceCall",
          "description": "Retrieve a specific voice call by UID.\n\n**Available for Staff Tokens**",
          "parameters": [
            {
              "name": "uid",
              "required": true,
              "in": "path",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Voice call retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid or missing authentication token"
            },
            "404": {
              "description": "Not Found - Voice call not found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "tags": [
            "Voice Call"
          ],
          "security": [
            {
              "Bearer": []
            }
          ]
        },
        "put": {
          "operationId": "VoiceCallsController_update",
          "summary": "Update a VoiceCall",
          "description": "Update a voice call record.\n\n**Available for Staff Tokens**",
          "parameters": [
            {
              "name": "uid",
              "required": true,
              "in": "path",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateVoiceCall"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Voice call updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - Invalid input data"
            },
            "401": {
              "description": "Unauthorized - Invalid or missing authentication token"
            },
            "404": {
              "description": "Not Found - Voice call not found"
            },
            "422": {
              "description": "Unprocessable Entity - Validation failed"
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "tags": [
            "Voice Call"
          ],
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/v3/communication/voice_call_recordings/{uid}": {
        "put": {
          "operationId": "RecordingsController_updateVoiceCallRecording",
          "summary": "Update a VoiceCallRecording",
          "description": "Update a voice call recording.\n\n**Available for Staff Tokens**",
          "parameters": [
            {
              "name": "uid",
              "required": true,
              "in": "path",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateVoiceCallRecording"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Returns a voiceCall entity",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "tags": [
            "Voice Call Recordings"
          ],
          "security": [
            {
              "Bearer": []
            }
          ]
        },
        "delete": {
          "operationId": "RecordingsController_deleteVoiceCallRecording",
          "summary": "Delete a VoiceCallRecording",
          "description": "Deletes a voice call recording and returns a voiceCall entity.\n\n**Available for Staff Tokens**",
          "parameters": [
            {
              "name": "uid",
              "required": true,
              "in": "path",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Voice call recording deleted successfully - Returns a voiceCall entity",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "https://vcita.github.io/developers-hub/entities/communication/voiceCall.json"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid or missing authentication token"
            },
            "404": {
              "description": "Not Found - Voice call recording not found"
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "tags": [
            "Voice Call Recordings"
          ],
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/v3/communication/voice_call_quotas": {
        "get": {
          "operationId": "QuotasController_getQuota",
          "summary": "Retrieve a VoiceCallQuota",
          "description": "Get the voice call quota for the authenticated business, including credit balance and usage.\n\n**Available for Staff Tokens**",
          "parameters": [],
          "responses": {
            "200": {
              "description": "Voice call quota retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "#/components/schemas/MultiQuotaResponseDto"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized - Invalid or missing authentication token"
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "tags": [
            "Voice Call Quota"
          ],
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/v3/communication/voice_calls/reports/voice_call_stats": {
        "get": {
          "operationId": "ReportsController_getVoiceCallStats",
          "summary": "Get voice call stats",
          "description": "Returns aggregated voice call status counts for the requested period and status filter.\n\n**Available for Staff Tokens**",
          "parameters": [
            {
              "name": "start_date",
              "in": "query",
              "required": false,
              "description": "Start date for the report period in YYYY-MM-DD format. If omitted, returns entries from the beginning of the available data.",
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "end_date",
              "in": "query",
              "required": false,
              "description": "End date for the report period in YYYY-MM-DD format. If omitted, returns entries to the end of the available data.",
              "schema": {
                "type": "string",
                "format": "date"
              }
            },
            {
              "name": "status",
              "in": "query",
              "required": false,
              "description": "Filter by a specific voice call status. If not provided, returns all statuses.",
              "schema": {
                "type": "string",
                "enum": [
                  "INCOMING_CALL",
                  "ANSWERED_BY_STAFF",
                  "MISSED",
                  "ANSWERED_BY_CALLS_PROVIDER",
                  "MISSED_CALL_HANDLED",
                  "VOICEMAIL_RECEIVED"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Voice call stats retrieved successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Response"
                      },
                      {
                        "properties": {
                          "data": {
                            "$ref": "#/components/schemas/VoiceCallStatsResponse"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request - Invalid date format or parameters"
            },
            "401": {
              "description": "Unauthorized - Invalid or missing authentication token"
            },
            "500": {
              "description": "Internal Server Error"
            }
          },
          "tags": [
            "Voice Call Reports"
          ],
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      }
    }
}