{
  "openapi": "3.0.0",
  "info": {
    "title": "Communication",
    "description": "API for managing notification templates in the communication domain",
    "version": "1.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "Notification Template",
      "description": "API for managing notification templates"
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {token}'"
      }
    }
  },
  "paths": {
    "/v3/communication/notification_templates": {
      "get": {
        "summary": "Get all NotificationTemplates",
        "description": "Get a list of NotificationTemplates\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "name": "category",
            "required": false,
            "in": "query",
            "description": "Filter by notification category",
            "schema": {
              "type": "string",
              "enum": [
                "payments",
                "clients",
                "calendar",
                "booking",
                "marketing",
                "teamchat",
                "scheduling",
                "advertising",
                "group_events",
                "documents",
                "messages",
                "reviews",
                "social",
                "account"
              ]
            }
          },
          {
            "name": "code_name",
            "required": false,
            "in": "query",
            "description": "Filter by notification code name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configurable_by_staff",
            "required": false,
            "in": "query",
            "description": "Filter by staff configurability",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "notification_templates": {
                              "description": "List of NotificationTemplates",
                              "type": "array",
                              "items": {
                                "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a NotificationTemplate",
        "description": "Create a new notification template\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code_name": {
                    "type": "string",
                    "description": "Unique identifier name for the notification"
                  },
                  "title": {
                    "type": "array",
                    "description": "Name of the notification in different languages",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "enum": [
                            "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                          ]
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": ["key", "value"]
                    }
                  },
                  "description": {
                    "type": "array",
                    "description": "Description of the notification in different languages",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "enum": [
                            "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                          ]
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": ["key", "value"]
                    }
                  },
                  "category": {
                    "type": "string",
                    "description": "Category of the notification",
                    "enum": [
                      "payments",
                      "clients",
                      "calendar",
                      "booking",
                      "marketing",
                      "teamchat",
                      "scheduling",
                      "advertising",
                      "group_events",
                      "documents",
                      "messages",
                      "reviews",
                      "social",
                      "account"
                    ]
                  },
                  "configurable_by_staff": {
                    "type": "boolean",
                    "description": "Whether this notification can be configured by a staff member and visible in the notification center"
                  },
                  "content": {
                    "type": "array",
                    "description": "Array containing at most one staff_portal and/or one email object",
                    "items": {
                      "type": "object",
                      "properties": {
                        "staff_portal": {
                          "type": "object",
                          "description": "Settings for in-app (push/pane) notifications",
                          "properties": {
                            "title": {
                              "type": "array",
                              "description": "Title for in-app notification in different languages",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "enum": [
                                      "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": ["key", "value"]
                              }
                            },
                            "message_body": {
                              "type": "array",
                              "description": "Message body for in-app notification in different languages",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "enum": [
                                      "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": ["key", "value"]
                              }
                            },
                            "deep_link": {
                              "type": "string",
                              "description": "Optional deep link URL for notification action"
                            }
                          },
                          "required": ["title", "message_body"]
                        },
                        "email": {
                          "type": "object",
                          "description": "The content and configurations of the email",
                          "properties": {
                            "subject": {
                              "type": "array",
                              "description": "Email subject line in different languages",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "enum": [
                                      "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": ["key", "value"]
                              }
                            },
                            "main_title": {
                              "type": "array",
                              "description": "Header or introduction text for the email in different languages",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "enum": [
                                      "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": ["key", "value"]
                              }
                            },
                            "main_text": {
                              "type": "array",
                              "description": "Main content of the email in different languages",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "enum": [
                                      "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": ["key", "value"]
                              }
                            }
                          },
                          "required": ["subject", "main_title", "main_text"]
                        }
                      }
                    }
                  }
                },
                "required": [
                  "code_name",
                  "title",
                  "description",
                  "category",
                  "configurable_by_staff",
                  "content"
                ],
                "example": {
                  "code_name": "welcome_new_user",
                  "title": [
                    { "key": "en", "value": "Welcome Notification" },
                    { "key": "fr", "value": "Notification de bienvenue" }
                  ],
                  "description": [
                    { "key": "en", "value": "Sent to new users upon registration." },
                    { "key": "fr", "value": "Envoyé aux nouveaux utilisateurs lors de l'inscription." }
                  ],
                  "category": "account",
                  "configurable_by_staff": true,
                  "content": [
                    {
                      "staff_portal": {
                        "title": [
                          { "key": "en", "value": "Welcome!" },
                          { "key": "fr", "value": "Bienvenue!" }
                        ],
                        "message_body": [
                          { "key": "en", "value": "Thanks for joining us!" },
                          { "key": "fr", "value": "Merci de nous avoir rejoints!" }
                        ],
                        "deep_link": "https://example.com/welcome"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/notification_templates/{uid}": {
      "get": {
        "summary": "Retrieve a NotificationTemplate",
        "description": "Retrieve a specific NotificationTemplate based on its unique identifier (UID)\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a NotificationTemplate",
        "description": "Update an existing notification template\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "array",
                    "description": "Name of the notification in different languages",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "enum": [
                            "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                          ]
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": ["key", "value"]
                    }
                  },
                  "description": {
                    "type": "array",
                    "description": "Description of the notification in different languages",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "enum": [
                            "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                          ]
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": ["key", "value"]
                    }
                  },
                  "category": {
                    "type": "string",
                    "description": "Category of the notification",
                    "enum": [
                      "payments",
                      "clients",
                      "calendar",
                      "booking",
                      "marketing",
                      "teamchat",
                      "scheduling",
                      "advertising",
                      "group_events",
                      "documents",
                      "messages",
                      "reviews",
                      "social",
                      "account"
                    ]
                  },
                  "configurable_by_staff": {
                    "type": "boolean",
                    "description": "Whether this notification can be configured by a staff member and visible in the notification center"
                  },
                  "content": {
                    "type": "array",
                    "description": "Array containing at most one staff_portal and/or one email object",
                    "items": {
                      "type": "object",
                      "properties": {
                        "staff_portal": {
                          "type": "object",
                          "description": "Settings for in-app (push/pane) notifications",
                          "properties": {
                            "title": {
                              "type": "array",
                              "description": "Title for in-app notification in different languages",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "enum": [
                                      "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": ["key", "value"]
                              }
                            },
                            "message_body": {
                              "type": "array",
                              "description": "Message body for in-app notification in different languages",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "enum": [
                                      "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": ["key", "value"]
                              }
                            },
                            "deep_link": {
                              "type": "string",
                              "description": "Optional deep link URL for notification action"
                            }
                          },
                          "required": ["title", "message_body"]
                        },
                        "email": {
                          "type": "object",
                          "description": "The content and configurations of the email",
                          "properties": {
                            "subject": {
                              "type": "array",
                              "description": "Email subject line in different languages",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "enum": [
                                      "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": ["key", "value"]
                              }
                            },
                            "main_title": {
                              "type": "array",
                              "description": "Header or introduction text for the email in different languages",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "enum": [
                                      "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": ["key", "value"]
                              }
                            },
                            "main_text": {
                              "type": "array",
                              "description": "Main content of the email in different languages",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "enum": [
                                      "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                                    ]
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": ["key", "value"]
                              }
                            }
                          },
                          "required": ["subject", "main_title", "main_text"]
                        }
                      }
                    }
                  }
                },
                "example": {
                  "title": [
                    { "key": "en", "value": "Updated Welcome Notification" }
                  ],
                  "description": [
                    { "key": "en", "value": "Updated notification for new users." }
                  ],
                  "category": "account",
                  "configurable_by_staff": true,
                  "content": [
                    {
                      "staff_portal": {
                        "title": [
                          { "key": "en", "value": "Updated Welcome!" }
                        ],
                        "message_body": [
                          { "key": "en", "value": "Thanks for joining our platform!" }
                        ],
                        "deep_link": "https://example.com/welcome-updated"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a NotificationTemplate",
        "description": "Delete a specific NotificationTemplate based on its unique identifier (UID)\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/notification_templates/bulk": {
      "post": {
        "summary": "Bulk Create NotificationTemplates",
        "description": "Create multiple NotificationTemplate records\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "code_name": {
                      "type": "string",
                      "description": "Unique identifier name for the notification"
                    },
                    "title": {
                      "type": "array",
                      "description": "Name of the notification in different languages",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "enum": [
                              "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                            ]
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "required": ["key", "value"]
                      }
                    },
                    "description": {
                      "type": "array",
                      "description": "Description of the notification in different languages",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "enum": [
                              "en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"
                            ]
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "required": ["key", "value"]
                      }
                    },
                    "category": {
                      "type": "string",
                      "description": "Category of the notification",
                      "enum": [
                        "payments",
                        "clients",
                        "calendar",
                        "booking",
                        "marketing",
                        "teamchat",
                        "scheduling",
                        "advertising",
                        "group_events",
                        "documents",
                        "messages",
                        "reviews",
                        "social",
                        "account"
                      ]
                    },
                    "configurable_by_staff": {
                      "type": "boolean",
                      "description": "Whether this notification can be configured by a staff member and visible in the notification center"
                    },
                    "content": {
                      "type": "array",
                      "description": "Array containing at most one staff_portal and/or one email object",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "code_name",
                    "title",
                    "description",
                    "category",
                    "configurable_by_staff",
                    "content"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of individual NotificationTemplate responses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                      },
                      {
                        "properties": {
                          "data": {
                            "type": "object",
                            "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                          }
                        },
                        "required": ["data"]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": ["Notification Template"],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
} 