{
  "openapi": "3.1.0",
  "info": {
    "title": "Notification Template",
    "description": "A set of API endpoints used by the inTandem platform to manage notification templates for various communication channels",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {token}'"
      }
    }
  },
  "paths": {
    "/v3/communication/notification_templates": {
      "get": {
        "summary": "Get all NotificationTemplates",
        "description": "## Overview\nGet a list of NotificationTemplates.",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "notification_templates": {
                              "description": "List of NotificationTemplates",
                              "type": "array",
                              "items": {
                                "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a NotificationTemplate",
        "description": "## Overview\nCreate a new notification template. .**.\n\n**Available for Directory and App tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code_name": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/code_name"
                  },
                  "title": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/title"
                  },
                  "description": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/description"
                  },
                  "category": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/category"
                  },
                  "configurable_by_staff": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/configurable_by_staff"
                  },
                  "content": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/content"
                  }
                },
                "required": [
                  "code_name",
                  "title",
                  "description",
                  "category",
                  "configurable_by_staff",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "NotificationTemplate created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "validation_error",
                      "message": "The request contains invalid data"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/notification_templates/{uid}": {
      "get": {
        "summary": "Retrieve a NotificationTemplate",
        "description": "## Overview\nRetrieve a specific NotificationTemplate based on its unique identifier (UID).",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotificationTemplate not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Notification template not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a NotificationTemplate",
        "description": "## Overview\nUpdate an existing notification template. .**.\n\n**Available for Directory and App tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/title"
                  },
                  "description": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/description"
                  },
                  "category": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/category"
                  },
                  "configurable_by_staff": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/configurable_by_staff"
                  },
                  "content": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/content"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NotificationTemplate updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "validation_error",
                      "message": "The request contains invalid data"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotificationTemplate not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Notification template not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a NotificationTemplate",
        "description": "## Overview\nDelete a specific NotificationTemplate based on its unique identifier (UID). .**.\n\n**Available for Directory and App tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "responses": {
          "200": {
            "description": "NotificationTemplate deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "message": "Notification template deleted successfully"
                }
              }
            }
          },
          "404": {
            "description": "NotificationTemplate not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Notification template not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}