{
  "openapi": "3.0.1",
  "info": {
    "title": "Notification Template",
    "description": "API endpoints for managing notification templates and their delivery settings.",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": { "type": "string" },
                "message": { "type": "string" }
              }
            }
          }
        },
        "required": ["success", "errors"]
      },
      "NotificationTemplateList": {
        "type": "object",
        "properties": {
          "notification_templates": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
            }
          }
        }
      },
      "NotificationTemplateCreate": {
        "type": "object",
        "properties": {
          "code_name": { "type": "string", "description": "Unique identifier name for the notification" },
          "title": { "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/title" },
          "description": { "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/description" },
          "category": { "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/category" },
          "configurable_by_staff": { "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/configurable_by_staff" },
          "content": { "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/content" }
        },
        "required": ["code_name", "title", "description", "category", "configurable_by_staff", "content"]
      },
      "NotificationTemplateUpdate": {
        "type": "object",
        "minProperties": 1,
        "properties": {
          "code_name": { "type": "string", "description": "Unique identifier name for the notification" },
          "title": { "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/title" },
          "description": { "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/description" },
          "category": { "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/category" },
          "configurable_by_staff": { "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/configurable_by_staff" },
          "content": { "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/content" }
        }
      }
    }
  },
  "paths": {
    "/v3/communication/notification_templates": {
      "get": {
        "operationId": "NotificationTemplatesController_getAll",
        "summary": "Get all NotificationTemplates",
        "description": "Retrieve a list of all NotificationTemplates. Available for Directory or App tokens.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number of results.",
            "schema": { "type": "integer", "default": 1, "minimum": 1 }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "How many items to return per page. Max: 100",
            "schema": { "type": "integer", "default": 25, "minimum": 1, "maximum": 100 }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "schema": { "type": "string", "default": "updated_at:desc" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/NotificationTemplateList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": ["Notification Template"],
        "security": [{ "Bearer": [] }]
      },
      "post": {
        "operationId": "NotificationTemplatesController_create",
        "summary": "Create a NotificationTemplate",
        "description": "Create a new NotificationTemplate. Available for Directory or App tokens.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationTemplateCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        },
        "tags": ["Notification Template"],
        "security": [{ "Bearer": [] }]
      }
    },
    "/v3/communication/notification_templates/{uid}": {
      "get": {
        "operationId": "NotificationTemplatesController_get",
        "summary": "Retrieve a NotificationTemplate",
        "description": "Retrieve a specific NotificationTemplate by UID. Available for Directory or App tokens.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        },
        "tags": ["Notification Template"],
        "security": [{ "Bearer": [] }]
      },
      "put": {
        "operationId": "NotificationTemplatesController_update",
        "summary": "Update a NotificationTemplate",
        "description": "Update an existing NotificationTemplate by UID. Available for Directory or App tokens.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationTemplateUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        },
        "tags": ["Notification Template"],
        "security": [{ "Bearer": [] }]
      },
      "delete": {
        "operationId": "NotificationTemplatesController_delete",
        "summary": "Delete a NotificationTemplate",
        "description": "Delete a NotificationTemplate by UID. Available for Directory or App tokens.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "properties": {
                        "data": { "type": "object", "description": "Always empty object for delete" }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        },
        "tags": ["Notification Template"],
        "security": [{ "Bearer": [] }]
      }
    }
  }
} 