{
  "openapi": "3.1.0",
  "info": {
    "title": "Notification Template",
    "description": "A set of API endpoints used by the inTandem platform to manage notification templates for various communication channels",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {token}'"
      }
    }
  },
  "paths": {
    "/v3/communication/notification_templates": {
      "get": {
        "summary": "Get all NotificationTemplates",
        "description": "Get a list of NotificationTemplates. Available for Directory and App tokens.",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "notification_templates": {
                              "description": "List of NotificationTemplates",
                              "type": "array",
                              "items": {
                                "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a NotificationTemplate",
        "description": "Create a new notification template. Available for Directory and App tokens.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code_name": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/code_name"
                  },
                  "title": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/title"
                  },
                  "description": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/description"
                  },
                  "category": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/category"
                  },
                  "configurable_by_staff": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/configurable_by_staff"
                  },
                  "content": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/content"
                  }
                },
                "required": [
                  "code_name",
                  "title",
                  "description",
                  "category",
                  "configurable_by_staff",
                  "content"
                ],
                "example": {
                  "code_name": "welcome_new_user",
                  "title": [
                    { "locale": "en", "value": "Welcome Notification" },
                    { "locale": "fr", "value": "Notification de bienvenue" }
                  ],
                  "description": [
                    { "locale": "en", "value": "Sent to new users upon registration." },
                    { "locale": "fr", "value": "Envoyé aux nouveaux utilisateurs lors de l'inscription." }
                  ],
                  "category": "account",
                  "configurable_by_staff": true,
                  "content": [
                    {
                      "type": "staff_portal",
                      "title": [
                        { "locale": "en", "value": "Welcome!" },
                        { "locale": "fr", "value": "Bienvenue!" }
                      ],
                      "message_body": [
                        { "locale": "en", "value": "Thanks for joining us!" },
                        { "locale": "fr", "value": "Merci de nous avoir rejoints!" }
                      ],
                      "deep_link": "https://example.com/welcome"
                    },
                    {
                      "type": "email",
                      "subject": [
                        { "locale": "en", "value": "Welcome to Our Service" },
                        { "locale": "fr", "value": "Bienvenue à notre service" }
                      ],
                      "top_image": {
                        "url": "https://example.com/welcome-banner.png",
                        "width": 600,
                        "alt": [
                          { "locale": "en", "value": "Welcome banner" },
                          { "locale": "fr", "value": "Bannière de bienvenue" }
                        ]
                      },
                      "main_title": [
                        { "locale": "en", "value": "Hello and Welcome!" },
                        { "locale": "fr", "value": "Bonjour et bienvenue!" }
                      ],
                      "main_text": [
                        { "locale": "en", "value": "We're excited to have you on board." },
                        { "locale": "fr", "value": "Nous sommes ravis de vous avoir à bord." }
                      ],
                      "middle_image": {
                        "url": "https://example.com/features.png",
                        "width": 400,
                        "alt": [
                          { "locale": "en", "value": "Our features" },
                          { "locale": "fr", "value": "Nos fonctionnalités" }
                        ]
                      },
                      "middle_text": [
                        { "locale": "en", "value": "Discover all our amazing features." },
                        { "locale": "fr", "value": "Découvrez toutes nos fonctionnalités incroyables." }
                      ],
                      "footer_text": [
                        { "locale": "en", "value": "Thank you for choosing our service!" },
                        { "locale": "fr", "value": "Merci d'avoir choisi notre service!" }
                      ],
                      "primary_cta_button": {
                        "text": [
                          { "locale": "en", "value": "Get Started" },
                          { "locale": "fr", "value": "Commencer" }
                        ],
                        "url": "https://example.com/onboarding",
                        "alt": [
                          { "locale": "en", "value": "Start using our service" },
                          { "locale": "fr", "value": "Commencez à utiliser notre service" }
                        ]
                      },
                      "secondary_cta_button": {
                        "text": [
                          { "locale": "en", "value": "Learn More" },
                          { "locale": "fr", "value": "En savoir plus" }
                        ],
                        "url": "https://example.com/help",
                        "alt": [
                          { "locale": "en", "value": "Read our documentation" },
                          { "locale": "fr", "value": "Lisez notre documentation" }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "NotificationTemplate created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "validation_error",
                      "message": "The request contains invalid data"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/notification_templates/{uid}": {
      "get": {
        "summary": "Retrieve a NotificationTemplate",
        "description": "Retrieve a specific NotificationTemplate based on its unique identifier (UID). Available for Directory and App tokens.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotificationTemplate not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Notification template not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a NotificationTemplate",
        "description": "Update an existing notification template. Available for Directory and App tokens.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/title"
                  },
                  "description": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/description"
                  },
                  "category": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/category"
                  },
                  "configurable_by_staff": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/configurable_by_staff"
                  },
                  "content": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json#/properties/content"
                  }
                },
                "example": {
                  "title": [
                    { "locale": "en", "value": "Updated Welcome Notification" },
                    { "locale": "fr", "value": "Notification de bienvenue mise à jour" }
                  ],
                  "description": [
                    { "locale": "en", "value": "Updated description for new users registration." },
                    { "locale": "fr", "value": "Description mise à jour pour l'inscription des nouveaux utilisateurs." }
                  ],
                  "category": "account",
                  "configurable_by_staff": true,
                  "content": [
                    {
                      "type": "staff_portal",
                      "title": [
                        { "locale": "en", "value": "Welcome Updated!" },
                        { "locale": "fr", "value": "Bienvenue Mise à Jour!" }
                      ],
                      "message_body": [
                        { "locale": "en", "value": "Thanks for joining our platform!" },
                        { "locale": "fr", "value": "Merci d'avoir rejoint notre plateforme!" }
                      ],
                      "deep_link": "https://example.com/welcome-updated"
                    },
                    {
                      "type": "email",
                      "subject": [
                        { "locale": "en", "value": "Updated Welcome to Our Service" },
                        { "locale": "fr", "value": "Bienvenue à notre service mise à jour" }
                      ],
                      "top_image": {
                        "url": "https://example.com/welcome-banner-updated.png",
                        "width": 600,
                        "alt": [
                          { "locale": "en", "value": "Updated welcome banner" },
                          { "locale": "fr", "value": "Bannière de bienvenue mise à jour" }
                        ]
                      },
                      "main_title": [
                        { "locale": "en", "value": "Hello and Welcome to our Updated Service!" },
                        { "locale": "fr", "value": "Bonjour et bienvenue à notre service mis à jour!" }
                      ],
                      "main_text": [
                        { "locale": "en", "value": "We're excited to have you on board with our updated platform." },
                        { "locale": "fr", "value": "Nous sommes ravis de vous avoir à bord de notre plateforme mise à jour." }
                      ],
                      "middle_image": {
                        "url": "https://example.com/features-updated.png",
                        "width": 400,
                        "alt": [
                          { "locale": "en", "value": "Our updated features" },
                          { "locale": "fr", "value": "Nos fonctionnalités mises à jour" }
                        ]
                      },
                      "middle_text": [
                        { "locale": "en", "value": "Discover all our amazing updated features." },
                        { "locale": "fr", "value": "Découvrez toutes nos fonctionnalités incroyables mises à jour." }
                      ],
                      "footer_text": [
                        { "locale": "en", "value": "Thank you for choosing our updated service!" },
                        { "locale": "fr", "value": "Merci d'avoir choisi notre service mis à jour!" }
                      ],
                      "primary_cta_button": {
                        "text": [
                          { "locale": "en", "value": "Get Started Now" },
                          { "locale": "fr", "value": "Commencer maintenant" }
                        ],
                        "url": "https://example.com/onboarding-updated",
                        "alt": [
                          { "locale": "en", "value": "Start using our updated service" },
                          { "locale": "fr", "value": "Commencez à utiliser notre service mis à jour" }
                        ]
                      },
                      "secondary_cta_button": {
                        "text": [
                          { "locale": "en", "value": "Learn More About Updates" },
                          { "locale": "fr", "value": "En savoir plus sur les mises à jour" }
                        ],
                        "url": "https://example.com/help-updated",
                        "alt": [
                          { "locale": "en", "value": "Read our updated documentation" },
                          { "locale": "fr", "value": "Lisez notre documentation mise à jour" }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NotificationTemplate updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "validation_error",
                      "message": "The request contains invalid data"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotificationTemplate not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Notification template not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a NotificationTemplate",
        "description": "Delete a specific NotificationTemplate based on its unique identifier (UID). Available for Directory and App tokens.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "responses": {
          "200": {
            "description": "NotificationTemplate deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "message": "Notification template deleted successfully"
                }
              }
            }
          },
          "404": {
            "description": "NotificationTemplate not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Notification template not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Templates"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
} 