{
  "openapi": "3.0.0",
  "info": {
    "title": "Notification Template",
    "description": "A set of API endpoints used by the inTandem platform to manage notification templates for various communication channels",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {token}'"
      }
    }
  },
  "paths": {
    "/v3/communication/notification_templates": {
      "get": {
        "summary": "Get all NotificationTemplates",
        "description": "Get a list of NotificationTemplates\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "name": "category",
            "required": false,
            "in": "query",
            "description": "Filter by notification category",
            "schema": {
              "type": "string",
              "enum": [
                "payments",
                "clients",
                "calendar",
                "booking",
                "marketing",
                "teamchat",
                "scheduling",
                "advertising",
                "group_events",
                "documents",
                "messages",
                "reviews",
                "social",
                "account"
              ]
            }
          },
          {
            "name": "configurable_by_staff",
            "required": false,
            "in": "query",
            "description": "Filter by whether the notification template is configurable by staff",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "notification_templates": {
                              "description": "List of NotificationTemplates",
                              "type": "array",
                              "items": {
                                "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a NotificationTemplate",
        "description": "Create a new notification template\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code_name": {
                    "type": "string",
                    "description": "Unique identifier name for the notification"
                  },
                  "title": {
                    "type": "array",
                    "description": "Name of the notification in different languages",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": ["key", "value"]
                    }
                  },
                  "description": {
                    "type": "array",
                    "description": "Description of the notification in different languages",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": ["key", "value"]
                    }
                  },
                  "category": {
                    "type": "string",
                    "description": "Category of the notification",
                    "enum": [
                      "payments",
                      "clients",
                      "calendar",
                      "booking",
                      "marketing",
                      "teamchat",
                      "scheduling",
                      "advertising",
                      "group_events",
                      "documents",
                      "messages",
                      "reviews",
                      "social",
                      "account"
                    ]
                  },
                  "configurable_by_staff": {
                    "type": "boolean",
                    "description": "Whether this notification can be configured by a staff member and visible in the notification center"
                  },
                  "content": {
                    "type": "array",
                    "description": "Array containing at most one staff_portal and/or one email object",
                    "items": {
                      "type": "object",
                      "oneOf": [
                        {
                          "properties": {
                            "staff_portal": {
                              "type": "object",
                              "description": "Settings for in-app (push/pane) notifications",
                              "properties": {
                                "title": {
                                  "type": "array",
                                  "description": "Title for in-app notification",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["key", "value"]
                                  }
                                },
                                "message_body": {
                                  "type": "array",
                                  "description": "Message body for in-app notification",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["key", "value"]
                                  }
                                },
                                "deep_link": {
                                  "type": "string",
                                  "description": "Optional deep link URL for notification action"
                                }
                              },
                              "required": ["title", "message_body"]
                            }
                          }
                        },
                        {
                          "properties": {
                            "email": {
                              "type": "object",
                              "description": "The content and configurations of the email",
                              "properties": {
                                "subject": {
                                  "type": "array",
                                  "description": "Email subject line",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["key", "value"]
                                  }
                                },
                                "main_title": {
                                  "type": "array",
                                  "description": "Header or introduction text for the email",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["key", "value"]
                                  }
                                },
                                "main_text": {
                                  "type": "array",
                                  "description": "Main content of the email",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["key", "value"]
                                  }
                                }
                              },
                              "required": ["subject", "main_title", "main_text"]
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "code_name",
                  "title",
                  "description",
                  "category",
                  "configurable_by_staff",
                  "content"
                ],
                "example": {
                  "code_name": "welcome_new_user",
                  "title": [
                    { "key": "en", "value": "Welcome Notification" },
                    { "key": "fr", "value": "Notification de bienvenue" }
                  ],
                  "description": [
                    { "key": "en", "value": "Sent to new users upon registration." },
                    { "key": "fr", "value": "Envoyé aux nouveaux utilisateurs lors de l'inscription." }
                  ],
                  "category": "account",
                  "configurable_by_staff": true,
                  "content": [
                    {
                      "staff_portal": {
                        "title": [
                          { "key": "en", "value": "Welcome!" },
                          { "key": "fr", "value": "Bienvenue!" }
                        ],
                        "message_body": [
                          { "key": "en", "value": "Thanks for joining us!" },
                          { "key": "fr", "value": "Merci de nous avoir rejoints!" }
                        ],
                        "deep_link": "https://example.com/welcome"
                      }
                    },
                    {
                      "email": {
                        "subject": [
                          { "key": "en", "value": "Welcome to Our Service" },
                          { "key": "fr", "value": "Bienvenue à notre service" }
                        ],
                        "main_title": [
                          { "key": "en", "value": "Hello and Welcome!" },
                          { "key": "fr", "value": "Bonjour et bienvenue!" }
                        ],
                        "main_text": [
                          { "key": "en", "value": "We're excited to have you on board." },
                          { "key": "fr", "value": "Nous sommes ravis de vous avoir à bord." }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "NotificationTemplate created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "validation_error",
                      "message": "The request contains invalid data"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/notification_templates/{uid}": {
      "get": {
        "summary": "Retrieve a NotificationTemplate",
        "description": "Retrieve a specific NotificationTemplate based on its unique identifier (UID)\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotificationTemplate not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Notification template not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a NotificationTemplate",
        "description": "Update an existing notification template\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "array",
                    "description": "Name of the notification in different languages",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": ["key", "value"]
                    }
                  },
                  "description": {
                    "type": "array",
                    "description": "Description of the notification in different languages",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                        },
                        "value": {
                          "type": "string"
                        }
                      },
                      "required": ["key", "value"]
                    }
                  },
                  "category": {
                    "type": "string",
                    "description": "Category of the notification",
                    "enum": [
                      "payments",
                      "clients",
                      "calendar",
                      "booking",
                      "marketing",
                      "teamchat",
                      "scheduling",
                      "advertising",
                      "group_events",
                      "documents",
                      "messages",
                      "reviews",
                      "social",
                      "account"
                    ]
                  },
                  "configurable_by_staff": {
                    "type": "boolean",
                    "description": "Whether this notification can be configured by a staff member and visible in the notification center"
                  },
                  "content": {
                    "type": "array",
                    "description": "Array containing at most one staff_portal and/or one email object",
                    "items": {
                      "type": "object",
                      "oneOf": [
                        {
                          "properties": {
                            "staff_portal": {
                              "type": "object",
                              "description": "Settings for in-app (push/pane) notifications",
                              "properties": {
                                "title": {
                                  "type": "array",
                                  "description": "Title for in-app notification",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["key", "value"]
                                  }
                                },
                                "message_body": {
                                  "type": "array",
                                  "description": "Message body for in-app notification",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["key", "value"]
                                  }
                                },
                                "deep_link": {
                                  "type": "string",
                                  "description": "Optional deep link URL for notification action"
                                }
                              },
                              "required": ["title", "message_body"]
                            }
                          }
                        },
                        {
                          "properties": {
                            "email": {
                              "type": "object",
                              "description": "The content and configurations of the email",
                              "properties": {
                                "subject": {
                                  "type": "array",
                                  "description": "Email subject line",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["key", "value"]
                                  }
                                },
                                "main_title": {
                                  "type": "array",
                                  "description": "Header or introduction text for the email",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["key", "value"]
                                  }
                                },
                                "main_text": {
                                  "type": "array",
                                  "description": "Main content of the email",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"]
                                      },
                                      "value": {
                                        "type": "string"
                                      }
                                    },
                                    "required": ["key", "value"]
                                  }
                                }
                              },
                              "required": ["subject", "main_title", "main_text"]
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "title": [
                    { "key": "en", "value": "Updated Welcome Notification" },
                    { "key": "fr", "value": "Notification de bienvenue mise à jour" }
                  ],
                  "description": [
                    { "key": "en", "value": "Updated description for new users registration." },
                    { "key": "fr", "value": "Description mise à jour pour l'inscription des nouveaux utilisateurs." }
                  ],
                  "category": "account",
                  "configurable_by_staff": true,
                  "content": [
                    {
                      "staff_portal": {
                        "title": [
                          { "key": "en", "value": "Welcome Updated!" },
                          { "key": "fr", "value": "Bienvenue Mise à Jour!" }
                        ],
                        "message_body": [
                          { "key": "en", "value": "Thanks for joining our platform!" },
                          { "key": "fr", "value": "Merci d'avoir rejoint notre plateforme!" }
                        ],
                        "deep_link": "https://example.com/welcome-updated"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NotificationTemplate updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/communication/notificationTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "validation_error",
                      "message": "The request contains invalid data"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "NotificationTemplate not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Notification template not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a NotificationTemplate",
        "description": "Delete a specific NotificationTemplate based on its unique identifier (UID)\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the NotificationTemplate",
            "schema": {
              "type": "string"
            },
            "example": "notif-001"
          }
        ],
        "responses": {
          "200": {
            "description": "NotificationTemplate deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "message": "Notification template deleted successfully"
                }
              }
            }
          },
          "404": {
            "description": "NotificationTemplate not found",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "not_found",
                      "message": "Notification template not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Notification Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
} 
