{
  "openapi": "3.0.0",
  "info": {
    "title": "Notification Metadata API",
    "version": "1.0.0",
    "description": "API for managing notification metadata definitions."
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "paths": {
    "/v3/communication/notification_metadata": {
      "get": {
        "summary": "List all notification metadata entries",
        "responses": {
          "200": {
            "description": "List of notification metadata entries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "../../entities/communication/notification_metadata.json"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new notification metadata entry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NotificationMetadataCreate" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Notification metadata created.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/Response" },
                    { "properties": { "data": { "$ref": "../../entities/communication/notification_metadata.json" } } }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/communication/notification_metadata/{uid}": {
      "get": {
        "summary": "Get a single notification metadata entry by uid",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification metadata entry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../entities/communication/notification_metadata.json"
                }
              }
            }
          },
          "404": {
            "description": "Not found."
          }
        }
      },
      "put": {
        "summary": "Update a notification metadata entry by uid",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NotificationMetadataUpdate" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Notification metadata updated.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/Response" },
                    { "properties": { "data": { "$ref": "../../entities/communication/notification_metadata.json" } } }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found."
          }
        }
      },
      "delete": {
        "summary": "Delete a notification metadata entry by uid",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Notification metadata deleted successfully."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NotificationMetadataCreate": {
        "type": "object",
        "properties": {
          "notification_identifier": { "type": "string", "description": "Unique identifier name for the notification" },
          "channel": {
            "type": "array",
            "description": "Channels through which the notification can be delivered. Must include one or more of: 'push', 'pane', 'email'.",
            "items": { "type": "string", "enum": ["push", "pane", "email"] },
            "minItems": 1,
            "uniqueItems": true
          },
          "deep_link": { "type": "string", "description": "Optional deep link URL for notification action.", "default": "" },
          "notification_type": { "type": "string", "description": "Type/category of the notification. Must be one of this values", "enum": ["payments", "clients", "calendar", "booking", "marketing", "teamchat", "scheduling", "advertising", "group_events", "documents", "messages", "reviews", "social", "account"] },
          "show_in_settings": { "type": "boolean", "description": "Whether this notification is visible in the staff's notification center settings." },
          "content": {
            "type": "array",
            "description": "Localized notification content and email structure.",
            "minItems": 1,
            "items": {
              "type": "object",
              "properties": {
                "locale": { "type": "string", "description": "Locale code for this content object (e.g., 'en', 'fr')." },
                "display_settings": {
                  "type": "object",
                  "description": "Settings for how the notification is displayed in the staff's notification center.",
                  "properties": {
                    "title": { "type": "string", "description": "Name of the notification." },
                    "description": { "type": "string", "description": "Description of the notification." }
                  },
                  "required": ["title", "description"]
                },
                "in_app_settings": {
                  "type": "object",
                  "description": "Settings for in-app (push/pane) notifications.",
                  "properties": {
                    "title": { "type": "string", "description": "Title for in-app notification." },
                    "message_body": { "type": "string", "description": "Message body for in-app notification." }
                  },
                  "required": ["title", "message_body"]
                },
                "email_settings": {
                  "type": "object",
                  "description": "The content and configurations of the email.",
                  "properties": {
                    "subject": { "type": "string", "description": "Email subject line." },
                    "main_title": { "type": "string", "description": "Header or introduction text for the email." },
                    "main_text": { "type": "string", "description": "Main content of the email." },
                    "middle_text": { "type": "string", "description": "Middle content of the email." },
                    "footer_text": { "type": "string", "description": "Footer or closing text for the email." },
                    "cta_button": {
                      "type": "object",
                      "description": "Call-to-action button details.",
                      "properties": {
                        "text": { "type": "string", "description": "Button text." },
                        "url": { "type": "string", "description": "Button URL." }
                      },
                      "required": ["text", "url"]
                    },
                    "secondary_cta_button": {
                      "type": "object",
                      "description": "Secondary call-to-action button details.",
                      "properties": {
                        "text": { "type": "string", "description": "Button text." },
                        "url": { "type": "string", "description": "Button URL." }
                      },
                      "required": ["text", "url"]
                    },
                    "top_image": {
                      "type": "object",
                      "description": "Image at the top of the email.",
                      "properties": {
                        "url": { "type": "string", "description": "Image URL." },
                        "width": { "type": "integer", "description": "Image width in pixels." }
                      },
                      "required": ["url", "width"]
                    },
                    "middle_image": {
                      "type": "object",
                      "description": "Image in the middle of the email.",
                      "properties": {
                        "url": { "type": "string", "description": "Image URL." },
                        "width": { "type": "integer", "description": "Image width in pixels." }
                      },
                      "required": ["url", "width"]
                    }
                  },
                  "required": ["subject", "main_title", "main_text", "footer_text"]
                }
              },
              "required": ["locale", "display_settings", "in_app_settings", "email_settings"]
            }
          }
        },
        "required": [
          "notification_identifier",
          "channel",
          "show_in_settings",
          "notification_type",
          "content"
        ]
      },
      "NotificationMetadataUpdate": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "array",
            "description": "Channels through which the notification can be delivered. Must include one or more of: 'push', 'pane', 'email'.",
            "items": { "type": "string", "enum": ["push", "pane", "email"] },
            "uniqueItems": true
          },
          "deep_link": { "type": "string", "description": "Optional deep link URL for notification action.", "default": "" },
          "notification_type": { "type": "string", "description": "Type/category of the notification. Must be one of this values", "enum": ["payments", "clients", "calendar", "booking", "marketing", "teamchat", "scheduling", "advertising", "group_events", "documents", "messages", "reviews", "social", "account"] },
          "show_in_settings": { "type": "boolean", "description": "Whether this notification is visible in the staff's notification center settings." },
          "content": {
            "type": "array",
            "description": "Localized notification content and email structure.",
            "items": {
              "type": "object",
              "properties": {
                "locale": { "type": "string", "description": "Locale code for this content object (e.g., 'en', 'fr')." },
                "display_settings": {
                  "type": "object",
                  "description": "Settings for how the notification is displayed in the staff's notification center.",
                  "properties": {
                    "title": { "type": "string", "description": "Name of the notification." },
                    "description": { "type": "string", "description": "Description of the notification." }
                  },
                  "required": ["title", "description"]
                },
                "in_app_settings": {
                  "type": "object",
                  "description": "Settings for in-app (push/pane) notifications.",
                  "properties": {
                    "title": { "type": "string", "description": "Title for in-app notification." },
                    "message_body": { "type": "string", "description": "Message body for in-app notification." }
                  },
                  "required": ["title", "message_body"]
                },
                "email_settings": {
                  "type": "object",
                  "description": "The content and configurations of the email.",
                  "properties": {
                    "subject": { "type": "string", "description": "Email subject line." },
                    "main_title": { "type": "string", "description": "Header or introduction text for the email." },
                    "main_text": { "type": "string", "description": "Main content of the email." },
                    "middle_text": { "type": "string", "description": "Middle content of the email." },
                    "footer_text": { "type": "string", "description": "Footer or closing text for the email." },
                    "cta_button": {
                      "type": "object",
                      "description": "Call-to-action button details.",
                      "properties": {
                        "text": { "type": "string", "description": "Button text." },
                        "url": { "type": "string", "description": "Button URL." }
                      },
                      "required": ["text", "url"]
                    },
                    "secondary_cta_button": {
                      "type": "object",
                      "description": "Secondary call-to-action button details.",
                      "properties": {
                        "text": { "type": "string", "description": "Button text." },
                        "url": { "type": "string", "description": "Button URL." }
                      },
                      "required": ["text", "url"]
                    },
                    "top_image": {
                      "type": "object",
                      "description": "Image at the top of the email.",
                      "properties": {
                        "url": { "type": "string", "description": "Image URL." },
                        "width": { "type": "integer", "description": "Image width in pixels." }
                      },
                      "required": ["url", "width"]
                    },
                    "middle_image": {
                      "type": "object",
                      "description": "Image in the middle of the email.",
                      "properties": {
                        "url": { "type": "string", "description": "Image URL." },
                        "width": { "type": "integer", "description": "Image width in pixels." }
                      },
                      "required": ["url", "width"]
                    }
                  },
                  "required": ["subject", "main_title", "main_text", "footer_text"]
                }
              },
              "required": ["locale", "display_settings", "in_app_settings", "email_settings"]
            }
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "description": "Whether the API request was successful", "example": true }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": false },
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string", "description": "Error code" },
              "message": { "type": "string", "description": "Error message" },
              "details": { "type": "object", "description": "Additional error details" }
            },
            "required": ["code", "message"]
          }
        },
        "required": ["success", "error"]
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {token}'"
      }
    }
  }
}