{
  "openapi": "3.0.0",
  "info": {
    "title": "StaffNotification API",
    "description": "API for managing StaffNotifications",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "StaffNotificationCreate": {
        "type": "object",
        "required": [
          "staff_uid",
          "notification_template_code_name"
        ],
        "properties": {
          "staff_uid": {
            "type": "string",
            "description": "The unique identifier of the staff member associated with this StaffNotification."
          },
          "notification_template_code_name": {
            "type": "string",
            "description": "The code name identifying the notification template to be used."
          },
          "locale": {
            "type": "string",
            "description": "The language locale for the notification content.",
            "enum": ["en", "fr", "de", "it", "pl", "pt", "es", "nl", "he", "sl", "en_gb"],
            "default": "en"
          },
          "params": {
            "type": "array",
            "description": "Additional parameters for populating notification templates.",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The parameter name."
                },
                "value": {
                  "type": "string",
                  "description": "The parameter value."
                }
              },
              "required": ["key", "value"]
            }
          }
        }
      },
      "StaffNotificationUpdate": {
        "type": "object",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "type": "string",
            "description": "The updated status of the StaffNotification.",
            "enum": ["pending", "sent", "read", "failed", "cancelled"]
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the API request was successful",
            "example": true
          },
          "data": {
            "type": "object",
            "$ref": "https://vcita.github.io/developers-hub/entities/communication/staff_notification.json",
            "description": "The StaffNotification entity data"
          }
        }
      }
    }
  },
  "paths": {
    "/v3/communication/staff_notifications": {
      "post": {
        "summary": "Create a StaffNotification",
        "description": "Create a new StaffNotification for a staff member\n\n**Available for Directory or App Token.**",
        "tags": ["Staff Notification"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffNotificationCreate"
              },
              "example": {
                "staff_uid": "staff-67890",
                "notification_template_code_name": "new_appointment_created",
                "locale": "en",
                "params": [
                  {
                    "key": "client_name",
                    "value": "John Doe"
                  },
                  {
                    "key": "appointment_time",
                    "value": "2023-05-15T14:30:00Z"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Staff notification created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/communication/staff_notifications/{uid}": {
      "get": {
        "summary": "Retrieve a StaffNotification",
        "description": "Retrieve a StaffNotification by its unique identifier\n\n**Available for Directory or App Token.**",
        "tags": ["Staff Notification"],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the StaffNotification",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StaffNotification retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Staff notification not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a StaffNotification",
        "description": "Update a StaffNotification status by its unique identifier\n\n**Available for Directory or App Token.**",
        "tags": ["Staff Notification"],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the StaffNotification",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffNotificationUpdate"
              },
              "example": {
                "status": "read"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "StaffNotification updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Staff notification not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
} 