{
    "openapi": "3.0.0",
    "info": {
        "title": "Payment Gateway Assignments",
        "description": "Manage Payment Gateway Assignments with this API endpoint, allowing you to define the relationship between a payment gateway to one or more directories for payment processing. Designed for partners handling multiple directories, it provides straightforward gateway assignment",
        "version": "3.0"
    },
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
                "type": "http",
                "scheme": "bearer",
                "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {directory_token}'"
            }
        },
        "schemas": {
            "CreatePaymentGatewayAssignmentRequestDto": {
                "type": "object",
                "properties": {
                    "gateway_uid": {
                        "type": "string",
                        "description": "The unique identifier of the payment gateway to assign"
                    },
                    "directory_uid": {
                        "type": "string",
                        "description": "The unique identifier of the directory to assign the payment gateway to"
                    }
                },
                "required": [
                    "gateway_uid",
                    "directory_uid"
                ]
            }
        }
    },
    "paths": {
        "/v3/payment_processing/payment_gateway_assignments": {
            "post": {
                "summary": "Create a PaymentGatewayAssignment",
                "description": "Assign a payment gateway to a directory - **Only available for Directory Tokens**",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatePaymentGatewayAssignmentRequestDto"
                            },
                            "example": {
                                "gateway_uid": "pgw_stripe_v2_789",
                                "directory_uid": "dir_main_directory_123"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Payment gateway assignment created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/payment_processing/paymentGatewayAssignment.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Invalid input data or assignment already exists."
                    },
                    "401": {
                        "description": "Unauthorized. The bearer token is missing or invalid."
                    },
                    "403": {
                        "description": "Forbidden. You do not have access to this resource."
                    },
                    "404": {
                        "description": "Not found. Payment gateway or directory not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "tags": [
                    "Payment Gateway Assignments"
                ],
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        }
    }
} 