{
  "basePath": "/v2",
  "host": "api.vcita.biz",
  "info": {
    "title": "Communication Legacy API v2",
    "version": "v2.0",
    "description": "Legacy v2 API endpoints for communication domain (conversations and messages)"
  },
  "paths": {
    "/conversations/{conversation_id}/messages": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "description": "## Overview\nRetrieves a paginated list of messages within a specific conversation. Messages are returned in chronological order and include staff details, document attachments, and delivery status.\n\nAvailable for **Staff and Directory tokens**. Directory tokens require the `X-On-Behalf-Of` header with the target business UID.",
        "parameters": [
          {
            "description": "The unique identifier (UID) of the conversation to retrieve messages from.",
            "in": "path",
            "name": "conversation_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Page number of results. Default: 1",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "How many items to return per page. Default: 20",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "If set, returns only messages updated in the last minute. Useful for polling for new messages.",
            "in": "query",
            "name": "last_update",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "When set to 'me', filters messages to only those visible to the current staff member's team view.",
            "in": "query",
            "name": "teams_view_filter",
            "required": false,
            "type": "string"
          },
          {
            "description": "Business UID to act on behalf of. Required for Directory tokens.",
            "in": "header",
            "name": "X-On-Behalf-Of",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success - Returns an array of message objects.",
            "examples": {
              "application/json": [
                {
                  "uid": "gn5zqo7nfbwee21c",
                  "text": "Hi, this is a sample message.",
                  "sub_type": "text",
                  "data": [],
                  "message_description": "Sample conversation",
                  "appointment_title": null,
                  "title": "Sample conversation",
                  "mail_delivered": false,
                  "mail_sent": true,
                  "mail_read": false,
                  "direction": "client_to_business",
                  "created_at": "2026-02-10T13:19:05.000-08:00",
                  "created_at_h": "Feb 10, 1:19 pm",
                  "updated_at": "2026-02-10T13:19:05.000-08:00",
                  "conversation_uid": "3zumor3etkwgzun6",
                  "message_of": "message",
                  "message_type": "system",
                  "messageable": null,
                  "documents": [],
                  "attachments": null,
                  "trust": false,
                  "channels": ["email"],
                  "channel_uid": "dujrmr24hpmerwkr",
                  "staff": {
                    "uid": "3so2q8r2b35x7phd",
                    "full_name": "John Doe",
                    "display_name": "John Doe",
                    "email": "john@example.com"
                  },
                  "subject": "Sample conversation",
                  "was_read": false,
                  "external_data": {}
                }
              ]
            }
          },
          "404": {
            "description": "Not Found - Conversation does not exist.",
            "examples": {
              "application/json": {
                "error": "Couldn't find Conversation"
              }
            }
          }
        },
        "security": [
          {
            "default": [
              "platform"
            ]
          }
        ],
        "summary": "Get Conversation Messages",
        "tags": [
          "Messages"
        ],
        "x-auth-type": "Application & Application User"
      }
    }
  },
  "securityDefinitions": {
    "default": {
      "authorizationUrl": "https://ignore.myclients.io",
      "flow": "implicit",
      "scopes": {
        "platform": "All platform related operations"
      },
      "type": "oauth2"
    }
  },
  "swagger": "2.0",
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  }
}
