{
  "basePath": "/business/messaging",
  "host": "api.vcita.biz",
  "info": {
    "title": "Business Messaging API",
    "version": "v2.0"
  },
  "paths": {
    "/v1/channels": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Connecting a business to primitive messaging channel through knowen providers (Supports only nexmo)",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "channel": {
                  "properties": {
                    "params": {
                      "description": "landline number - Not required",
                      "properties": {
                        "number": {
                          "description": "landline number - Not required",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "provider": {
                      "description": "nexmo",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Success - Messaging channel created",
            "examples": {
              "application/json": {
                "data": {
                  "channel": {
                    "business_uid": "Business UID",
                    "country_code": "Alpha 2 country code",
                    "number": "The claimed (Nexmo)",
                    "provider": "The provider",
                    "status": "Number status"
                  },
                  "success": true
                },
                "success": true
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "default": [
              "business/messaging"
            ]
          }
        ],
        "summary": "Create a messaging channel",
        "tags": [
          "Messaging Channels"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/messaging/v1/channels"
        },
        "x-auth-type": "Application & Application User"
      }
    },
    "/v1/channels/typing": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "Notify contacts about account typing indicator.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "contact": {
                  "properties": {
                    "channel_uid": {
                      "type": "string"
                    },
                    "external_uid": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "typing": {
                      "type": "boolean"
                    },
                    "uid": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Success - Typing indicator sent",
            "examples": {
              "application/json": {
                "data": {
                  "data": {
                    "typing": true
                  },
                  "success": true
                },
                "success": true
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "422": {
            "description": "Unprocessable Entity - Validation failed"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "default": [
              "business/messaging"
            ]
          }
        ],
        "summary": "Notify Typing Indicator",
        "tags": [
          "Typing Indicator"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/messaging/v1/channels/typing"
        },
        "x-auth-type": "Application & Application User"
      }
    }
  },
  "securityDefinitions": {
    "default": {
      "authorizationUrl": "https://ignore.myclients.io",
      "flow": "implicit",
      "scopes": {
        "business/messaging": "All related operations",
        "business/messaging_create": "create scope",
        "business/messaging_delete": "delete scope",
        "business/messaging_read": "read scope",
        "business/messaging_update": "update scope"
      },
      "type": "oauth2",
      "x-scopes-bindings": {
        "business/messaging": "",
        "business/messaging_create": "",
        "business/messaging_delete": "",
        "business/messaging_read": "",
        "business/messaging_update": ""
      }
    }
  },
  "swagger": "2.0",
  "x-throttling-tier": "8ReqPerSec"
}