{
  "basePath": "/business/messaging",
  "host": "api.vcita.biz",
  "info": {
    "title": "Business Messaging API",
    "version": "v2.0"
  },
  "paths": {
    "/v1/channels": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "## Overview\nConnecting a business to a primitive messaging channel through known providers.\n\n**Prerequisites:**\n- Business must have a valid `callsandtexting` subscription to use this endpoint.\n- For businesses without the `claim_dedicated_number` feature enabled, the `voice_text_app_installed` parameter must be set to `true`.\n\nAvailable for **Staff, App, and Directory tokens**.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "channel": {
                  "properties": {
                    "params": {
                      "description": "landline number - Not required",
                      "properties": {
                        "number": {
                          "description": "landline number - Not required",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "provider": {
                      "description": "The messaging provider. Currently only 'nexmo' is supported.",
                      "type": "string",
                      "enum": [
                        "nexmo"
                      ]
                    },
                    "voice_text_app_installed": {
                      "description": "Required when business does not have the `claim_dedicated_number` feature enabled. Set to `true` to indicate the voice/text app is installed.",
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "examples": {
              "application/json": {
                "data": {
                  "channel": {
                    "business_uid": "Business UID",
                    "country_code": "Alpha 2 country code",
                    "number": "The claimed (Nexmo)",
                    "provider": "The provider",
                    "status": "Number status"
                  },
                  "success": "true / false"
                },
                "success": true
              }
            }
          }
        },
        "security": [
          {
            "default": [
              "business/messaging"
            ]
          }
        ],
        "summary": "Create a mesaging channel",
        "tags": [
          "Messaging Channels"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/messaging/v1/channels"
        },
        "x-auth-type": "Application & Application User"
      }
    },
    "/v1/channels/typing": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "description": "## Overview\nNotify contacts about account typing indicator. The `source` field determines the processing flow - when set to `business`, it uses the external typing status flow.\n\nAvailable for **Staff, App, and Directory tokens**.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "contact": {
                  "properties": {
                    "channel_uid": {
                      "description": "The unique identifier of the messaging channel. Required.",
                      "type": "string"
                    },
                    "external_uid": {
                      "description": "The external unique identifier of the contact. Required.",
                      "type": "string"
                    },
                    "source": {
                      "description": "The source of the typing indicator. When set to 'business', uses the external typing status flow.",
                      "type": "string",
                      "enum": [
                        "business",
                        "contact"
                      ]
                    },
                    "typing": {
                      "description": "Whether the user is currently typing.",
                      "type": "boolean"
                    },
                    "uid": {
                      "description": "The unique identifier of the contact.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "channel_uid",
                    "external_uid"
                  ],
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Success",
            "examples": {
              "application/json": {
                "data": {
                  "data": {
                    "data": {
                      "typing": "true / false"
                    },
                    "success": "true / false"
                  },
                  "success": true
                },
                "success": true
              }
            }
          }
        },
        "security": [
          {
            "default": [
              "business/messaging"
            ]
          }
        ],
        "summary": "Notify Typing Indicator",
        "tags": [
          "Typing Indicator"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "201"
            }
          },
          "type": "http_proxy",
          "uri": "https:///business/messaging/v1/channels/typing"
        },
        "x-auth-type": "Application & Application User"
      }
    }
  },
  "securityDefinitions": {
    "default": {
      "authorizationUrl": "https://ignore.myclients.io",
      "flow": "implicit",
      "scopes": {
        "business/messaging": "All related operations",
        "business/messaging_create": "create scope",
        "business/messaging_delete": "delete scope",
        "business/messaging_read": "read scope",
        "business/messaging_update": "update scope"
      },
      "type": "oauth2",
      "x-scopes-bindings": {
        "business/messaging": "",
        "business/messaging_create": "",
        "business/messaging_delete": "",
        "business/messaging_read": "",
        "business/messaging_update": ""
      }
    }
  },
  "swagger": "2.0",
  "x-throttling-tier": "8ReqPerSec",
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  }
}
