{
  "openapi": "3.0.0",
  "info": {
    "title": "CRM Views",
    "description": "API endpoints for managing views, view columns, and view filters in the vCita business search interface",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "View": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "Unique identifier for the view"
          },
          "name": {
            "type": "string",
            "description": "View name"
          },
          "description": {
            "type": "string",
            "description": "View description"
          },
          "view_type": {
            "type": "string",
            "enum": ["client", "account"],
            "description": "Type of view"
          },
          "level": {
            "type": "string",
            "enum": ["business", "staff", "user"],
            "description": "View level"
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ViewColumn"
            },
            "description": "Array of column definitions"
          },
          "filter": {
            "type": "string",
            "description": "Filter configuration as JSON string"
          },
          "sorting_column": {
            "type": "string",
            "description": "Column to sort by"
          },
          "sorting_direction": {
            "type": "string",
            "enum": ["asc", "desc"],
            "description": "Sort direction"
          },
          "order": {
            "type": "integer",
            "description": "View order"
          },
          "pinned": {
            "type": "boolean",
            "description": "Whether the view is displayed"
          }
        }
      },
      "ViewColumn": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Column label"
          },
          "type": {
            "type": "string",
            "description": "Column type"
          },
          "identifier": {
            "type": "string",
            "description": "Column identifier"
          },
          "sortable": {
            "type": "boolean",
            "description": "Whether column is sortable"
          },
          "sort_options": {
            "type": "object",
            "description": "Sort options for the column"
          }
        },
        "required": ["label", "type", "identifier", "sortable"]
      },
      "ViewsList": {
        "type": "object",
        "properties": {
          "views": {
            "description": "List of Views",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/View"
            }
          }
        }
      },
      "ViewColumnsList": {
        "type": "object",
        "properties": {
          "columns": {
            "description": "List of available columns",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ViewColumn"
            }
          }
        }
      },
      "ViewFilter": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Filter name/key"
          },
          "label": {
            "type": "string",
            "description": "Filter display label"
          },
          "type": {
            "type": "string",
            "enum": ["text", "boolean", "multiselect", "singleselect", "date", "tags", "sources", "review", "smart"],
            "description": "Filter input type"
          },
          "key": {
            "type": "string",
            "description": "Filter key for API usage"
          },
          "options": {
            "type": "object",
            "properties": {
              "values": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "display_value": {
                      "type": "string"
                    }
                  }
                }
              },
              "description": {
                "type": "string",
                "description": "Filter description for smart filters"
              }
            }
          }
        },
        "required": ["label", "type", "key"]
      },
      "ViewFilterCategory": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category identifier"
          },
          "label": {
            "type": "string",
            "description": "Category display label"
          },
          "order": {
            "type": "integer",
            "description": "Category display order"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ViewFilter"
            },
            "description": "Filters in this category"
          }
        },
        "required": ["category", "label", "order", "filters"]
      },
      "ViewFiltersList": {
        "type": "object",
        "properties": {
          "filters": {
            "description": "List of filter categories",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ViewFilterCategory"
            }
          }
        }
      },
      "CreateViewRequest": {
        "type": "object",
        "properties": {
          "view": {
            "type": "object",
            "properties": {
              "level": {
                "type": "string",
                "enum": ["business", "staff", "user"],
                "description": "View level (business, staff, or user)"
              },
              "view_type": {
                "type": "string",
                "enum": ["client", "account"],
                "description": "Type of view (client or account)"
              },
              "columns": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ViewColumn"
                },
                "description": "Array of column definitions"
              },
              "sorting_column": {
                "type": "string",
                "description": "Column to sort by"
              },
              "sorting_direction": {
                "type": "string",
                "enum": ["asc", "desc"],
                "description": "Sort direction (asc or desc)"
              },
              "filter": {
                "type": "string",
                "description": "Filter configuration as JSON string"
              },
              "name": {
                "type": "string",
                "description": "View name"
              },
              "description": {
                "type": "string",
                "description": "View description"
              },
              "order": {
                "type": "integer",
                "description": "View order"
              }
            },
            "required": ["level", "view_type", "columns", "sorting_column", "sorting_direction", "filter", "name", "description", "order"]
          }
        },
        "required": ["view"]
      },
      "UpdateViewRequest": {
        "type": "object",
        "properties": {
          "view": {
            "type": "object",
            "properties": {
              "level": {
                "type": "string",
                "enum": ["business", "staff", "user"],
                "description": "View level (business, staff, or user)"
              },
              "name": {
                "type": "string",
                "description": "View name"
              },
              "columns": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ViewColumn"
                }
              },
              "filter": {
                "type": "string",
                "description": "Filter configuration"
              }
            }
          }
        },
        "required": ["view"]
      },
      "BulkUpdateRequest": {
        "type": "object",
        "properties": {
          "views": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "uid": {
                  "type": "string",
                  "description": "View UID"
                },
                "updates": {
                  "type": "object",
                  "description": "Updates to apply"
                }
              },
              "required": ["uid", "updates"]
            }
          }
        },
        "required": ["views"]
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/business/search/v1/views": {
      "get": {
        "summary": "Get all views",
        "description": "Retrieve all views for the authenticated business - Available for **Staff Tokens**",
        "parameters": [
          {
            "name": "pinned",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by displayed views",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ViewsList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": ["Views"]
      },
      "post": {
        "summary": "Create a new view",
        "description": "Create a new custom view - Available for **Staff Tokens**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateViewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "view": {
                              "$ref": "#/components/schemas/View"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": ["Views"]
      }
    },
    "/business/search/v1/views/{uid}": {
      "get": {
        "summary": "Get a specific view",
        "description": "Retrieve a specific view by UID - Available for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "View UID"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["system", "custom"]
            },
            "description": "View type (system or custom)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "view": {
                              "$ref": "#/components/schemas/View"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": ["Views"]
      },
      "put": {
        "summary": "Update a view",
        "description": "Update an existing view - Available for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "View UID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateViewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "view": {
                              "$ref": "#/components/schemas/View"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": ["Views"]
      },
      "delete": {
        "summary": "Delete a view",
        "description": "Delete a custom view - Available for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "View UID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "Success message"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": ["Views"]
      }
    },
    "/business/search/v1/views/bulk": {
      "post": {
        "summary": "Bulk update views",
        "description": "Update multiple views in bulk - Available for **Staff Tokens**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "Success message"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": ["Views"]
      }
    },
    "/business/search/v1/views_columns": {
      "get": {
        "summary": "Get available columns",
        "description": "Retrieve all available columns for creating views - Available for **Staff Tokens**",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ViewColumnsList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": ["Views Columns"]
      }
    },
    "/business/search/v1/view_filters": {
      "get": {
        "summary": "Get available filters",
        "description": "Retrieve all available filters for creating views - Available for **Staff Tokens**",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ViewFiltersList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": ["View Filters"]
      }
    }
  }
}