{
  "basePath": "/oauth/service",
  "host": "api.vcita.biz",
  "info": {
    "title": "Apps Service Token API",
    "version": "v1.0",
    "description": "Legacy service-to-service OAuth token endpoint"
  },
  "paths": {
    "/token": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "service_id": {
                  "description": "The Service ID",
                  "type": "string"
                },
                "service_secret": {
                  "description": "The Service Secret",
                  "type": "string"
                }
              },
              "required": [
                "service_id",
                "service_secret"
              ],
              "type": "object"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Service token generated",
            "examples": {
              "application/json": {
                "access_token": "eade05e0ee958ed139b7431b1a630bff95260178699ddf88cbd86a32d2ac708c",
                "created_at": "2021-11-16T13:29:47.000Z",
                "expires_in": 3600,
                "token_type": "Bearer"
              }
            }
          },
          "400": {
            "description": "Invalid credentials"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "Generate an app access token",
        "description": "Generate an app access token for a given serivce_id (client_id) and service_secret (client_secret). These credentials are generated when an app is created and returned in the app's create response. This token can be used to create widgets or notifications for the app.",
        "tags": [
          "Service OAuth"
        ],
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-amazon-apigateway-integration": {
          "httpMethod": "POST",
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "type": "http_proxy",
          "uri": "https:///oauth/service/token"
        },
        "x-auth-type": "None"
      }
    }
  },
  "swagger": "2.0"
}


