{
  "openapi": "3.0.0",
  "info": {
    "title": "Platform API",
    "version": "v2.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/platform/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/apps/translations/{app_code_name}": {
      "put": {
        "summary": "Update app translations",
        "description": "## Overview\nUpdates the translations for an app. The translations must be provided as a CSV file with a specific format. The CSV should have columns for: Key, Context, Character Limit, en, es, fr, it, pt, de, pl, nl, en-GB, he, sl. The rows should contain: Name, Short description, App features, Long description. All English fields are required.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The format of the API authorization header should be: 'Authorization': \"Bearer API_TOKEN\"",
            "example": "Bearer abc...123"
          },
          {
            "name": "app_code_name",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "The app's code name identifier",
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "translations_csv": {
                    "type": "string",
                    "format": "binary",
                    "description": "CSV file with translations. Format: First row contains headers (Key, Context, Character Limit, en, es, fr, it, pt, de, pl, nl, en-GB, he, sl). Following rows: Name, Short description, App features (semicolon-separated), Long description. All English (en) fields are mandatory. Download a sample CSV file here: https://vcita.github.io/developers-hub/downloads/app_translations_sample.csv"
                  }
                },
                "required": [
                  "translations_csv"
                ]
              }
            }
          }
        },
        "security": [
          {
            "default": [
              "platform"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "success_example": {
                    "value": {
                      "status": "OK",
                      "success": true,
                      "translations": {
                        "en": {
                          "name": "My App",
                          "short_description": "This is a short description",
                          "long_description": "This is a long and detailed description of the app",
                          "app_features": [
                            "Feature 1",
                            "Feature 2",
                            "Feature 3"
                          ]
                        },
                        "es": {
                          "name": "Mi Aplicaci\u00f3n",
                          "short_description": "Esta es una descripci\u00f3n corta",
                          "long_description": "Esta es una descripci\u00f3n larga y detallada de la aplicaci\u00f3n",
                          "app_features": [
                            "Caracter\u00edstica 1",
                            "Caracter\u00edstica 2",
                            "Caracter\u00edstica 3"
                          ]
                        },
                        "fr": {
                          "name": "Mon App",
                          "short_description": "Ceci est une br\u00e8ve description",
                          "long_description": "Ceci est une description longue et d\u00e9taill\u00e9e de l'application",
                          "app_features": [
                            "Fonctionnalit\u00e9 1",
                            "Fonctionnalit\u00e9 2",
                            "Fonctionnalit\u00e9 3"
                          ]
                        },
                        "it": {
                          "name": "La Mia App",
                          "short_description": "Questa \u00e8 una breve descrizione",
                          "long_description": "Questa \u00e8 una descrizione lunga e dettagliata dell'app",
                          "app_features": [
                            "Funzione 1",
                            "Funzione 2",
                            "Funzione 3"
                          ]
                        },
                        "pt": {
                          "name": "Meu App",
                          "short_description": "Esta \u00e9 uma descri\u00e7\u00e3o curta",
                          "long_description": "Esta \u00e9 uma descri\u00e7\u00e3o longa e detalhada do aplicativo",
                          "app_features": [
                            "Recurso 1",
                            "Recurso 2",
                            "Recurso 3"
                          ]
                        },
                        "de": {
                          "name": "Meine App",
                          "short_description": "Dies ist eine kurze Beschreibung",
                          "long_description": "Dies ist eine lange und detaillierte Beschreibung der App",
                          "app_features": [
                            "Funktion 1",
                            "Funktion 2",
                            "Funktion 3"
                          ]
                        },
                        "pl": {
                          "name": "Moja Aplikacja",
                          "short_description": "To jest kr\u00f3tki opis",
                          "long_description": "To jest d\u0142ugi i szczeg\u00f3\u0142owy opis aplikacji",
                          "app_features": [
                            "Funkcja 1",
                            "Funkcja 2",
                            "Funkcja 3"
                          ]
                        },
                        "nl": {
                          "name": "Mijn App",
                          "short_description": "Dit is een korte beschrijving",
                          "long_description": "Dit is een lange en gedetailleerde beschrijving van de app",
                          "app_features": [
                            "Functie 1",
                            "Functie 2",
                            "Functie 3"
                          ]
                        },
                        "en-GB": {
                          "name": "My App",
                          "short_description": "This is a short description",
                          "long_description": "This is a long and detailed description of the app",
                          "app_features": [
                            "Feature 1",
                            "Feature 2",
                            "Feature 3"
                          ]
                        },
                        "he": {
                          "name": "\u05d4\u05d0\u05e4\u05dc\u05d9\u05e7\u05e6\u05d9\u05d4 \u05e9\u05dc\u05d9",
                          "short_description": "\u05d6\u05d4\u05d5 \u05ea\u05d9\u05d0\u05d5\u05e8 \u05e7\u05e6\u05e8",
                          "long_description": "\u05d6\u05d4\u05d5 \u05ea\u05d9\u05d0\u05d5\u05e8 \u05d0\u05e8\u05d5\u05da \u05d5\u05de\u05e4\u05d5\u05e8\u05d8 \u05e9\u05dc \u05d4\u05d0\u05e4\u05dc\u05d9\u05e7\u05e6\u05d9\u05d4",
                          "app_features": [
                            "\u05ea\u05db\u05d5\u05e0\u05d4 1",
                            "\u05ea\u05db\u05d5\u05e0\u05d4 2",
                            "\u05ea\u05db\u05d5\u05e0\u05d4 3"
                          ]
                        },
                        "sl": {
                          "name": "Moja Aplikacija",
                          "short_description": "To je kratek opis",
                          "long_description": "To je dolg in podroben opis aplikacije",
                          "app_features": [
                            "Funkcija 1",
                            "Funkcija 2",
                            "Funkcija 3"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Failure",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "error_example": {
                    "value": {
                      "status": "Error",
                      "success": false,
                      "errors": [
                        {
                          "message": "App with given app code name not found",
                          "code": "not_found",
                          "field": "app_code_name"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-amazon-apigateway-auth": {
          "type": "NONE"
        },
        "x-auth-type": "Application & Application User",
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "uri": "https://api.vcita.biz/platform/v1/apps/translations/{app_code_name}",
          "httpMethod": "PUT",
          "type": "http_proxy"
        }
      }
    }
  },
  "x-throttling-tier": "8ReqPerSec",
  "components": {
    "securitySchemes": {
      "default": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://ignore.myclients.io",
            "scopes": {
              "platform": "All platform related operations",
              "platform_read": "platform read scope",
              "platform_delete": "platform delete scope",
              "platform_update": "platform update scope",
              "platform_create": "platform create scope"
            }
          }
        },
        "x-scopes-bindings": {
          "platform": "",
          "platform_read": "",
          "platform_delete": "",
          "platform_update": "",
          "platform_create": ""
        }
      }
    }
  }
}