{
    "host": "api.vcita.biz",
    "basePath": "/platform/v1",
    "swagger": "2.0",
    "info": {
      "title": "Platform API",
      "version": "v2.0"
    },
    "paths": {
      "/apps/translations/{app_code_name}": {
        "put": {
          "summary": "Update app translations",
          "description": "Updates the translations for an app. The translations must be provided as a CSV file with a specific format. The CSV should have columns for: Key, Context, Character Limit, en, es, fr, it, pt, de, pl, nl, en-GB, he, sl. The rows should contain: Name, Short description, App features, Long description. All English fields are required.",
          "tags": [
            "Applications"
          ],
          "consumes": [
            "multipart/form-data"
          ],
          "produces": [
            "application/json"
          ],
          "parameters": [
            {
              "name": "Authorization",
              "in": "header",
              "type": "string",
              "required": true,
              "description": "The format of the API authorization header should be: 'Authorization': \"Bearer API_TOKEN\"",
              "x-example": "Bearer abc...123"
            },
            {
              "name": "app_code_name",
              "in": "path",
              "type": "string",
              "description": "The app's code name identifier",
              "required": true
            },
            {
              "name": "translations_csv",
              "in": "formData",
              "type": "file",
              "required": true,
              "description": "CSV file with translations. Format: First row contains headers (Key, Context, Character Limit, en, es, fr, it, pt, de, pl, nl, en-GB, he, sl). Following rows: Name, Short description, App features (semicolon-separated), Long description. All English (en) fields are mandatory. Download a sample CSV file here: https://vcita.github.io/developers-hub/downloads/app_translations_sample.csv"
            }
          ],
          "security": [
            {
              "default": [
                "platform"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "examples": {
                "application/json": {
                  "status": "OK",
                  "success": true,
                  "translations": {
                    "en": {
                      "name": "My App",
                      "short_description": "This is a short description",
                      "long_description": "This is a long and detailed description of the app",
                      "app_features": [
                        "Feature 1",
                        "Feature 2",
                        "Feature 3"
                      ]
                    },
                    "es": {
                      "name": "Mi Aplicación",
                      "short_description": "Esta es una descripción corta",
                      "long_description": "Esta es una descripción larga y detallada de la aplicación",
                      "app_features": [
                        "Característica 1",
                        "Característica 2",
                        "Característica 3"
                      ]
                    },
                    "fr": {
                      "name": "Mon App",
                      "short_description": "Ceci est une brève description",
                      "long_description": "Ceci est une description longue et détaillée de l'application",
                      "app_features": [
                        "Fonctionnalité 1",
                        "Fonctionnalité 2",
                        "Fonctionnalité 3"
                      ]
                    },
                    "it": {
                      "name": "La Mia App",
                      "short_description": "Questa è una breve descrizione",
                      "long_description": "Questa è una descrizione lunga e dettagliata dell'app",
                      "app_features": [
                        "Funzione 1",
                        "Funzione 2",
                        "Funzione 3"
                      ]
                    },
                    "pt": {
                      "name": "Meu App",
                      "short_description": "Esta é uma descrição curta",
                      "long_description": "Esta é uma descrição longa e detalhada do aplicativo",
                      "app_features": [
                        "Recurso 1",
                        "Recurso 2",
                        "Recurso 3"
                      ]
                    },
                    "de": {
                      "name": "Meine App",
                      "short_description": "Dies ist eine kurze Beschreibung",
                      "long_description": "Dies ist eine lange und detaillierte Beschreibung der App",
                      "app_features": [
                        "Funktion 1",
                        "Funktion 2",
                        "Funktion 3"
                      ]
                    },
                    "pl": {
                      "name": "Moja Aplikacja",
                      "short_description": "To jest krótki opis",
                      "long_description": "To jest długi i szczegółowy opis aplikacji",
                      "app_features": [
                        "Funkcja 1",
                        "Funkcja 2",
                        "Funkcja 3"
                      ]
                    },
                    "nl": {
                      "name": "Mijn App",
                      "short_description": "Dit is een korte beschrijving",
                      "long_description": "Dit is een lange en gedetailleerde beschrijving van de app",
                      "app_features": [
                        "Functie 1",
                        "Functie 2",
                        "Functie 3"
                      ]
                    },
                    "en-GB": {
                      "name": "My App",
                      "short_description": "This is a short description",
                      "long_description": "This is a long and detailed description of the app",
                      "app_features": [
                        "Feature 1",
                        "Feature 2",
                        "Feature 3"
                      ]
                    },
                    "he": {
                      "name": "האפליקציה שלי",
                      "short_description": "זהו תיאור קצר",
                      "long_description": "זהו תיאור ארוך ומפורט של האפליקציה",
                      "app_features": [
                        "תכונה 1",
                        "תכונה 2",
                        "תכונה 3"
                      ]
                    },
                    "sl": {
                      "name": "Moja Aplikacija",
                      "short_description": "To je kratek opis",
                      "long_description": "To je dolg in podroben opis aplikacije",
                      "app_features": [
                        "Funkcija 1",
                        "Funkcija 2",
                        "Funkcija 3"
                      ]
                    }
                  }
                }
              }
            },
            "422": {
              "description": "Failure",
              "examples": {
                "application/json": {
                  "status": "Error",
                  "success": false,
                  "errors": [
                    {
                      "message": "App with given app code name not found",
                      "code": "not_found",
                      "field": "app_code_name"
                    }
                  ]
                }
              }
            }
          },
          "x-amazon-apigateway-auth": {
            "type": "NONE"
          },
          "x-auth-type": "Application & Application User",
          "x-amazon-apigateway-integration": {
            "responses": {
              "default": {
                "statusCode": "200"
              }
            },
            "uri": "https://api.vcita.biz/platform/v1/apps/translations/{app_code_name}",
            "httpMethod": "PUT",
            "type": "http_proxy"
          }
        }
      }
    },
    "x-throttling-tier": "8ReqPerSec",
    "securityDefinitions": {
      "default": {
        "type": "oauth2",
        "authorizationUrl": "https://ignore.myclients.io",
        "flow": "implicit",
        "scopes": {
          "platform": "All platform related operations",
          "platform_read": "platform read scope",
          "platform_delete": "platform delete scope",
          "platform_update": "platform update scope",
          "platform_create": "platform create scope"
        },
        "x-scopes-bindings": {
          "platform": "",
          "platform_read": "",
          "platform_delete": "",
          "platform_update": "",
          "platform_create": ""
        }
      }
    }
  }