{
    "openapi": "3.0.0",
    "info": {
        "title": "Operator tokens",
        "description": "A set of endpoint to manage OperatorTokens",
        "version": "1.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
              "type": "http",
              "scheme": "bearer",
              "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {operator token}'"
            }
          },
        "schemas": {
            "CreateOperatorTokenDTO":{
                "type": "object",
                "properties": {
                    "actor_uid": {
                        "type": "string",
                        "description": "Actor unique id. Either operator uid when acting as the operator, or staff uid when acting on behalf of a staff member",
                        "example":"bc33f12d98ee"
                    },
                    "actor_type":{
                        "type": "string",
                        "description": "The type of the actor, operator - acting as the operator; staff - acting on behlaf of a staff member",
                        "enum":[
                            "operator",
                            "staff"
                        ]
                    }
                }
            }
        }
    },
    "paths": {
        "/v3/operators/operator_tokens": {
            "post": {
                "summary": "Create an OperatorToken",
                "description": "Create an OperatorToken\n\nAvailable for **operators Tokens**",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOperatorTokenDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorToken.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operator Tokens"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        }
    }
}