{
    "openapi": "3.0.0",
    "info": {
        "title": "Operator capabilities",
        "description": "A set of endpoint to manage OperatorsCabablities, OperatorsRoles and OperatorOperatorsroles",
        "version": "1.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
              "type": "http",
              "scheme": "bearer",
              "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
            }
          },
        "schemas": {
            "OperatorsCabablitiesList": {
                "type": "object",
                "properties": {
                    "premissions": {
                        "description": "List of OperatorsCapabilities",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorsCapability.json"
                        }
                    }
                }
            },
            "CreateOperatorsCapabilityDTO":{
                "type": "object",
                "properties": {
                    "unique_code": {
                        "type": "string",
                        "description": "The unique identifier of the Permission",
                        "example":"Business.read"
                        },
                    "name": {
                        "type": "string",
                        "description": "The name of the permission shown to the user in English ",
                        "example":"Business Read"
                    },
                    "description": {
                        "type": "string",
                        "description": "The description of the permission shown to the user in English",
                        "example":"Can view business details"
                    }
                },
                "required": [
                    "unique_code",
                    "name", 
                    "description"
                    ]
            },
            "OperatorsRolesList": {
                "type": "object",
                "properties": {
                    "operators_roles": {
                        "description": "List of OperatorsRoles",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorsRole.json"
                        }
                    }
                }
            },
            "CreateOperatorsRoleDTO":{
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "A unique readable code for the role",
                        "example":"admin"
                    },
                    "name": {
                        "type": "string",
                        "description": "The role name",
                        "example":"Admin"
                    },
                    "description": {
                        "type": "string",
                        "description": "The role description",
                        "example": "Admin role. Typically has access to all features in the system"
                    },
                    "capabilities": {
                        "type": "array",
                        "description": "A list of permissions that are assigned to the role",
                        "items": {
                            "type": "string",
                            "description": "The unique code of the OperatorCapability",
                            "example":[
                                "business.read",
                                "business.create",
                                "business.lock_business",
                                "operator.read",
                                "operator.create",
                                "package.manage",
                                "package.read"
                            ]
                        }
                    }
                },
                "required": [
                    "code",
                    "name",
                    "description",
                    "capabilities"
                ]
            },
            "UpdateOperatorsRoleDTO":{
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "A unique readable code for the role",
                        "example":"admin"
                    },
                    "name": {
                        "type": "string",
                        "description": "The role name",
                        "example":"Admin"
                    },
                    "description": {
                        "type": "string",
                        "description": "The role description",
                        "example": "Admin role. Typically has access to all features in the system"
                    },
                    "capabilities": {
                        "type": "array",
                        "description": "A list of permissions that are assigned to the role",
                        "items": {
                            "type": "string",
                            "description": "The unique code of the OperatorCapability",
                            "example":[
                                "business.read",
                                "business.create",
                                "business.lock_business",
                                "operator.read",
                                "operator.create",
                                "package.manage",
                                "package.read"
                            ]
                        }
                    }
                },
                "required": [
                    "code",
                    "name",
                    "description",
                    "capabilities"
                ]
            },
            "CreateOperatorOperatorsRole":{
                "type": "object",
                "properties": {
                    "operator_uid":{
                        "type": "string",
                        "description": "The unique identifier (UID) of the Operator",
                        "example":"d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "operators_role_uid": {
                        "type": "string",
                        "description": "A unique identifier (UID) of the associated OperatorsRole",
                        "example":"d290f1ee-6c54-4b01-90e6-d701748f0851"
                    }
                }
            }
        }
    },
    "paths": {
        "/v3/operators/operators_capabilities": {
            "get": {
                "summary": "Get all OperatorsCapabilities",
                "description": "Get a list of OperatorsCabablities\n\nAvailable for **operator Tokens**",
                "parameters": [
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/OperatorsCabablitiesList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operators capabilities"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "post": {
                "summary": "Create an OperatorsCapability",
                "description": "Create a new OperatorsCapability\n\nAvailable for **operator Tokens**",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOperatorsCapabilityDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorsCapability.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operators capabilities"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        },
        "/v3/operators/operators_role": {
            "get": {
                "summary": "Get all OperatorsRoles",
                "description": "Get a list of OperatorsRoles\n\nAvailable for **operator Tokens**",
                "parameters": [
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/OperatorsRolesList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operators Role"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "post": {
                "summary": "Create an OperatorsRole",
                "description": "Create a new operatorsRole\n\nAvailable for **operator Tokens**",
                "parameters": [],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOperatorsRoleDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorsRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operators Role"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        },
        "/v3/operators/operators_role/{uid}": {
            "get": {
                "summary": "Retrieve an OperatorsRole",
                "description": "Retrieve a specific OperatorsRole based on it’s unique identifier (UID)\n\nAvailable for **operators Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the OperatorsRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorsRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operators Role"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "put": {
                "summary": "Update an OperatorsRole",
                "description": "Update an existing OperatorsRole based on it’s unique identifier\n\nAvailable for **operators Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the OperatorsRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateOperatorsRoleDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorsRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operators Role"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "delete": {
                "summary": "Delete an OperatorsRole",
                "description": "Delete a specific OperatorsRole based on it’s unique identifier (UID)\n\nAvailable for **operator Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the OperatorsRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operators Role"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        },
        "/v3/operators/operator_operators_role": {
            "post": {
                "summary": "Create an OperatorOperatorsroles",
                "description": "Create a new OperatorOperatorsroles for an operator\n\nAvailable for **operator Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOperatorOperatorsRole"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorOperatorsRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operator Operators Role"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        },
        "/v3/operators/operator_operators_role/{operator_uid}": {
            "get": {
                "summary": "Retrieve an OperatorOperatorsroles",
                "description": "Retrieve a OperatorOperatorsroles based on the unique identifier of Operator (operator_uid)\n\nAvailable for **operator Tokens**",
                "parameters": [
                    {
                        "name": "operator_uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the operator assigned to this OperatorsRole",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/operators/operatorOperatorsRole.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operator Operators Role"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "delete": {
                "summary": "Delete an OperatorOperatorsRole",
                "description": "Delete a specific OperatorOperatorsRole based on the Operator unique id {operator_uid}\n\nAvailable for **operator Tokens**",
                "parameters": [
                    {
                        "name": "operator_uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Operator",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Operator Operators Role"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        }
    }
}