{
  "openapi": "3.0.0",
  "info": {
    "title": "AI Generation Feedback API",
    "description": "API for managing feedback on AI-generated content",
    "version": "3.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "AI Generation Feedback",
      "description": "Operations related to AI generation feedback management"
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication method using a Bearer token. Include the token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "AiGenerationFeedbackRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of feedback provided",
            "enum": ["int", "decimal", "text", "boolean"]
          },
          "value": {
            "type": "string",
            "maxLength": 2000,
            "description": "The feedback value - stored as string regardless of feedback type. **Validation depends on `type` field:** When type is `int`, value must be a valid integer (e.g., '5', '-10'). When type is `decimal`, value must be a valid decimal number with decimal point (e.g., '4.5', '-3.14'). When type is `boolean`, value must be 'true' or 'false' (case-insensitive). When type is `text`, value must be a non-empty string (max 2000 characters)."
          },
          "entity_type": {
            "type": "string",
            "description": "The type of entity this feedback is related to",
            "enum": ["AISmartReply", "AIRecommendation", "AIRecommendedAction"]
          },
          "entity_uid": {
            "type": "string",
            "description": "The unique identifier of the related entity"
          },
          "name": {
            "type": "string",
            "description": "The specific name/identifier for the feedback type",
            "enum": ["[AISmartReply] Business Sent Message UID", "[AISmartReply] Business Dismiss Reason"]
          }
        },
        "required": [
          "type",
          "value",
          "entity_type",
          "entity_uid",
          "name"
        ]
      }
    }
  },
  "paths": {
    "/v3/ai/ai_generation_feedbacks": {
      "post": {
        "tags": ["AI Generation Feedback"],
        "summary": "Create new AI generation feedback",
        "description": "Submit feedback for AI-generated content. **Available for Staff Tokens and Directory Tokens**",
        "operationId": "createAiGenerationFeedback",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiGenerationFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feedback created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/AiGenerationFeedback.json"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "uid": "fb-d290f1ee-6c54-4b01",
                    "created_at": "2026-01-12T10:30:00.000Z",
                    "updated_at": "2026-01-12T10:30:00.000Z",
                    "type": "int",
                    "value": "5",
                    "entity_type": "AISmartReply",
                    "entity_uid": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "[AISmartReply] Business Sent Message UID"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid request parameters or duplicate feedback"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  }
}