{
  "openapi": "3.0.0",
  "info": {
    "title": "AI Generation Feedback API",
    "description": "API for managing feedback on AI-generated content",
    "version": "3.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "AI Generation Feedback",
      "description": "Operations related to AI generation feedback management"
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication method using a Bearer token. Include the token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "AiGenerationFeedbackRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of feedback provided",
            "enum": ["int", "decimal", "text", "boolean"]
          },
          "value": {
            "type": "string",
            "description": "The feedback value - stored as string regardless of feedback type (e.g., '4.5' for decimal, 'true' for boolean)"
          },
          "entity_type": {
            "type": "string",
            "description": "The type of entity this feedback is related to",
            "enum": ["AISmartReply", "AIRecommendation", "AIRecommendedAction"]
          },
          "entity_uid": {
            "type": "string",
            "description": "The unique identifier of the related entity"
          },
          "name": {
            "type": "string",
            "description": "The specific name/identifier for the feedback type",
            "enum": ["[AISmartReply] Business Sent Message UID", "[AISmartReply] Business Dismiss Reason"]
          }
        },
        "required": [
          "type",
          "value",
          "entity_type",
          "entity_uid",
          "name"
        ]
      }
    }
  },
  "paths": {
    "/v3/ai/ai_generation_feedbacks": {
      "post": {
        "tags": ["AI Generation Feedback"],
        "summary": "Create new AI generation feedback",
        "description": "Submit feedback for AI-generated content. **Available for Staff tokens**",
        "operationId": "createAiGenerationFeedback",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiGenerationFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feedback created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/AiGenerationFeedback.json"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    }
  }
}