{
  "openapi": "3.0.0",
  "info": {
    "title": "AI Generation Feedback API",
    "description": "API for managing feedback on AI-generated content",
    "version": "3.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "AI Generation Feedback",
      "description": "Operations related to AI generation feedback management"
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "AiGenerationFeedbackRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of feedback provided",
            "enum": [
              "int",
              "decimal",
              "text",
              "boolean"
            ]
          },
          "value": {
            "type": "string",
            "description": "The feedback value - stored as string regardless of feedback type (e.g., '4.5' for decimal, 'true' for boolean)"
          },
          "entity_type": {
            "type": "string",
            "description": "The type of entity this feedback is related to",
            "enum": [
              "AISmartReply",
              "AIRecommendation",
              "AIRecommendedAction"
            ]
          },
          "entity_uid": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier of the related entity. **Important**: You must first create or retrieve an entity of the specified `entity_type`, then use its UID here. For example:\n\n1. Create an AISmartReply via `POST /v3/ai/ai_smart_replies`\n2. Use the returned `uid` as `entity_uid` with `entity_type='AISmartReply'`\n\nReturns 404 if the entity does not exist.",
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          "name": {
            "type": "string",
            "description": "The specific name/identifier for the feedback type",
            "enum": [
              "[AISmartReply] Business Sent Message UID",
              "[AISmartReply] Business Dismiss Reason"
            ]
          }
        },
        "required": [
          "type",
          "value",
          "entity_type",
          "entity_uid",
          "name"
        ],
        "example": {
          "type": "text",
          "value": "too_formal",
          "entity_type": "AISmartReply",
          "entity_uid": "d290f1ee-6c54-4b01-90e6-d701748f0851",
          "name": "[AISmartReply] Business Dismiss Reason"
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/v3/ai/ai_generation_feedbacks": {
      "post": {
        "tags": [
          "AI Generation Feedback"
        ],
        "summary": "Create new AI generation feedback",
        "description": "## Overview\nSubmit feedback for AI-generated content.\n\n**Available for Staff tokens**",
        "operationId": "createAiGenerationFeedback",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiGenerationFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feedback created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/AiGenerationFeedback.json"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Entity not found - The referenced `entity_uid` does not exist for the specified `entity_type`"
          }
        }
      }
    }
  }
}
