{
  "openapi": "3.0.0",
  "info": {
    "title": "AI Generation Feedback API",
    "description": "API for managing feedback on AI-generated content",
    "version": "3.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "AI Generation Feedback",
      "description": "Operations related to AI generation feedback management"
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication method using a Bearer token. Include the token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "AiGenerationFeedbackRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of feedback provided",
            "enum": ["int", "decimal", "text", "boolean"]
          },
          "value": {
            "type": "string",
            "description": "The feedback value - stored as string regardless of feedback type (e.g., '4.5' for decimal, 'true' for boolean)"
          },
          "entity_type": {
            "type": "string",
            "description": "The type of entity this feedback is related to",
            "enum": ["AISmartReply", "AIRecommendation", "AIRecommendedAction"]
          },
          "entity_uid": {
            "type": "string",
            "description": "The unique identifier of the related entity"
          },
          "name": {
            "type": "string",
            "description": "The specific name/identifier for the feedback type",
            "enum": ["[AISmartReply] Business Sent Message UID", "[AISmartReply] Business Dismiss Reason"]
          }
        },
        "required": [
          "type",
          "value",
          "entity_type",
          "entity_uid",
          "name"
        ]
      },
      "AiGenerationFeedbackListResponse": {
        "type": "object",
        "properties": {
          "ai_generation_feedbacks": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/AiGenerationFeedback.json"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of feedback entries"
          }
        }
      }
    }
  },
  "paths": {
    "/v3/ai/ai_generation_feedbacks": {
      "post": {
        "tags": ["AI Generation Feedback"],
        "summary": "Create new AI generation feedback",
        "description": "Submit feedback for AI-generated content. **Available for Staff tokens**",
        "operationId": "createAiGenerationFeedback",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AiGenerationFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Feedback created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/AiGenerationFeedback.json"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": ["AI Generation Feedback"],
        "summary": "List AI generation feedback",
        "description": "Retrieve a list of AI generation feedback with optional filtering. **Available for Staff tokens**",
        "operationId": "listAiGenerationFeedback",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "entity_type",
            "in": "query",
            "description": "Filter by entity type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["AISmartReply", "AIRecommendation", "AIRecommendedAction"]
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by feedback name",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["[AISmartReply] Business Sent Message UID", "[AISmartReply] Business Dismiss Reason"]
            }
          },
          {
            "name": "entity_uid",
            "in": "query",
            "description": "Filter by entity UID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by feedback type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["int", "decimal", "text", "boolean"]
            }
          },
          {
            "name": "from_date",
            "in": "query",
            "description": "Filter feedback created after this date (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Filter feedback created before this date (ISO 8601 format)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of feedback retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/AiGenerationFeedbackListResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/ai/ai_generation_feedbacks/{uid}": {
      "get": {
        "tags": ["AI Generation Feedback"],
        "summary": "Get AI generation feedback by UID",
        "description": "Retrieve a specific AI generation feedback entry by its unique identifier. **Available for Staff tokens**",
        "operationId": "getAiGenerationFeedback",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "The unique identifier of the feedback",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Feedback retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/AiGenerationFeedback.json"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Feedback not found"
          }
        }
      }
    }
  }
}