{
  "openapi": "3.0.0",
  "info": {
    "title": "Smart Reply API",
    "description": "API for managing AI-generated smart replies for customer communications",
    "version": "3.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "AI SmartReply",
      "description": "Operations related to smart reply generation and management"
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication method using a Bearer token. Include the token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "AISmartReplyRequest": {
        "type": "object",
        "properties": {
          "matter_uid": {
            "type": "string",
            "description": "The unique identifier of the associated matter"
          },
          "user_input_reference_id": {
            "type": "string",
            "description": "The unique identifier of the user input reference. If not provided, defaults to 'prmpt-smart-reply-00001'",
            "default": "prmpt-smart-reply-00001"
          },
          "client_uid": {
            "type": "string",
            "description": "The unique identifier of the client"
          },
          "custom_instructions": {
            "type": "string",
            "description": "Optional custom instructions to guide the AI reply generation"
          }
        },
        "required": [
          "matter_uid",
          "client_uid"
        ]
      },
      "SmartReplyListResponse": {
        "type": "object",
        "properties": {
          "smart_replies": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/AISmartReply.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/ai/ai_smart_replies": {
      "post": {
        "tags": [
          "AI SmartReply"
        ],
        "summary": "Create a new  AISmartReply",
        "description": "## Overview\nGenerate a new, on-demand, smart reply between a business and a client. For example, when a user wants to edit their own reply text, provide custom instructions, or modify a previously-generated AI reply.\n\n**Available for Staff tokens**",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AISmartReplyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": " AISmartReply created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/AISmartReply.json"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error - AI smart reply generation failed. This can occur when the AI agent fails to generate a response (e.g., no output generated, processing errors). This is expected behavior for certain edge cases."
          }
        }
      },
      "get": {
        "tags": [
          "AI SmartReply"
        ],
        "summary": "List all AISmartReplies",
        "description": "## Overview\nRetrieve a list of smart replies with optional filtering.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "matter_uid",
            "in": "query",
            "description": "Filter by matter UID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of smart replies retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SmartReplyListResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  }
}