{
  "openapi": "3.0.0",
  "info": {
    "title": "Smart Reply API",
    "description": "API for managing AI-generated smart replies for customer communications",
    "version": "3.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "AI SmartReply",
      "description": "Operations related to smart reply generation and management"
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication method using a Bearer token. Include the token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "SmartReplyRequest": {
        "type": "object",
        "properties": {
          "matter_uid": {
            "type": "string",
            "description": "The unique identifier of the associated matter"
          },
          "user_input_reference_id": {
            "type": "string",
            "description": "The unique identifier of the user input reference"
          }
        },
        "required": [
          "matter_uid",
          "user_input_reference_id"
        ]
      },
      "SmartReplyListResponse": {
        "type": "object",
        "properties": {
          "smart_replies": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/SmartReply.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/ai/ai_smart_replies": {
      "post": {
        "tags": ["AI SmartReply"],
        "summary": "Create a new  AISmartReply",
        "description": "Creates a new smart reply placeholder for a specific matter and business (reply content will be generated separately). **Available for Staff tokens**",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartReplyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": " AISmartReply created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/SmartReply.json"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": ["AI SmartReply"],
        "summary": "List all AISmartReplies",
        "description": "Retrieve a list of smart replies with optional filtering. **Available for Staff tokens**",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "matter_uid",
            "in": "query",
            "description": "Filter by matter UID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of smart replies retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SmartReplyListResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/ai/ai_smart_replies/{uid}": {
      "get": {
        "tags": ["AI SmartReply"],
        "summary": "Get a smart reply",
        "description": "Retrieve a specific smart reply by its unique identifier. **Available for Staff tokens**",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "The unique identifier of the AISmartReply",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Smart reply retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/AISmartReply.json"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Smart reply not found"
          }
        }
      }
    }
  }
}
