{
  "openapi": "3.0.0",
  "info": {
    "title": "Smart Reply API",
    "description": "API for managing AI-generated smart replies for customer communications",
    "version": "3.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "AI SmartReply",
      "description": "Operations related to smart reply generation and management"
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication method using a Bearer token. Include the token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "AISmartReplyRequest": {
        "type": "object",
        "properties": {
          "matter_uid": {
            "type": "string",
            "description": "The unique identifier of the associated matter"
          },
          "user_input_reference_id": {
            "type": "string",
            "description": "The unique identifier of the user input reference"
          },
          "client_uid": {
            "type": "string",
            "description": "The unique identifier of the client"
          },
          "custom_instructions": {
            "type": "string",
            "description": "Optional custom instructions to guide the AI reply generation"
          }
        },
        "required": [
          "matter_uid",
          "user_input_reference_id"
        ]
      },
      "SmartReplyListResponse": {
        "type": "object",
        "properties": {
          "smart_replies": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/AISmartReply.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/ai/ai_smart_replies": {
      "post": {
        "tags": ["AI SmartReply"],
        "summary": "Create a new  AISmartReply",
        "description": "Generate a new, on-demand, smart reply between a business and a client. For example, when a user wants to edit their own reply text, provide custom instructions, or modify a previously-generated AI reply. **Available for Staff Tokens and Directory Tokens**",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AISmartReplyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": " AISmartReply created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/AISmartReply.json"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "uid": "sr-d290f1ee-6c54",
                    "matter_uid": "matter-abc123",
                    "client_uid": "client-xyz789",
                    "user_input_reference_id": "msg-456def",
                    "reply_text": "Thank you for reaching out! I'd be happy to help you schedule an appointment. What time works best for you?",
                    "status": "generated",
                    "created_at": "2026-01-12T10:00:00.000Z",
                    "updated_at": "2026-01-12T10:00:00.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": ["AI SmartReply"],
        "summary": "List all AISmartReplies",
        "description": "Retrieve a list of smart replies with optional filtering. **Available for Staff Tokens and Directory Tokens**",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "matter_uid",
            "in": "query",
            "description": "Filter by matter UID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of smart replies retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SmartReplyListResponse"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "smart_replies": [
                      {
                        "uid": "sr-d290f1ee-6c54",
                        "matter_uid": "matter-abc123",
                        "client_uid": "client-xyz789",
                        "reply_text": "Thank you for your inquiry!",
                        "status": "generated",
                        "created_at": "2026-01-12T10:00:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/ai/ai_smart_replies/{uid}": {
      "get": {
        "tags": ["AI SmartReply"],
        "summary": "Get a smart reply",
        "description": "Retrieve a specific smart reply by its unique identifier. **Available for Staff Tokens and Directory Tokens**",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "The unique identifier of the AISmartReply",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Smart reply retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/AISmartReply.json"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "uid": "sr-d290f1ee-6c54",
                    "matter_uid": "matter-abc123",
                    "client_uid": "client-xyz789",
                    "user_input_reference_id": "msg-456def",
                    "reply_text": "Thank you for reaching out! I'd be happy to help you schedule an appointment.",
                    "status": "generated",
                    "created_at": "2026-01-12T10:00:00.000Z",
                    "updated_at": "2026-01-12T10:00:00.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Smart reply not found"
          }
        }
      }
    }
  }
}
