{
    "openapi": "3.0.0",
    "info": {
        "title": "BizAI",
        "description": "An advanced framework that enables partners and 3rd party developers to build on top of the inTandem AI functionality",
        "version": "3.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
                "type": "http",
                "scheme": "bearer",
                "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
            }
        },
        "schemas": {
            "Response": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "object"
                    }
                },
                "required": [
                    "success",
                    "data"
                ]
            },
            "Object": {
                "type": "object",
                "properties": {}
            },
            "ChatResponseDto": {
                "type": "object",
                "properties": {
                    "uid": {
                        "type": "string",
                        "description": "Unique identifier (UID) of the chat",
                        "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "actor_uid": {
                        "type": "string",
                        "description": "Unique identifier (UID) of the user that created the chat",
                        "example": "ghp0f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "agent": {
                        "type": "string",
                        "description": "Agent associated with the chat",
                        "example": "vanilla"
                    },
                    "config": {
                        "type": "object",
                        "description": "Configuration object used to pass additional information to the chat agent in runtime. Note: directory_uid is stripped from the response.",
                        "example": {
                            "instruction": "You are a helpful assistant. Answer all questions to the best of your ability"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "description": "Date the chat was created",
                        "example": "2021-07-20T14:00:00.000Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "description": "Date the chat was last updated",
                        "example": "2021-07-20T14:00:00.000Z"
                    }
                },
                "required": [
                    "uid",
                    "actor_uid",
                    "agent",
                    "config",
                    "created_at",
                    "updated_at"
                ]
            },
            "MultiChatResponseDto": {
                "type": "object",
                "properties": {
                    "biz_ai_chats": {
                        "description": "List of BizAIChats",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/ai/BizAIChat.json"
                        }
                    }
                },
                "required": [
                    "biz_ai_chats"
                ]
            },
            "AgentConfigDto": {
                "type": "object",
                "properties": {
                    "instruction": {
                        "type": "string",
                        "description": "A prompt describing the basic instructions for the agent. The instructions are set at the beginning of a chat and set the tone and functionality for the entire conversation.",
                        "example": "You are an experienced business consultant with a friendly voice. Answer shortly and ask questions where more information is needed."
                    },
                    "model_name": {
                        "type": "string",
                        "description": "OpenAI model name to use for the agent",
                        "example": "gpt-3.5-turbo"
                    }
                }
            },
            "CreateChatRequestDto": {
                "type": "object",
                "properties": {
                    "agent": {
                        "type": "string",
                        "description": "The agent code name. \n\nAvailable values: \n* vanilla - No business info included in the conversation\n* biz-ai - Seed information on the business is included, as well as a set of instructions to make the bot behave like a biz-ai chat.",
                        "enum": [
                            "vanilla",
                            "biz-ai"
                        ],
                        "example": "vanilla"
                    },
                    "config": {
                        "description": "The agent configuration",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/AgentConfigDto"
                            }
                        ]
                    }
                },
                "required": [
                    "agent"
                ]
            },
            "MessageResponseDto": {
                "type": "object",
                "properties": {
                    "uid": {
                        "type": "string",
                        "description": "Unique identifier (UID) of the message",
                        "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "content": {
                        "type": "string",
                        "description": "Content of the message",
                        "example": "Hello, how can I help you?"
                    },
                    "author_role": {
                        "type": "string",
                        "description": "Role of the author of the message",
                        "example": "ai_assistant"
                    },
                    "created_at": {
                        "type": "string",
                        "description": "Date the message was created",
                        "example": "2021-07-20T14:00:00.000Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "description": "Date the message was last updated",
                        "example": "2021-07-20T14:00:00.000Z"
                    }
                },
                "required": [
                    "uid",
                    "content",
                    "author_role",
                    "created_at",
                    "updated_at"
                ]
            },
            "MultiMessageResponseDto": {
                "type": "object",
                "properties": {
                    "bizai_chat_messages": {
                        "description": "List of BizAIChatMessages",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/ai/BizAIChatMessage.json"
                        }
                    }
                },
                "required": [
                    "bizai_chat_messages"
                ]
            },
            "TextContentDto": {
                "type": "object",
                "properties": {
                    "text": {
                        "type": "string",
                        "description": "The text sent to the bot",
                        "example": "Tell me a joke!"
                    }
                },
                "required": [
                    "text"
                ]
            },
            "PromptContentDto": {
                "type": "object",
                "properties": {
                    "uid": {
                        "type": "string",
                        "example": "prompt-xyz123",
                        "description": "The uid of the prompt you wish to use"
                    },
                    "variables": {
                        "type": "object",
                        "example": {
                            "name": "John",
                            "age": 30
                        },
                        "description": "A key-value object listing values of variables you want BizAI to replace in the prompt. For more information consult our “Using Prompts” guide: https://dash.readme.com/project/vcita-developers-hub/v3.0/docs/using-prompts"
                    }
                },
                "required": [
                    "uid",
                    "variables"
                ]
            },
            "SendMessageRequestDto": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "The type of message sent to the bot (free text or a saved prompt template). A saved prompt can include reusable instructions that can be retrieved from BizAI for advanced functionality.",
                        "example": "text",
                        "enum": [
                            "text",
                            "prompt"
                        ]
                    },
                    "content": {
                        "description": "An object representing the content sent to the bot. Each prompt type must have its own object (“Text Content Object” for “text” and “Prompt Content Object” for “prompt”).",
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/TextContentDto"
                            },
                            {
                                "$ref": "#/components/schemas/PromptContentDto"
                            }
                        ]
                    },
                    "streaming": {
                        "type": "boolean",
                        "description": "Stream response option. If true, the response will be streamed to the client. If false, the response will be sent as a single message",
                        "default": true
                    }
                },
                "required": [
                    "type",
                    "content"
                ]
            },
            "MessageStreamResponseDto": {
                "type": "object",
                "properties": {
                    "uid": {
                        "type": "string",
                        "description": "Unique identifier (UID) of the message",
                        "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
                    },
                    "delta": {
                        "type": "string",
                        "description": "Token that is part of the content of the message",
                        "example": "Hello"
                    },
                    "finish_reason": {
                        "type": "string",
                        "description": "The reason the stream has finished",
                        "example": "'stop' or null"
                    }
                },
                "required": [
                    "uid",
                    "delta",
                    "finish_reason"
                ]
            }
        }
    },
    "paths": {
        "/v3/ai/bizai_chats": {
            "get": {
                "operationId": "ChatsController_getChats",
                "summary": "Get all BizAIChats",
                "description": "Get a list of all chat sessions\n\nAvailable for **Staff Tokens** and **Directory Tokens**",
                "parameters": [
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                "type": "object",
                                                "$ref": "#/components/schemas/MultiChatResponseDto"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing authentication token"
                    },
                    "429": {
                        "description": "Too Many Requests - Rate limit exceeded"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "tags": [
                    "BizAI Chats"
                ],
                "security": [
                    {
                      "Bearer": []
                    }
                  ]
            },
            "post": {
                "operationId": "ChatsController_createChat",
                "summary": "Create a BizAIChat",
                "description": "Create a new chat session between a user and an agent.\n\n## Overview\nInitializes a new conversation thread with an AI agent.\n\n## When to Use\n- Start a new AI-assisted conversation\n- Create a chat with a specific agent type (vanilla or biz-ai)\n\n## Prerequisites\n- Valid Staff Token\n\n## Rate Limits\n- 10 requests per second per staff member\n\n## Notes\n- The `vanilla` agent provides basic AI without business context\n- The `biz-ai` agent includes business information and specialized instructions",
                "x-vcita-rate-limiting": {
                    "requests_per_second": 10,
                    "scope": "per_staff"
                },
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateChatRequestDto"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/ai/BizAIChat.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid parameters provided"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing authentication token"
                    },
                    "429": {
                        "description": "Too Many Requests - Rate limit exceeded (10 requests per second)"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "tags": [
                    "BizAI Chats"
                ],
                "security": [
                    {
                      "Bearer": []
                    }
                  ]
            }
        },
        "/v3/ai/bizai_chats/{uid}": {
            "get": {
                "operationId": "ChatsController_getChat",
                "summary": "Retrieve a BizAIChat",
                "description": "Retrieve a specific BizAIChat session based on it's unique identifier (UID)\n\nAvailable for **Staff Tokens** and **Directory Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the BizAIChat",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/ai/BizAIChat.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing authentication token"
                    },
                    "404": {
                        "description": "Not Found - BizAIChat not found"
                    },
                    "429": {
                        "description": "Too Many Requests - Rate limit exceeded"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "tags": [
                    "BizAI Chats"
                ],
                "security": [
                    {
                      "Bearer": []
                    }
                  ]
            }
        },
        "/v3/ai/bizai_chat_messages": {
            "get": {
                "operationId": "ChatMessagesController_getMessages",
                "summary": "Get all BizAIChatMessages",
                "description": "Get all BizAIChatMessages exchanged within a specific chat\n\nAvailable for **Staff Tokens** and **Directory Tokens**",
                "parameters": [
                    {
                        "name": "ai_chat_uid",
                        "required": true,
                        "in": "query",
                        "description": "Unique identifier of the BizAIChat",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                "type": "object",
                                                "$ref": "#/components/schemas/MultiMessageResponseDto"
                                                }
                                            }
                                            
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing authentication token"
                    },
                    "429": {
                        "description": "Too Many Requests - Rate limit exceeded"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "tags": [
                    "BizAI Chat Messages"
                ],
                "security": [
                    {
                      "Bearer": []
                    }
                  ]
            },
            "post": {
                "operationId": "ChatMessagesController_createMessage",
                "summary": "Create a BizAIChatMessage",
                "description": "Create a new BizAIChatMessage in a BizAIChat thread and get an AI response.\n\n## Overview\nSends a message to the AI agent and receives a response. Supports both text messages and pre-defined prompts.\n\n## When to Use\n- Send a user message to the AI\n- Use a saved prompt template with variables\n\n## Prerequisites\n- Valid Staff Token\n- Existing BizAIChat session\n\n## Streaming\n- By default, responses are streamed (`streaming: true`)\n- Set `streaming: false` for a single complete response\n\n## Rate Limits\n- 150 requests per hour\n- 300 requests per day\n- 1000 requests per month\n\n## Notes\n- For prompt-based messages, provide the prompt UID and variable values",
                "x-vcita-rate-limiting": {
                    "requests_per_hour": 150,
                    "requests_per_day": 300,
                    "requests_per_month": 1000,
                    "scope": "per_staff"
                },
                "parameters": [
                    {
                        "name": "bizai_chat_uid",
                        "required": true,
                        "in": "query",
                        "description": "Unique identifier of the BizAIChat",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendMessageRequestDto"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "https://vcita.github.io/developers-hub/entities/ai/BizAIChatStreamMessage.json"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - Invalid parameters provided"
                    },
                    "401": {
                        "description": "Unauthorized - Invalid or missing authentication token"
                    },
                    "429": {
                        "description": "Too Many Requests - Rate limit exceeded (150/hour, 300/day, 1000/month)"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                },
                "tags": [
                    "BizAI Chat Messages"
                ],
                "security": [
                    {
                      "Bearer": []
                    }
                  ]
            }
        }
    }
}