{
  "openapi": "3.0.3",
  "info": {
    "title": "Business AI Settings API",
    "version": "1.0.0",
    "description": "API for managing business-level AI settings"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "paths": {
    "/v3/ai/business_ai_settings/{business_uid}": {
      "get": {
        "tags": [
          "Business AI Settings"
        ],
        "operationId": "getBusinessAiSettings",
        "summary": "Retrieve a BusinessAiSettings",
        "description": "## Overview\nRetrieve the AI settings of a business. Every known key is returned, with its default filled in for keys the business has never changed, so the response is the same whether or not the business has stored settings.\n\nThe business is resolved from the token - a staff member can only read the settings of their own business.\n\n**Available for Staff tokens**",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the business (e.g., \"biz_abc123\")",
            "example": "biz_abc123"
          }
        ],
        "responses": {
          "200": {
            "description": "Business AI settings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "business_ai_settings": {
                              "$ref": "https://vcita.github.io/developers-hub/entities/ai/businessAiSettings.json"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "business_ai_settings": {
                      "uid": "bas_9f31c2",
                      "business_uid": "biz_abc123",
                      "settings": {
                        "note_summary": {
                          "allow": true
                        },
                        "opted_in": {
                          "allow": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Unauthorized"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the settings belong to another business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "You do not have access to these business AI settings"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Business AI Settings"
        ],
        "operationId": "updateBusinessAiSettings",
        "summary": "Update a BusinessAiSettings",
        "description": "## Overview\nCreate or update the AI settings of a business. Keys left out of the request keep their stored value, and unknown keys are rejected.\n\nThe business is resolved from the token - a staff member can only update the settings of their own business.\n\n**Available for Staff tokens holding the `account.settings.manage` permission**",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the business (e.g., \"biz_abc123\")",
            "example": "biz_abc123"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessAiSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business AI settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "business_ai_settings": {
                              "$ref": "https://vcita.github.io/developers-hub/entities/ai/businessAiSettings.json"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "business_ai_settings": {
                      "uid": "bas_9f31c2",
                      "business_uid": "biz_abc123",
                      "settings": {
                        "note_summary": {
                          "allow": false
                        },
                        "opted_in": {
                          "allow": false
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - malformed request or unknown setting key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "bad_request",
                      "message": "Unknown AI setting key(s): ai_global. Allowed keys: note_summary, opted_in"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Unauthorized"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the settings belong to another business, or the staff member lacks the account.settings.manage permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "forbidden",
                      "message": "Insufficient permissions to manage business settings"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "success",
          "errors"
        ]
      },
      "BusinessAiSettingsRequest": {
        "type": "object",
        "properties": {
          "settings": {
            "type": "object",
            "description": "Settings to change. Keys that are omitted keep their stored value",
            "properties": {
              "note_summary": {
                "type": "object",
                "description": "AI note summaries. While not allowed, no new note gets a summary and existing summaries are withheld from note responses. Speech-to-text on notes is unaffected",
                "properties": {
                  "allow": {
                    "type": "boolean",
                    "description": "Whether AI note summaries are allowed for this business (e.g., true, false)"
                  }
                },
                "required": [
                  "allow"
                ]
              },
              "opted_in": {
                "type": "object",
                "description": "Whether the business has opted in to AI. A business with no stored record is treated as not opted in until it explicitly opts in",
                "properties": {
                  "allow": {
                    "type": "boolean",
                    "description": "Whether the business has opted in to AI (e.g., false, true)"
                  }
                },
                "required": [
                  "allow"
                ]
              }
            }
          }
        },
        "required": [
          "settings"
        ],
        "example": {
          "settings": {
            "note_summary": {
              "allow": false
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  }
}
