{
  "openapi": "3.0.0",
  "info": {
    "title": "Business Rules",
    "description": "AI-powered business rules management. Enables businesses to define, manage, and receive AI-generated suggestions for rules that guide AI agent behavior across categories like tone of voice, business policies, things to avoid, and FAQ.",
    "version": "3.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "required": [
          "success",
          "errors"
        ]
      },
      "CreateBusinessRuleRequestDto": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "The category of the business rule.\n\nAvailable values:\n* tone_of_voice - Rules about communication style and tone\n* business_policies - Rules about business operations and policies\n* things_to_avoid - Rules about what the AI should not do or say\n* faq - Frequently asked questions and their answers",
            "enum": [
              "tone_of_voice",
              "business_policies",
              "things_to_avoid",
              "faq"
            ],
            "example": "tone_of_voice"
          },
          "content": {
            "type": "string",
            "description": "The content/text of the business rule",
            "example": "Always use a friendly and professional tone"
          },
          "sort_order": {
            "type": "integer",
            "description": "Sort order for displaying rules within a category",
            "example": 0
          }
        },
        "required": [
          "category",
          "content"
        ]
      },
      "UpdateBusinessRuleRequestDto": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "The category of the business rule",
            "enum": [
              "tone_of_voice",
              "business_policies",
              "things_to_avoid",
              "faq"
            ]
          },
          "content": {
            "type": "string",
            "description": "The content/text of the business rule"
          },
          "status": {
            "type": "string",
            "description": "The status of the business rule",
            "enum": [
              "active",
              "pending_approval",
              "inactive"
            ]
          },
          "sort_order": {
            "type": "integer",
            "description": "Sort order for displaying rules within a category"
          }
        }
      },
      "BusinessRuleListResponseDto": {
        "type": "object",
        "properties": {
          "business_rules": {
            "description": "List of BusinessRules",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/BusinessRule.json"
            }
          }
        },
        "required": [
          "business_rules"
        ]
      },
      "BusinessRuleHistoryListResponseDto": {
        "type": "object",
        "properties": {
          "history": {
            "description": "List of BusinessRuleHistory records",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/BusinessRuleHistory.json"
            }
          }
        },
        "required": [
          "history"
        ]
      },
      "BusinessRuleHistoryPaginatedResponseDto": {
        "type": "object",
        "properties": {
          "history": {
            "description": "List of BusinessRuleHistory records",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/BusinessRuleHistory.json"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of history records"
          }
        },
        "required": [
          "history",
          "total"
        ]
      },
      "PendingSuggestionsResponseDto": {
        "type": "object",
        "properties": {
          "suggestions": {
            "description": "List of pending BusinessRuleSuggestions",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/BusinessRuleSuggestion.json"
            }
          },
          "summary": {
            "type": "object",
            "description": "Summary counts of pending suggestions by action type",
            "properties": {
              "create": {
                "type": "integer",
                "description": "Number of pending create suggestions"
              },
              "update": {
                "type": "integer",
                "description": "Number of pending update suggestions"
              },
              "delete": {
                "type": "integer",
                "description": "Number of pending delete suggestions"
              }
            },
            "required": [
              "create",
              "update",
              "delete"
            ]
          }
        },
        "required": [
          "suggestions",
          "summary"
        ]
      },
      "ApproveRejectResponseDto": {
        "type": "object",
        "properties": {
          "suggestion": {
            "$ref": "https://vcita.github.io/developers-hub/entities/ai/BusinessRuleSuggestion.json"
          },
          "action": {
            "type": "string",
            "description": "The action taken on the suggestion",
            "enum": [
              "approved",
              "rejected"
            ]
          },
          "rule_uid": {
            "type": "string",
            "description": "UID of the created or updated rule (present when suggestion is approved)",
            "nullable": true
          }
        },
        "required": [
          "suggestion",
          "action"
        ]
      },
      "BulkApproveRejectResponseDto": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "description": "Results for each processed suggestion",
            "items": {
              "type": "object",
              "properties": {
                "uid": {
                  "type": "string",
                  "description": "UID of the suggestion"
                },
                "action": {
                  "type": "string",
                  "description": "The action taken"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether the operation succeeded"
                },
                "error": {
                  "type": "string",
                  "description": "Error message if the operation failed",
                  "nullable": true
                }
              }
            }
          },
          "summary": {
            "type": "object",
            "description": "Summary of the bulk operation",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Total number of suggestions processed"
              },
              "successful": {
                "type": "integer",
                "description": "Number of successfully processed suggestions"
              },
              "failed": {
                "type": "integer",
                "description": "Number of failed suggestions"
              }
            },
            "required": [
              "total",
              "successful",
              "failed"
            ]
          }
        },
        "required": [
          "results",
          "summary"
        ]
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/v3/ai/business_rules": {
      "get": {
        "operationId": "BusinessRulesController_getBusinessRules",
        "summary": "Get all BusinessRules",
        "description": "## Overview\nGet a list of all business rules for the authenticated business. Optionally filter by category.\n\n**Available for Staff Tokens**.",
        "parameters": [
          {
            "name": "category",
            "required": false,
            "in": "query",
            "description": "Filter by rule category",
            "schema": {
              "type": "string",
              "enum": [
                "tone_of_voice",
                "business_policies",
                "things_to_avoid",
                "faq"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business rules retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BusinessRuleListResponseDto"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "business_rules": [
                      {
                        "uid": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv",
                        "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                        "category": "tone_of_voice",
                        "content": "Always use a friendly and professional tone when communicating with clients",
                        "status": "active",
                        "source": "system",
                        "created_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                        "updated_by_staff_uid": null,
                        "sort_order": 0,
                        "metadata": null,
                        "created_at": "2024-12-15T10:30:00.000Z",
                        "updated_at": "2024-12-15T10:30:00.000Z"
                      },
                      {
                        "uid": "br-e5f6a7b8-9012-34cd-efgh-ijklmnopqrst",
                        "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                        "category": "faq",
                        "content": "Q: What are your business hours? A: We are open Monday to Friday, 9 AM to 5 PM.",
                        "status": "active",
                        "source": "system",
                        "created_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                        "updated_by_staff_uid": null,
                        "sort_order": 1,
                        "metadata": {
                          "question": "What are your business hours?",
                          "answer": "We are open Monday to Friday, 9 AM to 5 PM.",
                          "confidence": 0.87,
                          "reasoning": "Detected consistent business hours mentioned across multiple client conversations"
                        },
                        "created_at": "2024-12-15T11:00:00.000Z",
                        "updated_at": "2024-12-15T11:00:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Business Rules"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "operationId": "BusinessRulesController_createBusinessRule",
        "summary": "Create a BusinessRule",
        "description": "## Overview\nCreate a new business rule for the authenticated business.\n\n**Available for Staff Tokens**.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessRuleRequestDto"
              },
              "example": {
                "category": "tone_of_voice",
                "content": "Always use a friendly and professional tone",
                "sort_order": 0
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Business rule created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/BusinessRule.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "business_rule": {
                      "uid": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv",
                      "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                      "category": "tone_of_voice",
                      "content": "Always use a friendly and professional tone",
                      "status": "active",
                      "source": "user",
                      "created_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                      "updated_by_staff_uid": null,
                      "sort_order": 0,
                      "metadata": null,
                      "created_at": "2024-12-15T10:30:00.000Z",
                      "updated_at": "2024-12-15T10:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - missing required parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Business Rules"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/business_rules/{rule_uid}": {
      "get": {
        "operationId": "BusinessRulesController_getBusinessRule",
        "summary": "Retrieve a BusinessRule",
        "description": "## Overview\nRetrieve a specific business rule based on its unique identifier (UID).\n\n**Available for Staff Tokens**.",
        "parameters": [
          {
            "name": "rule_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessRule",
            "schema": {
              "type": "string"
            },
            "example": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv"
          }
        ],
        "responses": {
          "200": {
            "description": "Business rule retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/BusinessRule.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "business_rule": {
                      "uid": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv",
                      "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                      "category": "tone_of_voice",
                      "content": "Always use a friendly and professional tone when communicating with clients",
                      "status": "active",
                      "source": "system",
                      "created_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                      "updated_by_staff_uid": null,
                      "sort_order": 0,
                      "metadata": null,
                      "created_at": "2024-12-15T10:30:00.000Z",
                      "updated_at": "2024-12-15T10:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rule belongs to another business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Business rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Business Rules"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "operationId": "BusinessRulesController_updateBusinessRule",
        "summary": "Update a BusinessRule",
        "description": "## Overview\nUpdate an existing business rule by UID. All fields are optional - only provided fields will be updated.\n\n**Available for Staff Tokens**.",
        "parameters": [
          {
            "name": "rule_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessRule",
            "schema": {
              "type": "string"
            },
            "example": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessRuleRequestDto"
              },
              "example": {
                "content": "Always maintain a warm, friendly, and professional tone in all client communications",
                "status": "active"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business rule updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/BusinessRule.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "business_rule": {
                      "uid": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv",
                      "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                      "category": "tone_of_voice",
                      "content": "Always maintain a warm, friendly, and professional tone in all client communications",
                      "status": "active",
                      "source": "system",
                      "created_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                      "updated_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                      "sort_order": 0,
                      "metadata": null,
                      "created_at": "2024-12-15T10:30:00.000Z",
                      "updated_at": "2024-12-16T14:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rule belongs to another business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Business rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Business Rules"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "BusinessRulesController_deleteBusinessRule",
        "summary": "Delete a BusinessRule",
        "description": "## Overview\nDelete a business rule by UID.\n\n**Available for Staff Tokens**.",
        "parameters": [
          {
            "name": "rule_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessRule",
            "schema": {
              "type": "string"
            },
            "example": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv"
          }
        ],
        "responses": {
          "200": {
            "description": "Business rule deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rule belongs to another business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Business rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Business Rules"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/business_rules/{rule_uid}/history": {
      "get": {
        "operationId": "BusinessRulesController_getRuleHistory",
        "summary": "Get BusinessRule History",
        "description": "## Overview\nGet the change history for a specific business rule.\n\n**Available for Staff Tokens**.",
        "parameters": [
          {
            "name": "rule_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessRule",
            "schema": {
              "type": "string"
            },
            "example": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv"
          }
        ],
        "responses": {
          "200": {
            "description": "History retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BusinessRuleHistoryListResponseDto"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "history": [
                      {
                        "uid": "hist-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "rule_uid": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv",
                        "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                        "category": "tone_of_voice",
                        "content": "Always use a friendly and professional tone",
                        "source": "system",
                        "action": "created",
                        "changed_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                        "changed_at": "2024-12-15T10:30:00.000Z",
                        "created_at": "2024-12-15T10:30:00.000Z",
                        "updated_at": "2024-12-15T10:30:00.000Z"
                      },
                      {
                        "uid": "hist-b2c3d4e5-f6a7-8901-bcde-f12345678901",
                        "rule_uid": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv",
                        "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                        "category": "tone_of_voice",
                        "content": "Always maintain a warm, friendly, and professional tone in all client communications",
                        "source": "user",
                        "action": "updated",
                        "changed_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                        "changed_at": "2024-12-16T14:30:00.000Z",
                        "created_at": "2024-12-16T14:30:00.000Z",
                        "updated_at": "2024-12-16T14:30:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - rule belongs to another business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Business rule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Business Rules History"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/business_rules/history/all": {
      "get": {
        "operationId": "BusinessRulesController_getBusinessRulesHistory",
        "summary": "Get all BusinessRules History",
        "description": "## Overview\nGet the change history for all business rules of the authenticated business with pagination support.\n\n**Available for Staff Tokens**.",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results (0-indexed)",
            "schema": {
              "default": 0,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page",
            "schema": {
              "default": 50,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "History retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BusinessRuleHistoryPaginatedResponseDto"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "history": [
                      {
                        "uid": "hist-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "rule_uid": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv",
                        "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                        "category": "tone_of_voice",
                        "content": "Always use a friendly and professional tone",
                        "source": "system",
                        "action": "created",
                        "changed_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                        "changed_at": "2024-12-15T10:30:00.000Z",
                        "created_at": "2024-12-15T10:30:00.000Z",
                        "updated_at": "2024-12-15T10:30:00.000Z"
                      }
                    ],
                    "total": 42
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Business Rules History"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/business_rules/suggestions/pending": {
      "get": {
        "operationId": "BusinessRulesController_getPendingSuggestions",
        "summary": "Get Pending BusinessRuleSuggestions",
        "description": "## Overview\nGet all pending rule suggestions for the authenticated business, along with a summary of how many suggestions exist by action type (create, update, delete).\n\n**Available for Staff Tokens**.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Pending suggestions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/PendingSuggestionsResponseDto"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "suggestions": [
                      {
                        "uid": "sug-f1e2d3c4-b5a6-9788-7654-321fedcba098",
                        "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                        "rule_uid": null,
                        "action": "create",
                        "category": "faq",
                        "suggested_content": "Q: What are your business hours? A: We are open Monday to Friday, 9 AM to 5 PM.",
                        "original_content": null,
                        "status": "pending",
                        "confidence": 0.87,
                        "reasoning": "Detected consistent business hours mentioned across multiple client conversations",
                        "metadata": {
                          "question": "What are your business hours?",
                          "answer": "We are open Monday to Friday, 9 AM to 5 PM."
                        },
                        "reviewed_by_staff_uid": null,
                        "reviewed_at": null,
                        "created_at": "2024-12-16T08:00:00.000Z",
                        "updated_at": "2024-12-16T08:00:00.000Z"
                      },
                      {
                        "uid": "sug-a2b3c4d5-e6f7-8901-2345-678901abcdef",
                        "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                        "rule_uid": "br-a1b2c3d4-5678-90ef-ghij-klmnopqrstuv",
                        "action": "update",
                        "category": "tone_of_voice",
                        "suggested_content": "Use a warm, empathetic tone. Avoid jargon and keep sentences concise.",
                        "original_content": "Always use a friendly and professional tone",
                        "status": "pending",
                        "confidence": 0.75,
                        "reasoning": "Clients respond better to empathetic language based on conversation analysis",
                        "metadata": null,
                        "reviewed_by_staff_uid": null,
                        "reviewed_at": null,
                        "created_at": "2024-12-16T08:00:00.000Z",
                        "updated_at": "2024-12-16T08:00:00.000Z"
                      }
                    ],
                    "summary": {
                      "create": 1,
                      "update": 1,
                      "delete": 0
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Business Rule Suggestions"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/business_rules/suggestions/{suggestion_uid}": {
      "get": {
        "operationId": "BusinessRulesController_getSuggestion",
        "summary": "Retrieve a BusinessRuleSuggestion",
        "description": "## Overview\nRetrieve a specific suggestion based on its unique identifier (UID).\n\n**Available for Staff Tokens**.",
        "parameters": [
          {
            "name": "suggestion_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessRuleSuggestion",
            "schema": {
              "type": "string"
            },
            "example": "sug-f1e2d3c4-b5a6-9788-7654-321fedcba098"
          }
        ],
        "responses": {
          "200": {
            "description": "Suggestion retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/BusinessRuleSuggestion.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "suggestion": {
                      "uid": "sug-f1e2d3c4-b5a6-9788-7654-321fedcba098",
                      "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                      "rule_uid": null,
                      "action": "create",
                      "category": "faq",
                      "suggested_content": "Q: What are your business hours? A: We are open Monday to Friday, 9 AM to 5 PM.",
                      "original_content": null,
                      "status": "pending",
                      "confidence": 0.87,
                      "reasoning": "Detected consistent business hours mentioned across multiple client conversations",
                      "metadata": {
                        "question": "What are your business hours?",
                        "answer": "We are open Monday to Friday, 9 AM to 5 PM."
                      },
                      "reviewed_by_staff_uid": null,
                      "reviewed_at": null,
                      "created_at": "2024-12-16T08:00:00.000Z",
                      "updated_at": "2024-12-16T08:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - suggestion belongs to another business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Suggestion not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Business Rule Suggestions"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/business_rules/suggestions/{suggestion_uid}/approve": {
      "post": {
        "operationId": "BusinessRulesController_approveSuggestion",
        "summary": "Approve a BusinessRuleSuggestion",
        "description": "## Overview\nApprove a pending suggestion. This will apply the suggested change to the business rules:\n* **create** suggestions create a new rule\n* **update** suggestions modify the existing rule\n* **delete** suggestions remove the existing rule\n\n**Available for Staff Tokens**.",
        "parameters": [
          {
            "name": "suggestion_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessRuleSuggestion",
            "schema": {
              "type": "string"
            },
            "example": "sug-f1e2d3c4-b5a6-9788-7654-321fedcba098"
          }
        ],
        "responses": {
          "200": {
            "description": "Suggestion approved and change applied",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/ApproveRejectResponseDto"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "suggestion": {
                      "uid": "sug-f1e2d3c4-b5a6-9788-7654-321fedcba098",
                      "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                      "rule_uid": null,
                      "action": "create",
                      "category": "faq",
                      "suggested_content": "Our business hours are Monday to Friday, 9 AM to 5 PM",
                      "original_content": null,
                      "status": "approved",
                      "confidence": 0.87,
                      "reasoning": "Detected consistent business hours mentioned across multiple client conversations",
                      "metadata": null,
                      "reviewed_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                      "reviewed_at": "2024-12-16T12:00:00.000Z",
                      "created_at": "2024-12-16T08:00:00.000Z",
                      "updated_at": "2024-12-16T12:00:00.000Z"
                    },
                    "action": "approved",
                    "rule_uid": "br-new12345-6789-abcd-efgh-ijklmnopqrst"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Suggestion already processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - suggestion belongs to another business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Suggestion not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Business Rule Suggestions"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/business_rules/suggestions/{suggestion_uid}/reject": {
      "post": {
        "operationId": "BusinessRulesController_rejectSuggestion",
        "summary": "Reject a BusinessRuleSuggestion",
        "description": "## Overview\nReject a pending suggestion. No changes will be applied to the business rules.\n\n**Available for Staff Tokens**.",
        "parameters": [
          {
            "name": "suggestion_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessRuleSuggestion",
            "schema": {
              "type": "string"
            },
            "example": "sug-f1e2d3c4-b5a6-9788-7654-321fedcba098"
          }
        ],
        "responses": {
          "200": {
            "description": "Suggestion rejected",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/ApproveRejectResponseDto"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "suggestion": {
                      "uid": "sug-f1e2d3c4-b5a6-9788-7654-321fedcba098",
                      "business_uid": "biz-1234abcd-5678-90ef-ghij-klmnopqrstuv",
                      "rule_uid": null,
                      "action": "create",
                      "category": "faq",
                      "suggested_content": "Our business hours are Monday to Friday, 9 AM to 5 PM",
                      "original_content": null,
                      "status": "rejected",
                      "confidence": 0.87,
                      "reasoning": "Detected consistent business hours mentioned across multiple client conversations",
                      "metadata": null,
                      "reviewed_by_staff_uid": "stf-9876wxyz-5432-10ab-cdef-ghijklmnopqr",
                      "reviewed_at": "2024-12-16T12:00:00.000Z",
                      "created_at": "2024-12-16T08:00:00.000Z",
                      "updated_at": "2024-12-16T12:00:00.000Z"
                    },
                    "action": "rejected"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Suggestion already processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - suggestion belongs to another business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Suggestion not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Business Rule Suggestions"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/business_rules/suggestions/approve-all": {
      "post": {
        "operationId": "BusinessRulesController_approveAllSuggestions",
        "summary": "Approve all pending BusinessRuleSuggestions",
        "description": "## Overview\nApprove all pending suggestions for the business at once. Each suggestion will be applied to the business rules.\n\n**Available for Staff Tokens**.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "All suggestions processed",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BulkApproveRejectResponseDto"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "results": [
                      {
                        "uid": "sug-f1e2d3c4-b5a6-9788-7654-321fedcba098",
                        "action": "approved",
                        "success": true
                      },
                      {
                        "uid": "sug-a2b3c4d5-e6f7-8901-2345-678901abcdef",
                        "action": "approved",
                        "success": true
                      }
                    ],
                    "summary": {
                      "total": 2,
                      "successful": 2,
                      "failed": 0
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Business Rule Suggestions"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/ai/business_rules/suggestions/reject-all": {
      "post": {
        "operationId": "BusinessRulesController_rejectAllSuggestions",
        "summary": "Reject all pending BusinessRuleSuggestions",
        "description": "## Overview\nReject all pending suggestions for the business at once. No changes will be applied.\n\n**Available for Staff Tokens**.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "All suggestions rejected",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BulkApproveRejectResponseDto"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "results": [
                      {
                        "uid": "sug-f1e2d3c4-b5a6-9788-7654-321fedcba098",
                        "action": "rejected",
                        "success": true
                      }
                    ],
                    "summary": {
                      "total": 1,
                      "successful": 1,
                      "failed": 0
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Business Rule Suggestions"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}
