{
  "openapi": "3.0.0",
  "info": {
    "title": "Generic AI API",
    "description": "Unified API for chat completions and audio transcriptions across multiple LLM providers (OpenAI, Anthropic, Google). Supports streaming, async processing, tool calling, and structured output.",
    "version": "3.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "AI Chat Completions",
      "description": "Create chat completions using multiple LLM providers"
    },
    {
      "name": "AI Audio Transcriptions",
      "description": "Transcribe audio files using multiple providers"
    },
    {
      "name": "AI Chat Completion Runs",
      "description": "Manage async chat completion runs"
    },
    {
      "name": "AI Transcription Runs",
      "description": "Manage async transcription runs"
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "ChatMessage": {
        "type": "object",
        "description": "A single message in the chat conversation. Messages represent the dialogue between the user, system, assistant, and tools.",
        "properties": {
          "role": {
            "type": "string",
            "enum": ["system", "user", "assistant", "tool"],
            "description": "The role of the message author. 'system' sets the assistant's behavior, 'user' is the human input, 'assistant' is the model's response, 'tool' is the response to a tool call."
          },
          "content": {
            "description": "Message content. A string for plain text input, or an array of content parts for multimodal input (images, audio, video, files).",
            "oneOf": [
              { "type": "string" },
              {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContentPart"
                }
              }
            ]
          },
          "name": {
            "type": "string",
            "description": "Optional name for the participant. Useful for distinguishing between multiple users in a multi-turn conversation."
          },
          "tool_calls": {
            "type": "array",
            "description": "Tool calls made by the assistant. Only present on messages with role 'assistant' when the model decides to invoke a function.",
            "items": {
              "$ref": "#/components/schemas/ToolCall"
            }
          },
          "tool_call_id": {
            "type": "string",
            "description": "The unique identifier of the tool call this message responds to. Required on messages with role 'tool'."
          }
        },
        "required": ["role"]
      },
      "ContentPart": {
        "type": "object",
        "description": "A content part for multimodal messages. Supports text, images, audio, video, and file inputs.",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text", "image_url", "image", "audio_url", "video_url", "input_audio", "file"],
            "description": "The type of content part. 'text' for plain text, 'image_url' for an image via URL, 'image' for inline image data, 'audio_url' for audio via URL, 'video_url' for video via URL, 'input_audio' for inline audio data, 'file' for file attachments."
          }
        }
      },
      "ToolCall": {
        "type": "object",
        "description": "A tool call requested by the assistant during a chat completion.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this tool call, used to match tool responses back to the request."
          },
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "The type of tool call. Currently only 'function' is supported."
          },
          "function": {
            "type": "object",
            "description": "The function to be called, including its name and arguments.",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the function to call."
              },
              "arguments": {
                "type": "string",
                "description": "A JSON-encoded string of the arguments to pass to the function."
              }
            }
          }
        }
      },
      "ToolDefinition": {
        "type": "object",
        "description": "Defines a tool (function) available to the model during chat completion. The model may choose to call one or more tools based on the conversation context.",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["function"],
            "description": "The type of tool. Currently only 'function' is supported."
          },
          "function": {
            "type": "object",
            "description": "The function definition including its name, description, and parameter schema.",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the function to be called. Must be a-z, A-Z, 0-9, underscores, or dashes, with a maximum length of 64."
              },
              "description": {
                "type": "string",
                "description": "A clear description of what the function does. The model uses this to decide when and how to call the function."
              },
              "parameters": {
                "type": "object",
                "description": "A JSON Schema object describing the function's parameters. The model will generate arguments that conform to this schema."
              },
              "strict": {
                "type": "boolean",
                "description": "Whether to enforce strict schema validation on the generated arguments. When true, the model output is guaranteed to match the schema exactly."
              }
            },
            "required": ["name", "parameters"]
          }
        },
        "required": ["type", "function"]
      },
      "ResponseFormat": {
        "type": "object",
        "description": "Response format specification for structured output. Use this to constrain the model's output to a specific format such as JSON.",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["text", "json_object", "json_schema"],
            "description": "The format type. 'text' for free-form text (default), 'json_object' for any valid JSON, 'json_schema' for JSON constrained to a specific schema."
          },
          "json_schema": {
            "type": "object",
            "description": "JSON Schema definition. Required when type is 'json_schema'. Defines the exact structure the model must follow.",
            "properties": {
              "name": {
                "type": "string",
                "description": "A name for the schema, used for identification."
              },
              "schema": {
                "type": "object",
                "description": "The JSON Schema that the model's output must conform to."
              },
              "strict": {
                "type": "boolean",
                "description": "Whether to enforce strict schema validation on the model's output."
              }
            }
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "description": "Request body for creating a chat completion. Specify the model, messages, and optional parameters to control the completion behavior.",
        "properties": {
          "model": {
            "type": "string",
            "description": "Model identifier in provider/model format. Supported providers: openai, anthropic, google (e.g., \"openai/gpt-4o\", \"anthropic/claude-sonnet-4-5-20250929\", \"google/gemini-2.5-pro\").",
            "example": "openai/gpt-4o"
          },
          "messages": {
            "type": "array",
            "description": "Array of messages representing the conversation history. Must include at least one message with role 'user'.",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          "stream": {
            "type": "boolean",
            "description": "Whether to stream the response as Server-Sent Events (SSE). When true, the response is delivered incrementally as text/event-stream. Defaults to true.",
            "default": true
          },
          "async": {
            "type": "boolean",
            "description": "Process the request asynchronously. Returns a run UID immediately that can be polled via GET /v3/ai/chat_completion_runs/{uid}. Recommended for thinking models (e.g., openai/o1, openai/o3-mini) that may take longer to respond.",
            "default": false
          },
          "temperature": {
            "type": "number",
            "description": "Sampling temperature between 0 and 2. Higher values (e.g., 0.8) make the output more random, while lower values (e.g., 0.2) make it more focused and deterministic.",
            "minimum": 0,
            "maximum": 2,
            "example": 0.7
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum number of tokens to generate in the completion. The total length of input tokens and generated tokens is limited by the model's context length.",
            "minimum": 1,
            "example": 1024
          },
          "top_p": {
            "type": "number",
            "description": "Top-p (nucleus) sampling parameter between 0 and 1. The model considers the results of the tokens with top_p probability mass. For example, 0.1 means only tokens comprising the top 10% probability mass are considered.",
            "minimum": 0,
            "maximum": 1,
            "example": 1
          },
          "tools": {
            "type": "array",
            "description": "Array of tool definitions available for the model to call during the completion. The model may choose to call zero or more of these tools based on the conversation context.",
            "items": {
              "$ref": "#/components/schemas/ToolDefinition"
            }
          },
          "response_format": {
            "$ref": "#/components/schemas/ResponseFormat"
          },
          "stop": {
            "description": "Up to 4 sequences where the model will stop generating further tokens. The returned text will not contain the stop sequence.",
            "oneOf": [
              { "type": "string" },
              { "type": "array", "items": { "type": "string" } }
            ]
          }
        },
        "required": ["model", "messages"]
      },
      "ChatCompletionRunList": {
        "type": "object",
        "description": "A list of chat completion runs.",
        "properties": {
          "chat_completion_runs": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/ChatCompletionRun.json"
            }
          }
        }
      },
      "TranscriptionRunList": {
        "type": "object",
        "description": "A list of transcription runs.",
        "properties": {
          "transcription_runs": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/TranscriptionRun.json"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/v3/ai/chat_completions": {
      "post": {
        "tags": ["AI Chat Completions"],
        "summary": "Create a ChatCompletion",
        "description": "## Overview\nCreate chat completions using multiple LLM providers (OpenAI, Anthropic, Google). Supports text and multimodal input (images, audio, video, files), streaming responses via SSE, async mode for long-running thinking models, tool calling (function calling), and structured output (JSON schema).\n\n### Supported Models\n| Provider | Models |\n|----------|--------|\n| OpenAI | `openai/gpt-5`, `openai/gpt-4o`, `openai/gpt-4o-mini`, `openai/o3-mini`, `openai/o1` |\n| Anthropic | `anthropic/claude-sonnet-4-5-20250929`, `anthropic/claude-haiku-4-5-20251001`, `anthropic/claude-3-5-sonnet-latest`, `anthropic/claude-3-5-haiku-latest` |\n| Google | `google/gemini-2.5-pro`, `google/gemini-2.0-flash`, `google/gemini-2.0-pro` |\n\n### Streaming\nBy default, responses are streamed as Server-Sent Events (SSE). Set `stream: false` for a single JSON response.\n\n### Async Mode\nSet `async: true` to queue the request and receive a run UID. Poll `GET /v3/ai/chat_completion_runs/{uid}` for the result. Recommended for thinking models.\n\n**Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              },
              "examples": {
                "simple": {
                  "summary": "Simple text completion",
                  "value": {
                    "model": "openai/gpt-4o-mini",
                    "messages": [{ "role": "user", "content": "Say hello" }],
                    "stream": false,
                    "max_tokens": 100
                  }
                },
                "tool_calling": {
                  "summary": "With function calling",
                  "value": {
                    "model": "openai/gpt-4o-mini",
                    "messages": [{ "role": "user", "content": "What is the weather in Paris?" }],
                    "stream": false,
                    "tools": [{
                      "type": "function",
                      "function": {
                        "name": "get_weather",
                        "description": "Get current weather for a location",
                        "parameters": {
                          "type": "object",
                          "properties": {
                            "location": { "type": "string" }
                          },
                          "required": ["location"]
                        }
                      }
                    }]
                  }
                },
                "structured_output": {
                  "summary": "With JSON schema output",
                  "value": {
                    "model": "openai/gpt-4o-mini",
                    "messages": [{ "role": "user", "content": "Extract: John is 30 years old" }],
                    "stream": false,
                    "response_format": {
                      "type": "json_schema",
                      "json_schema": {
                        "name": "person",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "name": { "type": "string" },
                            "age": { "type": "integer" }
                          },
                          "required": ["name", "age"]
                        }
                      }
                    }
                  }
                },
                "async": {
                  "summary": "Async mode for thinking models",
                  "value": {
                    "model": "openai/o1",
                    "messages": [{ "role": "user", "content": "Solve this complex problem..." }],
                    "async": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful non-streaming completion.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/ChatCompletion.json"
                        }
                      }
                    }
                  ]
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream. Each event is a JSON chunk with `data:` prefix, ending with `data: [DONE]`."
                }
              }
            }
          },
          "202": {
            "description": "Async mode: job queued successfully. Poll the returned run UID for the result.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/ChatCompletionRun.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request body is malformed or contains invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "invalid_syntax",
                      "message": "Request body contains invalid JSON."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The bearer token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or expired bearer token."
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation error with valid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "model",
                      "code": "invalid",
                      "message": "Unsupported model format. Expected provider/model (e.g., 'openai/gpt-4o')."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (10 requests per minute).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "rate_limit_exceeded",
                      "message": "Rate limit exceeded. Maximum 10 requests per minute. Please retry after 60 seconds."
                    }
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway - The upstream LLM provider returned an error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "provider_error",
                      "message": "The LLM provider returned an error. Please try again later."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/ai/audio_transcriptions": {
      "post": {
        "tags": ["AI Audio Transcriptions"],
        "summary": "Create an AudioTranscription",
        "description": "## Overview\nTranscribe audio files using multiple providers (OpenAI Whisper, OpenAI GPT-4o Transcribe, Google Chirp). Supports file upload via multipart form data.\n\n### Supported Models\n| Provider | Models |\n|----------|--------|\n| OpenAI | `openai/whisper-1`, `openai/gpt-4o-transcribe` |\n| Google | `google/chirp-2` |\n\n### Async Mode\nSet `async: true` to queue the transcription and receive a run UID. Poll `GET /v3/ai/transcription_runs/{uid}` for the result. Recommended for long audio files or diarization.\n\n**Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio file to transcribe (max 25MB). Supported formats: mp3, mp4, m4a, wav, webm, flac, ogg."
                  },
                  "model": {
                    "type": "string",
                    "description": "Model identifier in provider/model format (e.g., \"openai/gpt-4o-transcribe\", \"openai/whisper-1\", \"google/chirp-2\").",
                    "example": "openai/gpt-4o-transcribe"
                  },
                  "language": {
                    "type": "string",
                    "description": "ISO-639-1 language code for the audio content (e.g., \"en\" for English, \"es\" for Spanish, \"he\" for Hebrew). When omitted, the provider will auto-detect the language."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Optional guiding prompt to improve transcription accuracy. Useful for providing context, domain-specific terminology, or correcting recurring misrecognitions."
                  },
                  "response_format": {
                    "type": "string",
                    "enum": ["json", "text", "srt", "verbose_json", "vtt"],
                    "description": "Desired response format. 'json' returns a simple JSON with text, 'text' returns plain text, 'srt' returns SubRip subtitle format, 'verbose_json' returns detailed JSON with word-level timestamps, 'vtt' returns WebVTT subtitle format. Defaults to 'json'."
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "description": "Sampling temperature between 0 and 1. Higher values make the output more random, while lower values make it more deterministic. Defaults to 0."
                  },
                  "async": {
                    "type": "boolean",
                    "description": "Process the request asynchronously. Returns a run UID immediately that can be polled via GET /v3/ai/transcription_runs/{uid}. Recommended for long audio files or when diarization is needed.",
                    "default": false
                  }
                },
                "required": ["file", "model"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful transcription.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/AudioTranscription.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Async mode: job queued successfully. Poll the returned run UID for the result.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/TranscriptionRun.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - The request is malformed or contains invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "invalid_syntax",
                      "message": "Request body is malformed or missing required multipart form data."
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The bearer token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or expired bearer token."
                    }
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large - The uploaded audio file exceeds the 25MB size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "file",
                      "code": "too_large",
                      "message": "File size exceeds the maximum allowed limit of 25MB."
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation error with valid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "model",
                      "code": "invalid",
                      "message": "Unsupported model. Supported models: openai/whisper-1, openai/gpt-4o-transcribe, google/chirp-2."
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (10 requests per minute).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "rate_limit_exceeded",
                      "message": "Rate limit exceeded. Maximum 10 requests per minute. Please retry after 60 seconds."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/ai/chat_completion_runs/{uid}": {
      "get": {
        "tags": ["AI Chat Completion Runs"],
        "summary": "Retrieve a ChatCompletionRun",
        "description": "## Overview\nGet the status and result of an async chat completion job. Poll this endpoint until status is COMPLETED or FAILED.\n\n**Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the chat completion run (e.g., \"0ce1af9d-3337-419b-933c-02ea21d4d9ca\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Chat completion run retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/ChatCompletionRun.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The bearer token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or expired bearer token."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No chat completion run exists with the specified UID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "uid",
                      "code": "not_found",
                      "message": "Chat completion run not found."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/ai/chat_completion_runs": {
      "get": {
        "tags": ["AI Chat Completion Runs"],
        "summary": "List ChatCompletionRuns",
        "description": "## Overview\nRetrieve a paginated list of chat completion runs for the authenticated client. Supports sorting by field and direction.\n\n**Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (e.g., 1, 2, 3). Defaults to 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page, between 1 and 100. Defaults to 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction in the format 'field:direction' (e.g., \"created_at:desc\", \"status:asc\").",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of chat completion runs retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ChatCompletionRunList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The bearer token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or expired bearer token."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/ai/transcription_runs/{uid}": {
      "get": {
        "tags": ["AI Transcription Runs"],
        "summary": "Retrieve a TranscriptionRun",
        "description": "## Overview\nGet the status and result of an async transcription job. Poll this endpoint until status is COMPLETED or FAILED.\n\n**Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the transcription run (e.g., \"85ade9f5-2690-48e8-ae5b-b07d6b57b457\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcription run retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/TranscriptionRun.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The bearer token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or expired bearer token."
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - No transcription run exists with the specified UID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "uid",
                      "code": "not_found",
                      "message": "Transcription run not found."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/ai/transcription_runs": {
      "get": {
        "tags": ["AI Transcription Runs"],
        "summary": "List TranscriptionRuns",
        "description": "## Overview\nRetrieve a paginated list of transcription runs for the authenticated client. Supports sorting by field and direction.\n\n**Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (e.g., 1, 2, 3). Defaults to 1.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page, between 1 and 100. Defaults to 20.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and direction in the format 'field:direction' (e.g., \"created_at:desc\", \"status:asc\").",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transcription runs retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/TranscriptionRunList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The bearer token is missing, expired, or invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "unauthorized",
                      "message": "Invalid or expired bearer token."
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
