{
  "openapi": "3.0.0",
  "info": {
    "title": "AI Recommendation API",
    "version": "1.0.0",
    "description": "API for managing AI Recommendations and Recommended Actions"
  },
  "servers": [
    {
        "url": "https://api.vcita.biz",
        "description": "API Gateway server"
    }
],
  "paths": {

    "/v3/ai/ai_recommendations": {
      "get": {
        "tags": ["AI Recommendations"],
        "summary": "Get all AIRecommendations",
        "description": "Retrieve a list of AIRecommendations with optional filtering by status, target, and context. **Available for Staff Tokens and Directory Tokens**",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by recommendation status."
          },
          {
            "name": "target",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by target actor UID."
          },
          {
            "name": "context",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by context UID."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of AIRecommendations",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/AIRecommendationList"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "airecommendations": [
                      {
                        "uid": "rec-d290f1ee-6c54",
                        "created_at": "2026-01-12T10:00:00.000Z",
                        "updated_at": "2026-01-12T10:00:00.000Z",
                        "display": {
                          "title": "Follow up with client about estimate"
                        },
                        "context": {
                          "context_uid": "matter-abc123",
                          "context_type": "matter"
                        },
                        "target": {
                          "target_actor_uid": "staff123abc",
                          "target_actor_type": "staff"
                        },
                        "status": {
                          "dismissed": false
                        },
                        "actions": [
                          {
                            "uid": "act-789xyz",
                            "action": "reply",
                            "reason": "Client requested a quote 2 days ago",
                            "display": {
                              "btn_text": "Send Reply"
                            },
                            "evidence": ["Client message: Can you send me a price estimate?"],
                            "payload": {
                              "message": "Hi! Here's the estimate you requested..."
                            }
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": ["AI Recommendations"],
        "summary": "Create an AIRecommendation",
        "description": "Create a new AIRecommendation.\n\n## Overview\nCreates a recommendation that suggests actions for staff members based on AI analysis.\n\n## When to Use\n- Suggest follow-up actions for client interactions\n- Create estimate or scheduling recommendations\n\n## Rate Limits\n- 1 request per second\n\n**Available for Staff Tokens and Directory Tokens**",
        "x-vcita-rate-limiting": {
            "requests_per_second": 1,
            "scope": "per_staff"
        },
        "security": [{ "Bearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AIRecommendationRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AIRecommendation created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {              
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendation.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "uid": "rec-new-abc123",
                    "created_at": "2026-01-12T11:00:00.000Z",
                    "updated_at": "2026-01-12T11:00:00.000Z",
                    "display": {
                      "title": "New recommendation"
                    },
                    "context": {
                      "context_uid": "client-xyz789",
                      "context_type": "client"
                    },
                    "target": {
                      "target_actor_uid": "staff456def",
                      "target_actor_type": "staff"
                    },
                    "status": {
                      "dismissed": false
                    },
                    "actions": []
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters provided"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (1 request per second)"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v3/ai/ai_recommendations/{uid}": {
      "put": {
        "tags": ["AI Recommendations"],
        "summary": "Update an AIRecommendation",
        "description": "Update an existing AIRecommendation by UID (typically to dismiss it). **Available for Staff Tokens and Directory Tokens**",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Unique identifier of the AIRecommendation"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AIRecommendationUpdateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AIRecommendation updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendation.json"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "uid": "rec-d290f1ee-6c54",
                    "created_at": "2026-01-12T10:00:00.000Z",
                    "updated_at": "2026-01-12T12:00:00.000Z",
                    "display": {
                      "title": "Follow up with client"
                    },
                    "context": {
                      "context_uid": "matter-abc123",
                      "context_type": "matter"
                    },
                    "target": {
                      "target_actor_uid": "staff123abc",
                      "target_actor_type": "staff"
                    },
                    "status": {
                      "dismissed": true,
                      "dismissed_source_type": "user"
                    },
                    "actions": []
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "404": {
            "description": "Not Found - AIRecommendation not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/v3/ai/ai_recommended_actions/{uid}": {
      "get": {
        "tags": ["AI Recommended Actions"],
        "summary": "Retrieve an AIRecommendedAction",
        "description": "Retrieve a specific AIRecommendedAction by UID.\n\n## Overview\nRetrieves details of a specific recommended action, including the action type, reason, evidence, and payload.\n\n## When to Use\n- Get full details of a recommended action\n- Retrieve the payload needed to execute the action\n\n**Available for Staff Tokens and Directory Tokens**",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Unique identifier of the AIRecommendedAction"
          }
        ],
        "responses": {
          "200": {
            "description": "AIRecommendedAction retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendedAction.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "404": {
            "description": "Not Found - AIRecommendedAction not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication method using a Bearer token. Include the token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "AIRecommendationRequest": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "description": "A list of recommended actions related to this entity.",
            "items": {
              "$ref": "#/components/schemas/AIRecommendationActionRequest"
            }
          },
          "display": {
            "type": "object",
            "description": "Contains display-related information for the recommendation.",
            "properties": {
              "title": {
                "type": "string",
                "description": "A human-readable title describing the recommendation."
              }
            }
          },
          "context": {
            "type": "object",
            "description": "The context in which the recommendation was generated.",
            "properties": {
              "context_uid": {
                "type": "string",
                "description": "A unique identifier for the context associated with this recommendation."
                
              },
              "context_type": {
                "type": "string",
                "description": "The type of context (e.g., 'user_message', 'booking_request').",
                "enum": ["matter","client", "business"]
                
              
              }
            }
          },
          "target": {
            "type": "object",
            "description": "The target entity for this recommendation, typically representing the user or business involved.",
            "properties": {
              "target_actor_uid": {
                "type": "string",
                "description": "A unique identifier for the target actor (e.g., a user or business)."
              },
              "target_actor_type": {
                "type": "string",
                "description": "The type of target actor (e.g., 'customer', 'business').",
              "enum": ["staff", "directory"]
              }
            }
          },
          "status": {
            "type": "object",
            "properties":{
                "dismissed": {
                    "type": "boolean",
                    "description": "Indicates whether the recommendation has been dismissed."
                },
                "dismissed_source_type": {
                    "type": "string",
                    "enum": ["user",  "system"]
                }
            }
          }
        },
        "required": ["user_description", "staff_uid", "sources", "actions"]
      },
      "AIRecommendationUpdateRequest": {
        "type": "object",
        "properties": {
          "status": { "type": "object",
          "properties": {
            "dismissed": {
                "type": "boolean",
                "description": "Indicates whether the recommendation has been dismissed."
            },
            "dismissed_source_type": {
                "type": "string",
                "enum": ["user",  "system"]
            }
          }
           }
        }
      },
      "AIRecommendationList":{
        "type": "object",
            "properties": {
                "airecommendations": {
                    "description": "List of Coupons",
                    "type": "array",
                    "items": {
                        "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendation.json"
                    }
                }
            }
      },
      "AIRecommendationActionRequest":{
        "type": "object",
            "properties": {
                "action": {
                  "type": "string",
                  "enum": ["reply", "estimate", "schedule"],
                  "description": "The type of action recommended. Possible values:\n- 'reply': Suggests responding to a user message.\n- 'estimate': Suggests providing a price estimate.\n- 'schedule': Suggests scheduling an appointment or meeting."
                },
                "display": {
                  "type": "object",
                  "description": "Contains display-related information for the recommendation.",
                  "properties": {
                    "btn_text": {
                      "type": "string",
                      "description": "A human-readable title describing the recommendation."
                    }
                  }
                },
                "reason": {
                  "type": "string",
                  "description": "The reason why this action is recommended, providing context for decision-making."
                },
                "payload": {
                  "type": "object",
                  "description": "Additional data related to the recommended action. The structure depends on the action type."
                },
                "evidence": {
                  "type": "array",
                  "description": "A list of supporting statements or facts justifying the recommendation.",
                  "items": {
                    "type": "string"
                  }
                }
            }
      }
    }
  }
}
