{
  "openapi": "3.0.0",
  "info": {
    "title": "AI Recommendation API",
    "version": "1.0.0",
    "description": "API for managing AI Recommendations and Recommended Actions"
  },
  "servers": [
    {
        "url": "https://api.vcita.biz",
        "description": "API Gateway server"
    }
],
  "paths": {

    "/v3/ai/ai_recommendations": {
      "get": {
        "tags": ["AI Recommendations"],
        "summary": "Get all AIRecommendations",
        "description": "Retrieve a list of AIRecommendations with optional filtering by status, target, and context. **Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by recommendation status."
          },
          {
            "name": "target",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by target actor UID."
          },
          {
            "name": "context",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter by context UID."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of AIRecommendations",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/AIRecommendationList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["AI Recommendations"],
        "summary": "Create an AIRecommendation",
        "description": "Create a new AIRecommendation. **Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AIRecommendationRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AIRecommendation created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {              
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendation.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/ai/ai_recommendations/{uid}": {
      "get": {
        "tags": ["AI Recommendations"],
        "summary": "Get an AIRecommendation",
        "description": "Retrieve a specific AIRecommendation by UID. **Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "AIRecommendation retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendation.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["AI Recommendations"],
        "summary": "Update an AIRecommendation",
        "description": "Update an existing AIRecommendation by UID. **Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AIRecommendationUpdateRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AIRecommendation updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendation.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/ai/ai_recommended_actions": {
      "get": {
        "tags": ["AI Recommended Actions"],
        "summary": "Get AI Recommended Actions",
        "description": "Retrieve a list of AI Recommended Actions filtered by context. **Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "context_uid",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "UID of the context (matter, client, or business)"
          },
          {
            "name": "context_type",
            "in": "query",
            "required": true,
            "schema": { 
              "type": "string",
              "enum": ["matter", "client", "business"]
            },
            "description": "Type of context"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of AI Recommended Actions",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/AIRecommendedActionList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "tags": ["AI Recommended Actions"],
        "summary": "Create an AIRecommendedAction",
        "description": "Create a new AIRecommendedAction with action type and payload. **Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { 
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": ["reply", "estimate", "schedule"],
                    "description": "The type of action recommended"
                  },
                  "payload": {
                    "type": "object",
                    "description": "Action-specific data. Structure depends on action type.\n\nFor 'reply' action:\n- reply_variant_id (required): ID of the reply variant to use\n- custom_instructions (optional): Additional custom instructions for the reply"
                  },
                  "context": {
                    "type": "object",
                    "description": "The context in which the action is being created",
                    "properties": {
                      "context_uid": {
                        "type": "string",
                        "description": "UID of the context (matter, client, or business)"
                      },
                      "context_type": {
                        "type": "string",
                        "enum": ["matter", "client", "business"],
                        "description": "Type of context"
                      }
                    },
                    "required": ["context_uid", "context_type"]
                  }
                },
                "required": ["action", "payload", "context"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "AIRecommendedAction created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendedAction.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/ai/ai_recommended_actions/{uid}": {
      "get": {
        "tags": ["AI Recommended Actions"],
        "summary": "Retrieve an AIRecommendedAction",
        "description": "Retrieve a specific AIRecommendedAction by UID. **Available for Staff tokens**",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "AIRecommendedAction retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendedAction.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication method using a Bearer token. Include the token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "AIRecommendationRequest": {
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "description": "A list of recommended actions related to this entity.",
            "items": {
              "$ref": "#/components/schemas/AIRecommendationActionRequest"
            }
          },
          "display": {
            "type": "object",
            "description": "Contains display-related information for the recommendation.",
            "properties": {
              "title": {
                "type": "string",
                "description": "A human-readable title describing the recommendation."
              }
            }
          },
          "context": {
            "type": "object",
            "description": "The context in which the recommendation was generated.",
            "properties": {
              "context_uid": {
                "type": "string",
                "description": "A unique identifier for the context associated with this recommendation."
                
              },
              "context_type": {
                "type": "string",
                "description": "The type of context (e.g., 'user_message', 'booking_request').",
                "enum": ["matter","client", "business"]
                
              
              }
            }
          },
          "target": {
            "type": "object",
            "description": "The target entity for this recommendation, typically representing the user or business involved.",
            "properties": {
              "target_actor_uid": {
                "type": "string",
                "description": "A unique identifier for the target actor (e.g., a user or business)."
              },
              "target_actor_type": {
                "type": "string",
                "description": "The type of target actor (e.g., 'customer', 'business').",
              "enum": ["staff", "directory"]
              }
            }
          },
          "status": {
            "type": "object",
            "properties":{
                "dismissed": {
                    "type": "boolean",
                    "description": "Indicates whether the recommendation has been dismissed."
                },
                "dismissed_source_type": {
                    "type": "string",
                    "enum": ["user",  "system"]
                }
            }
          }
        },
        "required": ["user_description", "staff_uid", "sources", "actions"]
      },
      "AIRecommendationUpdateRequest": {
        "type": "object",
        "properties": {
          "status": { "type": "object",
          "properties": {
            "dismissed": {
                "type": "boolean",
                "description": "Indicates whether the recommendation has been dismissed."
            },
            "dismissed_source_type": {
                "type": "string",
                "enum": ["user",  "system"]
            }
          }
           }
        }
      },
      "AIRecommendationList":{
        "type": "object",
            "properties": {
                "airecommendations": {
                    "description": "List of Coupons",
                    "type": "array",
                    "items": {
                        "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendation.json"
                    }
                }
            }
      },
      "AIRecommendationActionRequest":{
        "type": "object",
            "properties": {
                "action": {
                  "type": "string",
                  "enum": ["reply", "estimate", "schedule"],
                  "description": "The type of action recommended. Possible values:\n- 'reply': Suggests responding to a user message.\n- 'estimate': Suggests providing a price estimate.\n- 'schedule': Suggests scheduling an appointment or meeting."
                },
                "display": {
                  "type": "object",
                  "description": "Contains display-related information for the recommendation.",
                  "properties": {
                    "btn_text": {
                      "type": "string",
                      "description": "A human-readable title describing the recommendation."
                    }
                  }
                },
                "reason": {
                  "type": "string",
                  "description": "The reason why this action is recommended, providing context for decision-making."
                },
                "payload": {
                  "type": "object",
                  "description": "Additional data related to the recommended action. The structure depends on the action type."
                },
                "evidence": {
                  "type": "array",
                  "description": "A list of supporting statements or facts justifying the recommendation.",
                  "items": {
                    "type": "string"
                  }
                },
                "context": {
                  "type": "object",
                  "description": "The context in which the recommendation was generated.",
                  "properties": {
                    "context_uid": {
                      "type": "string",
                      "description": "A unique identifier for the context associated with this recommendation."
                    },
                    "context_type": {
                      "type": "string",
                      "description": "The type of context (e.g., 'matter','client', 'business').",
                      "enum": ["matter","client", "business"]
                    }
                  }
                }
            }
      },
      "AIRecommendedActionList":{
        "type": "object",
        "properties": {
          "airecommendedactions": {
            "description": "List of AI Recommended Actions",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendedAction.json"
            }
          }
        }
      }
    }
  }
}
