{
    "openapi": "3.0.0",
    "info": {
        "title": "AI Sales Agent",
        "description": "An AI agent designed to help businesses with sales",
        "version": "3.0"
    },
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
      "securitySchemes": {
        "Bearer": {
          "type": "http",
          "scheme": "bearer",
          "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
        }
      },
        "schemas": {
           
        }
    },
    "paths": {
        "/v3/ai_agent_sales/estimates/": {
            "post": {
                "summary": "Create an Estimate",
                "description": "Create a new estimate for a client - Available for **Staff Tokens**",        
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "matter_uid": {
                                        "type": "string",
                                        "description": "The unique identifier of the matter"
                                    },
                                    "suggest_only": {
                                        "type": "boolean",
                                        "description": "If true, the appointment will be returned as a suggeestion, but not scheduled",
                                        "default": false
                                    }
                                },
                                "required": [
                                    "matter_uid"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/sales/estimate.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "AI Sales Agent"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        },
        "/v3/ai_agent_sales/AIRecommnedation/": {

            "post": {
                "summary": "Create an AIRecommendation",
                "description": "Create a new AIRecommendation for a client including a list of recommended actions and reasoning - Available for **Staff Tokens**",              
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "matter_uid": {
                                        "type": "string",
                                        "description": "The unique identifier of the matter"
                                    }
                                },
                                "required": [
                                    "matter_uid"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendation.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "AI Sales Agent"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        }
    }
  }