{
    "openapi": "3.0.0",
    "info": {
        "title": "AI Scheduling Agent",
        "description": "An AI agent designed to help businesses with scheduling",
        "version": "3.0"
    },
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
      "securitySchemes": {
        "Bearer": {
          "type": "http",
          "scheme": "bearer",
          "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
        }
      },
        "schemas": {
           
        }
    },
    "paths": {
        "/v3/ai_agent_scheduling/AIRecommnedation/": {

            "post": {
                "summary": "Create an AIRecommendation",
                "description": "A-synch creation of a new AIRecommendation for a client including a list of recommended actions and reasoning. Upon creation the service will return an empty entity in a pending status. To get the fully created entity listen to the AIRecommendation webhook./n Available for **Staff Tokens**",              
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "context": {
                                        "type": "object",
                                        "description": "The context in which the recommendation was generated.",
                                        "properties": {
                                            "context_uid": {
                                                "type": "string",
                                                "description": "A unique identifier for the context associated with this recommendation."
                                            },
                                            "context_type": {
                                                "type": "string",
                                                "description": "The type of context (e.g., 'matter','client', 'business').",
                                                "enum": ["matter"]
                                            }
                                        }
                                    },
                                    "recommendation_type": {
                                        "type": "string",
                                        "description": "The type of recommendation (e.g., 'action','alert').",
                                        "enum": ["schedule","client_next_best_action"]
                                    }
                                },
                                "required": [
                                    "context","recommendation_type"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/ai/AIRecommendation.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "AI Scheduling Agent"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        }
    }
  }