{
  "openapi": "3.0.0",
  "info": {
    "title": "Smart Reply API",
    "description": "API for managing AI-generated smart replies for customer communications",
    "version": "3.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "Smart Reply",
      "description": "Operations related to smart reply generation and management"
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "SmartReplyRequest": {
        "type": "object",
        "properties": {
          "reply_content": {
            "type": "string",
            "description": "The generated reply content text"
          },
          "matter_uid": {
            "type": "string",
            "description": "The unique identifier of the associated matter"
          },
          "business_uid": {
            "type": "string",
            "description": "The unique identifier of the associated business"
          }
        },
        "required": [
          "reply_content",
          "matter_uid",
          "business_uid"
        ]
      },
      "SmartReplyUpdateRequest": {
        "type": "object",
        "properties": {
          "reply_content": {
            "type": "string",
            "description": "The updated reply content text"
          }
        }
      },
      "SmartReplyListResponse": {
        "type": "object",
        "properties": {
          "smart_replies": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/ai/SmartReply.json"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of smart replies"
          }
        }
      }
    }
  },
  "paths": {
    "/v3/ai/smart_replies": {
      "post": {
        "tags": ["Smart Reply"],
        "summary": "Create a new smart reply",
        "description": "Creates a new AI-generated smart reply for a specific matter and business",
        "operationId": "createSmartReply",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartReplyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Smart reply created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/SmartReply.json"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "get": {
        "tags": ["Smart Reply"],
        "summary": "List smart replies",
        "description": "Retrieve a list of smart replies with optional filtering",
        "operationId": "listSmartReplies",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "matter_uid",
            "in": "query",
            "description": "Filter by matter UID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_uid",
            "in": "query",
            "description": "Filter by business UID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items per page",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of smart replies retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/SmartReplyListResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/v3/ai/smart_replies/{uid}": {
      "get": {
        "tags": ["Smart Reply"],
        "summary": "Get a smart reply by UID",
        "description": "Retrieve a specific smart reply by its unique identifier",
        "operationId": "getSmartReply",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "The unique identifier of the smart reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Smart reply retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/SmartReply.json"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Smart reply not found"
          }
        }
      },
      "put": {
        "tags": ["Smart Reply"],
        "summary": "Update a smart reply",
        "description": "Update an existing smart reply's content",
        "operationId": "updateSmartReply",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "The unique identifier of the smart reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartReplyUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Smart reply updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "https://vcita.github.io/developers-hub/entities/ai/SmartReply.json"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Smart reply not found"
          }
        }
      },
      "delete": {
        "tags": ["Smart Reply"],
        "summary": "Delete a smart reply",
        "description": "Delete a specific smart reply by its unique identifier",
        "operationId": "deleteSmartReply",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "description": "The unique identifier of the smart reply",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Smart reply deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Smart reply not found"
          }
        }
      }
    }
  }
}