{
  "openapi": "3.0.0",
  "info": {
    "title": "Assets - Files",
    "description": "API endpoints for managing file uploads, storage, and retrieval. Supports asynchronous file processing including virus scanning, storage, thumbnail generation, and content deduplication. Files can be linked to various business entities such as invoices, messages, and appointments.",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "UploadFileRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The file binary content to upload. Maximum size: 100MB."
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "Optional filename override. If not provided, the original filename from the uploaded file is used. Maximum length: 255 characters (e.g., \"document.pdf\", \"photo.jpg\")."
          },
          "metadata": {
            "type": "object",
            "description": "Optional JSON object containing arbitrary key-value pairs for additional file metadata (e.g., {\"source\": \"chat\", \"conversation_id\": \"conv_123\"})."
          }
        },
        "required": ["file"]
      },
      "MultiFileResponse": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "total_pages": {
                "type": "integer"
              }
            }
          }
        },
        "required": ["files"]
      },
      "CreateFileRelationRequest": {
        "type": "object",
        "properties": {
          "file_uid": {
            "type": "string",
            "description": "Unique identifier of the file to link (e.g., \"file_123abc\"). Must reference an existing file in a usable state ('scanned', 'uploaded', or 'linked')."
          },
          "entity_type": {
            "type": "string",
            "enum": [
              "message",
              "invoice",
              "payment",
              "appointment",
              "estimate"
            ],
            "description": "Type of entity the file is linked to (e.g., \"message\", \"invoice\")."
          },
          "entity_uid": {
            "type": "string",
            "description": "Unique identifier of the entity the file is linked to (e.g., \"inv_123abc\")."
          },
          "client_uid": {
            "type": "string",
            "description": "Optional client UID to associate with the relation (e.g., \"client_789abc\"). Ignored for Client tokens, where it is derived from the token."
          }
        },
        "required": ["file_uid", "entity_type", "entity_uid"]
      },
      "FileRelationsResponse": {
        "type": "object",
        "properties": {
          "file_relations": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/assets/fileRelation.json"
            },
            "description": "Array of file relations, each including the linked file's details"
          }
        },
        "required": ["file_relations"]
      },
      "DeleteFileRelationsResponse": {
        "type": "object",
        "properties": {
          "deleted_count": {
            "type": "integer",
            "description": "Number of file relations that were soft deleted (e.g., 3)."
          }
        },
        "required": ["deleted_count"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The name of the field that had an error (for validation errors) (e.g., \"name\", \"file\")."
                },
                "code": {
                  "type": "string",
                  "description": "The error code (for validation errors) (e.g., \"FILE_REQUIRED\", \"VALIDATION_ERROR\")."
                },
                "description": {
                  "type": "string",
                  "description": "A description of the error (for validation errors) (e.g., \"File is required\")."
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/assets/files": {
      "post": {
        "operationId": "FilesController_upload",
        "summary": "Create a new file",
        "description": "Create a new file for the specified business. The API returns immediately with status='pending'. File processing (virus scan, S3 upload, thumbnail generation) happens asynchronously in the background.\n\nIf a duplicate file is detected via SHA-256 content hash, the existing file is returned immediately with status='uploaded'.\n\nRate limit: 10 uploads per user per 10 minutes. Maximum file size: 100MB.\n\nAvailable for **Staff and Client tokens**.",
        "tags": ["Files"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File upload initiated successfully (new file, async processing started)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "Duplicate file detected - existing file returned immediately (no processing needed)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid file type, name, or size",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Feature disabled for this business",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (10 uploads per 10 minutes)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "FilesController_findAll",
        "summary": "Get all files",
        "description": "Retrieves the files you uploaded, optionally filtered by status or a list of file UIDs. Each token only sees files it created itself; files uploaded by other users are not returned. Results include pre-signed URLs for file download and thumbnails when the file is ready. Soft-deleted files are never returned.\n\nAvailable for **Staff and Client tokens**.",
        "tags": ["Files"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by file processing status (e.g., \"uploaded\", \"pending\"). Soft-deleted files are never returned regardless of this filter.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "scanning",
                "scanned",
                "uploaded",
                "infected",
                "failed",
                "linked",
                "deleted"
              ]
            }
          },
          {
            "name": "file_uids",
            "in": "query",
            "required": false,
            "description": "One or more file UIDs to fetch. Repeat the parameter for multiple values (e.g., \"file_123abc\", \"file_456def\").",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of files per page (default: 20, max: 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiFileResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/assets/files/{uid}": {
      "get": {
        "operationId": "FilesController_findOne",
        "summary": "Get a file",
        "description": "Retrieves a specific file by its unique identifier. Only the file you uploaded is returned; requesting a file created by another user returns 404.\n\nUsed for status polling after upload to check if processing (scan, storage, thumbnails) is complete. Response includes pre-signed URLs when the file is ready.\n\nAvailable for **Staff and Client tokens**.",
        "tags": ["Files"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the file to retrieve (e.g., \"file_123abc\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - File does not exist, or was uploaded by another user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "FilesController_delete",
        "summary": "Delete a file",
        "description": "Soft deletes a specific file. The file's S3 objects (original and thumbnails) are removed immediately; the record is retained as soft-deleted and excluded from all reads.\n\nAvailable for **Staff tokens only**.",
        "tags": ["Files"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the file to delete (e.g., \"file_123abc\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully (soft delete). The file's S3 objects (original and thumbnails) are removed immediately; the record is retained as soft-deleted. Returns the deleted file entity.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to delete this file",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - File does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/assets/file_relations": {
      "post": {
        "operationId": "FileRelationsController_create",
        "summary": "Create a file relation",
        "description": "Links an existing file to a business entity (e.g., an invoice, message, or appointment). The referenced file must already exist and be in a usable state ('scanned', 'uploaded', or 'linked'). Once a file has at least one active relation its status becomes 'linked', protecting it from cleanup.\n\nFor **Client tokens**, the client_uid is derived from the token and any value supplied in the body is ignored. For **Staff tokens**, client_uid may be provided to associate the relation with a specific client.\n\nAvailable for **Staff and Client tokens**.",
        "tags": ["File Relations"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileRelationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Relation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/fileRelation.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - File is not ready or is in an unusable state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - File does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - A relation between this file and entity already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "FileRelationsController_findByEntity",
        "summary": "Get file relations by entity",
        "description": "Retrieves the file relations for a given entity, each including the linked file's details. Results are paginated.\n\nStaff access is scoped to the linked entity: a staff sees relations for any entity they can access, regardless of who uploaded the file. Client access is scoped to the client's own relations.\n\nAvailable for **Staff and Client tokens**.",
        "tags": ["File Relations"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "entity_type",
            "in": "query",
            "required": true,
            "description": "Type of entity to fetch relations for (e.g., \"invoice\", \"message\", \"appointment\").",
            "schema": {
              "type": "string",
              "enum": [
                "message",
                "invoice",
                "payment",
                "appointment",
                "estimate"
              ]
            }
          },
          {
            "name": "entity_uid",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the entity to fetch relations for (e.g., \"inv_123abc\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of relations per page (default: 20).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relations retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/FileRelationsResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to access relations for this entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "FileRelationsController_deleteByEntity",
        "summary": "Delete all entity files",
        "description": "Soft deletes every file relation for the given entity and returns the number of relations deleted. Files left with no remaining active relations may become eligible for cleanup.\n\nAvailable for **Staff and Client tokens**.",
        "tags": ["File Relations"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "entity_type",
            "in": "query",
            "required": true,
            "description": "Type of entity whose relations should be deleted (e.g., \"invoice\", \"message\", \"appointment\").",
            "schema": {
              "type": "string",
              "enum": [
                "message",
                "invoice",
                "payment",
                "appointment",
                "estimate"
              ]
            }
          },
          {
            "name": "entity_uid",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the entity whose relations should be deleted (e.g., \"inv_123abc\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relations deleted successfully (soft delete). Returns the number of relations removed.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/DeleteFileRelationsResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to delete relations for this entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
