{
  "openapi": "3.0.0",
  "info": {
    "title": "Assets - Files",
    "description": "API endpoints for managing file uploads, storage, and retrieval. Supports asynchronous file processing including virus scanning, storage, thumbnail generation, and content deduplication. Files can be linked to various business entities such as invoices, messages, and appointments.",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "UploadFileRequest": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The file binary content to upload. Maximum size: 100MB."
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "Original filename including extension (e.g., \"document.pdf\", \"photo.jpg\"). Maximum length: 255 characters."
          },
          "business_uid": {
            "type": "string",
            "description": "Unique identifier of the business this file belongs to (e.g., \"biz_456xyz\")."
          },
          "metadata": {
            "type": "object",
            "description": "Optional JSON object containing arbitrary key-value pairs for additional file metadata (e.g., {\"source\": \"chat\", \"conversation_id\": \"conv_123\"})."
          }
        },
        "required": ["file", "name", "business_uid"]
      },
      "MultiFileResponse": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              },
              "total_pages": {
                "type": "integer"
              }
            }
          }
        },
        "required": ["files"]
      },
      "DeleteFilesResponse": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
            },
            "description": "Array of files whose relations were deleted"
          }
        },
        "required": ["files"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The field that caused the error (for validation errors)"
                },
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/assets/files": {
      "post": {
        "operationId": "FilesController_upload",
        "summary": "Upload a new file",
        "description": "Uploads a file for the specified business. The API returns immediately with status='pending'. File processing (virus scan, S3 upload, thumbnail generation) happens asynchronously in the background.\n\nIf a duplicate file is detected via SHA-256 content hash, the existing file is returned immediately with status='uploaded'.\n\nRate limit: 10 uploads per user per 10 minutes. Maximum file size: 100MB.\n\nAvailable for **Staff and Client tokens**.",
        "tags": ["Files"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File upload initiated successfully (new file, async processing started)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "Duplicate file detected - existing file returned immediately (no processing needed)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid file type, name, or size"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Feature disabled for this business"
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Rate limit exceeded (10 uploads per 10 minutes)"
          }
        }
      },
      "get": {
        "operationId": "FilesController_findAll",
        "summary": "Get list of files by entity",
        "description": "Retrieves files associated with a specific entity (e.g., all files attached to an invoice).\n\nRequires entity_type and entity_uid as query parameters unless file_uids is provided. Permission checks are performed via the Core service and cached for 15 minutes. Results include pre-signed S3 URLs for file download and thumbnails.\n\nAvailable for **Staff and Client tokens**.",
        "tags": ["Files"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "entity_type",
            "in": "query",
            "required": false,
            "description": "Type of entity to filter files by (e.g., \"invoice\", \"message\", \"appointment\"). Required unless file_uids is provided.",
            "schema": {
              "type": "string",
              "enum": [
                "message",
                "invoice",
                "estimate",
                "appointment",
                "client",
                "contact",
                "payment",
                "credit_note",
                "staff_member",
                "business"
              ]
            }
          },
          {
            "name": "entity_uid",
            "in": "query",
            "required": false,
            "description": "Unique identifier of the entity to filter files by (e.g., \"inv_123abc\"). Required unless file_uids is provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (default: 1).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of files per page (default: 25, max: 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Files retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiFileResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to access files for this entity"
          }
        }
      },
      "delete": {
        "operationId": "FilesController_deleteByEntity",
        "summary": "Delete files of an entity",
        "description": "Soft deletes file-entity relations for a specific entity by removing file_entity relations.\n\nIf file_uid is provided, only the relation between that specific file and the entity is deleted. If file_uid is not provided, all file relations for the entity are deleted.\n\nRequires entity_uid as query parameter. Files without any remaining relations may become eligible for cleanup. Permission checks are performed via the Core service.\n\nAvailable for **Staff tokens only**.",
        "tags": ["Files"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "entity_uid",
            "in": "query",
            "required": true,
            "description": "Unique identifier of the entity whose files should be deleted (e.g., \"inv_123abc\").",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file_uid",
            "in": "query",
            "required": false,
            "description": "Optional. Unique identifier of a specific file to unlink from the entity (e.g., \"file_123abc\"). If provided, only this file's relation to the entity is deleted. If omitted, all file relations for the entity are deleted.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File relation(s) deleted successfully (soft delete). Returns the file object if file_uid was provided, or an array of files if all relations were deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Response"
                        },
                        {
                          "properties": {
                            "data": {
                              "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                            }
                          }
                        }
                      ],
                      "description": "Response when file_uid is provided - returns single file"
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Response"
                        },
                        {
                          "properties": {
                            "data": {
                              "$ref": "#/components/schemas/DeleteFilesResponse"
                            }
                          }
                        }
                      ],
                      "description": "Response when file_uid is not provided - returns array of files"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Missing required parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to delete files for this entity"
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/assets/files/{file_uid}": {
      "get": {
        "operationId": "FilesController_findOne",
        "summary": "Get file by UID",
        "description": "Retrieves a specific file by its unique identifier.\n\nUsed for status polling after upload to check if processing (scan, S3 upload, thumbnails) is complete. Response includes pre-signed S3 URLs when file is ready. Permission checks are performed via the Core service and cached for 15 minutes.\n\nAvailable for **Staff and Client tokens**.",
        "tags": ["Files"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the file to retrieve (e.g., \"file_123abc\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to access this file"
          },
          "404": {
            "description": "Not Found - File does not exist"
          }
        }
      },
      "delete": {
        "operationId": "FilesController_delete",
        "summary": "Delete specific file",
        "description": "Soft deletes a specific file and all its entity relations.\n\nThe file is marked as deleted and scheduled for hard deletion (S3 removal) after 30 days. Permission checks are performed via the Core service.\n\nAvailable for **Staff tokens only**.",
        "tags": ["Files"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "file_uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the file to delete (e.g., \"file_123abc\").",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File deleted successfully (soft delete). Returns the deleted file entity.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to delete this file"
          },
          "404": {
            "description": "Not Found - File does not exist"
          },
          "422": {
            "description": "Unprocessable Entity - Validation error in request data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}
