{
  "openapi": "3.0.3",
  "info": {
    "title": "Assets - Files",
    "description": "API endpoints for uploading and managing business files. Files are stored in S3, virus-scanned asynchronously, and can be linked to business entities (invoices, appointments, etc.).\n\nAvailable for **Staff & Client tokens**",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Files",
      "description": "Upload, retrieve, and delete business files"
    }
  ],
  "paths": {
    "/v3/assets/files": {
      "post": {
        "summary": "Upload a file",
        "operationId": "uploadFile",
        "description": "Upload a new file for the caller's business. The file is stored in a quarantine bucket and scanned asynchronously. Returns immediately with status `pending`; status transitions to `uploaded` or `infected` once scanning completes. If an identical file (same content hash) already exists for the business, the existing record is returned with `deduplicated: true` and no S3 upload is performed.\n\nAvailable for **Staff & Client tokens**",
        "tags": ["Files"],
        "security": [{ "Bearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file", "name"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file binary to upload."
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Display name for the file (e.g., \"invoice_march.pdf\")."
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Arbitrary key-value metadata to attach to the file (e.g., {\"source\": \"portal\", \"ref\": \"inv-001\"})."
                  }
                }
              },
              "example": {
                "name": "invoice_march.pdf",
                "metadata": { "source": "portal" }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "file": {
                              "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "file": {
                      "uid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "invoice_march.pdf",
                      "status": "pending",
                      "content_type": "application/pdf",
                      "size": 204800,
                      "url": null,
                      "thumbnail_url": null,
                      "thumbnail_small_url": null,
                      "metadata": { "source": "portal" },
                      "deduplicated": false,
                      "created_at": "2026-01-15T10:30:00Z",
                      "updated_at": "2026-01-15T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Duplicate file detected — existing record returned.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "file": {
                              "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "file": {
                      "uid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "invoice_march.pdf",
                      "status": "linked",
                      "content_type": "application/pdf",
                      "size": 204800,
                      "url": "https://s3.amazonaws.com/vcita-main/biz_024bl3kv/files/invoice_march.pdf?X-Amz-Expires=600",
                      "thumbnail_url": null,
                      "thumbnail_small_url": null,
                      "metadata": { "source": "portal" },
                      "deduplicated": true,
                      "created_at": "2026-01-10T08:00:00Z",
                      "updated_at": "2026-01-10T08:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request — invalid file type, file too large, or missing required fields.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "errors": [
                    { "code": "INVALID_FILE_TYPE", "message": "File type application/x-msdownload is not allowed" }
                  ]
                }
              }
            }
          },
          "401": { "description": "Unauthorized — invalid or missing authentication token." },
          "429": {
            "description": "Too Many Requests — upload rate limit exceeded for this actor.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "errors": [
                    { "code": "RATE_LIMIT_EXCEEDED", "message": "Upload rate limit exceeded. Please try again later." }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List files",
        "operationId": "listFiles",
        "description": "Retrieve a paginated list of files for the caller's business. Optionally filter by status or fetch specific files by UID.\n\nAvailable for **Staff & Client tokens**",
        "tags": ["Files"],
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter files by processing status. Deleted files are never returned (e.g., \"uploaded\", \"linked\").",
            "schema": {
              "type": "string",
              "enum": ["pending", "scanning", "uploaded", "scanned", "linked", "infected", "failed"]
            }
          },
          {
            "name": "file_uids",
            "in": "query",
            "required": false,
            "description": "Fetch a specific set of files by UID. May be repeated or passed as a comma-separated list (e.g., \"a1b2c3d4\", \"e5f6a7b8\").",
            "schema": {
              "type": "array",
              "items": { "type": "string" }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (e.g., 1, 2).",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of files to return per page, maximum 100 (e.g., 20, 50).",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "Files retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "files": {
                              "type": "array",
                              "items": {
                                "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                              }
                            },
                            "total": { "type": "integer", "description": "Total number of matching files (e.g., 42)." },
                            "page": { "type": "integer", "description": "Current page number (e.g., 1)." },
                            "per_page": { "type": "integer", "description": "Items per page (e.g., 20)." }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "files": [
                      {
                        "uid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "name": "invoice_march.pdf",
                        "status": "linked",
                        "content_type": "application/pdf",
                        "size": 204800,
                        "url": "https://s3.amazonaws.com/vcita-main/biz_024bl3kv/files/invoice_march.pdf?X-Amz-Expires=600",
                        "thumbnail_url": null,
                        "thumbnail_small_url": null,
                        "metadata": { "source": "portal" },
                        "created_at": "2026-01-15T10:30:00Z",
                        "updated_at": "2026-01-15T10:35:00Z"
                      }
                    ],
                    "total": 1,
                    "page": 1,
                    "per_page": 20
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized — invalid or missing authentication token." }
        }
      }
    },
    "/v3/assets/files/{uid}": {
      "get": {
        "summary": "Get a file by UID",
        "operationId": "getFile",
        "description": "Retrieve a single file by its unique identifier. The file must belong to the caller's business.\n\nAvailable for **Staff & Client tokens**",
        "tags": ["Files"],
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the file (e.g., \"a1b2c3d4-e5f6-7890-abcd-ef1234567890\").",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "File retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "file": {
                              "$ref": "https://vcita.github.io/developers-hub/entities/assets/file.json"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "file": {
                      "uid": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "invoice_march.pdf",
                      "status": "linked",
                      "content_type": "application/pdf",
                      "size": 204800,
                      "url": "https://s3.amazonaws.com/vcita-main/biz_024bl3kv/files/invoice_march.pdf?X-Amz-Expires=600",
                      "thumbnail_url": null,
                      "thumbnail_small_url": null,
                      "metadata": { "source": "portal" },
                      "created_at": "2026-01-15T10:30:00Z",
                      "updated_at": "2026-01-15T10:35:00Z"
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized — invalid or missing authentication token." },
          "404": {
            "description": "Not Found — file does not exist or does not belong to this business.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "errors": [{ "code": "FILE_NOT_FOUND", "message": "File not found" }]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a file",
        "operationId": "deleteFile",
        "description": "Permanently delete a file and all its entity relations. The file's S3 objects are removed immediately. Only the actor who originally created the file may delete it — staff or client.\n\nAvailable for **Staff & Client tokens**",
        "tags": ["Files"],
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the file to delete (e.g., \"a1b2c3d4-e5f6-7890-abcd-ef1234567890\").",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "204": { "description": "File deleted successfully." },
          "401": { "description": "Unauthorized — invalid or missing authentication token." },
          "403": {
            "description": "Forbidden — caller is not the creator of this file.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "errors": [{ "code": "DELETE_NOT_ALLOWED", "message": "Only the file creator can delete this file" }]
                }
              }
            }
          },
          "404": {
            "description": "Not Found — file does not exist or does not belong to this business.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": {
                  "success": false,
                  "errors": [{ "code": "FILE_NOT_FOUND", "message": "File not found" }]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "enum": [false] },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": { "type": "string" },
                "code": { "type": "string" },
                "message": { "type": "string" }
              },
              "required": ["code", "message"]
            }
          }
        },
        "required": ["success", "errors"]
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header."
      }
    }
  }
}
