{
  "openapi": "3.0.0",
  "info": {
    "title": "Authbridge API",
    "description": "API for managing Identity Provider (IDP) actors integrated with SSO to the inTandem authorization bridge",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/v3/"
    }
  ],
  "tags": [
    {
      "name": "IDP Actor Mapping",
      "description": "The IDP Actor API facilitates seamless CRUD operations for managing users in an IDP integrated with SSO to the inTandem authorization bridge."
    },
    {
      "name": "Directory IDP",
      "description": "Operations for managing Directory IDP configurations"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {directory_token}'"
      }
    },
    "schemas": {
      "IdpActorList": {
        "type": "object",
        "properties": {
          "idp_actor_mappings": {
            "description": "List of IDP Actor Mappings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/integrations/idp_actor_mapping.json"
            }
          }
        }
      },
      "CreateIdpActorMappingDTO": {
        "type": "object",
        "properties": {
          "idp_user_reference_id": {
            "type": "string",
            "description": "External reference ID of the IDP User, used to link the IDP User to an external system.",
            "example": "ext-12345"
          },
          "actor_type": {
            "type": "string",
            "enum": [
              "staff",
              "operator"
            ],
            "description": "Type of the actor in the inTandem platform. 'staff' refers to a staff member, while 'operator' refers to an operator in the Operators Portal.",
            "example": "staff"
          },
          "actor_uid": {
            "type": "string",
            "description": "Unique identifier of the actor in the inTandem platform. This is used to link the IDP actor to a specific staff member or operator.",
            "example": "staff-67890"
          }
        },
        "required": [
          "idp_user_reference_id",
          "actor_type",
          "actor_uid"
        ]
      },
      "UpdateIdpActorMappingDTO": {
        "type": "object",
        "properties": {
          "idp_user_reference_id": {
            "type": "string",
            "description": "External reference ID of the IDP User, used to link the IDP User to an external system.",
            "example": "ext-12345"
          },
          "actor_type": {
            "type": "string",
            "enum": [
              "staff",
              "operator"
            ],
            "description": "Type of the actor in the inTandem platform. 'staff' refers to a staff member, while 'operator' refers to an operator in the Operators Portal.",
            "example": "staff"
          },
          "actor_uid": {
            "type": "string",
            "description": "Unique identifier of the actor in the inTandem platform. This is used to link the IDP actor to a specific staff member or operator.",
            "example": "staff-67890"
          }
        }
      },
      "DirectoryIDPList": {
        "type": "object",
        "properties": {
          "directory_idps": {
            "description": "List of Directory IDP configurations",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/integrations/directory_idp.json"
            }
          }
        }
      },
      "CreateDirectoryIDPDTO": {
        "type": "object",
        "properties": {
          "directory_uid": {
            "type": "string",
            "description": "Unique identifier of the directory",
            "example": "dir-456"
          },
          "idp_uid": {
            "type": "string",
            "description": "Unique identifier of the Identity Provider (IDP)",
            "example": "idp-789"
          },
          "change_email": {
            "type": "object",
            "description": "Configuration for change email functionality",
            "properties": {
              "interaction": {
                "type": "string",
                "enum": [
                  "iframe_modal",
                  "new_tab",
                  "api",
                  "disabled"
                ],
                "description": "The interaction type for change email. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality",
                "example": "iframe_modal"
              },
              "value": {
                "type": "string",
                "description": "The endpoint URL or URL for iframe/new_tab interaction type",
                "example": "https://example.com/change-email"
              }
            },
            "required": [
              "interaction",
              "value"
            ]
          },
          "change_password": {
            "type": "object",
            "description": "Configuration for change password functionality",
            "properties": {
              "interaction": {
                "type": "string",
                "enum": [
                  "iframe_modal",
                  "new_tab",
                  "api",
                  "disabled"
                ],
                "description": "The interaction type for change password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality",
                "example": "new_tab"
              },
              "value": {
                "type": "string",
                "description": "The endpoint URL or URL for iframe/new_tab interaction type",
                "example": "https://example.com/change-password"
              }
            },
            "required": [
              "interaction",
              "value"
            ]
          },
          "reset_password": {
            "type": "object",
            "description": "Configuration for reset password functionality",
            "properties": {
              "interaction": {
                "type": "string",
                "enum": [
                  "iframe_modal",
                  "new_tab",
                  "api",
                  "disabled"
                ],
                "description": "The interaction type for reset password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality",
                "example": "api"
              },
              "value": {
                "type": "string",
                "description": "The endpoint URL or URL for iframe/new_tab interaction type",
                "example": "https://api.example.com/reset-password"
              }
            },
            "required": [
              "interaction",
              "value"
            ]
          }
        },
        "required": [
          "directory_uid",
          "idp_uid",
          "change_email",
          "change_password",
          "reset_password"
        ]
      },
      "UpdateDirectoryIDPDTO": {
        "type": "object",
        "properties": {
          "directory_uid": {
            "type": "string",
            "description": "Unique identifier of the directory",
            "example": "dir-456"
          },
          "idp_uid": {
            "type": "string",
            "description": "Unique identifier of the Identity Provider (IDP)",
            "example": "idp-789"
          },
          "change_email": {
            "type": "object",
            "description": "Configuration for change email functionality",
            "properties": {
              "interaction": {
                "type": "string",
                "enum": [
                  "iframe_modal",
                  "new_tab",
                  "api",
                  "disabled"
                ],
                "description": "The interaction type for change email. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality",
                "example": "iframe_modal"
              },
              "value": {
                "type": "string",
                "description": "The endpoint URL or URL for iframe/new_tab interaction type",
                "example": "https://example.com/change-email"
              }
            },
            "required": [
              "interaction",
              "value"
            ]
          },
          "change_password": {
            "type": "object",
            "description": "Configuration for change password functionality",
            "properties": {
              "interaction": {
                "type": "string",
                "enum": [
                  "iframe_modal",
                  "new_tab",
                  "api",
                  "disabled"
                ],
                "description": "The interaction type for change password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality",
                "example": "new_tab"
              },
              "value": {
                "type": "string",
                "description": "The endpoint URL or URL for iframe/new_tab interaction type",
                "example": "https://example.com/change-password"
              }
            },
            "required": [
              "interaction",
              "value"
            ]
          },
          "reset_password": {
            "type": "object",
            "description": "Configuration for reset password functionality",
            "properties": {
              "interaction": {
                "type": "string",
                "enum": [
                  "iframe_modal",
                  "new_tab",
                  "api",
                  "disabled"
                ],
                "description": "The interaction type for reset password. 'iframe_modal' opens in an iframe modal, 'new_tab' opens in a new tab, 'api' uses API endpoint, 'disabled' disables the functionality",
                "example": "api"
              },
              "value": {
                "type": "string",
                "description": "The endpoint URL or URL for iframe/new_tab interaction type",
                "example": "https://api.example.com/reset-password"
              }
            },
            "required": [
              "interaction",
              "value"
            ]
          }
        }
      }
    }
  },
  "paths": {
    "/integrations/idp_actor_mappings": {
      "get": {
        "summary": "List all IDP Actor Mappings",
        "parameters": [
          {
            "in": "query",
            "name": "idp_user_reference_id",
            "schema": {
              "type": "string"
            },
            "description": "Filter by external reference ID of the IDP User"
          },
          {
            "in": "query",
            "name": "actor_type",
            "schema": {
              "type": "string",
              "enum": [
                "staff",
                "operator"
              ]
            },
            "description": "Filter by actor type. 'staff' refers to a staff member, while 'operator' refers to an operator in the Operators Portal."
          },
          {
            "in": "query",
            "name": "actor_uid",
            "schema": {
              "type": "string"
            },
            "description": "Filter by unique identifier of the actor in the inTandem platform"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          }
        ],
        "responses": {
          "200": {
            "description": "A list of IDP Actor Mappings",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/IdpActorList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "IDP Actor Mapping"
        ],
        "description": "## Overview\nList all IDP Actor Mappings in the directory scope."
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIdpActorMappingDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "IDP Actor Mapping created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/integrations/idp_actor_mapping.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data or missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or not a Directory Token"
          },
          "422": {
            "description": "Unprocessable Entity - Business logic validation failed (e.g., invalid actor_uid or actor_type combination)"
          }
        },
        "summary": "Create an IDP Actor Mapping",
        "description": "## Overview\nCreate a new IDP Actor Mapping for SSO integration Available for **Directory Tokens only**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "IDP Actor Mapping"
        ]
      }
    },
    "/integrations/idp_actor_mappings/{uid}": {
      "delete": {
        "summary": "Delete an IDP Actor Mapping",
        "description": "## Overview\nDelete an IDP Actor Mapping by UID. Available for **Directory Tokens only**.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the IDP Actor Mapping",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "IDP Actor Mapping deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or not a Directory Token"
          },
          "404": {
            "description": "Not Found - IDP Actor Mapping with the specified UID does not exist"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "IDP Actor Mapping"
        ]
      }
    },
    "/integrations/directory_idps": {
      "get": {
        "summary": "List all Directory IDP configurations",
        "description": "## Overview\nList all Directory IDP configurations with optional filtering.",
        "parameters": [
          {
            "in": "query",
            "name": "staff_uid",
            "schema": {
              "type": "string"
            },
            "description": "Filter by staff UID"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Directory IDP configurations",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/DirectoryIDPList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Directory IDP"
        ]
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDirectoryIDPDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Directory IDP configuration created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/integrations/directory_idp.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data or missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or not a Directory Token"
          },
          "422": {
            "description": "Unprocessable Entity - Business logic validation failed"
          }
        },
        "summary": "Create a Directory IDP configuration",
        "description": "## Overview\nCreate a new Directory IDP configuration Available for **Directory Tokens only**.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Directory IDP"
        ]
      }
    },
    "/integrations/directory_idps/{uid}": {
      "put": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDirectoryIDPDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Directory IDP configuration updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/integrations/directory_idp.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data or missing required fields"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or not a Directory Token"
          },
          "404": {
            "description": "Not Found - Directory IDP configuration with the specified UID does not exist"
          },
          "422": {
            "description": "Unprocessable Entity - Business logic validation failed"
          }
        },
        "summary": "Update a Directory IDP configuration",
        "description": "## Overview\nUpdate an existing Directory IDP configuration by UID Available for **Directory Tokens only**.",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the Directory IDP configuration",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "Directory IDP"
        ]
      }
    }
  }
}