{
  "openapi": "3.0.0",
  "info": {
    "title": "Authbridge API",
    "description": "API for managing Identity Provider (IDP) actors integrated with SSO to the inTandem authorization bridge",
    "contact": {},
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz/v3/"
    }
  ],
  "tags": [
    {
      "name": "IDP Actor Mapping",
      "description": "The IDP Actor API facilitates seamless CRUD operations for managing users in an IDP integrated with SSO to the inTandem authorization bridge."
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {directory_token}'"
      }
    },
    "schemas": {
      "IdpActorList": {
        "type": "object",
        "properties": {
          "idp_actor_mappings": {
            "description": "List of IDP Actor Mappings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/integrations/idp_actor_mapping.json"
            }
          }
        }
      },
      "CreateIdpActorMappingDTO": {
        "type": "object",
        "properties": {
          "idp_user_reference_id": {
            "type": "string",
            "description": "External reference ID of the IDP User, used to link the IDP User to an external system.",
            "example": "ext-12345"
          },
          "actor_type": {
            "type": "string",
            "enum": [
              "staff",
              "operator"
            ],
            "description": "Type of the actor in the inTandem platform. 'staff' refers to a staff member, while 'operator' refers to an operator in the Operators Portal.",
            "example": "staff"
          },
          "actor_uid": {
            "type": "string",
            "description": "Unique identifier of the actor in the inTandem platform. This is used to link the IDP actor to a specific staff member or operator.",
            "example": "staff-67890"
          }
        },
        "required": [
          "idp_user_reference_id",
          "actor_type",
          "actor_uid"
        ]
      },
      "UpdateIdpActorMappingDTO": {
        "type": "object",
        "properties": {
          "idp_user_reference_id": {
            "type": "string",
            "description": "External reference ID of the IDP User, used to link the IDP User to an external system.",
            "example": "ext-12345"
          },
          "actor_type": {
            "type": "string",
            "enum": [
              "staff",
              "operator"
            ],
            "description": "Type of the actor in the inTandem platform. 'staff' refers to a staff member, while 'operator' refers to an operator in the Operators Portal.",
            "example": "staff"
          },
          "actor_uid": {
            "type": "string",
            "description": "Unique identifier of the actor in the inTandem platform. This is used to link the IDP actor to a specific staff member or operator.",
            "example": "staff-67890"
          }
        }
      }
    }
  },
  "paths": {
    "/integrations/idp_actor_mappings": {
      "get": {
        "summary": "List all IDP Actor Mappings",
        "parameters": [
          {
            "in": "query",
            "name": "idp_user_reference_id",
            "schema": {
              "type": "string"
            },
            "description": "Filter by external reference ID of the IDP User"
          },
          {
            "in": "query",
            "name": "actor_type",
            "schema": {
              "type": "string",
              "enum": [
                "staff",
                "operator"
              ]
            },
            "description": "Filter by actor type. 'staff' refers to a staff member, while 'operator' refers to an operator in the Operators Portal."
          },
          {
            "in": "query",
            "name": "actor_uid",
            "schema": {
              "type": "string"
            },
            "description": "Filter by unique identifier of the actor in the inTandem platform"
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number of the results"
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            },
            "description": "How many items to return per page"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "default": "updated_at:desc"
            },
            "description": "Sort by fields, e.g., \"created_at:asc,updated_at:desc\""
          }
        ],
        "responses": {
          "200": {
            "description": "A list of IDP Actors",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/IdpActorList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "IDP Actor Mapping"
        ],
        "description": "List all IDP Actor Mappings in the directory scope.\n\nAvailable for **Directory Tokens only**\n"
      },
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIdpActorMappingDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "IDP Actor created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/integrations/idp_actor_mapping.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input data or missing required fields"
            
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
            
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or not a Directory Token"
            
          },
          "422": {
            "description": "Unprocessable Entity - Business logic validation failed (e.g., invalid actor_uid or actor_type combination)"
            
          }
        },
        "summary": "Create an IDP Actor Mapping",
        "description": "Create a new IDP Actor Mapping for SSO integration.\n\nAvailable for **Directory Tokens only**\n",
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "IDP Actor Mapping"
        ]
      }
    },
    "/integrations/idp_actor_mappings/{uid}": {
      "delete":{
        "summary": "Delete an IDP Actor Mapping",
        "description": "Delete an IDP Actor Mapping by UID. Available for **Directory Tokens only**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the IDP Actor Mapping",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "IDP Actor Mapping deleted successfully"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions or not a Directory Token"
          },
          "404": {
            "description": "Not Found - IDP Actor Mapping with the specified UID does not exist"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "IDP Actor Mapping"
        ]
      }
    }
  }
} 