{
  "openapi": "3.0.0",
  "info": {
    "title": "Import API",
    "description": "API for managing data imports",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ExcelProviderDataDto": {
        "type": "object",
        "title": "Excel Provider Data",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The file containing the records that should be imported"
          }
        },
        "required": [
          "file"
        ]
      },
      "ExistingImportJobDto": {
        "type": "object",
        "title": "Existing Import Job",
        "properties": {
          "source_import_job_uid": {
            "type": "string",
            "description": "The UID of the import job that was used for validation"
          }
        },
        "required": [
          "source_import_job_uid"
        ]
      },
      "UploadEntityRequestDto": {
        "type": "object",
        "properties": {
          "entity_type": {
            "type": "string",
            "enum": [
              "product",
              "mock"
            ],
            "description": "The type of entity being imported. 'mock' is for testing purposes."
          },
          "provider_type": {
            "type": "string",
            "enum": [
              "excel",
              "import_job",
              "mock"
            ],
            "description": "The type of import provider. 'mock' is for testing purposes."
          },
          "provider_data": {
            "description": "Provider-specific configuration data",
            "oneOf": [
              {
                "$ref": "#/components/schemas/ExcelProviderDataDto",
                "description": "Excel provider configuration"
              },
              {
                "$ref": "#/components/schemas/ExistingImportJobDto",
                "description": "Existing import job configuration"
              }
            ]
          },
          "job_type": {
            "type": "string",
            "enum": [
              "validate",
              "execute"
            ],
            "default": "execute",
            "description": "The type of job operation. 'validate' will go over the lines and return errors, use /v3/integrations/import_job_items to get detailed errors about each line.\n'execute' will run the import job. use /v3/integrations/import_job to get the progress of the import task."
          },
          "locale": {
            "type": "string",
            "enum": ["en", "he", "es", "fr", "de", "it", "nl", "pt", "zh"],
            "description": "The locale of the import job, in use for translating error messages of the import job items"
          },
          "shared_entity_data": {
            "type": "object",
            "description": "Shared entity data for the import job, this data is shared between all import job items"
          }
        },
        "required": [
          "provider_type"
        ]
      },
      "MultiImportJobItemsResponseDto": {
        "type": "object",
        "properties": {
          "import_job_items": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/integrations/importJobItem.json"
            }
          }
        },
        "required": [
          "import_job_items"
        ]
      }
    }
  },
  "paths": {
    "/v3/integrations/import_jobs": {
      "post": {
        "tags": [
          "Import"
        ],
        "summary": "Create a new ImportJob",
        "description": "Create a new import job to import entities (e.g., products) into a business account.\n\n## Overview\nSupports importing data from Excel files or re-running a previously validated import job.\n\n## When to Use\n- Import products from an Excel spreadsheet\n- Re-run a validated import job to execute the actual import\n\n## Prerequisites\n- Valid Staff Token\n\n## Workflow\n1. **Validate first**: Create job with `job_type: 'validate'` to check data\n2. **Check errors**: Use `/v3/integrations/import_job_items` to review validation errors\n3. **Execute**: Create new job with `job_type: 'execute'` using `provider_type: 'import_job'` and the validated job's UID\n\n## Notes\n- For Excel imports, use `multipart/form-data` with the file in `provider_data[file]`\n- Rate limited to prevent abuse\n- Supported locales for error messages: en, he, es, fr, de, it, nl, pt, zh",
        "x-vcita-timeout": "INTEGRATIONS_TIMEOUT",
        "x-vcita-rate-limit": "import",
        "operationId": "ImportJobsController_create",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadEntityRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Import job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/integrations/importJob.json",
                          "description": "Import job details"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid request body, missing required fields, or invalid file format."
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have permission to create import jobs."
          },
          "429": {
            "description": "Too Many Requests. Rate limit exceeded for import operations."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/import_jobs/{import_job_uid}": {
      "get": {
        "tags": [
          "Import"
        ],
        "parameters": [
          {
            "name": "import_job_uid",
            "required": true,
            "in": "path",
            "description": "The unique identifier of the import job",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Retrieve an ImportJob",
        "description": "Retrieve details and status of an import job by its UID.\n\n## When to Use\n- Check the progress of a running import job\n- Get final status and statistics after import completion\n- Review validation results before executing an import\n\n## Prerequisites\n- Valid Staff Token\n- Import job must belong to the authenticated business\n\n## Response Fields\n- `status`: Current job status (pending, processing, completed, failed)\n- `stats`: Count of successful, failed, and total items processed",
        "operationId": "ImportJobsController_findOne",
        "responses": {
          "200": {
            "description": "Import job details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/integrations/importJob.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have permission to access this import job."
          },
          "404": {
            "description": "Not Found. Import job with specified UID does not exist."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/import_job_items": {
      "get": {
        "tags": [
          "Import"
        ],
        "summary": "Get all ImportJobItems",
        "description": "Get all import job items (individual records) for a specific import job.\n\n## When to Use\n- Review validation errors for each row in the import file\n- Check which items succeeded or failed during import execution\n- Debug specific import failures\n\n## Prerequisites\n- Valid Staff Token\n- Import job must belong to the authenticated business\n\n## Filtering\n- Use `status` parameter to filter by item status (e.g., 'error', 'success', 'pending')\n\n## Notes\n- Each item represents one row from the import file\n- Error items contain detailed error messages in the locale specified during job creation",
        "operationId": "ImportJobItemsController_findAll",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "name": "import_job_uid",
            "required": true,
            "in": "query",
            "description": "The unique identifier of the import job to retrieve items for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "required": false,
            "in": "query",
            "description": "Filter items by status (e.g., 'pending', 'success', 'error')",
            "schema": {
              "type": "string",
              "enum": ["pending", "processing", "success", "error"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of import job items retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiImportJobItemsResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Missing required import_job_uid parameter."
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have permission to access this import job."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/import_job_items/{uid}": {
      "get": {
        "tags": [
          "Import"
        ],
        "summary": "Retrieve an ImportJobItem",
        "description": "Retrieve a specific import job item by its UID.\n\n## When to Use\n- Get detailed information about a specific import record\n- Review error details for a failed item\n\n## Prerequisites\n- Valid Staff Token\n- Import job item must belong to an import job owned by the authenticated business",
        "operationId": "ImportJobItemsController_findOne",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "The unique identifier of the import job item",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Import job item details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/integrations/importJobItem.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have permission to access this import job item."
          },
          "404": {
            "description": "Not Found. Import job item with specified UID does not exist."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}