{
  "openapi": "3.0.0",
  "info": {
    "title": "Import API",
    "description": "API for managing data imports",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ExcelProviderDataDto": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The file containing the records that should be imported"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An array of field names to be processed"
          },
          "context": {
            "type": "object",
            "additionalProperties": true,
            "description": "Context data for the import (used for validation), for example: { 'currency': 'USD' }"
          }
        },
        "required": [
          "file"
        ]
      },
      "UploadEntityRequestDto": {
        "type": "object",
        "properties": {
          "provider_type": {
            "type": "string",
            "enum": [
              "excel"
            ],
            "description": "The type of import provider"
          },
          "provider_data_uid": {
            "type": "string",
            "description": "Reference to previously created provider data (optional)"
          },
          "provider_data": {
            "$ref": "#/components/schemas/ExcelProviderDataDto",
            "description": "Optional Excel-specific provider data configuration"
          },
          "validate": {
            "type": "boolean",
            "default": false,
            "description": "If true, only validates the import without processing"
          }
        },
        "required": [
          "provider_type"
        ]
      },
      "MultiImportJobItemsResponseDto": {
        "type": "object",
        "properties": {
          "import_job_items": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/integrations/importJobItem.json"
            }
          }
        },
        "required": [
          "import_job_items"
        ]
      }
    }
  },
  "paths": {
    "/v3/integrations/sales/products": {
      "post": {
        "tags": [
          "Import"
        ],
        "summary": "Import Products into a business account",
        "operationId": "importData",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadEntityRequestDto"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Import job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "import_job": {
                              "$ref": "https://vcita.github.io/developers-hub/entities/integrations/importJob.json",
                              "description": "Import job details"
                            }
                          },
                          "required": ["import_job"]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/integrations/import_jobs/{import_job_uid}": {
      "get": {
        "tags": [
          "Import"
        ],
        "summary": "Retrieve an ImportJob",
        "operationId": "getImportJob",
        "responses": {
          "200": {
            "description": "Import job details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/integrations/importJob.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/integrations/import_job_items": {
      "get": {
        "tags": [
          "Import"
        ],
        "summary": "Get all ImportJobItems",
        "operationId": "findAll",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "description": "Filter by a field. Example: filter[created_at][gt]=2019-01-01, filter[name]=my-name",
            "required": false,
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of import job items",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiImportJobItemsResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/integrations/import_job_items/{uid}": {
      "get": {
        "tags": [
          "Import"
        ],
        "summary": "Retrieve an ImportJobItem",
        "operationId": "findOne",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Import job item details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/integrations/importJobItem.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}