{
  "openapi": "3.0.0",
  "info": {
    "title": "Import API",
    "description": "API for managing data imports",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ExcelProviderDataDto": {
        "type": "object",
        "title": "Excel Provider Data",
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "The file containing the records that should be imported"
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "An array of field names to be processed"
          },
          "context": {
            "type": "object",
            "additionalProperties": true,
            "description": "Context data for the import (used for validation), for example: { 'currency': 'USD' }"
          }
        },
        "required": [
          "file"
        ]
      },
      "UploadEntityRequestDto": {
        "type": "object",
        "properties": {
          "entity_type": {
            "type": "string",
            "enum": [
              "products"
            ],
            "description": "The type of the imported entity"
          },
          "provider_type": {
            "type": "string",
            "enum": [
              "excel"
            ],
            "description": "The type of import provider"
          },
          "provider_data": {
            "description": "Provider-specific configuration data",
            "oneOf": [
              {
                "$ref": "#/components/schemas/ExcelProviderDataDto",
                "description": "Excel provider configuration"
              }
            ]
          },
          "validate": {
            "type": "boolean",
            "default": false,
            "description": "If true, only validates the import without processing"
          }
        },
        "required": [
          "provider_type"
        ]
      },
      "MultiImportJobItemsResponseDto": {
        "type": "object",
        "properties": {
          "import_job_items": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/integrations/importJobItem.json"
            }
          }
        },
        "required": [
          "import_job_items"
        ]
      }
    }
  },
  "paths": {
    "/v3/integrations/import_jobs": {
      "post": {
        "tags": [
          "Import"
        ],
        "summary": "Create a new ImportJob",
        "description": "Import products into a business account\n\nAvailable for **Staff Tokens**",
        "operationId": "ImportJobsController_create",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadEntityRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Import job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/integrations/importJob.json",
                          "description": "Import job details"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/import_jobs/{uid}": {
      "get": {
        "tags": [
          "Import"
        ],
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Retrieve an ImportJob",
        "description": "Retrieve an import job by its UID\n\nAvailable for **Staff Tokens**",
        "operationId": "ImportJobsController_findOne",
        "responses": {
          "200": {
            "description": "Import job details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/integrations/importJob.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/import_job_items": {
      "get": {
        "tags": [
          "Import"
        ],
        "summary": "Get all ImportJobItems",
        "description": "Get all import job items for a specific import job\n\nAvailable for **Staff Tokens**",
        "operationId": "ImportJobItemsController_findAll",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "name": "import_job_uid",
            "required": true,
            "in": "query",
            "description": "Import job UID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of import job items",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MultiImportJobItemsResponseDto"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/integrations/import_job_items/{uid}": {
      "get": {
        "tags": [
          "Import"
        ],
        "summary": "Retrieve an ImportJobItem",
        "description": "Retrieve an import job item by its UID\n\nAvailable for **Staff Tokens**",
        "operationId": "ImportJobItemsController_findOne",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Import job item details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/integrations/importJobItem.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}