{
  "swagger": "2.0",
  "info": {
    "title": "Campaigns API",
    "description": "## Overview\nLegacy Campaigns APIs covering **Announcements** (immediate one-off broadcasts) and **Campaigns** (manual and automated marketing campaigns, scheduling, statistics, templates, and triggers). These are legacy `/v2` (Core) and `/business/marketing/v1` (marketing engine) routes.\n\nMost `/v2/campaigns` and `/v2/scheduled_campaigns` operations require the staff member to have marketing permissions (`has_marketing_permissions`).",
    "version": "v2.0"
  },
  "host": "api.vcita.biz",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/announcements": {
      "post": {
        "summary": "Create an announcement",
        "operationId": "createAnnouncement",
        "description": "## Overview\nBroadcasts a message with an optional action button to up to 20 clients, delivered immediately to each client's conversation over email and/or SMS; trial businesses may target only one client, and the action button URL must point to the business livesite. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Announcements"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Announcement payload.",
            "schema": {
              "type": "object",
              "properties": {
                "subject": {
                  "type": "string",
                  "description": "Announcement subject (e.g., \"We miss you!\")."
                },
                "text": {
                  "type": "string",
                  "description": "Announcement body text."
                },
                "announcement_type": {
                  "type": "string",
                  "description": "Announcement type (e.g., \"custom\", \"recover_document\")."
                },
                "action_text": {
                  "type": "string",
                  "maxLength": 255,
                  "description": "Label for the action button (max 255 chars)."
                },
                "button_url": {
                  "type": "string",
                  "description": "Action button URL. Host must match the business livesite (external links rejected)."
                },
                "client_ids": {
                  "type": "string",
                  "description": "Comma-separated client UIDs (e.g., \"cli1,cli2\"). Maximum 20 clients."
                },
                "client_id": {
                  "type": "string",
                  "description": "Single client UID (alternative to client_ids)."
                },
                "conversation_ids": {
                  "type": "string",
                  "description": "Optional comma-separated conversation UIDs; resolved from clients when omitted."
                },
                "staff_id": {
                  "type": "string",
                  "description": "UID of the sending staff member."
                }
              },
              "required": [
                "text"
              ]
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Announcement created.",
            "examples": {
              "application/json": {
                "uid": "annc789",
                "subject": "We miss you!",
                "button_text": "Book now",
                "button_url": "https://mybiz.vcita.com/schedule",
                "announcement_type": "custom",
                "staff": {
                  "uid": "staff123",
                  "name": "Jane"
                },
                "channels": [
                  "email",
                  "sms"
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - trial multi-client, bulk-action limit, or missing permission."
          },
          "400": {
            "description": "Bad Request - no valid clients supplied."
          },
          "422": {
            "description": "Unprocessable Entity - more than 20 clients or validation error.",
            "examples": {
              "application/json": {
                "errors": {
                  "base": [
                    "announcement.errors.limit"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/campaigns": {
      "get": {
        "summary": "List campaigns",
        "operationId": "listCampaigns",
        "description": "## Overview\nReturns the business's campaigns; pass `automatic=1` to list automated (trigger-based) campaigns instead of manual ones. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "automatic",
            "required": false,
            "type": "integer",
            "description": "Set to `1` to return automated campaigns instead of manual ones."
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "description": "Page number (1-based)."
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer",
            "description": "Results per page."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Campaigns list.",
            "examples": {
              "application/json": {
                "data": [
                  {
                    "uid": "abc123campaign",
                    "name": "Spring Sale",
                    "title": "Spring Sale is here",
                    "subject": "Don't miss our Spring Sale",
                    "body": "<p>Big discounts inside</p>",
                    "sms_content": "Spring Sale! Reply STOP to opt out.",
                    "channel": "email",
                    "campaign_type": "basic",
                    "background_color": "#ffffff",
                    "button_text": "Shop now",
                    "button_background_color": "#0055ff",
                    "button_text_color": "#ffffff",
                    "action_data": {
                      "name": "livesite",
                      "url": "https://mybiz.vcita.com",
                      "options": {}
                    },
                    "send_secondary": false,
                    "send_again": false,
                    "last_sent_at": "2026-06-01T10:00:00Z",
                    "campaign_url": "https://mybiz.vcita.com/campaigns/abc123campaign",
                    "automatic_campaign": null,
                    "added_count": 120,
                    "view_count": 80,
                    "click_count": 25,
                    "acted_count": 10,
                    "bounce_count": 2,
                    "deliver_count": 118,
                    "spam_count": 0
                  }
                ],
                "page": 1,
                "per_page": 25
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a campaign",
        "operationId": "createCampaign",
        "description": "## Overview\nCreates a manual campaign; include the `automatic_campaign` object to make it automated. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Campaign payload.",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Internal campaign name (e.g., \"Spring Sale\")."
                },
                "title": {
                  "type": "string",
                  "description": "Display title."
                },
                "subject": {
                  "type": "string",
                  "description": "Email subject line."
                },
                "body": {
                  "type": "string",
                  "maxLength": 65535,
                  "description": "Email HTML body (max 65535 chars)."
                },
                "sms_content": {
                  "type": "string",
                  "maxLength": 550,
                  "description": "SMS body (max 550 chars)."
                },
                "button_text": {
                  "type": "string",
                  "description": "Call-to-action button label."
                },
                "button_text_color": {
                  "type": "string",
                  "description": "Button text color (hex, e.g., \"#ffffff\")."
                },
                "button_background_color": {
                  "type": "string",
                  "description": "Button background color (hex)."
                },
                "background_color": {
                  "type": "string",
                  "description": "Campaign background color (hex)."
                },
                "image": {
                  "type": "string",
                  "description": "Campaign image URL."
                },
                "action_data": {
                  "type": "object",
                  "description": "Call-to-action config with name, url, and options."
                },
                "channel": {
                  "type": "string",
                  "enum": [
                    "email",
                    "sms"
                  ],
                  "description": "Delivery channel."
                },
                "campaign_type": {
                  "type": "string",
                  "enum": [
                    "basic",
                    "pro"
                  ],
                  "description": "Campaign tier."
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether the campaign is archived."
                },
                "automatic_campaign": {
                  "type": "object",
                  "description": "Automated (trigger-based) configuration; include to make the campaign automatic.",
                  "properties": {
                    "active": {
                      "type": "boolean",
                      "description": "Whether the automated campaign is active."
                    },
                    "channel": {
                      "type": "string",
                      "enum": [
                        "email",
                        "sms"
                      ],
                      "description": "Delivery channel."
                    },
                    "campaign_type": {
                      "type": "string",
                      "enum": [
                        "new_lead",
                        "new_customer",
                        "new_loyal",
                        "birthday",
                        "win_back",
                        "new_review",
                        "custom_date",
                        "first_completed_booking"
                      ],
                      "description": "Trigger type (which client event fires the automated send)."
                    },
                    "recipients_filter": {
                      "type": "string",
                      "description": "Serialized JSON recipient filter."
                    },
                    "date_filter": {
                      "type": "string",
                      "description": "Serialized JSON date filter."
                    },
                    "delivery_time": {
                      "type": "string",
                      "description": "Time of day to deliver (e.g., \"09:00\")."
                    },
                    "send_secondary": {
                      "type": "boolean",
                      "description": "Also send over the secondary channel."
                    }
                  }
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Campaign created.",
            "examples": {
              "application/json": {
                "data": {
                  "uid": "abc123campaign",
                  "name": "Spring Sale",
                  "title": "Spring Sale is here",
                  "subject": "Don't miss our Spring Sale",
                  "body": "<p>Big discounts inside</p>",
                  "sms_content": "Spring Sale! Reply STOP to opt out.",
                  "channel": "email",
                  "campaign_type": "basic",
                  "background_color": "#ffffff",
                  "button_text": "Shop now",
                  "button_background_color": "#0055ff",
                  "button_text_color": "#ffffff",
                  "action_data": {
                    "name": "livesite",
                    "url": "https://mybiz.vcita.com",
                    "options": {}
                  },
                  "send_secondary": false,
                  "send_again": false,
                  "last_sent_at": "2026-06-01T10:00:00Z",
                  "campaign_url": "https://mybiz.vcita.com/campaigns/abc123campaign",
                  "automatic_campaign": null,
                  "added_count": 120,
                  "view_count": 80,
                  "click_count": 25,
                  "acted_count": 10,
                  "bounce_count": 2,
                  "deliver_count": 118,
                  "spam_count": 0
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "422": {
            "description": "Unprocessable Entity - validation error.",
            "examples": {
              "application/json": {
                "errors": {
                  "base": [
                    "Validation failed"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/campaigns/{uid}": {
      "get": {
        "summary": "Get a campaign",
        "operationId": "getCampaign",
        "description": "## Overview\nReturns a single campaign by UID. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string",
            "description": "Campaign UID."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Campaign.",
            "examples": {
              "application/json": {
                "data": {
                  "uid": "abc123campaign",
                  "name": "Spring Sale",
                  "title": "Spring Sale is here",
                  "subject": "Don't miss our Spring Sale",
                  "body": "<p>Big discounts inside</p>",
                  "sms_content": "Spring Sale! Reply STOP to opt out.",
                  "channel": "email",
                  "campaign_type": "basic",
                  "background_color": "#ffffff",
                  "button_text": "Shop now",
                  "button_background_color": "#0055ff",
                  "button_text_color": "#ffffff",
                  "action_data": {
                    "name": "livesite",
                    "url": "https://mybiz.vcita.com",
                    "options": {}
                  },
                  "send_secondary": false,
                  "send_again": false,
                  "last_sent_at": "2026-06-01T10:00:00Z",
                  "campaign_url": "https://mybiz.vcita.com/campaigns/abc123campaign",
                  "automatic_campaign": null,
                  "added_count": 120,
                  "view_count": 80,
                  "click_count": 25,
                  "acted_count": 10,
                  "bounce_count": 2,
                  "deliver_count": 118,
                  "spam_count": 0
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a campaign",
        "operationId": "updateCampaign",
        "description": "## Overview\nUpdates a campaign; the original source and owning staff are preserved. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string",
            "description": "Campaign UID."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Fields to update.",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Internal campaign name (e.g., \"Spring Sale\")."
                },
                "title": {
                  "type": "string",
                  "description": "Display title."
                },
                "subject": {
                  "type": "string",
                  "description": "Email subject line."
                },
                "body": {
                  "type": "string",
                  "maxLength": 65535,
                  "description": "Email HTML body (max 65535 chars)."
                },
                "sms_content": {
                  "type": "string",
                  "maxLength": 550,
                  "description": "SMS body (max 550 chars)."
                },
                "button_text": {
                  "type": "string",
                  "description": "Call-to-action button label."
                },
                "button_text_color": {
                  "type": "string",
                  "description": "Button text color (hex, e.g., \"#ffffff\")."
                },
                "button_background_color": {
                  "type": "string",
                  "description": "Button background color (hex)."
                },
                "background_color": {
                  "type": "string",
                  "description": "Campaign background color (hex)."
                },
                "image": {
                  "type": "string",
                  "description": "Campaign image URL."
                },
                "action_data": {
                  "type": "object",
                  "description": "Call-to-action config with name, url, and options."
                },
                "channel": {
                  "type": "string",
                  "enum": [
                    "email",
                    "sms"
                  ],
                  "description": "Delivery channel."
                },
                "campaign_type": {
                  "type": "string",
                  "enum": [
                    "basic",
                    "pro"
                  ],
                  "description": "Campaign tier."
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether the campaign is archived."
                },
                "automatic_campaign": {
                  "type": "object",
                  "description": "Automated (trigger-based) configuration; include to make the campaign automatic.",
                  "properties": {
                    "active": {
                      "type": "boolean",
                      "description": "Whether the automated campaign is active."
                    },
                    "channel": {
                      "type": "string",
                      "enum": [
                        "email",
                        "sms"
                      ],
                      "description": "Delivery channel."
                    },
                    "campaign_type": {
                      "type": "string",
                      "enum": [
                        "new_lead",
                        "new_customer",
                        "new_loyal",
                        "birthday",
                        "win_back",
                        "new_review",
                        "custom_date",
                        "first_completed_booking"
                      ],
                      "description": "Trigger type (which client event fires the automated send)."
                    },
                    "recipients_filter": {
                      "type": "string",
                      "description": "Serialized JSON recipient filter."
                    },
                    "date_filter": {
                      "type": "string",
                      "description": "Serialized JSON date filter."
                    },
                    "delivery_time": {
                      "type": "string",
                      "description": "Time of day to deliver (e.g., \"09:00\")."
                    },
                    "send_secondary": {
                      "type": "boolean",
                      "description": "Also send over the secondary channel."
                    }
                  }
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Campaign updated.",
            "examples": {
              "application/json": {
                "data": {
                  "uid": "abc123campaign",
                  "name": "Spring Sale",
                  "title": "Spring Sale is here",
                  "subject": "Don't miss our Spring Sale",
                  "body": "<p>Big discounts inside</p>",
                  "sms_content": "Spring Sale! Reply STOP to opt out.",
                  "channel": "email",
                  "campaign_type": "basic",
                  "background_color": "#ffffff",
                  "button_text": "Shop now",
                  "button_background_color": "#0055ff",
                  "button_text_color": "#ffffff",
                  "action_data": {
                    "name": "livesite",
                    "url": "https://mybiz.vcita.com",
                    "options": {}
                  },
                  "send_secondary": false,
                  "send_again": false,
                  "last_sent_at": "2026-06-01T10:00:00Z",
                  "campaign_url": "https://mybiz.vcita.com/campaigns/abc123campaign",
                  "automatic_campaign": null,
                  "added_count": 120,
                  "view_count": 80,
                  "click_count": 25,
                  "acted_count": 10,
                  "bounce_count": 2,
                  "deliver_count": 118,
                  "spam_count": 0
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          },
          "422": {
            "description": "Unprocessable Entity - validation error.",
            "examples": {
              "application/json": {
                "errors": {
                  "base": [
                    "Validation failed"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/campaigns/{uid}/send_campaign": {
      "post": {
        "summary": "Send a campaign",
        "operationId": "sendCampaign",
        "description": "## Overview\nDelivers the campaign to its recipients now, or schedules it when `scheduled_to` is set; preview reach first with the confirmation_data and estimate_recipients endpoints. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string",
            "description": "Campaign UID."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Send options.",
            "schema": {
              "type": "object",
              "properties": {
                "channel": {
                  "type": "string",
                  "enum": [
                    "email",
                    "sms"
                  ],
                  "description": "Delivery channel."
                },
                "subject": {
                  "type": "string",
                  "description": "Override subject for this send."
                },
                "sms_content": {
                  "type": "string",
                  "description": "Override SMS content for this send."
                },
                "test": {
                  "type": "boolean",
                  "description": "Send a test to the business only."
                },
                "send_secondary": {
                  "type": "boolean",
                  "description": "Also send over the secondary channel."
                },
                "send_again": {
                  "type": "boolean",
                  "description": "Allow re-sending to recipients who already received it."
                },
                "double_opt_in": {
                  "type": "boolean",
                  "description": "Require double opt-in for SMS."
                },
                "scheduled_to": {
                  "type": "string",
                  "description": "ISO 8601 time to schedule the send (must be in the future). Omit to send now."
                },
                "all_clients": {
                  "type": "boolean",
                  "description": "Target all clients."
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Target clients matching these tags."
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Explicit client UIDs to target."
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Send accepted.",
            "examples": {
              "application/json": {
                "data": {
                  "uid": "sched123",
                  "status": "scheduled"
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          },
          "422": {
            "description": "Unprocessable Entity - validation error.",
            "examples": {
              "application/json": {
                "errors": {
                  "base": [
                    "Validation failed"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/campaigns/{uid}/clone": {
      "post": {
        "summary": "Clone a campaign",
        "operationId": "cloneCampaign",
        "description": "## Overview\nCreates a copy of an existing campaign. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string",
            "description": "Source campaign UID."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Campaign cloned.",
            "examples": {
              "application/json": {
                "data": {
                  "uid": "abc123campaign",
                  "name": "Spring Sale",
                  "title": "Spring Sale is here",
                  "subject": "Don't miss our Spring Sale",
                  "body": "<p>Big discounts inside</p>",
                  "sms_content": "Spring Sale! Reply STOP to opt out.",
                  "channel": "email",
                  "campaign_type": "basic",
                  "background_color": "#ffffff",
                  "button_text": "Shop now",
                  "button_background_color": "#0055ff",
                  "button_text_color": "#ffffff",
                  "action_data": {
                    "name": "livesite",
                    "url": "https://mybiz.vcita.com",
                    "options": {}
                  },
                  "send_secondary": false,
                  "send_again": false,
                  "last_sent_at": "2026-06-01T10:00:00Z",
                  "campaign_url": "https://mybiz.vcita.com/campaigns/abc123campaign",
                  "automatic_campaign": null,
                  "added_count": 120,
                  "view_count": 80,
                  "click_count": 25,
                  "acted_count": 10,
                  "bounce_count": 2,
                  "deliver_count": 118,
                  "spam_count": 0
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/campaigns/{uid}/clone_suggestion": {
      "post": {
        "summary": "Clone a suggested campaign",
        "operationId": "cloneSuggestionCampaign",
        "description": "## Overview\nCreates a campaign from a suggested or preset campaign. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string",
            "description": "Suggested campaign UID."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Campaign created from suggestion.",
            "examples": {
              "application/json": {
                "data": {
                  "uid": "abc123campaign",
                  "name": "Spring Sale",
                  "title": "Spring Sale is here",
                  "subject": "Don't miss our Spring Sale",
                  "body": "<p>Big discounts inside</p>",
                  "sms_content": "Spring Sale! Reply STOP to opt out.",
                  "channel": "email",
                  "campaign_type": "basic",
                  "background_color": "#ffffff",
                  "button_text": "Shop now",
                  "button_background_color": "#0055ff",
                  "button_text_color": "#ffffff",
                  "action_data": {
                    "name": "livesite",
                    "url": "https://mybiz.vcita.com",
                    "options": {}
                  },
                  "send_secondary": false,
                  "send_again": false,
                  "last_sent_at": "2026-06-01T10:00:00Z",
                  "campaign_url": "https://mybiz.vcita.com/campaigns/abc123campaign",
                  "automatic_campaign": null,
                  "added_count": 120,
                  "view_count": 80,
                  "click_count": 25,
                  "acted_count": 10,
                  "bounce_count": 2,
                  "deliver_count": 118,
                  "spam_count": 0
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/campaigns/{uid}/archive": {
      "post": {
        "summary": "Archive a campaign",
        "operationId": "archiveCampaign",
        "description": "## Overview\nArchives (soft-deletes) a campaign; archiving is the delete operation, there is no hard destroy. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string",
            "description": "Campaign UID."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Campaign archived.",
            "examples": {
              "application/json": {
                "data": {
                  "uid": "abc123campaign",
                  "archived": true
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/campaigns/{uid}/confirmation_data": {
      "post": {
        "summary": "Pre-send recipient validation",
        "operationId": "campaignConfirmationData",
        "description": "## Overview\nDry-run that reports how many recipients will receive email/SMS and which are blocked, unsubscribed, already-received, or missing contact details; no messages are sent. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string",
            "description": "Campaign UID."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Recipient/channel selection to validate.",
            "schema": {
              "type": "object",
              "properties": {
                "channel": {
                  "type": "string",
                  "enum": [
                    "email",
                    "sms"
                  ],
                  "description": "Delivery channel."
                },
                "subject": {
                  "type": "string",
                  "description": "Override subject for this send."
                },
                "sms_content": {
                  "type": "string",
                  "description": "Override SMS content for this send."
                },
                "test": {
                  "type": "boolean",
                  "description": "Send a test to the business only."
                },
                "send_secondary": {
                  "type": "boolean",
                  "description": "Also send over the secondary channel."
                },
                "send_again": {
                  "type": "boolean",
                  "description": "Allow re-sending to recipients who already received it."
                },
                "double_opt_in": {
                  "type": "boolean",
                  "description": "Require double opt-in for SMS."
                },
                "scheduled_to": {
                  "type": "string",
                  "description": "ISO 8601 time to schedule the send (must be in the future). Omit to send now."
                },
                "all_clients": {
                  "type": "boolean",
                  "description": "Target all clients."
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Target clients matching these tags."
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Explicit client UIDs to target."
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Confirmation data.",
            "examples": {
              "application/json": {
                "data": {
                  "blocked": 1,
                  "unsubscribed": 2,
                  "already_received": 0,
                  "missing_email": 3,
                  "missing_phone": 5,
                  "will_send_email": 80,
                  "will_send_sms": 40,
                  "errors": []
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/campaigns/{uid}/estimate_recipients": {
      "get": {
        "summary": "Estimate recipients",
        "operationId": "estimateCampaignRecipients",
        "description": "## Overview\nReturns the estimated number of recipients for the campaign's current targeting. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string",
            "description": "Campaign UID."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Recipient estimate.",
            "examples": {
              "application/json": {
                "count": 120
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/campaigns/{uid}/recipients": {
      "get": {
        "summary": "List campaign recipients",
        "operationId": "listCampaignRecipients",
        "description": "## Overview\nReturns per-recipient tracking rows for a campaign, filterable by status, name, and channel. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string",
            "description": "Campaign UID."
          },
          {
            "in": "query",
            "name": "filter[by_status]",
            "required": false,
            "type": "string",
            "description": "Filter recipients by status (e.g., \"delivered\", \"bounced\", \"viewed\")."
          },
          {
            "in": "query",
            "name": "filter[by_name]",
            "required": false,
            "type": "string",
            "description": "Filter recipients by client name."
          },
          {
            "in": "query",
            "name": "filter[by_channel]",
            "required": false,
            "type": "string",
            "description": "Filter by channel.",
            "enum": [
              "email",
              "sms"
            ]
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "description": "Page number."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Recipients.",
            "examples": {
              "application/json": {
                "data": [
                  {
                    "client_uid": "cli1",
                    "delivered_at": "2026-06-01T10:00:00Z",
                    "viewed_at": null,
                    "clicked_at": null,
                    "status": "delivered",
                    "channel": "email"
                  }
                ],
                "page": 1
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/campaigns/{uid}/counters": {
      "get": {
        "summary": "Get campaign counters",
        "operationId": "getCampaignCounters",
        "description": "## Overview\nReturns aggregate funnel counters (added, delivered, viewed, clicked, acted, bounced, spam) for a campaign. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string",
            "description": "Campaign UID."
          },
          {
            "in": "query",
            "name": "filter[by_channel]",
            "required": false,
            "type": "string",
            "description": "Restrict counters to a channel.",
            "enum": [
              "email",
              "sms"
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Counters.",
            "examples": {
              "application/json": {
                "data": {
                  "added": 120,
                  "delivered": 118,
                  "viewed": 80,
                  "clicked": 25,
                  "acted": 10,
                  "bounced": 2,
                  "spam": 0
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/campaigns/suggested_campaigns": {
      "get": {
        "summary": "List suggested campaigns",
        "operationId": "listSuggestedCampaigns",
        "description": "## Overview\nReturns suggested or preset campaigns the business can clone. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string",
            "description": "Suggestion set to return.",
            "enum": [
              "campaigns",
              "automatic_campaigns"
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Suggested campaigns.",
            "examples": {
              "application/json": {
                "data": [
                  {
                    "uid": "sugg1",
                    "name": "Welcome series"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/campaigns/suggested_campaigns_by_category": {
      "get": {
        "summary": "List suggested campaigns by category",
        "operationId": "listSuggestedCampaignsByCategory",
        "description": "## Overview\nReturns suggested campaigns grouped by category. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaigns"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string",
            "description": "Suggestion set to return.",
            "enum": [
              "campaigns",
              "automatic_campaigns"
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Suggested campaigns by category.",
            "examples": {
              "application/json": {
                "data": {
                  "holidays": [
                    {
                      "uid": "sugg2",
                      "name": "Black Friday"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/scheduled_campaigns": {
      "get": {
        "summary": "List scheduled campaigns",
        "operationId": "listScheduledCampaigns",
        "description": "## Overview\nReturns scheduled and sent campaign instances, with manual/automatic, delivery-method, and sent-at range filters. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Scheduled Campaigns"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "manual_filter",
            "required": false,
            "type": "boolean",
            "description": "Filter to manual campaigns."
          },
          {
            "in": "query",
            "name": "automatic_filter",
            "required": false,
            "type": "boolean",
            "description": "Filter to automatic campaigns."
          },
          {
            "in": "query",
            "name": "delivery_method_filter",
            "required": false,
            "type": "string",
            "description": "Filter by delivery method (channel).",
            "enum": [
              "email",
              "sms"
            ]
          },
          {
            "in": "query",
            "name": "sent_at_filter[range][gte]",
            "required": false,
            "type": "string",
            "description": "Lower bound for the sent-at range (ISO 8601)."
          },
          {
            "in": "query",
            "name": "sent_at_filter[range][lte]",
            "required": false,
            "type": "string",
            "description": "Upper bound for the sent-at range (ISO 8601)."
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "description": "Page number."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Scheduled campaigns.",
            "examples": {
              "application/json": {
                "data": [
                  {
                    "uid": "sched123",
                    "campaign_uid": "abc123campaign",
                    "scheduled_to": "2026-07-01T09:00:00Z",
                    "status": "scheduled",
                    "channel": "email"
                  }
                ],
                "page": 1
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/scheduled_campaigns/{uid}/cancel": {
      "put": {
        "summary": "Cancel a scheduled campaign",
        "operationId": "cancelScheduledCampaign",
        "description": "## Overview\nCancels a scheduled campaign instance so it will not be sent. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Scheduled Campaigns"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string",
            "description": "Scheduled campaign UID."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Set cancel to true.",
            "schema": {
              "type": "object",
              "properties": {
                "cancel": {
                  "type": "boolean",
                  "description": "Set to true to cancel the scheduled campaign."
                }
              },
              "required": [
                "cancel"
              ]
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Scheduled campaign cancelled.",
            "examples": {
              "application/json": {
                "data": {
                  "uid": "sched123",
                  "status": "cancelled"
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/scheduled_campaigns/{uid}/change_time": {
      "put": {
        "summary": "Reschedule a scheduled campaign",
        "operationId": "changeScheduledCampaignTime",
        "description": "## Overview\nChanges the delivery time of a scheduled campaign; the new time must be in the future. Requires the staff member to have marketing permissions (`has_marketing_permissions`).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Scheduled Campaigns"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "uid",
            "required": true,
            "type": "string",
            "description": "Scheduled campaign UID."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "New scheduled time.",
            "schema": {
              "type": "object",
              "properties": {
                "scheduled_to": {
                  "type": "string",
                  "description": "New delivery time (ISO 8601, must be in the future)."
                }
              },
              "required": [
                "scheduled_to"
              ]
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Scheduled campaign rescheduled.",
            "examples": {
              "application/json": {
                "data": {
                  "uid": "sched123",
                  "scheduled_to": "2026-07-05T14:00:00Z"
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "403": {
            "description": "Forbidden - staff lacks marketing permissions (`has_marketing_permissions`)."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          },
          "422": {
            "description": "Unprocessable Entity - validation error.",
            "examples": {
              "application/json": {
                "errors": {
                  "base": [
                    "Validation failed"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/marketing/v1/campaign_templates": {
      "get": {
        "summary": "List campaign templates",
        "operationId": "listCampaignTemplates",
        "description": "## Overview\nReturns marketing campaign templates, filterable by category, campaign type, and entity type.\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaign Templates"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "filter[campaign_type]",
            "required": false,
            "type": "string",
            "description": "Template campaign type (e.g., \"pro\")."
          },
          {
            "in": "query",
            "name": "filter[category]",
            "required": false,
            "type": "string",
            "description": "Template category."
          },
          {
            "in": "query",
            "name": "filter[entity_type]",
            "required": false,
            "type": "string",
            "description": "Entity type the template applies to.",
            "enum": [
              "campaigns",
              "automatic_campaigns"
            ]
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "description": "Page number."
          },
          {
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer",
            "description": "Results per page."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Templates.",
            "examples": {
              "application/json": {
                "data": [
                  {
                    "uid": "tmpl1",
                    "name": "Newsletter",
                    "campaign_type": "pro",
                    "category": "general"
                  }
                ],
                "page": 1
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/marketing/v1/categories": {
      "get": {
        "summary": "List campaign categories",
        "operationId": "listCampaignCategories",
        "description": "## Overview\nReturns campaign template categories.\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaign Templates"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "filter[type]",
            "required": false,
            "type": "string",
            "description": "Category type."
          },
          {
            "in": "query",
            "name": "filter[entity_type]",
            "required": false,
            "type": "string",
            "description": "Entity type.",
            "enum": [
              "campaigns",
              "automatic_campaigns"
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Categories.",
            "examples": {
              "application/json": {
                "data": [
                  {
                    "key": "holidays",
                    "name": "Holidays"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/marketing/v1/campaign_triggers": {
      "get": {
        "summary": "List campaign triggers",
        "operationId": "listCampaignTriggers",
        "description": "## Overview\nReturns the business's automated-campaign triggers.\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaign Triggers"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Triggers.",
            "examples": {
              "application/json": {
                "data": [
                  {
                    "campaign_uid": "abc123campaign",
                    "active": true,
                    "campaign_type": "birthday",
                    "channel": "email"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a campaign trigger",
        "operationId": "createCampaignTrigger",
        "description": "## Overview\nCreates an automated-campaign trigger that sends a campaign when a client event matches (e.g., birthday, new lead).\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaign Triggers"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "campaign_uid",
            "required": true,
            "type": "string",
            "description": "UID of the campaign this trigger drives."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Trigger configuration.",
            "schema": {
              "type": "object",
              "properties": {
                "active": {
                  "type": "boolean",
                  "description": "Whether the trigger is active."
                },
                "channel": {
                  "type": "string",
                  "enum": [
                    "email",
                    "sms"
                  ],
                  "description": "Delivery channel."
                },
                "campaign_type": {
                  "type": "string",
                  "enum": [
                    "new_lead",
                    "new_customer",
                    "new_loyal",
                    "birthday",
                    "win_back",
                    "new_review",
                    "custom_date",
                    "first_completed_booking"
                  ],
                  "description": "Trigger type (which client event fires the automated send)."
                },
                "recipients_filter": {
                  "type": "string",
                  "description": "Serialized JSON recipient filter."
                },
                "date_filter": {
                  "type": "string",
                  "description": "Serialized JSON date filter."
                },
                "delivery_time": {
                  "type": "string",
                  "description": "Time of day to deliver (e.g., \"09:00\")."
                },
                "send_secondary": {
                  "type": "boolean",
                  "description": "Also send over the secondary channel."
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Trigger created.",
            "examples": {
              "application/json": {
                "data": {
                  "campaign_uid": "abc123campaign",
                  "active": true,
                  "campaign_type": "birthday",
                  "channel": "email"
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "422": {
            "description": "Unprocessable Entity - validation error.",
            "examples": {
              "application/json": {
                "errors": {
                  "base": [
                    "Validation failed"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/business/marketing/v1/campaign_triggers/{campaign_uid}": {
      "get": {
        "summary": "Get a campaign trigger",
        "operationId": "getCampaignTrigger",
        "description": "## Overview\nReturns the trigger for a given campaign.\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaign Triggers"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "campaign_uid",
            "required": true,
            "type": "string",
            "description": "Campaign UID."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Trigger.",
            "examples": {
              "application/json": {
                "data": {
                  "campaign_uid": "abc123campaign",
                  "active": true,
                  "campaign_type": "birthday",
                  "channel": "email"
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a campaign trigger",
        "operationId": "updateCampaignTrigger",
        "description": "## Overview\nUpdates a campaign trigger, e.g., activate or deactivate it or change its filters or delivery time.\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaign Triggers"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "campaign_uid",
            "required": true,
            "type": "string",
            "description": "Campaign UID."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Trigger fields to update.",
            "schema": {
              "type": "object",
              "properties": {
                "active": {
                  "type": "boolean",
                  "description": "Whether the trigger is active."
                },
                "channel": {
                  "type": "string",
                  "enum": [
                    "email",
                    "sms"
                  ],
                  "description": "Delivery channel."
                },
                "campaign_type": {
                  "type": "string",
                  "enum": [
                    "new_lead",
                    "new_customer",
                    "new_loyal",
                    "birthday",
                    "win_back",
                    "new_review",
                    "custom_date",
                    "first_completed_booking"
                  ],
                  "description": "Trigger type (which client event fires the automated send)."
                },
                "recipients_filter": {
                  "type": "string",
                  "description": "Serialized JSON recipient filter."
                },
                "date_filter": {
                  "type": "string",
                  "description": "Serialized JSON date filter."
                },
                "delivery_time": {
                  "type": "string",
                  "description": "Time of day to deliver (e.g., \"09:00\")."
                },
                "send_secondary": {
                  "type": "boolean",
                  "description": "Also send over the secondary channel."
                }
              }
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Trigger updated.",
            "examples": {
              "application/json": {
                "data": {
                  "campaign_uid": "abc123campaign",
                  "active": false,
                  "campaign_type": "birthday",
                  "channel": "email"
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "404": {
            "description": "Not Found - campaign UID does not exist."
          },
          "422": {
            "description": "Unprocessable Entity - validation error.",
            "examples": {
              "application/json": {
                "errors": {
                  "base": [
                    "Validation failed"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/settings/campaign_keyword": {
      "get": {
        "summary": "Get SMS keyword settings",
        "operationId": "getCampaignKeyword",
        "description": "## Overview\nReturns the business's SMS opt-in keyword configuration.\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaign SMS Keyword"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Keyword settings.",
            "examples": {
              "application/json": {
                "data": {
                  "keyword": "JOIN",
                  "success_message": "Thanks for joining!"
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/settings/campaign_keyword/check_keyword": {
      "get": {
        "summary": "Check SMS keyword availability",
        "operationId": "checkCampaignKeyword",
        "description": "## Overview\nChecks whether an SMS opt-in keyword is available.\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaign SMS Keyword"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "keyword",
            "required": true,
            "type": "string",
            "description": "Keyword to check."
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Availability.",
            "examples": {
              "application/json": {
                "data": {
                  "available": true
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/settings/campaign_keyword/set_keyword": {
      "post": {
        "summary": "Set SMS keyword",
        "operationId": "setCampaignKeyword",
        "description": "## Overview\nSets the business's SMS opt-in keyword.\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaign SMS Keyword"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Keyword to set.",
            "schema": {
              "type": "object",
              "properties": {
                "keyword": {
                  "type": "string",
                  "description": "The SMS opt-in keyword to set (e.g., \"JOIN\")."
                }
              },
              "required": [
                "keyword"
              ]
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Keyword set.",
            "examples": {
              "application/json": {
                "data": {
                  "keyword": "JOIN"
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "422": {
            "description": "Unprocessable Entity - validation error.",
            "examples": {
              "application/json": {
                "errors": {
                  "base": [
                    "Validation failed"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v2/settings/campaign_keyword/set_success_message": {
      "post": {
        "summary": "Set SMS keyword success message",
        "operationId": "setCampaignKeywordSuccessMessage",
        "description": "## Overview\nSets the confirmation message sent after a client opts in via the SMS keyword.\n\nAvailable for **Staff tokens**.",
        "tags": [
          "Campaign SMS Keyword"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Success message text.",
            "schema": {
              "type": "object",
              "properties": {
                "success_message": {
                  "type": "string",
                  "description": "Confirmation message sent after opt-in."
                }
              },
              "required": [
                "success_message"
              ]
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success message set.",
            "examples": {
              "application/json": {
                "data": {
                  "success_message": "Thanks for joining!"
                },
                "success": true
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid token."
          },
          "422": {
            "description": "Unprocessable Entity - validation error.",
            "examples": {
              "application/json": {
                "errors": {
                  "base": [
                    "Validation failed"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {staff_token}'"
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {staff_token}'"
      }
    }
  }
}
