{
  "openapi": "3.0.0",
  "info": {
    "title": "Clients Settings",
    "description": "An set of endpoints to manage Client Settings",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "ClientSettingsList": {
        "type": "object",
        "properties": {
          "client_settings": {
            "description": "List of Client Settings",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/clients/clientSettings.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/clients/client_settings/{client_uid}": {
      "get": {
        "summary": "Retrieve Client Settings",
        "description": "## Overview\nGet the client settings for a specific client.\n\n## Authentication\n**Available for Staff and Client Tokens.**",
        "parameters": [
          {
            "name": "client_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Client",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/clients/clientSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Client Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update Client Settings",
        "description": "## Overview\nUpdate the client settings for a specific client - Update the client settings for a specific client - Available for **Staff and Client Tokens**.",
        "parameters": [
          {
            "name": "client_uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Client",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "opt_out_transactional_sms": {
                    "type": "boolean",
                    "description": "Opt out from transactional SMS"
                  }
                },
                "required": [
                  "client_uid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/clients/clientSettings.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Client Settings"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}