{
    "openapi": "3.0.0",
    "info": {
        "title": "Sales",
        "description": "An set of endpoints to manage Client Settings",
        "version": "3.0"
    },
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
      "securitySchemes": {
        "Bearer": {
          "type": "http",
          "scheme": "bearer",
          "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
        }
      },
        "schemas": {
            "ClientSettingsList": {
              "type": "object",
              "properties": {
                  "client_settings": {
                      "description": "List of Client Settings",
                      "type": "array",
                      "items": {
                          "$ref": "https://vcita.github.io/developers-hub/entities/clients/clientSettings.json"
                      }
                  }
              }
            }
        }
    },
    "paths": {
        "/v3/clients/client_settings/": {
            "get": {
                "summary": "Get all Client Settings",
                "description": "Get a list of client settings for a list of clients of client uid/n - Available for **Staff and Client Tokens**",
                "parameters": [
                  {
                    "name": "client_uid_list",
                    "in": "query",
                    "schema": {     
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "description": "List of client uids",
                    "required": false
                  }, 
                  {
                    "name": "page",
                    "in": "query",
                    "schema": {
                      "type": "integer"
                    },
                    "description": "Page number of results. Default: 1",
                    "required": false
                  },
                  {
                    "name": "per_page",
                    "in": "query",
                    "schema": {    
                      "type": "integer"
                    },
                    "description": "How many items to return per page. Default: 25. Max: 100",
                    "required": false
                  },
                  {
                    "name": "sort",
                    "in": "query",
                    "schema": { 
                      "type": "string"
                    },
                    "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                    "required": false
                  }
                ],
                "responses": {
                  "200": {
                      "description": "",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "allOf": [
                                      {
                                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                      },
                                      {
                                          "properties": {
                                              "data": {
                                                  "type": "object",
                                                  "$ref": "#/components/schemas/ClientSettingsList"
                                              }
                                          }
                                      }
                                  ]
                              }
                          }
                      }
                  }
                },
                "tags": [
                    "Client Settings"
                ]
            }
        },
        "/v3/clients/client_settings/{client_uid}": {
            "put": {
                "summary": "Update Client Settings",
                "description": "Update the client settings for a specific client - Available for **Staff and Client Tokens**",
                "parameters": [
                    {
                        "name": "client_uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Client",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "opt_out_trasactional_sms": {
                                        "type": "boolean",
                                        "description": "Opt out from transactional SMS"
                                    }
                                },
                                "required": [
                                    "client_uid"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/clients/clientSettings.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Client Settings"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        }
    }
  }