{
  "openapi": "3.0.0",
  "info": {
    "title": "Payment Cards",
    "description": "Payment Cards endpoints for listing stored payment cards. Used by both the client app (Client Tokens) and backoffice (Staff Tokens).",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header."
      }
    }
  },
  "paths": {
    "/v3/payments/client_payment_cards": {
      "get": {
        "summary": "List stored Payment Cards",
        "description": "Returns stored payment cards for a client.\n\nAvailable for **Client and Staff tokens**.\n- For **Client tokens**, the client is inferred from the authenticated token. The `client_uid` parameter is ignored if provided.\n- For **Staff tokens**, `client_uid` is required to specify which client's cards to retrieve.",
        "parameters": [
          {
            "name": "client_uid",
            "in": "query",
            "required": false,
            "description": "The unique identifier (UID) of the client whose payment cards to retrieve. Required for **Staff tokens**. Ignored for **Client tokens** (the client is inferred from the authenticated token).",
            "schema": {
              "type": "string"
            },
            "example": "clt_aaabbbccc112233"
          }
        ],
        "responses": {
          "200": {
            "description": "Stored cards retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "client_payment_cards": {
                              "description": "List of stored payment cards for the client.",
                              "type": "array",
                              "items": {
                                "$ref": "https://vcita.github.io/developers-hub/entities/payments/client_payment_card.json"
                              }
                            }
                          }
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "constraints": {
                              "type": "object",
                              "properties": {
                                "max_limit_reached": {
                                  "type": "boolean",
                                  "description": "Indicates if the client has reached the maximum number of stored cards."
                                }
                              },
                              "required": [
                                "max_limit_reached"
                              ]
                            }
                          },
                          "required": [
                            "constraints"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payment Cards"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}
