{
  "openapi": "3.0.0",
  "info": {
    "title": "Payment Cards",
    "description": "Payment Cards endpoints for listing stored payment cards. Used by both the client app (Client Tokens) and backoffice (Staff Tokens).",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {staff_token}'"
      }
    }
  },
  "paths": {
    "/v3/payments/client_payment_cards/{client_uid}": {
      "get": {
        "summary": "List stored Payment Cards",
        "description": "Returns a client's stored payment cards.\n\nAvailable for **Client Tokens** and **Staff Tokens**.\n- `client_uid` is required.\n- For **Client Tokens**, `client_uid` must match the authenticated client.\n- For **Staff Tokens** (backoffice), `client_uid` identifies which client's cards to retrieve (subject to staff permissions).",
        "parameters": [
          {
            "name": "client_uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier (UID) of the Client.",
            "schema": {
              "type": "string"
            },
            "example": "clt_aaabbbccc112233"
          }
        ],
        "responses": {
          "200": {
            "description": "Stored cards retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/payments/client_payment_cards.json"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "constraints": {
                              "type": "object",
                              "properties": {
                                "max_limit_reached": {
                                  "type": "boolean",
                                  "description": "Indicates if the client has reached the maximum number of stored cards."
                                }
                              },
                              "required": [
                                "max_limit_reached"
                              ]
                            }
                          },
                          "required": [
                            "constraints"
                          ]
                        }
                      },
                      "required": [
                        "meta"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payment Cards"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}

