{
  "openapi": "3.0.0",
  "info": {
      "title": "Sales",
      "description": "An set of endpoints to manage Coupons and other sales data in the inTandem platform",
      "version": "3.0"
  },
  "servers": [
      {
          "url": "https://api.vcita.biz",
          "description": "API Gateway server"
      }
  ],
  "components": {
      "schemas": {
          "Response": {
              "properties": {
                  "success": {
                      "type": "boolean"
                  },
                  "data": {
                      "type": "object"
                  }
              },
              "required": [
                  "success",
                  "data"
              ]
          },
          "Object": {
              "properties": {}
          },
          "CouponsList": {
            "type": "object",
            "properties": {
                "coupons": {
                    "description": "List of Coupons",
                    "type": "array",
                    "items": {
                        "$ref": "https://vcita.github.io/developers-hub/entities/sales/Coupon.json"
                    }
                }
            }
          }
      }
  },
  "paths": {
      "/v3/sales/coupons": {
          "get": {
              "summary": "Get all Coupons",
              "description": "Get a list of Coupons - Available for **Business Tokens**",
              "parameters": [
                {
                  "name": "status",
                  "in": "query",
                  "schema": {  
                    "type": "string" 
                  },
                  "description": "Filter parameter filter[by_status] = active / expiered / scheduled / still_available",
                  "required": false
                },
                {
                  "name": "page",
                  "in": "query",
                  "schema": {
                    "type": "integer"
                  },
                  "description": "Page number of results. Default: 1",
                  "required": false
                },
                {
                  "name": "per_page",
                  "in": "query",
                  "schema": {    
                    "type": "integer"
                  },
                  "description": "How many items to return per page. Default: 25. Max: 100",
                  "required": false
                },
                {
                  "name": "sort",
                  "in": "query",
                  "schema": { 
                    "type": "string"
                  },
                  "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                  "required": false
                }
              ],
              "responses": {
                "200": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                    },
                                    {
                                        "properties": {
                                            "data": {
                                                "type": "object",
                                                "$ref": "#/components/schemas/CouponsList"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                }
              },
              "tags": [
                  "Coupons"
              ]
          }
      }
  }
}