{
  "openapi": "3.0.0",
  "info": {
      "title": "Sales",
      "description": "An set of endpoints to manage Coupons and other sales data in the inTandem platform",
      "version": "3.0"
  },
  "servers": [
      {
          "url": "https://api.vcita.biz",
          "description": "API Gateway server"
      }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
      "schemas": {
          "Response": {
              "properties": {
                  "success": {
                      "type": "boolean"
                  },
                  "data": {
                      "type": "object"
                  }
              },
              "required": [
                  "success",
                  "data"
              ]
          },
          "Object": {
              "properties": {}
          },
          "CouponsList": {
            "type": "object",
            "properties": {
                "coupons": {
                    "description": "List of Coupons",
                    "type": "array",
                    "items": {
                        "$ref": "https://vcita.github.io/developers-hub/entities/sales/Coupon.json"
                    }
                }
            }
          }
      }
  },
  "paths": {
      "/v3/sales/coupons": {
          "get": {
              "summary": "Get all Coupons",
              "description": "Get a list of Coupons - Available for **Staff Tokens**, **Directory Tokens**, and **App Tokens**",
              "parameters": [
                {
                  "name": "status",
                  "in": "query",
                  "schema": {  
                    "type": "string",
                    "enum": ["active", "expiered", "scheduled", "still_available"]
                  },
                  "description": "Filter parameter coupon status, optional values = [active / expiered / scheduled / still_available]",
                  "required": false
                },
                {
                  "name": "uid_list",
                  "in": "query",
                  "schema": {     
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "description": "Filter the coupon list based on an array of coupon unique identifiers (UIDs)",
                  "required": false
                }, 
                {
                  "name": "page",
                  "in": "query",
                  "schema": {
                    "type": "integer"
                  },
                  "description": "Page number of results. Default: 1",
                  "required": false
                },
                {
                  "name": "per_page",
                  "in": "query",
                  "schema": {    
                    "type": "integer"
                  },
                  "description": "How many items to return per page. Default: 25. Max: 100",
                  "required": false
                },
                {
                  "name": "sort",
                  "in": "query",
                  "schema": { 
                    "type": "string"
                  },
                  "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                  "required": false
                }
              ],
              "responses": {
                "200": {
                    "description": "Successfully retrieved coupons list",
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                    },
                                    {
                                        "properties": {
                                            "data": {
                                                "type": "object",
                                                "$ref": "#/components/schemas/CouponsList"
                                            }
                                        }
                                    }
                                ]
                            },
                            "example": {
                                "success": true,
                                "data": {
                                    "coupons": [
                                        {
                                            "uid": "cpn-d290f1ee-6c54",
                                            "business_uid": "biz123abc45678",
                                            "coupon_name": "Summer Sale 2026",
                                            "coupon_code": "SUMMER25",
                                            "discount_type": "percent",
                                            "discount_value": 25,
                                            "status": "active",
                                            "valid_for_services": [],
                                            "valid_for_staff": [],
                                            "start_date": "2026-01-01T00:00:00.000Z",
                                            "expiration_date": "2026-03-31T23:59:59.000Z",
                                            "max_redemptions": 100,
                                            "max_redemptions_per_client": 1,
                                            "total_redemptions": 15,
                                            "created_at": "2025-12-15T10:00:00.000Z",
                                            "updated_at": "2026-01-12T10:00:00.000Z"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "401": {
                    "description": "Unauthorized - Invalid or missing authentication token"
                },
                "404": {
                    "description": "Not Found - Requested resource not found"
                },
                "422": {
                    "description": "Unprocessable Entity - Validation failed"
                },
                "500": {
                    "description": "Internal Server Error"
                }
              },
              "tags": [
                  "Coupons"
              ]
          }
      }
  }
}