{
  "openapi": "3.0.0",
  "info": {
    "title": "Payments",
    "description": "A set of endpoints to manage invoices and payments in the inTandem platform",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "paths": {
    "/v3/payments/credit_notes": {
      "get": {
        "summary": "Get all Credit Notes",
        "description": "## Overview\nGet a list of credit notes with pagination.",
        "parameters": [
          {
            "name": "invoice_uid",
            "required": false,
            "in": "query",
            "description": "Filter credit notes by invoice UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "credit_notes": {
                              "description": "List of Credit Notes",
                              "type": "array",
                              "items": {
                                "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Credit Note"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a Credit Note",
        "description": "## Overview\nCreates and issues a new credit note against an existing invoice. The credit note is immediately issued (no draft status). The service validates that the credit amount doesn't exceed the invoice's remaining creditable balance, generates EN 16931-compliant XML, stores it in S3, and publishes a `billing.credit_note.created` event.\n\nAvailable for **Staff, Directory, and Client tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "invoice_uid": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json#/properties/invoice_uid"
                  },
                  "notes": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json#/properties/notes"
                  },
                  "line_items": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json#/properties/line_items"
                  },
                  "unique_number": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json#/properties/unique_number"
                  },
                  "source_payment_uid": {
                    "type": "string",
                    "description": "Optional: The unique identifier of the payment being refunded. Included when refunding a specific payment. Used for refund flow, is not stored on the credit note entity and not returned on the response"
                  },
                  "notify_recipient": {
                    "type": "boolean",
                    "description": "Whether to notify the recipient. Used only during creation to determine if email should be sent. Not saved on credit note."
                  }
                },
                "required": [
                  "invoice_uid",
                  "line_items"
                ],
                "example": {
                  "invoice_uid": "inv_abc123",
                  "notes": "Goodwill credit.",
                  "line_items": [
                    {
                      "name": "Consulting Services Credit",
                      "quantity": 1,
                      "unit_amount": 50,
                      "taxes": [
                        {
                          "name": "VAT",
                          "rate": 20,
                          "tax_total": 10
                        }
                      ]
                    },
                    {
                      "name": "Custom Goodwill Credit",
                      "quantity": 1,
                      "unit_amount": 25,
                      "taxes": []
                    }
                  ],
                  "source_payment_uid": "pmt_xyz789",
                  "notify_recipient": true
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Credit Note"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/payments/credit_notes/{uid}": {
      "get": {
        "summary": "Retrieve a Credit Note",
        "description": "## Overview\nRetrieves the details of a specific credit note by its UID.\n\nAvailable for **Staff, Directory, and Client tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Credit Note",
            "schema": {
              "type": "string"
            },
            "example": "cn_abc123def456"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/payments/creditNote.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Credit Note"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  }
}
