{
  "openapi": "3.0.0",
  "info": {
    "title": "Payment Plans",
    "description": "A set of endpoints to manage payment plans in the sales domain. A payment plan collects a fixed amount from a client's saved card on a recurring schedule. A plan is either **standalone**, where every installment is an independent charge, or **linked** to a payment request through `payment_request_uid`, where every installment is collected against an open invoice and reduces its balance until it is fully paid.",
    "version": "1.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "PaymentPlansList": {
        "type": "object",
        "properties": {
          "payment_plans": {
            "description": "List of PaymentPlans",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/sales/paymentPlan.json"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The name of the field that caused the error (e.g., \"payment_request_uid\", \"amount\")."
                },
                "code": {
                  "type": "string",
                  "description": "A machine-readable error code (e.g., \"invalid\", \"missing\", \"missing_field\")."
                },
                "message": {
                  "type": "string",
                  "description": "A human-readable error message describing the issue."
                }
              }
            }
          }
        },
        "required": [
          "success",
          "errors"
        ]
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {token}'"
      }
    }
  },
  "paths": {
    "/v3/sales/payment_plans": {
      "get": {
        "operationId": "listPaymentPlans",
        "summary": "Get all PaymentPlans",
        "description": "## Overview\nGet a list of PaymentPlans for the business, newest updated first. Use `payment_request_uid` to find the plan collecting against a specific invoice, and `status` to list only running plans.\n\nAvailable for **Staff Tokens**.",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "name": "sort",
            "required": false,
            "in": "query",
            "description": "Sort by fields. Example: sort=next_payment_date:asc,created_at:desc",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "name": "payment_request_uid",
            "required": false,
            "in": "query",
            "description": "Return only plans linked to this payment request. Combine with `status=active` to check whether an invoice already has a running plan.",
            "schema": {
              "type": "string"
            },
            "example": "a1b2c3d4e5f6g7h8"
          },
          {
            "name": "status",
            "required": false,
            "in": "query",
            "description": "Return only plans in this state. Note that a plan stopped by a declined charge is reported as `cancelled`, not as a distinct failed state.",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "completed",
                "cancelled"
              ]
            },
            "example": "active"
          },
          {
            "name": "matter_uid",
            "required": false,
            "in": "query",
            "description": "Return only plans belonging to this matter.",
            "schema": {
              "type": "string"
            },
            "example": "m1m2m3m4m5m6m7m8"
          },
          {
            "name": "client_uid",
            "required": false,
            "in": "query",
            "description": "Return only plans belonging to matters of this client.",
            "schema": {
              "type": "string"
            },
            "example": "cl1cl2cl3cl4cl5c"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of PaymentPlans",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/PaymentPlansList"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "payment_plans": [
                      {
                        "uid": "7gilictbt12jir3v",
                        "name": "Kitchen remodel plan",
                        "description": "3 monthly installments for invoice #1042",
                        "payment_request_uid": "a1b2c3d4e5f6g7h8",
                        "amount": 333.34,
                        "amount_paid": 666.68,
                        "currency": "USD",
                        "cycles": 3,
                        "cycles_count": 2,
                        "frequency_type": "monthly",
                        "start_date": "2026-09-01T09:00:00Z",
                        "end_date": "2026-11-01T09:00:00Z",
                        "next_payment_date": "2026-11-01T09:00:00Z",
                        "status": "active",
                        "matter_uid": "m1m2m3m4m5m6m7m8",
                        "staff_uid": "1c3ab579d2d31fbb",
                        "payment_method": {
                          "type": "card",
                          "uid": "c1c2c3c4c5c6c7c8"
                        },
                        "canceled_by": "",
                        "canceled_date": null,
                        "cancel_reason": null,
                        "created_at": "2026-08-20T10:15:00Z",
                        "updated_at": "2026-10-01T09:00:12Z"
                      },
                      {
                        "uid": "9kk2m4p6r8t0v2x4",
                        "name": "Monthly retainer",
                        "description": "Ongoing retainer, not tied to an invoice",
                        "payment_request_uid": null,
                        "amount": 150.0,
                        "amount_paid": 450.0,
                        "currency": "USD",
                        "cycles": 12,
                        "cycles_count": 3,
                        "frequency_type": "monthly",
                        "start_date": "2026-06-01T09:00:00Z",
                        "end_date": "2027-05-01T09:00:00Z",
                        "next_payment_date": "2026-09-01T09:00:00Z",
                        "status": "active",
                        "matter_uid": "m9m8m7m6m5m4m3m2",
                        "staff_uid": "1c3ab579d2d31fbb",
                        "payment_method": {
                          "type": "card",
                          "uid": "d1d2d3d4d5d6d7d8"
                        },
                        "canceled_by": "",
                        "canceled_date": null,
                        "cancel_reason": null,
                        "created_at": "2026-05-28T14:02:00Z",
                        "updated_at": "2026-08-01T09:00:07Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "message": "Authentication is required to access this resource"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token is valid but not permitted to perform this action on this business.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "message": "You are not allowed to perform this action"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. Errors use the standard envelope, with `field` naming the offending parameter and `code` a machine-readable reason (e.g., `missing_field`, `invalid`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "amount",
                      "code": "invalid",
                      "message": "amount must be greater than 0"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payment Plan"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "operationId": "createPaymentPlan",
        "summary": "Create a PaymentPlan",
        "description": "Create a PaymentPlan that charges the client's saved card on a recurring schedule. Omit `payment_request_uid` for a standalone plan; supply it to collect against an open invoice.\n\n`amount` is validated, not derived. For a linked plan, divide the invoice's open balance by `cycles` and **round up** to two decimals — the final installment is then clamped down to the balance that actually remains, so the invoice lands on exactly zero. A 1,000.00 invoice over 3 cycles takes `amount: 333.34`, collecting 333.34, 333.34 and 333.32.\n\n`cycles` is required for every `frequency_type` except `one_time`, where it is ignored and stored as 1.\n\nAvailable for **Staff Tokens**.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "A short name for the plan, shown to the staff member and to the client (e.g., \"Kitchen remodel plan\")"
                  },
                  "description": {
                    "type": "string",
                    "description": "A free-text description of the plan (e.g., \"3 monthly installments for invoice #1042\")"
                  },
                  "payment_request_uid": {
                    "type": "string",
                    "nullable": true,
                    "description": "The payment request this plan collects against.\n\n* **When set** — the plan is **linked**: each installment is charged against that payable's open balance instead of creating a standalone charge, reducing the invoice balance until it is paid.\n* **When null** — the plan is **standalone**: each installment is an independent charge, unconnected to any invoice.\n\nOnly an open invoice's payment request may be linked, and the value is immutable after creation. Treat it as an opaque identifier — the length varies by payable type. Obtain it from `GET /business/payments/v1/payment_requests` (e.g., \"a1b2c3d4e5f6g7h8\")"
                  },
                  "amount": {
                    "type": "number",
                    "description": "The amount charged per installment, in the plan's currency. Must be greater than 0. For a linked plan this is the per-installment amount the client calculated by dividing the invoice balance across `cycles` and **rounding up** to two decimals; the last installment is then clamped down to the remaining balance, so the amount actually collected on the final cycle may be lower than this value. (e.g., 333.34)"
                  },
                  "currency": {
                    "type": "string",
                    "description": "Three-letter ISO 4217 currency code. For a linked plan this must equal the currency of the linked payment request (e.g., \"USD\", \"EUR\", \"GBP\")"
                  },
                  "cycles": {
                    "type": "integer",
                    "description": "The total number of installments the plan will collect. Must be between 1 and 100. Required unless `frequency_type` is `one_time`, in which case it is ignored and stored as 1 (e.g., 3)",
                    "minimum": 1,
                    "maximum": 100
                  },
                  "frequency_type": {
                    "type": "string",
                    "description": "How often the plan collects an installment.\n\n* `one_time` - A single payment on `start_date`.\n* `weekly` - Every week.\n* `bi_weekly` - Every two weeks.\n* `monthly` - Every month.",
                    "enum": [
                      "one_time",
                      "weekly",
                      "bi_weekly",
                      "monthly"
                    ]
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date-time",
                    "description": "When the first installment is collected, in ISO 8601 format (e.g., \"2026-09-01T09:00:00Z\")"
                  },
                  "matter_uid": {
                    "type": "string",
                    "description": "The unique identifier of the client's matter this plan belongs to. For a linked plan this must be the same matter the payment request sits on (e.g., \"m1m2m3m4m5m6m7m8\")",
                    "x-reference-to": "clients.matter"
                  },
                  "send_receipt": {
                    "type": "boolean",
                    "description": "Whether a receipt is emailed to the client after each collected installment. For a linked plan the receipt's subject is the invoice.\n\nRequired when creating a plan, but **not returned in responses** (e.g., true)"
                  },
                  "payment_method": {
                    "type": "object",
                    "description": "The saved payment method charged on every installment. It must belong to the matter's client and use the same payment provider as the business's payment gateway",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The kind of saved payment method being charged. Only a saved card is supported today (e.g., \"card\")",
                        "enum": [
                          "card"
                        ]
                      },
                      "uid": {
                        "type": "string",
                        "description": "The unique identifier of the saved payment method identified by `type`. For `card`, obtain it from `GET /platform/v1/clients/{client_id}/payment/cards` (e.g., \"c1c2c3c4c5c6c7c8\")"
                      }
                    },
                    "required": [
                      "type",
                      "uid"
                    ]
                  }
                },
                "required": [
                  "name",
                  "amount",
                  "currency",
                  "frequency_type",
                  "start_date",
                  "matter_uid",
                  "send_receipt",
                  "payment_method"
                ]
              },
              "example": {
                "name": "Kitchen remodel plan",
                "description": "3 monthly installments for invoice #1042",
                "payment_request_uid": "a1b2c3d4e5f6g7h8",
                "amount": 333.34,
                "currency": "USD",
                "cycles": 3,
                "frequency_type": "monthly",
                "start_date": "2026-09-01T09:00:00Z",
                "matter_uid": "m1m2m3m4m5m6m7m8",
                "send_receipt": true,
                "payment_method": {
                  "type": "card",
                  "uid": "c1c2c3c4c5c6c7c8"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The PaymentPlan was created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/sales/paymentPlan.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "message": "Authentication is required to access this resource"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token is valid but not permitted to perform this action on this business.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "message": "You are not allowed to perform this action"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. Errors use the standard envelope, with `field` naming the offending parameter and `code` a machine-readable reason (e.g., `missing_field`, `invalid`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "amount",
                      "code": "invalid",
                      "message": "amount must be greater than 0"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payment Plan"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/sales/payment_plans/{uid}": {
      "get": {
        "operationId": "retrievePaymentPlan",
        "summary": "Retrieve a PaymentPlan",
        "description": "## Overview\nRetrieve a specific PaymentPlan based on its unique identifier (UID), including `payment_request_uid` and the plan's collection progress.\n\nAvailable for **Staff Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the PaymentPlan",
            "schema": {
              "type": "string"
            },
            "example": "7gilictbt12jir3v"
          }
        ],
        "responses": {
          "200": {
            "description": "The requested PaymentPlan",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/sales/paymentPlan.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "message": "Authentication is required to access this resource"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token is valid but not permitted to perform this action on this business.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "message": "You are not allowed to perform this action"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No PaymentPlan with this uid exists for the business.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "scheduled_payments_rule_uid",
                      "code": "missing",
                      "message": "Not found"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payment Plan"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "patch": {
        "operationId": "updatePaymentPlan",
        "summary": "Update a PaymentPlan",
        "description": "Update a PaymentPlan. Only two fields are accepted:\n\n* `payment_method` — charge a different saved card from the next installment onwards.\n* `status` — set to `cancelled` to stop the plan. No further installment is collected. Installments already collected are not refunded, and for a linked plan they stay applied to the invoice. `cancelled` is the only status a client may set, and only while the plan is `active`.\n\nAvailable for **Staff Tokens**.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the PaymentPlan",
            "schema": {
              "type": "string"
            },
            "example": "7gilictbt12jir3v"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "At least one of `payment_method` or `status` must be supplied.",
                "properties": {
                  "payment_method": {
                    "type": "object",
                    "description": "The saved payment method charged on every installment. It must belong to the matter's client and use the same payment provider as the business's payment gateway",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The kind of saved payment method being charged. Only a saved card is supported today (e.g., \"card\")",
                        "enum": [
                          "card"
                        ]
                      },
                      "uid": {
                        "type": "string",
                        "description": "The unique identifier of the saved payment method identified by `type`. For `card`, obtain it from `GET /platform/v1/clients/{client_id}/payment/cards` (e.g., \"c1c2c3c4c5c6c7c8\")"
                      }
                    },
                    "required": [
                      "type",
                      "uid"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "description": "Set to `cancelled` to stop the plan. This is the only value a client may set (e.g., \"cancelled\")",
                    "enum": [
                      "cancelled"
                    ]
                  }
                },
                "minProperties": 1
              },
              "example": {
                "status": "cancelled"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated PaymentPlan",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/sales/paymentPlan.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, expired or invalid bearer token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "message": "Authentication is required to access this resource"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "The token is valid but not permitted to perform this action on this business.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "message": "You are not allowed to perform this action"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No PaymentPlan with this uid exists for the business.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "scheduled_payments_rule_uid",
                      "code": "missing",
                      "message": "Not found"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "Validation failed. Errors use the standard envelope, with `field` naming the offending parameter and `code` a machine-readable reason (e.g., `missing_field`, `invalid`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "amount",
                      "code": "invalid",
                      "message": "amount must be greater than 0"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Payment Plan"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}
