{
  "host": "api.vchost.co",
  "swagger": "2.0",
  "info": {
    "title": "Sales",
    "description": "A set of endpoints to manage sales activities between businesses and clients, including, payments, coupons,",
    "version": "1.0",
    "contact": {}
  },
  "paths": {
    "/v3/sales/coupons": {
      "get": {
        "summary": "Get all coupons",
        "description": "Get a list of Coupons\n\nAvailable for **Business Tokens**",
        "parameters": [
          {
            "name": "by_status",
            "type": "string",
            "description": "Optional send parameter by_status to get active / expiered / scheduled / still_available coupons",
            "required": false
          },
          {
            "name": "Authorization",
            "in": "header",
            "type": "string",
            "required": true,
            "description": "The format of the API authorization header should be: 'Authorization': \"Bearer API_TOKEN\"",
            "x-example": "Bearer abc...123"
          }
        ],
        "x-amazon-apigateway-integration": {
          "responses": {
            "default": {
              "statusCode": "200"
            }
          },
          "httpMethod": "GET"
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Coupons"
        ],
        "security": [
          {
            "default": [
              "business/payments"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "examples": {
              "application/json": {
                "success": true,
                "data": {
                  "coupons": [
                    {
                      "uid": "wo9jvxhpb9fqmrqp",
                      "business_uid": "k72pvtwaui4pa05v",
                      "coupon_name": "General 20% OFF coupon",
                      "discount_type": "percent",
                      "discount_value": 20.0,
                      "coupon_code": "SNT6CDBWKY",
                      "status": "active",
                      "valid_for_services": [
                        "service_uid1"
                      ],
                      "valid_for_staff": [
                        "staff_uid1"
                      ],
                      "start_date": "2024-04-21T11:35:52.000+03:00",
                      "expiration_date": "2025-04-21T11:35:52.000+03:00",
                      "max_redemptions": 25,
                      "max_redemptions_per_client": 1,
                      "total_redemptions": 0,
                      "created_at": "2024-04-21T11:35:52.000+03:00",
                      "updated_at": "2024-04-21T11:35:52.000+03:00"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}