{
  "openapi": "3.0.0",
  "info": {
    "title": "Sales Reports API",
    "description": "A set of endpoints to manage and retrieve sales dashboard data within the inTandem platform, providing detailed insights on payments and forecasts.",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Main API Gateway server for accessing sales reports"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authentication method using a Bearer token. Include the token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "PaymentsWidget": {
        "type": "object",
        "properties": {
          "total_payments_due": {
            "type": "number",
            "format": "double",
            "description": "The total outstanding amount due for payment requests"
          },
          "total_payments": {
            "type": "object",
            "properties": {
              "current_year": {
                "type": "number",
                "description": "Total payment amount collected for the current year."
              },
              "last_year": {
                "type": "string",
                "description": "Total payment amount collected in the previous year."
              }
            }
          },
          "overdue_payments_summary": {
            "type": "object",
            "properties": {
              "total_overdue": {
                "type": "string",
                "description": "The total overdue amount of payment requests."
              },
              "total_overdue_count": {
                "type": "number",
                "description": "The total number of overdue payment requests."
              },
              "last_week": {
                "type": "string",
                "description": "Total overdue payment requests amount from the last week."
              },
              "last_week_count": {
                "type": "number",
                "description": "Number of overdue payment requests from the last week."
              },
              "last_month": {
                "type": "string",
                "description": "Total overdue payment requests amount from the last month."
              },
              "last_month_count": {
                "type": "number",
                "description": "Number of overdue payment requests from the last month."
              },
              "old": {
                "type": "string",
                "description": "The total amount for overdue payment requests that are older than 30 days."
              },
              "old_count": {
                "type": "number",
                "description": "Count of older overdue payment request transactions that are older than 30 days."
              }
            }
          },
          "pending_estimates": {
            "type": "object",
            "properties": {
              "count": {
                "type": "number",
                "description": "The total count of pending payment estimates that have not yet been confirmed."
              }
            }
          }
        }
      },
      "PaymentsForecast": {
        "type": "object",
        "properties": {
          "payment_forcast": {
            "description": "An array of forecasted payment details for each month.",
            "type": "array",
            "items": {
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The date representing the forecasted payment period."
                },
                "amount": {
                  "type": "number",
                  "format": "double",
                  "description": "The forecasted payment amount for the given date."
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/sales/reports/payments_widget": {
      "get": {
        "summary": "Retrieve Payments Widget Data",
        "description": "## Overview\nFetch summarized data for the Payments widget, including total payments, overdue payments, and pending estimates. This endpoint is accessible with **Staff Tokens** only.",
        "responses": {
          "200": {
            "description": "Successful response containing Payments widget data.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/PaymentsWidget"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Sales Reports"
        ]
      }
    },
    "/v3/sales/reports/forecast_payments": {
      "get": {
        "summary": "Retrieve Payments Forecast Data",
        "description": "## Overview\nFetch detailed data for the Payments forecast widget, providing predictions of future payments on a month-by-month basis. This endpoint is accessible with **Staff Tokens** only.",
        "responses": {
          "200": {
            "description": "Successful response containing Payments forecast data.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/PaymentsForecast"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Sales Reports"
        ]
      }
    }
  }
}