{
    "openapi": "3.0.0",
    "info": {
        "title": "Sales Reports",
        "description": "An set of endpoints to manage sales dashboard data in the inTandem platform",
        "version": "3.0"
    },
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
      "securitySchemes": {
        "Bearer": {
          "type": "http",
          "scheme": "bearer",
          "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
        }
      },
      "schemas": {
          "PaymentsWidget": {
            "type": "object",
            "properties": {
                "total_payments_due": {
                    "type": "number",
                    "format": "double",
                    "description": "The total amount of payments due"
                },
                "total_payments": {
                    "type": "object",
                    "properties": {
                    "current_year": {
                        "type": "number",
                        "description": "Total payments for the current year"
                    },
                    "last_year": {
                        "type": "string",
                        "description": "Total payments for the last year"
                    }
                    }
                },
                "overdue_payments_summary": {
                    "type": "object",
                    "properties": {
                    "total_overdue": {
                        "type": "string",
                        "description": "Total overdue payments"
                    },
                    "total_overdue_count": {
                        "type": "number",
                        "description": "Total count of overdue payments"
                    },
                    "last_week": {
                        "type": "string",
                        "description": "Overdue payments from last week"
                    },
                    "last_week_count": {
                        "type": "number",
                        "description": "Count of overdue payments from last week"
                    },
                    "last_month": {
                        "type": "string",
                        "description": "Overdue payments from last month"
                    },
                    "last_month_count": {
                        "type": "number",
                        "description": "Count of overdue payments from last month"
                    },
                    "old": {
                        "type": "string",
                        "description": "Old overdue payments"
                    },
                    "old_count": {
                        "type": "number",
                        "description": "Count of old overdue payments"
                    }
                    }
                },
                "pending_estimates": {
                    "type": "object",
                    "properties": {
                    "count": {
                        "type": "number",
                        "description": "Count of pending estimates"
                    }
                    }
                }
            }
          },
          "PaymentsForecast": {
            "type": "object",
            "properties": {
                "payment_forcast": {
                    "description": "List of payments forcasted per month",
                    "type": "array",
                    "items": {
                        "properties": {
                            "date": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The date of the payments"
                            },
                            "amount": {
                                "type": "number",
                                "format": "double",
                                "description": "The $ amount of the payments"
                            }
                        }
                    }
                }
            }
          }
      }
    },
    "paths": {
        "/v3/sales/reports/payments_widget": {
            "get": {
                "summary": "Payments general widget",
                "description": "Get summerarized data for the Payments widget - Available for **Staff Tokens**",
                "parameters": [
                  {
                    "name": "view",
                    "in": "query",
                    "schema": {  
                      "type": "string",
                      "enum": ["staff", "team"]
                    },
                    "description": "Filter parameter to get the widget data for staff or team view",
                    "required": true
                  }
                ],
                "responses": {
                  "200": {
                      "description": "",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "allOf": [
                                      {
                                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                      },
                                      {
                                          "properties": {
                                              "data": {
                                                  "type": "object",
                                                  "$ref": "#/components/schemas/PaymentsWidget"
                                              }
                                          }
                                      }
                                  ]
                              }
                          }
                      }
                  }
                },
                "tags": [
                    "Sales Reports"
                ]
            }
        },
        "/v3/sales/reports/forecast_payments": {
            "get": {
                "summary": "Payments forecast widget",
                "description": "Get summerarized data for the Payments widget - Available for **Staff Tokens**",
                "parameters": [
                  {
                    "name": "view",
                    "in": "query",
                    "schema": {  
                      "type": "string",
                      "enum": ["staff", "team"]
                    },
                    "description": "Filter parameter to get the widget data for staff or team view",
                    "required": true
                  }
                ],
                "responses": {
                  "200": {
                      "description": "",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "allOf": [
                                      {
                                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                      },
                                      {
                                          "properties": {
                                              "data": {
                                                  "type": "object",
                                                  "$ref": "#/components/schemas/PaymentsForecast"
                                              }
                                          }
                                      }
                                  ]
                              }
                          }
                      }
                  }
                },
                "tags": [
                    "Sales Reports"
                ]
            }
        }
    }
  }