{
    "openapi": "3.0.0",
    "info": {
        "title": "Sales Orchestration",
        "description": "An set of endpoints to manage Coupons and other sales data in the inTandem platform",
        "version": "3.0"
    },
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
      "securitySchemes": {
        "Bearer": {
          "type": "http",
          "scheme": "bearer",
          "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
        }
      },
      "schemas": {
          "PaymentsWidget": {
            "type": "object",
            "properties": {
                "payment_forcast": {
                    "description": "List of payments forcasted per month",
                    "type": "array",
                    "items": {
                        "properties": {
                            "date": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "amount": {
                                "type": "number"
                            }
                        }
                    }
                },
                "total_payments_due": {
                    "type": "number",
                    "format": "double"
                }

            }
          }
      }
    },
    "paths": {
        "/v3/sales/orchestration/payments_widget": {
            "get": {
                "summary": "Payments widget",
                "description": "Get summerarized data for the Payments widget - Available for **Staff Tokens**",
                "parameters": [
                  {
                    "name": "view",
                    "in": "query",
                    "schema": {  
                      "type": "string",
                      "enum": ["staff", "team"]
                    },
                    "description": "Filter parameter to get the widget data for staff or team view",
                    "required": true
                  }
                ],
                "responses": {
                  "200": {
                      "description": "",
                      "content": {
                          "application/json": {
                              "schema": {
                                  "allOf": [
                                      {
                                          "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                      },
                                      {
                                          "properties": {
                                              "data": {
                                                  "type": "object",
                                                  "$ref": "#/components/schemas/PaymentsWidget"
                                              }
                                          }
                                      }
                                  ]
                              }
                          }
                      }
                  }
                },
                "tags": [
                    "Sales Reports"
                ]
            }
        }
    }
  }