{
  "openapi": "3.0.0",
  "info": {
    "title": "Sales Reports API",
    "description": "A set of endpoints to manage and retrieve sales dashboard data within the inTandem platform, providing detailed insights on payments and forecasts.",
    "version": "3.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "Main API Gateway server for accessing sales reports"
    }
  ],
  "components": {
    "schemas": {
      "PaymentsWidget": {
        "type": "object",
        "description": "Payments widget data containing total payments, overdue payments summary, and pending estimates. Each section is wrapped in a success/data envelope.",
        "properties": {
          "total_payments": {
            "type": "object",
            "description": "Total payments section wrapped in success/data envelope.",
            "properties": {
              "success": {
                "type": "boolean",
                "description": "Whether the total_payments sub-query succeeded."
              },
              "data": {
                "type": "object",
                "properties": {
                  "current_year": {
                    "type": "number",
                    "description": "Total payment amount collected for the current year."
                  },
                  "last_year": {
                    "type": "number",
                    "description": "Total payment amount collected in the previous year."
                  }
                }
              }
            }
          },
          "overdue_payments_summary": {
            "type": "object",
            "description": "Overdue payments summary section wrapped in success/data envelope.",
            "properties": {
              "success": {
                "type": "boolean",
                "description": "Whether the overdue_payments_summary sub-query succeeded."
              },
              "data": {
                "type": "object",
                "properties": {
                  "total_overdue": {
                    "type": "number",
                    "nullable": true,
                    "description": "The total overdue amount of payment requests. Null if no overdue payments."
                  },
                  "total_overdue_count": {
                    "type": "number",
                    "description": "The total number of overdue payment requests."
                  },
                  "last_week": {
                    "type": "number",
                    "nullable": true,
                    "description": "Total overdue payment requests amount from the last week."
                  },
                  "last_week_count": {
                    "type": "number",
                    "description": "Number of overdue payment requests from the last week."
                  },
                  "last_month": {
                    "type": "number",
                    "nullable": true,
                    "description": "Total overdue payment requests amount from the last month."
                  },
                  "last_month_count": {
                    "type": "number",
                    "description": "Number of overdue payment requests from the last month."
                  },
                  "old": {
                    "type": "number",
                    "nullable": true,
                    "description": "The total amount for overdue payment requests that are older than 30 days."
                  },
                  "old_count": {
                    "type": "number",
                    "description": "Count of older overdue payment request transactions that are older than 30 days."
                  }
                }
              }
            }
          },
          "pending_estimates": {
            "type": "object",
            "description": "Pending estimates section wrapped in success/data envelope.",
            "properties": {
              "success": {
                "type": "boolean",
                "description": "Whether the pending_estimates sub-query succeeded."
              },
              "data": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "number",
                    "description": "The total count of pending payment estimates that have not yet been confirmed."
                  }
                }
              }
            }
          }
        }
      },
      "PaymentsForecast": {
        "type": "object",
        "description": "Forecast payments data. Response is a map where keys are date strings (YYYY-MM-DD format, representing the start of each week) and values are forecast objects for that week.",
        "additionalProperties": {
          "type": "object",
          "description": "Forecast data for a specific week.",
          "properties": {
            "total_amount": {
              "type": "number",
              "format": "double",
              "description": "The total forecasted payment amount for the given week."
            },
            "calendar_week": {
              "type": "integer",
              "description": "The ISO calendar week number (e.g., 5 for the 5th week of the year)."
            },
            "week_end_date": {
              "type": "string",
              "format": "date",
              "description": "The end date of the week in YYYY-MM-DD format."
            }
          }
        },
        "example": {
          "2026-02-01": {
            "total_amount": 10.0,
            "calendar_week": 5,
            "week_end_date": "2026-02-07"
          },
          "2026-02-08": {
            "total_amount": 200.0,
            "calendar_week": 6,
            "week_end_date": "2026-02-14"
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/v3/sales/reports/payments_widget": {
      "get": {
        "summary": "Retrieve Payments Widget Data",
        "description": "## Overview\nFetch summarized data for the Payments widget, including total payments, overdue payments, and pending estimates. This endpoint is accessible with **Staff Tokens** only.",
        "responses": {
          "200": {
            "description": "Successful response containing Payments widget data.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/PaymentsWidget"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Sales Reports"
        ]
      }
    },
    "/v3/sales/reports/forecast_payments": {
      "get": {
        "summary": "Retrieve Payments Forecast Data",
        "description": "## Overview\nFetch detailed data for the Payments forecast widget, providing predictions of future payments on a month-by-month basis. This endpoint is accessible with **Staff Tokens** only.",
        "responses": {
          "200": {
            "description": "Successful response containing Payments forecast data.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/PaymentsForecast"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Sales Reports"
        ]
      }
    }
  }
}
