{
  "openapi": "3.0.0",
  "info": {
    "title": "Availability Slots API",
    "description": "API for retrieving availability slots for scheduling. This endpoint calculates available time slots based on staff availability, resource availability, and existing bookings.\n\n## Response Time\n\nThis endpoint has a **30 second timeout** due to complex availability calculations for certain businesses. For best performance:\n- Use specific filters (staff_uids, resource_uids) rather than broad queries\n- Keep the time range as narrow as practical\n- Consider caching results for repeated queries\n\n## Available Entities\n\nEach availability slot includes information about which entities (staff, resources) are available during that time. This allows you to:\n- Show which staff members can perform the service\n- Show which resources (rooms, equipment) are available\n- Make informed booking decisions",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "AvailabilitySlotList": {
        "type": "object",
        "properties": {
          "availability_slots": {
            "description": "List of AvailabilitySlots",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/availabilitySlot.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/scheduling/availability_slots": {
      "get": {
        "summary": "Get all AvailabilitySlots",
        "description": "Retrieve availability slots for scheduling based on specified criteria. At least one of resource_type_uids, resource_uids, or staff_uids must be provided.\n\nAvailable for **Staff Tokens** and **Directory Tokens**",
        "tags": [
          "Availability Slots"
        ],
        "parameters": [
          {
            "name": "start_time",
            "in": "query",
            "required": true,
            "description": "Start time for availability search in UTC. Must be in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-01-15T00:00:00.000Z"
          },
          {
            "name": "end_time",
            "in": "query",
            "required": true,
            "description": "End time for availability search in UTC. Must be in ISO 8601 format.",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-01-16T00:00:00.000Z"
          },
          {
            "name": "service_uid",
            "in": "query",
            "required": false,
            "description": "Unique identifier of the service",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_type_uids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of resource type UIDs. At least one of resource_type_uids, resource_uids, or staff_uids must be provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource_uids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of resource UIDs. At least one of resource_type_uids, resource_uids, or staff_uids must be provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "staff_uids",
            "in": "query",
            "required": false,
            "description": "Comma-separated list of staff UIDs. At least one of resource_type_uids, resource_uids, or staff_uids must be provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slot_duration",
            "in": "query",
            "required": false,
            "description": "Desired duration of each availability slot in minutes. If not specified, uses the service's default duration.",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 30
          },
          {
            "name": "slot_interval",
            "in": "query",
            "required": false,
            "description": "Interval between slot start times in minutes. Controls how frequently slots are offered (e.g., every 15 minutes vs every 30 minutes).",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "example": 15
          },
          {
            "name": "padding_before",
            "in": "query",
            "required": false,
            "description": "Buffer time required before each slot in minutes. Use this for setup time or travel time between appointments. The padding time will be blocked but not shown to clients.",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 10
          },
          {
            "name": "padding_after",
            "in": "query",
            "required": false,
            "description": "Buffer time required after each slot in minutes. Use this for cleanup time or notes. The padding time will be blocked but not shown to clients.",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "example": 5
          },
          {
            "name": "exclude_booking_uid",
            "in": "query",
            "required": false,
            "description": "Unique identifier of a booking to exclude from busy slots calculation when determining availability. When provided, the specified booking is temporarily removed from the busy slots list before calculating available time slots. This is essential for rescheduling scenarios where you need to check if the original time slot would be available without the current booking, or for conflict detection when validating potential overlaps. Example: If booking 'abc123' is scheduled from 2:00-3:00 PM and you want to reschedule it, passing exclude_booking_uid=abc123 will show 2:00-3:00 PM as available (assuming no other bookings conflict). If other bookings exist during that time, the slot remains busy.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability slots retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/AvailabilitySlotList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters",
            "content": {
              "application/json": {
                "examples": {
                  "invalidDate": {
                    "summary": "Invalid date format",
                    "value": {
                      "statusCode": 400,
                      "message": "start_time must be a valid ISO date format"
                    }
                  },
                  "unsupportedParams": {
                    "summary": "Unsupported parameters without slot_duration",
                    "value": {
                      "statusCode": 400,
                      "message": "slot_interval is not supported without slot_duration"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "404": {
            "description": "Not Found - Service or specified resources not found"
          },
          "422": {
            "description": "Validation Error - Business logic validation failed",
            "content": {
              "application/json": {
                "examples": {
                  "validationError": {
                    "summary": "Validation error from downstream API",
                    "value": {
                      "statusCode": 422,
                      "message": "Validation error details"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          },
          "504": {
            "description": "Gateway Timeout - Request exceeded 30 second timeout. Try narrowing your query with specific filters or a shorter time range."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
} 