{
  "openapi": "3.0.0",
  "info": {
    "title": "Availability API",
    "description": "API for retrieving business and directory availability time slots.\n\n## Access Requirements\n\nThese endpoints are **only available for Directory Tokens**. Staff tokens and other token types will receive a 403 Forbidden error.\n\n## Rate Limiting\n\nThe directory availability endpoint uses a distributed lock to prevent concurrent requests for the same directory. If another request is currently processing, you will receive a 429 Too Many Requests error. Wait a few seconds and retry.\n\n## Pagination\n\n- Page numbers are **0-based** (first page is `page=0`)\n- Maximum page size is **10 items** (requests for larger sizes will be capped)\n- Default page size is **10 items**",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "BusinessAvailabilityList": {
        "type": "object",
        "properties": {
          "business_availabilities": {
            "description": "List of BusinessAvailabilities",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/businessAvailability.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/scheduling/business_availabilities/{business_uid}": {
      "get": {
        "summary": "Get BusinessAvailability",
        "description": "Retrieve availability time slots for a specific business within a date range\n\n **Only available for Directory Tokens**",
        "tags": [
          "Business Availability"
        ],
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the business",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Start date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "End date (YYYY-MM-DD)",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Business availability retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/businessAvailability.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters. Common causes:\n- Missing required `start_date` or `end_date`\n- Invalid date format (must be YYYY-MM-DD)\n- Start date is after end date"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing authentication token"
          },
          "403": {
            "description": "Forbidden - Only Directory tokens can access this endpoint"
          },
          "404": {
            "description": "Not Found - Business not found"
          },
          "422": {
            "description": "Validation Error - Business logic validation failed (e.g., invalid staff availability data)"
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/business_availabilities": {
      "get": {
        "summary": "Get all BusinessAvailabilities",
        "description": "Retrieve availability time slots for multiple businesses in a directory. Returns paginated results with available booking slots for each business.\n\n**Only available for Directory Tokens**\n\n**Rate Limiting:** Uses a distributed lock per directory. Concurrent requests for the same directory will receive a 429 error.\n\n**Timeout:** 10 seconds maximum response time",
        "tags": [
          "Business Availability"
        ],
        "parameters": [
          {
            "name": "date_start",
            "in": "query",
            "required": true,
            "description": "Start date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-01-15"
          },
          {
            "name": "date_end",
            "in": "query",
            "required": true,
            "description": "End date in YYYY-MM-DD format. **Maximum 7 days** from start date.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2026-01-22"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination. **0-based** (first page is 0).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "Number of items per page. **Maximum and default is 10.**",
            "schema": {
              "minimum": 1,
              "maximum": 10,
              "default": 10,
              "type": "number"
            }
          },
          {
            "name": "scheduling_enabled",
            "in": "query",
            "required": false,
            "description": "Filter businesses by online scheduling status. When `true` (default), only returns businesses with online scheduling enabled. When `false`, returns businesses with scheduling disabled.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BusinessAvailabilities retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BusinessAvailabilityList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters. Common causes:\n- Missing required `date_start` or `date_end`\n- Invalid date format (must be YYYY-MM-DD)\n- Date range exceeds 7 days"
          },
          "401": {
            "description": "Unauthorized - invalid or missing bearer token"
          },
          "403": {
            "description": "Forbidden - only Directory tokens can access this endpoint. Staff tokens and other token types are not permitted."
          },
          "422": {
            "description": "Validation Error - Business logic validation failed (e.g., invalid staff availability data)"
          },
          "429": {
            "description": "Too Many Requests - another request is currently processing for this directory. Wait a few seconds and retry."
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred"
          },
          "504": {
            "description": "Gateway Timeout - Request exceeded 10 second timeout. Try reducing the date range or number of businesses."
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}