{
  "openapi": "3.0.0",
  "info": {
    "title": "Availability API",
    "description": "API for retrieving business and directory availability time slots",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "BusinessAvailabilityList": {
        "type": "object",
        "properties": {
          "business_availabilities": {
            "description": "List of BusinessAvailabilities",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/businessAvailability.json"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/v3/scheduling/business_availabilities/{business_uid}": {
      "get": {
        "summary": "Get BusinessAvailability",
        "description": "## Overview\nReturns available booking slots for a single business. This is useful for checking when a specific business can accept appointments.",
        "tags": [
          "Business Availability"
        ],
        "parameters": [
          {
            "name": "business_uid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the business",
            "schema": {
              "type": "string"
            },
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          },
          {
            "name": "date_start",
            "in": "query",
            "required": true,
            "description": "Start date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-20"
          },
          {
            "name": "date_end",
            "in": "query",
            "required": true,
            "description": "End date in YYYY-MM-DD format. Maximum 7 days from date_start.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-27"
          }
        ],
        "responses": {
          "200": {
            "description": "Business availability retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/businessAvailability.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters - date range exceeds 7 days or invalid date format"
          },
          "401": {
            "description": "Unauthorized - missing or invalid token"
          },
          "403": {
            "description": "Forbidden - only Directory tokens can access this endpoint"
          },
          "404": {
            "description": "Business not found or not in your directory"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/business_availabilities": {
      "get": {
        "summary": "Get all BusinessAvailabilities",
        "description": "## Overview\nReturns available booking slots for all businesses in your directory with pagination support. This endpoint is useful for building marketplace-style booking interfaces.",
        "tags": [
          "Business Availability"
        ],
        "parameters": [
          {
            "name": "date_start",
            "in": "query",
            "required": true,
            "description": "Start date in YYYY-MM-DD format",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-20"
          },
          {
            "name": "date_end",
            "in": "query",
            "required": true,
            "description": "End date in YYYY-MM-DD format. Maximum 7 days from date_start.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-27"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination (0-based)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "example": 0
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "Number of items per page. Capped at maximum value.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            },
            "example": 25
          },
          {
            "name": "scheduling_enabled",
            "in": "query",
            "required": false,
            "description": "Filter by online scheduling status. When true (default), only returns businesses with online scheduling enabled. Set to false to include businesses with scheduling disabled.",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "BusinessAvailabilities retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/BusinessAvailabilityList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters - date range exceeds 7 days or invalid date format"
          },
          "401": {
            "description": "Unauthorized - missing or invalid token"
          },
          "403": {
            "description": "Forbidden - only Directory tokens can access this endpoint"
          },
          "404": {
            "description": "Directory not found"
          },
          "429": {
            "description": "Too Many Requests - another request is currently processing for this directory. Please retry after a few seconds."
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}
