{
  "openapi": "3.0.0",
  "info": {
    "title": "Resource API",
    "description": "API for managing resources used in scheduling meetings, such as rooms, tools, equipment, etc.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "ResourcesList": {
        "type": "object",
        "properties": {
          "resources": {
            "description": "List of Resources",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v3/scheduling/resources/{uid}": {
      "get": {
        "summary": "Retrieve a Resource",
        "description": "Retrieve a specific Resource based on its unique identifier (UID)\n\nAvailable for **Staff & Business Tokens**",
        "tags": [
          "Resource"
        ],
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a Resource",
        "description": "Update a specific Resource based on its unique identifier (UID)\n\nAvailable for **Staff & Business Tokens**",
        "tags": [
          "Resource"
        ],
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the resource"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of resource (e.g., 'room', 'equipment', 'tool', etc.)",
                    "enum": ["room", "equipment", "tool", "vehicle", "other"]
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the resource"
                  },
                  "capacity": {
                    "type": "integer",
                    "description": "Capacity of the resource (relevant for rooms)"
                  },
                  "location": {
                    "type": "string",
                    "description": "Physical location of the resource"
                  },
                  "availability_schedule": {
                    "type": "array",
                    "description": "Schedule of when the resource is available",
                    "items": {
                      "type": "object",
                      "properties": {
                        "day_of_week": {
                          "type": "integer",
                          "description": "Day of the week (0 = Sunday, 6 = Saturday)",
                          "minimum": 0,
                          "maximum": 6
                        },
                        "start_time": {
                          "type": "string",
                          "description": "Start time in HH:MM format"
                        },
                        "end_time": {
                          "type": "string",
                          "description": "End time in HH:MM format"
                        }
                      }
                    }
                  },
                  "unavailable_dates": {
                    "type": "array",
                    "description": "Specific dates when the resource is unavailable",
                    "items": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "image_url": {
                    "type": "string",
                    "description": "URL to an image of the resource"
                  },
                  "status": {
                    "type": "string",
                    "description": "Current status of the resource",
                    "enum": ["available", "unavailable", "maintenance", "reserved"]
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Additional metadata about the resource"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a Resource",
        "description": "Delete a specific Resource based on its unique identifier (UID)\n\nAvailable for **Staff & Business Tokens**",
        "tags": [
          "Resource"
        ],
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/resources": {
      "get": {
        "summary": "Get all Resources",
        "description": "Get a list of Resources\n\nAvailable for **Staff & Business Tokens**",
        "tags": [
          "Resource"
        ],
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "name": "type",
            "required": false,
            "in": "query",
            "description": "Filter by resource type",
            "schema": {
              "type": "string",
              "enum": ["room", "equipment", "tool", "vehicle", "other"]
            }
          },
          {
            "name": "status",
            "required": false,
            "in": "query",
            "description": "Filter by resource status",
            "schema": {
              "type": "string",
              "enum": ["available", "unavailable", "maintenance", "reserved"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resources retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/ResourcesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a Resource",
        "description": "Create a new Resource\n\nAvailable for **Staff & Business Tokens**",
        "tags": [
          "Resource"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_uid": {
                    "type": "string",
                    "description": "Unique identifier of the business that owns the resource"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the resource"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of resource (e.g., 'room', 'equipment', 'tool', etc.)",
                    "enum": ["room", "equipment", "tool", "vehicle", "other"]
                  },
                  "description": {
                    "type": "string",
                    "description": "Detailed description of the resource"
                  },
                  "capacity": {
                    "type": "integer",
                    "description": "Capacity of the resource (relevant for rooms)"
                  },
                  "location": {
                    "type": "string",
                    "description": "Physical location of the resource"
                  },
                  "availability_schedule": {
                    "type": "array",
                    "description": "Schedule of when the resource is available",
                    "items": {
                      "type": "object",
                      "properties": {
                        "day_of_week": {
                          "type": "integer",
                          "description": "Day of the week (0 = Sunday, 6 = Saturday)",
                          "minimum": 0,
                          "maximum": 6
                        },
                        "start_time": {
                          "type": "string",
                          "description": "Start time in HH:MM format"
                        },
                        "end_time": {
                          "type": "string",
                          "description": "End time in HH:MM format"
                        }
                      }
                    }
                  },
                  "unavailable_dates": {
                    "type": "array",
                    "description": "Specific dates when the resource is unavailable",
                    "items": {
                      "type": "string",
                      "format": "date-time"
                    }
                  },
                  "image_url": {
                    "type": "string",
                    "description": "URL to an image of the resource"
                  },
                  "status": {
                    "type": "string",
                    "description": "Current status of the resource",
                    "enum": ["available", "unavailable", "maintenance", "reserved"]
                  },
                  "metadata": {
                    "type": "object",
                    "description": "Additional metadata about the resource"
                  }
                },
                "required": ["business_uid", "name", "type"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/scheduling/resources/bulk": {
      "post": {
        "summary": "Bulk Create Resources",
        "description": "Create multiple Resources in a single request\n\nAvailable for **Staff & Business Tokens**",
        "tags": [
          "Resource"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "business_uid": {
                      "type": "string",
                      "description": "Unique identifier of the business that owns the resource"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the resource"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of resource (e.g., 'room', 'equipment', 'tool', etc.)",
                      "enum": ["room", "equipment", "tool", "vehicle", "other"]
                    },
                    "description": {
                      "type": "string",
                      "description": "Detailed description of the resource"
                    },
                    "capacity": {
                      "type": "integer",
                      "description": "Capacity of the resource (relevant for rooms)"
                    },
                    "location": {
                      "type": "string",
                      "description": "Physical location of the resource"
                    },
                    "availability_schedule": {
                      "type": "array",
                      "description": "Schedule of when the resource is available",
                      "items": {
                        "type": "object",
                        "properties": {
                          "day_of_week": {
                            "type": "integer",
                            "description": "Day of the week (0 = Sunday, 6 = Saturday)",
                            "minimum": 0,
                            "maximum": 6
                          },
                          "start_time": {
                            "type": "string",
                            "description": "Start time in HH:MM format"
                          },
                          "end_time": {
                            "type": "string",
                            "description": "End time in HH:MM format"
                          }
                        }
                      }
                    },
                    "unavailable_dates": {
                      "type": "array",
                      "description": "Specific dates when the resource is unavailable",
                      "items": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "image_url": {
                      "type": "string",
                      "description": "URL to an image of the resource"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the resource",
                      "enum": ["available", "unavailable", "maintenance", "reserved"]
                    },
                    "metadata": {
                      "type": "object",
                      "description": "Additional metadata about the resource"
                    }
                  },
                  "required": ["business_uid", "name", "type"]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk creation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "description": "Status of the creation for the entity. Possible values: success, error."
                      },
                      "entity": {
                        "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                      },
                      "error": {
                        "type": "string",
                        "description": "Error message if the creation of the entity failed."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
} 