{
    "openapi": "3.0.0",
    "info": {
        "title": "Resource Management",
        "description": "A set of endpoints to manage resource types and resources in the scheduling domain. Resource types define categories of similar resources (e.g., 'Treatment Room', 'Massage Table'), while resources are individual instances within those types (e.g., 'Treatment Room 1', 'Treatment Room 2'). This API enables businesses to create and maintain their resource inventory and associate resource types with services that require them.\n\n## Feature Requirements\n\nThe Resources feature must be enabled for your business. Both `pkg.sch.resources` AND `resources` feature flags must be active. If not enabled, create/update/delete operations will return a 403 Forbidden error.\n\n## Limits\n\n- **Maximum Resource Types per Business:** 5\n- **Maximum Resources per Resource Type:** 10\n- **Resource Type Name:** Maximum 20 characters\n- **Resource Name:** Maximum 30 characters\n\n## Permissions\n\nCreate, update, and delete operations require the `account.settings.manage` permission.",
        "version": "1.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
              "type": "http",
              "scheme": "bearer",
              "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
            }
          },
        "schemas": {
            "ResourcesList": {
                "type": "object",
                "properties": {
                    "resources": {
                        "description": "List of Resources",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                    }
                }
            },
            "ResourceTypesList": {
                "type": "object",
                "properties": {
                    "resource_types": {
                        "description": "List of ResourceTypes",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                    }
                }
            }
        }
    },
    "paths": {
        "/v3/scheduling/resource_types": {
            "get": {
                "summary": "Get all ResourceTypes",
                "description": "Get a list of resource types for a business, with pagination\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_deleted",
                        "required": false,
                        "in": "query",
                        "description": "Include deleted resource types in the response",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/ResourceTypesList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "OAuth redirect when no authentication token provided"
                    },
                    "401": {
                        "description": "Unauthorized - Valid business context is required"
                    },
                    "408": {
                        "description": "Request Timeout - Request exceeded timeout limit"
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected error occurred"
                    }
                },
                "tags": [
                    "Resource Type"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "post": {
                "summary": "Create a ResourceType",
                "description": "Create a new resource type.\n\n**Requires:** `account.settings.manage` permission\n\n**Feature Flags:** Both `pkg.sch.resources` AND `resources` must be enabled\n\nAvailable for **Staff Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the resource type",
                                        "maxLength": 20,
                                        "example": "Treatment Room"
                                    },
                                    "services": {
                                        "type": "array",
                                        "description": "Array of service UIDs that require this resource type. When a service is associated with a resource type, bookings for that service will require an available resource of this type.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": ["service_uid_1", "service_uid_2"]
                                    },
                                    "initial_resource_count": {
                                        "type": "integer",
                                        "description": "Number of initial resources to create automatically when the resource type is created. Each resource will be named sequentially (e.g., 'Treatment Room 1', 'Treatment Room 2').",
                                        "minimum": 1,
                                        "maximum": 10,
                                        "example": 3
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ResourceType created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "OAuth redirect when no authentication token provided"
                    },
                    "400": {
                        "description": "Invalid input data"
                    },
                    "401": {
                        "description": "Valid business context is required"
                    },
                    "403": {
                        "description": "Forbidden: Resources feature is not enabled or not authorized to create resource types (requires account.settings.manage permission)"
                    },
                    "408": {
                        "description": "Request Timeout - Request exceeded timeout limit"
                    },
                    "422": {
                        "description": "Unprocessable Entity - Request data failed validation"
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected error occurred"
                    }
                },
                "tags": [
                    "Resource Type"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        },
        "/v3/scheduling/resource_types/{uid}": {
            "get": {
                "summary": "Retrieve a ResourceType",
                "description": "Get a specific resource type by UID\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the ResourceType",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "OAuth redirect when no authentication token provided"
                    },
                    "401": {
                        "description": "Valid business context is required"
                    },
                    "403": {
                        "description": "Not authorized to access this resource type"
                    },
                    "404": {
                        "description": "Not Found - ResourceType not found"
                    },
                    "408": {
                        "description": "Request Timeout - Request exceeded timeout limit"
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected error occurred"
                    }
                },
                "tags": [
                    "Resource Type"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "put": {
                "summary": "Update a ResourceType",
                "description": "Update a resource type's properties. All fields are optional - only provided fields will be updated.\n\n**Requires:** `account.settings.manage` permission\n\n**Feature Flags:** Both `pkg.sch.resources` AND `resources` must be enabled\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the ResourceType",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the resource type",
                                        "maxLength": 20,
                                        "example": "Massage Table"
                                    },
                                    "services": {
                                        "type": "array",
                                        "description": "Array of service UIDs that require this resource type. This replaces the entire services list - to add a service, include all existing services plus the new one.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": ["service_uid_1", "service_uid_3"]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "OAuth redirect when no authentication token provided"
                    },
                    "400": {
                        "description": "Invalid input data"
                    },
                    "401": {
                        "description": "Valid business context is required"
                    },
                    "403": {
                        "description": "Forbidden: Resources feature is not enabled or not authorized to update this resource type (requires account.settings.manage permission)"
                    },
                    "404": {
                        "description": "Not Found - ResourceType not found"
                    },
                    "408": {
                        "description": "Request Timeout - Request exceeded timeout limit"
                    },
                    "422": {
                        "description": "Unprocessable Entity - Request data failed validation"
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected error occurred"
                    }
                },
                "tags": [
                    "Resource Type"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "delete": {
                "summary": "Delete a ResourceType",
                "description": "Soft-delete a resource type. The resource type will be marked as deleted but can still be retrieved using `with_deleted=true`.\n\n**Note:** Deleting a resource type does NOT automatically delete its associated resources. Resources must be deleted separately.\n\n**Requires:** `account.settings.manage` permission\n\n**Feature Flags:** Both `pkg.sch.resources` AND `resources` must be enabled\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the ResourceType",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource type soft-deleted successfully. The resource type will have a `deleted_at` timestamp set.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "OAuth redirect when no authentication token provided"
                    },
                    "401": {
                        "description": "Valid business context is required"
                    },
                    "403": {
                        "description": "Forbidden: Resources feature is not enabled or not authorized to delete this resource type (requires account.settings.manage permission)"
                    },
                    "404": {
                        "description": "Not Found - ResourceType not found"
                    },
                    "408": {
                        "description": "Request Timeout - Request exceeded timeout limit"
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected error occurred"
                    }
                },
                "tags": [
                    "Resource Type"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        },
        "/v3/scheduling/resources": {
            "get": {
                "summary": "Get all Resources",
                "description": "Get all resources, with pagination and filtering by resource type or service\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    },
                    {
                        "name": "resource_type_uid",
                        "required": false,
                        "in": "query",
                        "description": "Filter by resource type UID(s). Accepts single value or array of values. Example: ?resource_type_uid=abc123 or ?resource_type_uid=abc123&resource_type_uid=def456",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": true
                    },
                    {
                        "name": "service_uid",
                        "required": false,
                        "in": "query",
                        "description": "Filter resources by service UID that requires their resource type",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_deleted",
                        "required": false,
                        "in": "query",
                        "description": "Include deleted resources in the response",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "uid",
                        "required": false,
                        "in": "query",
                        "description": "Filter by resource UID(s). Accepts single value or array of values. Example: ?uid=abc123 or ?uid=abc123&uid=def456",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/ResourcesList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "OAuth redirect when no authentication token provided"
                    },
                    "401": {
                        "description": "Unauthorized - Valid business context is required"
                    },
                    "408": {
                        "description": "Request Timeout - Request exceeded timeout limit"
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected error occurred"
                    }
                },
                "tags": [
                    "Resource"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "post": {
                "summary": "Create a Resource",
                "description": "Create a new resource instance belonging to a resource type.\n\n**Requires:** `account.settings.manage` permission\n\n**Feature Flags:** Both `pkg.sch.resources` AND `resources` must be enabled\n\n**Limit:** Maximum 10 resources per resource type\n\nAvailable for **Staff Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the resource",
                                        "maxLength": 30,
                                        "example": "Treatment Room 1"
                                    },
                                    "resource_type_uid": {
                                        "type": "string",
                                        "description": "The UID of the resource type this instance belongs to. The resource type must exist and belong to the same business.",
                                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                                    }
                                },
                                "required": [
                                    "name",
                                    "resource_type_uid"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Resource created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "OAuth redirect when no authentication token provided"
                    },
                    "400": {
                        "description": "Invalid input data"
                    },
                    "401": {
                        "description": "Valid business context is required"
                    },
                    "403": {
                        "description": "Forbidden: Resources feature is not enabled or not authorized to create resources (requires account.settings.manage permission)"
                    },
                    "408": {
                        "description": "Request Timeout - Request exceeded timeout limit"
                    },
                    "422": {
                        "description": "Unprocessable Entity - Request data failed validation (e.g., exceeded 10 resources per type limit)"
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected error occurred"
                    }
                },
                "tags": [
                    "Resource"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        },
        "/v3/scheduling/resources/{uid}": {
            "get": {
                "summary": "Retrieve a Resource",
                "description": "Get a specific resource by UID\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Resource",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    },
                    {
                        "name": "with_deleted",
                        "required": false,
                        "in": "query",
                        "description": "Include deleted resources",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "OAuth redirect when no authentication token provided"
                    },
                    "401": {
                        "description": "Valid business context is required"
                    },
                    "403": {
                        "description": "Not authorized to access this resource"
                    },
                    "404": {
                        "description": "Not Found - Resource not found"
                    },
                    "408": {
                        "description": "Request Timeout - Request exceeded timeout limit"
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected error occurred"
                    }
                },
                "tags": [
                    "Resource"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "put": {
                "summary": "Update a Resource",
                "description": "Update a resource's properties. All fields are optional - only provided fields will be updated.\n\n**Requires:** `account.settings.manage` permission\n\n**Feature Flags:** Both `pkg.sch.resources` AND `resources` must be enabled\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Resource",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the resource",
                                        "maxLength": 30,
                                        "example": "Treatment Room 1"
                                    },
                                    "resource_type_uid": {
                                        "type": "string",
                                        "description": "The UID of the resource type to move this resource to. Use this to reassign a resource to a different type.",
                                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "OAuth redirect when no authentication token provided"
                    },
                    "400": {
                        "description": "Invalid input data"
                    },
                    "401": {
                        "description": "Valid business context is required"
                    },
                    "403": {
                        "description": "Forbidden: Resources feature is not enabled or not authorized to update this resource (requires account.settings.manage permission)"
                    },
                    "404": {
                        "description": "Not Found - Resource not found"
                    },
                    "408": {
                        "description": "Request Timeout - Request exceeded timeout limit"
                    },
                    "422": {
                        "description": "Unprocessable Entity - Request data failed validation"
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected error occurred"
                    }
                },
                "tags": [
                    "Resource"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "delete": {
                "summary": "Delete a Resource",
                "description": "Soft-delete a resource. The resource will be marked as deleted but can still be retrieved using `with_deleted=true`.\n\n**Requires:** `account.settings.manage` permission\n\n**Feature Flags:** Both `pkg.sch.resources` AND `resources` must be enabled\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Resource",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "302": {
                        "description": "OAuth redirect when no authentication token provided"
                    },
                    "401": {
                        "description": "Valid business context is required"
                    },
                    "403": {
                        "description": "Forbidden: Resources feature is not enabled or not authorized to delete this resource (requires account.settings.manage permission)"
                    },
                    "404": {
                        "description": "Not Found - Resource not found"
                    },
                    "408": {
                        "description": "Request Timeout - Request exceeded timeout limit"
                    },
                    "500": {
                        "description": "Internal Server Error - Unexpected error occurred"
                    }
                },
                "tags": [
                    "Resource"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        }
    }
} 