{
  "openapi": "3.0.0",
  "info": {
    "title": "Resource API",
    "description": "API for managing resources in the scheduling domain",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.com/v3"
    }
  ],
  "paths": {
    "/scheduling/resources": {
      "get": {
        "summary": "Get all Resources",
        "description": "Get all resources, with pagination and filtering by resource type or service\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "name": "resource_type_uid",
            "required": false,
            "in": "query",
            "description": "Filter resources by resource type UID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service_uid",
            "required": false,
            "in": "query",
            "description": "Filter resources by service UID that requires their resource type",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_deleted",
            "required": false,
            "in": "query",
            "description": "Include deleted resources in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/ResourcesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to perform this operation"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a Resource",
        "description": "Create a new resource\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource"
                  },
                  "resource_type_uid": {
                    "type": "string",
                    "description": "The resource type this instance belongs to"
                  }
                },
                "required": [
                  "name",
                  "resource_type_uid"
                ],
                "example": {
                  "name": "Treatment Room 1",
                  "resource_type_uid": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to perform this operation"
          },
          "404": {
            "description": "Not Found - The specified resource type does not exist"
          },
          "422": {
            "description": "Unprocessable Entity - Semantic validation failed"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/scheduling/resources/{uid}": {
      "get": {
        "summary": "Retrieve a Resource",
        "description": "Get a specific resource by UID\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to perform this operation"
          },
          "404": {
            "description": "Not Found - The specified resource does not exist"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a Resource",
        "description": "Update a resource's properties\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource"
                  }
                },
                "example": {
                  "name": "Treatment Room 1"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to perform this operation"
          },
          "404": {
            "description": "Not Found - The specified resource does not exist"
          },
          "422": {
            "description": "Unprocessable Entity - Semantic validation failed"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a Resource",
        "description": "Soft-delete a resource\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the Resource",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to perform this operation"
          },
          "404": {
            "description": "Not Found - The specified resource does not exist"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/scheduling/resources/bulk": {
      "post": {
        "summary": "Bulk Create Resources",
        "description": "Create multiple resources for a business in a single request\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of the resource"
                    },
                    "resource_type_uid": {
                      "type": "string",
                      "description": "The resource type this instance belongs to"
                    }
                  },
                  "required": [
                    "name",
                    "resource_type_uid"
                  ]
                }
              },
              "example": [
                {
                  "name": "Treatment Room 1",
                  "resource_type_uid": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                },
                {
                  "resource_type_uid": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk creation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "description": "Status of the creation for the entity"
                      },
                      "entity": {
                        "description": "The entity that was attempted to be created, including any provided data, or null if not applicable",
                        "oneOf": [
                          {
                            "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                          },
                          {
                            "type": "object"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "error": {
                        "type": "string",
                        "description": "Error message if the creation of the entity failed"
                      }
                    }
                  }
                },
                "example": [
                  {
                    "success": true,
                    "entity": {
                      "uid": "a4ca2054-3bb0-4788-8e9e-ee2442975e22",
                      "created_at": "2023-06-15T11:30:00Z",
                      "updated_at": "2023-06-15T15:45:10Z",
                      "resource_type_uid": "94ca2054-3bb0-4788-8e9e-ee2442975cdd",
                      "name": "Treatment Room 1",
                      "deleted_at": null
                    }
                  },
                  {
                    "success": false,
                    "entity": {
                      "resource_type_uid": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    },
                    "error": "Validation failed: name is required"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to perform this operation"
          },
          "422": {
            "description": "Unprocessable Entity - Semantic validation failed"
          }
        },
        "tags": [
          "Resource"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ResourcesList": {
        "type": "object",
        "properties": {
          "resources": {
            "description": "List of Resources",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {staff_token}'"
      }
    }
  }
} 