{
    "openapi": "3.0.0",
    "info": {
        "title": "Resource Management",
        "description": "A set of endpoints to manage resource types and resources in the scheduling domain. Resource types define categories of similar resources (e.g., 'Treatment Room', 'Massage Table'), while resources are individual instances within those types (e.g., 'Treatment Room 1', 'Treatment Room 2'). This API enables businesses to create and maintain their resource inventory and associate resource types with services that require them.",
        "version": "1.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
              "type": "http",
              "scheme": "bearer",
              "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
            }
          },
        "schemas": {
            "ResourcesList": {
                "type": "object",
                "properties": {
                    "resources": {
                        "description": "List of Resources",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                        }
                    }
                }
            },
            "ResourceTypesList": {
                "type": "object",
                "properties": {
                    "resource_types": {
                        "description": "List of ResourceTypes",
                        "type": "array",
                        "items": {
                            "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                    }
                }
            }
        }
    },
    "paths": {
        "/v3/scheduling/resource_types": {
            "get": {
                "summary": "Get all ResourceTypes",
                "description": "Get a list of resource types for a business, with pagination\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results.",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/ResourceTypesList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Resource Type"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "post": {
                "summary": "Create a ResourceType",
                "description": "Create a new resource type. Optionally create initial resources automatically by providing `initial_resource_count`. When specified, resources will be named sequentially (e.g., 'Meeting Room 1', 'Meeting Room 2', etc.)\n\nAvailable for **Staff Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the resource type"
                                    },
                                    "services": {
                                        "type": "array",
                                        "description": "Array of service UIDs that require this resource type",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "initial_resource_count": {
                                        "type": "integer",
                                        "description": "Number of initial resources to automatically create when the resource type is created. Resources will be named sequentially (e.g., 'Meeting Room 1', 'Meeting Room 2', etc.)",
                                        "minimum": 1,
                                        "maximum": 10
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "example": {
                                    "name": "Meeting Room",
                                    "services": [
                                        "meeting-service-uid",
                                        "video-conference-service-uid"
                                    ],
                                    "initial_resource_count": 3
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "ResourceType created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Resource Type"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        },
        "/v3/scheduling/resource_types/{uid}": {
            "get": {
                "summary": "Retrieve a ResourceType",
                "description": "Get a specific resource type by UID\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the ResourceType",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Resource Type"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "put": {
                "summary": "Update a ResourceType",
                "description": "Update a resource type's properties\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the ResourceType",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the resource type"
                                    },
                                    "services": {
                                        "type": "array",
                                        "description": "Array of service UIDs that require this resource type",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "name": "Treatment Room",
                                    "services": [
                                        "treatment-service-uid",
                                        "consultation-service-uid"
                                    ]
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Resource Type"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "delete": {
                "summary": "Delete a ResourceType",
                "description": "Delete a resource type. Deletes all associated resources.\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the ResourceType",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource type deleted successfully. **Note:** All associated resources are automatically deleted (cascade deletion)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Resource Type"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        },
        "/v3/scheduling/resources": {
            "get": {
                "summary": "Get all Resources",
                "description": "Get all resources, with pagination and filtering by resource type or service\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "Page number of results",
                        "schema": {
                            "minimum": 1,
                            "maximum": 10000,
                            "default": 1,
                            "type": "number"
                        }
                    },
                    {
                        "name": "per_page",
                        "required": false,
                        "in": "query",
                        "description": "How many items to return per page. Max: 100",
                        "schema": {
                            "minimum": 1,
                            "maximum": 100,
                            "default": 25,
                            "type": "number"
                        }
                    },
                    {
                        "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
                        "name": "sort",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "default": "updated_at:desc",
                            "type": "string"
                        }
                    },
                    {
                        "name": "resource_type_uid",
                        "required": false,
                        "in": "query",
                        "description": "Filter resources by resource type UID",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "service_uid",
                        "required": false,
                        "in": "query",
                        "description": "Filter resources by service UID that requires their resource type",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "with_deleted",
                        "required": false,
                        "in": "query",
                        "description": "Include deleted resources in the response",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "#/components/schemas/ResourcesList"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Resource"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "post": {
                "summary": "Create a Resource",
                "description": "Create a new resource\n\nAvailable for **Staff Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the resource"
                                    },
                                    "resource_type_uid": {
                                        "type": "string",
                                        "description": "The resource type this instance belongs to"
                                    }
                                },
                                "required": [
                                    "name",
                                    "resource_type_uid"
                                ],
                                "example": {
                                    "name": "Treatment Room 1",
                                    "resource_type_uid": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Resource created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Resource"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        },
        "/v3/scheduling/resources/{uid}": {
            "get": {
                "summary": "Retrieve a Resource",
                "description": "Get a specific resource by UID\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Resource",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    },
                    {
                        "name": "with_deleted",
                        "required": false,
                        "in": "query",
                        "description": "Include deleted resources",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Resource"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "put": {
                "summary": "Update a Resource",
                "description": "Update a resource's properties\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Resource",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "The name of the resource"
                                    }
                                },
                                "example": {
                                    "name": "Treatment Room 1"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Resource"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            },
            "delete": {
                "summary": "Delete a Resource",
                "description": "Soft-delete a resource\n\nAvailable for **Staff Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "required": true,
                        "in": "path",
                        "description": "Unique identifier of the Resource",
                        "schema": {
                            "type": "string"
                        },
                        "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resource deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Resource"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        },
        "/v3/scheduling/resources/bulk": {
            "post": {
                "summary": "Bulk Create Resources",
                "description": "Create multiple resources for a business in a single request\n\nAvailable for **Staff Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "description": "The name of the resource"
                                        },
                                        "resource_type_uid": {
                                            "type": "string",
                                            "description": "The resource type this instance belongs to"
                                        }
                                    },
                                    "required": [
                                        "name",
                                        "resource_type_uid"
                                    ]
                                }
                            },
                            "example": [
                                {
                                    "name": "Treatment Room 1",
                                    "resource_type_uid": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                                },
                                {
                                    "resource_type_uid": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Resources created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "success": {
                                                                "type": "boolean",
                                                                "description": "Status of the creation for the entity"
                                                            },
                                                            "entity": {
                                                                "description": "The entity that was attempted to be created",
                                                                "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resource.json"
                                                            },
                                                            "error": {
                                                                "type": "string",
                                                                "description": "Error message if creation failed"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "data": [
                                        {
                                            "success": true,
                                            "entity": {
                                                "uid": "a4ca2054-3bb0-4788-8e9e-ee2442975e22",
                                                "created_at": "2023-06-15T11:30:00Z",
                                                "updated_at": "2023-06-15T15:45:10Z",
                                                "resource_type_uid": "94ca2054-3bb0-4788-8e9e-ee2442975cdd",
                                                "name": "Treatment Room 1",
                                                "deleted_at": null
                                            }
                                        },
                                        {
                                            "success": false,
                                            "entity": {
                                                "resource_type_uid": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
                                            },
                                            "error": "Validation failed: name is required"
                                        }
                                    ],
                                    "success": true
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Resource"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        }
    }
} 