{
  "openapi": "3.0.0",
  "info": {
    "title": "ResourceType API",
    "description": "API for managing resource types in the scheduling domain",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.vcita.com/v3"
    }
  ],
  "paths": {
    "/scheduling/resource_types": {
      "get": {
        "summary": "Get all ResourceTypes",
        "description": "Get a list of resource types for a business, with pagination\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/ResourceTypesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to perform this operation"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a ResourceType",
        "description": "Create a new resource type\n\nAvailable for **Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource type"
                  },
                  "services": {
                    "type": "array",
                    "description": "Array of service UIDs that require this resource type",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name"
                ],
                "example": {
                  "name": "Treatment Room",
                  "services": [
                    "service_uid_1",
                    "service_uid_2"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to perform this operation"
          },
          "422": {
            "description": "Unprocessable Entity - Semantic validation failed"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/scheduling/resource_types/{uid}": {
      "get": {
        "summary": "Retrieve a ResourceType",
        "description": "Get a specific resource type by UID\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the ResourceType",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to perform this operation"
          },
          "404": {
            "description": "Not Found - The specified resource type does not exist"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a ResourceType",
        "description": "Update a resource type's properties\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the ResourceType",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the resource type"
                  },
                  "services": {
                    "type": "array",
                    "description": "Array of service UIDs that require this resource type",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "name": "Treatment Room",
                  "services": [
                    "service_uid_1",
                    "service_uid_2"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to perform this operation"
          },
          "404": {
            "description": "Not Found - The specified resource type does not exist"
          },
          "422": {
            "description": "Unprocessable Entity - Semantic validation failed"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a ResourceType",
        "description": "Delete a resource type\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the ResourceType",
            "schema": {
              "type": "string"
            },
            "example": "94ca2054-3bb0-4788-8e9e-ee2442975cdd"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters"
          },
          "401": {
            "description": "Unauthorized - Authentication is required"
          },
          "403": {
            "description": "Forbidden - Insufficient permissions to perform this operation"
          },
          "404": {
            "description": "Not Found - The specified resource type does not exist"
          }
        },
        "tags": [
          "Resource Type"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ResourceTypesList": {
        "type": "object",
        "properties": {
          "resource_types": {
            "description": "List of ResourceTypes",
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/scheduling/resourceType.json"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {staff_token}'"
      }
    }
  }
} 