{
  "openapi": "3.0.0",
  "info": {
    "title": "Client portal — Web AI chat & conversations",
    "description": "Public/embed **chat** session APIs (`/v3/clientportal/chat`) and **Staff**-scoped **conversations** CRUD (`/v3/clientportal/chat/conversations`).\n\n**Response envelopes:** These routes use `@UnwrappedResponse()` in **webaiwidgetserver**. They **do not** wrap JSON in the standard `{ success, data }` envelope from `@vcita/infra-nestjs`. Chat JSON bodies are returned as-is; conversations list/get/create/update return `{ \"data\": ... }` (no `success` field). The SSE chat stream returns `text/event-stream`, not JSON.",
    "version": "3.0.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "Client portal chat",
      "description": "Health, session create/close, and SSE streaming for the embedded widget / client portal flow."
    },
    {
      "name": "Client portal conversations",
      "description": "Persisted chat widget conversations for the authenticated business (**Staff tokens**)."
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "NestHttpException": {
        "type": "object",
        "description": "Typical NestJS HTTP exception body",
        "properties": {
          "statusCode": { "type": "integer" },
          "message": {
            "oneOf": [{ "type": "string" }, { "type": "array", "items": { "type": "string" } }]
          },
          "error": { "type": "string" }
        }
      },
      "ChatHealthResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "ok" }
        },
        "required": ["status"]
      },
      "CreateSessionRequest": {
        "type": "object",
        "description": "Create session for website widget (`setup` must resolve to client).",
        "properties": {
          "setup": {
            "type": "string",
            "default": "client",
            "description": "Only `client` is supported for the website widget."
          },
          "business_uid": {
            "type": "string",
            "description": "Required for widget flow — loads business-specific guidance."
          },
          "welcome_message": { "type": "string" },
          "welcome_buttons": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/web_ai_widget/WidgetWelcomeButton.json"
            }
          },
          "page_url": { "type": "string", "description": "Page URL where the conversation started" },
          "from_widget_editor": {
            "type": "boolean",
            "description": "When true, page context is stored as Widget Editor"
          }
        }
      },
      "CreateSessionResponse": {
        "type": "object",
        "properties": {
          "session_id": { "type": "string", "format": "uuid" },
          "greeting": {
            "type": "object",
            "properties": {
              "content": { "type": "string" },
              "buttons": {
                "type": "array",
                "items": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/web_ai_widget/WidgetWelcomeButton.json"
                }
              }
            }
          }
        },
        "required": ["session_id"]
      },
      "CloseSessionResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "enum": [true] }
        },
        "required": ["ok"]
      },
      "ChatMessageRequest": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "description": "User message; must be non-empty after trim" }
        },
        "required": ["message"]
      },
      "ChatWidgetConversation": {
        "$ref": "https://vcita.github.io/developers-hub/entities/clientportal/ChatWidgetConversation.json"
      },
      "ListConversationsPayload": {
        "type": "object",
        "properties": {
          "conversations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ChatWidgetConversation" }
          },
          "total": { "type": "integer", "minimum": 0 }
        },
        "required": ["conversations", "total"]
      },
      "ConversationsDataWrapper": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/ListConversationsPayload" }
        },
        "required": ["data"]
      },
      "ConversationSingleWrapper": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/ChatWidgetConversation" }
        },
        "required": ["data"]
      },
      "CreateConversationRequest": {
        "type": "object",
        "properties": {
          "session_id": { "type": "string", "maxLength": 255 },
          "business_uid": { "type": "string", "maxLength": 255 },
          "transcript": { "type": "string", "nullable": true },
          "summary": { "type": "string", "nullable": true },
          "contact_full_name": { "type": "string", "nullable": true, "maxLength": 255 },
          "contact_email": { "type": "string", "nullable": true, "maxLength": 255 },
          "contact_phone": { "type": "string", "nullable": true, "maxLength": 255 },
          "page_url": { "type": "string", "nullable": true },
          "started_at": { "type": "string", "format": "date-time" },
          "ended_at": { "type": "string", "format": "date-time" },
          "client_uid": { "type": "string", "nullable": true, "maxLength": 255 },
          "matter_uid": { "type": "string", "nullable": true, "maxLength": 255 },
          "message_count": { "type": "integer", "nullable": true, "minimum": 0 }
        },
        "required": ["session_id", "business_uid", "started_at", "ended_at"]
      },
      "UpdateConversationRequest": {
        "type": "object",
        "properties": {
          "transcript": { "type": "string", "nullable": true },
          "summary": { "type": "string", "nullable": true },
          "contact_full_name": { "type": "string", "nullable": true, "maxLength": 255 },
          "contact_email": { "type": "string", "nullable": true, "maxLength": 255 },
          "contact_phone": { "type": "string", "nullable": true, "maxLength": 255 },
          "page_url": { "type": "string", "nullable": true },
          "client_uid": { "type": "string", "nullable": true, "maxLength": 255 },
          "matter_uid": { "type": "string", "nullable": true, "maxLength": 255 }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "**Staff tokens** — business context is taken from the token for conversations."
      }
    }
  },
  "paths": {
    "/v3/clientportal/chat/health": {
      "get": {
        "operationId": "clientPortalChatHealth",
        "summary": "Chat service health",
        "description": "Liveness check for the client portal chat service. Called by API gateway and operators. **No authentication.**",
        "tags": ["Client portal chat"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is up",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChatHealthResponse" },
                "example": { "status": "ok" }
              }
            }
          }
        }
      }
    },
    "/v3/clientportal/chat/sessions": {
      "post": {
        "operationId": "createChatSession",
        "summary": "Create chat session",
        "description": "Creates a chat session for the embedded widget / client portal flow (not Staff tokens). `business_uid` is required for the website widget. **No bearer auth** in typical embed flows (gateway policy may vary).",
        "tags": ["Client portal chat"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateSessionRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateSessionResponse" }
              }
            }
          },
          "400": {
            "description": "Validation or usage gate failure",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          }
        }
      }
    },
    "/v3/clientportal/chat/sessions/{sessionId}/close": {
      "post": {
        "operationId": "closeChatSession",
        "summary": "Close chat session",
        "description": "Closes an active session. Returns `{ \"ok\": true }` or **404** if unknown. **No bearer auth** in typical embed flows.",
        "tags": ["Client portal chat"],
        "security": [],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Session closed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CloseSessionResponse" }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          }
        }
      }
    },
    "/v3/clientportal/chat/sessions/{sessionId}/chat": {
      "post": {
        "operationId": "streamChatSse",
        "summary": "Stream chat response (SSE)",
        "description": "Streams assistant output as **Server-Sent Events** (`Content-Type: text/event-stream`). Requires a non-empty `message`. Response body is **not JSON** — it is an SSE stream. **No bearer auth** in typical embed flows.",
        "tags": ["Client portal chat"],
        "security": [],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChatMessageRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream (assistant tokens/events). Headers typically include `Cache-Control: no-cache`, `Connection: keep-alive`, `X-Accel-Buffering: no`.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "text/event-stream body (SSE), not a single JSON object"
                }
              }
            }
          },
          "400": {
            "description": "Empty message or bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          }
        }
      }
    },
    "/v3/clientportal/chat/conversations": {
      "get": {
        "operationId": "listChatWidgetConversations",
        "summary": "Get all conversations",
        "description": "Returns conversations for the authenticated business. **Staff tokens** required. Supports `page`, `per_page`, `q`, `client_uid`, `from_date`, `to_date`, and optional `sort=field:asc|desc` (allowed fields: `ended_at`, `started_at`, `created_at`, `updated_at`; default sort `ended_at:desc`).",
        "tags": ["Client portal conversations"],
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search in transcript and summary",
            "schema": { "type": "string" }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "e.g. `ended_at:desc`",
            "schema": { "type": "string", "example": "ended_at:desc" }
          },
          {
            "name": "client_uid",
            "in": "query",
            "schema": { "type": "string" }
          },
          {
            "name": "from_date",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "List result (unwrapped envelope: `{ data: { conversations, total } }` — **no** `success` field)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConversationsDataWrapper" }
              }
            }
          },
          "400": {
            "description": "Invalid sort parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "403": {
            "description": "Business context required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createChatWidgetConversation",
        "summary": "Create a conversation",
        "description": "Creates a conversation for the authenticated business. `business_uid` must match the staff token business. **Staff tokens** required.",
        "tags": ["Client portal conversations"],
        "security": [{ "Bearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateConversationRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created (`{ data: conversation }` — **no** `success` field)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConversationSingleWrapper" }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "403": {
            "description": "Forbidden — business mismatch",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          }
        }
      }
    },
    "/v3/clientportal/chat/conversations/{uid}": {
      "get": {
        "operationId": "getChatWidgetConversation",
        "summary": "Retrieve a conversation",
        "description": "Returns a single conversation by uid for the authenticated business. **Staff tokens** required.",
        "tags": ["Client portal conversations"],
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation (`{ data: conversation }`)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConversationSingleWrapper" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateChatWidgetConversation",
        "summary": "Update a conversation",
        "description": "Updates a conversation by uid. **Staff tokens** required.",
        "tags": ["Client portal conversations"],
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateConversationRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated conversation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConversationSingleWrapper" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteChatWidgetConversation",
        "summary": "Delete a conversation",
        "description": "Soft-deletes a conversation. **204 No Content** with empty body on success. **Staff tokens** required.",
        "tags": ["Client portal conversations"],
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted (no response body)"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          }
        }
      }
    }
  }
}
