{
  "openapi": "3.0.3",
  "info": {
    "title": "Client portal — Web AI chat & conversations",
    "description": "Public/embed **chat** session APIs (`/v3/clientportal/chat`) and **Staff**-scoped **conversations** CRUD (`/v3/clientportal/chat/conversations`).\n\n**Session resume:** `POST /sessions` accepts optional `resume_session_id` to reconnect to an active Redis session for the same `business_uid`. On success, the response includes `resumed: true` and `messages` for client-side replay. If the id is stale or missing, a new session is created (`resumed: false`) — same as omitting the field.\n\n**Response envelopes:** JSON success responses follow the standard v3 envelope `{ \"success\": true, \"data\": ... }`. The SSE chat stream (`POST /sessions/{sessionId}/chat`) returns `text/event-stream`, not JSON.",
    "version": "3.0.2",
    "contact": {}
  },
  "tags": [
    {
      "name": "Client portal chat",
      "description": "Health, session create/close, and SSE streaming for the embedded widget / client portal flow."
    },
    {
      "name": "Client portal conversations",
      "description": "Persisted chat widget conversations for the authenticated business (**Staff tokens**)."
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "NestHttpException": {
        "type": "object",
        "description": "Standard v3 error envelope for client portal chat APIs.",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": { "type": "string", "nullable": true },
                "code": { "type": "string" },
                "message": { "type": "string" }
              },
              "required": ["code", "message"]
            }
          }
        },
        "required": ["success", "errors"]
      },
      "ChatHealthResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "ok" }
        },
        "required": ["status"]
      },
      "CreateSessionRequest": {
        "type": "object",
        "description": "Create session for website widget (`setup` must resolve to client).",
        "properties": {
          "setup": {
            "type": "string",
            "default": "client",
            "description": "Only `client` is supported for the website widget."
          },
          "business_uid": {
            "type": "string",
            "description": "Required for widget flow — loads business-specific guidance."
          },
          "welcome_message": { "type": "string" },
          "welcome_buttons": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/web_ai_widget/WidgetWelcomeButton.json"
            }
          },
          "page_url": { "type": "string", "description": "Page URL where the conversation started" },
          "from_widget_editor": {
            "type": "boolean",
            "description": "When true, page context is stored as Widget Editor"
          },
          "resume_session_id": {
            "type": "string",
            "format": "uuid",
            "description": "Optional. When set, reconnects to an existing Redis chat session for the same `business_uid` if it still exists (not idle-closed, same business). If the session cannot be resumed, the server creates a **new** session and returns `resumed: false` — no extra error for a stale id."
          }
        }
      },
      "CreateSessionResponse": {
        "type": "object",
        "properties": {
          "session_id": { "type": "string", "format": "uuid" },
          "resumed": {
            "type": "boolean",
            "description": "True when `resume_session_id` matched an active session. False for a newly created session (including fallback when resume was not possible)."
          },
          "messages": {
            "type": "array",
            "description": "Visitor-visible history for replay when `resumed` is true. Omitted or empty when starting a fresh session.",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/clientportal/ChatVisitorMessage.json"
            }
          },
          "greeting": {
            "type": "object",
            "description": "Welcome message for new sessions when configured. Typically omitted when `resumed` is true and the first assistant turn is already in `messages`.",
            "properties": {
              "content": { "type": "string" },
              "buttons": {
                "type": "array",
                "items": {
                  "$ref": "https://vcita.github.io/developers-hub/entities/web_ai_widget/WidgetWelcomeButton.json"
                }
              }
            }
          }
        },
        "required": ["session_id"]
      },
      "CloseSessionResponse": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "enum": [true] }
        },
        "required": ["ok"]
      },
      "ChatMessageRequest": {
        "type": "object",
        "properties": {
          "message": { "type": "string", "description": "User message; must be non-empty after trim" }
        },
        "required": ["message"]
      },
      "ChatWidgetConversation": {
        "$ref": "https://vcita.github.io/developers-hub/entities/clientportal/ChatWidgetConversation.json"
      },
      "ListConversationsPayload": {
        "type": "object",
        "properties": {
          "conversations": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ChatWidgetConversation" }
          },
          "total": { "type": "integer", "minimum": 0 }
        },
        "required": ["conversations", "total"]
      },
      "ConversationsDataWrapper": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/ListConversationsPayload" }
        },
        "required": ["data"]
      },
      "ConversationSingleWrapper": {
        "type": "object",
        "properties": {
          "data": { "$ref": "#/components/schemas/ChatWidgetConversation" }
        },
        "required": ["data"]
      },
      "CreateConversationRequest": {
        "type": "object",
        "properties": {
          "session_id": { "type": "string", "maxLength": 255 },
          "business_uid": { "type": "string", "maxLength": 255 },
          "transcript": {
            "description": "Structured transcript JSON (`ChatTranscriptDocument`) when closing a session; optional JSON string encoding for compatibility.",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "https://vcita.github.io/developers-hub/entities/clientportal/ChatTranscriptDocument.json"
              },
              { "type": "string" }
            ]
          },
          "summary": { "type": "string", "nullable": true },
          "contact_full_name": { "type": "string", "nullable": true, "maxLength": 255 },
          "contact_email": { "type": "string", "nullable": true, "maxLength": 255 },
          "contact_phone": { "type": "string", "nullable": true, "maxLength": 255 },
          "page_url": { "type": "string", "nullable": true },
          "started_at": { "type": "string", "format": "date-time" },
          "ended_at": { "type": "string", "format": "date-time" },
          "matter_uid": { "type": "string", "nullable": true, "maxLength": 255 },
          "client_uid": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Optional CRM client UID linked to this conversation."
          },
          "message_count": { "type": "integer", "nullable": true, "minimum": 0 }
          ,
          "lead_intent": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Lead intent extracted or assigned for this conversation (e.g., \"General inquiry\")."
          },
          "lead_information": {
            "type": "object",
            "nullable": true,
            "description": "Lead key/value data captured from the conversation.",
            "additionalProperties": { "type": "string" }
          }
        },
        "required": ["session_id", "business_uid", "started_at", "ended_at"]
      },
      "UpdateConversationRequest": {
        "type": "object",
        "properties": {
          "transcript": {
            "description": "Structured transcript or JSON string; optional staff edits.",
            "nullable": true,
            "oneOf": [
              {
                "$ref": "https://vcita.github.io/developers-hub/entities/clientportal/ChatTranscriptDocument.json"
              },
              { "type": "string" }
            ]
          },
          "summary": { "type": "string", "nullable": true },
          "contact_full_name": { "type": "string", "nullable": true, "maxLength": 255 },
          "contact_email": { "type": "string", "nullable": true, "maxLength": 255 },
          "contact_phone": { "type": "string", "nullable": true, "maxLength": 255 },
          "page_url": { "type": "string", "nullable": true },
          "matter_uid": { "type": "string", "nullable": true, "maxLength": 255 },
          "lead_intent": {
            "type": "string",
            "nullable": true,
            "maxLength": 255,
            "description": "Lead intent value for staff edits."
          },
          "lead_information": {
            "type": "object",
            "nullable": true,
            "description": "Lead key/value data for staff edits.",
            "additionalProperties": { "type": "string" }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "**Staff tokens** — business context is taken from the token for conversations."
      }
    }
  },
  "paths": {
    "/v3/clientportal/chat/health": {
      "get": {
        "operationId": "clientPortalChatHealth",
        "summary": "Chat service health",
        "description": "Liveness check for the client portal chat service. Called by API gateway and operators. **No authentication.**",
        "tags": ["Client portal chat"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is up",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "properties": {
                        "data": { "$ref": "#/components/schemas/ChatHealthResponse" }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": { "status": "ok" }
                }
              }
            }
          }
        }
      }
    },
    "/v3/clientportal/chat/sessions": {
      "post": {
        "operationId": "createChatSession",
        "summary": "Create or resume chat session",
        "description": "Creates a chat session for the embedded widget / client portal flow (not Staff tokens), or **resumes** an existing one when `resume_session_id` is provided and still valid in Redis. `business_uid` is required for the website widget. Successful resume returns `resumed: true` and `messages` for client replay; usage counters treat resume differently from a brand-new session (see product docs). **No bearer auth** in typical embed flows (gateway policy may vary).",
        "tags": ["Client portal chat"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateSessionRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session created or resumed",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "properties": {
                        "data": { "$ref": "#/components/schemas/CreateSessionResponse" }
                      }
                    }
                  ]
                },
                "examples": {
                  "newSession": {
                    "summary": "New session",
                    "value": {
                      "success": true,
                      "data": {
                        "session_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "resumed": false,
                        "greeting": {
                          "content": "Hi! How can we help?",
                          "buttons": []
                        }
                      }
                    }
                  },
                  "resumedSession": {
                    "summary": "Resumed session",
                    "value": {
                      "success": true,
                      "data": {
                        "session_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "resumed": true,
                        "messages": [
                          {
                            "role": "assistant",
                            "content": "Hi! How can we help?",
                            "at": "2026-04-19T12:00:00.000Z"
                          },
                          {
                            "role": "user",
                            "content": "I need pricing.",
                            "at": "2026-04-19T12:00:15.000Z"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax (e.g., invalid JSON payload)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "code": "invalid",
                      "message": "Unexpected token } in JSON at position 24"
                    }
                  ]
                },
                "examples": {
                  "malformedJson": {
                    "summary": "Malformed JSON body",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": "invalid",
                          "message": "Unexpected token } in JSON at position 24"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Semantic validation or business-rule failure",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "examples": {
                  "missingBusinessUid": {
                    "summary": "Missing required business_uid",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "field": "business_uid",
                          "code": "required",
                          "message": "business_uid is required. Provide the business UID to load business-specific guidance from the ai_guidance endpoint."
                        }
                      ]
                    }
                  },
                  "usageGateBlocked": {
                    "summary": "Business exceeded chat quota",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": "usage_limit_reached",
                          "message": "Monthly chat session quota reached for this business."
                        }
                      ]
                    }
                  },
                  "appUnavailable": {
                    "summary": "Widget app not available/active",
                    "value": {
                      "success": false,
                      "errors": [
                        {
                          "code": "invalid",
                          "message": "AI assistant is no longer available, please contact the business directly."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/clientportal/chat/sessions/{sessionId}/close": {
      "post": {
        "operationId": "closeChatSession",
        "summary": "Close chat session",
        "description": "Closes an active session. Returns `{ \"success\": true, \"data\": { \"ok\": true } }` or **404** if unknown. **No bearer auth** in typical embed flows.",
        "tags": ["Client portal chat"],
        "security": [],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Session closed",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "properties": {
                        "data": { "$ref": "#/components/schemas/CloseSessionResponse" }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": { "ok": true }
                }
              }
            }
          },
          "404": {
            "description": "Session not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          }
        }
      }
    },
    "/v3/clientportal/chat/sessions/{sessionId}/chat": {
      "post": {
        "operationId": "streamChatSse",
        "summary": "Stream chat response (SSE)",
        "description": "Streams assistant output as **Server-Sent Events** (`Content-Type: text/event-stream`). Requires a non-empty `message`. Response body is **not JSON** — it is an SSE stream. **No bearer auth** in typical embed flows.",
        "tags": ["Client portal chat"],
        "security": [],
        "parameters": [
          {
            "name": "sessionId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChatMessageRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream (assistant tokens/events). Headers typically include `Cache-Control: no-cache`, `Connection: keep-alive`, `X-Accel-Buffering: no`.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "text/event-stream body (SSE), not a single JSON object"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax (e.g., invalid JSON payload)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "422": {
            "description": "Semantic validation failure (e.g., empty message)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "message",
                      "code": "required",
                      "message": "message is required"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/clientportal/chat/conversations": {
      "get": {
        "operationId": "listChatWidgetConversations",
        "summary": "Get all conversations",
        "description": "Returns conversations for the authenticated business. **Staff tokens** required. Supports `page`, `per_page`, `q`, `from_date`, `to_date`, and optional `sort=field:asc|desc` (allowed fields: `ended_at`, `started_at`, `created_at`, `updated_at`; default sort `ended_at:desc`).",
        "tags": ["Client portal conversations"],
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "default": 1 }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search in transcript and summary",
            "schema": { "type": "string" }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "e.g. `ended_at:desc`",
            "schema": { "type": "string", "example": "ended_at:desc" }
          },
          {
            "name": "from_date",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          },
          {
            "name": "to_date",
            "in": "query",
            "schema": { "type": "string", "format": "date-time" }
          }
        ],
        "responses": {
          "200": {
            "description": "List result (`{ success: true, data: { conversations, total } }`)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "properties": {
                        "data": { "$ref": "#/components/schemas/ListConversationsPayload" }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "conversations": [
                      {
                        "id": 981,
                        "uid": "8d31f5fe-9c6d-4a6a-b0a2-9d10a9f1c01a",
                        "business_uid": "biz_2f8f7ab1",
                        "session_id": "4f609f56-cb57-43c5-956c-252f20d67cb0",
                        "transcript": {
                          "schemaVersion": 1,
                          "messages": [
                            {
                              "role": "user",
                              "content": "Hi, I need a quote for plumbing work.",
                              "at": "2026-04-04T12:43:25.000Z"
                            },
                            {
                              "role": "assistant",
                              "content": "Sure. Could you share your name and phone number?",
                              "at": "2026-04-04T12:43:28.000Z"
                            }
                          ]
                        },
                        "summary": "Visitor asked for plumbing quote and shared contact details.",
                        "contact_full_name": "John Doe",
                        "contact_email": null,
                        "contact_phone": "+15551234567",
                        "page_url": "https://example.com/services/plumbing",
                        "started_at": "2026-04-04T12:43:21.000Z",
                        "ended_at": "2026-04-04T12:49:58.000Z",
                        "matter_uid": "mtr_991ac2",
                        "client_uid": "cli_1872baf9",
                        "message_count": 18,
                        "lead_intent": "General inquiry",
                        "lead_information": {
                          "Name": "John Doe",
                          "Phone": "+15551234567",
                          "Reason for inquiry": "Quote for plumbing work"
                        },
                        "created_at": "2026-04-04T12:50:00.000Z",
                        "updated_at": "2026-04-04T12:50:00.000Z"
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "422": {
            "description": "Validation failure (e.g., invalid sort parameter)",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "sort",
                      "code": "invalid",
                      "message": "sort field must be one of: ended_at, started_at, created_at, updated_at"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    { "code": "unauthorized", "message": "Authentication required" }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Business context required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    { "code": "forbidden", "message": "Business context required" }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createChatWidgetConversation",
        "summary": "Create a conversation",
        "description": "Creates a conversation for the authenticated business. `business_uid` must match the staff token business. **Staff tokens** required.",
        "tags": ["Client portal conversations"],
        "security": [{ "Bearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateConversationRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created (`{ success: true, data: conversation }`)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "properties": {
                        "data": { "$ref": "#/components/schemas/ChatWidgetConversation" }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 982,
                    "uid": "2d7472a0-76ee-4d9b-bebf-b27b7ebc7285",
                    "business_uid": "biz_2f8f7ab1",
                    "session_id": "f7f177f0-3242-4bb4-95ac-5f7ea8e5f8a0",
                    "transcript": {
                      "schemaVersion": 1,
                      "messages": [
                        {
                          "role": "assistant",
                          "content": "Hi! How can I help?",
                          "at": "2026-04-19T12:34:56.789Z"
                        },
                        {
                          "role": "user",
                          "content": "I need to book an appointment.",
                          "at": "2026-04-19T12:35:01.000Z"
                        }
                      ]
                    },
                    "summary": "Visitor asked to schedule an appointment.",
                    "contact_full_name": "Jane Doe",
                    "contact_email": "jane@example.com",
                    "contact_phone": "+15557654321",
                    "page_url": "https://example.com/contact",
                    "started_at": "2026-04-19T12:34:56.789Z",
                    "ended_at": "2026-04-19T12:40:10.000Z",
                    "matter_uid": null,
                    "client_uid": "cli_17d0b233",
                    "message_count": 12,
                    "lead_intent": "Book appointment",
                    "lead_information": {
                      "Name": "Jane Doe",
                      "Email": "jane@example.com"
                    },
                    "created_at": "2026-04-19T12:40:11.000Z",
                    "updated_at": "2026-04-19T12:40:11.000Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed request syntax",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "422": {
            "description": "Validation failure",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "ended_at",
                      "code": "invalid",
                      "message": "ended_at must be a valid ISO 8601 date string"
                    },
                    {
                      "field": "started_at",
                      "code": "invalid",
                      "message": "started_at must be a valid ISO 8601 date string"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    { "code": "unauthorized", "message": "Authentication required" }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — business mismatch",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    {
                      "field": "business_uid",
                      "code": "forbidden",
                      "message": "business_uid does not match authenticated business"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/clientportal/chat/conversations/{uid}": {
      "get": {
        "operationId": "getChatWidgetConversation",
        "summary": "Retrieve a conversation",
        "description": "Returns a single conversation by uid for the authenticated business. **Staff tokens** required.",
        "tags": ["Client portal conversations"],
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation (`{ success: true, data: conversation }`)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "properties": {
                        "data": { "$ref": "#/components/schemas/ChatWidgetConversation" }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 981,
                    "uid": "8d31f5fe-9c6d-4a6a-b0a2-9d10a9f1c01a",
                    "business_uid": "biz_2f8f7ab1",
                    "session_id": "4f609f56-cb57-43c5-956c-252f20d67cb0",
                    "transcript": {
                      "schemaVersion": 1,
                      "messages": [
                        {
                          "role": "assistant",
                          "content": "Hi! How can I help?",
                          "at": "2026-04-19T12:34:56.789Z"
                        },
                        {
                          "role": "user",
                          "content": "I need help with pricing.",
                          "at": "2026-04-19T12:35:01.000Z"
                        }
                      ]
                    },
                    "summary": "Visitor asked for pricing information.",
                    "contact_full_name": null,
                    "contact_email": null,
                    "contact_phone": null,
                    "page_url": "https://example.com/pricing",
                    "started_at": "2026-04-19T12:34:56.789Z",
                    "ended_at": "2026-04-19T12:40:10.000Z",
                    "matter_uid": null,
                    "client_uid": null,
                    "message_count": 6,
                    "lead_intent": "General inquiry",
                    "lead_information": null,
                    "created_at": "2026-04-19T12:40:11.000Z",
                    "updated_at": "2026-04-19T12:40:11.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    { "code": "unauthorized", "message": "Authentication required" }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    { "code": "forbidden", "message": "Access denied" }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    { "code": "not_found", "message": "Conversation not found" }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateChatWidgetConversation",
        "summary": "Update a conversation",
        "description": "Updates a conversation by uid. **Staff tokens** required.",
        "tags": ["Client portal conversations"],
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdateConversationRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated conversation",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "https://vcita.github.io/developers-hub/entities/response.json" },
                    {
                      "properties": {
                        "data": { "$ref": "#/components/schemas/ChatWidgetConversation" }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": 981,
                    "uid": "8d31f5fe-9c6d-4a6a-b0a2-9d10a9f1c01a",
                    "business_uid": "biz_2f8f7ab1",
                    "session_id": "4f609f56-cb57-43c5-956c-252f20d67cb0",
                    "transcript": {
                      "schemaVersion": 1,
                      "messages": [
                        {
                          "role": "assistant",
                          "content": "Hi! How can I help?",
                          "at": "2026-04-19T12:34:56.789Z"
                        },
                        {
                          "role": "user",
                          "content": "Please call me back.",
                          "at": "2026-04-19T12:35:01.000Z"
                        }
                      ]
                    },
                    "summary": "Visitor requested a callback.",
                    "contact_full_name": "Jane Doe",
                    "contact_email": "jane@example.com",
                    "contact_phone": "+15557654321",
                    "page_url": "https://example.com/contact",
                    "started_at": "2026-04-19T12:34:56.789Z",
                    "ended_at": "2026-04-19T12:40:10.000Z",
                    "matter_uid": "mtr_991ac2",
                    "client_uid": "cli_17d0b233",
                    "message_count": 12,
                    "lead_intent": "Request callback",
                    "lead_information": {
                      "Name": "Jane Doe",
                      "Phone": "+15557654321"
                    },
                    "created_at": "2026-04-19T12:40:11.000Z",
                    "updated_at": "2026-04-19T12:44:01.000Z"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    { "code": "unauthorized", "message": "Authentication required" }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    { "code": "forbidden", "message": "Access denied" }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" },
                "example": {
                  "success": false,
                  "errors": [
                    { "code": "not_found", "message": "Conversation not found" }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteChatWidgetConversation",
        "summary": "Delete a conversation",
        "description": "Soft-deletes a conversation. **204 No Content** with empty body on success. **Staff tokens** required.",
        "tags": ["Client portal conversations"],
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted (no response body)"
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/NestHttpException" }
              }
            }
          }
        }
      }
    }
  }
}
