{
    "openapi": "3.0.0",
    "info": {
        "title": "Apps",
        "description": "A set of endpoints to manage inTandem's apps",
        "version": "3.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz/v3",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
                "type": "http",
                "scheme": "bearer",
                "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {directory_token}'"
            }
        },
        "schemas": {
            "Response": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "object"
                    }
                },
                "required": [
                    "success",
                    "data"
                ]
            },
            "CreateAppAssignmentRequestDto": {
                "type": "object",
                "properties": {
                    "assignee_type": {
                        "type": "string",
                        "description": "The type of entity this app is assigned to",
                        "enum": ["business", "package", "directory"]
                    },
                    "assigneeUid": {
                        "type": "string",
                        "description": "The unique identifier of the entity this app is assigned to"
                    },
                    "app_code_name": {
                        "type": "string",
                        "description": "The unique identifier of the app"
                    },
                    "is_internal": {
                        "type": "boolean",
                        "description": "App does not show in the app market but still available to use in all relevant integration points"
                    },
                    "pre_installed": {
                        "type": "boolean",
                        "description": "Define the app as pre-installed for all new accounts, app shows in app market as installed on first appearance. The user will be able to uninstall it later if they wish to. This is relevant only to account with platform app market"
                    }
                },
                "required": [
                    "assignee_type",
                    "assigneeUid",
                    "app_code_name",
                    "is_internal",
                    "pre_installed"
                ]
            }
        }
    },
    "paths": {
        "/apps/assignments": {
            "post": {
                "operationId": "AppAssignments_create",
                "summary": "Create an App Assignment",
                "description": "Create a new app assignment to a business, package, or directory. **Only available for Directory Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAppAssignmentRequestDto"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "App assignment created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/apps/appAssignment.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Invalid input data."
                    },
                    "401": {
                        "description": "Unauthorized. The bearer token is missing or invalid."
                    },
                    "403": {
                        "description": "Forbidden. You do not have access to this resource."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "tags": [
                    "App Assignments"
                ],
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/apps/assignments/{uid}": {
            "delete": {
                "operationId": "AppAssignments_delete",
                "summary": "Delete an App Assignment",
                "description": "Delete an app assignment. **Only available for Directory Tokens**",
                "parameters": [
                    {
                        "name": "uid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique identifier of the app assignment to delete"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "App assignment deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/apps/appAssignment.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Invalid input data."
                    },
                    "401": {
                        "description": "Unauthorized. The bearer token is missing or invalid."
                    },
                    "403": {
                        "description": "Forbidden. You do not have access to this resource."
                    },
                    "404": {
                        "description": "Not found. App assignment not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "tags": [
                    "App Assignments"
                ],
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/app_market/apps/{uid}": {
            "get": {
                "parameters": [
                    {
                        "name": "uid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get directory offering by its unique identifier",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "purchasable": {
                                                    "type": "object",
                                                    "$ref": "/entities/apps/app.json"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Retrieve a directory offering by id",
                "description": "Retrieve a directory offering\n\n**Available for Directory, business, or app token.**\n",
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "x-auth-type": [
                    "Admin",
                    "Directory",
                    "Business",
                    "app"
                ],
                "tags": [
                    "Directory Offering"
                ]
            }
        }
    }
}
