{
    "openapi": "3.0.0",
    "info": {
        "title": "Apps",
        "description": "A set of endpoints to manage inTandem's apps",
        "version": "3.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz/v3",
            "description": "API Gateway server"
        }
    ],
    "paths": {
      "/app_market/apps/{uid}" : {
        "get" : {
          "parameters" : [ {
            "name" : "uid",
            "in" : "path",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          } ],
          "responses" : {
            "200" : {
              "description" : "Get directory offering by its unique identifier",
              "content" : {
                "application/json" : {
                  "schema" : {
                    "type" : "object",
                    "properties" : {
                      "success" : {
                        "type" : "boolean",
                        "example" : true
                      },
                      "data" : {
                        "type" : "object",
                        "properties" : {
                          "purchasable" : {
                            "type" : "object",
                            "$ref" : "/entities/apps/app.json"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "summary" : "Retrieve a directory offering by id",
          "description" : "Retrieve a directory offering\n\n**Available for Directory, business, or app token.**\n",
          "security" : [ {
            "api_key" : [ ]
          } ],
          "x-auth-type" : [ "Admin", "Directory", "Business", "app" ],
          "tags" : [ "Directory Offering" ]
        }
      }
    }
}