{
    "openapi": "3.0.0",
    "info": {
        "title": "Apps",
        "description": "A set of endpoints to manage inTandem's apps",
        "version": "3.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz/",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
                "type": "http",
                "scheme": "bearer",
                "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {directory_token}'"
            }
        },
        "schemas": {
            "Response": {
                "type": "object",
                "properties": {
                    "success": {
                        "type": "boolean"
                    },
                    "data": {
                        "type": "object"
                    }
                },
                "required": [
                    "success",
                    "data"
                ]
            },
            "CreateAppAssignmentRequestDto": {
                "type": "object",
                "properties": {
                    "assignee_type": {
                        "type": "string",
                        "description": "The type of entity this app is assigned to",
                        "enum": ["business", "package", "directory"]
                    },
                    "assignee_uid": {
                        "type": "string",
                        "description": "The uid of the entity this app is assigned to"
                    },
                    "app_code_name": {
                        "type": "string",
                        "description": "The unique identifier of the app"
                    },
                    "directory_uid": {
                        "type": "string",
                        "description": "The uid of the directory this app is assigned to"
                    },
                    "settings": {
                        "type": "object",
                        "description": "Optional settings for the app assignment",
                        "properties": {
                            "assignment_mode": {
                                "type": "string",
                                "description": "App setting: 'internal' - App does not show in the app market but still available to use in all relevant integration points; 'pre_installed' - Define the app as pre-installed for all new accounts, app shows in app market as installed on first appearance. The user will be able to uninstall it later if they wish to. This is relevant only to account with platform app market",
                                "enum": ["internal", "pre_installed"]
                            }
                        },
                        "required": [
                            "assignment_mode"
                        ]
                    }
                },
                "required": [
                    "assignee_type",
                    "assignee_uid",
                    "app_code_name",
                    "settings"
                ]
            }
        }
    }, 
    "paths": {
        "/v3/apps/app_assignments": {
            "get": {
                "operationId": "AppAssignments_list",
                "summary": "List App Assignments",
                "description": "Get a list of app assignments with optional filtering.\n\n## Overview\nRetrieves app assignments that link apps to businesses, packages, or directories.\n\n## When to Use\n- Check which apps are assigned to a specific business or directory\n- Verify app assignment settings\n- List all assignments for an app\n\n## Prerequisites\n- Valid Directory Token or Internal Token\n\n## Filtering\n- `assignee_uid` can only be used when `assignee_type` is also provided\n- `directory_uid` filter is only available for Internal Tokens\n\n## Notes\n- Directory tokens can only see assignments within their directory scope",
                "parameters": [
                    {
                        "name": "app_code_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by app code name"
                    },
                    {
                        "name": "assignee_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": ["business", "package", "directory"]
                        },
                        "description": "Filter by assignee type"
                    },
                    {
                        "name": "assignee_uid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by assignee uid. Only allowed when assignee_type is also provided."
                    },
                    {
                        "name": "directory_uid",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter by directory uid. Only available for internal Tokens."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "App assignments retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "app_assignments": {
                                                            "type": "array",
                                                            "items": {
                                                                "$ref": "https://vcita.github.io/developers-hub/entities/apps/appAssignment.json"
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "app_assignments"
                                                    ]
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Invalid input data."
                    },
                    "401": {
                        "description": "Unauthorized. The bearer token is missing or invalid."
                    },
                    "403": {
                        "description": "Forbidden. You do not have access to this resource."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "tags": [
                    "App Assignments"
                ],
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            },
            "post": {
                "operationId": "AppAssignments_create",
                "summary": "Create an App Assignment",
                "description": "Create a new app assignment to link an app to a business, package, or directory.\n\n## Overview\nAssigns an app to an entity, making it available for use.\n\n## When to Use\n- Enable an app for a specific business\n- Assign an app to all businesses in a package\n- Make an app available directory-wide\n\n## Prerequisites\n- Valid Directory Token or Internal Token\n- App must belong to the directory\n\n## Assignment Modes\n- `internal`: App doesn't show in app market but is available at integration points\n- `pre_installed`: App is pre-installed for new accounts, shown as installed in app market",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAppAssignmentRequestDto"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "App assignment created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/apps/appAssignment.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Invalid input data."
                    },
                    "401": {
                        "description": "Unauthorized. The bearer token is missing or invalid."
                    },
                    "403": {
                        "description": "Forbidden. You do not have access to this resource."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "tags": [
                    "App Assignments"
                ],
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        },
        "/v3/apps/app_assignments/{uid}": {
            "delete": {
                "operationId": "AppAssignments_delete",
                "summary": "Delete an App Assignment",
                "description": "Delete an app assignment to remove the app from a business, package, or directory.\n\n## Overview\nRemoves the link between an app and an entity.\n\n## When to Use\n- Remove an app from a specific business\n- Unassign an app from a package or directory\n\n## Prerequisites\n- Valid Directory Token or Internal Token\n\n## Notes\n- Deleting an assignment may affect users who are currently using the app",
                "parameters": [
                    {
                        "name": "uid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Unique identifier of the app assignment to delete"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "App assignment deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Response"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/apps/appAssignment.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request. Invalid input data."
                    },
                    "401": {
                        "description": "Unauthorized. The bearer token is missing or invalid."
                    },
                    "403": {
                        "description": "Forbidden. You do not have access to this resource."
                    },
                    "404": {
                        "description": "Not found. App assignment not found."
                    },
                    "500": {
                        "description": "Internal server error."
                    }
                },
                "tags": [
                    "App Assignments"
                ],
                "security": [
                    {
                        "Bearer": []
                    }
                ]
            }
        }
    }
}
