{
  "openapi": "3.0.0",
  "info": {
    "title": "Business App Install",
    "description": "A set of endpoints to manage business app installations on the inTandem platform.",
    "version": "1.0",
    "contact": {}
  },
  "tags": [
    {
      "name": "Business App Install",
      "description": "Endpoints for managing app installations for businesses."
    }
  ],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {token}'"
      }
    }
  },
  "paths": {
    "/v3/apps/business_app_installs": {
      "get": {
        "summary": "Get all BusinessAppInstalls",
        "description": "Get a list of BusinessAppInstalls for a business. Supports filtering by app_code_name.\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "name": "app_code_name",
            "required": false,
            "in": "query",
            "description": "Filter by app code name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of BusinessAppInstalls",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "business_app_installs": {
                              "description": "List of BusinessAppInstalls",
                              "type": "array",
                              "items": {
                                "$ref": "https://vcita.github.io/developers-hub/entities/apps/business_app_install.json"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business App Install"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "summary": "Create a BusinessAppInstall",
        "description": "Installs an app for a business and creates an associated subscription if required by the offering.\n\nAvailable for **Staff Tokens**",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "app_code_name": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/apps/business_app_install.json#/properties/app_code_name"
                  },
                  "offering_uid": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/apps/business_app_install.json#/properties/offering_uid"
                  }
                },
                "required": [
                  "app_code_name"
                ],
                "example": {
                  "app_code_name": "forms",
                  "offering_uid": "bc33f12d-98ee-428f-9f65-18bba589cb95"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "BusinessAppInstall created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/business_app_install.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business App Install"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/business_app_installs/{uid}": {
      "get": {
        "summary": "Retrieve a BusinessAppInstall",
        "description": "Retrieve details of a specific app installation.\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessAppInstall",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "7c9e6679-7425-40de-944b-e07fc1f90ae7"
          }
        ],
        "responses": {
          "200": {
            "description": "BusinessAppInstall details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/business_app_install.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business App Install"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "summary": "Update a BusinessAppInstall",
        "description": "Update the status or associated offering of an app installation.\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessAppInstall",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "install_status": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/apps/business_app_install.json#/properties/install_status"
                  },
                  "offering_uid": {
                    "$ref": "https://vcita.github.io/developers-hub/entities/apps/business_app_install.json#/properties/offering_uid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BusinessAppInstall updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/business_app_install.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business App Install"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a BusinessAppInstall",
        "description": "Uninstalls an app and removes any associated subscriptions.\n\nAvailable for **Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "Unique identifier of the BusinessAppInstall",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BusinessAppInstall deleted",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Business App Install"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}

