{
    "openapi": "3.0.0",
    "info": {
        "title": "JWKS",
        "description": "JWKS API - enables partners to verify the authenticity of a compact JWS token using a JWKS process",
        "version": "1.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
              "type": "http",
              "scheme": "bearer",
              "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
            }
          },
        "schemas": {
            
        }
    },
    "paths": {
        "/v3/apps/compact_jws_tokens": {
            "post": {
                "summary": "Create a compactJWStoken",
                "description": "Create a new compact JWS token that can be used to authenticate a staff member to an app in inTandem using a JWKS process. The token is signed by the app's private key and can be verified by the inTandem's public key.\n\nPublic JWKS token can be obtained at: https://api.vcita.biz/v3/apps/.well-known/jwks.json \n\nAvailable for **Staff Tokens**",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "app_code_name": {
                                        "type": "string",
                                        "description": "The code name of the app that owns this token"
                                    }
                                },
                                "required": [
                                    "app_code_name"
                                ],
                                "example": {
                                    "app_code_name": "tips" 
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "object",
                                                    "$ref": "https://vcita.github.io/developers-hub/entities/apps/compactJWSToken.json"
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "JWKS"
                ],
                "security": [
                  {
                    "Bearer": []
                  }
                ]
            }
        }
    }
}