{
    "openapi": "3.0.0",
    "info": {
        "title": "JWKS",
        "description": "JWKS API - enables partners to verify the authenticity of a compact JWS token using a JWKS process",
        "version": "1.0",
        "contact": {}
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.vcita.biz",
            "description": "API Gateway server"
        }
    ],
    "components": {
        "securitySchemes": {
            "Bearer": {
              "type": "http",
              "scheme": "bearer",
              "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
            }
          },
        "schemas": {
            
        }
    },
"paths": {
  "/v3/apps/compact_jws_tokens": {
    "post": {
      "summary": "Create a compact JWS token",
      "description": "Create a new compact JWS token that can be used to authenticate a staff member to an app in inTandem using a JWKS process.\n\n## Overview\nThe token is signed by inTandem's private key and can be verified using the public JWKS endpoint.\n\n## When to Use\n- Authenticate a staff member to a third-party app\n- Generate secure, verifiable tokens for app integrations\n\n## Prerequisites\n- Valid Staff Token or AppStaffToken\n- The app must be authorized for token signing for the staff member\n\n## Public JWKS Endpoint\nPublic keys for verification: `https://api.vcita.biz/v3/apps/.well-known/jwks.json`\n\n## Notes\n- Token has a limited validity period (check `expiry_date` in response)\n- Each token has a unique `uid` for tracking",
      "x-vcita-timeout": "5000ms",
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "app_code_name": {
                  "type": "string",
                  "description": "The code name of the app that owns this token. Must be a non-empty string.",
                  "minLength": 1
                }
              },
              "required": [
                "app_code_name"
              ],
              "example": {
                "app_code_name": "tips"
              }
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "A compact JWS token is successfully created.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                  },
                  {
                    "properties": {
                      "data": {
                        "type": "object",
                        "$ref": "https://vcita.github.io/developers-hub/entities/apps/compactJWSToken.json"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "400": {
          "description": "Bad Request. Invalid request body or app_code_name is empty."
        },
        "401": {
          "description": "Unauthorized. The bearer token is missing, invalid, or the staff is not authorized to sign tokens for the specified app."
        },
        "429": {
          "description": "Rate limit has been reached due to the number of requests made for the same staff member in a short period of time."
        },
        "500": {
          "description": "Internal Server Error. Token signing failed."
        }
      },
      "tags": [
        "JWKS"
      ],
      "security": [
        {
          "Bearer": []
        }
      ]
    }
  },
  "/v3/apps/compact_jws_tokens/bulk": {
    "post": {
      "summary": "Bulk create compact JWS tokens",
      "description": "Create multiple compact JWS tokens for a list of app code names in a single request.\n\n## Overview\nThis endpoint allows generating tokens for multiple apps at once, with individual success/failure status for each.\n\n## When to Use\n- Generate tokens for multiple apps simultaneously\n- Reduce API calls when a staff member needs access to several apps\n\n## Prerequisites\n- Valid Staff Token or AppStaffToken\n- At least one app_code_name must be provided\n\n## Response Structure\nThe response contains an array where each item indicates:\n- `success: true` with token data if successful\n- `success: false` with error message if failed (e.g., unauthorized for that app)\n\n## Notes\n- Each app_code_name is validated independently\n- Partial success is possible - some tokens may succeed while others fail\n- Tokens for unauthorized apps will return individual error messages",
      "x-vcita-timeout": "5000ms",
      "parameters": [],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "app_code_names": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1
                  },
                  "minItems": 1,
                  "description": "List of app code names for which JWS tokens need to be generated. Must contain at least one non-empty string."
                }
              },
              "required": [
                "app_code_names"
              ],
              "example": {
                "app_code_names": ["tips", "helpdesk", "sales"]
              }
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Bulk creation completed. Check individual items for success/failure status.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "success": {
                    "type": "boolean"
                  },
                  "data": {
                    "type": "object",
                    "properties": {
                      "compact_jws_tokens": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "success": {
                              "type": "boolean",
                              "description": "Status of the creation for this specific app. true = token generated, false = error occurred."
                            },
                            "data": {
                              "type": "object",
                              "description": "The generated JWS token data (present when success is true)",
                              "$ref": "https://vcita.github.io/developers-hub/entities/apps/compactJWSToken.json"
                            },
                            "error": {
                              "type": "string",
                              "description": "Error message explaining why token creation failed (present when success is false)"
                            }
                          },
                          "required": ["success"]
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "mixed_results": {
                  "summary": "Mixed success and failure",
                  "value": {
                    "success": true,
                    "data": {
                      "compact_jws_tokens": [
                        {
                          "success": true,
                          "data": {
                            "token": "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...",
                            "uid": "abc123",
                            "expiry_date": "2026-01-11T12:00:00Z",
                            "app_code_name": "tips"
                          }
                        },
                        {
                          "success": false,
                          "error": "Unauthorized to sign token for app helpdesk for staff"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "400": {
          "description": "Bad Request. Invalid request body or app_code_names array is empty."
        },
        "401": {
          "description": "Unauthorized. The bearer token is missing or invalid."
        },
        "429": {
          "description": "Rate limit has been reached due to the number of requests made for the same staff member in a short period of time."
        },
        "500": {
          "description": "Internal Server Error."
        }
      },
      "tags": [
        "JWKS"
      ],
      "security": [
        {
          "Bearer": []
        }
      ]
    }
  }
}

}