{
  "openapi": "3.0.0",
  "info": {
    "title": "JWKS",
    "description": "JWKS API - enables partners to verify the authenticity of a compact JWS token using a JWKS process",
    "version": "1.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.vcita.biz",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {},
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/v3/apps/compact_jws_tokens": {
      "post": {
        "summary": "Create a compact JWS token",
        "description": "## Overview\nCreate a new compact JWS token that can be used to authenticate a staff member to an app in inTandem using a JWKS process. The token is signed by the app's private key and can be verified by inTandem's public key. Public JWKS token can be obtained at: https://api.vcita.biz/v3/apps/.well-known/jwks.json. Available for **Staff Tokens** and **AppStaffToken**.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "app_code_name": {
                    "type": "string",
                    "description": "The code name of the app that owns this token"
                  }
                },
                "required": [
                  "app_code_name"
                ],
                "example": {
                  "app_code_name": "tips"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A compact JWS token is successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "https://vcita.github.io/developers-hub/entities/response.json"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/compactJWSToken.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing, invalid or not allowed to access the requested resource."
          },
          "429": {
            "description": "Rate limit has been reached due to the number of requests made for the same staff member in a short period of time."
          }
        },
        "tags": [
          "JWKS"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/compact_jws_tokens/bulk": {
      "post": {
        "summary": "Bulk create compact JWS tokens",
        "description": "## Overview\nCreate multiple compact JWS tokens for a list of app code names. The response will include the success, generated token (if successful), or error details for each app code name.\n\n**Available for Staff Tokens and AppStaffToken**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "app_code_names": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "The code name of the app that owns the token"
                    },
                    "description": "List of app code names for which JWS tokens need to be generated"
                  }
                },
                "required": [
                  "app_code_names"
                ],
                "example": {
                  "app_code_names": [
                    "tips",
                    "helpdesk",
                    "sales"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk creation of compact JWS tokens.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "compact_jws_tokens": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "success": {
                                "type": "boolean",
                                "description": "Status of the creation for the entity. Possible values: true (success), false (error)."
                              },
                              "data": {
                                "type": "object",
                                "description": "The generated JWS token or null if failed",
                                "$ref": "https://vcita.github.io/developers-hub/entities/apps/compactJWSToken.json"
                              },
                              "error": {
                                "type": "string",
                                "description": "Error message if token creation failed"
                              }
                            },
                            "required": [
                              "success"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing, invalid or not allowed to access the requested resource."
          },
          "429": {
            "description": "Rate limit has been reached due to the number of requests made for the same staff member in a short period of time."
          }
        },
        "tags": [
          "JWKS"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}
