{
  "openapi": "3.0.0",
  "info": {
    "title": "Widgets And Boards",
    "description": "A set of API endpoints used by the inTandem platform to manage\n       App widgets and staff widgets boards.",
    "version": "3.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.vcita.biz/",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "CreateWidgetRequestDto": {
        "type": "object",
        "properties": {
          "display_name": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DisplayNameDto"
              }
            ]
          },
          "dimensions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WidgetDimensionsDto"
              }
            ]
          },
          "permissions": {
            "type": "array",
            "description": "The permissions required for the widget to show up for a staff member",
            "items": {
              "type": "string"
            }
          },
          "module": {
            "type": "string",
            "description": "The module (FF) required for the widget to show up for a staff member"
          },
          "component_data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ComponentDataDto"
              }
            ]
          }
        },
        "required": [
          "display_name",
          "dimensions",
          "component_data"
        ]
      },
      "StaffWidgetsBoardRequestDto": {
        "type": "object",
        "description": "Request body for creating or updating a staff widgets board",
        "properties": {
          "board_layout_code_name": {
            "type": "string",
            "description": "The board layout code name representing the board layout",
            "enum": [
              "MainAndSideBar2Columns"
            ]
          },
          "type": {
            "type": "string",
            "description": "The grid frame of the layout, determines the layout frame containing the board",
            "enum": [
              "home"
            ]
          },
          "sections": {
            "type": "array",
            "description": "An array of sections for the widgets board",
            "items": {
              "$ref": "#/components/schemas/SectionDto"
            }
          }
        },
        "required": [
          "board_layout_code_name",
          "type",
          "sections"
        ]
      },
      "UpdateWidgetRequestDto": {
        "type": "object",
        "properties": {
          "display_name": {
            "description": "The widget display name in different languages",
            "allOf": [
              {
                "$ref": "#/components/schemas/DisplayNameDto"
              }
            ]
          },
          "component_data": {
            "description": "The widget component data",
            "allOf": [
              {
                "$ref": "#/components/schemas/ComponentDataDto"
              }
            ]
          },
          "dimensions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WidgetDimensionsDto"
              }
            ]
          },
          "permissions": {
            "type": "array",
            "description": "The permissions required for the widget to show up for a staff member",
            "items": {
              "type": "string"
            }
          },
          "module": {
            "type": "string",
            "description": "The module (FF) required for the widget to show up for a staff member"
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "MultiWidgetsResponse": {
        "type": "object",
        "properties": {
          "widgets": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/apps/widget.json"
            }
          }
        },
        "required": [
          "widgets"
        ]
      },
      "MultiStaffWidgetsBoardResponse": {
        "type": "object",
        "properties": {
          "staffWidgetsBoards": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoard.json"
            }
          }
        },
        "required": [
          "staffWidgetsBoards"
        ]
      },
      "MultiStaffWidgetsBoardsTemplatesResponse": {
        "type": "object",
        "properties": {
          "staff_widgets_boards_templates": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoardsTemplate.json"
            }
          }
        },
        "required": [
          "staff_widgets_boards_templates"
        ]
      },
      "DisplayNameDto": {
        "type": "object",
        "properties": {
          "en": {
            "type": "string"
          },
          "es": {
            "type": "string"
          },
          "fr": {
            "type": "string"
          },
          "it": {
            "type": "string"
          },
          "pt": {
            "type": "string"
          },
          "de": {
            "type": "string"
          },
          "pl": {
            "type": "string"
          },
          "nl": {
            "type": "string"
          },
          "he": {
            "type": "string"
          },
          "sl": {
            "type": "string"
          }
        },
        "required": [
          "en"
        ]
      },
      "WidgetDimensionsDto": {
        "description": "The widget dimensions including min\\max\\preferred height and width.",
        "type": "object",
        "properties": {
          "max_height": {
            "type": "integer"
          },
          "min_height": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "max_width": {
            "type": "integer"
          },
          "min_width": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          }
        },
        "required": [
          "max_height,",
          "min_height,",
          "height,",
          "max_width,",
          "min_width,",
          "width"
        ]
      },
      "CustomizedWidgetDimensionsDto": {
        "type": "object",
        "properties": {
          "height": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          }
        }
      },
      "ComponentDataDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "config": {
            "type": "object"
          }
        },
        "required": [
          "name",
          "config"
        ]
      },
      "SectionDto": {
        "type": "object",
        "properties": {
          "code_name": {
            "type": "string",
            "description": "The section code name"
          },
          "widgets": {
            "description": "The sections widgets",
            "type": "array",
            "items":
              {
                "$ref": "#/components/schemas/SectionWidgetDto"
              }
          }
        },
        "required": [
          "code_name",
          "widgets"
        ]
      },
      "SectionWidgetDto": {
        "type": "object",
        "description": "Widget configuration within a section",
        "properties": {
          "widget_uid": {
            "type": "string",
            "description": "The unique identifier of the widget"
          },
          "dimensions": {
            "description": "Custom dimensions for the widget in this section",
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomizedWidgetDimensionsDto"
              }
            ]
          }
        },
        "required": [
          "widget_uid"
        ]
      }
    }
  },
  "paths": {
    "/v3/apps/widgets": {
      "post": {
        "operationId": "Widgets_create",
        "summary": "Create a Widget",
        "description": "Create a new widget for your app.\n\n## When to Use\n- Register a new widget that can be displayed on staff dashboards\n- Define widget dimensions, display names, and component configuration\n\n## Prerequisites\n- Valid App Token with `app_type: 'widgets'`\n\n## Notes\n- Widget `display_name` must include at least an English (`en`) translation\n- The `component_data` must include a valid component `name` and `config` object",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWidgetRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Widget successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/widget.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid request body or missing required fields."
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource or app_type is not 'widgets'."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "Widgets_getAll",
        "summary": "Get all Widgets",
        "description": "Retrieve all widgets registered by your app.\n\n## When to Use\n- List all widgets available for staff dashboards\n- Filter widgets by module/feature flag requirements\n\n## Notes\n- Results are automatically filtered to only show widgets belonging to the authenticated app\n- Supports pagination and sorting",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "description": "Filter by module (feature flag). Example: module=Payment",
            "name": "module",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of widgets successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiWidgetsResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/widgets/{uid}": {
      "put": {
        "operationId": "Widgets_update",
        "summary": "Update Widget",
        "description": "Update a widget. **Only available for App Tokens that has the app_type 'widgets'**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "The widget uid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWidgetRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Widget successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/widget.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid request body or parameters."
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          },
          "404": {
            "description": "Not Found. Widget with specified uid does not exist or does not belong to the app."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards": {
      "post": {
        "operationId": "StaffWidgetsBoard_create",
        "summary": "Create a Staff Widgets Board",
        "description": "Creates a widgets board for the authenticated staff member.\n\n## When to Use\n- Set up a personalized dashboard layout for a staff member\n- Configure which widgets appear in which sections of the dashboard\n\n## Prerequisites\n- Valid Staff Token\n\n## Notes\n- Each staff member can have multiple boards of different types\n- The `board_layout_code_name` determines the overall layout structure\n- Sections contain references to widgets by their `widget_uid`",
        "x-vcita-timeout": "INTEGRATIONS_TIMEOUT",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffWidgetsBoardRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Staff widgets board successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoard.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid request body or missing required fields."
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "Staff Widgets Board"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "StaffWidgetsBoard_getAll",
        "summary": "Get all Widgets Boards Of The Staff",
        "description": "Returns all widgets boards for the authenticated staff member.\n\n## When to Use\n- Retrieve dashboard configurations for a staff member\n- List available board layouts and their widget configurations\n\n## Prerequisites\n- Valid Staff Token\n\n## Notes\n- Results are filtered to only show boards belonging to the authenticated staff member\n- Can filter by board type (e.g., 'home')",
        "x-vcita-timeout": "INTEGRATIONS_TIMEOUT * 2",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "description": "Filter by board type. Example: type=home",
            "name": "type",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["home"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of staff widgets boards successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiStaffWidgetsBoardResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "Staff Widgets Board"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards/{uid}": {
      "put": {
        "operationId": "StaffWidgetsBoard_update",
        "summary": "Update a Staff Widgets Board",
        "description": "Update a staff widget board configuration.\n\n## When to Use\n- Modify the layout or widget configuration of an existing board\n- Add, remove, or reorder widgets in sections\n\n## Prerequisites\n- Valid Staff Token\n- Board must belong to the authenticated staff member\n\n## Notes\n- The entire board configuration is replaced with the new data",
        "x-vcita-timeout": "INTEGRATIONS_TIMEOUT",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "The staff widgets board uid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffWidgetsBoardRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Staff widgets board successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoard.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid request body or parameters."
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          },
          "404": {
            "description": "Not Found. Board with specified uid does not exist or does not belong to the staff member."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "Staff Widgets Board"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards_templates": {
      "post": {
        "operationId": "StaffWidgetsBoardsTemplate_create",
        "summary": "Create a Staff Widgets Boards Template",
        "description": "Create a staff widget board template based on an existing staff member's board configuration.\n\n## When to Use\n- Create a template from a staff member's dashboard that can be applied to other staff members\n- Standardize dashboard layouts across the directory\n\n## Prerequisites\n- Valid Directory Token\n\n## Notes\n- The template is created by copying the board configuration from the specified staff member\n- Templates are owned by the directory that created them",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "staff_uid": {
                    "type": "string",
                    "description": "The unique identifier of the staff whose board will be used as the template source"
                  }
                },
                "required": ["staff_uid"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Staff widgets boards template successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoardsTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid request body or missing staff_uid."
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. Only Directory Tokens can access this endpoint."
          },
          "404": {
            "description": "Not Found. Staff member with specified uid does not exist."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "Staff Widgets Boards Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "StaffWidgetsBoardsTemplate_getAll",
        "summary": "Get all Staff Widgets Boards Templates",
        "description": "Get all staff widget board templates owned by the directory.\n\n## When to Use\n- List available dashboard templates for the directory\n- Find templates to apply to new staff members\n\n## Prerequisites\n- Valid Directory Token\n\n## Notes\n- Results are automatically filtered to show only templates owned by the authenticated directory\n- Filter parameters are applied server-side for additional filtering",
        "parameters": [
          {
            "description": "Filter by owner_type. Example: owner_type=directory",
            "name": "owner_type",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "directory",
                "business"
              ]
            }
          },
          {
            "description": "Filter by owner_uid. Example: owner_uid=d290f1ee-6c54-4b01-90e6-d701748f0851",
            "name": "owner_uid",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by staff_uid (the staff whose board was used as template). Example: staff_uid=d290f1ee-6c54-4b01-90e6-d701748f0851",
            "name": "staff_uid",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of staff widgets boards templates successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiStaffWidgetsBoardsTemplatesResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. Only Directory Tokens can access this endpoint."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "Staff Widgets Boards Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards_templates/{uid}": {
      "put": {
        "operationId": "StaffWidgetsBoardsTemplate_update",
        "summary": "Update a Staff Widgets Boards Template",
        "description": "Update a staff widget board template to use a different staff member's board configuration.\n\n## When to Use\n- Update an existing template to reflect a different staff member's dashboard configuration\n\n## Prerequisites\n- Valid Directory Token\n- Template must be owned by the authenticated directory\n\n## Notes\n- Only the owner (directory) can update their templates",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the template to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "staff_uid": {
                    "type": "string",
                    "description": "The unique identifier of the staff whose board will be used as the new template source"
                  }
                },
                "required": ["staff_uid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Staff widgets boards template successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoardsTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid request body or missing staff_uid."
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing, invalid, or not a Directory Token."
          },
          "403": {
            "description": "Forbidden. Template does not belong to the authenticated directory."
          },
          "404": {
            "description": "Not Found. Template with specified uid does not exist."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "Staff Widgets Boards Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "StaffWidgetsBoardsTemplate_delete",
        "summary": "Delete a Staff Widgets Boards Template",
        "description": "Delete a staff widget board template.\n\n## When to Use\n- Remove a template that is no longer needed\n\n## Prerequisites\n- Valid Directory Token\n- Template must be owned by the authenticated directory\n\n## Notes\n- Only the owner (directory) can delete their templates\n- Deletion is permanent and cannot be undone",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the template to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Staff widgets boards template successfully deleted. Returns the deleted template entity.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoardsTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing, invalid, or not a Directory Token."
          },
          "403": {
            "description": "Forbidden. Template does not belong to the authenticated directory."
          },
          "404": {
            "description": "Not Found. Template with specified uid does not exist."
          },
          "500": {
            "description": "Internal Server Error."
          }
        },
        "tags": [
          "Staff Widgets Boards Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}