{
  "openapi": "3.0.0",
  "info": {
    "title": "Widgets And Boards",
    "description": "A set of API endpoints used by the inTandem platform to manage\n       App widgets and staff widgets boards.",
    "version": "3.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.vcita.biz/",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "schemas": {
      "CreateWidgetRequestDto": {
        "type": "object",
        "properties": {
          "display_name": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DisplayNameDto"
              }
            ]
          },
          "dimensions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WidgetDimensionsDto"
              }
            ]
          },
          "permissions": {
            "type": "array",
            "description": "The permissions required for the widget to show up for a staff member",
            "items": {
              "type": "string"
            }
          },
          "module": {
            "type": "string",
            "description": "The module (FF) required for the widget to show up for a staff member"
          },
          "component_data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ComponentDataDto"
              }
            ]
          }
        },
        "required": [
          "display_name",
          "dimensions",
          "component_data"
        ]
      },
      "StaffWidgetsBoardRequestDto": {
        "type": "object",
        "description": "Request body for creating or updating a staff widgets board.\n\n**Uniqueness Constraint**: Each staff member can only have ONE board per `type` value. For example, a staff cannot have two 'home' type boards. Attempting to create a duplicate returns 403: 'Duplication Error: StaffWidgetsBoard Already Exist'.\n\n**To update an existing board**: Use `GET /v3/apps/staff_widgets_boards` to find the board's UID, then use `PUT /v3/apps/staff_widgets_boards/{uid}`.",
        "properties": {
          "board_layout_code_name": {
            "type": "string",
            "description": "A string representing the board layout. Must be unique per staff member when combined with `type`.",
            "enum": [
              "MainAndSideBar2Columns",
              "MainAndSideBar3Columns",
              "SingleColumn"
            ]
          },
          "type": {
            "type": "string",
            "description": "The grid frame of the layout, determines the layout frame containing the board. Must be unique per staff member when combined with `board_layout_code_name`.",
            "enum": [
              "home",
              "custom",
              "dashboard",
              "analytics"
            ]
          },
          "sections": {
            "type": "array",
            "description": "An array of sections for the widgets board",
            "items": {
              "$ref": "#/components/schemas/SectionDto"
            }
          }
        },
        "required": [
          "board_layout_code_name",
          "type",
          "sections"
        ]
      },
      "UpdateWidgetRequestDto": {
        "type": "object",
        "properties": {
          "display_name": {
            "description": "The widget display name in different languages",
            "allOf": [
              {
                "$ref": "#/components/schemas/DisplayNameDto"
              }
            ]
          },
          "component_data": {
            "description": "The widget component data",
            "allOf": [
              {
                "$ref": "#/components/schemas/ComponentDataDto"
              }
            ]
          },
          "dimensions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WidgetDimensionsDto"
              }
            ]
          },
          "permissions": {
            "type": "array",
            "description": "The permissions required for the widget to show up for a staff member",
            "items": {
              "type": "string"
            }
          },
          "module": {
            "type": "string",
            "description": "The module (FF) required for the widget to show up for a staff member"
          }
        }
      },
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "MultiWidgetsResponse": {
        "type": "object",
        "properties": {
          "widgets": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/apps/widget.json"
            }
          }
        },
        "required": [
          "widgets"
        ]
      },
      "MultiStaffWidgetsBoardResponse": {
        "type": "object",
        "properties": {
          "staffWidgetsBoards": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoard.json"
            }
          }
        },
        "required": [
          "staffWidgetsBoards"
        ]
      },
      "MultiStaffWidgetsBoardsTemplatesResponse": {
        "type": "object",
        "properties": {
          "staff_widgets_boards_templates": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoardsTemplate.json"
            }
          }
        },
        "required": [
          "staff_widgets_boards_templates"
        ]
      },
      "DisplayNameDto": {
        "type": "object",
        "properties": {
          "en": {
            "type": "string"
          },
          "es": {
            "type": "string"
          },
          "fr": {
            "type": "string"
          },
          "it": {
            "type": "string"
          },
          "pt": {
            "type": "string"
          },
          "de": {
            "type": "string"
          },
          "pl": {
            "type": "string"
          },
          "nl": {
            "type": "string"
          },
          "he": {
            "type": "string"
          },
          "sl": {
            "type": "string"
          }
        },
        "required": [
          "en"
        ]
      },
      "WidgetDimensionsDto": {
        "description": "The widget dimensions including min\\max\\preferred height and width.",
        "type": "object",
        "properties": {
          "max_height": {
            "type": "integer"
          },
          "min_height": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "max_width": {
            "type": "integer"
          },
          "min_width": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          }
        },
        "required": [
          "max_height",
          "min_height",
          "height",
          "max_width",
          "min_width",
          "width"
        ]
      },
      "CustomizedWidgetDimensionsDto": {
        "type": "object",
        "properties": {
          "height": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          }
        }
      },
      "ComponentDataDto": {
        "type": "object",
        "description": "Component data for the widget, specifying the component name and configuration.",
        "properties": {
          "name": {
            "type": "string",
            "description": "**Required.** The component name identifier for the widget."
          },
          "config": {
            "type": "object",
            "description": "Optional configuration object for the widget component."
          }
        },
        "required": [
          "name"
        ]
      },
      "SectionDto": {
        "type": "object",
        "properties": {
          "code_name": {
            "type": "string",
            "description": "The section code name. Common values based on layout: For `MainAndSideBar2Columns` or `MainAndSideBar3Columns` layouts use 'main' and 'sidebar'. For `SingleColumn` layout use 'main'.",
            "example": "main"
          },
          "widgets": {
            "description": "The sections widgets",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SectionWidgetDto"
            }
          }
        },
        "required": [
          "code_name",
          "widgets"
        ]
      },
      "SectionWidgetDto": {
        "type": "object",
        "properties": {
          "widget_uid": {
            "type": "string",
            "description": "The unique identifier of an existing Widget to include in this section. **Important**: This must be a valid UID from a Widget entity (use `GET /v3/apps/widgets` to find available widgets). Using invalid UIDs will result in a server error."
          },
          "dimensions": {
            "description": "Custom dimensions for the widget in this section",
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomizedWidgetDimensionsDto"
              }
            ]
          }
        },
        "required": [
          "widget_uid"
        ]
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    }
  },
  "paths": {
    "/v3/apps/widgets": {
      "post": {
        "operationId": "Widgets_create",
        "summary": "Create a Widget",
        "description": "## Overview\nCreate a new widget.\n\n## Authentication\n**Available for App Tokens only.** The app must have `app_type='widgets'` to create widgets. Apps with other types will receive 403: 'This app's type does not support widgets'.\n\n## How to Get an App Token\n1. Use `GET /platform/v1/apps` (with directory token) to find apps with `app_type='widgets'`\n2. If none exist, create one with `POST /platform/v1/apps` including `app_type: 'widgets'`\n3. Use the app's `client_id` and `client_secret` to authenticate, or use `GET /platform/v1/tokens` to list app tokens",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWidgetRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/widget.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "Widgets_getAll",
        "summary": "Get all Widgets",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "description": "Filter by module, Example: module=Payment",
            "name": "module",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiWidgetsResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "## Overview\nGet all widgets for the authenticated app.\n\n## Authentication\n**Available for App Tokens only.** The app must have `app_type='widgets'` to access widgets. Apps with other types will receive 403: 'This app's type does not support widgets'."
      }
    },
    "/v3/apps/widgets/{uid}": {
      "put": {
        "operationId": "Widgets_update",
        "summary": "Update Widget",
        "description": "## Overview\nUpdate an existing widget.\n\n## Authentication\n**Available for App Tokens only.** The app must have `app_type='widgets'`. Apps with other types will receive 403: 'This app's type does not support widgets'.",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "The widget uid",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWidgetRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/widget.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards": {
      "post": {
        "operationId": "StaffWidgetsBoard_create",
        "summary": "Create a Staff Widgets Board",
        "description": "## Overview\nCreates a widgets board for staff member.\n\n**Uniqueness Constraint**: Each staff member can only have ONE board per `type` value. For example, a staff member cannot have two boards with `type: \"home\"`. Attempting to create a duplicate returns 403 error: 'Duplication Error: StaffWidgetsBoard Already Exist'.\n\n**Testing Tip**: To reliably test this endpoint, first create a fresh staff member using `POST /platform/v1/businesses/{business_id}/staffs`, then create the board for that new staff.\n\n**Available for Staff Tokens**",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffWidgetsBoardRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoard.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Board"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "StaffWidgetsBoard_getAll",
        "summary": "Get all Widgets Boards Of The Staff",
        "description": "## Overview\nReturns the widgets boards for staff member.\n\n**Available for Staff Tokens**",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "description": "Filter by type, Example: type=home",
            "name": "type",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiStaffWidgetsBoardResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Board"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards/{uid}": {
      "put": {
        "operationId": "StaffWidgetsBoard_update",
        "summary": "Update a Staff Widgets Board",
        "description": "## Overview\nUpdate a staff widget board.\n\n**Available for Staff Tokens**",
        "parameters": [
          {
            "name": "uid",
            "required": true,
            "in": "path",
            "description": "The staff widgets board UID. **Must be a valid UID from an existing Staff Widgets Board.** Use `GET /v3/apps/staff_widgets_boards` to find valid UIDs. Invalid UIDs will return 404 with message 'StaffWidgetsBoard Not Exist'.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StaffWidgetsBoardRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoard.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Board"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards_templates": {
      "post": {
        "operationId": "StaffWidgetsBoardsTemplate_create",
        "summary": "Create a Staff Widgets Boards Template",
        "description": "## Overview\nCreate a staff widget board template.\n\n**Available for Directory Tokens only.**\n\n**Uniqueness Constraint**: Each staff member can only have ONE active widgets boards template. Creating a template when one already exists returns 400: 'Duplicate entry not allowed for active rows.'\n\n**To replace existing template**: First use `DELETE /v3/apps/staff_widgets_boards_templates/{uid}` to remove the existing template, then create a new one.",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "staff_uid": {
                    "type": "string",
                    "description": "The unique identifier of the staff which will be used as staff widget board template"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoardsTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. A duplicate entry already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer",
                      "example": 400
                    },
                    "message": {
                      "type": "string",
                      "example": "Duplicate entry not allowed for active rows."
                    },
                    "error": {
                      "type": "string",
                      "example": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Boards Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "StaffWidgetsBoardsTemplate_getAll",
        "summary": "Get all Staff Widgets Boards Templates",
        "description": "## Overview\nGet all staff widget board templates. **Only.\n\n**available for Directory Tokens**",
        "parameters": [
          {
            "description": "Filter by owner_type, Example: owner_type=directory",
            "name": "owner_type",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "directory",
                "business"
              ]
            }
          },
          {
            "description": "Filter by owner_uid, Example: owner_uid=d290f1ee-6c54-4b01-90e6-d701748f0851",
            "name": "owner_uid",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by staff_uid, Example: staff_uid=d290f1ee-6c54-4b01-90e6-d701748f0851",
            "name": "staff_uid",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiStaffWidgetsBoardsTemplatesResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Boards Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards_templates/{uid}": {
      "put": {
        "operationId": "StaffWidgetsBoardsTemplate_update",
        "summary": "Update a Staff Widgets Boards Template",
        "description": "## Overview\nUpdate an existing staff widget board template.\n\n**Available for Directory Tokens only.**\n\n## Prerequisites\n- The `uid` path parameter must be a valid UID from an existing staff widgets boards template\n- Use `GET /v3/apps/staff_widgets_boards_templates` to find available template UIDs\n\n",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "staff_uid": {
                    "type": "string",
                    "description": "The unique identifier of the staff which will be used as staff widget board template"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "returns a staff widget board template entity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoardsTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Boards Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "delete": {
        "operationId": "StaffWidgetsBoardsTemplate_delete",
        "summary": "Delete a Staff Widgets Boards Template",
        "description": "## Overview\nDelete a staff widget board template. **Only.\n\n**available for Directory Tokens**",
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "returns the deleted staff widget board template entity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoardsTemplate.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Staff Widgets Boards Template"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}
