{
  "openapi": "3.0.0",
  "info": {
    "title": "Widgets And Boards",
    "description": "A set of API endpoints used by the inTandem platform to manage\n       App widgets and staff widgets boards.",
    "version": "3.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://api.vcita.biz/",
      "description": "API Gateway server"
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Provide a valid bearer token in the Authorization header. Example: 'Authorization: Bearer {app_token}'"
      }
    },
    "schemas": {
      "Response": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object"
          }
        },
        "required": [
          "success",
          "data"
        ]
      },
      "ResponseEntity": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "The unique identifier of the setting"
          },
          "business_uid": {
            "type": "string",
            "description": "The unique identifier of the business"
          },
          "staff_uid": {
            "type": "string",
            "description": "The unique identifier of the staff"
          },
          "forwarding_enabled": {
            "type": "string",
            "description": "Whether or not forwarding to the staff is enabled"
          },
          "forward_number": {
            "type": "string",
            "description": "The number to forward to"
          },
          "dedicated_number": {
            "type": "string",
            "description": "The dedicated number"
          },
          "call_forwarding_policy": {
            "type": "string",
            "description": "The call forwarding policy"
          },
          "call_timeout_sec": {
            "type": "number",
            "description": "The call timeout in seconds"
          },
          "external_app_name": {
            "type": "string",
            "description": "The external app name"
          },
          "app_status": {
            "type": "string",
            "description": "The status of the app"
          }
        },
        "required": [
          "uid",
          "business_uid",
          "staff_uid",
          "external_app_name",
          "app_status"
        ]
      },
      "DisplayNameDto": {
        "type": "object",
        "properties": {
          "en": {
            "type": "string"
          },
          "es": {
            "type": "string"
          },
          "fr": {
            "type": "string"
          },
          "it": {
            "type": "string"
          },
          "pt": {
            "type": "string"
          },
          "de": {
            "type": "string"
          },
          "pl": {
            "type": "string"
          },
          "nl": {
            "type": "string"
          },
          "he": {
            "type": "string"
          },
          "sl": {
            "type": "string"
          }
        },
        "required": [
          "en"
        ]
      },
      "WidgetDimentionsDto": {
        "type": "object",
        "properties": {
          "max_height": {
            "type": "integer"
          },
          "min_height": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "max_width": {
            "type": "integer"
          },
          "min_width": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          }
        },
        "required": [
          "max_height,",
          "min_height,",
          "height,",
          "max_width,",
          "min_width,",
          "width"
        ]
      },
      "CustomizedWidgetDimentionsDto": {
        "type": "object",
        "properties": {
          "height": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          }
        }
      },
      "ComponentDataDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "config": {
            "type": "object"
          }
        },
        "required": [
          "name",
          "config"
        ]
      },
      "CreateWidgetRequestDto": {
        "type": "object",
        "properties": {
          "display_name": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DisplayNameDto"
              }
            ]
          },
          "dimentions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WidgetDimentionsDto"
              }
            ]
          },
          "permessions": {
            "type": "string",
            "description": "The permessions required to get this widget"
          },
          "module": {
            "type": "string",
            "description": "The module which this widget belongs to"
          },
          "component_data": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ComponentDataDto"
              }
            ]
          }
        },
        "required": [
          "display_name",
          "dimentions",
          "component_data"
        ]
      },
      "UpdateWidgetRequestDto": {
        "type": "object",
        "properties": {
          "display_name": {
            "description": "The widget display name in different languages",
            "allOf": [
              {
                "$ref": "#/components/schemas/DisplayNameDto"
              }
            ]
          },
          "config_data": {
            "description": "The widget configuration data",
            "allOf": [
              {
                "$ref": "#/components/schemas/ComponentDataDto"
              }
            ]
          }
        }
      },
      "MultiWidgetsResponse": {
        "type": "object",
        "properties": {
          "widgets": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/apps/widget.json"
            }
          }
        },
        "required": [
          "widgets"
        ]
      },
      "CreateStaffWidgetsBoardRequestDto": {
        "type": "object",
        "properties": {
          "board_layout": {
            "type": "string",
            "description": "The widgets board layout"
          },
          "type": {
            "type": "string",
            "description": "The board type"
          },
          "sections": {
            "description": "The id of the number the call is from",
            "allOf": [
              {
                "$ref": "#/components/schemas/SectionDto"
              }
            ]
          }
        },
        "required": [
          "staff_uid",
          "client_uid",
          "from_number",
          "to_number",
          "direction",
          "status",
          "rate",
          "provider",
          "source_id",
          "external_uuid",
          "business_uid"
        ]
      },
      "MultiStaffWidgetsBoardResponse": {
        "type": "object",
        "properties": {
          "staffWidgetsBoards": {
            "type": "array",
            "items": {
              "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoard.json"
            }
          }
        },
        "required": [
          "staffWidgetsBoards"
        ]
      },
      "SectionDto": {
        "type": "object",
        "properties": {
          "code_name": {
            "type": "string",
            "description": "The section code name"
          },
          "widgets": {
            "description": "The sections widgets",
            "allOf": [
              {
                "$ref": "#/components/schemas/SectionWidgetDto"
              }
            ]
          }
        },
        "required": [
          "code_name",
          "widgets"
        ]
      },
      "SectionWidgetDto": {
        "type": "object",
        "properties": {
          "uid": {
            "type": "string",
            "description": "The widget uid"
          },
          "dimentions": {
            "description": "The sections widgets",
            "allOf": [
              {
                "$ref": "#/components/schemas/CustomizedWidgetDimentionsDto"
              }
            ]
          }
        },
        "required": [
          "uid"
        ]
      }
    }
  },
  "paths": {
    "/v3/apps/widgets": {
      "post": {
        "operationId": "Widgets_create",
        "summary": "Create a Widget",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWidgetRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/widget.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "Widgets_getAll",
        "summary": "Get all Widgets",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "description": "Filter by mudole, Example: module=Payment",
            "name": "module",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiWidgetsResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "put": {
        "operationId": "Widgets_update",
        "summary": "Update Widget",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWidgetRequestDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/widget.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Widget"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v3/apps/staff_widgets_boards": {
      "post": {
        "operationId": "StaffWidgetsBoard_create",
        "summary": "Create a Staff Widgets Board",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStaffWidgetsBoardRequestDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "https://vcita.github.io/developers-hub/entities/apps/staffWidgetsBoard.json"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Board"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "get": {
        "operationId": "StaffWidgetsBoard_getAll",
        "summary": "Get all Widgets Boards Of The Staff",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number of results.",
            "schema": {
              "minimum": 1,
              "maximum": 10000,
              "default": 1,
              "type": "number"
            }
          },
          {
            "name": "per_page",
            "required": false,
            "in": "query",
            "description": "How many items to return per page. Max: 100",
            "schema": {
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "type": "number"
            }
          },
          {
            "description": "Sort by fields. Example: sort=created_at:asc,updated_at:desc",
            "name": "sort",
            "required": false,
            "in": "query",
            "schema": {
              "default": "updated_at:desc",
              "type": "string"
            }
          },
          {
            "description": "Filter by type, Example: type=dashboard",
            "name": "type",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Response"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "object",
                          "$ref": "#/components/schemas/MultiStaffWidgetsBoardResponse"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The bearer token is missing or invalid."
          },
          "403": {
            "description": "Forbidden. You do not have access to this resource."
          }
        },
        "tags": [
          "Staff Widgets Board"
        ],
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}